Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c

Use nice constant
  dll/win32/ieframe/CMakeLists.txt
  modules/rostests/apitests/shell32/ItemIDList.cpp
Labels: ROSTESTS

add timo's code
  modules/rostests/apitests/crt/setjmp.c
Labels: ROSTESTS

[FREETYPE][NTGDI] IntExtTextOutW: Renaming variables
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[IEFRAME] Implement URL PIDL (#7850)
  dll/win32/ieframe/CMakeLists.txt
  dll/win32/ieframe/ieframe_main.c
  dll/win32/ieframe/inetfolder.c
  dll/win32/shell32/wine/pidl.h
  modules/rostests/apitests/shell32/ItemIDList.cpp
Labels: ROSTESTS, shell

[FREELDR][INSTALL] Update the FreeLDR installation message in installfreeldr
  boot/freeldr/install/install.c
Labels: freeldr

[BROWSEUI] Handle resolution change when fullscreen
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

[SDK] Fix product verison for user mode DLLs
  sdk/include/reactos/wine/wine_common_ver.rc
Labels: none

[NTGDI:FREETYPE] IntExtTextOutW: Renaming variables (#7851)
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[FREELDR][INSTALL] Update the FreeLoader installation message (#7853)
  boot/freeldr/install/install.c
Labels: freeldr

[GDI32] TextOutW: Remove needless type cast
  win32ss/gdi/gdi32/objects/text.c
Labels: Win32SS

fix some type problems
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[ROSAUTOTEST] Allow rosautotest to be in the same directory as its files and show its duration at the end. (#7823)
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/main.cpp
  modules/rostests/rosautotest/precomp.h
Labels: ROSTESTS

Final changes to rosautotest improvements.
  modules/rostests/rosautotest/main.cpp
Labels: ROSTESTS

Changes based on reviewer comments.
  modules/rostests/rosautotest/main.cpp
Labels: ROSTESTS

avoiding clang build hung up
  modules/rostests/apitests/crt/setjmp.c
Labels: ROSTESTS

[GDI32][NTGDI][SDK] ExtTextOut: Fix some type problems (#7856)
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

Changed test wording as requested
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Labels: ROSTESTS

Whitespace for style points
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

Updated comment
  win32ss/user/ntuser/cursoricon.h
Labels: Win32SS

[USER32_APITEST] Add more PrivateExtractIcons tests (#7831)
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Labels: ROSTESTS

[ROSAUTOTEST][SDK] ROS detection for apitests (#7613)
  modules/rostests/rosautotest/CConfiguration.cpp
  sdk/include/psdk/versionhelpers.h
Labels: ROSTESTS

[FTFD] Fix malloc/realloc/free wrappers
  win32ss/drivers/font/ftfd/rosglue.c
Labels: Win32SS

[BROWSEUI] Handle resolution change when fullscreen (#7852)
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

[SHELL32] Add SHFileOp error UI and use it for CFSFolder renaming
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shimgvw/shimgvw.c
  sdk/include/reactos/undocshell.h
Labels: shell

[FREELDR:PC98] Don't do the HighRes check everytime a character is written with writechr (#4359)
  boot/freeldr/bootsect/pc98/fat12fdd.S
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
Labels: freeldr

Fixes after build actions failed.
  base/applications/cmdutils/tasklist/lang/tr-TR.rc
  base/applications/network/netsh/netsh.rc
  base/applications/network/netstat/netstat.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/winhlp32/lang/Tr.rc
  base/applications/winver/winver.rc
  base/applications/wordpad/lang/tr-TR.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/win32/browseui/lang/tr-TR.rc
Labels: shell

[STOBJECT] Explicitly tell the user the battery is fully charged
  dll/shellext/stobject/lang/cs-CZ.rc
  dll/shellext/stobject/lang/de-DE.rc
  dll/shellext/stobject/lang/en-US.rc
  dll/shellext/stobject/lang/es-ES.rc
  dll/shellext/stobject/lang/fr-FR.rc
  dll/shellext/stobject/lang/hi-IN.rc
  dll/shellext/stobject/lang/it-IT.rc
  dll/shellext/stobject/lang/ja-JP.rc
  dll/shellext/stobject/lang/pl-PL.rc
  dll/shellext/stobject/lang/pt-PT.rc
  dll/shellext/stobject/lang/ro-RO.rc
  dll/shellext/stobject/lang/ru-RU.rc
  dll/shellext/stobject/lang/tr-TR.rc
  dll/shellext/stobject/lang/zh-CN.rc
  dll/shellext/stobject/lang/zh-HK.rc
  dll/shellext/stobject/lang/zh-TW.rc
  dll/shellext/stobject/power.cpp
  dll/shellext/stobject/resource.h
Labels: shell

Suggested changes
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlfileop.cpp
Labels: shell

[BROWSEUI] Don't pass the internal PIDL to the shell for processing
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
Labels: shell

Changes based on reviewer comments.
  modules/rostests/rosautotest/main.cpp
Labels: ROSTESTS

Removed most debug printk's.
  drivers/network/netio/netio.c
  drivers/network/tdihelpers/tdi.c
Labels: none

[ACPI_NEW] Minimal to build
  drivers/bus/acpi_new/CMakeLists.txt
  drivers/bus/acpi_new/acpi.inf
  drivers/bus/acpi_new/acpi.rc
  drivers/bus/acpi_new/main.c
  drivers/bus/acpi_new/precomp.h
  drivers/bus/acpi_new/uacpi/include/uacpi/helpers.h
  drivers/bus/acpi_new/uacpiosl.c
Labels: none

[FTFD] Fix malloc/realloc/free wrappers
  win32ss/drivers/font/ftfd/rosglue.c
Labels: Win32SS

[HAL/APIC] Set the profiling interrupt handler
  hal/halx86/apic/halinit.c
Labels: kernel&hal

[NTDLL_APITEST] Fix NtCreateProfile tests for x64
  modules/rostests/apitests/ntdll/NtCreateProfile.c
Labels: ROSTESTS

Always restore the attribute
  dll/win32/shell32/shlfileop.cpp
Labels: shell

[SHELL32_APITEST] Try harder to close windows between tests
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/ShellExecuteW.cpp
  modules/rostests/apitests/shell32/closewnd.cpp
Labels: ROSTESTS

[BROWSEUI] Don't pass the internal PIDL to the shell for processing (#7859)
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
Labels: shell

Remove extra whitespace
  modules/rostests/apitests/shell32/ShellExecuteW.cpp
Labels: ROSTESTS
