Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

[SDK:CMAKE] Remove unused BUILD_MP build option (#7862)
  sdk/cmake/config.cmake
Labels: none

Update base/setup/lib/muifonts.h
  base/setup/lib/muifonts.h
Labels: none

Update base/setup/lib/muifonts.h
  base/setup/lib/muifonts.h
Labels: none

Update sdk/include/xdk/winnt_old.h
  sdk/include/xdk/winnt_old.h
Labels: none

Update sdk/include/xdk/ntbasedef.h
  sdk/include/xdk/ntbasedef.h
Labels: none

Update dll/win32/shimgvw/lang/tok.rc
  dll/win32/shimgvw/lang/tok.rc
Labels: none

Update base/system/userinit/lang/tok.rc
  base/system/userinit/lang/tok.rc
Labels: none

Update base/setup/usetup/muilanguages.h
  base/setup/usetup/muilanguages.h
Labels: none

Update base/setup/reactos/lang/tok.rc
  base/setup/reactos/lang/tok.rc
Labels: none

Update dll/win32/gdiplus/font.c
  dll/win32/gdiplus/font.c
Labels: none

Update font.c
  dll/win32/gdiplus/font.c
Labels: none

Update dll/win32/oleaut32/hash.c
  dll/win32/oleaut32/hash.c
Labels: none

Update tok.nls
  dll/win32/kernel32/winnls/nls/tok.nls
Labels: none

Update .gitignore
  .gitignore
Labels: none

Add NtUserCreateAcceleratorTable tests.
  modules/rostests/apitests/win32nt/CMakeLists.txt
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
  modules/rostests/apitests/win32nt/testlist.c
Labels: ROSTESTS

More toki pona contributions
  base/setup/lib/muifonts.h
  base/setup/lib/muilanguages.h
  base/setup/usetup/muilanguages.h
  base/setup/welcome/lang/tok.rc
  base/setup/welcome/welcome.rc
  base/shell/explorer/explorer.rc
  base/shell/explorer/lang/tok.rc
  base/system/userinit/userinit.rc
  dll/win32/gdiplus/font.c
  dll/win32/kernel32/kernel32.rc
  dll/win32/kernel32/winnls/lang/tok.rc
  dll/win32/kernel32/winnls/locale_rc.rc
  dll/win32/kernel32/winnls/nls/tok.nls
  dll/win32/oleaut32/hash.c
  media/fonts/CMakeLists.txt
  media/fonts/FairfaxHD.ttf
  sdk/cmake/localization.cmake
  sdk/include/host/nls.h
  sdk/include/xdk/ntbasedef.h
  sdk/include/xdk/winnt_old.h
  sdk/tools/widl/hash.c
Labels: shell

[FREELDR] WinLdrPortInitialize(): Simplify code a bit
  boot/freeldr/freeldr/ntldr/headless.c
Labels: freeldr

Update dll/win32/comctl32/pager.c
  dll/win32/comctl32/pager.c
Labels: none

restore empty line
  dll/win32/comctl32/pager.c
Labels: none

return 0;
  dll/win32/comctl32/pager.c
Labels: none

[NOTEPAD] Don't get handle before ReadText
  base/applications/notepad/dialog.c
Labels: none

big fix
  base/applications/notepad/dialog.c
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: Win32SS

Implement "Require user name and password on system startup."
  dll/cpl/usrmgr/lang/cs-CZ.rc
  dll/cpl/usrmgr/lang/de-DE.rc
  dll/cpl/usrmgr/lang/en-US.rc
  dll/cpl/usrmgr/lang/es-ES.rc
  dll/cpl/usrmgr/lang/fr-FR.rc
  dll/cpl/usrmgr/lang/he-IL.rc
  dll/cpl/usrmgr/lang/id-ID.rc
  dll/cpl/usrmgr/lang/it-IT.rc
  dll/cpl/usrmgr/lang/ja-JP.rc
  dll/cpl/usrmgr/lang/pl-PL.rc
  dll/cpl/usrmgr/lang/pt-PT.rc
  dll/cpl/usrmgr/lang/ro-RO.rc
  dll/cpl/usrmgr/lang/ru-RU.rc
  dll/cpl/usrmgr/lang/tr-TR.rc
  dll/cpl/usrmgr/lang/uk-UA.rc
  dll/cpl/usrmgr/lang/zh-CN.rc
  dll/cpl/usrmgr/lang/zh-HK.rc
  dll/cpl/usrmgr/lang/zh-TW.rc
  dll/cpl/usrmgr/users.c
Labels: none

Update users.c
  dll/cpl/usrmgr/users.c
Labels: none

Apply suggestions from code review
  dll/cpl/usrmgr/users.c
Labels: none

Update users.c
  dll/cpl/usrmgr/users.c
Labels: none

[WIN32KNT_APITEST][NTUSER] Fix NtUserCreateAcceleratorTable BSOD.
  win32ss/user/ntuser/accelerator.c
Labels: Win32SS

Update boot/freeldr/freeldr/ntldr/headless.c
  boot/freeldr/freeldr/ntldr/headless.c
Labels: freeldr

Apply suggestions from code review
  dll/cpl/usrmgr/users.c
Labels: none

[UMPNPMGR] PNP_AddEmptyLogConf: Implement adding a resource list to an existing configuration value
  base/services/umpnpmgr/rpcserver.c
Labels: none

Add try/except blocks.
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Update base/applications/network/tracert/tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

Update base/applications/network/tracert/tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

Update base/applications/network/tracert/tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

Update base/applications/network/tracert/tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

Create test
  test
Labels: none

Delete test
  test
Labels: none

Update tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

[NTOS:KD] Comment defines related to KdMax out
  ntoskrnl/kd/kd.h
Labels: kernel&hal

[NTOS:KD:KDBG] Fix KdMax value without debugger
  ntoskrnl/kd/kd.h
Labels: kernel&hal

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c
