Repository reactos/ReactOS, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, drivers, freeldr, kernel&hal, ROSTESTS, shell, Win32SS

.github/labeler.yml:

# Labelling by the files touched

ATL:
  - sdk/lib/atl/**

drivers:
  - drivers/**
  - sdk/lib/drivers/**
  - any: ["win32ss/drivers/**", "!win32ss/drivers/font/**"]

freeldr:
  - boot/freeldr/**

"kernel&hal":
  - hal/**
  - ntoskrnl/**

ROSTESTS:
  - modules/rostests/**

shell:
  - base/shell/explorer/**
  - base/shell/rshell/**
  - dll/shellext/**
  - dll/win32/browseui/**
  - dll/win32/shell32/**

Win32SS:
  - win32ss/**

improve 34
  base/applications/mspaint/atlimagedx.h
Labels: none

[BROWSEUI] Add status bar view state persistence (#5366)
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

[UMPNPMGR] PNP_Get(First/Next)LogConf: return proper tags for the resource list case
  base/services/umpnpmgr/rpcserver.c
Labels: none

[NTOS:PNP] Do not create an extra "PDO" device inside PnP root driver
  ntoskrnl/include/internal/io.h
  ntoskrnl/io/pnpmgr/pnpinit.c
  ntoskrnl/io/pnpmgr/pnproot.c
Labels: kernel&hal

[NTOS:PNP] Refactor PnpRootCreateDevice
  ntoskrnl/include/internal/io.h
  ntoskrnl/io/pnpmgr/pnpreport.c
  ntoskrnl/io/pnpmgr/pnproot.c
Labels: kernel&hal

[NTOS:PNP] Complete the PlugPlayControlInitializeDevice control class
  ntoskrnl/io/pnpmgr/plugplay.c
Labels: kernel&hal

[ADVAPI32_APITEST] Add new RegCreateKeyEx tests (#5234)
  modules/rostests/apitests/advapi32/CMakeLists.txt
  modules/rostests/apitests/advapi32/RegCreateKeyEx.c
  modules/rostests/apitests/advapi32/testlist.c
Labels: ROSTESTS

[NETSTAT] Fix crash when parsing the protocol CORE-19005 (#5363)
  base/applications/network/netstat/netstat.c
Labels: none

[HALX86] Bugcheck in case the ACPI initialization failed (for ACPI HAL)
  hal/halx86/generic/halinit.c
  hal/halx86/legacy/halpcat.c
Labels: kernel&hal

[NETSTAT] -b must imply -o CORE-19006
  base/applications/network/netstat/netstat.c
Labels: none

[NETSTAT] Follow reviewers advice and make the code
  base/applications/network/netstat/netstat.c
Labels: none

[NETSTAT] Cool, then maybe like that?
  base/applications/network/netstat/netstat.c
Labels: none

[IPCONFIG] Implement globbing for the Release and Renew options
  base/applications/network/ipconfig/ipconfig.c
Labels: none

[IPCONFIG] Replace some DNS related strings by resources
  base/applications/network/ipconfig/ipconfig.c
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
  base/applications/network/ipconfig/resource.h
Labels: none

[SHIMGVW] Displayed file name in task bar if file not loaded
  dll/win32/shimgvw/shimgvw.c
Labels: none

[SHIMGVW] "!= 0" removed.
  dll/win32/shimgvw/shimgvw.c
Labels: none

[SHIMGVW] "!= NULL" deleted, initialization deleted
  dll/win32/shimgvw/shimgvw.c
Labels: none

[TASKMGR] Fix text truncation for fr-FR.rc CORE-18523
  base/applications/taskmgr/lang/fr-FR.rc
Labels: none

[SHIMGVW] Change not using wcsicmp
  dll/win32/shimgvw/shimgvw.c
Labels: none

[IPCONFIG] Update Romanian (ro-RO) translation
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  dll/win32/shell32/lang/ro-RO.rc
Labels: shell

[SHIMGVW] Display filename in taskbar even if the file isn't loaded (#5379)
  dll/win32/shimgvw/shimgvw.c
Labels: none

[SHELL32] Fixed "Folder properties view" broken when changing attributes
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: shell

Update ro-RO.rc
  dll/win32/shell32/lang/ro-RO.rc
Labels: shell

[FONTVIEW] Update Romanian (ro-RO) translation (#5371)
  base/applications/fontview/lang/ro-RO.rc
Labels: none

[SHELL32] Fix overlapping attributes in the Folder properties dialog (#5383)
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: shell

[SHELL32] Fix last attribute width and button position
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: shell

Update ro-RO.rc
  dll/win32/netid/lang/ro-RO.rc
Labels: none

[IPCONFIG] Update Russian (ru-RU) translation
  base/applications/network/ipconfig/lang/ru-RU.rc
Labels: none

Update ro-RO.rc
  dll/win32/netid/lang/ro-RO.rc
Labels: none

[HALX86] Bugcheck in case the ACPI initialization failed (for ACPI HAL) (#5376)
  hal/halx86/generic/halinit.c
  hal/halx86/legacy/halpcat.c
Labels: kernel&hal

[INPUT] Improve Romanian (ro-RO) translation
  dll/cpl/input/lang/ro-RO.rc
Labels: none

[SHELL32] Added the translation of the file to the resource
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: shell

[SHELL32] Translated "type" in Recycle Bin
  dll/win32/shell32/wine/shell32_main.c
Labels: shell

[SHELL32] Update Romanian (ro-RO) translation (#5382)
  dll/win32/shell32/lang/ro-RO.rc
Labels: shell

[INPUT] Improve Romanian (ro-RO) translation (#5386)
  dll/cpl/input/lang/ro-RO.rc
Labels: none

[WIN32K:NTUSER] Add ASSERT() on "linking window to itself" (#4749)
  win32ss/user/ntuser/window.c
Labels: Win32SS

[NTGDI][GDI32] Icon fixes for Office 2000, VB6, and Hoyle Cards (#5227)
  win32ss/gdi/gdi32/objects/bitmap.c
  win32ss/gdi/ntgdi/dibobj.c
Labels: Win32SS

Apply Hermes suggestion
  base/applications/taskmgr/lang/fr-FR.rc
Labels: none

[IPCONFIG] Improvements to Release and Renew functions
  base/applications/network/ipconfig/ipconfig.c
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
  base/applications/network/ipconfig/resource.h
Labels: none
