Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c

Update base/system/diskpart/lang/it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

Update base/system/diskpart/lang/it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

Fix missing sentence
  base/system/diskpart/lang/it-IT.rc
Labels: none

[NTOS:KD] Fix KdMax value without KDBG debugger (#7889)
  ntoskrnl/kd/kd.h
Labels: kernel&hal

Update users.c
  dll/cpl/usrmgr/users.c
Labels: none

[COMDLG32] Improve IDC_TOOLBARPLACES placement CORE-19732
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: none

Update modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Update modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Move invalid pointer test after NULL test.
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Moved test with min entries after zero entries
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Changed checker function.
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Add set last error before test.
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Add test with count of entries MAX_VALID + 1
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

[IMM32][DOC] Make IMM32 non-Wine module
  dll/win32/imm32/ctf.c
  dll/win32/imm32/debug.h
  dll/win32/imm32/ime.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/regword.c
  dll/win32/imm32/softkbd.c
  media/doc/WINESYNC.txt
Labels: input method

improve CMakeLists.txt
  dll/win32/imm32/CMakeLists.txt
Labels: input method

[COMDLG32] Improve IDC_TOOLBARPLACES placement (#7898)
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: none

[SERVMAN] Services Properties 'Dependencies' tab is missing descriptive text above the lower listbox. CORE-20115
  base/applications/mscutils/servman/lang/bg-BG.rc
  base/applications/mscutils/servman/lang/cs-CZ.rc
  base/applications/mscutils/servman/lang/de-DE.rc
  base/applications/mscutils/servman/lang/el-GR.rc
  base/applications/mscutils/servman/lang/en-US.rc
  base/applications/mscutils/servman/lang/es-ES.rc
  base/applications/mscutils/servman/lang/fr-FR.rc
  base/applications/mscutils/servman/lang/he-IL.rc
  base/applications/mscutils/servman/lang/id-ID.rc
  base/applications/mscutils/servman/lang/it-IT.rc
  base/applications/mscutils/servman/lang/ja-JP.rc
  base/applications/mscutils/servman/lang/ko-KR.rc
  base/applications/mscutils/servman/lang/no-NO.rc
  base/applications/mscutils/servman/lang/pl-PL.rc
  base/applications/mscutils/servman/lang/pt-PT.rc
  base/applications/mscutils/servman/lang/ro-RO.rc
  base/applications/mscutils/servman/lang/ru-RU.rc
  base/applications/mscutils/servman/lang/sk-SK.rc
  base/applications/mscutils/servman/lang/sq-AL.rc
  base/applications/mscutils/servman/lang/sv-SE.rc
  base/applications/mscutils/servman/lang/th-TH.rc
  base/applications/mscutils/servman/lang/tr-TR.rc
  base/applications/mscutils/servman/lang/uk-UA.rc
  base/applications/mscutils/servman/lang/zh-CN.rc
  base/applications/mscutils/servman/lang/zh-HK.rc
  base/applications/mscutils/servman/lang/zh-TW.rc
Labels: none

Update users.c
  dll/cpl/usrmgr/users.c
Labels: none

Apply suggestions from code review
  dll/cpl/usrmgr/users.c
Labels: none

Removing trailing whitespace
  dll/cpl/usrmgr/users.c
Labels: none

PutSockets always at IRQL=PASSIVE_LEVEL.
  drivers/network/netio/netio.c
Labels: none

Final formatting fixes
  base/applications/network/tracert/tracert.cpp
Labels: none

[TRACERT] Improve command line parsing (#7779)
  base/applications/network/tracert/lang/bg-BG.rc
  base/applications/network/tracert/lang/cs-CZ.rc
  base/applications/network/tracert/lang/de-DE.rc
  base/applications/network/tracert/lang/en-US.rc
  base/applications/network/tracert/lang/es-ES.rc
  base/applications/network/tracert/lang/fr-FR.rc
  base/applications/network/tracert/lang/it-IT.rc
  base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/ro-RO.rc
  base/applications/network/tracert/lang/ru-RU.rc
  base/applications/network/tracert/lang/sq-AL.rc
  base/applications/network/tracert/lang/sv-SE.rc
  base/applications/network/tracert/lang/tr-TR.rc
  base/applications/network/tracert/lang/uk-UA.rc
  base/applications/network/tracert/lang/zh-CN.rc
  base/applications/network/tracert/lang/zh-TW.rc
  base/applications/network/tracert/resource.h
  base/applications/network/tracert/tracert.cpp
Labels: none

[USRMGR] Implement "Require user name and password on system startup." (#7887)
  dll/cpl/usrmgr/lang/cs-CZ.rc
  dll/cpl/usrmgr/lang/de-DE.rc
  dll/cpl/usrmgr/lang/en-US.rc
  dll/cpl/usrmgr/lang/es-ES.rc
  dll/cpl/usrmgr/lang/fr-FR.rc
  dll/cpl/usrmgr/lang/he-IL.rc
  dll/cpl/usrmgr/lang/id-ID.rc
  dll/cpl/usrmgr/lang/it-IT.rc
  dll/cpl/usrmgr/lang/ja-JP.rc
  dll/cpl/usrmgr/lang/pl-PL.rc
  dll/cpl/usrmgr/lang/pt-PT.rc
  dll/cpl/usrmgr/lang/ro-RO.rc
  dll/cpl/usrmgr/lang/ru-RU.rc
  dll/cpl/usrmgr/lang/tr-TR.rc
  dll/cpl/usrmgr/lang/uk-UA.rc
  dll/cpl/usrmgr/lang/zh-CN.rc
  dll/cpl/usrmgr/lang/zh-HK.rc
  dll/cpl/usrmgr/lang/zh-TW.rc
  dll/cpl/usrmgr/users.c
Labels: none

[NDK] Add definitions for system partition and disk information classes (#7895)
  sdk/include/ndk/extypes.h
Labels: none

Don't put sockets on the ToPut list twice.
  drivers/network/netio/netio.c
Labels: none

DbgPrints and update NumPuts of socket.
  drivers/network/netio/netio.c
Labels: none

[MOUNTMGR] Few fixes and improvements (#7896)
  drivers/storage/mountmgr/database.c
  drivers/storage/mountmgr/device.c
Labels: none

[KERNEL32] RemoveDirectoryW: Fix the code for removing a mounted folder (#7897)
  dll/win32/kernel32/client/file/dir.c
Labels: none

[IMM32] Make IMM32 non-Wine module (#7890)
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/ctf.c
  dll/win32/imm32/debug.h
  dll/win32/imm32/ime.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/regword.c
  dll/win32/imm32/softkbd.c
  media/doc/WINESYNC.txt
Labels: input method

Removed several DbgPrint's and added others.
  drivers/network/netio/netio.c
Labels: none

More DbgPrint's and check for STATUS_CANCELLED
  drivers/network/netio/netio.c
Labels: none

Removed all DbgPrint's.
  drivers/network/netio/netio.c
Labels: none

Changes as suggested by reviewers and some translations.
  base/applications/mscutils/servman/lang/bg-BG.rc
  base/applications/mscutils/servman/lang/cs-CZ.rc
  base/applications/mscutils/servman/lang/de-DE.rc
  base/applications/mscutils/servman/lang/el-GR.rc
  base/applications/mscutils/servman/lang/en-US.rc
  base/applications/mscutils/servman/lang/es-ES.rc
  base/applications/mscutils/servman/lang/fr-FR.rc
  base/applications/mscutils/servman/lang/he-IL.rc
  base/applications/mscutils/servman/lang/id-ID.rc
  base/applications/mscutils/servman/lang/it-IT.rc
  base/applications/mscutils/servman/lang/ja-JP.rc
  base/applications/mscutils/servman/lang/ko-KR.rc
  base/applications/mscutils/servman/lang/no-NO.rc
  base/applications/mscutils/servman/lang/pl-PL.rc
  base/applications/mscutils/servman/lang/pt-PT.rc
  base/applications/mscutils/servman/lang/ro-RO.rc
  base/applications/mscutils/servman/lang/ru-RU.rc
  base/applications/mscutils/servman/lang/sk-SK.rc
  base/applications/mscutils/servman/lang/sq-AL.rc
  base/applications/mscutils/servman/lang/sv-SE.rc
  base/applications/mscutils/servman/lang/th-TH.rc
  base/applications/mscutils/servman/lang/tr-TR.rc
  base/applications/mscutils/servman/lang/uk-UA.rc
  base/applications/mscutils/servman/lang/zh-CN.rc
  base/applications/mscutils/servman/lang/zh-HK.rc
  base/applications/mscutils/servman/lang/zh-TW.rc
Labels: none

Fix entries count
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

[SHELL32] Respect StrCmpLogicalW policy in shell folders
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shpolicy.c
Labels: shell

Additional enums for dwmapi.h
  sdk/include/psdk/dwmapi.h
Labels: none

Fix used var
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

[NTOS:MM] Get rid of more calls to MmLocateMemoryAreaByAddress
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/ARM3/virtual.c
  ntoskrnl/mm/marea.c
  ntoskrnl/mm/section.c
Labels: kernel&hal

[NTOS:MM] Reduce the magnitude of the MiRosProtectVirtualMemory hack
  ntoskrnl/mm/ARM3/virtual.c
  ntoskrnl/mm/section.c
Labels: kernel&hal
