Repository reactos/ReactOS, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, drivers, freeldr, kernel&hal, ROSTESTS, shell, Win32SS

.github/labeler.yml:

# Labelling by the files touched

ATL:
  - sdk/lib/atl/**

drivers:
  - drivers/**
  - sdk/lib/drivers/**
  - any: ["win32ss/drivers/**", "!win32ss/drivers/font/**"]

freeldr:
  - boot/freeldr/**

"kernel&hal":
  - hal/**
  - ntoskrnl/**

ROSTESTS:
  - modules/rostests/**

shell:
  - base/shell/explorer/**
  - base/shell/rshell/**
  - dll/shellext/**
  - dll/win32/browseui/**
  - dll/win32/shell32/**

Win32SS:
  - win32ss/**

[IPCONFIG] Improve the German translation
  base/applications/network/ipconfig/lang/de-DE.rc
Labels: none

[MSPAINT] Make Attributes dialog layout consistent between languages
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
Labels: none

[MSPAINT] Update and improve Russian (ru-RU) translation
  base/applications/mspaint/lang/ru-RU.rc
Labels: none

[IPCONFIG] Update Russian (ru-RU) translation
  base/applications/network/ipconfig/lang/ru-RU.rc
Labels: none

[GETUNAME] Improve Romanian (ro-RO) translation (#5327)
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

[NETSTAT] Fix crash when parsing the protocol CORE-19005
  base/applications/network/netstat/netstat.c
Labels: none

[NETSTAT] Anticipate a formatting nitpick from reviewers
  base/applications/network/netstat/netstat.c
Labels: none

[EXPLORER] Add mnemonic keys
  base/shell/explorer/lang/pt-PT.rc
Labels: shell

[NETSTAT] Unrelated formatting nitpicks
  base/applications/network/netstat/netstat.c
Labels: none

[NETSTAT] And the last nitpick, ready 4 review now
  base/applications/network/netstat/netstat.c
Labels: none

[FONTVIEW] Update German (de-DE) translation (#5345)
  base/applications/fontview/lang/de-DE.rc
Labels: none

Update base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

[NETSTAT] Match Windows exact screen output and ERRORLEVEL like a freak
  base/applications/network/netstat/netstat.c
Labels: none

[NETSTAT] Whitespace debloat for consistency to other funcs
  base/applications/network/netstat/netstat.c
Labels: none

[MSPAINT] Rename some identifiers (#5362)
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/common.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/sizebox.cpp
  base/applications/mspaint/sizebox.h
Labels: none

[GETUNAME] Update Romanian (ro-RO) translation
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

[GETUNAME] Improve Romanian (ro-RO) translation
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

[IPCONFIG] Improve adapter type and name output
  base/applications/network/ipconfig/ipconfig.c
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
Labels: none

Update ro-RO.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

Apply suggestions from code review
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

[HAL][MINIHAL] Minor cleanup in reboot.c files (#5359)
  hal/halarm/generic/reboot.c
  hal/halx86/generic/reboot.c
  hal/halx86/minihal/CMakeLists.txt
  hal/halx86/pc98/reboot.c
  hal/halx86/pic/processor.c
  hal/halx86/xbox/reboot.c
Labels: kernel&hal

[NTOS:CONFIG] Use correct "Interface" variable type; use InterfaceTypeUndefined instead of -1.
  ntoskrnl/config/cmconfig.c
Labels: kernel&hal

[HALX86] These HalpNo* functions are actually _implemented_. Document their purpose.
  hal/halx86/include/bus.h
  hal/halx86/legacy/bus/bushndlr.c
  sdk/include/ndk/haltypes.h
Labels: kernel&hal

[VIDEOPRT] In legacy detection, don't guess the maximum number of buses of a certain type.
  win32ss/drivers/videoprt/videoprt.c
Labels: drivers, Win32SS

[VIDEOPRT] Reformat VideoPortVerifyAccessRanges()
  sdk/include/ddk/video.h
  win32ss/drivers/videoprt/resource.c
Labels: drivers, Win32SS

[VIDEOPRT] Honour NumAccessRanges == 0 / AccessRanges == NULL in VideoPortVerifyAccessRanges()
  win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/videoprt.h
Labels: drivers, Win32SS

Added status bar view state persistence
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

Fix whitespace issues
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

[IPCONFIG] Remove unused resources
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
  base/applications/network/ipconfig/resource.h
Labels: none

[IPCONFIG] Simplify the not type output
  base/applications/network/ipconfig/ipconfig.c
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
  base/applications/network/ipconfig/resource.h
Labels: none

Update ro-RO.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: none

Update pl-PL.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
Labels: none

Apply suggestions from code review
  base/applications/network/ipconfig/lang/pl-PL.rc
Labels: none

[EXPLORER] Improve Portuguese (pt-PT) translation (#5351)
  base/shell/explorer/lang/pt-PT.rc
Labels: shell

Fix sublang in pt-PT.rc
  base/shell/cmd/lang/pt-PT.rc
Labels: none
