Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

[NTOS:CM] fix: crash for leaving an uninitialized NotifyBlock behind
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

improve initialization on SHAppBarMessage
  dll/win32/shell32/appbar.c
Labels: shell

improve
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

improve testcase
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
Labels: ROSTESTS

improve testcase
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
Labels: ROSTESTS

fix x64
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

APPBAR_COMPAT abCompat
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  dll/win32/shell32/appbar.c
  sdk/include/reactos/undocshell.h
Labels: shell

improve testcase 3
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  dll/win32/shell32/appbar.c
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
  sdk/include/reactos/undocshell.h
Labels: ROSTESTS, shell

improve APPBARDATA3264
  sdk/include/reactos/undocshell.h
Labels: none

[EXPLORER][SHELL32][SHELL32_APITEST][SDK] AppBar: Initial support (#7778)
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/appbar.c
  dll/win32/shell32/wine/appbar.c
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/undocshell.h
Labels: ROSTESTS, shell

[EVENTVWR] Update French (fr-FR) translation
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
Labels: none

[KMTESTS] feat: test for ZwNotifyChangeKey
  modules/rostests/kmtests/CMakeLists.txt
  modules/rostests/kmtests/kmtest/kmtest.c
  modules/rostests/kmtests/kmtest_drv/testlist.c
  modules/rostests/kmtests/ntos_cm/CmNotify.c
Labels: ROSTESTS

[EXPLORER][SHELL32_APITEST][SDK] AppBar Part 2
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
  sdk/include/reactos/undocshell.h
Labels: ROSTESTS, shell

fix shell32
  dll/win32/shell32/appbar.c
Labels: shell

[NTOS:CM] chore: refactor to subroutines
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

[EVENTVWR] Improve details controls transition when updating events list
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/evtdetctl.h
Labels: none

[EVENTVWR] Improve _some_ translations
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
  base/applications/mscutils/eventvwr/resource.h
Labels: none

[NTOS:CM] fix: missing error-check
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

Remove the unrequired #ifdef __REACTOS__
  dll/win32/comctl32/propsheet.c
Labels: none

[NTOS:CM] Implement Kernel-Mode asynchronous call support
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

[MOUCLASS] Activate and deactivate the device interface for mouse devices
  drivers/input/mouclass/mouclass.c
Labels: none

[UMPNPMGR] Typo: Handle device interface removal events properly
  base/services/umpnpmgr/event.c
Labels: none

[OBJ2BIN] Add support for converting relocatable PE images to flat binaries.
  sdk/tools/obj2bin/obj2bin.c
Labels: none

[RTL] Whitespace / minor code style fixes only.
  sdk/lib/rtl/image.c
Labels: none

[OBJ2BIN] Code style only since here we can safely copy memory as the buffers do not overlap.
  sdk/tools/obj2bin/obj2bin.c
Labels: none

[SHELL32] Return correct CSIDL for "Network Connections" menu item (#7938)
  dll/win32/shell32/shellmenu/CStartMenu.cpp
Labels: shell

hOutput fix
  base/shell/explorer/appbar.h
  dll/win32/shell32/appbar.c
  sdk/include/reactos/undocshell.h
Labels: shell

hOutput fix 2
  dll/win32/shell32/appbar.c
  sdk/include/reactos/undocshell.h
Labels: shell

Update sdk/include/reactos/undocshell.h
  sdk/include/reactos/undocshell.h
Labels: none

Update sdk/include/reactos/undocshell.h
  sdk/include/reactos/undocshell.h
Labels: none

fix build
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
Labels: ROSTESTS

[REGEDIT] Add missing status text for "New" elements (#7927)
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: none

[REGEDIT] Update Romanian (ro-RO) translation
  base/applications/regedit/lang/ro-RO.rc
Labels: none

[REGEDIT] Update Polish (pl-PL) translation
  base/applications/regedit/lang/pl-PL.rc
Labels: none

[RAPPS] Add ExeInZip installer type to support running installers in zip files (#7866)
  base/applications/rapps/appdb.cpp
  base/applications/rapps/appinfo.cpp
  base/applications/rapps/geninst.cpp
  base/applications/rapps/include/appdb.h
  base/applications/rapps/include/appinfo.h
  base/applications/rapps/include/misc.h
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/unattended.cpp
Labels: none

[PSDK] Add missing hMonitor member in union with hIcon in SHELLEXECUTEINFOA/W
  sdk/include/psdk/shellapi.h
Labels: none

[SHELL32][NTUSER] Implement the SEE_MASK_HOTKEY/ICON/HMONITOR flags
  dll/win32/shell32/shlexec.cpp
  win32ss/user/ntuser/hotkey.c
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/window.c
Labels: shell, Win32SS

Don't send 0 WM_SETHOTKEY
  win32ss/user/ntuser/window.c
Labels: Win32SS

Execute .lnk with hotkey
  dll/win32/shell32/CShellLink.cpp
Labels: shell

Remove redundant spaces
  dll/win32/comctl32/syslink.c
Labels: none

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c
