Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

[PSDK] Add EmptyVC.idl
  sdk/include/psdk/CMakeLists.txt
  sdk/include/psdk/emptyvc.idl
  sdk/lib/uuid/CMakeLists.txt
Labels: none

[PSDK] Add missing parameter names
  sdk/include/psdk/shlwapi.h
Labels: none

[CLEANMGR] Add basic cleanmgr implementation
  base/applications/CMakeLists.txt
  base/applications/cleanmgr/CMakeLists.txt
  base/applications/cleanmgr/cleanmgr/CCleanupHandler.cpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandler.hpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandlerList.cpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandlerList.hpp
  base/applications/cleanmgr/cleanmgr/CEmptyVolumeCacheCallBack.hpp
  base/applications/cleanmgr/cleanmgr/CMakeLists.txt
  base/applications/cleanmgr/cleanmgr/CProgressDlg.hpp
  base/applications/cleanmgr/cleanmgr/CSelectDriveDlg.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.h
  base/applications/cleanmgr/cleanmgr/cleanmgr.rc
  base/applications/cleanmgr/cleanmgr/resource.h
  base/applications/cleanmgr/cleanmgr/resources/cleanmgr.ico
Labels: none

[ROSAUTOTEST] Allow rosautotest to reside in the same directory as its files and show its duration at its end.
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/main.cpp
  modules/rostests/rosautotest/precomp.h
Labels: ROSTESTS

add cidl <= 0 check
  dll/shellext/fontext/CFontExt.cpp
Labels: shell

[NTOSKRNL] Add missing \n to DPRINT() calls (#6012)
  ntoskrnl/cc/view.c
  ntoskrnl/io/iomgr/irq.c
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/i386/cpu.c
  ntoskrnl/se/srm.c
Labels: kernel&hal

[COMCTL32] Fix a heap corruption in EDIT_EM_ReplaceSel (#7598)
  dll/win32/comctl32/edit.c
Labels: none

[FONTEXT] Refactor (#7821)
  dll/shellext/fontext/CDataObject.cpp
  dll/shellext/fontext/CEnumFonts.cpp
  dll/shellext/fontext/CFontCache.cpp
  dll/shellext/fontext/CFontCache.hpp
  dll/shellext/fontext/CFontExt.cpp
  dll/shellext/fontext/CFontExt.hpp
  dll/shellext/fontext/CFontMenu.cpp
  dll/shellext/fontext/fontext.cpp
  dll/shellext/fontext/fontext.h
  dll/shellext/fontext/fontpidl.cpp
  dll/shellext/fontext/fontpidl.hpp
  dll/shellext/fontext/precomp.h
Labels: shell

[SHDOCVW] Follow-up of #7804: Improve AddUrlToFavorites (#7820)
  dll/win32/shdocvw/utility.cpp
Labels: none

[FORMAT] wmain(): Clean GetDiskFreeSpaceExW() calls up
  base/system/format/format.c
Labels: none

[FORMAT] wmain(): Clean GetVolumeInformationW() calls up
  base/system/format/format.c
Labels: none

[FORMAT] wmain(): Call GetLastError() immediately
  base/system/format/format.c
  base/system/format/lang/bg-BG.rc
  base/system/format/lang/cs-CZ.rc
  base/system/format/lang/de-DE.rc
  base/system/format/lang/el-GR.rc
  base/system/format/lang/en-US.rc
  base/system/format/lang/es-ES.rc
  base/system/format/lang/fr-FR.rc
  base/system/format/lang/hu-HU.rc
  base/system/format/lang/id-ID.rc
  base/system/format/lang/it-IT.rc
  base/system/format/lang/ja-JP.rc
  base/system/format/lang/lt-LT.rc
  base/system/format/lang/no-NO.rc
  base/system/format/lang/pl-PL.rc
  base/system/format/lang/ro-RO.rc
  base/system/format/lang/ru-RU.rc
  base/system/format/lang/sk-SK.rc
  base/system/format/lang/sq-AL.rc
  base/system/format/lang/tr-TR.rc
  base/system/format/lang/uk-UA.rc
  base/system/format/lang/zh-CN.rc
  base/system/format/lang/zh-TW.rc
Labels: none

[PSDK] Add missing parameter names
  sdk/include/psdk/shlwapi.h
Labels: none

[PSDK] Add EmptyVC.idl
  sdk/include/psdk/CMakeLists.txt
  sdk/include/psdk/emptyvc.idl
  sdk/lib/uuid/CMakeLists.txt
Labels: none

[CLEANMGR] Add basic cleanmgr implementation
  base/applications/CMakeLists.txt
  base/applications/cleanmgr/CMakeLists.txt
  base/applications/cleanmgr/cleanmgr/CCleanupHandler.cpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandler.hpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandlerList.cpp
  base/applications/cleanmgr/cleanmgr/CCleanupHandlerList.hpp
  base/applications/cleanmgr/cleanmgr/CEmptyVolumeCacheCallBack.hpp
  base/applications/cleanmgr/cleanmgr/CMakeLists.txt
  base/applications/cleanmgr/cleanmgr/CProgressDlg.hpp
  base/applications/cleanmgr/cleanmgr/CSelectDriveDlg.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.h
  base/applications/cleanmgr/cleanmgr/cleanmgr.rc
  base/applications/cleanmgr/cleanmgr/resource.h
  base/applications/cleanmgr/cleanmgr/resources/cleanmgr.ico
Labels: none

[PROGMAN][MSPORTS][VFDLIB][CONSRV] Update resource encoding to be utf8
  base/shell/progman/new_resources.rc
  dll/win32/msports/lang/it-IT.rc
  modules/rosapps/lib/vfdlib/vfdlib.rc
  modules/rostests/win32/user32/biditext/biditext.rc
  win32ss/user/winsrv/consrv/lang/cs-CZ.rc
Labels: ROSTESTS, Win32SS

[PROGMAN][MSPORTS][VFDLIB][CONSRV] Update resource encoding to be utf8
  base/shell/progman/new_resources.rc
  dll/win32/msports/lang/it-IT.rc
  modules/rosapps/lib/vfdlib/vfdlib.rc
  modules/rostests/win32/user32/biditext/biditext.rc
  win32ss/user/winsrv/consrv/lang/cs-CZ.rc
Labels: ROSTESTS, Win32SS

AcceptSockets hold a reference to their ListenSockets.
  drivers/network/netio/netio.c
Labels: none

[TASKKILL] Implement /t (tree) parameter (#2403)
  base/applications/cmdutils/taskkill/lang/de-DE.rc
  base/applications/cmdutils/taskkill/lang/en-US.rc
  base/applications/cmdutils/taskkill/lang/it-IT.rc
  base/applications/cmdutils/taskkill/lang/pl-PL.rc
  base/applications/cmdutils/taskkill/lang/ro-RO.rc
  base/applications/cmdutils/taskkill/lang/ru-RU.rc
  base/applications/cmdutils/taskkill/lang/sq-AL.rc
  base/applications/cmdutils/taskkill/lang/tr-TR.rc
  base/applications/cmdutils/taskkill/lang/zh-CN.rc
  base/applications/cmdutils/taskkill/lang/zh-TW.rc
  base/applications/cmdutils/taskkill/taskkill.c
  base/applications/cmdutils/taskkill/taskkill.h
Labels: none

[SHELL32] Fix starting disk cleanup from drive properties
  dll/win32/shell32/dialogs/drvdefext.cpp
Labels: shell

[SDK] Improve definition of (RTL_)CRITICAL_SECTION_DEBUG
  dll/win32/kernel32/wine/profile.c
  dll/win32/kernel32/winnls/string/lcformat.c
  sdk/include/ndk/rtltypes.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/winnt_old.h
Labels: none

[SHELL32][SHELL32_APITEST] Support SheGetPathOffsetW
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SheGetPathOffset.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: ROSTESTS, shell

[SHELL32] Fix starting disk cleanup from drive properties
  dll/win32/shell32/dialogs/drvdefext.cpp
Labels: shell

[SETUPLIB] Add FOR ALL so it stops crashing the testbots
  base/setup/lib/CMakeLists.txt
Labels: none

Use friendly constants
  sdk/include/psdk/versionhelpers.h
Labels: none

[SHIMGVW] Display error message on delete failure (#7776)
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
  dll/win32/shimgvw/shimgvw.rc
  dll/win32/shimgvw/util.c
Labels: none

[SDK] Improve definition of (RTL_)CRITICAL_SECTION_DEBUG
  dll/win32/kernel32/wine/profile.c
  dll/win32/kernel32/winnls/string/lcformat.c
  sdk/include/ndk/rtltypes.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/winnt_old.h
Labels: none

[SHELL32] DefView statusbar item file size fix in recycler and UNC
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
Labels: shell

Clarify with comment
  dll/win32/shell32/CDefView.cpp
Labels: shell

Include
  sdk/include/psdk/versionhelpers.h
Labels: none

[HAL/APIC] Set the profiling interrupt handler
  hal/halx86/apic/halinit.c
Labels: kernel&hal

[NTDLL_APITEST] Fix NtCreateProfile tests for x64
  modules/rostests/apitests/ntdll/NtCreateProfile.c
Labels: ROSTESTS

Case insensitive check
  dll/win32/shell32/dialogs/drive.cpp
Labels: shell

[SHELL32] DefView statusbar item file size fix in recycler and UNC (#7732)
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
Labels: shell

Update tracert.cpp
  base/applications/network/tracert/tracert.cpp
Labels: none

Renamed function
  modules/rostests/apitests/user32/LoadImage.c
Labels: ROSTESTS

[FREELDR] Fix x64 boot on virtualbox
  boot/freeldr/freeldr/arch/i386/hwacpi.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/freeldr.spec
  boot/freeldr/freeldr/include/arch/pc/hardware.h
  boot/freeldr/freeldr/ntldr/arch/amd64/winldr.c
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/wlmemory.c
Labels: freeldr

[USER32_APITEST] Add more PrivateExtractIcons tests
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Labels: ROSTESTS

[FREELDR] Add/change necessary code for the initial position relative code (#7530)
  boot/freeldr/freeldr/arch/amd64/entry.S
  boot/freeldr/freeldr/arch/i386/entry.S
  boot/freeldr/freeldr/arch/i386/relocldr.S
  boot/freeldr/freeldr/arch/realmode/amd64.S
  boot/freeldr/freeldr/arch/realmode/helpers_all.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/include/arch/pc/x86common.h
  boot/freeldr/freeldr/pcat.cmake
Labels: freeldr

[FREELDR] Adapt some assembly code for i386 position relative code (#7530)
  boot/freeldr/freeldr/arch/realmode/fathelp.inc
  boot/freeldr/freeldr/arch/realmode/helpers.inc
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/arch/realmode/int386.inc
  boot/freeldr/freeldr/arch/realmode/pnp.inc
Labels: freeldr

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c
