Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c

Create it-IT.rc
  base/services/w32time/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/services/w32time/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/applications/clipbrd/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/chkdsk/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/chkdsk/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/format/lang/it-IT.rc
Labels: none

[NTOS:PS] Remove logically impossible condition (JOB_OBJECT_LIMIT_WORKINGSET)
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Fix extra dereference of the job object in NtAssignProcessToJobObject
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Ensure that if the caller passed a handle that is not the current process, proper dereferencing is performed
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Acquire job lock exclusively during job limit modifications
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Notify the completion port in PspRemoveProcessFromJob
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Print out the invalid LimitFlags when an unsupported flag is detected
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Dereference the completion port before setting the pointer to NULL
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Add debug logging for unexpected SystemHandleCount in PspJobClose
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Fix race condition in termination flag
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Release the proces reference before breaking in PspEnumerateProcessesInJob
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Fix C4101
  ntoskrnl/ps/job.c
Labels: kernel&hal

Update win32ss/user/ntuser/accelerator.c
  win32ss/user/ntuser/accelerator.c
Labels: Win32SS

Update modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Fix destroy table condition
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Add GetLastError check
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Set success status
  win32ss/user/ntuser/accelerator.c
Labels: Win32SS

Initialization
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

Add more tests
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Labels: ROSTESTS

[COMCTL32] Pager: Fix PGM_RECALCSIZE behaviour (#7875)
  dll/win32/comctl32/pager.c
Labels: none

[SDK][SYSDM] Remove timestamp from build string
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/cpl/sysdm/lang/cs-CZ.rc
  dll/cpl/sysdm/lang/da-DK.rc
  dll/cpl/sysdm/lang/de-DE.rc
  dll/cpl/sysdm/lang/el-GR.rc
  dll/cpl/sysdm/lang/en-US.rc
  dll/cpl/sysdm/lang/es-ES.rc
  dll/cpl/sysdm/lang/fr-FR.rc
  dll/cpl/sysdm/lang/he-IL.rc
  dll/cpl/sysdm/lang/hu-HU.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/sysdm/lang/it-IT.rc
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/cpl/sysdm/lang/nl-NL.rc
  dll/cpl/sysdm/lang/no-NO.rc
  dll/cpl/sysdm/lang/pl-PL.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/cpl/sysdm/lang/sk-SK.rc
  dll/cpl/sysdm/lang/sq-AL.rc
  dll/cpl/sysdm/lang/sv-SE.rc
  dll/cpl/sysdm/lang/tr-TR.rc
  dll/cpl/sysdm/lang/uk-UA.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-HK.rc
  dll/cpl/sysdm/lang/zh-TW.rc
  sdk/include/reactos/buildno.h.cmake
  sdk/include/reactos/version.cmake
Labels: none

[NTOS:KD] Accept some packet types without KDBG
  ntoskrnl/kd/kdio.c
Labels: kernel&hal

Update it-IT.rc
  base/system/services/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/runonce/lang/it-IT.rc
Labels: none

Create it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

[NTOS:PS] Always release the job lock before PspAssignProcessToJob returns
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Return the correct status in PspAssignProcessToJob if the job has JOB_OBJECT_LIMIT_ACTIVE_PROCESS limit
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:PS] Balance reference management in process assignment so that the job object remains alive for all subsequent operations
  ntoskrnl/ps/job.c
Labels: kernel&hal

[NTOS:MM] Add MmIsAddressRangeFree helper function
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/marea.c
  ntoskrnl/mm/section.c
Labels: kernel&hal

[NTOS:MM] Add macros to determine whether a VAD is a MEMORY_AREA
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/ARM3/vadnode.c
  ntoskrnl/mm/ARM3/virtual.c
  ntoskrnl/mm/marea.c
Labels: kernel&hal

[NTOS:MM] Mark RosMm memory areas
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/marea.c
Labels: kernel&hal

[NTOS:MM] Stop using memory areas in MmAccessFault
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/vadnode.c
  ntoskrnl/mm/mmfault.c
Labels: kernel&hal

[NTOS:MM] Add more checks for MEMORY_AREA_OWNED_BY_ARM3
  ntoskrnl/cache/section/data.c
  ntoskrnl/mm/ARM3/virtual.c
Labels: kernel&hal

[NTOS:MM] Do not update ARM³ owned memory area
  ntoskrnl/mm/ARM3/virtual.c
Labels: kernel&hal

[NTOS:MM] Use StartingVpn instead of Vad member to check for user/kernel
  ntoskrnl/mm/marea.c
Labels: kernel&hal
