Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c

Update win32ss/user/ntuser/misc/registry.c
  win32ss/user/ntuser/misc/registry.c
Labels: Win32SS

goto Retry;
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

RemoveEntryList
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 5
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 7
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 4
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 6
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 8
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve 9
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve IntDeleteRegFontEntry
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

fix PathFindFileNameW
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

improve IntDeleteRegFontEntries
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[REACTOS] Change manifest architecture from "X86"/"" to "*"
  base/shell/filebrowser/filebrowser.exe.manifest
  base/shell/filebrowser/filebrowser.exe.regfree.manifest
  dll/win32/atl80/atl80.manifest
  dll/win32/gdiplus/gdiplus.manifest
  dll/win32/gdiplus/gdiplus11.manifest
  dll/win32/msxml3/msxml3.manifest
  dll/win32/msxml4/msxml4.manifest
  dll/win32/msxml6/msxml6.manifest
  modules/rosapps/applications/explorer-old/explorer.exe.manifest
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
  modules/rostests/apitests/user32/verclasstest1.manifest
  modules/rostests/apitests/user32/verclasstest2.manifest
  modules/rostests/kmtests/kmtest/kmtest.exe.manifest
Labels: ROSTESTS

[CRT_APITEST] Fix test failures on Win 2003 x64
  modules/rostests/apitests/crt/setjmp.c
Labels: ROSTESTS

[NTOS:CM] fix: freeing LocalSubObjects and SubNames without check for NULL
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

[NTOS:CM] fix: unlock registry and APC in early-returns
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

Apply suggestions from code review
  dll/win32/kernel32/client/thread.c
Labels: none

[ACPI] Remove section assignment from IOCTL handlers (#7829)
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
Labels: none

[UMKM_APITEST] Add test for extended state saving
  modules/rostests/apitests/umkm/CMakeLists.txt
  modules/rostests/apitests/umkm/XState.c
  modules/rostests/apitests/umkm/i386/XState_asm.s
  modules/rostests/apitests/umkm/testlist.c
Labels: ROSTESTS

[SDK] Fix some CPUID structures
  sdk/include/reactos/x86x64/Intel/Cpuid.h
Labels: none

[XDK][NDK] Add XSTATE hacks
  sdk/include/ndk/ketypes.h
  sdk/include/xdk/ketypes.h
Labels: none

[SDK] Add CPUID_EXTENDED_STATE_SIZE_OFFSET_REGS
  sdk/include/reactos/x86x64/Cpuid.h
Labels: none

[NTOS:KE/x64] Implement KiInitializeXStateConfiguration
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/kiinit.c
  ntoskrnl/ke/amd64/xstate.c
  ntoskrnl/ntos.cmake
Labels: kernel&hal

[SDK] immintrin.h: add (f)xsave/restore intrinsics
  sdk/include/vcruntime/immintrin.h
Labels: none

[NTOS:KE/x64] Implement KiSave/RestoreXState
  ntoskrnl/CMakeLists.txt
  ntoskrnl/include/internal/amd64/intrin_i.h
Labels: kernel&hal

[NTOS:KE/x64] Handle XState allocation on the stack
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/thrdini.c
Labels: kernel&hal

[NTOS:KE] Detect CPU support for AVX, AVX2 and AVX512
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/amd64/kiinit.c
  sdk/include/ndk/amd64/ketypes.h
Labels: kernel&hal

[NTOS:KE/x64] Handle extended processor state on context switch
  ntoskrnl/ke/amd64/thrdini.c
Labels: kernel&hal

Remove extra SetLastError.
  win32ss/user/ntuser/accelerator.c
Labels: Win32SS

Move UserLeave before trace.
  win32ss/user/ntuser/accelerator.c
Labels: Win32SS

fix last error
  sdk/lib/wine2ros/wine2ros.c
Labels: none

[GDI32][NTGDI][SDK] Font/Text: Fix parameters SAL2 and const-ness
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/gdibatch.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Labels: Win32SS

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Labels: Win32SS

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Labels: none
