Repository reactos/ReactOS, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, drivers, freeldr, kernel&hal, ROSTESTS, shell, Win32SS

.github/labeler.yml:

# Labelling by the files touched

ATL:
  - sdk/lib/atl/**

drivers:
  - drivers/**
  - sdk/lib/drivers/**
  - any: ["win32ss/drivers/**", "!win32ss/drivers/font/**"]

freeldr:
  - boot/freeldr/**

"kernel&hal":
  - hal/**
  - ntoskrnl/**

ROSTESTS:
  - modules/rostests/**

shell:
  - base/shell/explorer/**
  - base/shell/rshell/**
  - dll/shellext/**
  - dll/win32/browseui/**
  - dll/win32/shell32/**

Win32SS:
  - win32ss/**

improve CCanvasWindow::DoDraw 3
  base/applications/mspaint/canvas.cpp
Labels: none

improve SendMessage(g_hStatusBar...
  base/applications/mspaint/canvas.cpp
Labels: none

fix comment
  base/applications/mspaint/canvas.cpp
Labels: none

reduce lines
  base/applications/mspaint/toolsmodel.h
Labels: none

improve Airbrush
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/drawing.cpp
Labels: none

improve Airbrush 2
  base/applications/mspaint/toolsettings.cpp
Labels: none

improve Landing
  base/applications/mspaint/selectionmodel.cpp
Labels: none

clean up IopQueryHardwareIds() and PiIrpQueryPnPDeviceId()
  ntoskrnl/include/internal/io.h
  ntoskrnl/io/pnpmgr/devaction.c
  ntoskrnl/io/pnpmgr/pnpirp.c
Labels: kernel&hal

Use doxygen format for new introduced funtions.
  ntoskrnl/io/pnpmgr/pnpirp.c
Labels: kernel&hal

[TASKMGR] Remove CRTDBG
  base/applications/taskmgr/precomp.h
  base/applications/taskmgr/taskmgr.c
Labels: none

Update base/applications/fontview/lang/de-DE.rc
  base/applications/fontview/lang/de-DE.rc
Labels: none

Update base/applications/fontview/lang/de-DE.rc
  base/applications/fontview/lang/de-DE.rc
Labels: none

Update base/applications/fontview/lang/de-DE.rc
  base/applications/fontview/lang/de-DE.rc
Labels: none

[TASKMGR] Remove CRTDBG (#5348)
  base/applications/taskmgr/precomp.h
  base/applications/taskmgr/taskmgr.c
Labels: none

More translatable strings found.
  base/applications/fontview/lang/de-DE.rc
Labels: none

Update ro-RO.rc
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

Update ro-RO.rc
  dll/win32/getuname/lang/ro-RO.rc
Labels: none

[MSPAINT] Establish Undo/Redo management (#5347)
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/common.h
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/fullscreen.cpp
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/miniature.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/palette.h
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolbox.h
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: none

[MSPAINT] Use CF_DIB instead of CF_BITMAP
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/winproc.cpp
Labels: none

improve
  base/applications/mspaint/dib.cpp
Labels: none

[IPCONFIG] Use conutils and replace hardcoded strings
  base/applications/network/ipconfig/CMakeLists.txt
  base/applications/network/ipconfig/ipconfig.c
  base/applications/network/ipconfig/lang/bg-BG.rc
  base/applications/network/ipconfig/lang/de-DE.rc
  base/applications/network/ipconfig/lang/el-GR.rc
  base/applications/network/ipconfig/lang/en-US.rc
  base/applications/network/ipconfig/lang/es-ES.rc
  base/applications/network/ipconfig/lang/fr-FR.rc
  base/applications/network/ipconfig/lang/id-ID.rc
  base/applications/network/ipconfig/lang/it-IT.rc
  base/applications/network/ipconfig/lang/no-NO.rc
  base/applications/network/ipconfig/lang/pl-PL.rc
  base/applications/network/ipconfig/lang/ro-RO.rc
  base/applications/network/ipconfig/lang/ru-RU.rc
  base/applications/network/ipconfig/lang/sk-SK.rc
  base/applications/network/ipconfig/lang/sq-AL.rc
  base/applications/network/ipconfig/lang/sv-SE.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/uk-UA.rc
  base/applications/network/ipconfig/lang/zh-CN.rc
  base/applications/network/ipconfig/lang/zh-TW.rc
  base/applications/network/ipconfig/resource.h
Labels: none

[RAPPS] Remove duplicated tooltip strings
  base/applications/rapps/appview.cpp
  base/applications/rapps/include/resource.h
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
Labels: none

use CF_BITMAP for paste
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/winproc.cpp
Labels: none

improve
  base/applications/mspaint/dib.cpp
Labels: none

revert partialy
  base/applications/mspaint/winproc.cpp
Labels: none

improve 2
  base/applications/mspaint/selectionmodel.cpp
Labels: none

Added locked toolbar state persistance.
  dll/win32/browseui/internettoolbar.cpp
Labels: shell

[RAPPS] Use ATL CString
  base/applications/rapps/appview.cpp
  base/applications/rapps/include/appview.h
Labels: none

[RAPPS] Re-order resource IDs
  base/applications/rapps/include/resource.h
Labels: none

Follow ROS style guide and add type check.
  dll/win32/browseui/internettoolbar.cpp
Labels: shell

[EXPLORER] Improve and fix typo to pt-PT rc file
  base/shell/explorer/lang/pt-PT.rc
Labels: shell

[EXPLORER] Fix SUBLANG type to pt-PT language
  base/shell/explorer/lang/pt-PT.rc
Labels: shell

fix BitmapToClipboardDIB
  base/applications/mspaint/dib.cpp
Labels: none

[EXPLORER] Add and fix file headers with license info
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
Labels: shell

fixing BitmapFromClipboardDIB...
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/winproc.cpp
Labels: none

CF_ENHMETAFILE
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/winproc.cpp
Labels: none

simplify
  base/applications/mspaint/dib.cpp
Labels: none

improve IDM_EDITPASTE
  base/applications/mspaint/winproc.cpp
Labels: none

fix
  base/applications/mspaint/dib.cpp
Labels: none

fix 2
  base/applications/mspaint/dib.cpp
Labels: none
