Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c

[WINESYNC] msvcrt: Fix incorrect casts in _wcstoi64_l and _wcstoui64_l.
  sdk/lib/crt/string/wcs.c
Labels: none

[WINESYNC] msvcrt: Use CompareString in wcscoll functions.
  sdk/lib/crt/string/wcs.c
Labels: none

[WINESYNC]: wcs is now in sync with wine-staging wine-1.5.26
  sdk/tools/winesync/wcs.cfg
Labels: none

fix winmm and wine2ros
  dll/win32/winmm/CMakeLists.txt
  dll/win32/winmm/mci.c
  dll/win32/winmm/winemm.h
  sdk/include/psdk/ntstatus.h
  sdk/lib/wine2ros/wine2ros.c
  sdk/lib/wine2ros/wine2ros.h
Labels: none

improve sdk/include/psdk/ntstatus.h
  sdk/include/psdk/ntstatus.h
Labels: none

improve sdk/include/psdk/ntstatus.h 2
  sdk/include/psdk/ntstatus.h
Labels: none

[KMTESTS:HAL] Add a test for string I/O intrinsic functions
  modules/rostests/kmtests/CMakeLists.txt
  modules/rostests/kmtests/hal/HalPortIo.c
  modules/rostests/kmtests/kmtest_drv/testlist.c
Labels: ROSTESTS

Update it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

Update it-IT.rc
  base/system/diskpart/lang/it-IT.rc
Labels: none

Update dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/tr-TR.rc
Labels: none

Update base/applications/network/netsh/netsh.rc
  base/applications/network/netsh/netsh.rc
Labels: none

Fixed that they recommended.
  base/applications/dxdiag/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  base/applications/network/netstat/lang/tr-TR.rc
  base/applications/network/tracert/lang/tr-TR.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/win32/shell32/lang/tr-TR.rc
Labels: shell

Fixes.
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/network/ipconfig/lang/tr-TR.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shimgvw/lang/tr-TR.rc
Labels: shell

Removed fixme
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
Labels: none

[BROWSEUI] Quick Launch: Refresh buttons on change notify
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: shell

improve
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell

TIMER_REFRESH_DELAY
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell

improve 3
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: shell

improve 4
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: shell

improve 5
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell

[EXPLORER] AppBar Part 3
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/precomp.h
  base/shell/explorer/traywnd.cpp
Labels: shell

[NTUSER] Fix some returns when setting the cursor in the main desktop window procedure Change some returned values to success for the cases when valid cursor types are set. CORE-14165, CORE-14166
  win32ss/user/ntuser/defwnd.c
Labels: Win32SS

*Activation
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

improve
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

improve 2
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

improve 3
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

improve 4
  base/shell/explorer/traywnd.cpp
Labels: shell

m_ahwndAutoHideBars
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
Labels: shell

add sal2
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Labels: shell

improve 5
  base/shell/explorer/traywnd.cpp
Labels: shell

Update dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell

improve 6
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Labels: shell

revert some
  base/shell/explorer/traywnd.cpp
Labels: shell

[FREELDR] Show debug-mode notice
  boot/freeldr/freeldr/arch/arcemul.c
  boot/freeldr/freeldr/freeldr.spec
  boot/freeldr/freeldr/include/machine.h
  boot/freeldr/freeldr/ntldr/winldr.c
Labels: freeldr

Improve debug mode check logic
  boot/freeldr/freeldr/ntldr/winldr.c
Labels: freeldr

Update dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell

some fixes
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: shell

[UMPNPMGR] Fix buggy identification of window and service handles
  base/services/umpnpmgr/event.c
Labels: none

add 'De-register?' comment
  dll/win32/browseui/shellbars/CISFBand.cpp
Labels: shell
