Repository reactos/ReactOS, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, drivers, freeldr, kernel&hal, ROSTESTS, shell, Win32SS

.github/labeler.yml:

# Labelling by the files touched

ATL:
  - sdk/lib/atl/**

drivers:
  - drivers/**
  - sdk/lib/drivers/**
  - any: ["win32ss/drivers/**", "!win32ss/drivers/font/**"]

freeldr:
  - boot/freeldr/**

"kernel&hal":
  - hal/**
  - ntoskrnl/**

ROSTESTS:
  - modules/rostests/**

shell:
  - base/shell/explorer/**
  - base/shell/rshell/**
  - dll/shellext/**
  - dll/win32/browseui/**
  - dll/win32/shell32/**

Win32SS:
  - win32ss/**

Update fr-FR.rc
  dll/win32/browseui/lang/fr-FR.rc
Labels: shell

Revert "Update fr-FR.rc"
  dll/win32/browseui/lang/fr-FR.rc
Labels: shell

[TRANSLATION] Update French (fr-FR) translation
  dll/win32/browseui/lang/fr-FR.rc
Labels: shell

[CODEOWNERS] Add myself for modules I wrote or heavily contributed to.
  CODEOWNERS
Labels: none

[SHELL32] Fixes for shlexec.cpp regressions CORE-18967
  dll/win32/shell32/shlexec.cpp
Labels: shell

[NTOS:KE/x64] Fix KiConvertToGuiThread
  ntoskrnl/ke/amd64/trap.S
  sdk/include/asm/ksamd64.template.h
Labels: kernel&hal

[USER32_APITEST] Add tests for [Get|Set]Window[Word|Long|LongPtr]
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/GetSetWindowInt.c
  modules/rostests/apitests/user32/testlist.c
Labels: ROSTESTS

new commit
  modules/rostests/winetests/version/RCa23052
  sdk/include/reactos/RCa09652
  sdk/include/reactos/RCa13236
  sdk/include/reactos/RCa23052
Labels: ROSTESTS

[USER32_APITEST] Add tests for GetClassInfo
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/GetClassInfo.c
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/win32nt/ntuser/NtUserGetClassInfo.c
Labels: ROSTESTS

Теперь ОС определяется как виндувс 7
  CMakeLists.txt
  boot/freeldr/freeldr/ntldr/setupldr.c
  boot/freeldr/freeldr/ntldr/winldr.c
  dll/win32/kernel32/winnls/RCa12516
  dll/win32/msvcrt/RCa12516
  sdk/include/psdk/ntverp.h
Labels: freeldr

работа с версией ОС
  base/shell/explorer/Controls/Buttons/AppButton.h
  dll/win32/psapi/RCa16584
  dll/win32/psapi/RCb16584
  dll/win32/shell32/RCa12492
  dll/win32/shell32/shell32_version.h
Labels: shell

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

[FREELDR] Fix builds for PC-98 and Xbox platforms
  boot/boot_images.cmake
Labels: none

[REGEDIT] Add a new entry even if there is no child.
  base/applications/regedit/treeview.c
Labels: none

Revert "[REGEDIT] Prevent using a NULL pointer"
  base/applications/regedit/treeview.c
Labels: none

[REGEDIT] Disable the New Key menu item for My Computer.
  base/applications/regedit/treeview.c
Labels: none

[TASKMGR] Fix access key collision for en-US
  base/applications/taskmgr/lang/en-US.rc
Labels: none

[TASKMGR] Add tooltip for "Properties" and "Open File Location" menu
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Labels: none

[RAPPS] Centralize RAPPS exposed names: registry & user local settings (#4214)
  base/applications/rapps/README.ENG
  base/applications/rapps/appdb.cpp
  base/applications/rapps/configparser.cpp
  base/applications/rapps/include/configparser.h
  base/applications/rapps/include/defines.h
  base/applications/rapps/misc.cpp
  base/applications/rapps/settings.cpp
  base/applications/rapps/settingsdlg.cpp
  base/applications/rapps/unattended.cpp
Labels: none

Revert "[SHELL32] Move to/Copy to folder should not be displayed when unable to retrieve the file name"
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CMoveToMenu.cpp
Labels: shell

Update gdihelp.h header
  win32ss/gdihelp.h
Labels: Win32SS

Use Copyright instead of Programmers
  win32ss/gdihelp.h
Labels: Win32SS

[USER32_APITEST] Add tests for [Get|Set]Window[Word|Long|LongPtr]
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/GetSetWindowInt.c
  modules/rostests/apitests/user32/testlist.c
Labels: ROSTESTS

[USER32_APITEST] Add tests for GetClassInfo
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/GetClassInfo.c
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/win32nt/ntuser/NtUserGetClassInfo.c
Labels: ROSTESTS

[NTOS:KE/x64] Fix KiConvertToGuiThread
  ntoskrnl/ke/amd64/trap.S
  sdk/include/asm/ksamd64.template.h
Labels: kernel&hal

Do the "P&riority" change also in the greek file.
  base/applications/taskmgr/lang/el-GR.rc
Labels: none

[TASKMGR] Add status bar description for "Properties" and "Open File Location" menu items (#5280)
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Labels: none

[KERNEL32] Minor comments improvements in CreateProcessInternalW.
  dll/win32/kernel32/client/proc.c
Labels: none

[KERNEL32] CreateProcessInternalW: Initialize uninitialized ClientId.
  dll/win32/kernel32/client/proc.c
Labels: none

[NTOS:LPC] Turn a DPRINT1 into an LPCTRACE. (#4399)
  ntoskrnl/lpc/complete.c
Labels: kernel&hal

[NTOS:LPC] Ensure debug-traced pointer-given user-mode data is captured. (#4399)
  ntoskrnl/lpc/connect.c
  ntoskrnl/lpc/create.c
  ntoskrnl/lpc/send.c
Labels: kernel&hal

[ATTRIB] Reorganize resource file headers.
  base/applications/cmdutils/attrib/lang/cs-CZ.rc
  base/applications/cmdutils/attrib/lang/de-DE.rc
  base/applications/cmdutils/attrib/lang/el-GR.rc
  base/applications/cmdutils/attrib/lang/en-US.rc
  base/applications/cmdutils/attrib/lang/es-ES.rc
  base/applications/cmdutils/attrib/lang/fr-FR.rc
  base/applications/cmdutils/attrib/lang/hu-HU.rc
  base/applications/cmdutils/attrib/lang/id-ID.rc
  base/applications/cmdutils/attrib/lang/it-IT.rc
  base/applications/cmdutils/attrib/lang/ja-JP.rc
  base/applications/cmdutils/attrib/lang/no-NO.rc
  base/applications/cmdutils/attrib/lang/pl-PL.rc
  base/applications/cmdutils/attrib/lang/ro-RO.rc
  base/applications/cmdutils/attrib/lang/ru-RU.rc
  base/applications/cmdutils/attrib/lang/sk-SK.rc
  base/applications/cmdutils/attrib/lang/sq-AL.rc
  base/applications/cmdutils/attrib/lang/sv-SE.rc
  base/applications/cmdutils/attrib/lang/tr-TR.rc
  base/applications/cmdutils/attrib/lang/uk-UA.rc
  base/applications/cmdutils/attrib/lang/zh-CN.rc
  base/applications/cmdutils/attrib/lang/zh-TW.rc
Labels: none

implement GetPhysicallyInstalledSystemMemory
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/kernel32.spec
Labels: none

Update dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/client/sysinfo.c
Labels: none

Update dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32.spec
Labels: none

Update sysinfo.c
  dll/win32/kernel32/client/sysinfo.c
Labels: none

Update kernel32.spec
  dll/win32/kernel32/kernel32.spec
Labels: none

Update dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/client/sysinfo.c
Labels: none

Update dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/client/sysinfo.c
Labels: none
