Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

Update ro-RO.rc
  base/applications/regedit/lang/ro-RO.rc
Labels: none

[SHELL32] Fix a typo in Control_DoLaunch
  dll/win32/shell32/wine/control.c
Labels: shell

Suggested changes
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/shlexec.cpp
  win32ss/user/ntuser/hotkey.c
  win32ss/user/ntuser/hotkey.h
  win32ss/user/ntuser/main.c
Labels: shell, Win32SS

Apply changes from code review
  base/applications/regedit/framewnd.c
Labels: none

[NTDLL_APITEST] refactor and add more tests
  modules/rostests/apitests/ntdll/NtNotifyChangeMultipleKeys.c
Labels: ROSTESTS

Undo memory fix
  dll/win32/advapi32/sec/lsa.c
Labels: none

[NTOS:CM] Add WatchTree support
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

fix WM_DISPLAYCHANGE
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Labels: shell

[SDK][USER32] Implement WM_IME_SYSTEM.IMS_SOFTKBDONOFF
  sdk/include/ddk/immdev.h
  win32ss/user/user32/misc/imm.c
Labels: Win32SS, input method

improve
  win32ss/user/user32/misc/imm.c
Labels: Win32SS, input method

[SHELL32] Handle sort order in RegItems (#7906)
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
Labels: shell

Revert "[CURSOR] Add Cursor AI project settings (#7752)" (#7913)
  .cursor/coding-style.json
  .cursor/editor.json
  .cursor/settings.json
  .gitignore
Labels: none

Revert "[COMCTL32] Pager: Fix PGM_RECALCSIZE behaviour (#7875)" (#7910)
  dll/win32/comctl32/pager.c
Labels: none

[NTOS:CM] fix: minor mistakes with major effects
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

[NTOS:CM] implement user-mode APC support
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

[NTGDI:FREETYPE] Fix Fonts broken by opening VLC About Retry of PR #4579 CORE-17011
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[SHELL32] Don't get icon and label from AutoRun.inf on floppy drives
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: shell

[SDK][USER32] Implement WM_IME_SYSTEM.IMS_SOFTKBDONOFF (#7950)
  sdk/include/ddk/immdev.h
  win32ss/user/user32/misc/imm.c
Labels: Win32SS, input method

[REGEDIT] Update Polish (pl-PL) translation (#7949)
  base/applications/regedit/lang/pl-PL.rc
Labels: none

[REGEDIT] Update Russian (ru-RU) translation
  base/applications/regedit/lang/ru-RU.rc
Labels: none

Do not handle FontGDI->OriginalWeight as a boolean.
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[BROWSEUI] Don't remember invoked non-folders in addressbar
  dll/win32/browseui/addresseditbox.cpp
Labels: shell

[MSGINA][LSASRV] Support LSA secret DefaultPassword in autologon (#7936)
  dll/win32/lsasrv/lsarpc.c
  dll/win32/msgina/msgina.c
Labels: none

Free the cached item even in the unlikely failure case
  dll/win32/browseui/addresseditbox.cpp
Labels: shell

[NTGDI:FREETYPE] Fix Fonts broken by opening VLC About (Retry of PR #4579) (#7952)
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

[NTOS:CM] NtNotifyChangeMultipleKeys: add multiple-keys support
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

Apply suggestions from code review
  base/applications/regedit/framewnd.c
Labels: none

[NTOS:CM]: chore: refactor/cleanup
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Labels: kernel&hal

Don't use IUnknown_Set because everyone might not have shlwapi
  sdk/include/reactos/shellutils.h
Labels: none

[NTOS:CM] initialize IoStatusBlock
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

Ignore context, use sane indent
  win32ss/user/ntuser/hotkey.c
  win32ss/user/ntuser/main.c
Labels: Win32SS

[NTOS:CM] minor fixes
  modules/rostests/kmtests/ntos_cm/CmNotify.c
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
Labels: kernel&hal, ROSTESTS

[WINMM] Silence MSVC warning about unary minus operator
  dll/win32/winmm/CMakeLists.txt
Labels: none

[CMAKE] Fix TREAT_ALL_WARNINGS_AS_ERRORS
  sdk/cmake/msvc.cmake
Labels: none

[BROWSEUI] Fix MSVC warning about unary minus operator
  dll/win32/browseui/basebarsite.cpp
Labels: shell

[RICHED20] Fix array bounds overflow
  dll/win32/riched20/editor.c
Labels: none

[NTDLL_APITEST] Fix x64 MSVC warnings
  modules/rostests/apitests/ntdll/RtlUnicodeToOemN.c
Labels: ROSTESTS

[NTDLL_APITEST] Add a test for NtQuerySection
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtQuerySection.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: ROSTESTS

[NTOS:MM] Fix some unimplemented cases of NtQuerySection
  ntoskrnl/mm/section.c
Labels: kernel&hal

[NTOS:CM] fix: check for duplicate objects
  ntoskrnl/config/ntapi.c
Labels: kernel&hal

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c
