Repository reactos/reactos, changes with the labels that .github/labeler.yml gives for each.
All labels: ATL, freeldr, kernel&hal, ROSTESTS, shell, Win32SS, input method

[FREELDR] Keep only the Starting and Errors messages for amd64.S (#7530)
  boot/freeldr/freeldr/arch/realmode/amd64.S
Labels: freeldr

[FREELDR] Adapt some assembly code for amd64 position relative code (#7530)
  boot/freeldr/freeldr/arch/realmode/amd64.S
Labels: freeldr

[CLEANMGR] Only allow one instance per drive
  base/applications/cleanmgr/cleanmgr/CSelectDriveDlg.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.cpp
Labels: none

improve
  dll/win32/shell32/utils.cpp
Labels: shell

[SHELL32] Implement PathProcessCommandW
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/shellpath.c
Labels: shell

improve 2
  dll/win32/shell32/utils.cpp
Labels: shell

improve 3
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
Labels: shell

fix ShellExec_RunDLLA/W
  dll/win32/shell32/shlexec.cpp
Labels: shell

move to shlexec.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellpath.c
Labels: shell

delete excessive prototype from utils.h
  dll/win32/shell32/utils.h
Labels: shell

Changes based on reviewer comments.
  modules/rostests/rosautotest/main.cpp
Labels: ROSTESTS

[ACPI] Remove section assignment from IOCTL handlers
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
Labels: none

Revert "[FREELDR] Pass the correct ACPI table for Windows (#7486)"
  boot/freeldr/freeldr/arch/i386/hwacpi.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/freeldr.spec
  boot/freeldr/freeldr/include/arch/pc/hardware.h
  boot/freeldr/freeldr/include/hwacpi.h
  boot/freeldr/freeldr/include/ntldr/winldr.h
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/wlmemory.c
Labels: freeldr

[AVRF] WIP Partially implement a workaround for wine's statically initialized critical sections
  dll/ntdll/ldr/verifier.c
Labels: none

[KERNEL32] Add debug info to statically initialized critical section
  dll/win32/kernel32/winnls/string/locale.c
Labels: none

[APPHELP_APITEST] Make the test less strict + ensure it passes on Win11
  modules/rostests/apitests/apphelp/apphelp.c
Labels: ROSTESTS

[NTDLL] check for NULL buffer in LdrpLoadDll
  dll/ntdll/ldr/ldrutils.c
Labels: none

[RPCRT4] Add SEH to avoid leaking locks / memory
  dll/win32/rpcrt4/ndr_contexthandle.c
Labels: none

[HAL][NTOS] Implement x64 SMP startup code
  hal/halx86/smp/amd64/apentry.S
  hal/halx86/smp/amd64/spinup.c
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/kiinit.c
  ntoskrnl/ke/amd64/mproc.c
  sdk/include/asm/ksamd64.template.h
Labels: kernel&hal

[NTOS:KE/x64] Move initialization of KeActiveProcessors
  ntoskrnl/ke/amd64/kiinit.c
Labels: kernel&hal

[HALx86] Mask profiling interrupt on init
  hal/halx86/apic/apictimer.c
Labels: kernel&hal

[HAL] Use physical addressing in HalEnableSystemInterrupt
  hal/halx86/apic/apic.c
Labels: kernel&hal

[NTOS:KE/x64] Lower IRQL to passive while running idle function
  ntoskrnl/ke/amd64/stubs.c
Labels: kernel&hal

[NTOS:KE/x64] Ignore DPCs from the idle loop
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/traphandler.c
Labels: kernel&hal

[NTOS:IO] Fix affinity of PsInitialSystemProcess
  ntoskrnl/ex/init.c
  ntoskrnl/io/iomgr/iomgr.c
Labels: kernel&hal

HACK HACK HACK: disable an ASSERT
  ntoskrnl/mm/ARM3/virtual.c
Labels: kernel&hal

[NTOS:KE] Handle SwapBusy in x64 KiIdleLoop
  ntoskrnl/include/internal/ke_x.h
  ntoskrnl/ke/amd64/stubs.c
Labels: kernel&hal

WIP KiIdleLoop PrcbLock
  ntoskrnl/ke/amd64/stubs.c
Labels: kernel&hal

WIP add a bunch of ASSERTs
  ntoskrnl/ke/thrdschd.c
Labels: kernel&hal

WIP [NTOS:KE/x64] Properly handle KiIdleSummary
  ntoskrnl/ke/amd64/krnlinit.c
  ntoskrnl/ke/amd64/stubs.c
Labels: kernel&hal

WIP [NTOS:KE/x64] Handle NewThread == OldThread in KiIdleLoop
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/traphandler.c
  ntoskrnl/ke/thrdschd.c
Labels: kernel&hal

HACK [BOOTDATA] Make setup boot with MP
  boot/bootdata/bootcd.ini
Labels: none

Use a more bloated version check, as requested
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Labels: ROSTESTS

debug
  dll/win32/comctl32/imagelist.c
  dll/win32/comctl32/toolbar.c
  sdk/lib/rtl/heap.c
Labels: none

test
  dll/win32/scrrun/widl.i6hnaa
  dll/win32/vbscript/widl.8MUdaa
  dll/win32/vbscript/widl.ATUdaa
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS

Fix backspace button behavior in win32 shell browser
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Labels: shell

[VIDEOPRT] Write monitor EDID to registry
  win32ss/drivers/videoprt/child.c
Labels: Win32SS

[SHELL32] CFolderOptions Reset can call DefView directly if there is no browser (#7806)
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CFolderOptions.cpp
  dll/win32/shell32/CFolderOptions.h
  dll/win32/shell32/dialogs/view.cpp
Labels: shell

.github/labeler.yml:

# Labelling by the files touched

ATL:
- changed-files:
  - any-glob-to-any-file:
    - sdk/lib/atl/**

drivers:
- changed-files:
  - any-glob-to-any-file:
    - drivers/**
    - sdk/lib/drivers/**
  - all-globs-to-any-file:
    - win32ss/drivers/**
    - '!win32ss/drivers/font/**'

freeldr:
- changed-files:
  - any-glob-to-any-file:
    - boot/freeldr/**

"kernel&hal":
- changed-files:
  - any-glob-to-any-file:
    - hal/**
    - ntoskrnl/**

ROSTESTS:
- changed-files:
  - any-glob-to-any-file:
    - modules/rostests/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - base/shell/explorer/**
    - base/shell/rshell/**
    - dll/shellext/**
    - dll/win32/browseui/**
    - dll/win32/shell32/**

Win32SS:
- changed-files:
  - any-glob-to-any-file:
    - win32ss/**

"input method":
- changed-files:
  - any-glob-to-any-file:
    - base/applications/ctfmon/**
    - dll/ime/**
    - dll/win32/imm32/**
    - dll/win32/msctf/**
    - dll/win32/msutb/**
    - win32ss/user/ntuser/ime.c
    - win32ss/user/user32/misc/imm.c
