Repository reactos/reactos, pull requests merged in 2018-12, with the labels that each got.

#610 [NOTEPAD] Fix About dialog issue (via remove non-standard about dialog)
  base/applications/notepad/dialog.c
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/main.c
  base/applications/notepad/notepad_res.h
Labels: refactoring

#1100 [WIN32SS][USER32] Add codes for Ghost Window
  win32ss/include/ghostwnd.h
  win32ss/user/ntuser/class.h
  win32ss/user/ntuser/ghost.c
  win32ss/user/ntuser/ghost.h
  win32ss/user/ntuser/message.c
  win32ss/user/user32/controls/ghost.c
Labels: WIP

#514 [CABMAN] Fix a problem with creating temp files on some Windows system
  sdk/tools/cabman/CCFDATAStorage.cxx
Labels: bugfix
