Repository reactos/reactos, pull requests merged in 2018-05, with the labels that each got.

#505 CORE-14306. [CMAKE] USE_CLANG_CL: Add "-Wno-parentheses-equality"
  sdk/cmake/msvc.cmake
Labels: bugfix, trivial fix

#536 CORE-14306. [DEVMGR] Fix a Clang-Cl warning about DriverInfoDetailData.SectionName
  dll/win32/devmgr/properties/misc.cpp
Labels: trivial fix

#500 CORE-14306. [APPSHIM_APITEST] Fix a Clang-Cl warning about n
  modules/rostests/apitests/appshim/dispmode.c
Labels: refactoring, trivial fix

#293 ROSTESTS-263. Check/Wait for start/stop of services to complete
  modules/rostests/kmtests/kmtest/service.c
Labels: ROSTESTS, enhancement

#436 [CHARMAP]Code improvements
  base/applications/charmap/CMakeLists.txt
  base/applications/charmap/charmap.c
  base/applications/charmap/precomp.h
Labels: refactoring

#398 [IPHLPAPI] ipstats_reactos: Review all TRACE/WARN calls
  dll/win32/iphlpapi/ipstats_reactos.c
Labels: refactoring, trivial fix

#550 [TRANSLATION][TASKMGR] Update Chinese Translation.
  base/applications/taskmgr/lang/zh-CN.rc
Labels: TRANSLATION

#549 [TRANSLATIONS][drwtsn32] Add zh-CN translation.
  base/applications/drwtsn32/drwtsn32.rc
  base/applications/drwtsn32/lang/zh-CN.rc
Labels: TRANSLATION

#544 [SHELL32] Add 'Create New Extension' IDD_NEWEXTENSION dialog
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement

#562 [MSPAINT] Fix copy-pasta bug
  base/applications/mspaint/dialogs.h
Labels: bugfix, trivial fix

#555 [REACTOS] Improve/Fix some "printf" formats
  dll/win32/shell32/CDefView.cpp
  ntoskrnl/wmi/smbios.c
  win32ss/user/ntuser/cursoricon.c
Labels: refactoring, trivial fix

#534 BiDi support for ExtTextOut and GetCharacterPlacement
  dll/win32/lpk/CMakeLists.txt
  dll/win32/lpk/bidi.c
  dll/win32/lpk/dllmain.c
  dll/win32/lpk/lpk.c
  dll/win32/lpk/lpk.spec
  dll/win32/lpk/ros_lpk.h
  dll/win32/lpk/stub.c
  media/doc/README.WINE
  modules/rostests/win32/user32/CMakeLists.txt
  modules/rostests/win32/user32/biditext/Application.ico
  modules/rostests/win32/user32/biditext/Application.manifest
  modules/rostests/win32/user32/biditext/CMakeLists.txt
  modules/rostests/win32/user32/biditext/biditext.c
  modules/rostests/win32/user32/biditext/biditext.h
  modules/rostests/win32/user32/biditext/biditext.rc
  win32ss/gdi/gdi32/include/gdi32p.h
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/gdi32/objects/utils.c
Labels: enhancement

#565 [SHELL32] Implement 'Advanced' button of 'File Types'
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shresdef.h
Labels: bugfix, enhancement

#574 [SHELL32] Fix and improve PickIconDlg function
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/dialogs.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: bugfix
