Repository reactos/reactos, pull requests merged in 2018-06, with the labels that each got.

#587 Screensaver: added ITA translation.
  modules/rosapps/applications/screensavers/blankscr/lang/it-IT.rc
  modules/rosapps/applications/screensavers/blankscr/scrnsave.rc
  modules/rosapps/applications/screensavers/butterflies/lang/it-IT.rc
  modules/rosapps/applications/screensavers/butterflies/rsrc.rc
  modules/rosapps/applications/screensavers/circles/circles.rc
  modules/rosapps/applications/screensavers/circles/lang/it-IT.rc
  modules/rosapps/applications/screensavers/cylfrac/cylfrac.rc
  modules/rosapps/applications/screensavers/cylfrac/lang/it-IT.rc
  modules/rosapps/applications/screensavers/starfield/lang/it-IT.rc
  modules/rosapps/applications/screensavers/starfield/starfield.rc
Labels: TRANSLATION

#579 [CMAKE] Add "--always" parameter to "git describe" call
  sdk/include/reactos/version.cmake
Labels: bugfix, trivial fix

#568 CORE-11836. [CONFIGURE][CMAKE] Remove Visual Studio 9 (2008) support
  configure.cmd
  sdk/cmake/msvc.cmake
Labels: enhancement, refactoring

#571 [BROWSEUI] Remove a duplicated add_custom_command() call
  dll/win32/browseui/CMakeLists.txt
Labels: trivial fix

#540 [EXT2FS][REISERFS] VSSolution: Disable C4189 errors, actually. CORE-11280
  drivers/filesystems/ext2/CMakeLists.txt
  drivers/filesystems/reiserfs/CMakeLists.txt
Labels: refactoring, trivial fix

#570 [RSHELL] Remove a duplicated add_custom_command() call
  base/shell/rshell/CMakeLists.txt
Labels: trivial fix

#423 CORE-13734. RedrawWindow: Add a DestroyWindow() call
  modules/rostests/apitests/user32/RedrawWindow.c
Labels: trivial fix

#582 [SHELL32] Split dialogs/folder_options.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/dialogs/filetypes.cpp
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/dialogs/folder_options.h
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/dialogs/view.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shresdef.h
  sdk/include/psdk/shlobj.h
Labels: refactoring

#564 CORE-11836. VSSolution: Fix MSI_WINETEST compile error with VS10 and VS12
  modules/rostests/winetests/msi/CMakeLists.txt
Labels: bugfix

#181 Respect the maximum receive buffer size for datagram sockets
  drivers/network/afd/afd/bind.c
  drivers/network/afd/afd/read.c
Labels: WIP, bugfix

#608 [USETUP] Display the ReactOS release status
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
Labels: community, enhancement

#611 [TRANSLATION] Polish translation update
  base/applications/cmdutils/mode/lang/pl-PL.rc
  base/setup/usetup/lang/pl-PL.h
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#606 [SYSSETUP] Fix a DPH report about dwPageCount
  dll/win32/syssetup/wizard.c
Labels: bugfix, trivial fix

#551 CORE-14306. [HALX86] Fix a Clang-Cl warning about KiUnexpectedInterrupt
  hal/halx86/up/pic.c
Labels: refactoring, trivial fix

#599 [SHELL32] Copy-paste files/folders into current place.
  dll/win32/shell32/shlfileop.cpp
Labels: enhancement

#377 CORE-14306. Fix 2 Clang-Cl warnings about __pfnDliNotifyHook2Default and __pfnDliFailureHook2Default
  sdk/lib/delayimp/delayimp.c
Labels: WIP, bugfix, refactoring, trivial fix

#605 [SHELL32][APITESTS] Add tests of OpenAs_RunDLL
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/OpenAs_RunDLL.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS

#588 [SHELL32][APITESTS] Add test of ShellState
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellState.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: bugfix

#556 Bump minimum cmake version to 3.2
  CMakeLists.txt
Labels: refactoring

#616 [TRANSLATION][USETUP] Italian translation update
  base/setup/usetup/lang/it-IT.h
Labels: TRANSLATION

#617 [NETAPI32_APITEST] Fix a NULL dereference of pInfo
  modules/rostests/apitests/netapi32/DsRoleGetPrimaryDomainInformation.c
Labels: ROSTESTS, bugfix

#620 Hindi translation of Welcome
  base/setup/welcome/lang/hi-IN.rc
  base/setup/welcome/welcome.rc
Labels: TRANSLATION

#593 [EXPLORER] 'Run' (Win+R) should set the proper current directory
  base/shell/explorer/traywnd.cpp
Labels: bugfix

#595 [SHELL32] Fix desktop.ini folder icon
  dll/win32/shell32/folders/CFSFolder.cpp
Labels: bugfix

#594 [EXPLORER] Fix auto startup of Start Menu
  base/shell/explorer/explorer.cpp
  base/shell/explorer/precomp.h
  base/shell/explorer/startup.cpp
  base/system/userinit/userinit.c
Labels: bugfix

#604 [SHELL32] Implement 'General' tab of Folder Options
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement

#602 [SHLWAPI][APITESTS] Add test for PathUnExpandEnvStringsForUser
  dll/win32/shlwapi/shlwapi.spec
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/PathUnExpandEnvStringsForUser.c
  modules/rostests/apitests/shlwapi/testlist.c
Labels: ROSTESTS

#618 [REGEDIT] fix importing very big *.reg files (HEX values commonly)
  base/applications/regedit/regproc.c
Labels: bugfix

#584 [CMAKE] Add support for VS 15.7.1 / CL 19.14.x
  configure.cmd
Labels: trivial fix

#585 Add a document on the rules we should follow while managing/reviewing PRs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PULL_REQUEST_MANAGEMENT.md
Labels: community, help wanted

#626 [TRANSLATION][WHOAMI] Add Italian resource
  base/applications/cmdutils/whoami/lang/it-IT.rc
  base/applications/cmdutils/whoami/whoami.rc
Labels: TRANSLATION

#591 [FONT][FREETYPE] Refactor global variable names and locking
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#510 CORE-14463 Fix possible out of bounds access in EngBitBlt
  win32ss/gdi/eng/bitblt.c
  win32ss/gdi/eng/bitblt_new.c
  win32ss/gdi/ntgdi/rect.h
Labels: bugfix
