Repository reactos/reactos, pull requests merged in 2019-04, with the labels that each got.

#1259 [WIN32SS][NTUSER] Fix message time
  win32ss/gdi/eng/eng.h
  win32ss/user/ntuser/event.c
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/misc.c
  win32ss/user/ntuser/mouse.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/msgqueue.h
  win32ss/user/ntuser/timer.c
Labels: bugfix

#1508 [GDI32_APITEST] Rewrite LPtoDP testcase
  modules/rostests/apitests/gdi32/LPtoDP.c
Labels: ROSTESTS, bugfix

#1509 [GDI32_APITEST] Rewrite DPtoLP testcase
  modules/rostests/apitests/gdi32/DPtoLP.c
Labels: ROSTESTS, bugfix

#1515 [MSPAINT] Set default extension .bmp
  base/applications/mspaint/main.cpp
Labels: enhancement

#1518 [SHELL32] Implement 'New Link' (Retrial of #1510)
  dll/win32/shell32/CNewMenu.cpp
  dll/win32/shell32/CNewMenu.h
Labels: bugfix, enhancement

#1520 [CPL][APPWIZ] Set description
  dll/cpl/appwiz/createlink.c
Labels: enhancement

#1493 [DPNHPAST] Import dpnhpast.dll from Wine (Staging) 4.5
  dll/directx/wine/CMakeLists.txt
  dll/directx/wine/dpnhpast/CMakeLists.txt
  dll/directx/wine/dpnhpast/dpnhpast.spec
  dll/directx/wine/dpnhpast/main.c
  dll/directx/wine/dpnhpast/version.rc
  media/doc/README.WINE
Labels: WINESYNC, enhancement

#1513 [PSDK] Improve lmrepl.h
  sdk/include/psdk/lmrepl.h
Labels: enhancement, trivial fix

#1524 [CMAKE] Fix LINK_DEPENDS usage
  sdk/cmake/gcc.cmake
  sdk/cmake/msvc.cmake
Labels: bugfix

#1514 [COMDLG32] Save open/save location by extension
  dll/win32/comdlg32/filedlg.c
Labels: enhancement

#803 [KERNEL32] Add an (incomplete) pre-implementation for SetThreadStackGuarantee().
  dll/win32/kernel32/client/thread.c
Labels: WIP, enhancement

#1065 [WIN32K][NTUSER] Use 2nd parameter for NtUserGetThreadDesktop
  win32ss/include/ntuser.h
  win32ss/user/ntuser/desktop.c
  win32ss/user/user32/misc/desktop.c
Labels: bugfix, enhancement

#1526 [REACTOS] Replace remnant SPIF_SENDWININICHANGE by SPIF_SENDCHANGE
  base/applications/mspaint/registry.cpp
  base/system/userinit/livecd.c
  dll/win32/uxtheme/system.c
  sdk/include/psdk/winuser.h
  win32ss/user/ntuser/sysparams.c
Labels: refactoring
