Repository reactos/reactos, pull requests merged in 2019-07, with the labels that each got.

#1705 Add CODEOWNERS file
  CODEOWNERS
  MAINTAINERS
Labels: enhancement

#1706 [ACPICA] Fix MSVC x64 build
  drivers/bus/acpi/acpica/include/platform/acmsvc.h
  drivers/bus/acpi/acpica/include/platform/acwin64.h
  drivers/bus/acpi/acpica/namespace/nsnames.c
Labels: x64

#1739 [WIN32SS][NTGDI] Support raster fonts (*.fnt and *.fon)
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement, review pending

#1740 [DSOUND_NEW] Completely fix gcc compilation (addendum to #1672)
  dll/directx/dsound_new/CMakeLists.txt
Labels: bugfix, enhancement

#1724 [W32Time] Use a reasonable fallback of 9 hours
  base/services/w32time/w32time.c
Labels: enhancement

#1650 Review Turkish translations [WIP]
  base/applications/calc/lang/tr-TR.rc
  base/applications/games/solitaire/lang/tr-TR.rc
  base/applications/games/spider/lang/tr-TR.rc
  base/applications/games/winmine/lang/tr-TR.rc
  base/applications/mplay32/lang/tr-TR.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/sndrec32/lang/tr-TR.rc
  base/applications/sndvol32/lang/tr-TR.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/winhlp32/lang/Tr.rc
  base/applications/wordpad/lang/tr-TR.rc
  base/applications/write/lang/Tr.rc
  media/doc/For_Turkish_Translation.txt
Labels: TRANSLATION

#1683 [UMPNPMGR] Implement registry handler functions for wizard suppression
  base/services/umpnpmgr/install.c
  base/services/umpnpmgr/precomp.h
  base/services/umpnpmgr/umpnpmgr.c
Labels: enhancement

#1684 Fix Computer Name Change to update Hostname on reboot.
  base/system/winlogon/winlogon.c
  dll/win32/netid/netid.c
Labels: bugfix

#1732 [USER32_APITEST][INCLUDE] Add MessageStateAnalyzer testcase
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/MessageStateAnalyzer.c
  modules/rostests/apitests/user32/testlist.c
  sdk/include/psdk/windowsx.h
  sdk/include/reactos/msgdump.h
Labels: ROSTESTS

#1754 [MEDIA][FONTS] Add Comic Sans MS fonts (comic.ttf, comicbd.ttf)
  media/fonts/CMakeLists.txt
  media/fonts/comic.ttf
  media/fonts/comicbd.ttf
  media/fonts/doc/ComicSansMS/OFL.txt
Labels: WIP

#1744 [REACTOS] Fix warning unary minus operator warnings
  drivers/bus/acpi/cmbatt/cmbatt.c
  sdk/lib/drivers/sound/shared/time.c
  subsystems/win/basesrv/dosdev.c
  win32ss/drivers/font/bmfd/bmfd.h
  win32ss/drivers/font/bmfd/glyph.c
  win32ss/user/ntuser/menu.c
Labels: warnings

#1695 [USETUP] Use "L" key instead of "D" for deleting partitions at 1st setup stage
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/pt-PT.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
  base/setup/usetup/usetup.c
Labels: enhancement

#1757 [FREELDR] Trivial improvements
  boot/freeldr/freeldr/arch/i386/xboxdisk.c
  boot/freeldr/freeldr/disk/disk.c
Labels: bugfix, enhancement

#1761 [WIN32]/[SHELLEXT]: pt_PT_Translation minor improvements and object po…
  dll/shellext/netshell/lang/pt-PT.rc
  dll/win32/syssetup/lang/pt-PT.rc
Labels: TRANSLATION

#1762 [FREELDR] Implement proper partition type detection and handling
  boot/freeldr/freeldr/arch/i386/hwdisk.c
  boot/freeldr/freeldr/arch/i386/machpc.c
  boot/freeldr/freeldr/arch/i386/machxbox.c
  boot/freeldr/freeldr/arch/i386/xboxdisk.c
  boot/freeldr/freeldr/disk/disk.c
  boot/freeldr/freeldr/disk/partition.c
  boot/freeldr/freeldr/include/arch/i386/machxbox.h
  boot/freeldr/freeldr/include/disk.h
  sdk/include/psdk/ntdddisk.h
Labels: enhancement
