Repository reactos/reactos, pull requests merged in 2019-11, with the labels that each got.

#2008 [KERNEL32_APITEST] Strengthen MultiByteToWideChar(CP_UTF8, ...) testcase
  modules/rostests/apitests/kernel32/MultiByteToWideChar.c
Labels: ROSTESTS

#2009 [WIN32SS][NTUSER][USER32] Fix menu checkmarks
  win32ss/user/ntuser/draw.c
  win32ss/user/user32/windows/draw.c
Labels: bugfix

#1957 [MEDIA][FONTS] Restore 'Source Sans Pro' partially for Mizu theme
  media/fonts/CMakeLists.txt
  media/fonts/SourceSansPro-Bold.ttf
  media/fonts/SourceSansPro-BoldIt.ttf
  media/fonts/SourceSansPro-It.ttf
  media/fonts/SourceSansPro-Regular.ttf
  media/fonts/doc/SourceSansPro/LICENSE.txt
  media/fonts/doc/SourceSansPro/README.md
Labels: bugfix, enhancement

#2007 [KERNEL32] Fix MultiByteToWideChar(CP_UTF8, ...)
  dll/win32/kernel32/winnls/string/nls.c
Labels: bugfix

#2021 [SHELL32] Initial SendTo implementation
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/CSendToMenu.cpp
  dll/win32/shell32/CSendToMenu.h
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/res/rgs/sendtomenu.rgs
  dll/win32/shell32/rgs_res.rc
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement

#1385 [OSK] Reduce the delay when redrawing LED keyboard resources
  base/applications/osk/main.c
  base/applications/osk/precomp.h
Labels: WIP, bugfix

#2086 [CMAKE] Disable EH4 for x64 and VS versions 16.3+
  sdk/cmake/msvc.cmake
Labels: x64

#1690 [NTOS] Add pool debugging code
  ntoskrnl/mm/ARM3/expool.c
  ntoskrnl/mm/ARM3/pool.c
Labels: bugfix, enhancement

#1709 [NETSTAT] Fix output formats and more
  base/applications/network/netstat/lang/en-US.rc
  base/applications/network/netstat/netstat.c
Labels: refactoring

#1942 Stub GetCurrentPackageId()
  dll/apisets/CMakeLists.txt
  dll/apisets/api-ms-win-appmodel-runtime-l1-1-1.spec
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/kernel32.spec
Labels: NT6+

#1963 [KERNEL32] Stub GetSystemTimePreciseAsFileTime
  dll/apisets/api-ms-win-core-sysinfo-l1-2-0.spec
  dll/apisets/api-ms-win-core-sysinfo-l1-2-1.spec
  dll/win32/kernel32/client/time.c
  dll/win32/kernel32/kernel32.spec
Labels: NT6+

#2103 [CMDUTILS][ATTRIB] Support folder attributes
  base/applications/cmdutils/attrib/attrib.c
  base/applications/cmdutils/attrib/lang/cs-CZ.rc
  base/applications/cmdutils/attrib/lang/de-DE.rc
  base/applications/cmdutils/attrib/lang/el-GR.rc
  base/applications/cmdutils/attrib/lang/en-US.rc
  base/applications/cmdutils/attrib/lang/es-ES.rc
  base/applications/cmdutils/attrib/lang/fr-FR.rc
  base/applications/cmdutils/attrib/lang/hu-HU.rc
  base/applications/cmdutils/attrib/lang/id-ID.rc
  base/applications/cmdutils/attrib/lang/it-IT.rc
  base/applications/cmdutils/attrib/lang/ja-JP.rc
  base/applications/cmdutils/attrib/lang/no-NO.rc
  base/applications/cmdutils/attrib/lang/pl-PL.rc
  base/applications/cmdutils/attrib/lang/ro-RO.rc
  base/applications/cmdutils/attrib/lang/ru-RU.rc
  base/applications/cmdutils/attrib/lang/sk-SK.rc
  base/applications/cmdutils/attrib/lang/sq-AL.rc
  base/applications/cmdutils/attrib/lang/sv-SE.rc
  base/applications/cmdutils/attrib/lang/tr-TR.rc
  base/applications/cmdutils/attrib/lang/uk-UA.rc
  base/applications/cmdutils/attrib/lang/zh-CN.rc
  base/applications/cmdutils/attrib/lang/zh-TW.rc
  base/applications/cmdutils/attrib/resource.h
Labels: review pending
