Repository reactos/reactos, pull requests merged in 2019-06, with the labels that each got.

#1270 Added a Alpha note for new users to the readme
  README.md
Labels: enhancement

#1603 [INFLIB] Fix INFCONTEXT structure to be compatible with the official definition
  sdk/lib/inflib/infcore.c
  sdk/lib/inflib/infget.c
  sdk/lib/inflib/infpriv.h
  sdk/lib/inflib/infput.c
Labels: x64

#1699 [NETSTAT] ShowUdpTable(): Fix "tcp" copypasta
  base/applications/network/netstat/netstat.c
Labels: bugfix

#1698 [FASTFAT] Fix use after free when volume is unmounted
  drivers/filesystems/fastfat/cleanup.c
Labels: bugfix

#1516 [WIN32SS][GDI] Improve stub for EngQueryDeviceAttribute
  win32ss/gdi/eng/stubs.c
Labels: enhancement
