Repository reactos/reactos, pull requests merged in 2019-08, with the labels that each got.

#802 Investigate some potential issues in thread stack creation code (in kernel32 & RTL)
  dll/win32/kernel32/client/thread.c
  dll/win32/kernel32/client/utils.c
  dll/win32/kernel32/include/kernel32.h
  sdk/lib/rtl/thread.c
Labels: bugfix

#804 [KERNEL32] Add some cleanup code in CreateRemoteThread().
  dll/win32/kernel32/client/proc.c
  dll/win32/kernel32/client/thread.c
Labels: bugfix

#1760 [WIN32SS][NTGDI] Improve IntGetOutlineTextMetrics
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement

#1779 [USBAUDIO] Fix compilation issues
  drivers/usb/usbaudio/filter.c
  drivers/usb/usbaudio/pin.c
Labels: bugfix

#1775 [FREELDR] xboxmem: Fix array out-of-bounds access
  boot/freeldr/freeldr/arch/i386/pcmem.c
  boot/freeldr/freeldr/arch/i386/xboxmem.c
  boot/freeldr/freeldr/include/arch/pc/pcbios.h
Labels: bugfix

#1767 [FREELDR] Verbose error output for FS errors
  boot/freeldr/freeldr/lib/inifile/ini_init.c
  boot/freeldr/freeldr/lib/peloader.c
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/wlregistry.c
Labels: enhancement

#1812 [WIN32SS] Fix the last remaining menu regressions
  win32ss/user/ntuser/menu.c
Labels: bugfix

#1069 [NTOSKRNL][PS] Implement NtQueueApcThreadEx and use it in NtQueueApcThread
  ntoskrnl/ps/state.c
  sdk/include/ndk/kefuncs.h
Labels: NT6+

#1046 [KERNEL32] implement CreateSemaphoreExW/A and adjust macroses for it
  dll/win32/kernel32/client/job.c
  dll/win32/kernel32/client/synch.c
  dll/win32/kernel32/include/base_x.h
  dll/win32/kernel32/kernel32.spec
Labels: NT6+

#1738 [TASKMGR] Implement proper process tree ending
  base/applications/taskmgr/endproc.c
  base/applications/taskmgr/precomp.h
Labels: enhancement

#1747 [OSK] General refactoring
  base/applications/osk/CMakeLists.txt
  base/applications/osk/main.c
  base/applications/osk/main.h
  base/applications/osk/osk.h
  base/applications/osk/osk.rc
  base/applications/osk/osk_res.h
  base/applications/osk/precomp.h
  base/applications/osk/settings.c
  base/applications/osk/settings.h
Labels: refactoring

#1811 [NTFS] Handling of $ATTRIBUTE_LIST
  drivers/filesystems/ntfs/attrib.c
  drivers/filesystems/ntfs/mft.c
  drivers/filesystems/ntfs/ntfs.h
Labels: WIP, bugfix

#1700 [NETSTAT] '-p UDP' depends on '-a'
  base/applications/network/netstat/netstat.c
Labels: bugfix

#991 [COMCTL32] Hide status bar size grip when window is maximized
  dll/win32/comctl32/status.c
Labels: WINESYNC

#1566 [JSCRIPT] import wine commits "stub + implement Enumerator()"
  dll/win32/jscript/CMakeLists.txt
  dll/win32/jscript/enumerator.c
  dll/win32/jscript/global.c
  dll/win32/jscript/jscript.h
  dll/win32/jscript/object.c
  dll/win32/jscript/resource.h
Labels: WINESYNC

#1064 [COMCTL32] Export LoadIconMetric and LoadIconWithScaleDown
  dll/win32/comctl32/comctl32.spec
Labels: NT6+

#1693 [USBOHCI_NEW] Refactor OHCI_AbortTransfer function
  drivers/usb/usbohci_new/usbohci.c
Labels: refactoring

#1742 [RSYM] When determining the current function, prefer COFF symbols if they're closer.
  sdk/tools/rsym/rsym.c
Labels: bugfix

#537 CORE-10536. [IPHLPAPI] icmp.c: Complete sync with Wine Staging 1.7.55
  dll/win32/iphlpapi/icmp.c
  media/doc/README.WINE
Labels: WINESYNC, refactoring, trivial fix

#1357 [USETUP] Localize the rest of the hardcoded error message strings
  base/setup/lib/errorcode.h
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
  base/setup/usetup/usetup.c
Labels: enhancement

#1608 Initial implementation of Utility Manager (Accessibility)
  base/applications/CMakeLists.txt
  base/applications/utilman/CMakeLists.txt
  base/applications/utilman/NOTES.txt
  base/applications/utilman/about.c
  base/applications/utilman/dialog.c
  base/applications/utilman/lang/en-US.rc
  base/applications/utilman/precomp.h
  base/applications/utilman/process.c
  base/applications/utilman/res/utilman.ico
  base/applications/utilman/resource.h
  base/applications/utilman/utilman.rc
  media/inf/shortcuts.inf
Labels: WIP, enhancement

#1565 Add support for save and restore reg.exe subcommands
  base/applications/cmdutils/reg/lang/bg-BG.rc
  base/applications/cmdutils/reg/lang/cs-CZ.rc
  base/applications/cmdutils/reg/lang/da-DK.rc
  base/applications/cmdutils/reg/lang/de-DE.rc
  base/applications/cmdutils/reg/lang/en-US.rc
  base/applications/cmdutils/reg/lang/es-ES.rc
  base/applications/cmdutils/reg/lang/fr-FR.rc
  base/applications/cmdutils/reg/lang/it-IT.rc
  base/applications/cmdutils/reg/lang/ja-JP.rc
  base/applications/cmdutils/reg/lang/ko-KR.rc
  base/applications/cmdutils/reg/lang/lt-LT.rc
  base/applications/cmdutils/reg/lang/nl-NL.rc
  base/applications/cmdutils/reg/lang/no-NO.rc
  base/applications/cmdutils/reg/lang/pl-PL.rc
  base/applications/cmdutils/reg/lang/pt-PT.rc
  base/applications/cmdutils/reg/lang/ro-RO.rc
  base/applications/cmdutils/reg/lang/ru-RU.rc
  base/applications/cmdutils/reg/lang/sl-SI.rc
  base/applications/cmdutils/reg/lang/sq-AL.rc
  base/applications/cmdutils/reg/lang/sv-SE.rc
  base/applications/cmdutils/reg/lang/tr-TR.rc
  base/applications/cmdutils/reg/lang/uk-UA.rc
  base/applications/cmdutils/reg/lang/zh-CN.rc
  base/applications/cmdutils/reg/lang/zh-TW.rc
  base/applications/cmdutils/reg/reg.c
  base/applications/cmdutils/reg/resource.h
Labels: WINESYNC

#1649 [NTOS:INBV] Refactor boot screen code and resources
  ntoskrnl/inbv/inbv.c
  ntoskrnl/inbv/logo/1.bmp
  ntoskrnl/inbv/logo/5.bmp
  ntoskrnl/inbv/resources/barserver.bmp
  ntoskrnl/inbv/resources/barwksta.bmp
  ntoskrnl/inbv/resources/copyright.bmp
  ntoskrnl/inbv/resources/fserver.bmp
  ntoskrnl/inbv/resources/fwksta.bmp
  ntoskrnl/inbv/resources/hibernate.bmp
  ntoskrnl/inbv/resources/hserver.bmp
  ntoskrnl/inbv/resources/hwksta.bmp
  ntoskrnl/inbv/resources/line.bmp
  ntoskrnl/inbv/resources/line_pal.bmp
  ntoskrnl/inbv/resources/logo.bmp
  ntoskrnl/inbv/resources/progress.bmp
  ntoskrnl/inbv/resources/shutdown.bmp
  ntoskrnl/include/internal/inbv.h
  ntoskrnl/include/resource.h
  ntoskrnl/ntoskrnl.rc
Labels: WIP, modding, refactoring
