Repository reactos/reactos, pull requests merged in 2019-03, with the labels that each got.

#1386 Fix the MSVC version of ldexp filling up the FPU stack and bailing out with #IND after a few calls.
  sdk/lib/crt/libcntpr.cmake
  sdk/lib/crt/math/i386/atan2.c
  sdk/lib/crt/math/i386/exp.c
  sdk/lib/crt/math/i386/fmod.c
  sdk/lib/crt/math/i386/fmodf.c
  sdk/lib/crt/math/i386/ldexp.c
Labels: bugfix

#1384 [DRWTSN32] Print some extra exception info
  base/applications/drwtsn32/sysinfo.cpp
Labels: enhancement

#1383 added silhouette-wallpaper
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/ReadMe.txt
  modules/wallpapers/Silhouette/CMakeLists.txt
  modules/wallpapers/Silhouette/LICENSE.md
  modules/wallpapers/Silhouette/README.md
  modules/wallpapers/Silhouette/reactos_silhouette_dark.png
  modules/wallpapers/Silhouette/reactos_silhouette_light.png
Labels: enhancement

#1376 [WALLPAPER] Add ReactOS Soft Blue Wallpaper
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/ReactOS_Soft_Blue.png
  modules/wallpapers/ReactOS_Soft_Blue_16x9.png
  modules/wallpapers/ReactOS_Soft_Blue_4x3.png
  modules/wallpapers/ReadMe.txt
Labels: enhancement

#1403 [OLE32] Implement WS_EX_ACCEPTFILES
  dll/win32/ole32/ole2.c
Labels: WIP

#1389 [OSK] Use the previous coordinate data of the dialog when launching
  base/applications/osk/main.c
  base/applications/osk/main.h
  base/applications/osk/settings.c
Labels: enhancement

#1267 [SHPOLICY] Fix the missing backslash in SHRestricted
  dll/win32/shell32/wine/shpolicy.c
Labels: WINESYNC, WIP

#1195 [TRANSLATION][SERVICES] Add Bulgarian translation.
  base/system/services/lang/bg-BG.rc
  base/system/services/services.rc
Labels: WIP, manual merging

#1194 Update bg-BG.rc
  base/system/winlogon/lang/bg-BG.rc
Labels: manual merging

#1196 [TRANSLATION][RUNONCE] Add Bulgarian translation.
  base/system/runonce/lang/bg-BG.rc
  base/system/runonce/runonce.rc
Labels: manual merging
