Repository reactos/reactos, pull requests merged in 2020-08, with the labels that each got.

#3014 [RAPPS] update some file-header
  base/applications/rapps/available.cpp
  base/applications/rapps/cabinet.cpp
  base/applications/rapps/gui.cpp
  base/applications/rapps/installed.cpp
  base/applications/rapps/integrity.cpp
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/misc.cpp
  base/applications/rapps/settingsdlg.cpp
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: trivial fix

#3017 Grammar fix in ru-RU of syssetup
  dll/win32/syssetup/lang/ru-RU.rc
Labels: TRANSLATION

#3026 [IMM32] Add ImmSetActiveContext stub
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
Labels: enhancement

#3023 [Win32SS][USER] Fix stack memory disclosure in NtUserBuildPropList
  win32ss/user/ntuser/prop.c
Labels: trivial fix

#2875 [ZIPFLDR] Add some bitmap resources CORE-17092
  dll/shellext/zipfldr/CZipExtract.cpp
  dll/shellext/zipfldr/lang/de-DE.rc
  dll/shellext/zipfldr/lang/en-US.rc
  dll/shellext/zipfldr/lang/et-EE.rc
  dll/shellext/zipfldr/lang/fr-FR.rc
  dll/shellext/zipfldr/lang/hi-IN.rc
  dll/shellext/zipfldr/lang/it-IT.rc
  dll/shellext/zipfldr/lang/ja-JP.rc
  dll/shellext/zipfldr/lang/pl-PL.rc
  dll/shellext/zipfldr/lang/ro-RO.rc
  dll/shellext/zipfldr/lang/ru-RU.rc
  dll/shellext/zipfldr/lang/sv-SE.rc
  dll/shellext/zipfldr/lang/zh-CN.rc
  dll/shellext/zipfldr/res/header.bmp
  dll/shellext/zipfldr/res/watermark.bmp
  dll/shellext/zipfldr/res/zipfldr.bmp
  dll/shellext/zipfldr/resource.h
  dll/shellext/zipfldr/zipfldr.rc
Labels: enhancement

#3025 [IMM32][NTUSER] Implement ImmGetHotKey
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imm.c
  sdk/include/psdk/imm.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: WINESYNC, enhancement

#3027 [IMM32] Add ImmShowSoftKeyboard and ImmDestroySoftKeyboard
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
Labels: enhancement

#3009 [IMM32] Stub ImmRegisterClient CORE-16479
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
Labels: enhancement

#3028 [EXPLORER] Improve CTrayWindow::OnCopyData
  base/shell/explorer/syspager.cpp
  base/shell/explorer/traywnd.cpp
Labels: bugfix, enhancement

#3030 [SHELL32] Optimize change notification
  dll/win32/shell32/shelldesktop/CDirectoryList.cpp
  dll/win32/shell32/shelldesktop/CDirectoryList.h
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.cpp
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.h
  dll/win32/shell32/shelldesktop/CFilePathList.cpp
  dll/win32/shell32/shelldesktop/CFilePathList.h
  dll/win32/shell32/shelldesktop/CMakeLists.txt
Labels: enhancement

#3031 [SHELL32] Improve callbacking of CDefView
  dll/win32/shell32/CDefView.cpp
Labels: enhancement

#3032 [SDK][INCLUDE] Add CLSID_CopyToMenu and CLSID_MoveToMenu
  modules/rostests/apitests/com/com_apitest.h
  sdk/include/reactos/shlguid_undoc.h
Labels: enhancement, trivial fix

#3033 [EXPLORER] Implement ABN_WINDOWARRANGE
  base/shell/explorer/appbar.cpp
  base/shell/explorer/traywnd.cpp
Labels: enhancement

#3034 [NTUSER] Add more QUERY_WINDOW_* values
  win32ss/include/ntuser.h
  win32ss/user/ntuser/window.c
Labels: enhancement

#3035 [IMM32][NTUSER] Add ImmGetImeInfoEx
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: enhancement

#3036 [IMM32] Improve imm32.spec
  dll/win32/imm32/imm32.spec
Labels: enhancement, trivial fix

#3037 [SHELL32] Add IDD_LINK_PROBLEM and IDS_LINK_INVALID
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: bugfix, enhancement

#3038 [SHELL32_APITEST] Strengthen SHChangeNotify testcase more
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/SHChangeNotify.h
  modules/rostests/apitests/shell32/shell-notify.cpp
Labels: ROSTESTS, enhancement

#3041 [SHELL32_APITEST] Strengthen SHAppBarMessage testcase for workarea
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
Labels: ROSTESTS, enhancement

#3049 [APPWIZ] Don't hung up in Gecko download cancellation
  dll/cpl/appwiz/addons.c
Labels: bugfix

#3043 [SHELL32] Polish translation for "Problem with Shortcut" dialog
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#3045 [FONTVIEW] Fix regression; opening files won't list files
  base/applications/fontview/fontview.c
Labels: bugfix

#3024 [NTOS:PS] Fix stack memory disclosure in PsGetContextThread
  ntoskrnl/ps/debug.c
Labels: bugfix

#3010 [USERSRV] Update Hebrew translation
  win32ss/user/winsrv/usersrv/lang/he-IL.rc
Labels: TRANSLATION

#3016 [TASKMGR] Fix display of process command-line string
  base/applications/taskmgr/perfdata.c
  base/applications/taskmgr/perfdata.h
Labels: bugfix

#3044 [SHELL32] Implement Copy To Folder (retrial)
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CCopyToMenu.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/res/rgs/copytomenu.rgs
  dll/win32/shell32/rgs_res.rc
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement

#3006 [REGEDIT] Improve importing registry files messagebox CORE-15494
  base/applications/regedit/regedit.c
Labels: refactoring

#3046 [SHELL32] Fix regression #2703 CORE-17041 (trial)
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: bugfix, needs tests

#3018 [USERINIT][WINLOGON][USER32][USERSRV] Update Traditional Chinese (Taiwan) translation
  base/system/userinit/lang/zh-TW.rc
  base/system/winlogon/lang/zh-TW.rc
  win32ss/user/user32/lang/zh-TW.rc
  win32ss/user/winsrv/usersrv/lang/zh-TW.rc
Labels: TRANSLATION

#2953 Legal notice about WRK
  README.md
Labels: community

#2829 [COMCTL32] Fix issue on showing mouse pointer on Mouse Prop Dlg
  dll/win32/comctl32/static.c
Labels: bugfix, send upstream

#2814 [SHELLFIND] Fix column sorting. CORE-16825
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix

#3051 [SHLWAPI] Localize StrFormatByteSizeA/W
  dll/win32/shlwapi/lang/da-DK.rc
  dll/win32/shlwapi/lang/de-DE.rc
  dll/win32/shlwapi/lang/en-US.rc
  dll/win32/shlwapi/lang/es-ES.rc
  dll/win32/shlwapi/lang/fi-FI.rc
  dll/win32/shlwapi/lang/fr-FR.rc
  dll/win32/shlwapi/lang/he-IL.rc
  dll/win32/shlwapi/lang/hu-HU.rc
  dll/win32/shlwapi/lang/it-IT.rc
  dll/win32/shlwapi/lang/ja-JP.rc
  dll/win32/shlwapi/lang/ko-KR.rc
  dll/win32/shlwapi/lang/lt-LT.rc
  dll/win32/shlwapi/lang/nl-NL.rc
  dll/win32/shlwapi/lang/no-NO.rc
  dll/win32/shlwapi/lang/pl-PL.rc
  dll/win32/shlwapi/lang/pt-PT.rc
  dll/win32/shlwapi/lang/ro-RO.rc
  dll/win32/shlwapi/lang/ru-RU.rc
  dll/win32/shlwapi/lang/sk-SK.rc
  dll/win32/shlwapi/lang/sl-SI.rc
  dll/win32/shlwapi/lang/sq-AL.rc
  dll/win32/shlwapi/lang/sv-SE.rc
  dll/win32/shlwapi/lang/tr-TR.rc
  dll/win32/shlwapi/lang/uk-UA.rc
  dll/win32/shlwapi/lang/zh-CN.rc
  dll/win32/shlwapi/resource.h
  dll/win32/shlwapi/string.c
Labels: enhancement, send upstream

#3062 [TRANSLATION] Update PT translation for CPL files
  dll/cpl/appwiz/lang/pt-PT.rc
  dll/cpl/intl/lang/pt-PT.rc
  dll/cpl/liccpa/lang/pt-PT.rc
  dll/cpl/powercfg/lang/pt-PT.rc
Labels: TRANSLATION

#2978 [TRANSLATION] Hungarian translation update for aclui, avifil32, brows…
  dll/win32/aclui/lang/hu-HU.rc
  dll/win32/avifil32/lang/avifile_Hu.rc
  dll/win32/browseui/lang/hu-HU.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/crypt32/lang/crypt32_Hu.rc
  dll/win32/cryptdlg/lang/cryptdlg_Hu.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/userenv/lang/hu-HU.rc
Labels: TRANSLATION

#3064 [shell32] [pl-pl] copy to folder UPDATE
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#3047 [SHELL32] French translation for "Problem with Shortcut" dialog
  dll/win32/shell32/lang/fr-FR.rc
Labels: TRANSLATION

#3022 [MOUNTMGR] Fix pool memory disclosure in QueryPointsFromMemory
  drivers/filters/mountmgr/point.c
Labels: trivial fix

#3059 [NTUSER] Set ERROR_INVALID_WINDOW_HANDLE when PostMessage failed
  win32ss/user/ntuser/message.c
Labels: bugfix

#3073 [Explorer] [pl-pl] Description Fix
  base/shell/explorer/lang/pl-PL.rc
Labels: TRANSLATION

#3074 [browseui] [pl-pl] MoveTo Description Fix
  dll/win32/browseui/lang/pl-PL.rc
Labels: TRANSLATION

#3013 [REISERFS] Fix MSVC compilation with '_VS_ANALYZE_'
  drivers/filesystems/reiserfs/src/write.c
Labels: warnings

#3065 [TRANSLATION] Improve Chinese Traditional (zh-TW) translation
  base/applications/taskmgr/lang/zh-TW.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/welcome/lang/zh-TW.rc
  dll/shellext/deskmon/lang/zh-TW.rc
  dll/shellext/netshell/lang/zh-TW.rc
  dll/shellext/zipfldr/lang/zh-TW.rc
  dll/shellext/zipfldr/zipfldr.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: TRANSLATION

#2546 Update zh-CN.rc
  base/applications/osk/lang/zh-CN.rc
Labels: TRANSLATION

#2545 the zh-CN.rc of the utilman
  base/applications/utilman/umandlg/lang/zh-CN.rc
  base/applications/utilman/umandlg/umandlg.rc
Labels: TRANSLATION

#3040 [PC98VID] Add framebuffer video miniport driver for NEC PC-98 series
  boot/bootdata/hiveinst_pc98.inf
  sdk/cmake/CMakeMacros.cmake
  sdk/include/reactos/drivers/pc98/video.h
  win32ss/drivers/miniport/CMakeLists.txt
  win32ss/drivers/miniport/pc98vid/CMakeLists.txt
  win32ss/drivers/miniport/pc98vid/hardware.c
  win32ss/drivers/miniport/pc98vid/ioctl.c
  win32ss/drivers/miniport/pc98vid/pc98disp.inf
  win32ss/drivers/miniport/pc98vid/pc98vid.c
  win32ss/drivers/miniport/pc98vid/pc98vid.h
  win32ss/drivers/miniport/pc98vid/pc98vid.rc
  win32ss/drivers/miniport/pc98vid/pc98vid_reg.inf
Labels: enhancement

#3067 [BROWSEUI] Few corrections for de-DE translation
  dll/win32/browseui/lang/de-DE.rc
Labels: TRANSLATION

#3078 [FREELDR] Bootsector fix for CHS read on old BIOSes which lack INT 3e
  boot/freeldr/bootsect/fat32.S
Labels: bugfix, trivial fix

#3061 [NTUSER] Improve SPI_SETWORKAREA setting for multiple monitors
  win32ss/user/ntuser/sysparams.c
Labels: enhancement, help wanted, needs tests

#3075 [SHELL32] Enable CopyTo/MoveTo textbox functionality
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CCopyToMoveToMenu.h
  dll/win32/shell32/CMoveToMenu.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/wine/brsfolder.c
Labels: enhancement

#3082 [Translation][CMD] Update PL translation
  base/shell/cmd/lang/pl-PL.rc
Labels: TRANSLATION

#3087 [RAPPS] cmdline enhancement
  base/applications/rapps/CMakeLists.txt
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/dialogs.h
  base/applications/rapps/include/gui.h
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/resource.h
  base/applications/rapps/include/unattended.h
  base/applications/rapps/include/winmain.h
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-TW.rc
  base/applications/rapps/misc.cpp
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement

#3088 [BASE] Improve Spanish translation
  base/applications/mspaint/lang/es-ES.rc
  base/applications/network/ping/lang/es-ES.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/osk/lang/es-ES.rc
  base/applications/rapps/lang/es-ES.rc
  base/shell/cmd/lang/es-ES.rc
  base/system/subst/lang/es-ES.rc
  base/system/userinit/lang/es-ES.rc
  base/system/winlogon/lang/es-ES.rc
Labels: TRANSLATION

#3093 [SHELL32] CRecyclerDropTarget spams log (Err rather than Trace) on nominal case (trivial fix)
  dll/win32/shell32/droptargets/CRecyclerDropTarget.cpp
Labels: trivial fix

#3021 [Win32SS][GDI] Fix pool memory disclosure in NtGdiGetGlyphOutline
  win32ss/gdi/ntgdi/font.c
Labels: trivial fix

#2991 [NTGDI] Fix stack memory disclosure in NtGdiGetTextMetricsW
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix

#2762 [MSGINA][SYSSETUP] Implement Friendly UI shutdown dialog
  boot/bootdata/hivesft.inf
  dll/win32/msgina/lang/bg-BG.rc
  dll/win32/msgina/lang/cs-CZ.rc
  dll/win32/msgina/lang/de-DE.rc
  dll/win32/msgina/lang/en-US.rc
  dll/win32/msgina/lang/es-ES.rc
  dll/win32/msgina/lang/fr-FR.rc
  dll/win32/msgina/lang/he-IL.rc
  dll/win32/msgina/lang/hu-HU.rc
  dll/win32/msgina/lang/id-ID.rc
  dll/win32/msgina/lang/it-IT.rc
  dll/win32/msgina/lang/ja-JP.rc
  dll/win32/msgina/lang/no-NO.rc
  dll/win32/msgina/lang/pl-PL.rc
  dll/win32/msgina/lang/pt-PT.rc
  dll/win32/msgina/lang/ro-RO.rc
  dll/win32/msgina/lang/ru-RU.rc
  dll/win32/msgina/lang/sk-SK.rc
  dll/win32/msgina/lang/sq-AL.rc
  dll/win32/msgina/lang/tr-TR.rc
  dll/win32/msgina/lang/uk-UA.rc
  dll/win32/msgina/lang/zh-CN.rc
  dll/win32/msgina/lang/zh-TW.rc
  dll/win32/msgina/msgina.spec
  dll/win32/msgina/resource.h
  dll/win32/msgina/shutdown.c
  dll/win32/syssetup/wizard.c
Labels: enhancement

#3098 [RAPPS] improve when to call ConInitStdStreams
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement

#3029 [NTOS:RTL] Implement the kernel-mode version of RtlGetNtProductType
  ntoskrnl/rtl/misc.c
  sdk/include/ndk/rtlfuncs.h
Labels: enhancement

#3100 [RAMDISK] Add setup information file for the ramdisk driver
  drivers/storage/class/ramdisk/CMakeLists.txt
  drivers/storage/class/ramdisk/ramdisk.inf
Labels: enhancement

#3101 [RAPPS] settings read/write refactor
  base/applications/rapps/CMakeLists.txt
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/settings.h
  base/applications/rapps/include/winmain.h
  base/applications/rapps/settings.cpp
  base/applications/rapps/settingsdlg.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement
