Repository reactos/reactos, pull requests merged in 2020-02, with the labels that each got.

#2276 [SHELL32] Display the version string on About dialog programmatically
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/wine/shell32_main.c
Labels: bugfix, enhancement

#2293 [TRANSLATION] Update Hungarian translation of userenv
  dll/win32/userenv/lang/hu-HU.rc
Labels: TRANSLATION

#2306 [CRT] Only write to the output buffer when necessary in _strupr
  sdk/lib/crt/string/strupr.c
Labels: bugfix

#2302 [PORTCLS] Fixes to power IRP handling
  drivers/wdm/audio/backpln/portcls/irp.cpp
Labels: bugfix

#2316 [CPL][APPWIZ] Attempt to enable Visual Style
  dll/cpl/appwiz/createlink.c
Labels: WIP

#2301 [HAL] Use a spin lock for the DMA adapter list.
  hal/halx86/generic/dma.c
Labels: bugfix

#2315 [SHELL32][SYSSETUP] Shell folders in My Documents
  dll/win32/shell32/wine/shellpath.c
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/fi-FI.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/lt-LT.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/resource.h
  dll/win32/syssetup/wizard.c
  sdk/include/reactos/libs/syssetup/syssetup.h
Labels: enhancement

#2334 [NFSD][TELNETD][LIBTIRPC][MAN] Don't hardcode C:\ReactOS
  base/services/nfsd/idmap.c
  base/services/nfsd/nfs41_daemon.c
  base/services/telnetd/telnetd.c
  dll/3rdparty/libtirpc/src/wintirpc.c
  dll/3rdparty/libtirpc/tirpc/netconfig.h
  modules/rosapps/applications/sysutils/man/man.cmd
Labels: bugfix, enhancement

#2336 [USETUP][BOOTDATA] Include optional CJK standard fonts
  base/setup/lib/mui.c
  base/setup/lib/muifonts.h
  base/setup/lib/setuplib.c
  base/setup/lib/setuplib.h
  base/setup/lib/substset.h
  base/setup/usetup/usetup.c
  boot/bootdata/packages/reactos.dff.in
Labels: enhancement

#2313 [OPENGL32] Fix RGB <-> BGR mismatch
  dll/opengl/opengl32/swimpl.c
Labels: bugfix

#2303 [NTOS:WMI] WMIP_GUID_OBJECT must start with an event object, as it is waitable.
  ntoskrnl/wmi/guidobj.c
  ntoskrnl/wmi/wmip.h
Labels: bugfix

#2000 [APPCOMPAT][ACCPAGE][SDB][ROSTESTS] Implement compatibility modes for Windows 10, Server 2016 and 2019
  dll/appcompat/shims/layer/versionlie.c
  dll/shellext/acppage/CLayerUIPropPage.cpp
  media/sdb/sysmain.xml
  modules/rostests/apitests/appshim/versionlie.c
Labels: enhancement

#1854 Fix unneeded error Popup with Git for Windows.
  dll/win32/shell32/shlexec.cpp
Labels: bugfix

#2322 [RAPPS] Allow tabbing trough controls in the main window
  base/applications/rapps/gui.cpp
Labels: enhancement

#2369 [SYSDM][MSGINA][NETID][SHELL32] Japanese translation (retrial)
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/win32/msgina/lang/ja-JP.rc
  dll/win32/netid/lang/ja-JP.rc
  dll/win32/shell32/lang/ja-JP.rc
Labels: TRANSLATION
