Repository reactos/reactos, pull requests merged in 2020-12, with the labels that each got.

#3383 [NTDLL_APITEST] Add test showing that RtlImageDirectoryEntryToData works on 32-bit and 64-bit images
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlImageDirectoryEntryToData.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: ROSTESTS, enhancement

#3358 [RTL] Fix RtlImageDirectoryEntryToData for 32 bit images on x64
  sdk/lib/rtl/image.c
Labels: x64

#3309 [BROWSEUI][PSDK] Stubplement UserAssist CORE-17345
  dll/win32/browseui/CMakeLists.txt
  dll/win32/browseui/CUserAssist.cpp
  dll/win32/browseui/CUserAssist.h
  dll/win32/browseui/browseui.cpp
  dll/win32/browseui/browseui.rc
  dll/win32/browseui/precomp.h
  dll/win32/browseui/res/userassist.rgs
  dll/win32/browseui/resource.h
  sdk/include/psdk/shlguid.h
  sdk/include/psdk/shobjidl.idl
Labels: enhancement

#3326 [BROWSEUI][PSDK] Stubplement ShellTaskScheduler CORE-17337
  dll/win32/browseui/CMakeLists.txt
  dll/win32/browseui/CShellTaskScheduler.cpp
  dll/win32/browseui/CShellTaskScheduler.h
  dll/win32/browseui/browseui.cpp
  dll/win32/browseui/browseui.rc
  dll/win32/browseui/precomp.h
  dll/win32/browseui/res/shelltaskscheduler.rgs
  dll/win32/browseui/resource.h
  sdk/include/psdk/shlguid.h
Labels: enhancement

#3371 [REGEDIT] Display finished find messagebox after finishing the search via "Find Next" (F3) CORE-17368
  base/applications/regedit/find.c
  base/applications/regedit/framewnd.c
  base/applications/regedit/main.h
Labels: enhancement, refactoring

#3317 [SHELL32] spec: Fix SHGetAttributesFromDataObject() parameter types
  dll/win32/shell32/shell32.spec
Labels: trivial fix

#3203 [GDI32_APITEST] Add tests for SetLayout and its effects
  modules/rostests/apitests/gdi32/CMakeLists.txt
  modules/rostests/apitests/gdi32/SetLayout.c
  modules/rostests/apitests/gdi32/testlist.c
Labels: ROSTESTS

#3409 [SHIMGVW] Update Czech translation
  dll/win32/shimgvw/lang/cs-CZ.rc
Labels: TRANSLATION

#3388 [TRANSLATION] Hungarian translation update for mspaint, notepad, word…
  base/applications/cmdutils/help/lang/hu-HU.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/wordpad/lang/hu-HU.rc
  base/shell/cmd/lang/hu-HU.rc
  dll/cpl/appwiz/appwiz.rc
  dll/cpl/appwiz/lang/hu-HU.rc
  dll/win32/devmgr/lang/hu-HU.rc
  dll/win32/newdev/lang/hu-HU.rc
Labels: TRANSLATION

#3403 [OSK] Adjust the resource size, width and heigh properties of buttons…
  base/applications/osk/lang/fr-CA.rc
  base/applications/osk/lang/fr-FR.rc
Labels: TRANSLATION, enhancement

#3404 [UNIATA] Emulate SCSI INQUIRY to properly recognize Xbox DVD drives
  drivers/storage/ide/uniata/id_ata.cpp
Labels: enhancement

#3370 [ACPI] AcpiRegOpenKey(): Add a missing OBJ_KERNEL_HANDLE
  drivers/bus/acpi/main.c
Labels: trivial fix

#3372 [ACPI] acpi_create_registry_table(): Close the key handle, on errors
  drivers/bus/acpi/busmgr/utils.c
Labels: bugfix
