Repository reactos/reactos, pull requests merged in 2020-03, with the labels that each got.

#2404 [TRANSLATION][TIMEDATE] Romanian & Italian translation update
  dll/cpl/timedate/lang/it-IT.rc
  dll/cpl/timedate/lang/ro-RO.rc
Labels: TRANSLATION

#2396 [ntuser] fix ShellHook notifications when creating/activating windows
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#2402 [PSDK] winbase.h: Add missing LPEXCEPTION_RECORD. ROSTESTS-251
  sdk/include/psdk/winbase.h
  sdk/include/xdk/winnt_old.h
Labels: enhancement

#2341 [TRANSLATION] Add Hungarian translation for explorer, msgina
  base/shell/explorer/explorer.rc
  base/shell/explorer/lang/hu-HU.rc
  dll/win32/msgina/lang/hu-HU.rc
  dll/win32/msgina/msgina.rc
Labels: TRANSLATION

#2342 [TRANSLATION] Update PT translation
  dll/win32/browseui/lang/pt-PT.rc
  dll/win32/cryptui/lang/cryptui_Pt.rc
  dll/win32/ieframe/ieframe.rc
  dll/win32/ieframe/lang/pt-PT.rc
  dll/win32/mpr/lang/mpr_Pt.rc
Labels: TRANSLATION

#2401 [LDR] Include source dll in static snap failure dprint
  dll/ntdll/ldr/ldrpe.c
Labels: enhancement

#1756 [portcls] Add in missing IoControlCode switches
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Labels: enhancement

#1937 [ACLUI] 1+2 functions: Properly enumerate cache+queue entries
  dll/win32/aclui/sidcache.c
Labels: bugfix
