Repository reactos/reactos, pull requests merged in 2020-09, with the labels that each got.

#2689 [GDI32] Preserve PitchAndFamily across GetTextMetricsW call
  win32ss/gdi/ntgdi/text.c
Labels: bugfix

#2472 Improve cdrom targets
  CMakeLists.txt
  boot/CMakeLists.txt
  boot/bootdata/packages/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
Labels: enhancement

#3048 [SHELL32] Big fix for change notification
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/changenotify.cpp
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.cpp
  dll/win32/shell32/shelldesktop/CDirectoryList.cpp
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.cpp
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/wine/pidl.c
Labels: ROSTESTS, bugfix

#3122 [CPL][INETCPL] Update He.rc
  dll/cpl/inetcpl/lang/He.rc
Labels: TRANSLATION

#3092 [SHELL32][PAINT][DRIVERS][SHELLEXT] French translation update
  base/applications/mspaint/lang/fr-FR.rc
  dll/shellext/stobject/lang/fr-FR.rc
  dll/win32/shell32/lang/fr-FR.rc
  drivers/storage/class/cdrom/cdrom.inf
  drivers/storage/class/disk/disk.inf
  drivers/storage/class/ramdisk/ramdisk.inf
Labels: TRANSLATION

#3111 [SETUP] French translation of missing elements
  base/setup/usetup/lang/fr-FR.h
Labels: TRANSLATION

#3125 [EXPLORER] Implement HSHELL_ACTIVATESHELLWINDOW
  base/shell/explorer/taskswnd.cpp
Labels: enhancement

#3132 [WIN32SS] Log spam & log trivial fix
  win32ss/user/ntuser/message.c
Labels: trivial fix

#3123 [BROWSEUI_APITEST] Strengthen SHExplorerParseCmdLine testcase a bit
  modules/rostests/apitests/browseui/SHExplorerParseCmdLine.c
Labels: ROSTESTS

#3137 [GDI32] Fix double cx's in call to HANDLE_METADC in win32ss painting.c
  win32ss/gdi/gdi32/objects/painting.c
Labels: bugfix

#3135 [BROWSEUI] Set DT_VCENTER to Explorer Bars' title
  dll/win32/browseui/basebarsite.cpp
Labels: enhancement

#3128 [BROWSEUI][SHELL32] Implement MoveTo/CopyTo buttons
  dll/win32/browseui/internettoolbar.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement, help wanted

#3130 [SHELLFIND] Fix directory search upon non-empty word/phrase query
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix

#3134 [SHELLFIND] Encoding-aware file search
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: enhancement

#3140 [ATL][ATL_APITEST] Add CString::Tokenize + testcase
  modules/rostests/apitests/atl/CString.cpp
  modules/rostests/apitests/atl/CString.inl
  sdk/lib/atl/cstringt.h
Labels: ROSTESTS, enhancement

#3138 [SOLITAIRE] French translation update
  base/applications/games/solitaire/lang/fr-FR.rc
Labels: TRANSLATION

#3136 [EXPLORER] Registry key not closed on error (CORE-14519)
  base/shell/explorer/shellservice.cpp
Labels: bugfix

#3133 [BOOT][DIRECTX][SHELL32] Unneeded semicolons (trivial)
  boot/environ/lib/mm/pagealloc.c
  dll/directx/msvidctl/tuningspace_container.cpp
  dll/win32/shell32/COpenWithMenu.cpp
Labels: trivial fix

#3121 [CPL][INPUT] Update he-IL.rc
  dll/cpl/input/lang/he-IL.rc
Labels: TRANSLATION

#2259 [NTDLL] Add Vista specific exports
  dll/ntdll/def/ntdll.spec
Labels: NT6+, enhancement

#3147 [SHELLFIND] Split encoding detection code
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: enhancement, refactoring

#3109 [GDI32_APITEST] Create StretchBlt Regression Test
  modules/rostests/apitests/gdi32/CMakeLists.txt
  modules/rostests/apitests/gdi32/StretchBlt.c
  modules/rostests/apitests/gdi32/testlist.c
Labels: ROSTESTS

#2963 [CMAKE] Remove obsolete '_ROSBE_VERSION' checks
  toolchain-clang.cmake
  toolchain-gcc.cmake
Labels: trivial fix

#3107 [SHELL32] Show "size on disk" in file/folder properties
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/dialogs/filedefext.h
Labels: bugfix, enhancement

#2926 [FILESYSTEMS] Fix pool memory disclosure in NtQueryAttributesFile handlers
  drivers/filesystems/cdfs/fileinfo.c
  drivers/filesystems/fastfat/finfo.c
  drivers/filesystems/ntfs/finfo.c
  drivers/filesystems/reiserfs/src/fileinfo.c
Labels: bugfix

#2975 [FILESYSTEMS] Fix pool memory disclosure in filesystem drivers supporting FS_INFORMATION_CLASS.FileFsVolumeInformation
  drivers/filesystems/cdfs/volinfo.c
  drivers/filesystems/fastfat/volume.c
  drivers/filesystems/nfs/nfs41_driver.c
  drivers/filesystems/npfs/volinfo.c
  drivers/filesystems/udfs/volinfo.cpp
Labels: bugfix

#2879 [CERTUTIL] Add skeleton application with support for -hashfile
  base/applications/cmdutils/CMakeLists.txt
  base/applications/cmdutils/certutil/CMakeLists.txt
  base/applications/cmdutils/certutil/certutil.c
  base/applications/cmdutils/certutil/precomp.h
Labels: enhancement

#3127 [FONTEXT] Initial implementation of CFontExt::DoGetFontTitle
  dll/shellext/fontext/CFontExt.cpp
  dll/shellext/fontext/CFontExt.hpp
  sdk/include/reactos/undocgdi.h
Labels: enhancement

#3145 [CABMAN] Replace linked lists with std::list
  sdk/tools/cabman/cabinet.cxx
  sdk/tools/cabman/cabinet.h
Labels: refactoring

#3158 [ASM] Fix boot with VS 16.7.3 / MSVC 19.27
  boot/environ/app/rosload/i386/osxfera.s
  boot/environ/lib/arch/i386/transfer.s
  boot/freeldr/freeldr/arch/i386/multiboot.S
  hal/halx86/generic/systimer.S
  hal/halx86/up/pic.S
  ntoskrnl/ke/i386/trap.s
  sdk/include/asm/asm.inc
  sdk/lib/crt/math/i386/alldiv_asm.s
  sdk/lib/crt/math/i386/pow_asm.s
Labels: bugfix

#3149 [KERNEL32_VISTA][NTDLL_VISTA][RTL_VISTA] Move Vista Rtl functions from kernel32_vista and ntdll_vista to rtl_vista
  dll/ntdll/CMakeLists.txt
  dll/ntdll/nt_0600/CMakeLists.txt
  dll/ntdll/nt_0600/DllMain.c
  dll/ntdll/nt_0600/ntdll_vista.spec
  dll/win32/CMakeLists.txt
  dll/win32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32_vista/InitOnceExecuteOnce.c
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/condvar.c
  sdk/lib/rtl/rtl_vista.h
  sdk/lib/rtl/runonce.c
  sdk/lib/rtl/srw.c
Labels: refactoring

#3165 [SHELL32_APITEST] Strengthen ShellExecuteW testcase
  modules/rostests/apitests/shell32/ShellExecuteW.cpp
Labels: ROSTESTS

#3157 [winsrv] improve zh-CN translation
  win32ss/user/winsrv/consrv/frontends/gui/lang/zh-CN.rc
Labels: TRANSLATION

#3167 [SHELLEXT] localization of My Computer comments
  dll/shellext/ntobjshex/lang/cs-CZ.rc
  dll/shellext/ntobjshex/lang/de-DE.rc
  dll/shellext/ntobjshex/lang/en-US.rc
  dll/shellext/ntobjshex/lang/es-ES.rc
  dll/shellext/ntobjshex/lang/fr-FR.rc
  dll/shellext/ntobjshex/lang/hi-IN.rc
  dll/shellext/ntobjshex/lang/it-IT.rc
  dll/shellext/ntobjshex/lang/pl-PL.rc
  dll/shellext/ntobjshex/lang/pt-PT.rc
  dll/shellext/ntobjshex/lang/ro-RO.rc
  dll/shellext/ntobjshex/lang/ru-RU.rc
  dll/shellext/ntobjshex/lang/tr-TR.rc
  dll/shellext/ntobjshex/lang/zh-CN.rc
  dll/shellext/ntobjshex/lang/zh-TW.rc
  dll/shellext/ntobjshex/resource.h
  dll/shellext/ntobjshex/resources/rgs/ntobjectfolder.rgs
  dll/shellext/ntobjshex/resources/rgs/regfolder.rgs
Labels: TRANSLATION, enhancement

#3148 [WDMAUD.DRV] USE_MMIXER_LIB crash fix
  dll/win32/wdmaud.drv/mmixer.c
Labels: bugfix

#3175 [NTOBJSHEX] Update Polish (pl-PL) translation
  dll/shellext/ntobjshex/lang/pl-PL.rc
Labels: TRANSLATION

#3155 [RAPPS] zh-CN translation
  base/applications/rapps/lang/zh-CN.rc
Labels: TRANSLATION

#3179 [SHELL32][SHLWAPI] Forward shell32.ShellMessageBoxW directly to shlwapi.ShellMessageBoxWrapW.
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/wine/shellord.c
  dll/win32/shlwapi/ordinal.c
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix

#3178 [FORMAT] French translation fix
  base/system/format/lang/fr-FR.rc
Labels: TRANSLATION

#3177 [FORMAT] Fix of output text overlap in console when finished
  base/system/format/format.c
Labels: trivial fix

#3176 [SHELL32] Improve Format dialog debug log (trivial)
  dll/win32/shell32/dialogs/drive.cpp
Labels: trivial fix

#3160 [RAPPS][CONSRV] French translation update
  base/applications/rapps/lang/fr-FR.rc
  win32ss/user/winsrv/consrv/frontends/gui/lang/fr-FR.rc
Labels: TRANSLATION

#3168 [SHELL] Localization of "System Folder" in My Computer types
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: TRANSLATION, enhancement

#3164 [SHELL32_APITEST] Strengthen ShellExecCmdLine testcase
  modules/rostests/apitests/shell32/ShellExecCmdLine.cpp
Labels: ROSTESTS

#3184 [KDBG] Fixed handle leak in KdbpSymLoadModuleSymbols() when RosSymCreateFromFile() fails
  ntoskrnl/kdbg/kdb_symbols.c
Labels: bugfix

#3146 [PCIIDEX] Add missing exported function
  drivers/storage/ide/pciidex/miniport.c
  drivers/storage/ide/pciidex/pciidex.spec
  drivers/storage/inc/ide.h
Labels: enhancement

#3080 [VIDEOPRT] Define debug variable
  win32ss/drivers/videoprt/videoprt.c
Labels: enhancement

#3185 [RAPPS] Fix of unhandled exception when trying to modify/uninstall without selection
  base/applications/rapps/gui.cpp
Labels: bugfix

#3162 [COMCTL32][SHELL32] Fix arrow keys and reordering on ListView
  dll/win32/comctl32/listview.c
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, enhancement

#3171 [KERNEL32] Improve SetComputerNameExW
  dll/win32/kernel32/client/compname.c
Labels: bugfix, enhancement, review pending

#3085 [TRANSLATION] Chinese Traditional translation improvements
  base/applications/charmap_new/charmap.rc
  base/applications/charmap_new/lang/zh-TW.rc
  base/applications/clipbrd/lang/zh-TW.rc
  base/applications/drwtsn32/drwtsn32.rc
  base/applications/drwtsn32/lang/zh-TW.rc
  base/applications/msconfig/lang/zh-TW.rc
  base/applications/msconfig_new/lang/zh-TW.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/shutdown/lang/zh-TW.rc
  base/applications/sndrec32/lang/zh-TW.rc
  base/applications/utilman/lang/zh-TW.rc
  base/applications/utilman/utilman.rc
  base/applications/winhlp32/lang/Zh.rc
  base/system/chkdsk/chkdsk.rc
  base/system/chkdsk/lang/zh-TW.rc
  base/system/diskpart/lang/zh-TW.rc
  base/system/format/lang/zh-TW.rc
  base/system/regsvr32/lang/zh-TW.rc
  base/system/rundll32/lang/zh-TW.rc
  base/system/userinit/lang/zh-TW.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/timedate/lang/zh-TW.rc
Labels: TRANSLATION

#3198 [SHELL32][SHELLEXT] Fix use of SHFileOperation results and improve log on failure / fix log spam
  dll/shellext/mydocs/CMyDocsDropHandler.cpp
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CMoveToMenu.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CRecyclerDropTarget.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.c
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, refactoring

#3209 [RAPPS] update help command
  base/applications/rapps/include/unattended.h
Labels: enhancement, refactoring

#3207 [IMM32][INCLUDE] Add immtable.h and modify imm32.spec
  dll/win32/imm32/imm32.spec
  win32ss/user/user32/misc/immtable.h
Labels: enhancement

#3095 [SHELL32] SHRunControlPanel implementation
  dll/win32/shell32/wine/shellord.c
  sdk/include/psdk/shlobj.h
Labels: refactoring

#3210 [MORE] Implement 'Q' key for 'Quit'
  base/applications/cmdutils/more/more.c
Labels: enhancement, trivial fix

#3159 [SDK] Add dummy import lib files for MSVC_IDE build,
  sdk/cmake/msvc.cmake
Labels: bugfix

#3144 [RAPPS] Display custom applications icons for installed applications CORE-17257
  base/applications/rapps/appview.cpp
  base/applications/rapps/include/appview.h
  base/applications/rapps/include/installed.h
  base/applications/rapps/installed.cpp
Labels: enhancement

#3197 [RAPPS] Use `RegDeleteKeyExW` for deleting the apps strings from registry only if it is available in advapi32
  base/applications/rapps/installed.cpp
Labels: bugfix

#2512 Add code to SxS manifest parser to parse XML namespaces
  dll/ntdll/ldr/ldrinit.c
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/DefaultActCtx.c
  modules/rostests/apitests/kernel32/testlist.c
  modules/rostests/apitests/kernel32/xmlns.manifest
  modules/rostests/winetests/kernel32/actctx.c
  sdk/include/xdk/winnt_old.h
  sdk/lib/rtl/actctx.c
Labels: bugfix

#3225 [PORTCLS] fixed audio stutter with rosapps AC97 driver
  drivers/wdm/audio/backpln/portcls/pin_wavecyclic.cpp
Labels: bugfix

#3216 [IPHLPAPI] Fix for hasArp which crashes some iphlpapi tests.
  dll/win32/iphlpapi/ifenum_reactos.c
Labels: ROSTESTS, bugfix

#3212 [COMCTL32] Improve IP Address Controls (Tab and caret)
  dll/win32/comctl32/ipaddress.c
Labels: bugfix

#3215 [USER32] Load IMM table
  win32ss/user/user32/include/immtable.h
  win32ss/user/user32/include/user32.h
  win32ss/user/user32/include/user32p.h
  win32ss/user/user32/misc/imm.c
  win32ss/user/user32/misc/immtable.h
Labels: enhancement, refactoring, review pending

#3232 [SETUP][MMSYS][SHELL32] Adding missing French translation (and typo fix on existing)
  base/setup/reactos/lang/fr-FR.rc
  dll/cpl/mmsys/lang/fr-FR.rc
  dll/win32/shell32/lang/fr-FR.rc
Labels: TRANSLATION

#3196 [KSECDD] Fix RtlEncryptMemory test regression
  drivers/crypto/ksecdd/crypt.c
  modules/rostests/apitests/advapi32/RtlEncryptMemory.c
Labels: bugfix

#3235 [RAPPS] Remove string casts after the conutils fix
  base/applications/rapps/unattended.cpp
Labels: refactoring

#3238 [COMDLG32] Support shortcut keys on Open/Save Dialog
  dll/win32/comdlg32/cdlg.h
  dll/win32/comdlg32/cdlg32.c
  dll/win32/comdlg32/filedlg.c
Labels: enhancement

#3233 [TRANSLATION] Polish translation update
  base/applications/charmap/lang/pl-PL.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/rappsmsg.mc
  base/applications/utilman/lang/pl-PL.rc
  base/applications/utilman/utilman.rc
  boot/bootdata/hivesys.inf
  dll/cpl/hotplug/hotplug.rc
  dll/cpl/hotplug/lang/pl-PL.rc
  dll/cpl/joy/lang/pl-PL.rc
  dll/shellext/fontext/lang/pl-PL.rc
  dll/shellext/mydocs/lang/pl-PL.rc
  dll/shellext/mydocs/mydocs.rc
  dll/win32/msxml3r/lang/pl-PL.rc
  dll/win32/msxml3r/msxml3r.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/syssetup/lang/pl-PL.rc
  drivers/filesystems/btrfs/btrfs.inf
  media/inf/hal.inf
  modules/rostests/rosautotest/rosautotestmsg.mc
  modules/rostests/win32/advapi32/eventlog/MyEventProvider.mc
  sdk/include/reactos/mc/arp_msg.mc
  sdk/include/reactos/mc/bootmsg.mc
  sdk/include/reactos/mc/net_msg.mc
  sdk/include/reactos/mc/pciclass.mc
Labels: TRANSLATION

#3230 [SHLWAPI] 1/3-implement SHAutoComplete
  dll/win32/shlwapi/CMakeLists.txt
  dll/win32/shlwapi/autocomp.cpp
  dll/win32/shlwapi/url.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#3244 [SHELL32] Fix usage of return value
  dll/win32/shell32/shellmenu/CStartMenu.cpp
Labels: bugfix, trivial fix

#3243 [NTOS:PS] Fix size handling in ProcessDeviceMap
  ntoskrnl/ps/query.c
Labels: bugfix, x64

#3236 [NTOS] Remove an old hack
  ntoskrnl/io/iomgr/driver.c
Labels: enhancement

#3242 [BROWSEUI][SHELL32] Enable Ctrl+Backspace in AutoComplete edit boxes
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/shell32/dialogs/dialogs.cpp
Labels: enhancement

#3247 [BROWSEUI] Fix Edit_BackWord function
  dll/win32/browseui/CAutoComplete.cpp
Labels: enhancement

#3249 [BROWSEUI_APITEST] Strengthen IACLCustomMRU testcase
  modules/rostests/apitests/browseui/IACLCustomMRU.cpp
Labels: ROSTESTS, enhancement
