Repository reactos/reactos, pull requests merged in 2020-10, with the labels that each got.

#3248 WIP - [UMPNPMGR] Investigate bug crash. CORE-16103
  base/services/umpnpmgr/install.c
  base/services/umpnpmgr/precomp.h
  base/services/umpnpmgr/umpnpmgr.c
  base/setup/usetup/devinst.c
Labels: bugfix

#3237 [NTOS:MM] Fix paged pool initialization on x64
  ntoskrnl/mm/ARM3/mminit.c
Labels: x64

#3250 [BROWSEUI] Accept TypedURLs to CLSID_ACLCustomMRU
  dll/win32/browseui/ACLCustomMRU.cpp
  dll/win32/browseui/ACLCustomMRU.h
Labels: enhancement

#2972 [DRIVERS:TCPIP] DispTdiQueryInformation NULL checks
  drivers/network/tcpip/tcpip/dispatch.c
Labels: bugfix, needs tests

#3266 [BOOTDATA] Comment out biosinfo.inf
  boot/bootdata/hivesys.inf
Labels: bugfix

#3264 [BROWSEUI] Remove '\1' from AutoComplete list
  dll/win32/browseui/ACLCustomMRU.cpp
Labels: bugfix, enhancement

#3272 [BOOTDATA][FONTS] Add vgaoem.fon font
  boot/bootdata/hivesys.inf
  media/fonts/CMakeLists.txt
  media/fonts/doc/vgaoem/LICENSE.txt
  media/fonts/vgaoem.fon
Labels: enhancement

#3287 Improving the readability of the stability warning
  README.md
Labels: community

#3290 [GDI32] Prevent double initialization in GdiProcessSetup
  win32ss/gdi/gdi32/main/dllmain.c
Labels: bugfix, hacktoberfest-accepted

#3293 [CMD] Fix a typo in filename completion
  base/shell/cmd/filecomp.c
Labels: bugfix, trivial fix

#3289 [SHELL32_APITEST] Add ShellHook testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellHook.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS, enhancement

#3291 [BOOTDATA] Comment out vgaoem.fon
  boot/bootdata/hivesys.inf
Labels: trivial fix

#3241 [FASTFAT] Fix create for DOT and DOT-DOT leaving bad directory entry
  drivers/filesystems/fastfat/create.c
  drivers/filesystems/fastfat/finfo.c
  drivers/filesystems/fastfat/string.c
  drivers/filesystems/fastfat/vfat.h
Labels: bugfix

#3294 [NTUSER] Fix Shell Hook HSHELL_WINDOWCREATED
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#3297 [RAPPS] Update Hebrew (he-IL) translation
  base/applications/rapps/lang/he-IL.rc
Labels: TRANSLATION

#3292 [FASTFAT] Ensure that deferred write IRP contexts are not touched.
  drivers/filesystems/fastfat/misc.c
  drivers/filesystems/fastfat/rw.c
  drivers/filesystems/fastfat/vfat.h
Labels: bugfix

#3298 [BROWSEUI] Implement CLSID_ACListISF
  dll/win32/browseui/aclistisf.cpp
  dll/win32/browseui/aclistisf.h
Labels: enhancement

#3302 [NTOS:IO] Some fixes for IoRaiseHardError().
  ntoskrnl/io/iomgr/error.c
Labels: bugfix, hacktoberfest-accepted

#3301 [FREELDR] Improvements for NEC PC-98 port
  base/setup/lib/utils/bldrsup.c
  boot/bootdata/bootcd.ini
  boot/bootdata/floppy_pc98.ini
  boot/bootdata/hybridcd.ini
  boot/bootdata/livecd.ini
  boot/freeldr/FREELDR.INI
  boot/freeldr/freeldr/arch/i386/pc/pcvideo.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98video.c
  boot/freeldr/freeldr/arch/i386/xbox/xboxvideo.c
  boot/freeldr/freeldr/ui/tui.c
Labels: enhancement

#3299 [SHELL32] Resizable for SHBrowseForFolder
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/wine/brsfolder.c
  sdk/include/reactos/layout.h
Labels: enhancement, review pending

#2789 [SHELL32] PL-pl Dialogs fix v2
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#3308 [BROWSEUI] CCommonBrowser class should support aggregation
  dll/win32/browseui/commonbrowser.h
Labels: enhancement, trivial fix

#3295 [SHELL32] Stub SHGetShellStyleHInstance and SHGetAttributesFromDataObject CORE-17337
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/stubs.cpp
Labels: enhancement

#3305 [FASTFAT] Implement the overflow queue. CORE-17344
  drivers/filesystems/fastfat/fsctl.c
  drivers/filesystems/fastfat/misc.c
  drivers/filesystems/fastfat/vfat.h
Labels: bugfix

#3199 [WIN32SS] Repaint the whole window frame on some style bits set
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#3083 [DBGHELP] Add missing support for AMD64.
  dll/win32/dbghelp/compat.h
Labels: enhancement, x64

#3252 [RAPPS][RAPPS.COM] Introduce a rapps console shim
  base/applications/CMakeLists.txt
  base/applications/rapps/CMakeLists.txt
  base/applications/rapps/appview.cpp
  base/applications/rapps/available.cpp
  base/applications/rapps/include/unattended.h
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
  base/applications/rapps_com/CMakeLists.txt
  base/applications/rapps_com/main.c
  base/applications/rapps_com/main.ico
  base/applications/rapps_com/rapps.rc
Labels: enhancement

#3328 [CMAKE] Make reactos_cab_inf really depend on reactos.inf
  boot/bootdata/packages/CMakeLists.txt
Labels: enhancement

#3316 [PSDK] Import some SAL headers from MS
  drivers/filesystems/cdfs/cdstruc.h
  sdk/include/crt/crtdefs.h
  sdk/include/ndk/no_sal2.h
  sdk/include/psdk/no_sal2.h
  sdk/include/psdk/sal.h
  sdk/include/psdk/specstrings.h
  sdk/include/psdk/specstrings_strict.h
  sdk/include/psdk/specstrings_undef.h
Labels: enhancement

#3329 [NTDLL_APITEST] Fix LdrEnumResources testdata initialization
  modules/rostests/apitests/ntdll/LdrEnumResources.c
Labels: ROSTESTS, bugfix

#3304 [BASESRV] Re-enable CsrValidateMessageBuffer() checks in BaseSrvDefineDosDevice().
  subsystems/win/basesrv/dosdev.c
Labels: bugfix, hacktoberfest-accepted
