Repository reactos/reactos, pull requests merged in 2020-01, with the labels that each got.

#1782 [FREELDR] Update ACPI Extended Attributes support, to 6.3
  boot/freeldr/freeldr/arch/i386/pcmem.c
  boot/freeldr/freeldr/include/arch/pc/pcbios.h
Labels: enhancement

#2123 [NTOS:KE] In KiExitV86Mode, restore KTSS::Esp0 to its standard value
  ntoskrnl/ke/i386/exp.c
  ntoskrnl/ke/i386/thrdini.c
  ntoskrnl/ke/i386/v86vdm.c
Labels: bugfix

#2227 [WININET_WINETEST] http: Remove ROSTESTS_73_FIXED workaround
  modules/rostests/winetests/wininet/http.c
Labels: enhancement

#2231 [WIN32SS][WINSRV] Fullwidth character handling for Asian console
  win32ss/user/winsrv/consrv/condrv/console.c
  win32ss/user/winsrv/consrv/condrv/text.c
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
  win32ss/user/winsrv/consrv/frontends/gui/guiterm.h
  win32ss/user/winsrv/consrv/frontends/gui/text.c
  win32ss/user/winsrv/consrv/frontends/terminal.c
  win32ss/user/winsrv/consrv/include/conio.h
  win32ss/user/winsrv/consrv/settings.c
Labels: enhancement

#2228 [TRANSLATION] [SHELL32] Improvements to Portuguese translation
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION

#2225 [APISETS] Forwarders don't need parameter specifications
  dll/apisets/api-ms-win-appmodel-runtime-l1-1-1.spec
Labels: enhancement

#2141 [CMD_APITEST] Add more regression tests for attrib.
  modules/rostests/apitests/cmd/cmd.c
Labels: enhancement

#2240 [WIN32SS][WINSRV] Fullwidth character handling Part 2
  win32ss/user/winsrv/consrv/condrv/text.c
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
  win32ss/user/winsrv/consrv/frontends/gui/guiterm.h
  win32ss/user/winsrv/consrv/frontends/gui/text.c
  win32ss/user/winsrv/consrv/frontends/terminal.c
Labels: enhancement

#2167 [FREELDR] Add ATA/ATAPI driver
  boot/freeldr/freeldr/CMakeLists.txt
  boot/freeldr/freeldr/arch/drivers/hwide.c
  boot/freeldr/freeldr/arch/i386/machxbox.c
  boot/freeldr/freeldr/arch/i386/xboxdisk.c
  boot/freeldr/freeldr/include/arch/i386/machxbox.h
  boot/freeldr/freeldr/include/hwide.h
Labels: enhancement

#2127 [TRANSLATION] Add/update Hungarian translation for shell32, ieframe, browseui
  dll/win32/browseui/browseui.rc
  dll/win32/browseui/lang/hu-HU.rc
  dll/win32/ieframe/ieframe.rc
  dll/win32/ieframe/lang/hu-HU.rc
  dll/win32/shell32/lang/hu-HU.rc
Labels: TRANSLATION

#2213 [XDK] Fix x64 version of KeGetCurrentProcessorNumber() ...
  sdk/include/xdk/amd64/ke.h
  sdk/include/xdk/kefuncs.h
  sdk/include/xdk/x86/ke.h
Labels: bugfix, enhancement, x64

#2056 [WBEMPROX] Always free 'new_path'. CORE-13391
  dll/win32/wbemprox/builtin.c
Labels: WINESYNC

#2025 [FREELDR] Add FAT12 file system boot sector for NEC PC-98 series
  boot/freeldr/bootsect/CMakeLists.txt
  boot/freeldr/bootsect/pc98/fat12fdd.S
  boot/freeldr/freeldr/CMakeLists.txt
  sdk/cmake/config.cmake
Labels: enhancement

#2193 [USETUP] Implement resource ID text based strings for MUI
  base/setup/usetup/consup.c
  base/setup/usetup/consup.h
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/hu-HU.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/pt-PT.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
  base/setup/usetup/mui.c
  base/setup/usetup/mui.h
  base/setup/usetup/usetup.c
Labels: enhancement

#2277 [BROWSEUI] Fix infinite recursion in autocomplete control
  dll/win32/browseui/CAutoComplete.cpp
Labels: bugfix
