Repository reactos/reactos, pull requests merged in 2020-04, with the labels that each got.

#2492 [PSDK] guiddef.h: Remove unwanted '&& !defined(CINTERFACE)'
  sdk/include/psdk/guiddef.h
Labels: WINESYNC

#2459 improve taskkill cmdutil
  base/applications/cmdutils/taskkill/lang/de-DE.rc
  base/applications/cmdutils/taskkill/lang/en-US.rc
  base/applications/cmdutils/taskkill/lang/it-IT.rc
  base/applications/cmdutils/taskkill/lang/pl-PL.rc
  base/applications/cmdutils/taskkill/lang/ro-RO.rc
  base/applications/cmdutils/taskkill/lang/ru-RU.rc
  base/applications/cmdutils/taskkill/lang/sq-AL.rc
  base/applications/cmdutils/taskkill/lang/tr-TR.rc
  base/applications/cmdutils/taskkill/lang/zh-CN.rc
  base/applications/cmdutils/taskkill/lang/zh-TW.rc
  base/applications/cmdutils/taskkill/taskkill.c
  base/applications/cmdutils/taskkill/taskkill.h
Labels: enhancement

#2456 [UTILMAN] Implement the Registry management code skeleton
  base/applications/utilman/CMakeLists.txt
  base/applications/utilman/precomp.h
  base/applications/utilman/registry.c
Labels: enhancement

#2497 [TRANSLATION] Update Spanish translation of usetup.
  base/setup/usetup/lang/es-ES.h
Labels: TRANSLATION

#2487 [NTOS:MM] Make the definitions and macros for x86 more human-readable.
  ntoskrnl/include/internal/amd64/mm.h
  ntoskrnl/include/internal/i386/mm.h
  ntoskrnl/mm/ARM3/miarm.h
Labels: enhancement

#2457 [NTOS:PNP] Add set functions for debugging PNP and IO managers.
  ntoskrnl/io/debug.c
  ntoskrnl/io/pnpio.h
  ntoskrnl/ntos.cmake
Labels: enhancement

#2376 [NTOS:PO] Call power IRP handlers at PASSIVE_LEVEL when needed
  ntoskrnl/po/power.c
Labels: bugfix

#2504 [BOOTVID][NTOSKRNL][HALX86] Move hardcoded coordinates of bootvid into one place
  drivers/base/bootvid/precomp.h
  hal/halx86/generic/misc.c
  ntoskrnl/inbv/inbv.c
  ntoskrnl/inbv/logo.h
  ntoskrnl/include/internal/inbv.h
  ntoskrnl/kd/kdio.c
  ntoskrnl/ke/bug.c
  ntoskrnl/po/poshtdwn.c
  sdk/include/reactos/drivers/bootvid/bootvid.h
  sdk/include/reactos/drivers/bootvid/display.h
Labels: enhancement, refactoring, review pending

#2511 Freeldr parse boot options
  boot/freeldr/freeldr/ntldr/winldr.c
Labels: enhancement

#2539 [SHELL32] Shell notify rework for simplicity and readability
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/changenotify.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shelldesktop/CChangeNotify.cpp
  dll/win32/shell32/shelldesktop/CChangeNotify.h
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.cpp
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.h
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shelldesktop/CMakeLists.txt
  dll/win32/shell32/shelldesktop/shelldesktop.h
  dll/win32/shell32/wine/changenotify.c
  sdk/include/reactos/shlwapi_undoc.h
  sdk/include/reactos/undocshell.h
Labels: bugfix, enhancement

#2550 [FREELDR][INSTALL] Include installfreeldr in LiveCD and HybridCD
  boot/freeldr/fdebug/CMakeLists.txt
  boot/freeldr/install/CMakeLists.txt
Labels: enhancement

#2549 [THEMES][LUNAR] Add bitmaps for quick launch toolbar
  media/themes/Lunar/lunar.msstyles/bitmaps/NORMAL_TASKBANDBUTTONNOEDGE.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/NORMAL_TASKBANDBUTTONNOEDGEVERTICAL.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_TASKBANDBUTTONNOEDGE.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_TASKBANDBUTTONNOEDGEVERTICAL.bmp
  media/themes/Lunar/lunar.msstyles/lunar.rc
  media/themes/Lunar/lunar.msstyles/textfiles/ExtraLargeReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/LargeFontsReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Labels: enhancement

#2541 [SDK][PSDK] Add a version check for DiskGeometryGetPartition and Disk…
  sdk/include/psdk/ntdddisk.h
Labels: enhancement

#1945 [WALLPAPER] Rename Soft Blue to Mizu
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/ReactOS_Mizu.png
  modules/wallpapers/ReactOS_Mizu_16x9_A.png
  modules/wallpapers/ReactOS_Mizu_16x9_B.png
  modules/wallpapers/ReactOS_Mizu_4x3.png
  modules/wallpapers/ReadMe.txt
Labels: modding

#2337 [APPWIZ.CPL] PL Translate update
  dll/cpl/appwiz/lang/pl-PL.rc
Labels: TRANSLATION, review pending

#2351 [ZIPFLDR] PL-pl lang update
  dll/shellext/zipfldr/lang/pl-PL.rc
Labels: TRANSLATION

#2362 [MSGINA] PL-pl cosmetical changes
  dll/win32/msgina/lang/pl-PL.rc
Labels: TRANSLATION

#2363 [WINLOGON] PL-pl cosmetical changes
  base/system/winlogon/lang/pl-PL.rc
Labels: TRANSLATION

#2364 [shell32] PL-pl cosmetical changes
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#2530 [UTILMAN] Implement UManDlg library and move most of the code there
  base/applications/utilman/CMakeLists.txt
  base/applications/utilman/NOTES.txt
  base/applications/utilman/lang/en-US.rc
  base/applications/utilman/precomp.h
  base/applications/utilman/resource.h
  base/applications/utilman/umandlg/CMakeLists.txt
  base/applications/utilman/umandlg/about.c
  base/applications/utilman/umandlg/lang/en-US.rc
  base/applications/utilman/umandlg/lang/es-ES.rc
  base/applications/utilman/umandlg/lang/fr-FR.rc
  base/applications/utilman/umandlg/lang/he-IL.rc
  base/applications/utilman/umandlg/lang/it-IT.rc
  base/applications/utilman/umandlg/lang/pl-PL.rc
  base/applications/utilman/umandlg/lang/ro-RO.rc
  base/applications/utilman/umandlg/lang/ru-RU.rc
  base/applications/utilman/umandlg/lang/uk-UA.rc
  base/applications/utilman/umandlg/process.c
  base/applications/utilman/umandlg/registry.c
  base/applications/utilman/umandlg/resource.h
  base/applications/utilman/umandlg/umandlg.c
  base/applications/utilman/umandlg/umandlg.h
  base/applications/utilman/umandlg/umandlg.rc
  base/applications/utilman/umandlg/umandlg.spec
  base/applications/utilman/utilman.c
  base/applications/utilman/utilman.rc
Labels: refactoring

#2489 [APITEST][NTDLL] Implement RtlGetNtProductType testcase
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlGetNtProductType.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: ROSTESTS

#2552 [RAPPS] Use _beginthreadex instead of CreateThread
  base/applications/rapps/loaddlg.cpp
Labels: enhancement

#2610 [SHIMGVW] fr-fr translation following PR 2606
  dll/win32/shimgvw/lang/fr-FR.rc
Labels: TRANSLATION

#2607 [MEDIA][FONTS] Fix French glyphs of Tahoma font
  media/fonts/tahoma.ttf
Labels: enhancement

#2605 [SHELL32] PT translation Fix grammatical error
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION

#2601 [KDCOM][NTOS:INBV][FREELDR] Decrease default baud rate for PC-98
  boot/bootdata/floppy_pc98.ini
  boot/freeldr/freeldr/lib/comm/rs232.c
  boot/freeldr/freeldr/lib/debug.c
  boot/freeldr/freeldr/ntldr/headless.c
  drivers/base/kdcom/kdcom.c
  drivers/base/kdgdb/kdcom.c
  ntoskrnl/inbv/inbvport.c
  ntoskrnl/kd/i386/kdbg.c
Labels: bugfix

#2615 [GDI32_APITEST] Add Tahoma font to GetTextMetrics apitest set
  modules/rostests/apitests/gdi32/GetTextMetrics.c
Labels: ROSTESTS, enhancement

#2628 [MMCPL] hivedef.inf - Add Polish translation of Sound Events
  boot/bootdata/hivedef.inf
Labels: TRANSLATION

#2613 [NTOS:KDBG] Fixed variable declaration to make buildable the project
  ntoskrnl/kdbg/kdb.c
Labels: x64

#2616 [SENDMAIL][ZIPFLDR][MYDOCS] Fix creation of sendto files
  dll/shellext/mydocs/mydocs.cpp
  dll/shellext/sendmail/lang/de-DE.rc
  dll/shellext/sendmail/lang/en-US.rc
  dll/shellext/sendmail/lang/es-ES.rc
  dll/shellext/sendmail/lang/fr-FR.rc
  dll/shellext/sendmail/lang/he-IL.rc
  dll/shellext/sendmail/lang/id-ID.rc
  dll/shellext/sendmail/lang/ja-JP.rc
  dll/shellext/sendmail/lang/pl-PL.rc
  dll/shellext/sendmail/lang/pt-PT.rc
  dll/shellext/sendmail/lang/ru-RU.rc
  dll/shellext/sendmail/resource.h
  dll/shellext/sendmail/sendmail.cpp
  dll/shellext/sendmail/sendmail.rc
  dll/shellext/zipfldr/zipfldr.cpp
  dll/win32/shell32/CSendToMenu.cpp
  dll/win32/shell32/CSendToMenu.h
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: bugfix

#2612 [Translation] add and update indonesian applets
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/hdwwiz/lang/id-ID.rc
  dll/cpl/inetcpl/inetcpl.rc
  dll/cpl/inetcpl/lang/id-ID.rc
  dll/cpl/input/lang/id-ID.rc
  dll/cpl/intl/intl.rc
  dll/cpl/intl/lang/id-ID.rc
  dll/cpl/joy/joy.rc
  dll/cpl/joy/lang/id-ID.rc
  dll/cpl/main/lang/id-ID.rc
  dll/cpl/powercfg/lang/id-ID.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/telephon/lang/id-ID.rc
  dll/cpl/telephon/telephon.rc
  dll/cpl/usrmgr/lang/id-ID.rc
  dll/cpl/usrmgr/usrmgr.rc
Labels: TRANSLATION

#2262 [NTOS:IO] Fix parsing of resource lists
  drivers/bus/pci/CMakeLists.txt
  drivers/bus/pci/pci.h
  drivers/bus/pci/pdo.c
  drivers/bus/pcix/CMakeLists.txt
  drivers/bus/pcix/debug.c
  drivers/bus/pcix/enum.c
  drivers/bus/pcix/pci.h
  drivers/bus/pcix/utils.c
  ntoskrnl/include/internal/cm.h
  ntoskrnl/io/pnpmgr/pnpres.c
  sdk/include/reactos/drivers/cmreslist.h
  win32ss/drivers/videoprt/resource.c
Labels: bugfix

#2654 [INTL] Translate hardcoded string
  dll/cpl/intl/advanced.c
  dll/cpl/intl/lang/bg-BG.rc
  dll/cpl/intl/lang/cs-CZ.rc
  dll/cpl/intl/lang/de-DE.rc
  dll/cpl/intl/lang/en-US.rc
  dll/cpl/intl/lang/es-ES.rc
  dll/cpl/intl/lang/fr-FR.rc
  dll/cpl/intl/lang/he-IL.rc
  dll/cpl/intl/lang/id-ID.rc
  dll/cpl/intl/lang/it-IT.rc
  dll/cpl/intl/lang/ja-JP.rc
  dll/cpl/intl/lang/no-NO.rc
  dll/cpl/intl/lang/pl-PL.rc
  dll/cpl/intl/lang/pt-BR.rc
  dll/cpl/intl/lang/pt-PT.rc
  dll/cpl/intl/lang/ro-RO.rc
  dll/cpl/intl/lang/ru-RU.rc
  dll/cpl/intl/lang/sk-SK.rc
  dll/cpl/intl/lang/sq-AL.rc
  dll/cpl/intl/lang/tr-TR.rc
  dll/cpl/intl/lang/uk-UA.rc
  dll/cpl/intl/lang/zh-CN.rc
  dll/cpl/intl/lang/zh-TW.rc
  dll/cpl/intl/resource.h
Labels: TRANSLATION

#2620 [SHELL32] fr-fr translation
  dll/win32/shell32/lang/fr-FR.rc
Labels: TRANSLATION

#2591 [DESK][THEMEUI] Update French translation
  boot/bootdata/hivecls.inf
  boot/bootdata/hivedef.inf
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/desk/resource.h
  dll/win32/themeui/lang/fr-FR.rc
  dll/win32/themeui/themeui.rc
Labels: TRANSLATION

#2649 [NOTEPAD] Add to recent files on file save
  base/applications/notepad/dialog.c
Labels: enhancement

#2651 [MSPAINT] Add to recent documents
  base/applications/mspaint/dib.cpp
Labels: enhancement

#2586 [NETID] fr-fr translation fix and component size
  dll/win32/netid/lang/fr-FR.rc
Labels: TRANSLATION

#2652 [CRT_APITEST] Add testcase for mbtowc()
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/mbtowc.c
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crt/testlist.c
Labels: ROSTESTS

#2631 [BOOTDATA] PT translation to EVENT_LABEL and DESKTOP_SCHEME
  boot/bootdata/hivedef.inf
Labels: TRANSLATION

#2562 [UTILMAN] Add Romanian and Italian translations
  base/applications/utilman/lang/it-IT.rc
  base/applications/utilman/lang/ro-RO.rc
  base/applications/utilman/utilman.rc
Labels: TRANSLATION

#2664 Desk update Polish translation
  dll/cpl/desk/lang/pl-PL.rc
Labels: TRANSLATION

#2666 [SHIMGVW] Update Polish translation
  dll/win32/shimgvw/lang/pl-PL.rc
Labels: TRANSLATION

#2522 Update zh-CN.rc
  base/setup/reactos/lang/zh-CN.rc
Labels: TRANSLATION

#2561 [UTILMAN] Properly annotate some variables
  base/applications/utilman/umandlg/about.c
  base/applications/utilman/umandlg/process.c
  base/applications/utilman/umandlg/registry.c
  base/applications/utilman/umandlg/umandlg.c
  base/applications/utilman/umandlg/umandlg.h
  base/applications/utilman/utilman.c
Labels: trivial fix

#2461 [FONTS] Add Selawik as a substitution for Segoe UI
  base/setup/lib/muifonts.h
  boot/bootdata/livecd.inf
  media/fonts/CMakeLists.txt
  media/fonts/Selawik-Bold.ttf
  media/fonts/Selawik-ExtraLight.ttf
  media/fonts/Selawik-Light.ttf
  media/fonts/Selawik-Regular.ttf
  media/fonts/Selawik-SemiBold.ttf
  media/fonts/doc/Selawik/LICENSE.txt
  media/fonts/doc/Selawik/README.txt
Labels: enhancement

#2665 Intl polish update
  dll/cpl/intl/lang/pl-PL.rc
Labels: TRANSLATION

#2494 [RPCRT4] Fully WineSync spec file. CORE-16441
  dll/win32/rpcrt4/rpcrt4.spec
  sdk/include/psdk/rpcndr.h
Labels: WINESYNC

#2537 [MSV1_0] Create stubs for ntlm functions (lsa mode)
  dll/win32/msv1_0/CMakeLists.txt
  dll/win32/msv1_0/lsa.c
  dll/win32/msv1_0/lsa.h
  dll/win32/msv1_0/msv1_0.c
  dll/win32/msv1_0/msv1_0.spec
  dll/win32/msv1_0/precomp.h
Labels: enhancement

#1996 [NTOS:KE] KiTrap0DHandler(): Fix a copypasta
  ntoskrnl/ke/i386/traphdlr.c
Labels: bugfix

#1198 CORE-10266. [USER32] EDIT_WM_KillFocus(): Restore Wine code, #ifdef'ed out
  win32ss/user/user32/controls/edit.c
Labels: WINESYNC

#2582 [LWIP] Attempt to fix CORE-16868
  sdk/lib/drivers/lwip/src/rostcp.c
Labels: bugfix

#1597 [CRT] ARM & ARM64 Windows do not have initenv in their CRTs
  sdk/lib/crt/startup/crtexe.c
Labels: bugfix, enhancement

#1595 [CRT] Implement __chkstk function for ARM
  sdk/lib/crt/except/arm/chkstk_asm.s
Labels: enhancement

#2647 [THEMES] Update now-redirected 'http' and 'www.reactos.org' URLs
  media/themes/Blackshade/blackshade.msstyles/lang/en-US.rc
  media/themes/Blackshade/blackshade.msstyles/lang/it-IT.rc
  media/themes/Blackshade/blackshade.msstyles/lang/pl-PL.rc
  media/themes/Blackshade/blackshade.msstyles/lang/ro-RO.rc
  media/themes/Blackshade/blackshade.msstyles/lang/ru-RU.rc
  media/themes/Blackshade/blackshade.msstyles/lang/tr-TR.rc
  media/themes/Lautus/lautus.msstyles/lang/cs-CZ.rc
  media/themes/Lautus/lautus.msstyles/lang/de-DE.rc
  media/themes/Lautus/lautus.msstyles/lang/en-US.rc
  media/themes/Lautus/lautus.msstyles/lang/es-ES.rc
  media/themes/Lautus/lautus.msstyles/lang/fr-FR.rc
  media/themes/Lautus/lautus.msstyles/lang/it-IT.rc
  media/themes/Lautus/lautus.msstyles/lang/pl-PL.rc
  media/themes/Lautus/lautus.msstyles/lang/ro-RO.rc
  media/themes/Lautus/lautus.msstyles/lang/ru-RU.rc
  media/themes/Lautus/lautus.msstyles/lang/tr-TR.rc
  media/themes/Lautus/lautus.msstyles/lang/zh-CN.rc
  media/themes/Lunar/lunar.msstyles/lang/en-US.rc
  media/themes/Lunar/lunar.msstyles/lang/it-IT.rc
  media/themes/Lunar/lunar.msstyles/lang/pl-PL.rc
  media/themes/Mizu/mizu.msstyles/lang/cs-CZ.rc
  media/themes/Mizu/mizu.msstyles/lang/de-DE.rc
  media/themes/Mizu/mizu.msstyles/lang/en-US.rc
  media/themes/Mizu/mizu.msstyles/lang/es-ES.rc
  media/themes/Mizu/mizu.msstyles/lang/fr-FR.rc
  media/themes/Mizu/mizu.msstyles/lang/it-IT.rc
  media/themes/Mizu/mizu.msstyles/lang/pl-PL.rc
  media/themes/Mizu/mizu.msstyles/lang/ro-RO.rc
  media/themes/Mizu/mizu.msstyles/lang/ru-RU.rc
  media/themes/Mizu/mizu.msstyles/lang/tr-TR.rc
  media/themes/Mizu/mizu.msstyles/lang/zh-CN.rc
  media/themes/Modern/modern.msstyles/lang/cs-CZ.rc
  media/themes/Modern/modern.msstyles/lang/de-DE.rc
  media/themes/Modern/modern.msstyles/lang/en-GB.rc
  media/themes/Modern/modern.msstyles/lang/en-US.rc
  media/themes/Modern/modern.msstyles/lang/es-ES.rc
  media/themes/Modern/modern.msstyles/lang/fr-FR.rc
  media/themes/Modern/modern.msstyles/lang/it-IT.rc
  media/themes/Modern/modern.msstyles/lang/pl-PL.rc
  media/themes/Modern/modern.msstyles/lang/ro-RO.rc
  media/themes/Modern/modern.msstyles/lang/ru-RU.rc
  media/themes/Modern/modern.msstyles/lang/tr-TR.rc
  media/themes/Modern/modern.msstyles/lang/zh-CN.rc
Labels: trivial fix

#2444 Create add_driver_inf cmake function
  drivers/bus/acpi/CMakeLists.txt
  drivers/bus/acpi/acpi.inf
  drivers/filesystems/btrfs/CMakeLists.txt
  drivers/filesystems/btrfs/btrfs.inf
  drivers/network/dd/e1000/CMakeLists.txt
  drivers/network/dd/e1000/nete1000.inf
  drivers/network/dd/ne2000/CMakeLists.txt
  drivers/network/dd/ne2000/netne2000.inf
  drivers/network/dd/ne2000/netrtl8029.inf
  drivers/network/dd/netkvm/CMakeLists.txt
  drivers/network/dd/netkvm/netkvm.inf
  drivers/network/dd/pcnet/CMakeLists.txt
  drivers/network/dd/pcnet/netpcnet.inf
  drivers/network/dd/rtl8139/CMakeLists.txt
  drivers/network/dd/rtl8139/netrtl8139.inf
  drivers/processor/processr/CMakeLists.txt
  drivers/processor/processr/cpu.inf
  drivers/storage/class/cdrom/CMakeLists.txt
  drivers/storage/class/cdrom/cdrom.inf
  drivers/storage/class/disk/CMakeLists.txt
  drivers/storage/class/disk/disk.inf
  drivers/storage/class/disk_new/CMakeLists.txt
  drivers/storage/floppy/fdc/CMakeLists.txt
  drivers/usb/usbstor/CMakeLists.txt
  drivers/usb/usbstor/usbstor.inf
  drivers/wdm/audio/hdaudbus/CMakeLists.txt
  drivers/wdm/audio/hdaudbus/hdaudbus.inf
  media/inf/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
  win32ss/drivers/miniport/xboxvmp/CMakeLists.txt
  win32ss/drivers/miniport/xboxvmp/xboxdisp.inf
Labels: WIP, enhancement

#2668 [SHLWAPI] Improve SHEvaluateSystemCommandTemplate export CORE-14742
  dll/win32/shlwapi/shlwapi.spec
Labels: enhancement

#2119 [PROFMAP] Initial implementation
  dll/win32/CMakeLists.txt
  dll/win32/profmap/CMakeLists.txt
  dll/win32/profmap/profmap.c
  dll/win32/profmap/profmap.rc
  dll/win32/profmap/profmap.spec
Labels: enhancement

#2671 [EXPLORER] Fix incorrect component position and size for French language
  base/shell/explorer/lang/fr-FR.rc
Labels: TRANSLATION

#2675 [RASDLG] pl-PL update
  dll/win32/rasdlg/lang/pl-PL.rc
Labels: TRANSLATION

#2672 [NETID] Fix incorrect component position and size, complete translation for French language
  dll/win32/netid/lang/fr-FR.rc
Labels: TRANSLATION

#2676 [SHELL32] Fix "Max size" Edit box position in Recycle Bin properties page
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: enhancement

#2614 [SYSDM] User Profiles fix of OnDestroy (CORE-16921)
  dll/cpl/sysdm/userprofile.c
Labels: enhancement

#2678 [label] pl-pl update
  base/applications/cmdutils/label/lang/pl-PL.rc
Labels: TRANSLATION

#2488 [RPCRT4] Stub I_RpcSNCHOption(). CORE-12534
  dll/win32/rpcrt4/rpcrt4.spec
Labels: WIP, enhancement

#2304 [WINSPOOL] EnumPrintersA(): Fix failure handling on/after EnumPrintersW(). CORE-16622
  win32ss/printing/base/winspool/printers.c
Labels: enhancement, refactoring

#2687 [SHIMGVW] Correctly draw display border
  dll/win32/shimgvw/shimgvw.c
Labels: bugfix

#2563 [SDK] Wine sync _mbtowc_l code
  sdk/lib/crt/stdlib/mbtowc.c
Labels: WINESYNC, bugfix

#2655 [NETSHELL] Remove erroneous DNS Server line and fix date/time format
  dll/shellext/netshell/lanstatusui.cpp
Labels: bugfix

#2680 [SETUPAPI] Improve SetupRemoveFromSourceListA/W exports CORE-16968
  dll/win32/setupapi/setupapi.spec
Labels: enhancement

#2686 [MSPAINT] Refactor loading/saving image file
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/winproc.cpp
  base/applications/mspaint/winproc.h
Labels: bugfix, enhancement, refactoring

#2681 [KERNEL32_APITEST] Add QueryUserAPC testcase
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/QueryUserAPC.c
  modules/rostests/apitests/kernel32/testlist.c
Labels: ROSTESTS

#2692 [LABEL] Update Chinese Simplified translation
  base/applications/cmdutils/label/lang/zh-CN.rc
Labels: TRANSLATION

#2673 [INF] Localize network services and drivers strings
  media/inf/nettcpip.inf
Labels: TRANSLATION

#2696 [INF] Add Polish translation for network services strings
  media/inf/nettcpip.inf
Labels: TRANSLATION

#2694 [TAPIUI] Update Polish translation
  dll/win32/tapiui/lang/pl-PL.rc
Labels: TRANSLATION

#2690 [MMSYS] Fix of "Sound" properties page (combo box and icon) rendering (CORE-16935)
  dll/cpl/mmsys/lang/bg-BG.rc
  dll/cpl/mmsys/lang/cs-CZ.rc
  dll/cpl/mmsys/lang/de-DE.rc
  dll/cpl/mmsys/lang/el-GR.rc
  dll/cpl/mmsys/lang/en-US.rc
  dll/cpl/mmsys/lang/es-ES.rc
  dll/cpl/mmsys/lang/fr-FR.rc
  dll/cpl/mmsys/lang/he-IL.rc
  dll/cpl/mmsys/lang/id-ID.rc
  dll/cpl/mmsys/lang/it-IT.rc
  dll/cpl/mmsys/lang/ja-JP.rc
  dll/cpl/mmsys/lang/nl-NL.rc
  dll/cpl/mmsys/lang/no-NO.rc
  dll/cpl/mmsys/lang/pl-PL.rc
  dll/cpl/mmsys/lang/pt-BR.rc
  dll/cpl/mmsys/lang/pt-PT.rc
  dll/cpl/mmsys/lang/ro-RO.rc
  dll/cpl/mmsys/lang/ru-RU.rc
  dll/cpl/mmsys/lang/sk-SK.rc
  dll/cpl/mmsys/lang/sq-AL.rc
  dll/cpl/mmsys/lang/tr-TR.rc
  dll/cpl/mmsys/lang/uk-UA.rc
  dll/cpl/mmsys/lang/zh-CN.rc
  dll/cpl/mmsys/lang/zh-TW.rc
  dll/cpl/mmsys/resources/play.ico
Labels: enhancement

#2682 __DestructExceptionObject(): Update spec files. CORE-15135
  dll/apisets/api-ms-win-crt-private-l1-1-0.spec
  dll/win32/msvcrt/msvcrt.spec
Labels: enhancement

#2679 Update CODEOWNERS - translation section
  CODEOWNERS
Labels: community

#2184 [APPWIZ] Make shortcut name selected on creation
  dll/cpl/appwiz/createlink.c
Labels: enhancement

#2695 [MC][NET] Polish translation update
  sdk/include/reactos/mc/net_msg.mc
Labels: TRANSLATION

#2648 [SHELL32][EXPLORER] Improve Recent Documents of Start Menu
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shellmenu/CMenuToolbars.cpp
  dll/win32/shell32/shellmenu/CStartMenu.cpp
  dll/win32/shell32/shresdef.h
Labels: review pending

#2699 [DESK] Set some flags for Browse for Wallpaper dialog
  dll/cpl/desk/background.c
Labels: enhancement

#2700 [SHELL32] Update Polish translation
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#2670 [COMDLG32] Enlarge list area in CHOOSE_FONT dialog
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Tw.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: WINESYNC, enhancement

#2152 [USER32] Fixed scrolling issue in Change Icon dialog. CORE-16163
  win32ss/user/user32/controls/listbox.c
  win32ss/user/user32/windows/defwnd.c
Labels: bugfix, enhancement

#2698 [NETSHELL] Fixed some typos in Portuguese translation
  dll/shellext/netshell/lang/pt-PT.rc
Labels: TRANSLATION

#2685 [SHELL32] Fix "Open With..." spamming registry MRU keys.
  dll/win32/shell32/COpenWithMenu.cpp
Labels: bugfix
