Repository reactos/reactos, pull requests merged in 2021-03, with the labels that each got.

#3473 [SHIMGVW] Improve zooming feature and realize image edit
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/shimgvw.c
Labels: enhancement

#3493 [BROWSEUI_APITEST] Add IAutoComplete testcase
  modules/rostests/apitests/browseui/CMakeLists.txt
  modules/rostests/apitests/browseui/IAutoComplete.cpp
  modules/rostests/apitests/browseui/testlist.c
Labels: ROSTESTS

#3494 [shell32] improve Polish [pl-PL] translation
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#3496 [solitaire] improve Polish [pl-PL] translation
  base/applications/games/solitaire/lang/pl-PL.rc
Labels: TRANSLATION

#3470 [NTDLL_APITEST] Ensure that some noticeable time has passed since process creation to fix a flaky test.
  modules/rostests/apitests/ntdll/NtQueryInformationProcess.c
Labels: ROSTESTS, bugfix

#3398 [SHELL32] Determine if the FS is of type FATX
  dll/win32/shell32/dialogs/drive.cpp
Labels: bugfix

#3389 [NTOS:PS] Implement PS_QUOTA_TYPE and let the quota code use it
  ntoskrnl/ex/sysinfo.c
  ntoskrnl/ps/query.c
  ntoskrnl/ps/quota.c
  sdk/include/ndk/pstypes.h
Labels: enhancement, kernel&hal, refactoring

#3487 [DEVMGR] Update PT translation
  dll/win32/devmgr/lang/pt-PT.rc
  dll/win32/netid/lang/pt-PT.rc
Labels: TRANSLATION

#3373 [NTOS:KD] KdpDebugLogInit(): Close the thread handle
  ntoskrnl/kd/kdio.c
Labels: kernel&hal

#3500 [BROWSEUI_APITEST] Strengthen IAutoComplete on WM_KEYDOWN
  modules/rostests/apitests/browseui/IAutoComplete.cpp
Labels: ROSTESTS, enhancement

#3419 [NTOS:PS] Guard the quota in a spin lock
  ntoskrnl/ps/quota.c
Labels: enhancement, kernel&hal

#2858 [CSRSRV] CsrApiHandleConnectionRequest(): Remove ASSERT() redundant c…
  subsystems/win32/csrsrv/api.c
Labels: trivial fix

#3506 [MSGINA][SHELL32] Polish fancy log off dialog box fix + other fixes
  dll/win32/msgina/shutdown.c
  dll/win32/shell32/dialogs/dialogs.cpp
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION, bugfix

#3513 [CDROM_NEW] CMakeLists.txt: Add cdrom.rc
  drivers/storage/class/cdrom_new/CMakeLists.txt
Labels: drivers

#3503 [FREELDR] Remove a few useless code lines
  boot/freeldr/freeldr/lib/fs/ext2.c
  boot/freeldr/freeldr/lib/fs/fat.c
  boot/freeldr/freeldr/ntldr/inffile.c
Labels: enhancement, freeldr

#3505 [SHELL32] Avoid code duplication on FAT and EXT2/BtrFS related FSs in…
  dll/win32/shell32/dialogs/drive.cpp
Labels: refactoring

#3468 [TRANSLATION] [INF] Update Chinese Traditional (zh-TW) translation
  base/applications/cmdutils/at/at.rc
  base/applications/cmdutils/at/lang/zh-CN.rc
  base/applications/cmdutils/at/lang/zh-TW.rc
  base/applications/cmdutils/comp/comp.rc
  base/applications/cmdutils/comp/lang/zh-TW.rc
  base/applications/cmdutils/find/lang/zh-TW.rc
  base/applications/cmdutils/help/lang/zh-TW.rc
  base/applications/cmdutils/label/lang/zh-TW.rc
  base/applications/cmdutils/whoami/lang/zh-TW.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/shutdown/lang/zh-TW.rc
  base/applications/taskmgr/lang/zh-TW.rc
  base/system/diskpart/lang/zh-TW.rc
  base/system/format/lang/zh-TW.rc
  dll/cpl/appwiz/lang/zh-TW.rc
  dll/cpl/hotplug/hotplug.rc
  dll/cpl/hotplug/lang/zh-TW.rc
  dll/cpl/input/lang/zh-TW.rc
  dll/cpl/powercfg/lang/zh-TW.rc
  dll/win32/shimgvw/lang/zh-TW.rc
  media/inf/NET_NIC.inf
  media/inf/audio.inf
  media/inf/battery.inf
  media/inf/bth.inf
  media/inf/c_image.inf
  media/inf/display.inf
  media/inf/hal.inf
  media/inf/hdc.inf
  media/inf/input.inf
  media/inf/keyboard.inf
  media/inf/legcydrv.inf
  media/inf/machine.inf
  media/inf/monitor.inf
  media/inf/msmouse.inf
  media/inf/nettcpip.inf
  media/inf/scsi.inf
  media/inf/shortcuts.inf
  media/inf/unknown.inf
  media/inf/usb.inf
  media/inf/usbport.inf
  media/inf/wmiacpi.inf
  modules/rosapps/applications/sysutils/ctm/ctm.rc
  modules/rosapps/applications/sysutils/ctm/lang/zh-TW.rc
  win32ss/user/user32/lang/zh-TW.rc
Labels: TRANSLATION

#3507 [BROWSEUI] Implement auto-completion
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: enhancement

#3521 [APPWIZ] Enable auto-completion on 'Create Shortcut'
  dll/cpl/appwiz/createlink.c
Labels: enhancement

#3522 [SHELL32] Enable auto-completion on 'Folder Options' > 'Change Icon'
  dll/win32/shell32/dialogs/dialogs.cpp
Labels: enhancement

#3519 [CMAKE] Define _DEBUG for better ATL debugging (Retry)
  base/applications/rapps/include/defines.h
  sdk/lib/atl/CMakeLists.txt
  sdk/lib/atl/atlcom.h
  sdk/lib/atl/statreg.h
Labels: bugfix

#3518 [DESKADP] Update Polish [pl-PL] translation
  dll/shellext/deskadp/lang/pl-PL.rc
Labels: TRANSLATION

#3520 [DESKCPL] Update Polish [pl-PL] translation
  dll/cpl/desk/lang/pl-PL.rc
Labels: TRANSLATION

#3532 [SHELL32] SHBrowseForFolder with BIF_EDITBOX should use new UI
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/wine/brsfolder.c
  sdk/include/reactos/layout.h
Labels: bugfix

#3533 [SHELL32] Fix SHBrowseForFolder new UI layout
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/wine/brsfolder.c
  sdk/include/reactos/layout.h
Labels: modding

#3535 [SHELL32] Enable auto-completion on SHBrowseForFolder
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/wine/brsfolder.c
Labels: enhancement

#3538 [BROWSEUI_APITEST] Strengthen ACListISF testcase
  modules/rostests/apitests/browseui/ACListISF.cpp
Labels: ROSTESTS, enhancement

#3477 [NTOS:MM] Fail NP pool allocations when running out of pages
  ntoskrnl/mm/ARM3/expool.c
  ntoskrnl/mm/ARM3/pool.c
  ntoskrnl/mm/ARM3/syspte.c
Labels: bugfix, kernel&hal

#3540 [SYSSETUP] SamQueryInformationDomain expects a pointer
  dll/win32/syssetup/security.c
Labels: bugfix

#3541 [NDK][XDK] Use decimal literals for MINxxxx defines
  sdk/include/ndk/umtypes.h
  sdk/include/xdk/ntbasedef.h
Labels: refactoring

#3531 [MMSYS] Update Polish (pl-PL) translation
  dll/cpl/mmsys/lang/pl-PL.rc
Labels: TRANSLATION

#3530 [HDWWIZ] Update Polish (pl-PL) translation
  dll/cpl/hdwwiz/lang/pl-PL.rc
Labels: TRANSLATION

#3543 [BROWSEUI] Fix auto-completion on VK_DELETE
  dll/win32/browseui/CAutoComplete.cpp
Labels: bugfix

#3544 [BROWSEUI] Fix return value on sanity check of auto-completion
  dll/win32/browseui/CAutoComplete.cpp
Labels: trivial fix

#3547 [CSRSRV] Do not hold the lock while destroying dead thread.
  subsystems/win32/csrsrv/procsup.c
  subsystems/win32/csrsrv/thredsup.c
Labels: bugfix

#3548 [HHPCOMP] Add ARM (32-bit) types
  sdk/tools/hhpcomp/chmc/chm.h
Labels: trivial fix

#3549 [BROWSEUI] Support ACO_USETAB and SHACF_USETAB on auto-completion
  dll/win32/browseui/CAutoComplete.cpp
Labels: enhancement

#3552 [BROWSEUI] Enable AutoAppend of auto-completion
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: enhancement

#3565 [NTOS:MM] Properly fail for invalid sizes of data section mappings
  ntoskrnl/mm/ARM3/section.c
Labels: bugfix, kernel&hal

#3564 [COMDLG32] Enable auto-completion on comdlg32
  dll/win32/comdlg32/CMakeLists.txt
  dll/win32/comdlg32/autocomp.cpp
  dll/win32/comdlg32/filedlg.c
  dll/win32/comdlg32/filedlgbrowser.c
  dll/win32/comdlg32/filedlgbrowser.h
Labels: enhancement
