Repository reactos/reactos, pull requests merged in 2021-12, with the labels that each got.

#4128 [WIN32SS][ENG] Search for the correct display name when updating graphics devices list
  win32ss/gdi/eng/device.c
Labels: bugfix

#4130 [USETUP] Improve pt-Pt Translation
  base/setup/usetup/lang/pt-PT.h
Labels: TRANSLATION

#4098 Wordpad translation
  base/applications/wordpad/lang/hr-HR.rc
  base/applications/wordpad/rsrc.rc
Labels: TRANSLATION

#4133 [FREELDR] debug.h: Add an explicit VOID parameter type
  boot/freeldr/freeldr/include/debug.h
Labels: freeldr

#4127 [NTUSER] Fix where linking newly created window is done
  win32ss/user/ntuser/window.c
Labels: bugfix

#4138 [COMCTL32] Redraw children when the combo box is dropped down.
  dll/win32/comctl32/combo.c
Labels: WINESYNC, bugfix

#4137 [NTGDI] Support the wide pen
  win32ss/gdi/ntgdi/fillshap.c
  win32ss/gdi/ntgdi/line.c
  win32ss/gdi/ntgdi/path.c
  win32ss/gdi/ntgdi/path.h
  win32ss/gdi/ntgdi/pen.h
Labels: enhancement, help wanted, needs tests

#4147 [NTUSER] Implement HSHELL_RUDEAPPACTIVATE notification
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/focus.h
  win32ss/user/ntuser/winpos.c
Labels: enhancement, bugfix

#4150 [NTUSER][USER32] Simplify user32.IsHungAppWindow
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/window.c
Labels: refactoring

#4149 [W32TIME] Add Spanish (es-ES) translation
  base/services/w32time/lang/es-ES.rc
  base/services/w32time/w32time.rc
Labels: TRANSLATION

#4123 [CRT] Add vadefs entry for arm64
  sdk/include/crt/vadefs.h
Labels: enhancement

#4142 [SDK] Add winnt_old entry for ARM64 and start fixing ARM64 PE binaries
  sdk/include/xdk/winnt_old.h
  sdk/tools/CMakeLists.txt
  sdk/tools/geninc/geninc.c
Labels: enhancement, bugfix

#4087 [INF] Add pt-PT translation to inf files
  media/inf/NET_NIC.inf
  media/inf/audio.inf
  media/inf/battery.inf
  media/inf/bda.inf
  media/inf/bth.inf
  media/inf/c_image.inf
  media/inf/display.inf
  media/inf/fdc.inf
  media/inf/flpydisk.inf
  media/inf/hal.inf
  media/inf/input.inf
  media/inf/keyboard.inf
  media/inf/ks.inf
  media/inf/legcydrv.inf
  media/inf/machine.inf
  media/inf/monitor.inf
  media/inf/msmouse.inf
  media/inf/nettcpip.inf
  media/inf/ports.inf
  media/inf/scsi.inf
  media/inf/shortcuts.inf
  media/inf/unknown.inf
  media/inf/usb.inf
  media/inf/usbport.inf
  media/inf/volume.inf
Labels: TRANSLATION

#4148 [USER32] Partially fix freezing of Task Switcher
  win32ss/user/user32/controls/appswitch.c
Labels: bugfix

#4131 [USETUP] Improve pt-PT translation
  base/setup/usetup/lang/pt-PT.h
Labels: TRANSLATION

#4153 [NTUSER][USER32] Simplify SwitchToThisWindow
  win32ss/user/ntuser/simplecall.c
  win32ss/user/user32/controls/appswitch.c
Labels: refactoring

#3904 [E1000] Minor improvements
  drivers/network/dd/e1000/CMakeLists.txt
  drivers/network/dd/e1000/hardware.c
  drivers/network/dd/e1000/info.c
  drivers/network/dd/e1000/interrupt.c
  drivers/network/dd/e1000/ndis.c
  drivers/network/dd/e1000/nic.h
  drivers/network/dd/e1000/send.c
Labels: enhancement, drivers

#4162 [HELP] Fixes (tr-TR) resource sporadic compilation error on VisualStudio
  base/applications/cmdutils/help/lang/tr-TR.rc
Labels: TRANSLATION, trivial fix

#4161 [XCOPY] Update STRING_HELP string for missing /K in Syntax message
  base/applications/cmdutils/xcopy/lang/da-DK.rc
  base/applications/cmdutils/xcopy/lang/de-DE.rc
  base/applications/cmdutils/xcopy/lang/en-US.rc
  base/applications/cmdutils/xcopy/lang/es-ES.rc
  base/applications/cmdutils/xcopy/lang/fr-FR.rc
  base/applications/cmdutils/xcopy/lang/it-IT.rc
  base/applications/cmdutils/xcopy/lang/ja-JP.rc
  base/applications/cmdutils/xcopy/lang/ko-KR.rc
  base/applications/cmdutils/xcopy/lang/lt-LT.rc
  base/applications/cmdutils/xcopy/lang/nl-NL.rc
  base/applications/cmdutils/xcopy/lang/no-NO.rc
  base/applications/cmdutils/xcopy/lang/pl-PL.rc
  base/applications/cmdutils/xcopy/lang/pt-BR.rc
  base/applications/cmdutils/xcopy/lang/pt-PT.rc
  base/applications/cmdutils/xcopy/lang/ro-RO.rc
  base/applications/cmdutils/xcopy/lang/ru-RU.rc
  base/applications/cmdutils/xcopy/lang/sl-SI.rc
  base/applications/cmdutils/xcopy/lang/sq-AL.rc
  base/applications/cmdutils/xcopy/lang/sr-SP.rc
  base/applications/cmdutils/xcopy/lang/sv-SE.rc
  base/applications/cmdutils/xcopy/lang/tr-TR.rc
  base/applications/cmdutils/xcopy/lang/uk-UA.rc
  base/applications/cmdutils/xcopy/lang/zh-CN.rc
  base/applications/cmdutils/xcopy/lang/zh-TW.rc
Labels: trivial fix, send upstream

#4155 [SHELL32] Show error message if file operation failed
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement, bugfix

#4141 [TASKMGR] Preserve graphs history on resizes
  base/applications/taskmgr/graphctl.c
  base/applications/taskmgr/graphctl.h
  base/applications/taskmgr/perfpage.c
Labels: enhancement, bugfix

#4165 [EXPLORER] Quick taskbar menu even if any halted window
  base/shell/explorer/taskswnd.cpp
Labels: bugfix

#4167 [NTUSER][USER32] Use async way in TileWindows and CascadeWindows
  win32ss/include/ntuser.h
  win32ss/user/ntuser/winpos.c
  win32ss/user/user32/windows/mdi.c
  win32ss/user/user32/windows/window.c
Labels: bugfix

#4166 [TASKMGR] Avoid hangs as much as possible
  base/applications/taskmgr/applpage.c
Labels: bugfix

#4164 [NTGDI] Strictly check pen style
  win32ss/gdi/ntgdi/pen.c
Labels: bugfix

#2863 [EXPLORER] Fixed issue in TaskBar AUTOHIDE CORE-17093
  base/shell/explorer/traywnd.cpp
Labels: bugfix

#3405 Simplify CDefaultContextMenu by using CAtlList
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/precomp.h
Labels: refactoring

#2831 [COMDLG32] Fix ico3 not shown in Print dialog
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
  dll/win32/comdlg32/printdlg.c
Labels: help wanted, bugfix, send upstream

#4169 [TASKMGR] Make 'Hide When Minimized' non-default
  base/applications/taskmgr/taskmgr.c
Labels: enhancement

#3836 [MSI] Fix MS Office 2000/2003 Installs by Wine-6.8 Sync of MSI_OpenPackageW
  dll/win32/msi/package.c
Labels: WINESYNC, bugfix

#4129 [WIN32SS] Do not remove message from the Message Queue if not ours
  win32ss/user/ntuser/msgqueue.c
Labels: bugfix

#4144 [WIN32K:NTUSER] Make sure to hold User Global Lock before mapping des…
  win32ss/user/ntuser/desktop.c
Labels: bugfix

#4156 [HALX86] HalpDmaAllocateChildAdapter(): Fix memory leak, on error
  hal/halx86/generic/dma.c
Labels: kernel&hal

#4171 fix necessary that build runs through with removed NDEBUG
  drivers/filesystems/ntfs/btree.c
  drivers/filesystems/udfs/Include/wcache_lib.cpp
  drivers/filesystems/udfs/env_spec.cpp
Labels: enhancement, drivers, no squash merge

#4172 [NETSHELL] Improve workgroup vs. domain wording
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
Labels: TRANSLATION

#3575 [SYSDM] Edit Environment Variable Dialog Improvement
  dll/cpl/sysdm/CMakeLists.txt
  dll/cpl/sysdm/environment.c
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/cpl/sysdm/lang/cs-CZ.rc
  dll/cpl/sysdm/lang/da-DK.rc
  dll/cpl/sysdm/lang/de-DE.rc
  dll/cpl/sysdm/lang/el-GR.rc
  dll/cpl/sysdm/lang/en-US.rc
  dll/cpl/sysdm/lang/es-ES.rc
  dll/cpl/sysdm/lang/fr-FR.rc
  dll/cpl/sysdm/lang/he-IL.rc
  dll/cpl/sysdm/lang/hu-HU.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/sysdm/lang/it-IT.rc
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/cpl/sysdm/lang/nl-NL.rc
  dll/cpl/sysdm/lang/no-NO.rc
  dll/cpl/sysdm/lang/pl-PL.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/cpl/sysdm/lang/sk-SK.rc
  dll/cpl/sysdm/lang/sq-AL.rc
  dll/cpl/sysdm/lang/sv-SE.rc
  dll/cpl/sysdm/lang/tr-TR.rc
  dll/cpl/sysdm/lang/uk-UA.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-TW.rc
  dll/cpl/sysdm/resource.h
Labels: enhancement

#4038 [SYSDM] Make Environment dialog box resizable
  dll/cpl/sysdm/environment.c
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/cpl/sysdm/lang/cs-CZ.rc
  dll/cpl/sysdm/lang/da-DK.rc
  dll/cpl/sysdm/lang/de-DE.rc
  dll/cpl/sysdm/lang/el-GR.rc
  dll/cpl/sysdm/lang/en-US.rc
  dll/cpl/sysdm/lang/es-ES.rc
  dll/cpl/sysdm/lang/fr-FR.rc
  dll/cpl/sysdm/lang/he-IL.rc
  dll/cpl/sysdm/lang/hu-HU.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/sysdm/lang/it-IT.rc
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/cpl/sysdm/lang/nl-NL.rc
  dll/cpl/sysdm/lang/no-NO.rc
  dll/cpl/sysdm/lang/pl-PL.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/cpl/sysdm/lang/sk-SK.rc
  dll/cpl/sysdm/lang/sq-AL.rc
  dll/cpl/sysdm/lang/sv-SE.rc
  dll/cpl/sysdm/lang/tr-TR.rc
  dll/cpl/sysdm/lang/uk-UA.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-TW.rc
  dll/cpl/sysdm/resource.h
Labels: enhancement, hacktoberfest-accepted

#4178 [NTUSER] Use call procedure handle if available
  win32ss/user/ntuser/window.c
Labels: bugfix

#4180 [TASKMGR] Avoid freezing in getting icons
  base/applications/taskmgr/applpage.c
Labels: bugfix

#2998 [MSV1_0] Create stubs for SECPKG_USER_FUNCTION_TABLE
  dll/win32/msv1_0/CMakeLists.txt
  dll/win32/msv1_0/lsa.c
  dll/win32/msv1_0/lsa.h
  dll/win32/msv1_0/msv1_0.c
  dll/win32/msv1_0/msv1_0.spec
  dll/win32/msv1_0/ntlm/global.c
  dll/win32/msv1_0/ntlm/global.h
  dll/win32/msv1_0/precomp.h
  dll/win32/msv1_0/user.c
  dll/win32/msv1_0/user.h
  dll/win32/msv1_0/usercontext.c
  dll/win32/msv1_0/usercontext.h
Labels: enhancement, bugfix

#4185 [I8042PRT] Add Dell Latitude D820 to the hack list
  drivers/input/i8042prt/hwhacks.c
Labels: drivers

#4181 [GDIPLUS] GdipCreateBitmapFromStream should accept metafiles
  dll/win32/gdiplus/image.c
Labels: enhancement, bugfix

#4183 [BOOTDATA] Support EMF/WMF metafile file types
  boot/bootdata/hivesft.inf
Labels: enhancement

#2985 [MSV1_0] Partly implement network login (part 1-5)
  dll/win32/msv1_0/CMakeLists.txt
  dll/win32/msv1_0/lsa.c
  dll/win32/msv1_0/lsa.h
  dll/win32/msv1_0/msv1_0.c
  dll/win32/msv1_0/msv1_0.h
  dll/win32/msv1_0/ntlm/global.c
  dll/win32/msv1_0/ntlm/global.h
  dll/win32/msv1_0/ntlm/protocol.h
  dll/win32/msv1_0/ntlm/util.c
  dll/win32/msv1_0/ntlm/util.h
  dll/win32/msv1_0/precomp.h
  dll/win32/msv1_0/sam.c
  dll/win32/msv1_0/sam.h
Labels: enhancement

#4182 [MSPAINT] Make PNG default instead of BMP
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/main.cpp
Labels: enhancement

#4188 [MSPAINT] Add Zoomed and UnZoomed and use them
  base/applications/mspaint/common.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/sizebox.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#4192 [MSPAINT] Define GRIP_SIZE macro and use it
  base/applications/mspaint/common.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/main.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#4174 [SHELL32_APITEST] Strengthen SHChangeNotify testcase more and more
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/SHChangeNotify.h
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
Labels: enhancement, ROSTESTS

#4179 [COMCTL32] Handle TCIS_BUTTONPRESSED at TAB_SetCurFocus
  dll/win32/comctl32/tab.c
Labels: bugfix, send upstream

#4189 [MSPAINT] Fix the size of settings if too large
  base/applications/mspaint/registry.cpp
Labels: bugfix

#4194 [MSPAINT] Add nearlyEqualPoints and use it
  base/applications/mspaint/common.h
  base/applications/mspaint/mouse.cpp
Labels: refactoring

#4191 [MSPAINT] Add const to SelectionModel methods
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
Labels: trivial fix

#4190 [MSPAINT] Add const to ToolsModel methods
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: trivial fix

#4057 [TRANSLATION] eu-ES - Part 1
  base/setup/reactos/lang/eu-ES.rc
  base/setup/usetup/lang/eu-ES.h
  base/setup/welcome/lang/eu-ES.rc
  base/setup/welcome/welcome.rc
  base/shell/explorer/explorer.rc
  base/shell/explorer/lang/eu-ES.rc
  base/system/userinit/lang/eu-ES.rc
  base/system/userinit/userinit.rc
  base/system/winlogon/lang/eu-ES.rc
  boot/bootdata/hivedef.inf
  dll/win32/browseui/browseui.rc
  dll/win32/browseui/lang/eu-ES.rc
  dll/win32/comctl32/lang/comctl_Eu.rc
  dll/win32/comctl32/rsrc.rc
  dll/win32/samsrv/lang/eu-ES.rc
  dll/win32/samsrv/samsrv.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/shell32.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/syssetup.rc
  dll/win32/userenv/lang/eu-ES.rc
  dll/win32/userenv/userenv.rc
  media/inf/shortcuts.inf
Labels: TRANSLATION, send upstream

#4186 [SYSDM] Enhance Spanish translation
  dll/cpl/sysdm/lang/es-ES.rc
Labels: TRANSLATION

#4195 [MSPAINT] Mouse Wheel support
  base/applications/mspaint/common.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/imgarea.h
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/scrollbox.h
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/selection.h
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/winproc.cpp
  base/applications/mspaint/winproc.h
Labels: enhancement

#4197 [MSPAINT] Define enum TOOLTYPE and use it
  base/applications/mspaint/definitions.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#4193 [NTOSKRNL] Regroup the pool allocation tags in one dedicated place
  ntoskrnl/dbgk/dbgkobj.c
  ntoskrnl/ex/atom.c
  ntoskrnl/ex/harderr.c
  ntoskrnl/ex/profile.c
  ntoskrnl/fsrtl/filelock.c
  ntoskrnl/fsrtl/oplock.c
  ntoskrnl/inbv/inbv.c
  ntoskrnl/include/internal/tag.h
  ntoskrnl/io/iomgr/driver.c
  ntoskrnl/io/pnpmgr/devaction.c
  ntoskrnl/kdbg/kdb.h
  ntoskrnl/ke/bug.c
  ntoskrnl/ke/i386/kiinit.c
  ntoskrnl/ke/i386/v86vdm.c
  ntoskrnl/ob/obhandle.c
  ntoskrnl/po/povolume.c
  ntoskrnl/ps/apphelp.c
  ntoskrnl/ps/i386/psldt.c
  ntoskrnl/rtl/libsupp.c
Labels: refactoring, kernel&hal

#3992 [ROSAPPS] Remove 'binpatch' utility
  modules/rosapps/applications/sysutils/utils/CMakeLists.txt
  modules/rosapps/applications/sysutils/utils/binpatch/CMakeLists.txt
  modules/rosapps/applications/sysutils/utils/binpatch/patch.c
Labels: janitorial

#3991 [ROSAPPS] Remove 'chklib' utility
  modules/rosapps/applications/sysutils/CMakeLists.txt
  modules/rosapps/applications/sysutils/chklib/CMakeLists.txt
  modules/rosapps/applications/sysutils/chklib/chklib.c
  modules/rosapps/applications/sysutils/chklib/chklib.rc
Labels: janitorial

#3990 [ROSAPPS] Remove 'man' utility
  modules/rosapps/applications/sysutils/CMakeLists.txt
  modules/rosapps/applications/sysutils/man/CMakeLists.txt
  modules/rosapps/applications/sysutils/man/man.c
  modules/rosapps/applications/sysutils/man/man.cmd
  modules/rosapps/applications/sysutils/man/man/2/chkdsk.man
  modules/rosapps/applications/sysutils/man/man/2/chklib.man
  modules/rosapps/applications/sysutils/man/man/2/format.man
  modules/rosapps/applications/sysutils/man/man/2/man.man
  modules/rosapps/applications/sysutils/man/man/2/ping.man
  modules/rosapps/applications/sysutils/man/man/3/taskmgr.man
  modules/rosapps/applications/sysutils/man/man/foo.1
  modules/rosapps/applications/sysutils/man/man/man.1
  modules/rosapps/applications/sysutils/man/used_tags.txt
Labels: janitorial

#2142 [ATTRIB] Attrib command improvements
  base/applications/cmdutils/attrib/attrib.c
Labels: enhancement

#3733 [SYSSETUP] Enable sound events for Workstation
  dll/win32/syssetup/wizard.c
Labels: enhancement

#3667 [GITPOD] change extract directory to automatically extract to RosBE, …
  .gitpod.Dockerfile
Labels: enhancement

#4159 [FLTMGR] CreateClientPort(): Fix ObInsertObject() error handling
  drivers/filters/fltmgr/Messaging.c
Labels: drivers

#3746 [KMTESTS:IO] …Avoid crashing in IoCreateFile
  modules/rostests/kmtests/ntos_io/IoCreateFile_drv.c
Labels: bugfix

#4202 [MSPAINT] Refactoring (_countof and resource.h)
  base/applications/mspaint/common.h
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/resource.h
  base/applications/mspaint/rsrc.rc
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#4203 [MSPAINT] Add NUM_COLORS and enum PAL_TYPE
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/palettemodel.h
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#4146 [WIN32SS][ENG] EngCreateBitmap: mark created bitmaps as API bitmaps
  win32ss/gdi/eng/surface.c
Labels: bugfix

#4196 [DEVMGR] Ensure clicking on item when opening property sheet
  dll/win32/devmgr/devmgmt/DeviceView.cpp
  dll/win32/devmgr/devmgmt/DeviceView.h
  dll/win32/devmgr/devmgmt/MainWindow.cpp
Labels: bugfix

#4201 [DRWTSN32] Spanish Translation
  base/applications/drwtsn32/drwtsn32.rc
  base/applications/drwtsn32/lang/es-ES.rc
Labels: TRANSLATION

#4008 [MSI] Improve previous msi/dialog.c patch to match code committed to Wine.
  dll/win32/msi/dialog.c
Labels: enhancement, hacktoberfest-accepted

#4173 [TRANSLATION] Update Simplified Chinese translation [12/19].
  base/setup/reactos/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-CN.rc
Labels: TRANSLATION

#3353 [BOOTDATA] Add new Setup Debug/Screen boot entries in BootCD/HybridCD/PC98 boot menus.
  boot/bootdata/bootcd.ini
  boot/bootdata/floppy_pc98.ini
  boot/bootdata/hybridcd.ini
  boot/bootdata/livecd.ini
Labels: enhancement

#4216 [NTUSER] Implement NtUserDisableThreadIme
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ntuser.h
  win32ss/user/ntuser/win32.h
Labels: enhancement

#4207 [SDK:ATL] Implement GetDlgItemText(BSTR&), GetTopLevelParent(), GetWindowText(CSimpleString&).
  sdk/lib/atl/atlwin.h
Labels: enhancement, bugfix

#4223 [PSDK][SHELL32][SHELLEXT] Add SHCreateFileExtractIconW() to the PSDK headers, and SAL-annotate it.
  dll/shellext/fontext/CFontExt.cpp
  dll/shellext/zipfldr/CZipFolder.hpp
  dll/win32/shell32/CExtractIcon.cpp
  sdk/include/psdk/shlobj.h
Labels: enhancement

#4109 [SYSSETUP] Register type libraries before signaling we are done
  dll/win32/syssetup/wizard.c
Labels: enhancement, bugfix
