Repository reactos/reactos, pull requests merged in 2021-01, with the labels that each got.

#3411 comdlg32 [pl-pl] lang fix
  dll/win32/comdlg32/lang/cdlg_Pl.rc
Labels: TRANSLATION

#3410 shell32 [pl-pl] lang fix
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION

#3413 machine.inf [pl-pl] update
  media/inf/machine.inf
Labels: TRANSLATION

#3408 [KEYBOARD] Add Swiss French keyboard layout
  boot/bootdata/hivesys.inf
  dll/keyboard/CMakeLists.txt
  dll/keyboard/kbdsf/kbdsf.c
  dll/keyboard/kbdsf/kbdsf.rc
  dll/keyboard/kbdsf/kbdsf.spec
Labels: enhancement

#3418 [TRANSLATION] fix format for indonesian translation
  base/setup/usetup/lang/id-ID.h
  dll/win32/shell32/lang/id-ID.rc
Labels: TRANSLATION

#3421 [NDK] Rename Reserved to MaximumProcessors in SYSTEM_PROCESSOR_INFORMATION
  ntoskrnl/ex/sysinfo.c
  sdk/include/ndk/extypes.h
Labels: trivial fix

#3417 [CMD] Improve Indonesian (ID-id) translation
  base/shell/cmd/lang/id-ID.rc
Labels: TRANSLATION

#3420 [CMAKE] Fix MSVC configuring
  sdk/lib/crt/msvcrtex.cmake
Labels: bugfix
