Repository reactos/reactos, pull requests merged in 2021-05, with the labels that each got.

#3635 [PSDK] UnlockResource(): Improve definition
  sdk/include/psdk/winbase.h
Labels: WINESYNC

#3633 [NTOS:OB] ObQueryDeviceMapInformation(): Fix annotations
  ntoskrnl/include/internal/ob.h
  ntoskrnl/ob/devicemap.c
Labels: kernel&hal, trivial fix

#3217 [REACTOS] Fix parameter types on some exports
  dll/ntdll/def/ntdll.spec
  dll/win32/kernel32/kernel32.spec
  dll/win32/wtsapi32/wtsapi32.spec
  ntoskrnl/ntoskrnl.spec
Labels: trivial fix

#3637 [GDI32] Fix wrong ordering of parameters in NtGdiDdGetDC call
  win32ss/gdi/gdi32/misc/gdientry.c
Labels: bugfix

#3609 [HALX86] Disable Lazy IRQL in APIC HAL
  hal/halx86/CMakeLists.txt
  hal/halx86/apic/apic.c
  hal/halx86/apic/apic.h
  hal/halx86/apic/apictimer.c
  hal/halx86/apic/halaacpi.rc
  hal/halx86/apic/halinit.c
  hal/halx86/apic/tsc.c
  hal/halx86/include/apic.h
  hal/halx86/smp/halmacpi.rc
Labels: enhancement, kernel&hal

#3639 [NTOS:SE] Get the session ID and assign it to the new token
  ntoskrnl/se/token.c
Labels: enhancement, kernel&hal

#3625 [CMDUTILS][FC] Implement text file comparison
  base/applications/cmdutils/fc/CMakeLists.txt
  base/applications/cmdutils/fc/fc.c
  base/applications/cmdutils/fc/fc.h
  base/applications/cmdutils/fc/text.h
  base/applications/cmdutils/fc/texta.c
  base/applications/cmdutils/fc/textw.c
Labels: enhancement

#3640 [CMDUTILS][FC] Implement FC wildcard handling
  base/applications/cmdutils/fc/CMakeLists.txt
  base/applications/cmdutils/fc/fc.c
  base/applications/cmdutils/fc/text.h
Labels: enhancement

#3631 [TRANSLATION] Add and update Indonesian (id-ID) translation
  base/applications/games/winmine/lang/id-ID.rc
  base/applications/games/winmine/rsrc.rc
  base/applications/taskmgr/lang/id-ID.rc
  dll/win32/browseui/lang/id-ID.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/msi/lang/msi_Id.rc
  dll/win32/msi/rsrc.rc
  dll/win32/netid/lang/id-ID.rc
  dll/win32/shell32/lang/id-ID.rc
Labels: TRANSLATION

#2553 [USETUP][MUI] Loop over next MUI entries with the same ID
  base/setup/usetup/mui.c
Labels: refactoring

#3621 [SHELL32] Show Product version on About dialog bmp
  dll/win32/msgina/resources/reactos.bmp
  dll/win32/msgina/resources/svg/rosbanner.svg
  dll/win32/shell32/bitmap_res.rc
  dll/win32/shell32/res/bitmaps/reactos.bmp
  dll/win32/shell32/res/bitmaps/reactosserver.bmp
  dll/win32/shell32/res/bitmaps/reactosworkstation.bmp
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/wine/shell32_main.c
  dll/win32/syssetup/resources/reactos.bmp
Labels: modding

#3649 [INCLUDE][XDK] Add FILE_ATTRIBUTE_VIRTUAL into winnt_old.h
  sdk/include/xdk/winnt_old.h
Labels: enhancement, trivial fix

#3591 [FONTEXT_APITEST] Test more cases for GetDisplayNameOf
  modules/rostests/apitests/fontext/GetDisplayNameOf.cpp
  modules/rostests/apitests/fontext/shellext.cpp
Labels: ROSTESTS, enhancement

#3323 [RAPPS] Restore event logging of install/uninstall actions
  base/applications/rapps/installed.cpp
  base/applications/rapps/loaddlg.cpp
Labels: enhancement

#3598 PEFIXUP: Improvements and add support for overriding section attributes
  sdk/tools/pefixup.c
Labels: bugfix, enhancement

#3666 [NTOS:SE] Capture the groups length when creating a token
  ntoskrnl/se/token.c
Labels: enhancement, kernel&hal

#3659 [CDROM_NEW] Add Polish (pl-PL) translation
  drivers/storage/class/cdrom_new/cdrom.inf
Labels: TRANSLATION, drivers

#3660 [DISK_NEW] Add Polish (pl-PL) translation
  drivers/storage/class/disk_new/disk.inf
Labels: TRANSLATION, drivers

#3662 [PC98VID] Fix MSVC 2015 build for PC-98 target
  win32ss/drivers/miniport/pc98vid/ioctl.c
  win32ss/drivers/miniport/pc98vid/pc98vid.c
  win32ss/drivers/miniport/pc98vid/pc98vid.h
Labels: bugfix, drivers

#3669 [NTOS:MM] Do not map Process Working Set List in kernel space
  ntoskrnl/mm/ARM3/procsup.c
Labels: bugfix, kernel&hal

#3579 [CMAKE] Store and re-use M4 and BISON_PKGDATADIR env variables
  CMakeLists.txt
  sdk/cmake/host-tools.cmake
Labels: enhancement

#3681 [NTOS:MM] MiIsPdeForAddressValid is NOT an INIT function!
  ntoskrnl/include/internal/amd64/mm.h
Labels: bugfix, kernel&hal

#3679 [NTOS:CC] Fix use of unintialized variable (caught by RTC1)
  ntoskrnl/cc/view.c
Labels: bugfix, kernel&hal

#3686 [REGEDIT] Use InitCommonControlsEx instead of InitCommonControls
  base/applications/regedit/main.c
Labels: trivial fix

#3680 [WIN32K] Fix wrong calculation in DIB_32BPP_BitBltSrcCopy
  win32ss/gdi/dib/dib32bpp.c
Labels: bugfix

#3684 [WIN32K][USER32] Change mechanism for storing dialog info pointer
  win32ss/include/ntuser.h
  win32ss/user/ntuser/simplecall.c
  win32ss/user/user32/controls/button.c
  win32ss/user/user32/windows/dialog.c
Labels: bugfix

#3693 [USBPORT] Make unload work
  drivers/usb/usbport/pnp.c
  drivers/usb/usbport/usbport.c
  drivers/usb/usbport/usbport.h
Labels: drivers, enhancement

#3687 [SHELL32_APITEST] Strengthen and improve ShellHook testcase
  modules/rostests/apitests/shell32/ShellHook.cpp
Labels: ROSTESTS, enhancement

#3676 [NTOS:SE] Do some cleanup on ICIF flags in token information classes
  ntoskrnl/include/internal/se.h
  ntoskrnl/se/token.c
Labels: kernel&hal, refactoring

#3694 [RTL] Improve / implement amd64 context functions
  sdk/include/asm/asm.inc
  sdk/lib/rtl/amd64/except_asm.S
  sdk/lib/rtl/amd64/stubs.c
Labels: enhancement

#3689 [USER32_APITEST] Add ShowWindow testcase
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/ShowWindow.c
  modules/rostests/apitests/user32/testlist.c
Labels: ROSTESTS, enhancement

#3697 [WIN32SS][NTUSER] Improve HSHELL_WINDOWCREATED condition
  win32ss/user/ntuser/winpos.c
Labels: bugfix
