Repository reactos/reactos, pull requests merged in 2021-06, with the labels that each got.

#3700 [WIN32SS][NTUSER] ShowWindow.SW_MINIMIZE should show window
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#3677 [NTOS:SE] Implement logon session deletion
  ntoskrnl/se/srm.c
Labels: enhancement, kernel&hal

#3702 [WINLOGON] Polish translation update
  base/system/winlogon/lang/pl-PL.rc
Labels: TRANSLATION

#3703 [BROWSEUI] Polish translation update
  dll/win32/browseui/lang/pl-PL.rc
Labels: TRANSLATION

#3704 [EXPLORER] Polish translation update
  base/shell/explorer/lang/pl-PL.rc
Labels: TRANSLATION

#3692 [CMAKE] CMakeLists.txt: Fix 'omap-zoom2' typo
  CMakeLists.txt
Labels: trivial fix

#3712 [BOOT] CMakeLists.txt: Compare ARCH to arm64, not aarch64
  boot/CMakeLists.txt
Labels: trivial fix

#3707 [NTOS:KE] Improve KeConnectInterrupt
  ntoskrnl/ke/amd64/interrupt.c
  ntoskrnl/ke/amd64/trap.S
Labels: enhancement, kernel&hal

#3726 [CPL][APPWIZ] Make gecko download cancellable by keyboard
  dll/cpl/appwiz/addons.c
Labels: bugfix

#3705 [RTL][KMTEST] RtlPcToFileHeader doesn't handle user mode images in kernel mode
  modules/rostests/kmtests/rtl/RtlStack.c
  ntoskrnl/rtl/libsupp.c
Labels: ROSTESTS, bugfix, kernel&hal

#3727 [RAPPS] Implement support for architecture specific sections
  base/applications/rapps/available.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/misc.cpp
Labels: enhancement

#3723 [SHELL32_APITEST] Add FindExecutable testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/FindExecutable.cpp
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS, enhancement

#2874 [NTOS:PS] Probe the information class validity based on class table
  ntoskrnl/ex/event.c
  ntoskrnl/ex/mutant.c
  ntoskrnl/ex/sem.c
  ntoskrnl/ex/timer.c
  ntoskrnl/include/internal/probe.h
  ntoskrnl/include/internal/ps_i.h
  ntoskrnl/include/ntoskrnl.h
  ntoskrnl/io/iomgr/iocomp.c
  ntoskrnl/ps/query.c
  ntoskrnl/se/token.c
  sdk/include/ndk/pstypes.h
Labels: bugfix, enhancement, kernel&hal

#3715 [USETUP] Polish translation update
  base/setup/usetup/lang/pl-PL.h
Labels: TRANSLATION

#3731 [SHELL32_APITEST] Strengthen ShellExecuteEx testcase
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
Labels: ROSTESTS, enhancement

#3732 [USER32_APITEST] Add SetFocus testcase
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/SetFocus.c
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/user32/user32_apitest.rc
Labels: ROSTESTS, enhancement

#3737 [CMD] Properly handle case when command is given with leading or trailing spaces
  base/shell/cmd/where.c
Labels: bugfix

#3658 [MORE][CONUTILS] Implement missing features of the MORE command.
  base/applications/cmdutils/more/lang/bg-BG.rc
  base/applications/cmdutils/more/lang/ca-ES.rc
  base/applications/cmdutils/more/lang/cs-CZ.rc
  base/applications/cmdutils/more/lang/de-DE.rc
  base/applications/cmdutils/more/lang/el-GR.rc
  base/applications/cmdutils/more/lang/en-US.rc
  base/applications/cmdutils/more/lang/es-ES.rc
  base/applications/cmdutils/more/lang/et-EE.rc
  base/applications/cmdutils/more/lang/fr-FR.rc
  base/applications/cmdutils/more/lang/it-IT.rc
  base/applications/cmdutils/more/lang/lt-LT.rc
  base/applications/cmdutils/more/lang/no-NO.rc
  base/applications/cmdutils/more/lang/pl-PL.rc
  base/applications/cmdutils/more/lang/ro-RO.rc
  base/applications/cmdutils/more/lang/ru-RU.rc
  base/applications/cmdutils/more/lang/sk-SK.rc
  base/applications/cmdutils/more/lang/sq-AL.rc
  base/applications/cmdutils/more/lang/sv-SE.rc
  base/applications/cmdutils/more/lang/tr-TR.rc
  base/applications/cmdutils/more/lang/uk-UA.rc
  base/applications/cmdutils/more/lang/zh-CN.rc
  base/applications/cmdutils/more/lang/zh-TW.rc
  base/applications/cmdutils/more/more.c
  base/applications/cmdutils/more/resource.h
  sdk/lib/conutils/pager.c
  sdk/lib/conutils/pager.h
Labels: enhancement, review pending

#3738 [HIDPARSER] Don't include pshpack1.h before including other headers
  sdk/lib/drivers/hidparser/parser.h
Labels: bugfix, drivers

#3725 [SOUNDS] Add new Recycle Bin system sound
  media/CMakeLists.txt
  media/sounds/ReactOS_Recycle.wav
Labels: enhancement, modding

#3690 [CMAKE] host-tools: Define ROS_SAVED_* for MSVC_IDE only
  sdk/cmake/host-tools.cmake
Labels: trivial fix

#3736 [SHELL32_APITEST] Improve ShellExecCmdLine testcase more
  modules/rostests/apitests/shell32/ShellExecCmdLine.cpp
Labels: ROSTESTS, enhancement

#3730 [WIN32K] Add x64/arm exports
  win32ss/win32k.spec
Labels: enhancement

#3745 [NTOS:MM] Fix placing entries into MmNonPagedPoolFreeListHead
  ntoskrnl/mm/ARM3/pool.c
Labels: bugfix, kernel&hal

#3740 [SDK] Add script to check includes with modified struct packing
  sdk/tools/check_packing.py
Labels: enhancement

#3678 [WIN32K] Revert incorrect part of R50928 for RealizePalette.
  win32ss/gdi/ntgdi/palette.c
Labels: bugfix

#3750 [PCI] Filter out devices with null vendor and device ID
  drivers/bus/pci/fdo.c
Labels: bugfix, drivers

#3764 [ATL] Close m_hKey in CRegKey destructor
  sdk/lib/atl/atlbase.h
Labels: bugfix, enhancement

#3767 [HAL:APIC] Improve code
  hal/halx86/apic.cmake
  hal/halx86/apic/apic.c
  hal/halx86/apic/apicp.h
  hal/halx86/apic/apicsmp.c
Labels: enhancement, kernel&hal, refactoring

#3762 [SHELL32] Implement PathResolveW function
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/wine/shellpath.c
  sdk/include/reactos/shlwapi_undoc.h
  sdk/include/reactos/undocshell.h
Labels: enhancement

#3674 [COMCTL32] Sync datetime.c to Wine-6.0
  dll/win32/comctl32/datetime.c
Labels: WINESYNC, bugfix

#3770 [SDK] Add missing sal annotations in driverspecs.h and kernelspec.h
  sdk/include/ddk/kernelspecs.h
  sdk/include/psdk/driverspecs.h
Labels: enhancement

#3771 [SHELL32] Implement PathResolveA function
  dll/win32/shell32/wine/shellpath.c
Labels: enhancement
