Repository reactos/reactos, pull requests merged in 2021-11, with the labels that each got.

#4063 [WIN32SS][NTUSER] Implement NtUserDestroyInputContext
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/object.c
  win32ss/user/ntuser/userfuncs.h
Labels: enhancement

#4043 [SHELL32] Enable OpenWith to handle "NoOpenWith" and "NoStartPage" registry keys
  dll/win32/shell32/COpenWithMenu.cpp
Labels: enhancement

#4081 [NTOS:SE] Mark the token as no longer belonging to admin group upon e…
  ntoskrnl/se/token.c
Labels: enhancement, kernel&hal

#4062 [ADVAPI32] Properly implement CreateRestrictedToken
  dll/win32/advapi32/wine/security.c
Labels: enhancement, refactoring

#4082 [COMCTL32] Fix crash on SB_GETPARTS
  dll/win32/comctl32/status.c
Labels: bugfix

#3728 [DRWTSN32] Implement arm context reading
  base/applications/drwtsn32/drwtsn32.cpp
  base/applications/drwtsn32/main.cpp
  base/applications/drwtsn32/stacktrace.cpp
  base/applications/drwtsn32/sysinfo.cpp
Labels: enhancement

#4097 [NTOS:SE] Validate the SID lengths when capturing them
  ntoskrnl/include/internal/tag.h
  ntoskrnl/se/sid.c
Labels: enhancement, kernel&hal

#4095 [ISAPNP] Add support for NEC PC-98 series
  boot/bootdata/hivesys.inf
  drivers/bus/isapnp/isapnphw.h
  media/inf/machine.inf
Labels: enhancement, drivers

#4100 Add Russian translation
  media/themes/Lunar/lunar.msstyles/lang/ru-RU.rc
  media/themes/Lunar/lunar.msstyles/lunar.rc
Labels: TRANSLATION

#4050 arm64 fixes
  sdk/cmake/config.cmake
Labels: enhancement, freeldr

#4088 [SDK] Add setjmp for the arm64 architecture
  sdk/include/crt/setjmp.h
Labels: enhancement

#4073 [HHPCOMP] Check return value when calling chdir
  sdk/tools/hhpcomp/hhpcomp.cpp
Labels: bugfix, trivial fix, no squash merge

#4072 [SHELL32] Drop a shortcut of the drive
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.h
Labels: enhancement, bugfix

#4029 [BOOTDATA] Update some time zones for Eastern Europe
  boot/bootdata/hivesft.inf
Labels: enhancement

#4065 [NTOS:EX] Clarify the situation with the SystemPathInformation class.
  ntoskrnl/ex/sysinfo.c
Labels: enhancement, kernel&hal

#4078 [SHELL32] Control panel context menu bugfix
  dll/win32/shell32/folders/CControlPanelFolder.cpp
Labels: bugfix

#4101 [CRT] stdio/file.c: Import 3 Wine one-liner fixes
  sdk/lib/crt/stdio/file.c
Labels: WINESYNC, bugfix

#4115 [USER32] GetQueueStatus() should not return 0 when passing QS_ALLINPUT flag
  win32ss/user/user32/windows/message.c
Labels: bugfix

#4114 [CONFIGURE] Add support for 'Visual Studio 2022, v17.x'
  configure.cmd
Labels: trivial fix

#4106 [NTOS:IO] Use a guarded region in IopQueueIrpToThread.
  ntoskrnl/include/internal/io_x.h
  ntoskrnl/include/internal/ke_x.h
Labels: enhancement, kernel&hal

#4122 [WIN32K] Fix 'use after free' in NtGdiStretchDIBitsInternal
  win32ss/gdi/ntgdi/dibobj.c
Labels: bugfix

#4119 [WIN32SS:NTUSER] Fix window state after restoring snapped window. CORE-16477
  win32ss/user/ntuser/defwnd.c
Labels: bugfix

#4113 [NTVDM] Add otya128's WineVDM integration code into ReactOS
  subsystems/mvdm/ntvdm/dos/dos32krnl/process.c
Labels: enhancement

#4120 [SYSSETUP][USETUP] [NLS] Update pt-PT translation
  base/setup/usetup/lang/pt-PT.h
  dll/win32/kernel32/winnls/nls/ptg.nls
  dll/win32/samsrv/lang/pt-PT.rc
  dll/win32/syssetup/lang/pt-PT.rc
Labels: TRANSLATION

#4124 [NTVDM] Use strsafe functions for concantenation of strings in otvdm code.
  subsystems/mvdm/ntvdm/dos/dos32krnl/process.c
Labels: enhancement

#4126 [RICHED20] Fail elegantly if pRow or pPara is NULL on ME_EnsureVisible
  dll/win32/riched20/paint.c
Labels: bugfix

#4121 [EXPLORER] Fix for Start Button Wrong size when Using Themes
  base/shell/explorer/traywnd.cpp
Labels: enhancement, bugfix
