Repository reactos/reactos, pull requests merged in 2021-10, with the labels that each got.

#3986 [SHELL32] Fix uninitialized variable usage.
  dll/win32/shell32/shellmenu/CMenuToolbars.cpp
Labels: bugfix

#3987 [IMM32] Implement ImmActivateLayout
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
  sdk/include/psdk/imm.h
  sdk/include/reactos/wine/ddk/imm.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#3988 [IMM32_APITEST] Add ImmGetImeInfoEx testcase
  modules/rostests/apitests/imm32/CMakeLists.txt
  modules/rostests/apitests/imm32/ImmGetImeInfoEx.c
  modules/rostests/apitests/imm32/testlist.c
Labels: enhancement, ROSTESTS

#3997 [RAPPS] Update German translation
  base/applications/rapps/lang/de-DE.rc
Labels: hacktoberfest-accepted

#3989 [IMM32] Add IMP stub functions
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/keymsg.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
  dll/win32/imm32/win3.c
Labels: enhancement

#3998 [IMM32] Implement ImmSystemHandler
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/keymsg.c
Labels: enhancement

#4030 [ATL][ATL_APITEST] Add test for CPath +small fixes
  modules/rostests/apitests/atl/CMakeLists.txt
  modules/rostests/apitests/atl/CPath.cpp
  modules/rostests/apitests/atl/CPath.inl
  modules/rostests/apitests/atl/devenv/ATLTest.sln
  modules/rostests/apitests/atl/devenv/CPath.vcxproj
  modules/rostests/apitests/atl/testlist.c
  sdk/lib/atl/atlpath.h
Labels: bugfix, ROSTESTS
