Repository reactos/reactos, pull requests merged in 2021-02, with the labels that each got.

#3439 [CMIPCI] Compile it as NT5.2, not NT6.0
  drivers/wdm/audio/drivers/CMIDriver/CMakeLists.txt
Labels: trivial fix

#3443 [BOOTDATA] Link the Accessibility Utility Manager for LiveCD builds
  boot/bootdata/CMakeLists.txt
Labels: bugfix

#3432 [NTOS:SE] Implement SECURITY_TOKEN_PROXY_DATA, SECURITY_TOKEN_AUDIT_D…
  ntoskrnl/include/internal/tag.h
  sdk/include/ndk/setypes.h
Labels: enhancement

#3423 [TRANSLATION] update hungarian translation of cpl/timedate, cpl/main,…
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/main/lang/hu-HU.rc
  dll/cpl/timedate/lang/hu-HU.rc
Labels: TRANSLATION

#3427 Add Russian translation for disk and cdrom class
  drivers/storage/class/cdrom_new/cdrom.inf
  drivers/storage/class/disk_new/disk.inf
Labels: TRANSLATION

#3444 [THEMES] Fix Lunar theme
  media/themes/Lunar/lunar.msstyles/lunar.rc
Labels: bugfix

#3445 [NTOS:SE] Do not use a global lock for tokens
  ntoskrnl/include/internal/tag.h
  ntoskrnl/se/token.c
  sdk/include/ndk/setypes.h
Labels: enhancement

#3448 [SETUPLIB] Fix 'unlock' copypasta, in a log
  base/setup/lib/bootsup.c
Labels: trivial fix

#3449 [SHELL32] Fixing COpenWithMenu.cpp for handling path strings with spaces
  dll/win32/shell32/COpenWithMenu.cpp
Labels: bugfix

#2825 [SYSSETUP] Make status dialog look like msgina status dialog
  dll/win32/syssetup/install.c
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/fi-FI.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/lt-LT.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/resource.h
  dll/win32/syssetup/resources/line.bmp
  dll/win32/syssetup/resources/reactos.bmp
  dll/win32/syssetup/syssetup.rc
Labels: enhancement, modding

#3446 [INF] Update Czech (cs-CZ), Slovak (sk-SK) and Esperanto (eo-AA) translations
  media/inf/defltsv.inf
  media/inf/defltwk.inf
Labels: TRANSLATION

#3430 [TRANSLATION] Chinese Traditional (zh-TW) translation improvement
  base/applications/cacls/lang/zh-TW.rc
  base/applications/calc/lang/zh-TW.rc
  base/applications/calc/resource.rc
  base/applications/games/solitaire/lang/zh-TW.rc
  base/applications/network/ping/lang/zh-TW.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/wordpad/lang/zh-TW.rc
  base/applications/write/lang/Zh.rc
  media/doc/For_Chinese_Translation.txt
  modules/rosapps/applications/sysutils/fontsub/lang/zh-TW.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/zh-TW.rc
  modules/rosapps/applications/sysutils/systeminfo/rsrc.rc
  modules/rosapps/applications/vcdcontroltool/lang/zh-TW.rc
  modules/rosapps/applications/winfile/lang/zh-TW.rc
Labels: TRANSLATION

#3348 [NTOS:CC] Raise status, when CcMapData fails
  drivers/filesystems/fastfat/fat.c
  ntoskrnl/cc/pin.c
Labels: bugfix, drivers, kernel&hal, needs rebase, x64

#3452 [NOTEPAD] Implement File->New Window
  base/applications/notepad/dialog.c
  base/applications/notepad/dialog.h
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/main.c
  base/applications/notepad/notepad_res.h
Labels: enhancement

#3113 [SHIMGVW] Add new features (CORE-11044)
  dll/win32/shimgvw/comsup.c
  dll/win32/shimgvw/lang/bg-BG.rc
  dll/win32/shimgvw/lang/cs-CZ.rc
  dll/win32/shimgvw/lang/de-DE.rc
  dll/win32/shimgvw/lang/en-US.rc
  dll/win32/shimgvw/lang/es-ES.rc
  dll/win32/shimgvw/lang/fr-FR.rc
  dll/win32/shimgvw/lang/he-IL.rc
  dll/win32/shimgvw/lang/it-IT.rc
  dll/win32/shimgvw/lang/ja-JP.rc
  dll/win32/shimgvw/lang/lt-LT.rc
  dll/win32/shimgvw/lang/no-NO.rc
  dll/win32/shimgvw/lang/pl-PL.rc
  dll/win32/shimgvw/lang/pt-PT.rc
  dll/win32/shimgvw/lang/ro-RO.rc
  dll/win32/shimgvw/lang/ru-RU.rc
  dll/win32/shimgvw/lang/sk-SK.rc
  dll/win32/shimgvw/lang/sq-AL.rc
  dll/win32/shimgvw/lang/tr-TR.rc
  dll/win32/shimgvw/lang/uk-UA.rc
  dll/win32/shimgvw/lang/zh-CN.rc
  dll/win32/shimgvw/lang/zh-TW.rc
  dll/win32/shimgvw/res/best_fit.bmp
  dll/win32/shimgvw/res/delete.bmp
  dll/win32/shimgvw/res/help_toc.bmp
  dll/win32/shimgvw/res/modify.bmp
  dll/win32/shimgvw/res/real_size.bmp
  dll/win32/shimgvw/res/slide_show.bmp
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.rc
Labels: TRANSLATION, enhancement, refactoring

#3459 [SHIMGVW] Fix wrong text into the title bar.
  dll/win32/shimgvw/CMakeLists.txt
Labels: bugfix

#3460 [MMSYS] Add the OFN_EXPLORER flag to the Browse for sound dialog
  dll/cpl/mmsys/sounds.c
Labels: enhancement

#3461 [SHIMGVW] Refactoring
  dll/win32/shimgvw/shimgvw.c
Labels: enhancement, refactoring

#3464 [SHIMGVW] Update Czech (cs-CZ) translation
  dll/win32/shimgvw/lang/cs-CZ.rc
Labels: TRANSLATION

#3357 [NTOS:MM] Handle demand zero PTEs with MM_EXECUTE_READWRITE and MM_READWRITE
  ntoskrnl/mm/ARM3/pagfault.c
Labels: kernel&hal

#3453 [NTOS:WMI] IoWMIWriteEvent(): Add WNODE_FLAG_TRACED_GUID case
  ntoskrnl/wmi/wmi.c
Labels: kernel&hal

#3455 [GDI32_APITEST] Add more StretchBlt Regression Tests
  modules/rostests/apitests/gdi32/StretchBlt.c
Labels: ROSTESTS, enhancement

#3458 [WIN32K] Add StretchBlt function ability to flip images
  win32ss/gdi/dib/dib16bpp.c
  win32ss/gdi/dib/dib1bpp.c
  win32ss/gdi/dib/dib24bpp.c
  win32ss/gdi/dib/dib32bpp.c
  win32ss/gdi/dib/dib32bppc.c
  win32ss/gdi/dib/dib4bpp.c
  win32ss/gdi/dib/dib8bpp.c
  win32ss/gdi/dib/stretchblt.c
  win32ss/gdi/eng/bitblt.c
  win32ss/gdi/eng/copybits.c
  win32ss/gdi/eng/stretchblt.c
  win32ss/gdi/ntgdi/bitblt.c
  win32ss/gdi/ntgdi/dibobj.c
Labels: bugfix

#3471 [SHIMGVW] Use _countof instead of ARRAYSIZE and use UINT
  dll/win32/shimgvw/shimgvw.c
Labels: refactoring

#3469 [TRANSLATION] Update English (United States) (en-US) translation
  README.md
Labels: documentation

#3475 Replace my E-mail with the ReactOS org one
  base/applications/charmap_new/lang/it-IT.rc
  base/applications/charmap_new/lang/ro-RO.rc
  base/applications/clipbrd/lang/it-IT.rc
  base/applications/cmdutils/at/lang/it-IT.rc
  base/applications/cmdutils/clip/lang/it-IT.rc
  base/applications/cmdutils/taskkill/lang/it-IT.rc
  base/applications/cmdutils/taskkill/lang/pl-PL.rc
  base/applications/cmdutils/timeout/lang/ro-RO.rc
  base/applications/cmdutils/whoami/lang/it-IT.rc
  base/applications/cmdutils/wmic/lang/it-IT.rc
  base/applications/drwtsn32/lang/it-IT.rc
  base/applications/drwtsn32/lang/ro-RO.rc
  base/applications/network/dwnl/lang/it-IT.rc
  base/applications/network/dwnl/lang/ro-RO.rc
  base/applications/network/tracert/lang/it-IT.rc
  base/applications/network/tracert/lang/ro-RO.rc
  base/applications/osk/lang/it-IT.rc
  base/applications/osk/lang/ro-RO.rc
  base/applications/osk/main.c
  base/applications/osk/precomp.h
  base/applications/osk/settings.c
  base/applications/rapps/lang/ro-RO.rc
  base/applications/utilman/lang/en-US.rc
  base/applications/utilman/lang/it-IT.rc
  base/applications/utilman/lang/ro-RO.rc
  base/applications/utilman/lang/zh-TW.rc
  base/applications/utilman/precomp.h
  base/applications/utilman/resource.h
  base/applications/utilman/umandlg/lang/en-US.rc
  base/applications/utilman/umandlg/lang/es-ES.rc
  base/applications/utilman/umandlg/lang/it-IT.rc
  base/applications/utilman/umandlg/lang/ro-RO.rc
  base/applications/utilman/umandlg/process.c
  base/applications/utilman/umandlg/registry.c
  base/applications/utilman/umandlg/resource.h
  base/applications/utilman/umandlg/umandlg.c
  base/applications/utilman/umandlg/umandlg.h
  base/applications/utilman/umandlg/umandlg.rc
  base/applications/utilman/utilman.c
  base/applications/utilman/utilman.rc
  base/system/chkdsk/lang/it-IT.rc
  base/system/chkdsk/lang/ro-RO.rc
  dll/shellext/cryptext/lang/it-IT.rc
  dll/shellext/cryptext/lang/ro-RO.rc
  dll/shellext/fontext/lang/it-IT.rc
  dll/shellext/fontext/lang/ro-RO.rc
  dll/shellext/zipfldr/lang/it-IT.rc
  dll/shellext/zipfldr/lang/ro-RO.rc
  modules/rosapps/applications/vcdcontroltool/lang/it-IT.rc
  modules/rosapps/applications/vcdcontroltool/lang/ro-RO.rc
  modules/rostests/apitests/crt/mbtowc.c
  modules/rostests/apitests/crt/wctomb.c
  modules/rostests/apitests/ntdll/NtSetInformationProcess.c
  modules/rostests/apitests/ntdll/RtlGetNtProductType.c
  modules/rostests/apitests/shell32/ExtractIconEx.cpp
  win32ss/user/winsrv/usersrv/lang/ro-RO.rc
Labels: trivial fix

#3474 [USETUP] Display the "check the FS" section as a MUI page
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/eu-ES.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/hu-HU.h
  base/setup/usetup/lang/id-ID.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/pt-PT.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
  base/setup/usetup/mui.h
  base/setup/usetup/usetup.c
Labels: enhancement, refactoring

#3465 [FREELDR] DetectPnpBios(): Add 'i' to an ERR()
  boot/freeldr/freeldr/arch/i386/pc/machpc.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98hw.c
Labels: freeldr

#3472 [BROWSEUI] Refactoring CAutoComplete Part 1
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: refactoring

#3440 [TASKLIST] Implement tasklist command-line utility
  base/applications/cmdutils/CMakeLists.txt
  base/applications/cmdutils/tasklist/CMakeLists.txt
  base/applications/cmdutils/tasklist/lang/bg-BG.rc
  base/applications/cmdutils/tasklist/lang/ca-ES.rc
  base/applications/cmdutils/tasklist/lang/cs-CZ.rc
  base/applications/cmdutils/tasklist/lang/de-DE.rc
  base/applications/cmdutils/tasklist/lang/el-GR.rc
  base/applications/cmdutils/tasklist/lang/en-US.rc
  base/applications/cmdutils/tasklist/lang/es-ES.rc
  base/applications/cmdutils/tasklist/lang/et-EE.rc
  base/applications/cmdutils/tasklist/lang/fr-FR.rc
  base/applications/cmdutils/tasklist/lang/it-IT.rc
  base/applications/cmdutils/tasklist/lang/lt-LT.rc
  base/applications/cmdutils/tasklist/lang/no-NO.rc
  base/applications/cmdutils/tasklist/lang/pl-PL.rc
  base/applications/cmdutils/tasklist/lang/pt-BR.rc
  base/applications/cmdutils/tasklist/lang/ro-RO.rc
  base/applications/cmdutils/tasklist/lang/ru-RU.rc
  base/applications/cmdutils/tasklist/lang/sk-SK.rc
  base/applications/cmdutils/tasklist/lang/sq-AL.rc
  base/applications/cmdutils/tasklist/lang/sv-SE.rc
  base/applications/cmdutils/tasklist/lang/tr-TR.rc
  base/applications/cmdutils/tasklist/lang/uk-UA.rc
  base/applications/cmdutils/tasklist/lang/zh-CN.rc
  base/applications/cmdutils/tasklist/lang/zh-TW.rc
  base/applications/cmdutils/tasklist/resource.h
  base/applications/cmdutils/tasklist/tasklist.c
  base/applications/cmdutils/tasklist/tasklist.h
  base/applications/cmdutils/tasklist/tasklist.rc
Labels: enhancement

#3492 [SDK][ATL] Implement UnsubclassWindow methods
  modules/rostests/apitests/atl/CMakeLists.txt
  modules/rostests/apitests/atl/SubclassWindow.cpp
  modules/rostests/apitests/atl/devenv/.gitignore
  modules/rostests/apitests/atl/devenv/ATLTest.sln
  modules/rostests/apitests/atl/devenv/SubclassWindow.vcxproj
  modules/rostests/apitests/atl/testlist.c
  sdk/lib/atl/atlwin.h
Labels: enhancement

#3422 [SOLITAIRE] add undo feature & fix occasionally invisible cards
  base/applications/games/solitaire/CMakeLists.txt
  base/applications/games/solitaire/lang/bg-BG.rc
  base/applications/games/solitaire/lang/ca-ES.rc
  base/applications/games/solitaire/lang/cs-CZ.rc
  base/applications/games/solitaire/lang/de-DE.rc
  base/applications/games/solitaire/lang/el-GR.rc
  base/applications/games/solitaire/lang/en-US.rc
  base/applications/games/solitaire/lang/es-ES.rc
  base/applications/games/solitaire/lang/eu-ES.rc
  base/applications/games/solitaire/lang/fr-FR.rc
  base/applications/games/solitaire/lang/he-IL.rc
  base/applications/games/solitaire/lang/hu-HU.rc
  base/applications/games/solitaire/lang/id-ID.rc
  base/applications/games/solitaire/lang/it-IT.rc
  base/applications/games/solitaire/lang/ja-JP.rc
  base/applications/games/solitaire/lang/ko-KR.rc
  base/applications/games/solitaire/lang/lt-LT.rc
  base/applications/games/solitaire/lang/nl-NL.rc
  base/applications/games/solitaire/lang/no-NO.rc
  base/applications/games/solitaire/lang/pl-PL.rc
  base/applications/games/solitaire/lang/pt-BR.rc
  base/applications/games/solitaire/lang/ro-RO.rc
  base/applications/games/solitaire/lang/ru-RU.rc
  base/applications/games/solitaire/lang/sk-SK.rc
  base/applications/games/solitaire/lang/sq-AL.rc
  base/applications/games/solitaire/lang/sv-SE.rc
  base/applications/games/solitaire/lang/th-TH.rc
  base/applications/games/solitaire/lang/tr-TR.rc
  base/applications/games/solitaire/lang/uk-UA.rc
  base/applications/games/solitaire/lang/zh-CN.rc
  base/applications/games/solitaire/lang/zh-TW.rc
  base/applications/games/solitaire/resource.h
  base/applications/games/solitaire/solcreate.cpp
  base/applications/games/solitaire/solgame.cpp
  base/applications/games/solitaire/solitaire.cpp
  base/applications/games/solitaire/solitaire.h
  base/applications/games/solitaire/solundo.cpp
Labels: bugfix, enhancement
