Repository reactos/reactos, pull requests merged in 2021-08, with the labels that each got.

#3869 [UXTHEME] Fix incorrect part IDs in button class map.
  dll/win32/uxtheme/stylemap.c
Labels: WINESYNC, bugfix

#3860 [CONFIGURE] Make configure.sh print out an error when CMake fails
  configure.sh
Labels: enhancement

#3873 [IMM32] Rewrite ImmInstallIMEA
  dll/win32/imm32/imm.c
Labels: enhancement

#3867 [IMM32] ImmCreateContext, ImmDestroyContext, DllMain etc.
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  sdk/include/psdk/imm.h
  sdk/include/reactos/imm32_undoc.h
  win32ss/include/imetable.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#3875 [NTFS] New defines & stub for reading encrypted files
  drivers/filesystems/ntfs/fcb.c
  drivers/filesystems/ntfs/ntfs.h
  drivers/filesystems/ntfs/rw.c
Labels: drivers, enhancement

#3877 [IMM32] Implement ImmGetGuideLineA/W
  dll/win32/imm32/imm.c
Labels: enhancement

#3879 [IMM32] Rewrite ImmSetConversionStatus
  dll/win32/imm32/imm.c
Labels: enhancement

#3880 [WIN32K] Init User part after GDI one.
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/ntuser.c
  win32ss/user/ntuser/ntuser.h
Labels: enhancement

#3885 [NTOS:MM] Implement MmFlushImageSection(MmFlushForWrite)
  ntoskrnl/mm/section.c
Labels: enhancement, kernel&hal

#3882 [TRANSLATION] Add/update Hungarian translation of deskmon, notepad, w…
  base/applications/notepad/lang/hu-HU.rc
  base/system/winlogon/lang/hu-HU.rc
  dll/shellext/deskmon/deskmon.rc
  dll/shellext/deskmon/lang/hu-HU.rc
  dll/win32/mycomput/lang/hu-HU.rc
  dll/win32/mycomput/mycomput.rc
Labels: TRANSLATION

#3884 [IMM32] Rewrite ImmSetCandidateWindow
  dll/win32/imm32/imm.c
Labels: enhancement

#3886 [IMM32] Rewrite ImmSetCompositionFontA/W
  dll/win32/imm32/imm.c
  sdk/include/reactos/wine/ddk/imm.h
Labels: enhancement

#3808 [GDI32] Revise IntTMWFixUp Raster Font List
  win32ss/gdi/ntgdi/text.c
Labels: enhancement, bugfix

#3889 [IMM32] Rewrite ImmGetVirtualKey
  dll/win32/imm32/imm.c
Labels: enhancement

#3881 [IMM32] Rewrite ImmRegisterWordA
  dll/win32/imm32/imm.c
  win32ss/include/imetable.h
Labels: enhancement, review pending

#3892 [IMM32] Rewrite ImmRegisterWordW
  dll/win32/imm32/imm.c
Labels: enhancement

#3893 [IMM32] Rewrite ImmUnregisterWordA
  dll/win32/imm32/imm.c
Labels: enhancement

#3894 [IMM32] Rewrite ImmUnregisterWordW
  dll/win32/imm32/imm.c
Labels: enhancement

#3895 [IMM32] Rewrite ImmGetConversionListA/W
  dll/win32/imm32/imm.c
Labels: enhancement

#3896 [IMM32] Rewrite ImmGetProperty
  dll/win32/imm32/imm.c
Labels: enhancement

#3900 [IMM32] Refactor and simplify code
  dll/win32/imm32/imm.c
Labels: refactoring

#3901 [IMM32] Rewrite ImmGetRegisterWordStyleA/W
  dll/win32/imm32/imm.c
  win32ss/include/imetable.h
Labels: enhancement

#3902 [IMM32] Delete Wine-specific functions
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
Labels: refactoring

#3912 [RTL/x64] Fix a typo RtplUnwindInternal -> RtlpUnwindInternal
  sdk/lib/rtl/amd64/except.c
  sdk/lib/rtl/amd64/unwind.c
Labels: trivial fix

#3906 [IMM32] Rewrite ImmEnumRegisterWordA/W
  dll/win32/imm32/imm.c
  win32ss/include/imetable.h
Labels: enhancement

#3907 [IMM32] Rewrite ImmIsUIMessageA/W
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  modules/rostests/apitests/imm32/clientimc.c
  modules/rostests/winetests/imm32/imm32.c
  sdk/include/psdk/imm.h
  win32ss/include/ntuser.h
Labels: enhancement

#3908 [IMM32_APITEST] Add ImmIsUIMessage testcase
  modules/rostests/apitests/imm32/CMakeLists.txt
  modules/rostests/apitests/imm32/ImmIsUIMessage.c
  modules/rostests/apitests/imm32/testlist.c
Labels: enhancement, ROSTESTS

#3914 [IMM32] ImmGenerateMessage and ImmTranslateMessage
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  sdk/include/reactos/wine/ddk/imm.h
  win32ss/include/imetable.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: enhancement

#3920 [INCLUDE] Move WM_IME_SYSTEM from ntuser.h to undocuser.h
  dll/win32/imm32/imm.c
  sdk/include/reactos/undocuser.h
  win32ss/include/ntuser.h
Labels: refactoring

#3903 [EXPLORER] [RUNONCEEX] Handle RunOnceEx by invoking RunOnceEx in iernonce.dll
  base/shell/explorer/startup.cpp
Labels: enhancement

#3917 [IMM32] Rewrite ImmProcessKey
  dll/win32/imm32/imm.c
  sdk/include/psdk/imm.h
  win32ss/include/imetable.h
  win32ss/include/ntuser.h
Labels: enhancement

#3919 [IMM32] Implement ImmWINNLSGetIMEHotkey
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
Labels: enhancement, trivial fix

#3915 [NTUSER] Improve NtUserQueryWindow
  win32ss/include/ntuser.h
  win32ss/user/ntuser/win32.h
  win32ss/user/ntuser/window.c
Labels: enhancement

#3922 [WIN32KNT_APITEST] Add NtUserGetThreadState testcase
  modules/rostests/apitests/win32nt/CMakeLists.txt
  modules/rostests/apitests/win32nt/ntuser/NtUserGetThreadState.c
  modules/rostests/apitests/win32nt/testlist.c
Labels: enhancement, ROSTESTS

#3897 [NTOS:SE] Document the whole subsystem in Doxygen format
  ntoskrnl/include/internal/se.h
  ntoskrnl/se/access.c
  ntoskrnl/se/accesschk.c
  ntoskrnl/se/acl.c
  ntoskrnl/se/audit.c
  ntoskrnl/se/priv.c
  ntoskrnl/se/sd.c
  ntoskrnl/se/semgr.c
  ntoskrnl/se/sid.c
  ntoskrnl/se/srm.c
  ntoskrnl/se/token.c
  sdk/include/ndk/sefuncs.h
Labels: documentation, kernel&hal

#3871 [IERNONCE] Display a dialog to show progress, add a thread to execute.
  dll/win32/iernonce/CMakeLists.txt
  dll/win32/iernonce/dialog.cpp
  dll/win32/iernonce/dialog.h
  dll/win32/iernonce/iernonce.cpp
  dll/win32/iernonce/iernonce.spec
  dll/win32/iernonce/include/registry.h
  dll/win32/iernonce/registry.cpp
Labels: enhancement

#3918 [USER32][IMM32] Improve User32InitializeImmEntryTable
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  win32ss/user/user32/include/immtable.h
  win32ss/user/user32/include/user32.h
  win32ss/user/user32/misc/dllmain.c
  win32ss/user/user32/misc/imm.c
Labels: review pending, refactoring

#3923 [IMM32] Rewrite ImmGetContext
  dll/win32/imm32/imm.c
  win32ss/include/ntuser.h
Labels: enhancement

#3930 [CMAKE][BOOTDATA] Fix root CA certificates for Live CD
  boot/bootdata/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
Labels: bugfix
