Repository reactos/reactos, pull requests merged in 2021-04, with the labels that each got.

#3571 [NOTEPAD][WORDPAD][MSPAINT]... Use newer file open dialog
  base/applications/clipbrd/clipbrd.c
  base/applications/mmc/console.c
  base/applications/mplay32/mplay32.c
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/servman/propsheet_recovery.c
  base/applications/mspaint/main.cpp
  base/applications/notepad/dialog.c
  base/applications/regedit/framewnd.c
  base/applications/winhlp32/winhelp.c
  base/applications/wordpad/print.c
  base/applications/wordpad/wordpad.c
  base/shell/progman/dialog.c
  dll/shellext/shellbtrfs/recv.cpp
  dll/shellext/shellbtrfs/send.cpp
  dll/win32/cryptui/main.c
  dll/win32/setupapi/dialog.c
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
  modules/rosapps/applications/devutils/vgafontedit/opensave.c
  modules/rosapps/applications/sysutils/utils/infinst/infinst.c
  modules/rosapps/lib/vfdlib/vfdguiopen.c
  modules/rosapps/lib/vfdlib/vfdguisave.c
Labels: enhancement, modding

#3574 [SHELL32] Auto-completion on Properties for Shortcut
  dll/win32/shell32/CShellLink.cpp
Labels: enhancement

#3577 [BROWSEUI_APITEST] Strengthen ACListISF testcase
  modules/rostests/apitests/browseui/ACListISF.cpp
Labels: ROSTESTS

#3578 [BROWSEUI] Fix auto-completion on relative paths
  dll/win32/browseui/aclistisf.cpp
Labels: bugfix, enhancement

#3414 [NTOS:MM] Stubplement cookie generation for drivers
  ntoskrnl/mm/ARM3/sysldr.c
Labels: enhancement, kernel&hal

#3582 [BROWSEUI][BROWSEUI_APITEST] Add CLSID_ACLHistory stubs
  dll/win32/browseui/CMakeLists.txt
  dll/win32/browseui/aclhistory.cpp
  dll/win32/browseui/aclhistory.h
  dll/win32/browseui/browseui.cpp
  dll/win32/browseui/browseui.rc
  dll/win32/browseui/precomp.h
  dll/win32/browseui/res/autocompletehistory.rgs
  dll/win32/browseui/resource.h
  modules/rostests/apitests/browseui/CMakeLists.txt
  modules/rostests/apitests/browseui/IACLHistory.cpp
  modules/rostests/apitests/browseui/testlist.c
Labels: enhancement

#3585 [FONTEXT_APITEST] Show that fontext returns absolute paths with SHGDN_FORPARSING
  modules/rostests/apitests/fontext/CMakeLists.txt
  modules/rostests/apitests/fontext/GetDisplayNameOf.cpp
  modules/rostests/apitests/fontext/testlist.c
Labels: ROSTESTS

#3589 [BROWSEUI] auto-completion: Reduce failures in ACListISF
  dll/win32/browseui/aclistisf.cpp
  dll/win32/browseui/aclistisf.h
Labels: bugfix

#3588 [NTOS:KE] Rewrite KiSystemCallTrampoline in assembly
  ntoskrnl/include/internal/i386/ke.h
  ntoskrnl/ke/i386/trap.s
Labels: enhancement, kernel&hal, refactoring

#3590 [BROWSEUI] Reduce IAutoComplete failures
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: bugfix

#3559 [USETUP] Display some contents in the page whilst installing the boot…
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/bn-BD.h
  base/setup/usetup/lang/cs-CZ.h
  base/setup/usetup/lang/da-DK.h
  base/setup/usetup/lang/de-DE.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/en-US.h
  base/setup/usetup/lang/es-ES.h
  base/setup/usetup/lang/et-EE.h
  base/setup/usetup/lang/eu-ES.h
  base/setup/usetup/lang/fr-FR.h
  base/setup/usetup/lang/he-IL.h
  base/setup/usetup/lang/hu-HU.h
  base/setup/usetup/lang/id-ID.h
  base/setup/usetup/lang/it-IT.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/ms-MY.h
  base/setup/usetup/lang/nl-NL.h
  base/setup/usetup/lang/pl-PL.h
  base/setup/usetup/lang/pt-BR.h
  base/setup/usetup/lang/pt-PT.h
  base/setup/usetup/lang/ro-RO.h
  base/setup/usetup/lang/ru-RU.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/tr-TR.h
  base/setup/usetup/lang/uk-UA.h
  base/setup/usetup/usetup.c
  base/setup/usetup/usetup.h
Labels: enhancement

#3586 [NTOS:MM][NTOS:SE] Mute some noisy stubs CORE-17409
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/se/audit.c
Labels: kernel&hal, trivial fix

#3592 [BROWSEUI] auto-completion: Support large number items
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: enhancement

#2730 [OSK] Handle the warning dialog box in its own thread
  base/applications/osk/main.c
  base/applications/osk/precomp.h
Labels: enhancement

#3511 [SHELL32] Do not format the partition if it's a system drive
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement

#3557 [UNIATA] uniata_reg.inf: Add 'PnpInterface\5' key
  drivers/storage/ide/uniata/uniata_reg.inf
Labels: drivers

#3553 [CHKDSK][USERINIT] Add and improve Portuguese (pt-PT) translation
  base/system/chkdsk/chkdsk.rc
  base/system/chkdsk/lang/pt-PT.rc
  base/system/userinit/lang/pt-PT.rc
Labels: TRANSLATION

#3608 [TRANSLATION] Add/update Hungarian translation for solitaire, spider …
  base/applications/games/solitaire/lang/hu-HU.rc
  base/applications/games/spider/lang/hu-HU.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/rapps.rc
  base/setup/usetup/lang/hu-HU.h
  dll/cpl/timedate/lang/hu-HU.rc
  dll/win32/shell32/lang/hu-HU.rc
  win32ss/user/user32/lang/hu-HU.rc
Labels: TRANSLATION

#3601 [CONFIGURE] Fix warnings shown when parsing cmdline
  configure.cmd
Labels: bugfix

#3613 [NTOS:SE] Lock the token in SeQueryInformationToken and do some cleanup
  ntoskrnl/se/token.c
Labels: kernel&hal, trivial fix

#3593 [WINLOGON] Show "Restaring..." while restarting.
  base/system/winlogon/lang/bg-BG.rc
  base/system/winlogon/lang/cs-CZ.rc
  base/system/winlogon/lang/de-DE.rc
  base/system/winlogon/lang/el-GR.rc
  base/system/winlogon/lang/en-US.rc
  base/system/winlogon/lang/es-ES.rc
  base/system/winlogon/lang/fr-FR.rc
  base/system/winlogon/lang/he-IL.rc
  base/system/winlogon/lang/hu-HU.rc
  base/system/winlogon/lang/id-ID.rc
  base/system/winlogon/lang/it-IT.rc
  base/system/winlogon/lang/ja-JP.rc
  base/system/winlogon/lang/lt-LT.rc
  base/system/winlogon/lang/ms-MY.rc
  base/system/winlogon/lang/nl-NL.rc
  base/system/winlogon/lang/no-NO.rc
  base/system/winlogon/lang/pl-PL.rc
  base/system/winlogon/lang/pt-BR.rc
  base/system/winlogon/lang/pt-PT.rc
  base/system/winlogon/lang/ro-RO.rc
  base/system/winlogon/lang/ru-RU.rc
  base/system/winlogon/lang/sk-SK.rc
  base/system/winlogon/lang/sq-AL.rc
  base/system/winlogon/lang/sv-SE.rc
  base/system/winlogon/lang/tr-TR.rc
  base/system/winlogon/lang/uk-UA.rc
  base/system/winlogon/lang/zh-CN.rc
  base/system/winlogon/lang/zh-TW.rc
  base/system/winlogon/resource.h
  base/system/winlogon/sas.c
Labels: enhancement

#3480 [MPR] WNetClearConnections: Enforce HWND parameter type
  base/system/winlogon/sas.c
  dll/win32/mpr/mpr.spec
  sdk/include/reactos/undocmpr.h
Labels: trivial fix

#3618 [MSGINA] Determine which kind of dialog box is before terminating it
  dll/win32/msgina/shutdown.c
Labels: bugfix

#1933 [THEMES] Fix mizu start logo resource
  media/themes/Mizu/mizu.msstyles/bitmaps/NORMAL_STARTBUTTON.bmp
Labels: enhancement, modding

#2961 [USRMGR] Increase name sizes to 'UNLEN + 1'
  dll/cpl/usrmgr/groupprops.c
  dll/cpl/usrmgr/groups.c
  dll/cpl/usrmgr/userprops.c
  dll/cpl/usrmgr/users.c
Labels: trivial fix

#3542 [REACTOS] InitImageList(): Fix error checks
  base/applications/mscutils/servman/misc.c
  dll/cpl/mmsys/sounds.c
  modules/rosapps/applications/imagesoft/misc.c
  modules/rostests/winetests/GUI/misc.c
Labels: trivial fix

#859 [TRANSLATION] Serbian, SR. Start of a new language.
  base/applications/cacls/cacls.rc
  base/applications/cacls/lang/sr-SP.rc
Labels: TRANSLATION

#3622 [CMDUTILS][FC] Initial implement FC command
  base/applications/cmdutils/CMakeLists.txt
  base/applications/cmdutils/fc/CMakeLists.txt
  base/applications/cmdutils/fc/fc.c
  base/applications/cmdutils/fc/fc.rc
  base/applications/cmdutils/fc/lang/en-US.rc
  base/applications/cmdutils/fc/resource.h
Labels: enhancement

#3624 [SDK][INCLUDE] Fix offsetof and CCSIZEOF_STRUCT for Clang-CL build
  sdk/include/crt/stddef.h
  sdk/include/psdk/commctrl.h
Labels: bugfix

#3599 [HHPCOMP] Add ARM64/AARCH64 types
  sdk/tools/hhpcomp/chmc/chm.h
Labels: trivial fix

#3626 [FC][TRANSLATION] FC: Enable localization
  base/applications/cmdutils/fc/fc.rc
  base/applications/cmdutils/fc/lang/bg-BG.rc
  base/applications/cmdutils/fc/lang/cs-CZ.rc
  base/applications/cmdutils/fc/lang/de-DE.rc
  base/applications/cmdutils/fc/lang/el-GR.rc
  base/applications/cmdutils/fc/lang/en-GB.rc
  base/applications/cmdutils/fc/lang/es-ES.rc
  base/applications/cmdutils/fc/lang/et-EE.rc
  base/applications/cmdutils/fc/lang/fr-FR.rc
  base/applications/cmdutils/fc/lang/he-IL.rc
  base/applications/cmdutils/fc/lang/hu-HU.rc
  base/applications/cmdutils/fc/lang/id-ID.rc
  base/applications/cmdutils/fc/lang/it-IT.rc
  base/applications/cmdutils/fc/lang/ja-JP.rc
  base/applications/cmdutils/fc/lang/nl-NL.rc
  base/applications/cmdutils/fc/lang/no-NO.rc
  base/applications/cmdutils/fc/lang/pl-PL.rc
  base/applications/cmdutils/fc/lang/pt-BR.rc
  base/applications/cmdutils/fc/lang/pt-PT.rc
  base/applications/cmdutils/fc/lang/ro-RO.rc
  base/applications/cmdutils/fc/lang/ru-RU.rc
  base/applications/cmdutils/fc/lang/sk-SK.rc
  base/applications/cmdutils/fc/lang/sq-AL.rc
  base/applications/cmdutils/fc/lang/sv-SE.rc
  base/applications/cmdutils/fc/lang/tr-TR.rc
  base/applications/cmdutils/fc/lang/uk-UA.rc
  base/applications/cmdutils/fc/lang/zh-CN.rc
  base/applications/cmdutils/fc/lang/zh-TW.rc
Labels: TRANSLATION, enhancement

#3476 [NTOS:OB] Do not close the handle if it's granted access to ObpAccess…
  ntoskrnl/include/internal/ob.h
  ntoskrnl/ob/obhandle.c
  ntoskrnl/ob/obref.c
Labels: bugfix, kernel&hal

#3563 [JOY] Update Hebrew (he-IL) translation
  dll/cpl/joy/lang/he-IL.rc
Labels: TRANSLATION

#3629 [FC] Polish (pl-PL) translation
  base/applications/cmdutils/fc/lang/pl-PL.rc
Labels: TRANSLATION

#3632 [CMD_APITEST] Add FC testcase
  modules/rostests/apitests/cmd/CMakeLists.txt
  modules/rostests/apitests/cmd/fc.c
  modules/rostests/apitests/cmd/testlist.c
Labels: ROSTESTS

#3634 [NTOS:PS] NtQueryInformationProcess(): Fix ProcessDeviceMap case
  ntoskrnl/ps/query.c
Labels: kernel&hal, trivial fix
