Repository reactos/reactos, pull requests merged in 2022-03, with the labels that each got.

#4377 [NTUSER][IMM32] Fix ValidateHandleNoErr
  dll/win32/imm32/utils.c
  win32ss/user/ntuser/ime.c
Labels: bugfix

#4380 [NTUSER] Fix Toolbar re-painting when Rebar parent has been altered.
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#4366 [AC97] Enable on all Intel AC'97 audio controllers
  drivers/wdm/audio/drivers/ac97/ac97.inf
Labels: enhancement, drivers

#4368 [AC97] Improve version info
  drivers/wdm/audio/drivers/ac97/ac97.rc
Labels: enhancement, drivers

#4376 [TASKMGR] Add version info
  base/applications/taskmgr/taskmgr.rc
Labels: trivial fix

#4381 [SHELL32] Support CSIDL_FLAG_NO_ALIAS
  dll/win32/shell32/wine/shellpath.c
Labels: enhancement, bugfix

#4382 [ATL] Add atlsync.h
  sdk/lib/atl/atlsync.h
Labels: enhancement

#4384 [NETKVM] Fix calling convention for callback and variadic functions
  drivers/network/dd/netkvm/Common/ParaNdis-Common.c
  drivers/network/dd/netkvm/Common/ParaNdis-Debug.c
  drivers/network/dd/netkvm/Common/ndis56common.h
Labels: bugfix, drivers

#4383 [SHELL32] Do not reopen the drive properties dialog on cancel
  dll/win32/shell32/dialogs/drive.cpp
Labels: bugfix

#4397 [WINLOGON] Make PC Speaker "beep" similar to Windows 2003 one
  base/system/winlogon/sas.c
Labels: enhancement

#4395 [RAPPS] Fix uninstalling applications
  base/applications/rapps/installed.cpp
  base/applications/rapps/misc.cpp
Labels: enhancement, bugfix

#3775 [FREELDR] Allow booting from NTFS volume.
  boot/freeldr/freeldr/include/fs/ntfs.h
  boot/freeldr/freeldr/lib/fs/ntfs.c
Labels: enhancement, bugfix, freeldr

#4292 [NTOS:IO] IoRegisterDeviceInterface: create non-volatile keys for new device interfaces
  ntoskrnl/io/iomgr/deviface.c
Labels: bugfix, kernel&hal

#4416 [IMM32] Renaming: s/pImmHeap/ghImmHeap/
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
Labels: trivial fix

#4419 [IMM32] Renaming about IME layout
  dll/win32/imm32/candidate.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
Labels: trivial fix

#4420 [IMM32] Renaming: worker functions
  dll/win32/imm32/candidate.c
  dll/win32/imm32/compstr.c
  dll/win32/imm32/guideline.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/keymsg.c
Labels: trivial fix

#4422 [IMM32] Renaming: s/ImmLockOrLoadImeDpi/Imm32FindOrLoadImeDpi/
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/regword.c
Labels: trivial fix

#4423 [IMM32] Add more 'Win:' comments
  dll/win32/imm32/compstr.c
  dll/win32/imm32/keymsg.c
  dll/win32/imm32/utils.c
Labels: trivial fix

#4326 [ACCESS] [REGEDIT] Improve pt-PT translation
  base/applications/regedit/lang/pt-PT.rc
  dll/cpl/access/lang/pt-PT.rc
Labels: TRANSLATION

#4421 [DISKPART] *.rc Reduce likelihood of translators messing with indenta…
  base/system/diskpart/lang/en-US.rc
  base/system/diskpart/lang/pl-PL.rc
  base/system/diskpart/lang/pt-PT.rc
  base/system/diskpart/lang/ro-RO.rc
  base/system/diskpart/lang/ru-RU.rc
  base/system/diskpart/lang/sq-AL.rc
  base/system/diskpart/lang/tr-TR.rc
  base/system/diskpart/lang/zh-CN.rc
  base/system/diskpart/lang/zh-TW.rc
Labels: enhancement, trivial fix

#4388 [TRANSLATION] Improve Simplified & Traditional Chinese translations
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  drivers/bus/acpi/acpi.inf
  drivers/filesystems/btrfs/btrfs.inf
  drivers/network/dd/ne2000/netne2000.inf
  drivers/processor/processr/cpu.inf
  drivers/storage/class/cdrom/cdrom.inf
  drivers/storage/class/disk/disk.inf
  drivers/storage/port/storahci/storahci.inf
  drivers/usb/usbstor/usbstor.inf
  media/inf/display.inf
  media/inf/flpydisk.inf
  media/inf/input.inf
  media/inf/intl.inf
  media/inf/volume.inf
Labels: TRANSLATION, drivers

#4424 [CMAKE] msvc.cmake: Remove redundant '/Gy'
  sdk/cmake/msvc.cmake
Labels: enhancement, trivial fix
