Repository reactos/reactos, pull requests merged in 2022-12, with the labels that each got.

#4920 [NTGDI][FREETYPE] lfEscapement for TextOut
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement

#4923 [EXPLORER] Fix Windows XP compatibility
  base/shell/explorer/desktop.cpp
Labels: bugfix, shell

#4913 [SENDMAIL] Fix Send To -> Desktop (create shortcut) behavior
  dll/shellext/sendmail/CDeskLinkDropHandler.cpp
Labels: enhancement, bugfix, shell

#4898 [MMSYS] Prevent the same sound from being added multiple times
  dll/cpl/mmsys/sounds.c
Labels: bugfix

#4930 [KDGDB] Fix compilation following commit de81021ba
  drivers/base/kdgdb/kdpacket.c
Labels: bugfix, drivers

#4928 [SYSDM] System Parameters: Add close button
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/cpl/sysdm/lang/cs-CZ.rc
  dll/cpl/sysdm/lang/da-DK.rc
  dll/cpl/sysdm/lang/de-DE.rc
  dll/cpl/sysdm/lang/el-GR.rc
  dll/cpl/sysdm/lang/en-US.rc
  dll/cpl/sysdm/lang/es-ES.rc
  dll/cpl/sysdm/lang/fr-FR.rc
  dll/cpl/sysdm/lang/he-IL.rc
  dll/cpl/sysdm/lang/hu-HU.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/sysdm/lang/it-IT.rc
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/cpl/sysdm/lang/nl-NL.rc
  dll/cpl/sysdm/lang/no-NO.rc
  dll/cpl/sysdm/lang/pl-PL.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/cpl/sysdm/lang/sk-SK.rc
  dll/cpl/sysdm/lang/sq-AL.rc
  dll/cpl/sysdm/lang/sv-SE.rc
  dll/cpl/sysdm/lang/tr-TR.rc
  dll/cpl/sysdm/lang/uk-UA.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-HK.rc
  dll/cpl/sysdm/lang/zh-TW.rc
Labels: enhancement

#4931 [NTOS:IO] Properly zero-initialize file object extension on file object creation
  ntoskrnl/io/iomgr/file.c
Labels: bugfix, kernel&hal

#4906 [SHELL32] Fix My Documents properties
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, shell

#4927 [SHELL32] Improve empty recycle bin sound code
  dll/win32/shell32/folders/CRecycleBin.cpp
Labels: enhancement, refactoring, shell

#4933 [CONSOLE] Update german translation de-DE.rc
  dll/cpl/console/lang/de-DE.rc
  dll/cpl/console/layout.c
Labels: TRANSLATION

#4937 [BTRFS] btrfs.inf: Comment out mkbtrfs.exe
  drivers/filesystems/btrfs/btrfs.inf
Labels: trivial fix, drivers

#4943 [DESK] Update german translation de-DE.rc
  dll/cpl/desk/lang/de-DE.rc
Labels: TRANSLATION

#4944 [SHELL32] Fix detailed list views in control panel
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, shell

#4945 [SHELL32] Read the label for a CD from autorun.inf
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: enhancement, shell

#4947 [NTOBJSHEX] Sorting improvements
  dll/shellext/ntobjshex/ntobjfolder.cpp
  dll/shellext/ntobjshex/regfolder.cpp
Labels: enhancement, shell

#4949 [NTOBJSHEX] Fix displayed registry value type and icon
  dll/shellext/ntobjshex/ntobjenum.cpp
  dll/shellext/ntobjshex/regfolder.cpp
Labels: enhancement, bugfix, shell

#4941 [WIN32K:NTGDI] PATH_PathToRegion(): Update documentation
  win32ss/gdi/ntgdi/path.c
Labels: documentation

#4935 [NTUSER] Fix zombie window created by CTRL+ALT+DEL
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#4953 [DXDIAG] Fix Portuguese (pt-BR) translation
  base/applications/dxdiag/lang/pt-BR.rc
Labels: TRANSLATION, trivial fix

#4939 [SYSDM] Update Hungarian (hu-HU) translation
  dll/cpl/sysdm/lang/hu-HU.rc
Labels: TRANSLATION

#4956 [REGEDIT] Fix missing translation for Favorites menu
  base/applications/regedit/lang/pt-BR.rc
Labels: TRANSLATION

#4952 [INF] More deduplication and style harmonization
  drivers/filesystems/btrfs/btrfs.inf
  drivers/network/dd/ne2000/netne2000.inf
  drivers/network/dd/pcnet/netpcnet.inf
  drivers/network/dd/rtl8139/netrtl8139.inf
  drivers/processor/processr/cpu.inf
  drivers/wdm/audio/hdaudbus/hdaudbus.inf
  media/inf/audio.inf
  media/inf/battery.inf
  media/inf/bda.inf
  media/inf/bth.inf
  media/inf/fdc.inf
  media/inf/flpydisk.inf
  media/inf/hal.inf
  media/inf/hdc.inf
  media/inf/input.inf
  media/inf/intl.inf
  media/inf/keyboard.inf
  media/inf/ks.inf
  media/inf/kscaptur.inf
  media/inf/machine.inf
  media/inf/monitor.inf
  media/inf/msmouse.inf
  media/inf/nettcpip.inf
  media/inf/ports.inf
  media/inf/scsi.inf
  media/inf/shortcuts.inf
  media/inf/syssetup.inf.tpl
  media/inf/usb.inf
  media/inf/usbport.inf
  media/inf/wdmaudio.inf
  win32ss/drivers/miniport/xboxvmp/xboxdisp.inf
Labels: refactoring, drivers, janitorial

#4809 [LOG2LINES] Compile the tool for MSVC builds
  CMakeLists.txt
  dll/win32/dbghelp/CMakeLists.txt
  dll/win32/dbghelp/pe_module.c
  sdk/tools/CMakeLists.txt
  sdk/tools/log2lines/CMakeLists.txt
  sdk/tools/log2lines/compat.h
  sdk/tools/log2lines/image.c
  sdk/tools/rsym/rsym.h
Labels: enhancement

#4924 [MSPAINT] Don't allow to set image as wallpaper if it has the wrong format
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#4946 [NTOBJSHEX] Return early from GetInfoFromPidl when pcidl is null in LPCITEMIDLIST
  dll/shellext/ntobjshex/ntobjfolder.cpp
  dll/shellext/ntobjshex/regfolder.cpp
Labels: bugfix, shell
