Repository reactos/reactos, pull requests merged in 2022-09, with the labels that each got.

#4640 [USRMGR] Replace old (leftover) debug MessageBox with Wine macros
  dll/cpl/usrmgr/CMakeLists.txt
  dll/cpl/usrmgr/groupprops.c
  dll/cpl/usrmgr/misc.c
  dll/cpl/usrmgr/userprops.c
  dll/cpl/usrmgr/usrmgr.h
Labels: refactoring

#4647 [CONSOLE] Use translated resource rather than hardcoded text
  dll/cpl/console/console.c
Labels: enhancement, refactoring

#4652 [TASKMGR] Fix UI on SwitchTo for multiple application
  base/applications/taskmgr/applpage.c
Labels: bugfix

#4658 [TASKMGR] Fix overlapping controls (French only)
  base/applications/taskmgr/lang/fr-FR.rc
Labels: TRANSLATION

#4661 [NTOSKRNL] Fix returned number of handles for Idle System Process
  ntoskrnl/ex/sysinfo.c
Labels: kernel&hal

#4638 French translation update
  base/applications/calc/lang/fr-FR.rc
  base/applications/cmdutils/label/lang/fr-FR.rc
  base/applications/dxdiag/lang/fr-FR.rc
  base/applications/mplay32/lang/fr-FR.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/shutdown/lang/fr-FR.rc
  base/applications/sndvol32/lang/fr-FR.rc
  base/shell/explorer/lang/fr-FR.rc
  base/system/winlogon/lang/fr-FR.rc
  dll/cpl/console/lang/fr-FR.rc
  dll/cpl/mmsys/lang/fr-FR.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shlwapi/lang/fr-FR.rc
  dll/win32/syssetup/lang/fr-FR.rc
Labels: TRANSLATION

#4655 [THEMES] Improve text colors of Modern Dark theme
  media/themes/Modern/modern.msstyles/textfiles/Dark/ExtraLargeDark.INI
  media/themes/Modern/modern.msstyles/textfiles/Dark/LargeFontsDark.INI
  media/themes/Modern/modern.msstyles/textfiles/Dark/RegularDark.INI
Labels: modding

#4662 [NETSHELL] Fix "ghost" network activity when opening Network Status page
  dll/shellext/netshell/lanstatusui.cpp
Labels: bugfix

#4657 [TASKMGR] Fix number formatting to respect NLS Number format settings
  base/applications/taskmgr/precomp.h
  base/applications/taskmgr/procpage.c
Labels: enhancement

#4645 [NTUSER][USER32][IMM32] Initialize pKL->piiex by using ImmLoadLayout
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/utils.c
  win32ss/include/callback.h
  win32ss/user/ntuser/callback.c
  win32ss/user/ntuser/callback.h
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/ntuser.h
  win32ss/user/user32/misc/dllmain.c
  win32ss/user/user32/windows/input.c
Labels: enhancement

#4664 [TRANSLATION] Croatian translation of games (Solitare and Spider)
  base/applications/games/solitaire/lang/hr-HR.rc
  base/applications/games/solitaire/rsrc.rc
  base/applications/games/spider/lang/hr-HR.rc
  base/applications/games/spider/rsrc.rc
Labels: TRANSLATION

#4665 [DESKADP] Improve default display of advanced adapter properties
  dll/shellext/deskadp/deskadp.c
  dll/shellext/deskadp/lang/bg-BG.rc
  dll/shellext/deskadp/lang/cs-CZ.rc
  dll/shellext/deskadp/lang/de-DE.rc
  dll/shellext/deskadp/lang/el-GR.rc
  dll/shellext/deskadp/lang/en-US.rc
  dll/shellext/deskadp/lang/es-ES.rc
  dll/shellext/deskadp/lang/eu-ES.rc
  dll/shellext/deskadp/lang/fr-FR.rc
  dll/shellext/deskadp/lang/he-IL.rc
  dll/shellext/deskadp/lang/hi-IN.rc
  dll/shellext/deskadp/lang/it-IT.rc
  dll/shellext/deskadp/lang/no-NO.rc
  dll/shellext/deskadp/lang/pl-PL.rc
  dll/shellext/deskadp/lang/pt-PT.rc
  dll/shellext/deskadp/lang/ro-RO.rc
  dll/shellext/deskadp/lang/ru-RU.rc
  dll/shellext/deskadp/lang/sk-SK.rc
  dll/shellext/deskadp/lang/sq-AL.rc
  dll/shellext/deskadp/lang/tr-TR.rc
  dll/shellext/deskadp/lang/uk-UA.rc
  dll/shellext/deskadp/lang/zh-CN.rc
  dll/shellext/deskadp/lang/zh-HK.rc
  dll/shellext/deskadp/lang/zh-TW.rc
  dll/shellext/deskadp/resource.h
Labels: enhancement

#4649 [NOTEPAD] Improve UTF-8 encoding support and improve status bar
  base/applications/notepad/dialog.c
  base/applications/notepad/dialog.h
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/main.c
  base/applications/notepad/main.h
  base/applications/notepad/notepad_res.h
  base/applications/notepad/text.c
Labels: enhancement

#4668 [DESKADP] Add some spacing between the "legend" and the displayed data
  dll/shellext/deskadp/lang/bg-BG.rc
  dll/shellext/deskadp/lang/cs-CZ.rc
  dll/shellext/deskadp/lang/de-DE.rc
  dll/shellext/deskadp/lang/el-GR.rc
  dll/shellext/deskadp/lang/en-US.rc
  dll/shellext/deskadp/lang/es-ES.rc
  dll/shellext/deskadp/lang/eu-ES.rc
  dll/shellext/deskadp/lang/fr-FR.rc
  dll/shellext/deskadp/lang/he-IL.rc
  dll/shellext/deskadp/lang/hi-IN.rc
  dll/shellext/deskadp/lang/it-IT.rc
  dll/shellext/deskadp/lang/no-NO.rc
  dll/shellext/deskadp/lang/pl-PL.rc
  dll/shellext/deskadp/lang/pt-PT.rc
  dll/shellext/deskadp/lang/ro-RO.rc
  dll/shellext/deskadp/lang/ru-RU.rc
  dll/shellext/deskadp/lang/sk-SK.rc
  dll/shellext/deskadp/lang/sq-AL.rc
  dll/shellext/deskadp/lang/tr-TR.rc
  dll/shellext/deskadp/lang/uk-UA.rc
  dll/shellext/deskadp/lang/zh-CN.rc
  dll/shellext/deskadp/lang/zh-HK.rc
  dll/shellext/deskadp/lang/zh-TW.rc
Labels: bugfix

#4643 [EXPLORER] Fix Start Menu context menu actions
  base/shell/explorer/startctxmnu.cpp
Labels: bugfix, review pending

#4670 [ZIPFLDR] Show icon on the taskbar
  dll/shellext/zipfldr/CZipExtract.cpp
  dll/shellext/zipfldr/resource.h
  dll/shellext/zipfldr/zipfldr.rc
Labels: enhancement, bugfix

#4669 [NETSHELL] Fix Network Tray icon activity indication
  dll/shellext/netshell/lanstatusui.cpp
  dll/shellext/netshell/resource.h
Labels: bugfix

#4675 [SHELL32] Fix Assertion when opening "File" menu in MyComputer twice
  dll/win32/shell32/CDefView.cpp
Labels: bugfix

#4677 [MSPAINT][EXPLORER][SHELL32] Enable ATL asserts in CMake
  base/applications/mspaint/CMakeLists.txt
  base/applications/mspaint/precomp.h
  base/shell/explorer/CMakeLists.txt
  base/shell/explorer/precomp.h
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellmenu/CMakeLists.txt
Labels: enhancement, refactoring

#4676 [SYSSETUP] Add Tango Desktop Project icons to the list of used projects
  dll/win32/syssetup/syssetup.rc
Labels: trivial fix, no squash merge

#4650 [NTOSKRNL] Implement PeakCommitment (MmPeakCommitment, MmTotalCommittedPages)
  ntoskrnl/ex/sysinfo.c
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/balance.c
  ntoskrnl/mm/pagefile.c
Labels: enhancement, bugfix, kernel&hal

#4680 [TASKMGR] Pixel-perfection for left border CORE-18061
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Labels: TRANSLATION, trivial fix, modding

#4682 [NTFS] PrintAllVCNs(): Fix a typo in an ASSERT()
  drivers/filesystems/ntfs/btree.c
Labels: trivial fix, drivers

#4642 [DOC] 3rd Party Files.txt: Add 3rdparty/ to some sdk/lib/ paths
  media/doc/3rd Party Files.txt
Labels: documentation

#4685 [DOC] 3rd Party Files.txt: Fix Buslogic driver version
  media/doc/3rd Party Files.txt
Labels: documentation

#4679 [SYSSETUP] Update German (de-DE) translation
  dll/win32/syssetup/lang/de-DE.rc
Labels: TRANSLATION, trivial fix

#4512 [ATL] Fix window position to fit in screen area CORE-17089
  sdk/lib/atl/atlwin.h
Labels: bugfix

#4686 [USER32] Load keyboard layouts on logon correctly
  win32ss/user/user32/include/user32p.h
  win32ss/user/user32/misc/logon.c
  win32ss/user/user32/windows/input.c
Labels: bugfix

#4684 [LOGONUI] Make Logon UI compilable again
  base/system/CMakeLists.txt
  base/system/logonui/CMakeLists.txt
  base/system/logonui/NT5design.c
  base/system/logonui/logonui.c
Labels: enhancement, bugfix

#4688 [INPUT] Fix taskbar icon and remove small icon hack
  dll/cpl/input/input.c
Labels: bugfix

#4572 mmsys.cpl diverse fixes
  dll/cpl/mmsys/audio.c
  dll/cpl/mmsys/mmsys.c
  dll/cpl/mmsys/mmsys.h
  dll/cpl/mmsys/sounds.c
  dll/cpl/mmsys/speakervolume.c
  dll/cpl/mmsys/voice.c
  dll/cpl/mmsys/volume.c
Labels: enhancement, bugfix, refactoring

#4689 [HOTPLUG] Add missing string resources
  dll/cpl/hotplug/hotplug.c
  dll/cpl/hotplug/lang/de-DE.rc
  dll/cpl/hotplug/lang/en-US.rc
  dll/cpl/hotplug/lang/es-ES.rc
  dll/cpl/hotplug/lang/id-ID.rc
  dll/cpl/hotplug/lang/ja-JP.rc
  dll/cpl/hotplug/lang/pl-PL.rc
  dll/cpl/hotplug/lang/pt-PT.rc
  dll/cpl/hotplug/lang/ru-RU.rc
  dll/cpl/hotplug/lang/tr-TR.rc
  dll/cpl/hotplug/lang/zh-HK.rc
  dll/cpl/hotplug/lang/zh-TW.rc
Labels: bugfix

#4690 [INF] Add description for IDE-compatible controllers
  media/inf/hdc.inf
Labels: trivial fix

#4692 [SHELL32] Fix French message for "Overwrite Folder" confirmation message
  dll/win32/shell32/lang/fr-FR.rc
Labels: TRANSLATION

#4678 [SNDVOL32][MMSYS] Fix French (fr-FR) layout and translation
  base/applications/sndvol32/lang/fr-FR.rc
  dll/cpl/mmsys/lang/fr-FR.rc
Labels: TRANSLATION

#4695 [HOTPLUG] Add title bar icon
  dll/cpl/hotplug/hotplug.c
Labels: enhancement

#4666 [USER32][INPUT] Support various keyboard layouts
  dll/cpl/input/add_dialog.c
  dll/cpl/input/input.h
  dll/cpl/input/input_list.c
  dll/cpl/input/input_list.h
  dll/cpl/input/layout_list.c
  dll/cpl/input/layout_list.h
  dll/cpl/input/settings_page.c
  win32ss/user/user32/windows/input.c
Labels: bugfix, refactoring

#4707 [MEDIA][INF] The name of rapps in Japanese is too long
  media/inf/shortcuts.inf
Labels: TRANSLATION, modding

#4706 [CPL] Boundary check of Control Panel applets
  dll/cpl/access/access.c
  dll/cpl/desk/desk.c
  dll/cpl/hotplug/hotplug.c
  dll/cpl/input/input.c
  dll/cpl/intl/intl.c
  dll/cpl/joy/joy.c
  dll/cpl/main/main.c
  dll/cpl/mmsys/mmsys.c
  dll/cpl/powercfg/powercfg.c
  dll/cpl/sysdm/sysdm.c
  dll/cpl/timedate/timedate.c
  dll/cpl/usrmgr/usrmgr.c
Labels: bugfix

#4671 [NTOS] Add some sanity checks when synchronizing PDEs
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/i386/page.c
  ntoskrnl/mm/marea.c
  ntoskrnl/mm/rmap.c
  ntoskrnl/mm/section.c
Labels: bugfix, kernel&hal

#4691 [GDI32] Fix ExtTextOutA with ETO_GLYPH_INDEX
  win32ss/gdi/gdi32/objects/text.c
Labels: bugfix

#4713 [DDRAW] Mute aggressive log-spam in game 'Anno 1602' CORE-18378
  dll/directx/wine/ddraw/utils.c
Labels: enhancement, WINESYNC, trivial fix

#4708 [ZIPFLDR] Set large icon correctly
  dll/shellext/zipfldr/CZipExtract.cpp
Labels: bugfix

#4700 [APPWIZ] Romanian translation update
  dll/cpl/appwiz/lang/ro-RO.rc
Labels: TRANSLATION

#4703 [HOTPLUG] Add French (fr-FR) translation
  dll/cpl/hotplug/hotplug.rc
  dll/cpl/hotplug/lang/fr-FR.rc
Labels: TRANSLATION

#4709 [SHELL32] Fix property sheets that can't be closed due to failed init
  dll/win32/shell32/dialogs/fprop.cpp
Labels: bugfix

#4705 [CPL][INTL] Realize automatic Japanese IME installation
  dll/cpl/intl/languages.c
Labels: enhancement

#4715 [EXPLORER] Add 'Show Desktop' button at right edge of taskbar
  base/shell/explorer/traywnd.cpp
Labels: enhancement, modding

#4718 [EXPLORER] 'Show Desktop' button should work on button up
  base/shell/explorer/traywnd.cpp
Labels: bugfix

#4725 [FREELDR] Allow to boot from FATX volume using vfatfs driver
  boot/bootdata/txtsetup.sif
  boot/freeldr/freeldr/lib/fs/fat.c
Labels: enhancement, freeldr

#4699 [DEVMGR] Update Romanian (ro-RO) translation
  dll/win32/devmgr/lang/ro-RO.rc
Labels: TRANSLATION

#4716 [MMSYS] Fix "Speaker settings" image
  dll/cpl/mmsys/lang/bg-BG.rc
  dll/cpl/mmsys/lang/cs-CZ.rc
  dll/cpl/mmsys/lang/de-DE.rc
  dll/cpl/mmsys/lang/el-GR.rc
  dll/cpl/mmsys/lang/en-US.rc
  dll/cpl/mmsys/lang/es-ES.rc
  dll/cpl/mmsys/lang/fr-FR.rc
  dll/cpl/mmsys/lang/he-IL.rc
  dll/cpl/mmsys/lang/id-ID.rc
  dll/cpl/mmsys/lang/it-IT.rc
  dll/cpl/mmsys/lang/ja-JP.rc
  dll/cpl/mmsys/lang/nl-NL.rc
  dll/cpl/mmsys/lang/no-NO.rc
  dll/cpl/mmsys/lang/pl-PL.rc
  dll/cpl/mmsys/lang/pt-BR.rc
  dll/cpl/mmsys/lang/pt-PT.rc
  dll/cpl/mmsys/lang/ro-RO.rc
  dll/cpl/mmsys/lang/ru-RU.rc
  dll/cpl/mmsys/lang/sk-SK.rc
  dll/cpl/mmsys/lang/sq-AL.rc
  dll/cpl/mmsys/lang/tr-TR.rc
  dll/cpl/mmsys/lang/uk-UA.rc
  dll/cpl/mmsys/lang/zh-CN.rc
  dll/cpl/mmsys/lang/zh-HK.rc
  dll/cpl/mmsys/lang/zh-TW.rc
  dll/cpl/mmsys/mmsys.rc
  dll/cpl/mmsys/resource.h
  dll/cpl/mmsys/resources/speaker.bmp
  dll/cpl/mmsys/resources/speaker.ico
  dll/cpl/mmsys/volume.c
Labels: bugfix

#4722 [EXPLORER] Cleanup after last commit CORE-15369
  base/shell/explorer/traywnd.cpp
Labels: refactoring

#208 [BCRYPT_WINETEST] Wine Sync, to let it load on WXP and WS03
  media/doc/WINESYNC.txt
  modules/rostests/winetests/bcrypt/CMakeLists.txt
  modules/rostests/winetests/bcrypt/bcrypt.c
Labels: WINESYNC, ROSTESTS

#4721 [NTUSER][KBSWITCH] Realize Alt+Shift keyboard switch (retry)
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/resource.h
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/window.c
  win32ss/user/ntuser/window.h
Labels: enhancement, hackfix

#4729 [BTRFS][UBTRFS][SHELLBTRFS] Upgrade to 1.8.1
  dll/shellext/shellbtrfs/propsheet.cpp
  dll/shellext/shellbtrfs/shellbtrfs.rc
  dll/win32/ubtrfs/ubtrfs.rc
  drivers/filesystems/btrfs/btrfs.c
  drivers/filesystems/btrfs/btrfs.inf
  drivers/filesystems/btrfs/btrfs.rc
  drivers/filesystems/btrfs/btrfs_drv.h
  drivers/filesystems/btrfs/create.c
  drivers/filesystems/btrfs/fileinfo.c
  drivers/filesystems/btrfs/flushthread.c
  drivers/filesystems/btrfs/free-space.c
  drivers/filesystems/btrfs/fsctl.c
  drivers/filesystems/btrfs/registry.c
  drivers/filesystems/btrfs/treefuncs.c
Labels: enhancement, drivers

#4732 [DOC] 3rd Party Files.txt: Update WinBtrfs to v1.8.1
  media/doc/3rd Party Files.txt
Labels: trivial fix, documentation

#4733 [DNSAPI] DNSRSLVR_HANDLE_bind(): Demote 1 DPRINT1()
  dll/win32/dnsapi/rpc.c
Labels: trivial fix

#4726 [CPL][INPUT] Make the ListView a TreeView
  dll/cpl/input/input.rc
  dll/cpl/input/input_list.c
  dll/cpl/input/input_list.h
  dll/cpl/input/lang/bg-BG.rc
  dll/cpl/input/lang/cs-CZ.rc
  dll/cpl/input/lang/de-DE.rc
  dll/cpl/input/lang/el-GR.rc
  dll/cpl/input/lang/en-US.rc
  dll/cpl/input/lang/es-ES.rc
  dll/cpl/input/lang/fr-FR.rc
  dll/cpl/input/lang/he-IL.rc
  dll/cpl/input/lang/id-ID.rc
  dll/cpl/input/lang/it-IT.rc
  dll/cpl/input/lang/ja-JP.rc
  dll/cpl/input/lang/no-NO.rc
  dll/cpl/input/lang/pl-PL.rc
  dll/cpl/input/lang/pt-BR.rc
  dll/cpl/input/lang/pt-PT.rc
  dll/cpl/input/lang/ro-RO.rc
  dll/cpl/input/lang/ru-RU.rc
  dll/cpl/input/lang/sk-SK.rc
  dll/cpl/input/lang/sq-AL.rc
  dll/cpl/input/lang/tr-TR.rc
  dll/cpl/input/lang/uk-UA.rc
  dll/cpl/input/lang/zh-CN.rc
  dll/cpl/input/lang/zh-HK.rc
  dll/cpl/input/lang/zh-TW.rc
  dll/cpl/input/resource.h
  dll/cpl/input/resources/dot.ico
  dll/cpl/input/resources/keyboard.ico
  dll/cpl/input/settings_page.c
Labels: enhancement, modding

#4723 [KBSWITCH] Fix keyboard indicator text and font
  base/applications/kbswitch/kbswitch.c
Labels: bugfix, modding
