Repository reactos/reactos, pull requests merged in 2022-10, with the labels that each got.

#4720 [SHELL32] CDefView: Rework context menu handling
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, bugfix

#4736 [USER32_APITEST] Add tests for MapVirtualKeyW
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/VirtualKey.c
  modules/rostests/apitests/user32/testlist.c
Labels: enhancement, ROSTESTS

#4737 [WLANCONF] Fix getting the interface GUID value
  base/applications/network/wlanconf/wlanconf.c
Labels: bugfix, hacktoberfest-accepted

#4738 [DESK] Show monitor on "Settings" page when only one monitor detected
  dll/cpl/desk/background.c
  dll/cpl/desk/desk.c
  dll/cpl/desk/desk.h
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/desk/resource.h
  dll/cpl/desk/settings.c
Labels: enhancement, bugfix, hacktoberfest-accepted

#4478 [NTUSER] Fix 'Trying to link windows to itself' with Patch by I_Kill_Bugs
  win32ss/user/ntuser/winpos.c
Labels: bugfix, no-pr-activity

#4731 [NTUSER][USER32] Initial support of WS_EX_NOACTIVATE flag
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/nonclient.c
  win32ss/user/ntuser/window.c
  win32ss/user/ntuser/winpos.c
  win32ss/user/user32/controls/appswitch.c
Labels: enhancement

#4746 [EVENTVWR] Improve behaviour on event item selection.
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/evtdetctl.h
Labels: enhancement, bugfix

#4743 [WINLOGON] Protect function calls to '3rd-party' DLLs by SEH.
  base/system/winlogon/CMakeLists.txt
  base/system/winlogon/notify.c
  base/system/winlogon/sas.c
  base/system/winlogon/winlogon.h
Labels: enhancement, bugfix, hacktoberfest-accepted

#4614 [RTL][NTDLL_APITEST] Implement RtlRemovePrivileges
  dll/ntdll/def/ntdll.spec
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlRemovePrivileges.c
  modules/rostests/apitests/ntdll/testlist.c
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/priv.c
Labels: enhancement, ROSTESTS, NT6+

#4753 [USER32_APITEST] Add tests for Keyboard Layouts
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/KbdLayout.c
  modules/rostests/apitests/user32/testlist.c
Labels: enhancement, ROSTESTS

#4752 [EVENTVWR] Fix settings loading. Remove usage of Rtl functions. Use Win32 CRT assert.
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/eventvwr/eventvwr.h
Labels: enhancement, bugfix

#4585 [TRANSLATION] Update Indonesian (id-ID) translation
  base/applications/write/lang/Id.rc
  base/applications/write/rsrc.rc
  base/system/winlogon/lang/id-ID.rc
Labels: TRANSLATION, send upstream

#4750 [USETUP][VGAFONTS] Improve Romanian character display
  base/setup/usetup/consup.c
  base/setup/usetup/genlist.c
  base/setup/usetup/mui.c
  base/setup/usetup/mui.h
  base/setup/usetup/partlist.c
  base/setup/usetup/progress.c
  base/setup/usetup/usetup.c
  media/vgafonts/28606-8x8.bin
Labels: bugfix, modding, hacktoberfest-accepted

#4762 [GIT] Add .DS_Store files to .gitignore
  .gitignore
Labels: trivial fix

#4760 [FC] Add German translation
  base/applications/cmdutils/fc/lang/de-DE.rc
Labels: TRANSLATION, hacktoberfest-accepted

#4761 [MORE] Update German translation
  base/applications/cmdutils/more/lang/de-DE.rc
Labels: TRANSLATION, hacktoberfest-accepted

#4701 Romanian translation for diverse files part 1
  base/applications/calc/lang/ro-RO.rc
  base/applications/games/solitaire/lang/ro-RO.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mstsc/lang/ro-RO.rc
  base/applications/sndvol32/lang/ro-RO.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/usetup/lang/ro-RO.h
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/input/lang/ro-RO.rc
  dll/cpl/intl/lang/ro-RO.rc
  dll/cpl/joy/lang/ro-RO.rc
  dll/cpl/mmsys/lang/ro-RO.rc
  dll/cpl/powercfg/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/shellext/acppage/lang/ro-RO.rc
  dll/shellext/deskadp/lang/ro-RO.rc
  dll/shellext/mydocs/lang/ro-RO.rc
  dll/shellext/mydocs/mydocs.rc
  dll/shellext/netplwiz/lang/ro-RO.rc
  dll/shellext/netplwiz/netplwiz.rc
  dll/shellext/ntobjshex/lang/ro-RO.rc
  dll/shellext/sendmail/lang/ro-RO.rc
  dll/shellext/sendmail/sendmail.rc
  dll/shellext/zipfldr/lang/ro-RO.rc
  dll/win32/jscript/lang/jscript_Ro.rc
  dll/win32/msgina/lang/ro-RO.rc
  dll/win32/syssetup/lang/ro-RO.rc
  sdk/include/reactos/mc/bootmsg.mc
  sdk/include/reactos/mc/pciclass.mc
Labels: TRANSLATION

#4769 [IMM32] Implement Imm32ImeNonImeToggle
  dll/win32/imm32/keymsg.c
Labels: enhancement

#4773 [SYSDM] Improve license dialog icon
  dll/cpl/sysdm/licence.c
  dll/cpl/sysdm/resource.h
  dll/cpl/sysdm/resources/license.ico
  dll/cpl/sysdm/sysdm.rc
Labels: enhancement, modding

#4774 [INF][INTL.INF][SETUPLIB] We don't have preinstalled IMEs
  base/setup/lib/lang/ja-JP.h
  base/setup/lib/lang/ko-KR.h
  base/setup/lib/lang/zh-CN.h
  base/setup/lib/lang/zh-HK.h
  base/setup/lib/lang/zh-MO.h
  base/setup/lib/lang/zh-SG.h
  base/setup/lib/lang/zh-TW.h
  media/inf/intl.inf
Labels: bugfix

#4744 [SHELL32] Show file / drive properties at the position where the mouse was.
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/dialogs/fprop.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/wine/shell32_main.h
  sdk/include/reactos/shellutils.h
Labels: enhancement, hacktoberfest-accepted, shell

#4780 [SHELL32] Fix using the wrong context menu
  dll/win32/shell32/CDefView.cpp
Labels: bugfix

#4779 [USER32][NTUSER] Fill by white in DrawFrameControl:DFC_MENU
  win32ss/user/ntuser/draw.c
  win32ss/user/user32/windows/draw.c
Labels: bugfix, trivial fix

#4783 [NTUSER][USER32] Improve DrawFrameControl:DFC_MENU and DFC_BUTTON
  win32ss/user/ntuser/draw.c
  win32ss/user/ntuser/menu.c
  win32ss/user/user32/windows/draw.c
Labels: bugfix

#4785 [BOCHSMP] Add driver for QEMU and Bochs graphic card
  boot/bootdata/hivesys.inf
  win32ss/drivers/miniport/CMakeLists.txt
  win32ss/drivers/miniport/bochs/CMakeLists.txt
  win32ss/drivers/miniport/bochs/bochsmp.c
  win32ss/drivers/miniport/bochs/bochsmp.h
  win32ss/drivers/miniport/bochs/bochsmp.inf
  win32ss/drivers/miniport/bochs/bochsmp.rc
  win32ss/drivers/miniport/bochs/bochsmp_reg.inf
Labels: enhancement, drivers

#3778 [SETUPLIB] Add NTFS boot support.
  base/setup/lib/bootsup.c
  base/setup/lib/fsutil.c
  base/setup/lib/fsutil.h
Labels: enhancement

#4786 [SHELL32] Fix menu item handling
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
Labels: bugfix

#4782 [SHELL32] Fix 'Paste' command in context menu not working
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: bugfix

#4789 [NTUSER] Improve IntSetImeHotKey
  win32ss/user/ntuser/ime.c
Labels: bugfix

#4794 [DESK] Update Polish (pl-PL) translation
  dll/cpl/desk/lang/pl-PL.rc
Labels: TRANSLATION

#4800 [SHELL32] Delete old unused implementation of OLD_SHAppBarMessage()
  dll/win32/shell32/wine/shell32_main.c
Labels: janitorial

#4798 [IMM32] Improve debuggability at all
  dll/win32/imm32/candidate.c
  dll/win32/imm32/compstr.c
  dll/win32/imm32/ctf.c
  dll/win32/imm32/guideline.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/keymsg.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/regword.c
  dll/win32/imm32/utils.c
  dll/win32/imm32/win3.c
Labels: enhancement, bugfix

#4547 [DISKPART] Update Polish (pl-PL) translation v2
  base/system/diskpart/lang/pl-PL.rc
Labels: TRANSLATION

#4548 [DISKPART] Update Polish translation for message table
  base/system/diskpart/diskpart_msg.mc
Labels: TRANSLATION

#4801 [NTOS:MM] MmPurgeSegment: Fix wrong return value
  ntoskrnl/mm/section.c
Labels: bugfix, kernel&hal

#4797 [WIN32SS] Use GDI_HANDLE_* macros
  win32ss/gdi/gdi32/misc/misc.c
  win32ss/gdi/gdi32/objects/gdiobj.c
  win32ss/gdi/ntgdi/palette.c
Labels: refactoring

#4807 [IMM32] Add reasoning for tracing
  dll/win32/imm32/candidate.c
  dll/win32/imm32/compstr.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/keymsg.c
  dll/win32/imm32/utils.c
Labels: refactoring

#4814 [MMSYS] Fix English string in PL translation
  dll/cpl/mmsys/lang/pl-PL.rc
Labels: TRANSLATION

#4812 [RASDLG] Fix typos in Polish translation
  dll/win32/rasdlg/lang/pl-PL.rc
Labels: TRANSLATION

#4813 [BROWSEUI] Fix English string in PL translation
  dll/win32/browseui/lang/pl-PL.rc
Labels: TRANSLATION

#4811 [WININET] Update Polish translation
  dll/win32/wininet/lang/wininet_Pl.rc
Labels: TRANSLATION

#4808 [SHELL32] Update German translation
  dll/win32/shell32/lang/de-DE.rc
Labels: TRANSLATION

#4790 [NTDLL] Implement LdrInitShimEngineDynamic.
  dll/ntdll/def/ntdll.spec
  dll/ntdll/ldr/ldrapi.c
Labels: enhancement

#4791 [SHELL32] Fix empty 'Send to' menu
  dll/win32/shell32/CSendToMenu.cpp
Labels: bugfix

#4806 [NTUSER] Support SM_DBCSENABLED and SM_IMMENABLED
  win32ss/user/ntuser/metric.c
Labels: bugfix

#4816 [CONTRIBUTING] Fix broken hash links
  CONTRIBUTING.md
Labels: documentation

#4810 [DBGHELP] Add ARM64 compat.h entry
  dll/win32/dbghelp/compat.h
Labels: enhancement

#4793 [BROWSEUI] Fix CAutoComplete use after free
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: bugfix

#4815 [KBSWITCH][CPL:INPUT][NTUSER][EXPLORER] Fix keyboard layout icon
  base/applications/kbswitch/CMakeLists.txt
  base/applications/kbswitch/kbsdll/kbsdll.c
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/kbswitch.h
  base/shell/explorer/trayntfy.cpp
  dll/cpl/input/input_list.c
  win32ss/user/ntuser/defwnd.c
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
Labels: bugfix

#4820 [IMM32_APITEST] Add JapanImeConvTestA/W testcases
  modules/rostests/apitests/imm32/CMakeLists.txt
  modules/rostests/apitests/imm32/JapanImeConvTest.h
  modules/rostests/apitests/imm32/JapanImeConvTestA.c
  modules/rostests/apitests/imm32/JapanImeConvTestW.c
  modules/rostests/apitests/imm32/resource.rc
  modules/rostests/apitests/imm32/testlist.c
Labels: ROSTESTS

#4822 [KBSWITCH] Menu with icons
  base/applications/kbswitch/kbswitch.c
Labels: enhancement, modding

#4827 [SETUP][INF] Delete obsolete font substitutions "DejaVu Serif"
  base/setup/lib/muifonts.h
  media/inf/font.inf
  modules/rostests/apitests/gdi32/GetTextMetrics.c
Labels: ROSTESTS, janitorial
