Repository reactos/reactos, pull requests merged in 2022-05, with the labels that each got.

#4476 [NTUSER] Fix UserDestroyInputContext (again)
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/object.c
Labels: bugfix

#4482 [NTUSER] Fix UserDestroyInputContext (again and again)
  win32ss/user/ntuser/ime.c
Labels: bugfix

#4401 [SHELL32] Add multiple status bar parts to the file browser
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
Labels: enhancement

#4394 Fix last gdi32:GetObject testcase
  win32ss/gdi/gdi32/objects/gdiobj.c
Labels: bugfix

#4471 [DISKPART] Fixed Volume Number & Label Issue
  base/system/diskpart/lang/en-US.rc
  base/system/diskpart/lang/pl-PL.rc
  base/system/diskpart/lang/pt-PT.rc
  base/system/diskpart/lang/ro-RO.rc
  base/system/diskpart/lang/ru-RU.rc
  base/system/diskpart/lang/sq-AL.rc
  base/system/diskpart/lang/tr-TR.rc
  base/system/diskpart/lang/zh-CN.rc
  base/system/diskpart/lang/zh-TW.rc
Labels: bugfix

#3231 [BROWSEUI][BROWSEUI_APITEST] SHExplorerParseCmdLine(): Sync and improve
  dll/win32/browseui/browseui.spec
  dll/win32/browseui/desktopipc.cpp
  dll/win32/browseui/parsecmdline.cpp
  modules/rostests/apitests/browseui/SHExplorerParseCmdLine.c
  sdk/include/reactos/browseui_undoc.h
Labels: WINESYNC, ROSTESTS

#4481 [REACTOS] Add '\n' to debug logs
  base/shell/cmd/choice.c
  base/shell/cmd/timer.c
  base/system/userinit/userinit.c
  dll/appcompat/apphelp/hsdb.c
  dll/appcompat/apphelp/sdbstringtable.c
  dll/opengl/opengl32/swimpl.c
  dll/win32/advapi32/reg/hkcr.c
  dll/win32/advapi32/sec/misc.c
  dll/win32/advapi32/service/sctrl.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/regword.c
  dll/win32/iphlpapi/ipstats_reactos.c
  dll/win32/lsasrv/privileges.c
  dll/win32/lsasrv/srm.c
  dll/win32/msafd/misc/dllmain.c
  dll/win32/msafd/misc/event.c
  dll/win32/msgina/shutdown.c
  dll/win32/msv1_0/lsa.c
  dll/win32/netapi32/dssetup.c
  dll/win32/samlib/samlib.c
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/shellmenu/CMenuFocusManager.cpp
  dll/win32/shell32/shellmenu/CStartMenu.cpp
  modules/rostests/apitests/shell32/ShellState.cpp
  win32ss/gdi/ntgdi/palette.c
  win32ss/printing/base/winspool/printers.c
  win32ss/printing/monitors/localmon/ports.c
  win32ss/printing/providers/localspl/printers.c
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/painting.c
  win32ss/user/ntuser/scrollbar.c
  win32ss/user/ntuser/winpos.c
  win32ss/user/user32/misc/usrapihk.c
  win32ss/user/user32/windows/cursoricon.c
  win32ss/user/user32/windows/window.c
Labels: trivial fix, ROSTESTS

#4485 [NTUSER][USER32] Make NtUserBuildHwndList exclusive
  win32ss/include/ntuser.h
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/mdi.c
  win32ss/user/user32/windows/window.c
Labels: bugfix

#4487 [NTUSER] NtUserBuildHwndList should return NTSTATUS
  win32ss/user/ntuser/window.c
Labels: bugfix

#4483 [BROWSEUI] Remove useless variable and unreachable code
  dll/win32/browseui/explorerband.cpp
Labels: refactoring

#4279 [SHELL32] Folders: Adjust column sequence in details view
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: enhancement

#4004 [SHELL32] Fix Shift-Delete to Permanently Delete Files and Folders
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/droptargets/CRecyclerDropTarget.cpp
Labels: bugfix, hacktoberfest-accepted

#3265 [WIN32SS] Fix CF_DIB format not being saved to clipboard on Print Screen key
  win32ss/user/ntuser/object.c
Labels: bugfix, hacktoberfest-accepted

#4490 [PCIX] Add 2 OBJ_KERNEL_HANDLE
  drivers/bus/pcix/init.c
  drivers/bus/pcix/utils.c
Labels: trivial fix, drivers

#4493 [DRIVERS] Add some OBJ_KERNEL_HANDLE
  drivers/filesystems/fs_rec/fs_rec.c
  drivers/filesystems/udfs/Include/regtools.cpp
  drivers/filesystems/udfs/udfinit.cpp
  drivers/ksfilter/ks/connectivity.c
  drivers/ksfilter/ks/image.c
  drivers/serial/serial/pnp.c
  drivers/wdm/audio/legacy/wdmaud/mmixer.c
  drivers/wdm/audio/legacy/wdmaud/sup.c
Labels: trivial fix, drivers

#4472 [NTUSER][USER32] Implement IME status
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/simplecall.c
  win32ss/user/ntuser/window.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement, bugfix

#4494 [SACDRV] Add 2 OBJ_KERNEL_HANDLE
  drivers/sac/driver/util.c
Labels: refactoring, drivers

#4488 [SHELL32] Fix of visual glitch problem after CORE-18137 shell32 fix
  dll/win32/shell32/wine/control.c
Labels: bugfix

#4495 [NTOS:KE] Fix CPU family and model detection
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/i386/cpu.c
Labels: bugfix, kernel&hal, no squash merge

#4503 [USER32] Implement UnloadKeyboardLayout
  win32ss/user/user32/user32.spec
  win32ss/user/user32/windows/input.c
Labels: enhancement

#4506 [KBDJA] Delete temporary hacks
  dll/keyboard/kbdja/kbdja.c
Labels: refactoring

#4508 [KDBJA] Delete duplicate key entries
  dll/keyboard/kbdja/kbdja.c
Labels: refactoring

#4507 [KBDJA] Fix key names
  dll/keyboard/kbdja/kbdja.c
Labels: bugfix

#4501 [NTOS:MM] Charge and free quotas for VAD allocations
  ntoskrnl/mm/ARM3/mdlsup.c
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/ARM3/virtual.c
Labels: enhancement, kernel&hal

#4515 [KBDJA][NTUSER] Improve scancode_to_vk data
  dll/keyboard/kbdja/kbdja.c
  win32ss/user/ntuser/keyboard.c
Labels: enhancement, bugfix

#4516 [NOTEPAD] Less flickering title bar
  base/applications/notepad/dialog.c
  base/applications/notepad/main.h
Labels: modding

#4514 [NTOS:MM] Fix memory leak in MiMapViewOfDataSection
  ntoskrnl/mm/ARM3/section.c
Labels: enhancement, bugfix, kernel&hal

#4497 [FRAGINATOR] Fix some uninitialized variables and make it work again
  modules/rosapps/applications/fraginator/DriveVolume.cpp
Labels: enhancement, bugfix

#4498 [RAPPS] Add localized display of installation date and time
  base/applications/rapps/installed.cpp
Labels: enhancement, bugfix

#4371 [EXPLORER] Implement CDesktopThread::Destroy (PR #4217 revised)
  base/shell/explorer/desktop.cpp
Labels: enhancement

#4517 [SDK][USER32][KERNEL32][NTDLL] Get calc and notepad and more base apps to build with ARM64
  dll/ntdll/def/ntdll.spec
  dll/win32/kernel32/kernel32.spec
  sdk/cmake/msvc.cmake
  sdk/include/asm/CMakeLists.txt
  sdk/include/asm/genincdata.c
  sdk/include/asm/ksarm64.template.h
  sdk/include/asm/ksx.template.h
  sdk/include/crt/excpt.h
  sdk/include/crt/malloc.h
  sdk/include/ndk/arch/ketypes.h
  sdk/include/ndk/arch/mmtypes.h
  sdk/include/ndk/arm64/ketypes.h
  sdk/include/ndk/arm64/mmtypes.h
  sdk/include/ndk/ketypes.h
  sdk/include/ndk/rtltypes.h
  sdk/include/reactos/windbgkd.h
  sdk/include/xdk/arm64/ke.h
  sdk/include/xdk/winnt_old.h
  sdk/lib/crt/startup/mscmain.c
  sdk/lib/runtmchk/rtcapi.c
  win32ss/user/user32/user32.spec
Labels: enhancement, bugfix

#4431 [KERNEL32] Fix reading SafeDllSearchMode
  dll/win32/kernel32/client/path.c
Labels: bugfix

#4465 [ASM x64] Fix UNIMPLEMENTED macro for MSVC
  sdk/include/asm/asm.inc
Labels: bugfix

#4524 [HALX86] Print the correct size of the BAR in HalpDebugPciDumpBus()
  hal/halx86/include/halp.h
  hal/halx86/legacy/bussupp.c
Labels: bugfix, kernel&hal

#4525 [NTOS:MM] Fix MiInsertSharedUserPageVad preventing boot on x64
  ntoskrnl/mm/ARM3/procsup.c
Labels: bugfix, kernel&hal

#4531 [NTOS:SE] Reorganize the security manager component
  ntoskrnl/include/internal/se.h
  ntoskrnl/ntos.cmake
  ntoskrnl/se/access.c
  ntoskrnl/se/audit.c
  ntoskrnl/se/client.c
  ntoskrnl/se/objtype.c
  ntoskrnl/se/sid.c
  ntoskrnl/se/subject.c
  ntoskrnl/se/token.c
  ntoskrnl/se/tokenadj.c
  ntoskrnl/se/tokencls.c
  ntoskrnl/se/tokenlif.c
Labels: refactoring, kernel&hal

#4522 [TRANSLATION] Improvements to pt-PT translation
  base/applications/regedit/lang/pt-PT.rc
  base/services/w32time/lang/pt-PT.rc
  base/services/w32time/w32time.rc
  boot/bootdata/hivesys.inf
  dll/cpl/intl/lang/pt-PT.rc
  dll/win32/devmgr/lang/pt-PT.rc
Labels: TRANSLATION

#4530 [ROSAPPS] Remove 'stats' utility
  modules/rosapps/applications/sysutils/utils/CMakeLists.txt
  modules/rosapps/applications/sysutils/utils/stats/CMakeLists.txt
  modules/rosapps/applications/sysutils/utils/stats/stats.c
Labels: janitorial

#4529 [ROSAPPS] Remove 'theme/dump' reference code
  modules/rosapps/applications/sysutils/utils/theme/dump/themedump.bpr
  modules/rosapps/applications/sysutils/utils/theme/dump/themedump.cpp
  modules/rosapps/applications/sysutils/utils/theme/dump/themedump.rc
Labels: janitorial

#3638 [WIN32SS][NTDDRAW][NTGDI] Implement some DxEng* callbacks
  sdk/include/reactos/drivers/directx/dxeng.h
  win32ss/gdi/ntgdi/dc.h
  win32ss/gdi/ntgdi/device.c
  win32ss/reactx/ntddraw/dxeng.c
Labels: enhancement
