Repository reactos/reactos, pull requests merged in 2022-06, with the labels that each got.

#4535 [NTOS:MM] Fix memory leak in NtAllocateVirtualMemory
  ntoskrnl/mm/ARM3/virtual.c
Labels: kernel&hal

#4479 [PCI][HALX86] Support PCI debugging devices
  drivers/bus/pci/fdo.c
  drivers/bus/pci/pci.c
  drivers/bus/pci/pci.h
  hal/halx86/generic.cmake
  hal/halx86/generic/kdpci.c
  hal/halx86/include/bus.h
  hal/halx86/legacy/bus/pcibus.c
  hal/halx86/pc98.cmake
  hal/halx86/xbox.cmake
Labels: enhancement, kernel&hal, drivers

#4542 [WIN32K] Conditionally enable IMM32
  win32ss/user/ntuser/simplecall.c
Labels: bugfix

#4539 [NTDLL_APITEST] Write tests for NtQueryInformationToken and NtSetInfo…
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtQueryInformationToken.c
  modules/rostests/apitests/ntdll/NtSetInformationToken.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: ROSTESTS

#4545 [NTOSKRNL] Force a probe against ReturnLength on query & Misc ICIF stuff
  ntoskrnl/ex/event.c
  ntoskrnl/ex/mutant.c
  ntoskrnl/ex/sem.c
  ntoskrnl/ex/timer.c
  ntoskrnl/include/internal/icif.h
  ntoskrnl/include/internal/probe.h
  ntoskrnl/io/iomgr/iocomp.c
  ntoskrnl/ps/query.c
  ntoskrnl/se/tokencls.c
Labels: bugfix, kernel&hal

#3382 [CLB] Enable the dll CORE-17385
  base/applications/regedit/CMakeLists.txt
  base/applications/regedit/clb/CMakeLists.txt
Labels: enhancement, trivial fix

#4037 [MSXML3_WINETEST] Fix schema test crashes and sync to Wine-6.14
  media/doc/WINESYNC.txt
  modules/rostests/winetests/msxml3/schema.c
Labels: WINESYNC, bugfix, ROSTESTS, hacktoberfest-accepted

#4537 [TASKMGR] Process page: Fix DevicePathToDosPath
  base/applications/taskmgr/procpage.c
Labels: bugfix

#4341 [REGEDIT] Fix issue at Find registry key
  base/applications/regedit/find.c
Labels: bugfix

#4553 [DESK] Pass the list of all display modes to extensions
  dll/cpl/desk/desk.h
  dll/cpl/desk/devsett.c
  dll/cpl/desk/settings.c
  sdk/include/reactos/dll/desk/deskcplx.h
Labels: enhancement, bugfix, refactoring

#4554 [HHCTRL.OCX] Don't break WineSync
  dll/win32/hhctrl.ocx/chm.c
  dll/win32/hhctrl.ocx/help.c
  dll/win32/hhctrl.ocx/hhctrl.h
  dll/win32/hhctrl.ocx/hhctrl.rc
  dll/win32/hhctrl.ocx/lang/Cs.rc
  dll/win32/hhctrl.ocx/lang/Da.rc
  dll/win32/hhctrl.ocx/lang/De.rc
  dll/win32/hhctrl.ocx/lang/El.rc
  dll/win32/hhctrl.ocx/lang/En.rc
  dll/win32/hhctrl.ocx/lang/Es.rc
  dll/win32/hhctrl.ocx/lang/Fi.rc
  dll/win32/hhctrl.ocx/lang/Fr.rc
  dll/win32/hhctrl.ocx/lang/He.rc
  dll/win32/hhctrl.ocx/lang/Hu.rc
  dll/win32/hhctrl.ocx/lang/It.rc
  dll/win32/hhctrl.ocx/lang/Ja.rc
  dll/win32/hhctrl.ocx/lang/Ko.rc
  dll/win32/hhctrl.ocx/lang/Lt.rc
  dll/win32/hhctrl.ocx/lang/Nl.rc
  dll/win32/hhctrl.ocx/lang/No.rc
  dll/win32/hhctrl.ocx/lang/Pl.rc
  dll/win32/hhctrl.ocx/lang/Pt.rc
  dll/win32/hhctrl.ocx/lang/Ro.rc
  dll/win32/hhctrl.ocx/lang/Ru.rc
  dll/win32/hhctrl.ocx/lang/Si.rc
  dll/win32/hhctrl.ocx/lang/Sq.rc
  dll/win32/hhctrl.ocx/lang/Sv.rc
  dll/win32/hhctrl.ocx/lang/Tr.rc
  dll/win32/hhctrl.ocx/lang/Uk.rc
  dll/win32/hhctrl.ocx/lang/Zh.rc
  dll/win32/hhctrl.ocx/resource.h
Labels: WINESYNC

#4556 [IP] AddrCountPrefixBits(): Fix loop condition
  sdk/lib/drivers/ip/network/address.c
Labels: bugfix, drivers

#4543 [RTL] Implement dynamic function tables for x64
  dll/ntdll/CMakeLists.txt
  dll/ntdll/def/ntdll.spec
  ntoskrnl/rtl/libsupp.c
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/amd64/dynfntbl.c
  sdk/lib/rtl/amd64/unwind.c
Labels: enhancement, kernel&hal

#3258 [NTDLL_APITEST] Check whether changing the product type in the regist…
  modules/rostests/apitests/ntdll/RtlGetNtProductType.c
Labels: enhancement, ROSTESTS

#4561 [NTDLL_APITEST] Fix RtlGetNtProductType test
  modules/rostests/apitests/ntdll/RtlGetNtProductType.c
Labels: ROSTESTS

#4562 [NTOS:OB] Include the security descriptor charge when charging the pa…
  ntoskrnl/ob/obhandle.c
Labels: bugfix, kernel&hal

#4559 [CRT] Add emmintrin.h
  sdk/include/crt/emmintrin.h
Labels: enhancement

#4563 [CRT] Add missing OP_* constants in fpieee.h
  sdk/include/crt/fpieee.h
Labels: enhancement

#4558 [CDMAKE] Remove module
  modules/rosapps/applications/devutils/cdmake/CMakeLists.txt
  modules/rosapps/applications/devutils/cdmake/cdmake.c
  modules/rosapps/applications/devutils/cdmake/config.h
  modules/rosapps/applications/devutils/cdmake/dirhash.c
  modules/rosapps/applications/devutils/cdmake/dirhash.h
  modules/rosapps/applications/devutils/cdmake/llmsort.c
  modules/rosapps/applications/devutils/cdmake/readme.txt
Labels: janitorial

#4557 Remove references to ReactOS Foundation
  boot/boot_images.cmake
  drivers/processor/processr/cpu.inf
  media/themes/Blackshade/blackshade.msstyles/lang/de-DE.rc
  media/themes/Blackshade/blackshade.msstyles/lang/en-US.rc
  media/themes/Blackshade/blackshade.msstyles/lang/it-IT.rc
  media/themes/Blackshade/blackshade.msstyles/lang/zh-HK.rc
  media/themes/Blackshade/blackshade.msstyles/lang/zh-TW.rc
  media/themes/Lautus/lautus.msstyles/lang/de-DE.rc
  media/themes/Lautus/lautus.msstyles/lang/en-US.rc
  media/themes/Lautus/lautus.msstyles/lang/it-IT.rc
  media/themes/Lautus/lautus.msstyles/lang/zh-HK.rc
  media/themes/Lautus/lautus.msstyles/lang/zh-TW.rc
  media/themes/Lunar/lunar.msstyles/lang/cs-CZ.rc
  media/themes/Lunar/lunar.msstyles/lang/de-DE.rc
  media/themes/Lunar/lunar.msstyles/lang/en-US.rc
  media/themes/Lunar/lunar.msstyles/lang/it-IT.rc
  media/themes/Lunar/lunar.msstyles/lang/zh-HK.rc
  media/themes/Lunar/lunar.msstyles/lang/zh-TW.rc
  media/themes/Mizu/mizu.msstyles/lang/de-DE.rc
  media/themes/Mizu/mizu.msstyles/lang/en-US.rc
  media/themes/Mizu/mizu.msstyles/lang/it-IT.rc
  media/themes/Mizu/mizu.msstyles/lang/zh-HK.rc
  media/themes/Mizu/mizu.msstyles/lang/zh-TW.rc
  media/themes/Modern/modern.msstyles/lang/de-DE.rc
  media/themes/Modern/modern.msstyles/lang/en-GB.rc
  media/themes/Modern/modern.msstyles/lang/en-US.rc
  media/themes/Modern/modern.msstyles/lang/it-IT.rc
  media/themes/Modern/modern.msstyles/lang/zh-HK.rc
  media/themes/Modern/modern.msstyles/lang/zh-TW.rc
  sdk/include/psdk/common.ver
  sdk/include/psdk/ntverp.h
Labels: enhancement, documentation, drivers, no squash merge

#4564 [FREELDR][SDK] Use "ReactOS Project" for consistency
  boot/freeldr/freeldr/include/ver.h
  sdk/include/reactos/version.rc
  sdk/include/reactos/wine/wine_common_ver.rc
Labels: enhancement, documentation, freeldr

#4555 [NTOS:SE] Properly handle dynamic counters in token
  ntoskrnl/include/internal/se.h
  ntoskrnl/se/token.c
  ntoskrnl/se/tokencls.c
  ntoskrnl/se/tokenlif.c
Labels: enhancement, bugfix, kernel&hal

#4538 [EXPLORER] Fix taskbar icon display problem
  base/shell/explorer/taskswnd.cpp
Labels: bugfix
