Repository reactos/reactos, pull requests merged in 2022-08, with the labels that each got.

#4593 [NTUSER] Release WinSta->spklList at IntWinStaObjectDelete
  win32ss/user/ntuser/winsta.c
Labels: enhancement

#4594 [WIN32KNT_APITEST] Add NtUserGetKeyboardLayoutName testcase
  modules/rostests/apitests/win32nt/CMakeLists.txt
  modules/rostests/apitests/win32nt/ntuser/NtUserGetKeyboardLayoutName.c
  modules/rostests/apitests/win32nt/testlist.c
Labels: bugfix, ROSTESTS

#4592 [NTUSER] KLF_UNLOAD flag of NtUserGetKeyboardLayoutList
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/winsta.c
  win32ss/user/ntuser/winsta.h
Labels: enhancement, bugfix

#4595 [NTUSER][USER32] NtUserGetKeyboardLayoutName and GetKeyboardLayoutNameW
  modules/rostests/apitests/win32u/win32u_2k3sp2/win32u_2k3sp2.spec
  modules/rostests/apitests/win32u/win32u_ros/win32u_ros.spec
  modules/rostests/apitests/win32u/win32u_vista/win32u_vista.spec
  modules/rostests/apitests/win32u/win32u_xpsp2/win32u_xpsp2.spec
  win32ss/include/ntuser.h
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/user32/windows/input.c
Labels: bugfix, ROSTESTS

#4596 [KEYBOARD][BOOTDATA][TOOLS] Rename keyboard layout files
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  dll/keyboard/CMakeLists.txt
  dll/keyboard/kbdbu/kbdbu.c
  dll/keyboard/kbdbu/kbdbu.rc
  dll/keyboard/kbdbu/kbdbu.spec
  dll/keyboard/kbdgr1/kbdgr1.c
  dll/keyboard/kbdgr1/kbdgr1.rc
  dll/keyboard/kbdgr1/kbdgr1.spec
  dll/keyboard/kbdjpn/kbdjpn.c
  dll/keyboard/kbdjpn/kbdjpn.rc
  dll/keyboard/kbdjpn/kbdjpn.spec
  dll/keyboard/kbdkor/kbdkor.c
  dll/keyboard/kbdkor/kbdkor.rc
  dll/keyboard/kbdkor/kbdkor.spec
  dll/keyboard/kbdsl/kbdsl.c
  dll/keyboard/kbdsl/kbdsl.rc
  dll/keyboard/kbdsl/kbdsl.spec
  dll/keyboard/kbdsl1/kbdsl1.c
  dll/keyboard/kbdsl1/kbdsl1.rc
  dll/keyboard/kbdsl1/kbdsl1.spec
  dll/keyboard/kbdsp/kbdsp.c
  dll/keyboard/kbdsp/kbdsp.rc
  dll/keyboard/kbdsp/kbdsp.spec
  sdk/tools/gen_baseaddress.py
Labels: bugfix

#4597 [SHELL32] Fix "Fonts" and "Administrative Tools" control panel icon incorrectly displayed after 8d520f3
  dll/win32/shell32/res/rgs/adminfoldershortcut.rgs
  dll/win32/shell32/res/rgs/fontsfoldershortcut.rgs
Labels: bugfix

#4598 [NTUSER] Security: Follow-up of #4595
  win32ss/user/ntuser/kbdlayout.c
Labels: enhancement

#4599 [IMM32] Implement ImmWINNLSEnableIME
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  win32ss/include/ntuser.h
Labels: enhancement

#1079 [KERNEL32] lpNumberOfCharsWritten is optional for WriteConsole
  dll/win32/kernel32/client/console/readwrite.c
Labels: NT6+

#4601 [USER32] Refactoring on LoadKeyboardLayout(W/Ex)
  win32ss/user/user32/misc/stubs.c
  win32ss/user/user32/windows/input.c
Labels: enhancement

#4602 [IMM32] Renaming around ImmSystemHandler
  dll/win32/imm32/keymsg.c
Labels: refactoring

#4603 [USER32][IMM32][INCLUDE] Empower WM_IME_SYSTEM handling
  dll/win32/imm32/keymsg.c
  sdk/include/ddk/immdev.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement

#4604 [USER32] Call CliImmInitializeHotKeys in IntLoadKeyboardLayout
  win32ss/user/user32/windows/input.c
Labels: enhancement

#4605 [NTUSER] Refactor NtUserUnloadKeyboardLayout
  win32ss/include/ntuser.h
  win32ss/user/ntuser/kbdlayout.c
Labels: refactoring

#4607 [USER32] RealDefWindowProcA/W WM_IME_SYSTEM handling
  win32ss/user/user32/misc/imm.c
  win32ss/user/user32/windows/defwnd.c
Labels: enhancement

#4606 [NTUSER] Send WM_IME_SYSTEM:IMS_LOADTHREADLAYOUT at IntCreateWindow
  win32ss/user/ntuser/window.c
Labels: enhancement

#4570 [TRANSLATION] Update Traditional Chinese (zh-TW) translation - Jun 2022
  base/applications/cmdutils/reg/lang/zh-TW.rc
  base/system/diskpart/diskpart_msg.mc
  base/system/diskpart/lang/zh-TW.rc
  dll/win32/hhctrl.ocx/lang/Zh.rc
Labels: TRANSLATION

#4574 [TRANSLATION] Improve Korean (ko-KR) translation
  base/shell/explorer/lang/ko-KR.rc
  dll/win32/shell32/lang/ko-KR.rc
Labels: TRANSLATION

#4609 [NTOS:SE] Fix the primary group assignation in TokenPrimaryGroup clas…
  ntoskrnl/se/tokencls.c
Labels: bugfix, kernel&hal

#4608 [NTUSER] Empower co_UserActivateKeyboardLayout
  win32ss/user/ntuser/kbdlayout.c
Labels: enhancement

#4590 [THEMES] New restore window button bitmap for Lautus and Mizu theme
  media/themes/Lautus/lautus.msstyles/bitmaps/NORMAL_RESTOREBUTTON.bmp
  media/themes/Mizu/mizu.msstyles/bitmaps/NORMAL_RESTOREBUTTON.bmp
Labels: enhancement, modding

#4612 [NTUSER][USER32] Define NtUserSetWindowLongPtr for non-Win64
  win32ss/include/ntuser.h
  win32ss/user/user32/misc/imm.c
  win32ss/user/user32/windows/class.c
Labels: enhancement

#4610 [USER32] Adjustment for IME/IMM
  win32ss/include/ntuser.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement

#4613 [NTUSER] Rewrite NtUserUnloadKeyboardLayout
  win32ss/user/ntuser/kbdlayout.c
Labels: enhancement, bugfix

#4611 [OSK] Update Russian translation (ru-RU)
  base/applications/osk/lang/ru-RU.rc
Labels: TRANSLATION

#4615 [WINEMINE][TIMEDATE][INF] Improve Russian (ru-RU) translation
  base/applications/games/winmine/lang/ru-RU.rc
  dll/cpl/timedate/lang/ru-RU.rc
  media/inf/shortcuts.inf
Labels: TRANSLATION

#4617 [DRWTSN32] Add Russian translation (ru-RU)
  base/applications/drwtsn32/drwtsn32.rc
  base/applications/drwtsn32/lang/ru-RU.rc
Labels: TRANSLATION

#4619 [BOOT][SDK:CMLIB] Compile a CMLIB for FreeLdr / NT bootloader with correct definitions.
  boot/environ/CMakeLists.txt
  boot/freeldr/freeldr/CMakeLists.txt
  sdk/lib/cmlib/CMakeLists.txt
Labels: enhancement, freeldr

#4620 [NTUSER] Use assignment-lock against THREADINFO.KeyboardLayout
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/main.c
Labels: bugfix

#4621 [IMM32] Add CtfImmIsGuidMapEnable and CtfImmGetGuidAtom
  dll/win32/imm32/ctf.c
  dll/win32/imm32/imm32.spec
  win32ss/include/imetable.h
Labels: enhancement

#4622 [KBSWITCH][NTUSER] Realize Shift+Alt language switch
  base/applications/kbswitch/kbswitch.c
  win32ss/user/ntuser/hotkey.c
Labels: enhancement, bugfix

#4625 [USER32] Get/SetWindowLongPtr about PIMEUI
  win32ss/user/user32/misc/imm.c
Labels: bugfix

#4626 [INPUT] Refactor LayoutList_Create
  dll/cpl/input/layout_list.c
Labels: refactoring

#4633 [RAPPS] Really update progress bar text
  base/applications/rapps/loaddlg.cpp
Labels: bugfix

#4629 [KBSWITCH] Fix GetNextLayout for three or more languages
  base/applications/kbswitch/kbswitch.c
Labels: bugfix

#4632 [USER32] Fix HKL value in IntLoadKeyboardLayout
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/user32/windows/input.c
Labels: enhancement, bugfix

#4634 [NTOS:MM] kdbg.c: Fix Argv[n] copypastas
  ntoskrnl/mm/ARM3/kdbg.c
Labels: kernel&hal

#4631 [CPL] Use MAKEINTRESOURCE instead of LoadString
  dll/cpl/access/access.c
  dll/cpl/desk/desk.c
  dll/cpl/intl/generalp.c
  dll/cpl/intl/intl.c
  dll/cpl/main/keyboard.c
  dll/cpl/main/mouse.c
  dll/cpl/mmsys/mmsys.c
  dll/cpl/mmsys/speakervolume.c
  dll/cpl/openglcfg/openglcfg.c
  dll/cpl/powercfg/powercfg.c
  dll/cpl/timedate/timedate.c
  dll/cpl/usrmgr/usrmgr.c
  dll/cpl/wined3dcfg/wined3dcfg.c
Labels: enhancement, refactoring

#4630 [TASKLIST] Russian translation
  base/applications/cmdutils/tasklist/lang/ru-RU.rc
Labels: TRANSLATION, no squash merge

#4616 [SYSDM] General page: Implement auto-updating for system uptime
  dll/cpl/sysdm/general.c
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/cpl/sysdm/lang/cs-CZ.rc
  dll/cpl/sysdm/lang/da-DK.rc
  dll/cpl/sysdm/lang/de-DE.rc
  dll/cpl/sysdm/lang/el-GR.rc
  dll/cpl/sysdm/lang/en-US.rc
  dll/cpl/sysdm/lang/es-ES.rc
  dll/cpl/sysdm/lang/fr-FR.rc
  dll/cpl/sysdm/lang/he-IL.rc
  dll/cpl/sysdm/lang/hu-HU.rc
  dll/cpl/sysdm/lang/id-ID.rc
  dll/cpl/sysdm/lang/it-IT.rc
  dll/cpl/sysdm/lang/ja-JP.rc
  dll/cpl/sysdm/lang/nl-NL.rc
  dll/cpl/sysdm/lang/no-NO.rc
  dll/cpl/sysdm/lang/pl-PL.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/cpl/sysdm/lang/ro-RO.rc
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/cpl/sysdm/lang/sk-SK.rc
  dll/cpl/sysdm/lang/sq-AL.rc
  dll/cpl/sysdm/lang/sv-SE.rc
  dll/cpl/sysdm/lang/tr-TR.rc
  dll/cpl/sysdm/lang/uk-UA.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-HK.rc
  dll/cpl/sysdm/lang/zh-TW.rc
Labels: enhancement

#4644 [NTUSER] Move TL structure definition to ntuser.h
  win32ss/user/ntuser/ntuser.h
  win32ss/user/ntuser/win32.h
Labels: refactoring
