Repository reactos/reactos, pull requests merged in 2022-11, with the labels that each got.

#4828 [KERNEL32][BASESRV] Fix interoperability with Win2k3 regarding NLS section security.
  dll/win32/kernel32/winnls/string/nls.c
  sdk/include/reactos/subsys/win/base.h
  subsystems/win/basesrv/basesrv.h
  subsystems/win/basesrv/nls.c
Labels: bugfix

#4835 Minor Russian translation fixes (ru-RU)
  dll/cpl/hdwwiz/lang/ru-RU.rc
  dll/cpl/usrmgr/lang/ru-RU.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/samsrv/lang/ru-RU.rc
Labels: TRANSLATION

#4777 [IPCONFIG] Localized datetime format
  base/applications/network/ipconfig/ipconfig.c
Labels: enhancement, TRANSLATION, bugfix

#4803 [SDK] Define CCoInit in shellutils
  dll/shellext/acppage/ACPPage.cpp
  dll/win32/shell32/shlexec.cpp
  modules/rostests/apitests/browseui/ACListISF.cpp
  modules/rostests/apitests/browseui/IACLCustomMRU.cpp
  modules/rostests/apitests/browseui/IACLHistory.cpp
  modules/rostests/apitests/browseui/IAutoComplete.cpp
  sdk/include/reactos/shellutils.h
Labels: refactoring, ROSTESTS

#4804 [SDK] Use RtlApplicationVerifierStop for DPH
  sdk/include/reactos/verifier.h
  sdk/lib/rtl/heappage.c
Labels: enhancement

#4823 [EXPLORER] Hide Start Menu before Run dialog
  base/shell/explorer/traywnd.cpp
Labels: bugfix, shell

#4826 [DESK] Improve Polish (pl-PL) translation
  dll/cpl/desk/lang/pl-PL.rc
Labels: TRANSLATION

#4717 Partially sync Regedit to Wine-7.17
  base/applications/regedit/CMakeLists.txt
  base/applications/regedit/about.c
  base/applications/regedit/childwnd.c
  base/applications/regedit/edit.c
  base/applications/regedit/find.c
  base/applications/regedit/framewnd.c
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
  base/applications/regedit/listview.c
  base/applications/regedit/main.c
  base/applications/regedit/main.h
  base/applications/regedit/regedit.c
  base/applications/regedit/regedit.h
  base/applications/regedit/regproc.c
  base/applications/regedit/regproc.h
  base/applications/regedit/resource.h
  base/applications/regedit/security.c
  base/applications/regedit/settings.c
  base/applications/regedit/treeview.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/regedit/regedit.c
Labels: enhancement, WINESYNC, ROSTESTS

#4667 [NTOS] Properly implement and use FsRtlAcquireFileForModWriteEx
  ntoskrnl/fsrtl/fastio.c
  ntoskrnl/include/internal/fsrtl.h
  ntoskrnl/mm/section.c
Labels: enhancement, bugfix, kernel&hal

#4841 [REGEDIT] Use shell icons for the tree view
  base/applications/regedit/regedit.rc
  base/applications/regedit/res/computer.ico
  base/applications/regedit/res/folder.ico
  base/applications/regedit/res/folderopen.ico
  base/applications/regedit/resource.h
  base/applications/regedit/treeview.c
Labels: enhancement, refactoring

#4840 [DESK] Improve Polish (pl-PL) translation
  dll/cpl/desk/lang/pl-PL.rc
Labels: TRANSLATION

#4837 [MEDIA:FONTS] Add Greek glyphs to tahoma.ttf
  media/fonts/doc/Tahoma/LICENSE.txt
  media/fonts/tahoma.ttf
Labels: bugfix

#4817 [EXPLORER] Implement tray context menu "Undo tile/cascade windows"
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
  base/shell/explorer/resource.h
  base/shell/explorer/traywnd.cpp
Labels: enhancement, shell

#4845 Remove '.html' from spdx.org license page URLs.
  drivers/network/dd/e1000/send.c
  modules/rostests/apitests/ntdll/RtlGenerate8dot3Name.c
  modules/rostests/apitests/ntdll/RtlUnicodeStringToCountedOemString.c
  modules/rostests/apitests/ntdll/RtlUnicodeToOemN.c
  modules/rostests/apitests/ntdll/RtlxUnicodeStringToAnsiSize.c
  modules/rostests/apitests/ntdll/RtlxUnicodeStringToOemSize.c
  modules/rostests/apitests/ntdll/locale.c
  ntoskrnl/mm/ARM3/wslist.cpp
  ntoskrnl/mm/i386/procsup.c
  sdk/include/reactos/msgdump.h
  sdk/include/reactos/winxx.h
  sdk/tools/gcc_plugin_seh/main.cpp
  sdk/tools/txt2nls/main.cpp
Labels: trivial fix, documentation

#4833 [SHELL32][INCLUDE] Fix PathResolve for double-backslash
  dll/win32/shell32/wine/shellpath.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix, review pending

#4834 [CPL:INTL] Use Japanese package for Far-East files
  dll/cpl/intl/CMakeLists.txt
  dll/cpl/intl/languages.c
Labels: enhancement

#4819 [SHELL32] Fix CDefView UAF
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#4842 [SDK] Fix missing comma in check_packing.py
  sdk/tools/check_packing.py
Labels: bugfix

#4848 [COMDLG32] Fix Font dialog Wrong background in font preview CORE-18588
  dll/win32/comdlg32/fontdlg.c
Labels: WINESYNC, bugfix

#4839 [CHARMAP] Improve keyboard usability
  base/applications/charmap/charmap.c
  base/applications/charmap/lang/bg-BG.rc
  base/applications/charmap/lang/ca-ES.rc
  base/applications/charmap/lang/cs-CZ.rc
  base/applications/charmap/lang/de-DE.rc
  base/applications/charmap/lang/el-GR.rc
  base/applications/charmap/lang/en-US.rc
  base/applications/charmap/lang/es-ES.rc
  base/applications/charmap/lang/et-EE.rc
  base/applications/charmap/lang/fr-FR.rc
  base/applications/charmap/lang/he-IL.rc
  base/applications/charmap/lang/id-ID.rc
  base/applications/charmap/lang/it-IT.rc
  base/applications/charmap/lang/ja-JP.rc
  base/applications/charmap/lang/ko-KR.rc
  base/applications/charmap/lang/lt-LT.rc
  base/applications/charmap/lang/nl-NL.rc
  base/applications/charmap/lang/no-NO.rc
  base/applications/charmap/lang/pl-PL.rc
  base/applications/charmap/lang/pt-BR.rc
  base/applications/charmap/lang/ro-RO.rc
  base/applications/charmap/lang/ru-RU.rc
  base/applications/charmap/lang/sk-SK.rc
  base/applications/charmap/lang/sq-AL.rc
  base/applications/charmap/lang/sv-SE.rc
  base/applications/charmap/lang/tr-TR.rc
  base/applications/charmap/lang/uk-UA.rc
  base/applications/charmap/lang/zh-CN.rc
  base/applications/charmap/lang/zh-HK.rc
  base/applications/charmap/lang/zh-TW.rc
  base/applications/charmap/map.c
  base/applications/charmap/precomp.h
Labels: bugfix

#4854 [DEVMGR] Fix wrong menu item hint
  dll/win32/devmgr/devmgmt/MainWindow.cpp
Labels: trivial fix

#4852 [SETUP][FONTS][INF][GDI32_APITEST] Delete FreeMono and re-map
  base/setup/lib/muifonts.h
  media/fonts/CMakeLists.txt
  media/fonts/FreeMono.ttf
  media/fonts/FreeMonoBold.ttf
  media/fonts/FreeMonoBoldOblique.ttf
  media/fonts/FreeMonoOblique.ttf
  media/inf/font.inf
  modules/rostests/apitests/gdi32/GetTextMetrics.c
Labels: refactoring, ROSTESTS, janitorial

#4851 [USER32_APITEST] Add tests for CharPrev/Next/Ex/A/W
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/CharFuncs.c
  modules/rostests/apitests/user32/testlist.c
Labels: ROSTESTS

#4850 [SHELL32] shlexec: Initial support of App Paths
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/shellreg.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, bugfix

#4862 [NTGDI][FREETYPE] Reduce font size request
  win32ss/gdi/eng/engobjects.h
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4861 [NTGDI][FREETYPE] Optimize MatchFontNames
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4831 [DDRAW] Sync fix for swap_interval from wine
  dll/directx/wine/ddraw/ddraw_private.h
  dll/directx/wine/ddraw/palette.c
  dll/directx/wine/ddraw/surface.c
  media/doc/WINESYNC.txt
Labels: WINESYNC, bugfix

#4858 [INPUT] Update Polish (pl-PL) translation
  dll/cpl/input/lang/pl-PL.rc
Labels: TRANSLATION

#4859 [SYSSETUP] Update Polish (pl-PL) translation
  dll/win32/syssetup/lang/pl-PL.rc
Labels: TRANSLATION

#4849 [NTUSER] Don't redraw scrollbar if it is hidden
  win32ss/user/ntuser/scrollbar.c
Labels: bugfix

#4866 [SHELL32] Implement IsLFNDriveA/W and improve PathResolve
  dll/win32/shell32/wine/shellpath.c
Labels: enhancement, bugfix

#4872 [NTGDI][NTUSER][INCLUDE] Add 'See also:' comments for structures
  win32ss/gdi/eng/engobjects.h
  win32ss/gdi/ntgdi/brush.h
  win32ss/gdi/ntgdi/dc.h
  win32ss/include/ntgdihdl.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/win32.h
Labels: documentation

#4873 [DISKPART] Fix help for multi-word command crashing.
  base/system/diskpart/help.c
Labels: bugfix

#4864 [SETUP][INF] Use the standard "Helv" -> "MS Sans Serif" substitution
  base/setup/lib/muifonts.h
  media/inf/font.inf
Labels: enhancement

#4860 [USER32] Rewrite CharPrev(Ex)A functions and fix tests
  win32ss/user/user32/windows/text.c
Labels: bugfix

#4876 [IMM32_APITEST] Add ImmEnumInputContext testcase
  modules/rostests/apitests/imm32/CMakeLists.txt
  modules/rostests/apitests/imm32/ImmEnumInputContext.c
  modules/rostests/apitests/imm32/testlist.c
Labels: enhancement, ROSTESTS

#4863 [SHELL32] CDrivesFolder: Unhardcode pqcminfo->idCmdFirst value
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: bugfix, shell

#4795 [NTFS] NtfsCreateFCB(): Check allocation result
  drivers/filesystems/ntfs/fcb.c
Labels: trivial fix, drivers

#4772 [HALX86] HalpQueryInterface(): Debug log InterfaceType param
  hal/halx86/acpi/halpnpdd.c
  hal/halx86/legacy/halpnpdd.c
Labels: trivial fix, kernel&hal

#4882 [BOOTDATA][NTUSER] Add UserIsIMMEnabled and use it
  boot/bootdata/hivesft.inf
  win32ss/gdi/ntgdi/misc.h
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/misc/registry.c
  win32ss/user/ntuser/simplecall.c
  win32ss/user/ntuser/userfuncs.h
Labels: bugfix

#4843 Pagefile review for SMSS and MM
  base/system/smss/pagefile.c
  ntoskrnl/mm/pagefile.c
Labels: enhancement, bugfix, kernel&hal, no squash merge

#4880 [HHPCOMP:CHMC] chmc_crunch_lzx(): Disable a dead check
  sdk/tools/hhpcomp/chmc/chmc.c
Labels: trivial fix

#4887 [COMCTL32] Remove a rosdiff TOOLBAR_EraseBackground()
  dll/win32/comctl32/toolbar.c
Labels: bugfix

#4885 [REGEDIT] F4, Alt+D, Tab, and Shift+Tab
  base/applications/regedit/framewnd.c
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
  base/applications/regedit/main.c
  base/applications/regedit/resource.h
Labels: enhancement

#4891 [SYSDM] System Parameters: Close dialog on ESC
  dll/cpl/sysdm/advanced.c
Labels: bugfix

#4889 [TASKMGR] Prevent context menu on idle process CORE-18640
  base/applications/taskmgr/procpage.c
Labels: enhancement

#4888 [SHELL32] Prevent a second call to Drive Properties Dialog
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: bugfix, shell

#4886 [SHELLEXT][CPL] Improve Portuguese (pt-PT) translation
  dll/cpl/appwiz/lang/pt-PT.rc
  dll/cpl/input/lang/pt-PT.rc
  dll/cpl/intl/lang/pt-PT.rc
  dll/cpl/liccpa/lang/pt-PT.rc
  dll/cpl/sysdm/lang/pt-PT.rc
  dll/shellext/ntobjshex/lang/pt-PT.rc
  dll/shellext/zipfldr/lang/pt-PT.rc
Labels: TRANSLATION

#4875 [NTOS:CM] Consistently use synchronous I/O for registry hives.
  ntoskrnl/config/cminit.c
  ntoskrnl/config/cmwraprs.c
Labels: enhancement, kernel&hal

#4883 [NTOS:KE/x64] Implement KeDisconnectInterrupt for amd64
  ntoskrnl/ke/amd64/interrupt.c
Labels: enhancement, kernel&hal

#4865 [NTGDI][FREETYPE] Simplify font rendering
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4900 [NTGDI][FREETYPE] Font cache: Use FT_Matrix instead of MATRIX
  win32ss/gdi/ntgdi/font.h
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4908 [GDI32_APITEST] Strengthen TextTransform testcase
  modules/rostests/apitests/gdi32/TextTransform.c
Labels: enhancement, ROSTESTS

#4901 [NTGDI][FREETYPE] Font cache: Use hash
  win32ss/gdi/ntgdi/font.h
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4293 [NEWDEV][SHELL32][SYSSETUP] Enable Browser Dlg OK button, when driver is found
  dll/win32/newdev/newdev.c
  dll/win32/newdev/newdev_private.h
  dll/win32/newdev/wizard.c
  dll/win32/shell32/wine/brsfolder.c
  dll/win32/syssetup/wizard.c
Labels: enhancement, shell

#4912 [NTGDI][FREETYPE] lfWidth for GetTextExtentPoint32
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement

#4902 [RPCRT4] Sync msvc.S with WINE's inline assembly,
  dll/win32/rpcrt4/msvc.S
Labels: WINESYNC, bugfix

#4916 [NTGDI][FREETYPE] Add special structure for hashing
  win32ss/gdi/ntgdi/font.h
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring

#4919 [NTGDI][FREETYPE] lfWidth for GetTextMetrics and GetCharWidth
  win32ss/gdi/eng/engobjects.h
  win32ss/gdi/ntgdi/font.h
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement
