Repository reactos/reactos, pull requests merged in 2022-01, with the labels that each got.

#4227 [NTUSER] Implement NtUserQueryInputContext
  dll/win32/imm32/compstr.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
  sdk/include/reactos/undocuser.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#4228 [NTUSER] Implement NtUserUpdateInputContext
  dll/win32/imm32/imm.c
  sdk/include/reactos/undocuser.h
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#4230 [NTUSER] Implement NtUserCreateInputContext
  dll/win32/imm32/imm.c
  win32ss/include/ntuser.h
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/userfuncs.h
Labels: enhancement

#4233 [BCRYPT] Add ECDSA P256 to known algorithms
  dll/win32/bcrypt/bcrypt_main.c
Labels: enhancement, WINESYNC, bugfix

#4210 [MSPAINT] Polymorphism on tools
  base/applications/mspaint/common.h
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/imgarea.h
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/mouse.h
  base/applications/mspaint/precomp.h
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement, bugfix, review pending, refactoring

#4235 [NTUSER] Fix KVM and VBox tests
  win32ss/user/ntuser/ime.c
Labels: bugfix

#4103 [GDI32_VISTA] Move D3DKMT functions out of gdi32. CORE-17433
  dll/apisets/CMakeLists.txt
  dll/apisets/api-ms-win-dx-d3dkmt-l1-1-0.spec
  dll/apisets/update.py
  dll/directx/wine/wined3d/CMakeLists.txt
  modules/rostests/winetests/gdi32/CMakeLists.txt
  win32ss/CMakeLists.txt
  win32ss/gdi/gdi32/gdi32.spec
  win32ss/gdi/gdi32/objects/dc.c
  win32ss/gdi/gdi32_vista/CMakeLists.txt
  win32ss/gdi/gdi32_vista/dc.c
  win32ss/gdi/gdi32_vista/gdi32_vista.rc
  win32ss/gdi/gdi32_vista/gdi32_vista.spec
Labels: enhancement, ROSTESTS

#4200 [MPLAY32] Enhance spanish translation
  base/applications/mplay32/lang/es-ES.rc
Labels: TRANSLATION

#4242 [UNIATA] Fix packing for port configuration information structures
  drivers/storage/ide/uniata/srb.h
Labels: bugfix, drivers

#4232 [NETSHELL] Fix typos and improvements to pt-PT translation
  dll/shellext/netshell/lang/pt-PT.rc
Labels: TRANSLATION

#4198 [RAPPS] Enhance spanish translation
  base/applications/rapps/lang/es-ES.rc
Labels: TRANSLATION

#4247 [NTUSER] Plan A: UserDereferenceObject in UserCreateInputContext
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/ntstubs.c
Labels: bugfix, refactoring

#3142 [DRIVERS] Use IoForwardIrpSynchronously in drivers
  drivers/bus/pci/fdo.c
  drivers/input/i8042prt/i8042prt.h
  drivers/input/i8042prt/misc.c
  drivers/input/i8042prt/pnp.c
  drivers/input/kbdclass/kbdclass.c
  drivers/input/kbdclass/kbdclass.h
  drivers/input/kbdclass/misc.c
  drivers/input/mouclass/misc.c
  drivers/input/mouclass/mouclass.c
  drivers/input/mouclass/mouclass.h
  drivers/input/sermouse/fdo.c
  drivers/input/sermouse/misc.c
  drivers/input/sermouse/sermouse.h
  drivers/ksfilter/ks/device.c
  drivers/ksfilter/ks/ksfunc.h
  drivers/ksfilter/ks/misc.c
  drivers/parallel/parport/fdo.c
  drivers/parallel/parport/misc.c
  drivers/parallel/parport/parport.h
  drivers/processor/processr/misc.c
  drivers/processor/processr/pnp.c
  drivers/processor/processr/processr.h
  drivers/serial/serenum/fdo.c
  drivers/serial/serenum/misc.c
  drivers/serial/serial/misc.c
  drivers/serial/serial/pnp.c
  drivers/serial/serial/serial.h
  drivers/storage/floppy/fdc/fdo.c
  drivers/storage/ide/pciidex/fdo.c
  drivers/storage/ide/pciidex/misc.c
  drivers/storage/ide/pciidex/pciidex.h
  drivers/storage/port/storport/fdo.c
  drivers/storage/port/storport/misc.c
  drivers/storage/port/storport/precomp.h
  drivers/usb/usbccgp/fdo.c
  drivers/usb/usbccgp/misc.c
  drivers/usb/usbccgp/pdo.c
  drivers/usb/usbccgp/usbccgp.h
  drivers/usb/usbstor/fdo.c
  drivers/usb/usbstor/misc.c
  drivers/usb/usbstor/pdo.c
  drivers/usb/usbstor/usbstor.h
  drivers/wdm/audio/legacy/stream/helper.c
  drivers/wdm/audio/legacy/stream/pnp.c
  drivers/wdm/audio/legacy/stream/stream.h
Labels: enhancement, refactoring, drivers

#3251 [PORTCLS] Fix races, fix WavePci Port Drivers
  drivers/wdm/audio/backpln/portcls/interfaces.hpp
  drivers/wdm/audio/backpln/portcls/irpstream.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavepci.cpp
Labels: bugfix, drivers

#4237 [MSPAINT] Implement the text tool
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/dialogs.h
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/icons/fontstoolbar.bmp
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/imgarea.h
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/main.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/registry.h
  base/applications/mspaint/resource.h
  base/applications/mspaint/rsrc.rc
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/textedit.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#4220 [TRANSLATION] Hungarian translation update for label, notepad, format…
  base/applications/cmdutils/label/lang/hu-HU.rc
  base/applications/notepad/lang/hu-HU.rc
  base/system/format/lang/hu-HU.rc
  base/system/regsvr32/lang/hu-HU.rc
  base/system/rundll32/lang/hu-HU.rc
  dll/cpl/desk/lang/hu-HU.rc
Labels: TRANSLATION

#4225 [RPCRT4] Fix implicit in attribute handling in write_param_fs()
  dll/win32/rpcrt4/ndr_typelib.c
Labels: WINESYNC, bugfix

#4239 [WINDOWSCODECS] Add converter for WICPixelFormat32bppRGBA
  dll/win32/windowscodecs/bmpdecode.c
  dll/win32/windowscodecs/converter.c
  dll/win32/windowscodecs/main.c
  dll/win32/windowscodecs/wincodecs_private.h
Labels: enhancement, WINESYNC, bugfix

#4145 [VIDEOPRT] Match Zw*Key() DesiredAccess values
  win32ss/drivers/videoprt/registry.c
  win32ss/drivers/videoprt/videoprt.c
Labels: bugfix, drivers

#4135 [WINLOGON] Start screen saver with current user
  base/system/winlogon/screensaver.c
Labels: bugfix

#4205 [REACTOS] Move our ROS-specific header-only UI libraries into a "ui" sub-folder.
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/appview.h
  base/applications/rapps/include/crichedit.h
  base/applications/rapps/include/gui.h
  base/applications/rapps/loaddlg.cpp
  base/shell/explorer/precomp.h
  dll/shellext/acppage/precomp.h
  dll/shellext/zipfldr/precomp.h
  dll/win32/browseui/CAutoComplete.h
  dll/win32/browseui/internettoolbar.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/shellmenu/shellmenu.h
  dll/win32/shell32/wine/brsfolder.c
  sdk/include/reactos/ui/layout.h
  sdk/include/reactos/ui/rosctrls.h
  sdk/include/reactos/ui/rosdlgs.h
Labels: refactoring, janitorial

#4261 [MSPAINT] Add ICC_BAR_CLASSES
  base/applications/mspaint/main.cpp
Labels: bugfix, trivial fix

#4257 [MSPAINT] Prepare for debugging
  base/applications/mspaint/CMakeLists.txt
  base/applications/mspaint/dib.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/winproc.cpp
Labels: enhancement, refactoring

#3688 [SDK:DDK][NTOS:PNP] Implement PnP arbiters initialization
  ntoskrnl/io/pnpmgr/arbiters.c
  ntoskrnl/io/pnpmgr/arbs.c
  ntoskrnl/ntos.cmake
  sdk/lib/drivers/arbiter/arbiter.c
  sdk/lib/drivers/arbiter/arbiter.h
Labels: enhancement, kernel&hal, drivers

#4266 [MSPAINT] Don't hide selection on zooming
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/selection.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#4264 [MSPAINT] Some minor improvements
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/drawing.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/selection.h
  base/applications/mspaint/toolsettings.cpp
Labels: TRANSLATION, refactoring

#4222 [SHELL32] Fix recycle bin handle reference leaking
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.c
Labels: bugfix

#4234 [SHELL32] Fix folders on recycle bin and adjust the column size
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.c
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.c
Labels: bugfix

#4236 [BCRYPT] Add ECDSA P384 to known algorithms
  dll/win32/bcrypt/bcrypt_main.c
Labels: trivial fix

#4268 [CRT/arm64] Build wine/except_arm64.c
  sdk/lib/crt/wine/wine.cmake
Labels: enhancement, WINESYNC

#4262 [USER32] Improve icon extraction to handle RIFF formats and Fix crash
  win32ss/user/user32/misc/exticon.c
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, bugfix

#4271 [NTUSER][IMM32] Implement NtUserGetImeInfoEx
  dll/win32/imm32/ime.c
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: enhancement

#4276 [NTUSER] Implement NtUserSetImeInfoEx
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: enhancement

#4277 [NTUSER] Implement NtUserSetThreadLayoutHandles
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#4282 Fix net command output for PR #4096
  dll/win32/netapi32/misc.c
  dll/win32/samsrv/domain.c
Labels: bugfix

#4096 [NET] Some improvements
  base/applications/network/net/cmdUser.c
  base/applications/network/net/main.c
  base/applications/network/net/net.h
  sdk/include/reactos/mc/netmsgmsg.mc
Labels: enhancement, TRANSLATION

#4240 [TRANSLATION] Update Simplified Chinese (zh-CN) translation
  base/applications/msconfig_new/lang/zh-CN.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/utilman/lang/zh-CN.rc
  base/applications/utilman/utilman.rc
  base/shell/explorer/lang/zh-CN.rc
Labels: TRANSLATION

#4280 [SYSSETUP] Adjust Status Window if Asian
  dll/win32/syssetup/install.c
Labels: enhancement, modding

#4273 [NEWDEV][SHELL32][DEVMGR] Update / Small improvements to pt-PT translation
  dll/win32/devmgr/lang/pt-PT.rc
  dll/win32/newdev/lang/pt-PT.rc
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION

#4287 [W32TIME] Add Russian (ru-RU) translation
  base/services/w32time/lang/ru-RU.rc
  base/services/w32time/w32time.rc
Labels: TRANSLATION

#4283 [USER32] Adjust the threshold in CascadeWindows
  win32ss/user/user32/windows/mdi.c
Labels: bugfix

#4286 [NTUSER] Implement NtUserBuildHimcList
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ntstubs.c
Labels: enhancement

#4289 [SYSDM] Update pl translation
  dll/cpl/sysdm/lang/pl-PL.rc
Labels: TRANSLATION

#4288 [NEWDEV] Disable NewFolder btn and Show browser title when selecting a directory
  dll/win32/newdev/lang/bg-BG.rc
  dll/win32/newdev/lang/cs-CZ.rc
  dll/win32/newdev/lang/de-DE.rc
  dll/win32/newdev/lang/el-GR.rc
  dll/win32/newdev/lang/en-US.rc
  dll/win32/newdev/lang/es-ES.rc
  dll/win32/newdev/lang/fr-FR.rc
  dll/win32/newdev/lang/he-IL.rc
  dll/win32/newdev/lang/hu-HU.rc
  dll/win32/newdev/lang/id-ID.rc
  dll/win32/newdev/lang/it-IT.rc
  dll/win32/newdev/lang/ja-JP.rc
  dll/win32/newdev/lang/nl-NL.rc
  dll/win32/newdev/lang/no-NO.rc
  dll/win32/newdev/lang/pl-PL.rc
  dll/win32/newdev/lang/pt-PT.rc
  dll/win32/newdev/lang/ro-RO.rc
  dll/win32/newdev/lang/ru-RU.rc
  dll/win32/newdev/lang/sk-SK.rc
  dll/win32/newdev/lang/sq-AL.rc
  dll/win32/newdev/lang/th-TH.rc
  dll/win32/newdev/lang/tr-TR.rc
  dll/win32/newdev/lang/uk-UA.rc
  dll/win32/newdev/lang/zh-CN.rc
  dll/win32/newdev/lang/zh-TW.rc
  dll/win32/newdev/resource.h
  dll/win32/newdev/wizard.c
Labels: enhancement

#4221 [SHELL32] Implement Recycler Bin icons
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.c
Labels: enhancement, bugfix

#4284 [INF] Fix Mizu theme display problems with CJK font
  base/setup/lib/muifonts.h
  media/inf/font.inf
Labels: bugfix

#4291 [WIN32KNT_APITEST] Strengthen NtUserGetThreadState testcase
  modules/rostests/apitests/win32nt/ntuser/NtUserGetThreadState.c
Labels: enhancement, ROSTESTS

#4297 [NTUSER] Initialize correctly CaretWidth value.
  win32ss/user/ntuser/sysparams.c
Labels: bugfix

#4300 [NTUSER] Improve NtUserGetThreadState
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  win32ss/include/ntuser.h
  win32ss/user/ntuser/misc.c
Labels: enhancement, bugfix

#4299 [ATL][MSPAINT] Add ATLTRACE and fix assertion failures
  base/applications/mspaint/history.cpp
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/winproc.cpp
  sdk/lib/atl/atlbase.h
  sdk/lib/atl/atltrace.h
Labels: enhancement

#4204 [NTOS:MM] Implement partial virtual region releases.
  ntoskrnl/mm/ARM3/virtual.c
Labels: enhancement, kernel&hal

#4306 [EXPLORER] Enable _DEBUG and fix assertion failures
  base/shell/explorer/precomp.h
  base/shell/explorer/syspager.cpp
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/traywnd.cpp
Labels: bugfix

#4307 [SHELL32] Enable _DEBUG and fix assertion failures
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/changenotify.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.cpp
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.h
Labels: bugfix, refactoring

#4312 [USER32] Follow-up of #4262 (a47590c)
  win32ss/user/user32/misc/exticon.c
Labels: bugfix

#4311 [TASKMGR]: Fixing the pool corruption bug
  base/applications/taskmgr/graphctl.c
Labels: bugfix

#4313 [NTUSER] Implement NtUserGetAppImeLevel and NtUserSetAppImeLevel
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ntuser.c
  win32ss/user/ntuser/ntuser.h
Labels: enhancement

#4314 [USER32] Implement WM_CREATE of IME window
  win32ss/user/user32/misc/imm.c
Labels: enhancement

#4263 [3DTEXT] Rearrange settings dialog window to look nicer
  base/applications/screensavers/3dtext/lang/bg-BG.rc
  base/applications/screensavers/3dtext/lang/cs-CZ.rc
  base/applications/screensavers/3dtext/lang/de-DE.rc
  base/applications/screensavers/3dtext/lang/el-GR.rc
  base/applications/screensavers/3dtext/lang/en-US.rc
  base/applications/screensavers/3dtext/lang/es-ES.rc
  base/applications/screensavers/3dtext/lang/et-EE.rc
  base/applications/screensavers/3dtext/lang/eu-ES.rc
  base/applications/screensavers/3dtext/lang/fr-FR.rc
  base/applications/screensavers/3dtext/lang/he-IL.rc
  base/applications/screensavers/3dtext/lang/it-IT.rc
  base/applications/screensavers/3dtext/lang/ja-JP.rc
  base/applications/screensavers/3dtext/lang/ko-KR.rc
  base/applications/screensavers/3dtext/lang/lt-LT.rc
  base/applications/screensavers/3dtext/lang/no-NO.rc
  base/applications/screensavers/3dtext/lang/pl-PL.rc
  base/applications/screensavers/3dtext/lang/pt-BR.rc
  base/applications/screensavers/3dtext/lang/pt-PT.rc
  base/applications/screensavers/3dtext/lang/ro-RO.rc
  base/applications/screensavers/3dtext/lang/ru-RU.rc
  base/applications/screensavers/3dtext/lang/sk-SK.rc
  base/applications/screensavers/3dtext/lang/sq-AL.rc
  base/applications/screensavers/3dtext/lang/sv-SE.rc
  base/applications/screensavers/3dtext/lang/tr-TR.rc
  base/applications/screensavers/3dtext/lang/uk-UA.rc
  base/applications/screensavers/3dtext/lang/zh-CN.rc
  base/applications/screensavers/3dtext/lang/zh-HK.rc
  base/applications/screensavers/3dtext/lang/zh-TW.rc
Labels: enhancement

#4316 [USER32] Implement WM_IME_SELECT and WM_IME_COMPOSITION of IME window
  win32ss/include/ntuser.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement

#4320 [USER32] Implement ImeWnd_OnImeControl
  sdk/include/reactos/wine/ddk/imm.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement

#4321 [INCLUDE] Rename <ddk/imm.h> as <ddk/immdev.h>
  dll/win32/imm32/precomp.h
  modules/rostests/apitests/imm32/precomp.h
  modules/rostests/winetests/imm32/imm32.c
  sdk/include/ddk/immdev.h
  sdk/include/reactos/wine/imm.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement, ROSTESTS

#4317 [NTUSER] Implement GetSystemMetrics.SM_DBCSENABLED
  win32ss/user/ntuser/metric.c
Labels: enhancement

#4324 [MSPAINT] Improve Undo/Redo and finishing tool
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/imgarea.h
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/selection.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#4328 [USER32] Don't delay-load-link to imm32.dll
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/controls/edit.c
  win32ss/user/user32/windows/defwnd.c
Labels: refactoring

#4327 [USER32] Add ImeWnd_OnImeSystem
  win32ss/user/ntuser/simplecall.c
  win32ss/user/user32/include/immtable.h
  win32ss/user/user32/misc/imm.c
Labels: enhancement
