Repository reactos/reactos, pull requests merged in 2023-03, with the labels that each got.

#5103 [NOTEPAD] Fix NOTEPAD_FindTextAt
  base/applications/notepad/main.c
Labels: bugfix

#5104 [NOTEPAD] Don't reset Find/Replace if lpstrFindWhat is set
  base/applications/notepad/dialog.c
Labels: bugfix

#4964 [SDK] Improve gen_baseaddress.py and its output files
  sdk/cmake/baseaddress.cmake
  sdk/cmake/baseaddress_dwarf.cmake
  sdk/cmake/baseaddress_msvc.cmake
  sdk/cmake/baseaddress_msvc_x64.cmake
  sdk/tools/gen_baseaddress.py
Labels: enhancement

#5107 [NTUSER][USER32] Refactor NtUserLoadKeyboardLayoutEx
  win32ss/include/ntuser.h
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/user32/windows/input.c
Labels: enhancement, refactoring

#5109 [MSPAINT] Treat as a file even if the bitmap is empty
  base/applications/mspaint/dib.cpp
Labels: bugfix

#5032 [MSVCRT][CRT_APITEST] Implement _wsystem
  modules/rostests/apitests/crt/_wsystem.c
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/system.c
  modules/rostests/apitests/crt/testlist.c
  sdk/lib/crt/process/_system.c
Labels: enhancement, bugfix, ROSTESTS

#5113 [WS2_32] Fix Two DPRINT typo errors.
  dll/win32/ws2_32/src/send.c
Labels: trivial fix

#5111 [NOTEPAD] Improve printing (header/footer/tabs/performance)
  base/applications/notepad/dialog.c
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/notepad_res.h
Labels: enhancement

#5123 [NTOS:SE] Do not allocate memory pool just for the access rights
  ntoskrnl/include/internal/se.h
  ntoskrnl/include/internal/tag.h
  ntoskrnl/se/accesschk.c
  ntoskrnl/se/debug.c
Labels: refactoring, kernel&hal

#5119 [REGEDIT] Avoid buffer overflow in SelectNode
  base/applications/regedit/regedit.h
  base/applications/regedit/treeview.c
Labels: bugfix

#5121 [WINESYNC] user32/edit: Allow buffer access after EM_GETHANDLE.
  win32ss/user/user32/controls/edit.c
Labels: 3rd party sync, bugfix

#5131 [NOTEPAD] Reduce lines in and around comments
  base/applications/notepad/dialog.c
  base/applications/notepad/main.c
  base/applications/notepad/settings.c
Labels: trivial fix, refactoring

#5110 [SDK:SCRNSAVE] Implement mouse move threshold.
  sdk/lib/scrnsave/scrnsave.c
Labels: enhancement

#5102 [MSAFD] Work around regression of CORE-18848 from 0.4.12-dev-693-g2b1f6c8
  dll/win32/msafd/misc/dllmain.c
Labels: hackfix

#5134 [NOTEPAD] Remove some needless type casts
  base/applications/notepad/dialog.c
  base/applications/notepad/settings.c
Labels: trivial fix, refactoring

#5130 [NOTEPAD] Use DestroyIcon instead of DeleteObject to destroy icon
  base/applications/notepad/dialog.c
Labels: bugfix, trivial fix

#5117 [KERNEL32] Remove a pointless SEH in VirtualAllocEx
  dll/win32/kernel32/client/virtmem.c
Labels: review pending, refactoring, needs tests

#5132 [NOTEPAD] Use Globals.hMainWnd in ShowLastError
  base/applications/notepad/dialog.c
Labels: bugfix

#5137 [DXDIAG] Fix text truncation german de-DE.rc CORE-18853
  base/applications/dxdiag/lang/de-DE.rc
Labels: TRANSLATION, bugfix

#5140 [MSPAINT] Fix use of uninitialized variable on startup
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5147 [MSPAINT] There were two "main" windows
  base/applications/mspaint/toolbox.h
Labels: bugfix

#5143 [NTOS:KD] Move handling of Dmesg buffer from screen provider to KDBG provider.
  ntoskrnl/include/internal/kd.h
  ntoskrnl/kd/kdio.c
  ntoskrnl/kdbg/kdb_cli.c
Labels: enhancement, refactoring, kernel&hal

#4892 [NTOS:KD][KDBG] Rework the BootPhase >= 2 initialization of the KD/KDBG kernel debugger.
  ntoskrnl/include/internal/kd.h
  ntoskrnl/io/iomgr/iomgr.c
  ntoskrnl/kd/kdio.c
  ntoskrnl/kd/kdmain.c
  ntoskrnl/kdbg/kdb.h
  ntoskrnl/kdbg/kdb_cli.c
Labels: bugfix, refactoring, kernel&hal

#5145 [MSPAINT] Remember status bar visibility
  base/applications/mspaint/main.cpp
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/registry.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5127 [NOTEPAD] Add 'Now printing' dialog
  base/applications/notepad/dialog.c
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/notepad_res.h
Labels: enhancement

#5135 [NOTEPAD] Refactor around _tWinMain
  base/applications/notepad/main.c
Labels: refactoring

#5126 [NTUSER][USER32] KLF_SETFORPROCESS for ActivateKeyboardLayout
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/user32/windows/defwnd.c
Labels: enhancement, bugfix

#5157 [NETSHELL] Shrink radio buttons vertically
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/cs-CZ.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/de-DE.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/fr-FR.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/hi-IN.rc
  dll/shellext/netshell/lang/hu-HU.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/ja-JP.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/ro-RO.rc
  dll/shellext/netshell/lang/ru-RU.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
  dll/shellext/netshell/lang/tr-TR.rc
  dll/shellext/netshell/lang/uk-UA.rc
  dll/shellext/netshell/lang/zh-CN.rc
  dll/shellext/netshell/lang/zh-HK.rc
  dll/shellext/netshell/lang/zh-TW.rc
Labels: TRANSLATION, bugfix, modding

#5151 [NOTEPAD] Use _CrtSetDbgFlag to check memory leak
  base/applications/notepad/main.c
Labels: enhancement

#5139 [SHELL32] Give opportunity to rename file/folder on its creation
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CNewMenu.cpp
Labels: bugfix, shell

#5159 [NOTEPAD] Delete license.c (no use)
  base/applications/notepad/license.c
Labels: trivial fix

#5144 [MSPAINT] Avoid flickering when resizing
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/palette.h
  base/applications/mspaint/resource.h
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolbox.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix, refactoring

#5152 [NOTEPAD] Use full path for non-existent file
  base/applications/notepad/main.c
Labels: bugfix

#5164 [NTDLL_APITEST] Write some tests for NtQueryOpenSubKeys
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtQueryOpenSubKeys.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: ROSTESTS

#5165 [MSPAINT] Unlink HHCTRL.OCX and use dynamic load
  base/applications/mspaint/CMakeLists.txt
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#5158 [MSPAINT] Restore the main window saved show state
  base/applications/mspaint/main.cpp
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/registry.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5162 [MSPAINT] Remove extra scrlClientWindow
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/main.cpp
  base/applications/mspaint/scrollbox.cpp
  base/applications/mspaint/scrollbox.h
  base/applications/mspaint/selection.cpp
Labels: bugfix, refactoring

#5167 [MSPAINT] Save paletteWindow visibility
  base/applications/mspaint/main.cpp
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/registry.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#5166 [MSPAINT] Make sizeboxes window-less
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/drawing.h
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/sizebox.cpp
  base/applications/mspaint/sizebox.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix, refactoring

#5171 [BOOT] Support compiling freeldr as a UEFI loader as well - Implement UI functions
  boot/boot_images.cmake
  boot/freeldr/freeldr/CMakeLists.txt
  boot/freeldr/freeldr/arch/uefi/stubs.c
  boot/freeldr/freeldr/arch/uefi/ueficon.c
  boot/freeldr/freeldr/arch/uefi/uefildr.c
  boot/freeldr/freeldr/arch/uefi/uefisetup.c
  boot/freeldr/freeldr/arch/uefi/uefiutil.c
  boot/freeldr/freeldr/arch/uefi/uefivid.c
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/freeldr.c
  boot/freeldr/freeldr/include/arch/uefi/machuefi.h
  boot/freeldr/freeldr/include/arch/uefi/uefildr.h
  boot/freeldr/freeldr/lib/fs/fs.c
  boot/freeldr/freeldr/miscboot.c
  boot/freeldr/freeldr/uefi.cmake
Labels: freeldr

#5176 [NOTEPAD] Move '#include <crtdbg.h>' and add _CRTDBG_MAP_ALLOC
  base/applications/notepad/main.c
  base/applications/notepad/notepad.h
Labels: enhancement

#5170 [NOTEPAD] Use _countof macro from <stdlib.h>
  base/applications/notepad/dialog.c
  base/applications/notepad/main.c
  base/applications/notepad/notepad.h
  base/applications/notepad/printing.c
  base/applications/notepad/settings.c
Labels: refactoring

#5168 [MSPAINT] Tool settings: Reduce magic numbers
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/main.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolbox.h
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsettings.h
  base/applications/mspaint/winproc.cpp
Labels: refactoring

#5177 [MSPAINT] Simplify TextEdit by using SizeBox
  base/applications/mspaint/textedit.cpp
Labels: refactoring

#5173 [COMCTL32][USER32] EDIT: Do default on WM_IME_SELECT/CONTROL
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: enhancement, bugfix

#5183 [COMCTL32][USER32] EDIT: Half-implement WM_IME_STARTCOMPOSITION
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: enhancement

#5182 [COMCTL32][USER32] EDIT: Half-implement WM_IME_SETCONTEXT handling
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: enhancement, bugfix

#5181 [NOTEPAD] Russian (ru-RU) translation update
  base/applications/notepad/lang/ru-RU.rc
Labels: TRANSLATION

#5115 [KERNEL32] GlobalMemoryStatusEx should handle error and return FALSE when failed
  dll/win32/kernel32/client/heapmem.c
Labels: enhancement

#5189 Tag Win32SS related PRs with "Win32SS" label
  .github/labeler.yml
Labels: janitorial

#5180 [EXPLORER] Improve Clock text color for High Contrast
  base/shell/explorer/trayclock.cpp
Labels: bugfix

#4972 [AFD] ReceiveActivity: Don't return STATUS_FILE_CLOSED in case of FCB overread
  drivers/network/afd/afd/main.c
  drivers/network/afd/afd/read.c
  drivers/network/afd/include/afd.h
Labels: bugfix, drivers

#5191 [COMCTL32][USER32] EDIT: WM_IME_CHAR: Rely on DefWindowProc...
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: enhancement, trivial fix, Win32SS

#5185 [BLUE] Optimize ScrIoControl for speed
  drivers/setup/blue/blue.c
Labels: refactoring, drivers

#5200 [KERNEL32] LCMapString: Hiragana/Katakana conversion
  dll/win32/kernel32/winnls/string/lang.c
Labels: enhancement, bugfix

#5178 [MSPAINT][ATL] Encapsulation: mainWindow
  base/applications/mspaint/atlimagedx.h
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/common.h
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/dib.h
  base/applications/mspaint/fullscreen.cpp
  base/applications/mspaint/fullscreen.h
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/imgarea.cpp
  base/applications/mspaint/imgarea.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/miniature.cpp
  base/applications/mspaint/miniature.h
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/selection.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
  base/applications/mspaint/winproc.h
  sdk/lib/atl/atlimage.h
Labels: bugfix, refactoring

#5198 [SYSSETUP] Tweak IDD_COMPUTERPAGE positioning
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
Labels: modding

#5169 [SHELL32_APITESTS] Add ROS.ico test file. Improve shell32:ExtractIconEx tests
  modules/rostests/apitests/shell32/ExtractIconEx.cpp
  modules/rostests/apitests/shell32/ROS.ico
  modules/rostests/apitests/shell32/resource.rc
  modules/rostests/apitests/shell32/sysicon.ico
Labels: enhancement, ROSTESTS

#5124 [NOTEPAD][OSK] Improve Portuguese (Brazilian) translation (pt-BR)
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/rsrc.rc
  base/applications/osk/lang/pt-BR.rc
  base/applications/osk/lang/pt-PT.rc
  base/applications/osk/osk.rc
Labels: TRANSLATION
