Repository reactos/reactos, pull requests merged in 2023-11, with the labels that each got.

#5857 [DSOUND_NEW][HDAUDBUS] Replace meaningless YDEBUG
  dll/directx/dsound_new/precomp.h
  drivers/wdm/audio/hdaudbus/hdaudbus.h
Labels: refactoring, drivers

#5845 [TASKMGR] Hold Shift to bypass confirmation MessageBox
  base/applications/taskmgr/debug.c
  base/applications/taskmgr/endproc.c
  base/applications/taskmgr/priority.c
  base/applications/taskmgr/taskmgr.c
  base/applications/taskmgr/taskmgr.h
Labels: enhancement

#5859 [BOOTDATA][HALX86] Compile the SMP hal on x86
  boot/bootdata/livecd.ini
  boot/bootdata/txtsetup.sif
  hal/halx86/CMakeLists.txt
Labels: enhancement, kernel&hal, SMP

#5822 [NTUSER] Fix system menu mouse handing
  win32ss/user/ntuser/menu.c
Labels: bugfix, Win32SS

#5862 [IMM32][SDK] Add CtfAImmIsIME, CtfImmSetAppCompatFlags etc.
  dll/win32/imm32/ctf.c
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/keymsg.c
  dll/win32/imm32/precomp.h
  sdk/include/reactos/imm32_undoc.h
Labels: enhancement

#5858 [PORTCLS] Remove meaningless YDEBUG
  drivers/wdm/audio/backpln/portcls/adapter.cpp
  drivers/wdm/audio/backpln/portcls/api.cpp
  drivers/wdm/audio/backpln/portcls/connection.cpp
  drivers/wdm/audio/backpln/portcls/dispatcher.cpp
  drivers/wdm/audio/backpln/portcls/dll.cpp
  drivers/wdm/audio/backpln/portcls/dma_slave.cpp
  drivers/wdm/audio/backpln/portcls/drm.cpp
  drivers/wdm/audio/backpln/portcls/drm_port.cpp
  drivers/wdm/audio/backpln/portcls/filter_dmus.cpp
  drivers/wdm/audio/backpln/portcls/filter_topology.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavepci.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavert.cpp
  drivers/wdm/audio/backpln/portcls/interrupt.cpp
  drivers/wdm/audio/backpln/portcls/irp.cpp
  drivers/wdm/audio/backpln/portcls/irpstream.cpp
  drivers/wdm/audio/backpln/portcls/miniport.cpp
  drivers/wdm/audio/backpln/portcls/miniport_dmus.cpp
  drivers/wdm/audio/backpln/portcls/miniport_fmsynth.cpp
  drivers/wdm/audio/backpln/portcls/pin_dmus.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavepci.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/pool.cpp
  drivers/wdm/audio/backpln/portcls/port.cpp
  drivers/wdm/audio/backpln/portcls/port_dmus.cpp
  drivers/wdm/audio/backpln/portcls/port_topology.cpp
  drivers/wdm/audio/backpln/portcls/port_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/port_wavepci.cpp
  drivers/wdm/audio/backpln/portcls/port_wavert.cpp
  drivers/wdm/audio/backpln/portcls/port_wavertstream.cpp
  drivers/wdm/audio/backpln/portcls/power.cpp
  drivers/wdm/audio/backpln/portcls/propertyhandler.cpp
  drivers/wdm/audio/backpln/portcls/purecall.cpp
  drivers/wdm/audio/backpln/portcls/registry.cpp
  drivers/wdm/audio/backpln/portcls/resource.cpp
  drivers/wdm/audio/backpln/portcls/service_group.cpp
  drivers/wdm/audio/backpln/portcls/undoc.cpp
  drivers/wdm/audio/backpln/portcls/unregister.cpp
  drivers/wdm/audio/backpln/portcls/version.cpp
Labels: refactoring, drivers

#5875 [MSPAINT] Commonize OnFinishDraw and OnCancelDraw
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: refactoring

#5876 [MSPAINT] Simplify tool creation
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: refactoring

#5878 [MSPAINT] Refactor mouse moving code on canvas
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: refactoring

#5863 [IMM32][SDK] Implement CtfImm(Hide,Restore)ToolbarWnd
  dll/win32/imm32/ctf.c
  dll/win32/imm32/imm32.spec
  sdk/include/reactos/imm32_undoc.h
Labels: enhancement, input method

#5866 [W32TIME] Remember date/time sync settings
  base/services/w32time/w32time.c
Labels: enhancement, bugfix

#5877 [MSPAINT] Fix Copy-To-File feature
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/main.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5865 [IMM32][SDK] Implement software keyboard, Part 1
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/softkbd.c
  sdk/include/psdk/imm.h
Labels: enhancement, input method

#5882 [MSPAINT] Adapt to Unicode and <strsafe.h>
  base/applications/mspaint/atlimagedx.h
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/dialogs.cpp
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/drawing.h
  base/applications/mspaint/fullscreen.cpp
  base/applications/mspaint/fullscreen.h
  base/applications/mspaint/globalvar.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/miniature.cpp
  base/applications/mspaint/miniature.h
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/palette.h
  base/applications/mspaint/registry.cpp
  base/applications/mspaint/registry.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/sizebox.cpp
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/textedit.h
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolbox.h
  base/applications/mspaint/toolsettings.cpp
  base/applications/mspaint/toolsettings.h
  base/applications/mspaint/winproc.cpp
  base/applications/mspaint/winproc.h
Labels: refactoring

#5836 [HOTPLUG] Add device removal support
  dll/cpl/hotplug/CMakeLists.txt
  dll/cpl/hotplug/eject.c
  dll/cpl/hotplug/enum.c
  dll/cpl/hotplug/hotplug.c
  dll/cpl/hotplug/hotplug.h
  dll/cpl/hotplug/lang/de-DE.rc
  dll/cpl/hotplug/lang/en-US.rc
  dll/cpl/hotplug/lang/es-ES.rc
  dll/cpl/hotplug/lang/fr-FR.rc
  dll/cpl/hotplug/lang/id-ID.rc
  dll/cpl/hotplug/lang/ja-JP.rc
  dll/cpl/hotplug/lang/pl-PL.rc
  dll/cpl/hotplug/lang/pt-PT.rc
  dll/cpl/hotplug/lang/ro-RO.rc
  dll/cpl/hotplug/lang/ru-RU.rc
  dll/cpl/hotplug/lang/tr-TR.rc
  dll/cpl/hotplug/lang/zh-CN.rc
  dll/cpl/hotplug/lang/zh-HK.rc
  dll/cpl/hotplug/lang/zh-TW.rc
  dll/cpl/hotplug/resource.h
Labels: enhancement, refactoring

#5883 [MSPAINT] Use <winuser.rh> instead of <winuser.h> in rsrc.rc
  base/applications/mspaint/rsrc.rc
Labels: bugfix, trivial fix

#5873 [SHELL32] Commonize CCopyToMenu and CMoveToMenu
  dll/win32/shell32/CCopyMoveToMenu.cpp
  dll/win32/shell32/CCopyMoveToMenu.h
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CCopyToMoveToMenu.h
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/precomp.h
Labels: bugfix, shell

#5884 [MSPAINT] Distinguish between icons and cursors
  base/applications/mspaint/CMakeLists.txt
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/icons/airbrush_cur.ico
  base/applications/mspaint/icons/color_cur.ico
  base/applications/mspaint/icons/fill_cur.ico
  base/applications/mspaint/icons/pen_cur.ico
  base/applications/mspaint/icons/zoom_cur.ico
  base/applications/mspaint/img/airbrush.cur
  base/applications/mspaint/img/color.cur
  base/applications/mspaint/img/fill.cur
  base/applications/mspaint/img/fontstoolbar.bmp
  base/applications/mspaint/img/handdrag.cur
  base/applications/mspaint/img/horzskew.ico
  base/applications/mspaint/img/horzstretch.ico
  base/applications/mspaint/img/iconbar.bmp
  base/applications/mspaint/img/nontransparent.ico
  base/applications/mspaint/img/paint.ico
  base/applications/mspaint/img/paint.svg
  base/applications/mspaint/img/pen.cur
  base/applications/mspaint/img/transparency.xcf
  base/applications/mspaint/img/transparent.ico
  base/applications/mspaint/img/vertskew.ico
  base/applications/mspaint/img/vertstretch.ico
  base/applications/mspaint/img/zoom.cur
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/rsrc.rc
Labels: refactoring

#5881 [NETSHELL] Property page needs to call ReleaseWriteLock
  dll/shellext/netshell/lanconnectui.cpp
Labels: bugfix, shell

#5880 [NETSHELL] Register Network connections folder attributes as SFGAO_FOLDER, not SFGAO_CANDELETE
  dll/shellext/netshell/res/netshell.rgs
Labels: bugfix, shell

#5809 [RAPPS] Improve LicenseType handling
  base/applications/rapps/appinfo.cpp
  base/applications/rapps/include/appinfo.h
Labels: enhancement

#5887 [HOTPLUG] Trivial fixes
  dll/cpl/hotplug/enum.c
  dll/cpl/hotplug/hotplug.c
  dll/cpl/hotplug/hotplug.rc
Labels: trivial fix

#5890 [ACLUI] Let image list be automatically deleted
  dll/win32/aclui/aclui.c
Labels: bugfix

#5856 [SHLWAPI][SDK] Implement IContextMenu_Invoke
  dll/win32/shlwapi/CMakeLists.txt
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#5888 [ADVAPI32] Mute frequent taskmgr logspam CORE-18521
  dll/win32/advapi32/wine/security.c
Labels: trivial fix

#5899 [NETSHELL] IDD_NETPROPERTIES must fit 640x480, add 3 missing accelerators
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/cs-CZ.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/de-DE.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/fr-FR.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/hi-IN.rc
  dll/shellext/netshell/lang/hu-HU.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/ja-JP.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/pl-PL.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/ro-RO.rc
  dll/shellext/netshell/lang/ru-RU.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
  dll/shellext/netshell/lang/tr-TR.rc
  dll/shellext/netshell/lang/uk-UA.rc
  dll/shellext/netshell/lang/zh-CN.rc
  dll/shellext/netshell/lang/zh-HK.rc
  dll/shellext/netshell/lang/zh-TW.rc
Labels: enhancement, bugfix, shell

#5902 [NETCFGX] *.rc 640x480-ify IDD_TCPIP_BASIC_DLG and IDD_TCPIP_ALTCF_DLG
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: enhancement, bugfix

#5903 [ACCESS] 640x480-ify
  dll/cpl/access/lang/bg-BG.rc
  dll/cpl/access/lang/cs-CZ.rc
  dll/cpl/access/lang/de-DE.rc
  dll/cpl/access/lang/el-GR.rc
  dll/cpl/access/lang/en-US.rc
  dll/cpl/access/lang/es-ES.rc
  dll/cpl/access/lang/et-EE.rc
  dll/cpl/access/lang/fr-FR.rc
  dll/cpl/access/lang/he-IL.rc
  dll/cpl/access/lang/hu-HU.rc
  dll/cpl/access/lang/id-ID.rc
  dll/cpl/access/lang/it-IT.rc
  dll/cpl/access/lang/ja-JP.rc
  dll/cpl/access/lang/nl-NL.rc
  dll/cpl/access/lang/no-NO.rc
  dll/cpl/access/lang/pl-PL.rc
  dll/cpl/access/lang/pt-BR.rc
  dll/cpl/access/lang/pt-PT.rc
  dll/cpl/access/lang/ro-RO.rc
  dll/cpl/access/lang/ru-RU.rc
  dll/cpl/access/lang/sk-SK.rc
  dll/cpl/access/lang/sq-AL.rc
  dll/cpl/access/lang/tr-TR.rc
  dll/cpl/access/lang/uk-UA.rc
  dll/cpl/access/lang/zh-CN.rc
  dll/cpl/access/lang/zh-HK.rc
  dll/cpl/access/lang/zh-TW.rc
Labels: enhancement

#5901 [NTOS:KE/x64] Remove GCC vs ML hack
  sdk/include/asm/trapamd64.inc
Labels: enhancement

#5911 [SOLITAIRE] Update Romanian (ro-RO) translation
  base/applications/games/solitaire/lang/ro-RO.rc
Labels: TRANSLATION

#5912 [MMC] Update Romanian (ro-RO) translation
  base/applications/mmc/lang/ro-RO.rc
Labels: TRANSLATION

#5914 [MSTSC] Update Romanian (ro-RO) translation
  base/applications/mstsc/lang/ro-RO.rc
Labels: TRANSLATION

#5915 [NOTEPAD] Update Romanian (ro-RO) translation
  base/applications/notepad/lang/ro-RO.rc
Labels: TRANSLATION

#5920 [DESK] Update Romanian (ro-RO) translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#5896 [RAPPS] Fix item icons
  base/applications/rapps/appview.cpp
Labels: bugfix

#5929 [MYEVENTPROVIDER_DLL][MC] Add Romanian (ro-RO) translation to message table
  modules/rostests/win32/advapi32/eventlog/MyEventProvider.mc
Labels: ROSTESTS

#5906 [OPENGLCFG] 640x480-ify
  dll/cpl/openglcfg/lang/cs-CZ.rc
  dll/cpl/openglcfg/lang/de-DE.rc
  dll/cpl/openglcfg/lang/en-US.rc
  dll/cpl/openglcfg/lang/it-IT.rc
  dll/cpl/openglcfg/lang/ja-JP.rc
  dll/cpl/openglcfg/lang/pl-PL.rc
  dll/cpl/openglcfg/lang/ro-RO.rc
  dll/cpl/openglcfg/lang/ru-RU.rc
  dll/cpl/openglcfg/lang/tr-TR.rc
  dll/cpl/openglcfg/lang/zh-CN.rc
  dll/cpl/openglcfg/lang/zh-HK.rc
  dll/cpl/openglcfg/lang/zh-TW.rc
Labels: enhancement

#5924 [RASDLG] Update Romanian (ro-RO) translation
  dll/win32/rasdlg/lang/ro-RO.rc
Labels: TRANSLATION

#5921 [HDWWIZ] Update Romanian (ro-RO) translation
  dll/cpl/hdwwiz/lang/ro-RO.rc
Labels: TRANSLATION

#5910 [DXDIAG] Update Romanian (ro-RO) translation
  base/applications/dxdiag/lang/ro-RO.rc
Labels: TRANSLATION

#5919 [CONSOLE] Update Romanian (ro-RO) translation
  dll/cpl/console/lang/ro-RO.rc
Labels: TRANSLATION

#5913 [MSPAINT] Update Romanian (ro-RO) translation
  base/applications/mspaint/lang/ro-RO.rc
Labels: TRANSLATION

#5909 [CLIPBRD] Update Romanian (ro-RO) translation
  base/applications/clipbrd/lang/ro-RO.rc
Labels: TRANSLATION

#5917 [WORDPAD] Update Romanian (ro-RO) translation
  base/applications/wordpad/lang/ro-RO.rc
Labels: TRANSLATION

#5916 [SNDREC32] Update Romanian (ro-RO) translation
  base/applications/sndrec32/lang/ro-RO.rc
Labels: TRANSLATION

#5930 [INPUT] Update Romanian (ro-RO) translation
  dll/cpl/input/lang/ro-RO.rc
Labels: TRANSLATION

#5925 [LOCALMON] Update Romanian (ro-RO) translation
  win32ss/printing/monitors/localmon/ui/lang/ui_Ro.rc
Labels: TRANSLATION

#5923 [IEFRAME] Update Romanian (ro-RO) translation
  dll/win32/ieframe/lang/ro-RO.rc
Labels: TRANSLATION

#5933 [POWERCFG] 640x480-ify and overhaul
  dll/cpl/powercfg/lang/bg-BG.rc
  dll/cpl/powercfg/lang/cs-CZ.rc
  dll/cpl/powercfg/lang/de-DE.rc
  dll/cpl/powercfg/lang/el-GR.rc
  dll/cpl/powercfg/lang/en-US.rc
  dll/cpl/powercfg/lang/es-ES.rc
  dll/cpl/powercfg/lang/fr-FR.rc
  dll/cpl/powercfg/lang/he-IL.rc
  dll/cpl/powercfg/lang/id-ID.rc
  dll/cpl/powercfg/lang/it-IT.rc
  dll/cpl/powercfg/lang/ja-JP.rc
  dll/cpl/powercfg/lang/nl-NL.rc
  dll/cpl/powercfg/lang/no-NO.rc
  dll/cpl/powercfg/lang/pl-PL.rc
  dll/cpl/powercfg/lang/pt-PT.rc
  dll/cpl/powercfg/lang/ro-RO.rc
  dll/cpl/powercfg/lang/ru-RU.rc
  dll/cpl/powercfg/lang/sk-SK.rc
  dll/cpl/powercfg/lang/sq-AL.rc
  dll/cpl/powercfg/lang/th-TH.rc
  dll/cpl/powercfg/lang/tr-TR.rc
  dll/cpl/powercfg/lang/uk-UA.rc
  dll/cpl/powercfg/lang/zh-CN.rc
  dll/cpl/powercfg/lang/zh-HK.rc
  dll/cpl/powercfg/lang/zh-TW.rc
Labels: enhancement, bugfix, refactoring

#5827 [WIN32K] Fix alignment checks in NtUserSetInformationThread
  win32ss/user/ntuser/ntstubs.c
Labels: bugfix, Win32SS

#5946 [NETCFGX] 640x480-ify
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: enhancement

#5937 [FIND] Update Romanian (ro-RO) translation
  base/applications/cmdutils/find/lang/ro-RO.rc
Labels: TRANSLATION

#5934 [POWERCFG] Update Romanian (ro-RO) translation
  dll/cpl/powercfg/lang/ro-RO.rc
Labels: TRANSLATION

#5936 [ATTRIB] Update Romanian (ro-RO) translation
  base/applications/cmdutils/attrib/lang/ro-RO.rc
Labels: TRANSLATION

#5939 [LABEL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/label/lang/ro-RO.rc
Labels: TRANSLATION

#5897 [USETUP] [SHELL32] [ACCESS] Improve Portuguese (pt-PT) Translation
  base/setup/usetup/lang/pt-PT.h
  dll/cpl/access/lang/pt-PT.rc
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION, shell

#5931 [WIN32U_VISTA] .def: Delete this obsolete file
  modules/rostests/apitests/win32u/win32u_vista/win32u_vista.def
Labels: ROSTESTS, janitorial

#5905 [ATL] Added CComPtr.CoCreateInstance helper methods
  sdk/lib/atl/atlcomcli.h
Labels: enhancement, ATL

#5843 [VMX_SVGA] Demote 3 DPRINT1() and define NDEBUG
  win32ss/drivers/miniport/vmx_svga/vmx_svga.c
Labels: drivers, janitorial, Win32SS

#5785 [SHELL32] Add support for more registry verb flags and CMF flags
  dll/win32/shell32/CDefaultContextMenu.cpp
  sdk/include/psdk/shobjidl.idl
  sdk/include/reactos/compat_undoc.h
  sdk/include/reactos/shellutils.h
Labels: enhancement, bugfix, shell, ship-it

#5790 [DEVMGR] Fix some bugs spotted by Thomas Faber in PR #5775
  dll/win32/devmgr/properties/advprop.cpp
Labels: bugfix

#5820 [SHELL32][SHELLEXT] IEnumIDList::Next must handle pceltFetched and memory errors correctly
  dll/shellext/fontext/CEnumFonts.cpp
  dll/shellext/netshell/enumlist.cpp
  dll/shellext/zipfldr/CEnumZipContents.cpp
  dll/win32/shell32/CEnumIDListBase.cpp
Labels: bugfix, shell

#5821 [ADVPACK] Handle ADN_DEL_IF_EMPTY in DelNodeW and DelNodeRunDLL32
  dll/win32/advpack/files.c
Labels: bugfix

#5870 [ADVAPI32] Handle HKEY_CLASSES_ROOT in RegQueryInfoKeyW
  dll/win32/advapi32/reg/hkcr.c
  dll/win32/advapi32/reg/reg.c
  dll/win32/advapi32/reg/reg.h
Labels: bugfix

#5886 [FREELDR] Implement the FASTDETECT option and enable it by default
  base/setup/lib/bootsup.c
  boot/bootdata/livecd.ini
  boot/bootdata/txtsetup.sif
  boot/freeldr/freeldr/arch/i386/pc/machpc.c
  boot/freeldr/freeldr/arch/i386/xbox/machxbox.c
Labels: enhancement, freeldr

#5904 [NETSHELL] Display component icons in list
  dll/shellext/netshell/lanconnectui.cpp
  dll/shellext/netshell/lanconnectui.h
Labels: enhancement, bugfix, shell

#5907 [NTOS:EX][CSRSRV][WIN32K] Make a few #define more explicit/strict
  ntoskrnl/include/internal/ex.h
  subsystems/csr/csrsrv/srv.h
  win32ss/pch.h
Labels: kernel&hal, Win32SS

#5975 [SHIMGVW] Add filename extension on file save
  dll/win32/shimgvw/shimgvw.c
Labels: bugfix

#5949 [TASKMGR] Harmonize and beautify the borders in performance tab
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Labels: enhancement, bugfix

#5958 [DESK] Update Romanian (ro-RO) translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#5959 [MSTSC] Update Romanian (ro-RO) translation
  base/applications/mstsc/lang/ro-RO.rc
Labels: TRANSLATION

#5953 [TRANSLATION] Update Russian (ru-RU) translation
  base/applications/calc/lang/ru-RU.rc
  base/applications/charmap/lang/ru-RU.rc
  base/applications/cmdutils/at/lang/ru-RU.rc
  base/applications/cmdutils/attrib/lang/ru-RU.rc
  base/applications/cmdutils/comp/lang/ru-RU.rc
  base/applications/cmdutils/fc/lang/ru-RU.rc
  base/applications/cmdutils/find/lang/ru-RU.rc
  base/applications/cmdutils/xcopy/lang/ru-RU.rc
  base/applications/fltmc/lang/ru-RU.rc
Labels: TRANSLATION

#5966 [MORE] Update Romanian (ro-RO) translation
  base/applications/cmdutils/more/lang/ro-RO.rc
Labels: TRANSLATION

#5981 [NOTEPAD] Update Romanian (ro-RO) translation
  base/applications/notepad/lang/ro-RO.rc
Labels: TRANSLATION

#5982 [SERVMAN] Update Romanian (ro-RO) translation
  base/applications/mscutils/servman/lang/ro-RO.rc
Labels: TRANSLATION

#5962 [SHELL32] Update Romanian (ro-RO) translation
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#5957 [SYSSETUP] Update Romanian (ro-RO) translation
  dll/win32/syssetup/lang/ro-RO.rc
Labels: TRANSLATION

#5964 [MAGNIFY] Update Romanian (ro-RO) translation
  base/applications/magnify/lang/ro-RO.rc
Labels: TRANSLATION

#5955 [DXDIAG] Update Romanian (ro-RO) translation
  base/applications/dxdiag/lang/ro-RO.rc
Labels: TRANSLATION

#5956 [FLTMC] Update Romanian (ro-RO) translation
  base/applications/fltmc/lang/ro-RO.rc
Labels: TRANSLATION

#5961 [REGEDIT] Update Romanian (ro-RO) translation
  base/applications/regedit/lang/ro-RO.rc
Labels: TRANSLATION

#5960 [DEVMGR] Update Romanian (ro-RO) translation
  dll/win32/devmgr/lang/ro-RO.rc
Labels: TRANSLATION

#5967 [MSCONFIG] Update Romanian (ro-RO) translation
  base/applications/msconfig/lang/ro-RO.rc
Labels: TRANSLATION

#5979 [EVENTVWR] Update Romanian (ro-RO) translation
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
Labels: TRANSLATION

#5968 [MSCONFIG_NEW] Update Romanian (ro-RO) translation
  base/applications/msconfig_new/lang/ro-RO.rc
Labels: TRANSLATION

#5872 [ADVAPI32] RegEnumKeyExW on HKCR keys must work with just KEY_ENUMERATE_SUB_KEYS access
  dll/win32/advapi32/reg/hkcr.c
Labels: bugfix

#5587 [SHELL32] Don't display missing applications in Open with. CORE-19117
  dll/win32/shell32/COpenWithMenu.cpp
Labels: enhancement, bugfix, shell

#5965 [FIND] Update Romanian (ro-RO) translation
  base/applications/cmdutils/find/lang/ro-RO.rc
Labels: TRANSLATION

#5793 [NTDLL:LDR] Little fixes about SAL annotation and behavior
  dll/ntdll/ldr/ldrapi.c
  dll/ntdll/ldr/ldrinit.c
  dll/ntdll/ldr/ldrutils.c
  dll/win32/kernel32/client/loader.c
  sdk/include/ndk/ldrfuncs.h
  sdk/include/ndk/ldrtypes.h
  sdk/include/ndk/rtlfuncs.h
  sdk/include/ndk/umfuncs.h
  sdk/lib/rtl/image.c
Labels: trivial fix, refactoring

#5952 [NTDDRAW][NTGDI][VGADDI] Add missing \n to DPRINT() calls
  win32ss/drivers/displays/vga/main/enable.c
  win32ss/gdi/ntgdi/dibobj.c
  win32ss/gdi/ntgdi/region.c
  win32ss/reactx/ntddraw/d3d.c
  win32ss/reactx/ntddraw/d3dkmt.c
  win32ss/reactx/ntddraw/dd.c
  win32ss/reactx/ntddraw/ddraw.c
  win32ss/reactx/ntddraw/ddsurf.c
  win32ss/reactx/ntddraw/dvp.c
  win32ss/reactx/ntddraw/dxeng.c
  win32ss/reactx/ntddraw/eng.c
  win32ss/reactx/ntddraw/mocomp.c
Labels: enhancement, drivers, Win32SS

#5891 [CRYPTUI] Let image list be automatically deleted
  dll/win32/cryptui/main.c
Labels: bugfix

#5954 [TASKKILL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/taskkill/lang/ro-RO.rc
Labels: TRANSLATION

#5969 [INF] Update Romanian (ro-RO) translation
  media/inf/legcydrv.inf
  media/inf/wdmaudio.inf
Labels: TRANSLATION

#5985 [BOOTDATA] LiveCD: Enable Toggle key (Alt+Shift etc.) by registry
  boot/bootdata/livecd.inf
Labels: enhancement, bugfix

#5892 [INETCPL] Let image list be automatically deleted
  dll/cpl/inetcpl/security.c
Labels: bugfix

#5900 [NTOS:CC] Do not access VACB after decrementing its reference count
  ntoskrnl/cc/view.c
Labels: bugfix, kernel&hal

#5995 [KMTEST] Fix duplicated test names to stop testman from blowing up
  modules/rostests/kmtests/kmtest/testlist.c
  modules/rostests/kmtests/kmtest_drv/testlist.c
Labels: bugfix, ROSTESTS

#5802 [KERNEL32_VISTA] Sync GetFileInformationByHandleEx with wine head
  dll/win32/kernel32/kernel32_vista/GetFileInformationByHandleEx.c
  sdk/include/ndk/iotypes.h
  sdk/include/psdk/winbase.h
Labels: enhancement, 3rd party sync, NT6+

#5989 [NEWDEV] Update Romanian (ro-RO) translation
  dll/win32/newdev/lang/ro-RO.rc
Labels: TRANSLATION

#5990 [MPR] Update Romanian (ro-RO) translation
  dll/win32/mpr/lang/mpr_Ro.rc
Labels: TRANSLATION

#5991 [VGAFONTEDIT] Update Romanian (ro-RO) translation
  modules/rosapps/applications/devutils/vgafontedit/lang/ro-RO.rc
Labels: TRANSLATION

#5992 [WININET] Update Romanian (ro-RO) translation
  dll/win32/wininet/lang/wininet_Ro.rc
Labels: TRANSLATION

#5893 [ACCESS] Improve IDC_RESET_COMBO selection
  dll/cpl/access/general.c
Labels: bugfix

#5994 [MSPAINT] Introduce partial image history
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: enhancement

#6002 [CMAKE] Remove "/Gy" option from ML
  sdk/cmake/msvc.cmake
Labels: enhancement, bugfix

#5973 [STOBJECT] Remove #if 0 and #endif in Volume_IsMute
  dll/shellext/stobject/volume.cpp
Labels: bugfix, shell

#5864 [INPUT] Implement advanced settings
  dll/cpl/input/advanced_settings_page.c
  dll/cpl/input/input.c
  dll/cpl/input/input.h
  dll/cpl/input/input_list.c
  dll/cpl/input/lang/bg-BG.rc
  dll/cpl/input/lang/cs-CZ.rc
  dll/cpl/input/lang/de-DE.rc
  dll/cpl/input/lang/el-GR.rc
  dll/cpl/input/lang/en-US.rc
  dll/cpl/input/lang/es-ES.rc
  dll/cpl/input/lang/fr-FR.rc
  dll/cpl/input/lang/he-IL.rc
  dll/cpl/input/lang/id-ID.rc
  dll/cpl/input/lang/it-IT.rc
  dll/cpl/input/lang/ja-JP.rc
  dll/cpl/input/lang/no-NO.rc
  dll/cpl/input/lang/pl-PL.rc
  dll/cpl/input/lang/pt-BR.rc
  dll/cpl/input/lang/pt-PT.rc
  dll/cpl/input/lang/ro-RO.rc
  dll/cpl/input/lang/ru-RU.rc
  dll/cpl/input/lang/sk-SK.rc
  dll/cpl/input/lang/sq-AL.rc
  dll/cpl/input/lang/tr-TR.rc
  dll/cpl/input/lang/uk-UA.rc
  dll/cpl/input/lang/zh-CN.rc
  dll/cpl/input/lang/zh-HK.rc
  dll/cpl/input/lang/zh-TW.rc
  dll/cpl/input/settings_page.c
Labels: enhancement, input method

#5894 [CALC] Adapt to <strsafe.h>
  base/applications/calc/calc.h
  base/applications/calc/utl_ieee.c
  base/applications/calc/utl_mpfr.c
  base/applications/calc/winmain.c
Labels: refactoring

#6007 [SHELL32] Select 1st item after deletion of file type
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: bugfix, shell

#5828 [ADVAPI32] Improve handling of unaligned key name in RegOpenKeyExW
  dll/win32/advapi32/reg/reg.c
Labels: enhancement

#5987 [NETCFGX] Strip 2x wrong WS_DISABLED style on dlgs
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: bugfix

#5997 [SHDOCLC] Update Romanian (ro-RO) translation
  dll/win32/shdoclc/lang/Ro.rc
Labels: TRANSLATION

#5998 [SHIMGVW] Update Romanian (ro-RO) translation
  dll/win32/shimgvw/lang/ro-RO.rc
Labels: TRANSLATION

#5999 [MSACM32] Update Romanian (ro-RO) translation
  dll/win32/msacm32/lang/msacm_Ro.rc
Labels: TRANSLATION

#6000 [COMDLG32] Update Romanian (ro-RO) translation
  dll/win32/comdlg32/lang/cdlg_Ro.rc
Labels: TRANSLATION

#6001 [MMSYS] Update Romanian (ro-RO) translation
  dll/cpl/mmsys/lang/ro-RO.rc
Labels: TRANSLATION

#5908 [DOC] Update Romanian translation notes.txt
  media/doc/Romanian translation notes.txt
Labels: TRANSLATION, documentation

#6003 [PSDK][SHELLBTRFS] Get rid of MaximumFileInfoByHandlesClass
  dll/shellext/shellbtrfs/reactos.cpp
  sdk/include/psdk/winbase.h
Labels: refactoring, shell

#5993 [HALX86] Add missing \n to DPRINT() calls
  hal/halx86/acpi/halacpi.c
  hal/halx86/generic/x86bios.c
  hal/halx86/mp/ioapic.c
Labels: enhancement, kernel&hal

#5879 [NTOS:KE][HALX86] Setup initial Application Processor bootup
  boot/freeldr/freeldr/ntldr/arch/i386/winldr.c
  hal/halx86/acpi/halacpi.c
  hal/halx86/apic/apicsmp.c
  hal/halx86/apic/processor.c
  hal/halx86/generic/up.c
  hal/halx86/include/halp.h
  hal/halx86/include/smp.h
  hal/halx86/pic/processor.c
  hal/halx86/smp.cmake
  hal/halx86/smp/amd64/apentry.S
  hal/halx86/smp/amd64/spinup.c
  hal/halx86/smp/i386/apentry.S
  hal/halx86/smp/i386/spinup.c
  hal/halx86/smp/ipi.c
  hal/halx86/smp/smp.c
  hal/halx86/up.cmake
  ntoskrnl/ex/init.c
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/include/internal/i386/intrin_i.h
  ntoskrnl/include/internal/i386/ke.h
  ntoskrnl/include/internal/ke.h
  ntoskrnl/ke/amd64/mproc.c
  ntoskrnl/ke/i386/kiinit.c
  ntoskrnl/ke/i386/mproc.c
  ntoskrnl/ntos.cmake
  sdk/include/asm/ksx.template.h
  sdk/include/ndk/amd64/ketypes.h
  sdk/include/ndk/arm/ketypes.h
  sdk/include/ndk/arm64/ketypes.h
  sdk/include/ndk/i386/ketypes.h
Labels: enhancement, kernel&hal, freeldr, SMP, ship-it

#5996 [SHELL32] Fix exception on modifying deleted file type
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: bugfix, shell

#6008 [NETSHELL] Double click on component should open properties
  dll/shellext/netshell/lanconnectui.cpp
Labels: enhancement, shell

#5664 [RAPPS] DisplayIcon needs to handle invalid paths and icon index
  base/applications/rapps/appview.cpp
Labels: bugfix

#6009 [NETCFGX] Half-implement TCP/IP alternate configuration
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
  dll/win32/netcfgx/tcpipconf_notify.c
Labels: enhancement, bugfix

#5943 [SETUPAPI] CM_Request_Device_Eject_ExA/W: Fix pszVetoName buffer size validation
  dll/win32/setupapi/cfgmgr.c
Labels: bugfix

#6027 [SETUPAPI] cfgmgr.c: Do not debugstr_*(pszVetoName)
  dll/win32/setupapi/cfgmgr.c
Labels: trivial fix

#6005 [MSPAINT] Introduce partial image history, Part 2
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/common.h
  base/applications/mspaint/miniature.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#6031 [SETUPAPI] CM_Request_Device_Eject_ExW: Allow ulNameLength to be zero when pszVetoName is not NULL
  dll/win32/setupapi/cfgmgr.c
Labels: bugfix

#6034 [MSPAINT] Define SelectionBaseTool and use it
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/selectionmodel.h
Labels: refactoring

#6021 [IMM32][SDK] Implement IME Soft Keyboard Type T1
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imm32.rc
  dll/win32/imm32/res/1033_Bitmap_100.bmp
  dll/win32/imm32/res/1033_Bitmap_101.bmp
  dll/win32/imm32/res/1033_Bitmap_102.bmp
  dll/win32/imm32/res/1033_Bitmap_103.bmp
  dll/win32/imm32/res/1033_Bitmap_104.bmp
  dll/win32/imm32/res/1033_Bitmap_105.bmp
  dll/win32/imm32/res/1033_Bitmap_106.bmp
  dll/win32/imm32/res/1033_Bitmap_107.bmp
  dll/win32/imm32/res/1033_Bitmap_108.bmp
  dll/win32/imm32/res/2052_Bitmap_201.bmp
  dll/win32/imm32/res/2052_Bitmap_202.bmp
  dll/win32/imm32/res/2052_Bitmap_203.bmp
  dll/win32/imm32/res/2052_Bitmap_204.bmp
  dll/win32/imm32/res/2052_Bitmap_205.bmp
  dll/win32/imm32/res/2052_Bitmap_206.bmp
  dll/win32/imm32/res/2052_Bitmap_207.bmp
  dll/win32/imm32/res/2052_Bitmap_208.bmp
  dll/win32/imm32/res/2052_Bitmap_209.bmp
  dll/win32/imm32/resource.h
  dll/win32/imm32/softkbd.c
  dll/win32/imm32/t1keys.h
  sdk/include/ddk/immdev.h
Labels: enhancement, input method

#6035 [MSPAINT] Improve Undo/Redo handling of selection
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: bugfix

#6036 [IMM32] Implement Soft Keyboard Type C1
  dll/win32/imm32/c1keys.h
  dll/win32/imm32/softkbd.c
Labels: enhancement, input method

#6037 [IMM32][SDK][NTUSER][IMM32_WINETEST] Add CtfImmGenerateMessage
  dll/win32/imm32/ctf.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm32.spec
  modules/rostests/winetests/imm32/imm32.c
  sdk/include/ddk/immdev.h
  sdk/include/reactos/CtfImeTable.h
  sdk/include/reactos/imetable.h
  sdk/include/reactos/imm32_undoc.h
  win32ss/include/ntuser.h
Labels: enhancement, ROSTESTS, Win32SS, input method

#6039 [NETCFGX] Fix TCP/IP alternate radiobutton behaviour
  dll/win32/netcfgx/tcpipconf_notify.c
Labels: bugfix

#6038 [NTGDI] Fix PatBlt with negative values
  win32ss/gdi/ntgdi/bitblt.c
  win32ss/user/ntuser/nonclient.c
Labels: bugfix, modding, Win32SS

#6040 [ZIPFLDR] Fix off-by-one count error during enumeration
  dll/shellext/zipfldr/CEnumZipContents.cpp
Labels: shell

#5842 [SDK][PATHCCH] Import PathCch* functions from Wine
  sdk/lib/CMakeLists.txt
  sdk/lib/pathcch/CMakeLists.txt
  sdk/lib/pathcch/pathcch.c
  sdk/lib/pathcch/pathcch.h
Labels: enhancement

#6010 [PING] Update Romanian (ro-RO) translation
  base/applications/network/ping/lang/ro-RO.rc
Labels: TRANSLATION

#6020 [USER32_APITEST] Add test for bad 'Icon Groups' but good 'Icons' such as F1'97
  modules/rostests/apitests/user32/PrivateExtractIcons.c
  modules/rostests/apitests/user32/cpimg2e.exe
  modules/rostests/apitests/user32/resource.h
  modules/rostests/apitests/user32/user32_apitest.rc
Labels: ROSTESTS

#6043 [INPUT] Fix exception on setting default language
  dll/cpl/input/input_list.c
Labels: bugfix, trivial fix

#5268 [USER32] Fix F1'97 Demo icon not showing in explorer
  win32ss/user/user32/misc/exticon.c
Labels: bugfix, Win32SS

#5978 [TASKMGR] Fix text cutoff statusbar2 CPU%, improve statusbar3 Mem
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
  base/applications/taskmgr/taskmgr.h
Labels: enhancement, bugfix

#6019 [NTOSKRNL] Remove unused internal/amd64/asmmacro.S
  ntoskrnl/include/internal/amd64/asmmacro.S
Labels: kernel&hal, janitorial

#6046 [TASKMGR] Fix 64-bit bugs
  base/applications/taskmgr/affinity.c
Labels: bugfix, SMP

#6050 [SETUPAPI] Add version info
  dll/win32/setupapi/setupapi.rc
Labels: trivial fix

#6055 [WS2HELP] Add ws2help.rc to CMakeLists
  dll/win32/ws2help/CMakeLists.txt
Labels: trivial fix

#6058 [BOOTDATA] Fix URL protocol registration
  boot/bootdata/hivesft.inf
Labels: bugfix

#6041 [IMM32][SDK][NTUSER] Implement CtfImmTIMActivate
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/ctf.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/precomp.h
  sdk/include/ddk/immdev.h
  sdk/include/reactos/imm32_undoc.h
  win32ss/include/ntuser.h
Labels: enhancement, Win32SS, input method

#6045 [KERNEL32] Fix 64-bit bug in SetProcessAffinityMask
  dll/win32/kernel32/client/proc.c
Labels: bugfix, SMP

#6044 [NTOS:KE] Remove KiMask32Array
  ntoskrnl/include/internal/ke.h
  ntoskrnl/ke/thrdobj.c
Labels: refactoring, kernel&hal, SMP
