Repository reactos/reactos, pull requests merged in 2023-02, with the labels that each got.

#5014 [NTUSER] Allow Window Snap to be disabled
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/nonclient.c
  win32ss/user/ntuser/sysparams.c
  win32ss/user/ntuser/window.h
Labels: enhancement

#5021 [RICHED20] Fix word break procedure for punct
  dll/win32/riched20/string.c
Labels: bugfix, send upstream

#5034 [ZIPFLDR_APITEST] Fix the test on 2k3, where a zip folder is marked as 'file', not as 'folder'
  modules/rostests/apitests/zipfldr/EnumParentDir.cpp
Labels: ROSTESTS

#4986 [ZLIB] Update to v1.2.13. CORE-18752
  media/doc/3rd Party Files.txt
  sdk/include/reactos/libs/zlib/zconf.h
  sdk/include/reactos/libs/zlib/zlib.h
  sdk/lib/3rdparty/zlib/ChangeLog
  sdk/lib/3rdparty/zlib/LICENSE
  sdk/lib/3rdparty/zlib/Makefile.in
  sdk/lib/3rdparty/zlib/README
  sdk/lib/3rdparty/zlib/compress.c
  sdk/lib/3rdparty/zlib/configure
  sdk/lib/3rdparty/zlib/contrib/minizip/crypt.h
  sdk/lib/3rdparty/zlib/contrib/minizip/ioapi.c
  sdk/lib/3rdparty/zlib/contrib/minizip/ioapi.h
  sdk/lib/3rdparty/zlib/contrib/minizip/iowin32.c
  sdk/lib/3rdparty/zlib/contrib/minizip/unzip.c
  sdk/lib/3rdparty/zlib/contrib/minizip/zip.c
  sdk/lib/3rdparty/zlib/crc32.c
  sdk/lib/3rdparty/zlib/deflate.c
  sdk/lib/3rdparty/zlib/deflate.h
  sdk/lib/3rdparty/zlib/gzlib.c
  sdk/lib/3rdparty/zlib/gzread.c
  sdk/lib/3rdparty/zlib/gzwrite.c
  sdk/lib/3rdparty/zlib/infback.c
  sdk/lib/3rdparty/zlib/inflate.c
  sdk/lib/3rdparty/zlib/inftrees.c
  sdk/lib/3rdparty/zlib/inftrees.h
  sdk/lib/3rdparty/zlib/trees.c
  sdk/lib/3rdparty/zlib/uncompr.c
  sdk/lib/3rdparty/zlib/zutil.c
  sdk/lib/3rdparty/zlib/zutil.h
Labels: 3rd party sync

#5013 [SHELL32_APITEST] Add CommandLineToArgvW testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/CommandLineToArgvW.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: enhancement, ROSTESTS

#5039 [KMTESTS:CC] Disable broken CcCopyWrite
  modules/rostests/kmtests/kmtest/testlist.c
Labels: ROSTESTS

#5037 [UXTHEME_APITEST] Skip some tests that fail without a theme
  modules/rostests/apitests/uxtheme/DrawThemeParentBackground.c
  modules/rostests/apitests/uxtheme/SetWindowTheme.c
Labels: ROSTESTS

#5041 [KMTESTS:CC] Disable Cc tests that seem to hang TestWHS
  modules/rostests/kmtests/kmtest/testlist.c
Labels: ROSTESTS

#5028 [DBGHELP_APITEST] Skip more tests on an ancient dbghelp.dll version
  modules/rostests/apitests/dbghelp/pdb.c
Labels: ROSTESTS

#5038 [USERENV_WINETEST] Compare variable case insensitive
  modules/rostests/winetests/userenv/userenv.c
Labels: ROSTESTS

#5026 [BROWSEUI] Execute command line from address bar
  dll/win32/browseui/addresseditbox.cpp
  dll/win32/browseui/addresseditbox.h
Labels: enhancement

#5050 [WINMM] MMIO_ParseExtA: Import fixes from Wine
  dll/win32/winmm/mmio.c
Labels: 3rd party sync

#5057 [NOTEPAD] Treat empty file correctly
  base/applications/notepad/text.c
Labels: bugfix

#4979 [TRANSLATION] Improve Simplified Chinese (zh-CN) translation
  base/applications/cmdutils/help/lang/zh-CN.rc
  base/services/w32time/lang/zh-CN.rc
  base/services/w32time/w32time.rc
  base/shell/explorer/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/hotplug/hotplug.rc
  dll/cpl/hotplug/lang/zh-CN.rc
  dll/cpl/sysdm/lang/zh-CN.rc
  dll/shellext/cryptext/cryptext.rc
  dll/shellext/cryptext/lang/zh-CN.rc
  dll/shellext/fontext/fontext.rc
  dll/shellext/fontext/lang/zh-CN.rc
  dll/shellext/netplwiz/lang/zh-CN.rc
  dll/shellext/netplwiz/netplwiz.rc
  dll/win32/browseui/lang/zh-CN.rc
  dll/win32/msgina/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-CN.rc
Labels: TRANSLATION

#5033 [SHELL32] Ignore unused flag SEE_MASK_UNICODE
  dll/win32/shell32/shlexec.cpp
Labels: trivial fix, shell

#4932 [SHLWAPI] No need extension to execute '.bat' files CORE-17612
  dll/win32/kernel32/client/path.c
  dll/win32/shell32/shlexec.cpp
  dll/win32/shlwapi/path.c
Labels: enhancement, bugfix, shell

#5049 [SYSSETUP] Fix a space-typo in IDS_WZD_PASSWORDEMPTY for *.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/fi-FI.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/lt-LT.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/uk-UA.rc
Labels: TRANSLATION, bugfix, trivial fix

#4985 [NTUSER] Delete temporary workarounds in co_IntSetScrollInfo()
  win32ss/user/ntuser/scrollbar.c
Labels: bugfix, review pending

#4973 [RAPPS] Fix Installed Apps information display
  base/applications/rapps/installed.cpp
Labels: bugfix

#5066 [NOTEPAD] Fix and improve DoSaveFile
  base/applications/notepad/dialog.c
Labels: bugfix

#5059 [EXPLORER] Crash on backspace while editing folder panel
  dll/win32/browseui/explorerband.cpp
  dll/win32/browseui/explorerband.h
Labels: bugfix, manual merging, no squash merge, shell

#5055 [SHELL32][SHELL32_APITEST] Improve CommandLineToArgvW
  dll/win32/shell32/wine/shell32_main.c
  modules/rostests/apitests/shell32/CommandLineToArgvW.cpp
Labels: bugfix, ROSTESTS

#5056 [CRT] printf/wprintf: Support %zu
  sdk/lib/crt/printf/streamout.c
Labels: enhancement, bugfix, trivial fix

#5069 [NTUSER] IntWinListOwnedPopups: Exclude default IME window from the list
  win32ss/user/ntuser/window.c
Labels: bugfix

#5077 [NOTEPAD] Simplify NOTEPAD_EnableSearchMenu
  base/applications/notepad/main.c
Labels: refactoring

#5061 [NTUSER] Optimize Window Snap Disabling
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/nonclient.c
Labels: refactoring

#5076 [NOTEPAD] Fix and simplify Status Bar handling
  base/applications/notepad/dialog.c
  base/applications/notepad/dialog.h
  base/applications/notepad/main.c
  base/applications/notepad/settings.c
Labels: bugfix

#5062 [BROWSEUI] Add CAddressEditBox::RefreshAddress and use it
  dll/win32/browseui/addresseditbox.cpp
  dll/win32/browseui/addresseditbox.h
Labels: bugfix, shell

#5074 [IP] Allow 0xFFFF as Valid Network Port Number
  drivers/network/tcpip/ip/transport/tcp/accept.c
  drivers/network/tcpip/ip/transport/tcp/tcp.c
  drivers/network/tcpip/tcpip/fileobjs.c
Labels: drivers

#5063 [MCIAVI32] Media Player: Don't open empty files
  dll/win32/mciavi32/mmoutput.c
Labels: bugfix

#5079 [NOTEPAD] Simplify FileExists function
  base/applications/notepad/dialog.c
Labels: trivial fix, refactoring

#4992 [SYSDM] Fix french translation and layout
  dll/cpl/sysdm/lang/fr-FR.rc
Labels: TRANSLATION

#5081 [NOTEPAD] Make "UTF-8 without BOM" default
  base/applications/notepad/dialog.c
  base/applications/notepad/main.c
  base/applications/notepad/main.h
  base/applications/notepad/text.c
Labels: refactoring

#5083 [NOTEPAD] Simplify GetSelectionText
  base/applications/notepad/dialog.c
Labels: refactoring

#5086 [USETUP] Speed up CONSOLE_SetStatusTextXV +17%
  base/setup/usetup/consup.c
Labels: refactoring

#5084 [SHLWAPI][SHLWAPI_APITEST] Expand string in SHLoadIndirectString
  dll/win32/shlwapi/ordinal.c
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/string.c
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/SHLoadRegUIString.c
  modules/rostests/apitests/shlwapi/testlist.c
Labels: enhancement, bugfix, ROSTESTS

#5078 [NOTEPAD] Avoid middle status of settings
  base/applications/notepad/main.c
  base/applications/notepad/settings.c
Labels: refactoring

#5075 [NTUSER] Send WM_IME_SYSTEM:IMS_UPDATEIMEUI
  win32ss/user/ntuser/winpos.c
Labels: enhancement

#5082 [NOTEPAD] Improve DIALOG_GoTo
  base/applications/notepad/dialog.c
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/notepad_res.h
Labels: enhancement, bugfix

#4997 [SHELL32] Move error message to rc files so can be translated (CORE-18786)
  dll/win32/shell32/CNewMenu.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement, shell

#4926 [BOOTDATA][INF] Add Portuguese (pt-PT) translation
  boot/bootdata/hivesft.inf
Labels: TRANSLATION

#5089 [USETUP] Speed up DoFileCopy +24%
  base/setup/usetup/usetup.c
Labels: enhancement

#5097 [COMDLG32] Find/Replace: Correctly set flags
  dll/win32/comdlg32/finddlg.c
Labels: bugfix, send upstream

#4950 [SHELL32] Give a chance to rename new file or folder when created
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#4971 [SYSSETUP] Changed credit link for qemu.
  dll/win32/syssetup/syssetup.rc
Labels: trivial fix

#5105 [IMM32] Fix ImmGetCompositionStringA/W
  dll/win32/imm32/compstr.c
Labels: bugfix

#5101 [NOTEPAD] Shift+F3 for backward search
  base/applications/notepad/dialog.c
  base/applications/notepad/dialog.h
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
  base/applications/notepad/main.c
  base/applications/notepad/main.h
  base/applications/notepad/notepad_res.h
Labels: enhancement
