Repository reactos/reactos, pull requests merged in 2023-09, with the labels that each got.

#5636 [MSGINA] Update Romanian (ro-RO) translation
  dll/win32/msgina/lang/ro-RO.rc
Labels: TRANSLATION

#5632 [REGEDIT] Update Romanian (ro-RO) translation
  base/applications/regedit/lang/ro-RO.rc
Labels: TRANSLATION

#5638 [SHELL32] Handle HotKey and ShowCmd on the shortcut property page
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement, bugfix, shell

#5634 [SHDOCVW][SDK] Implement MRU List for Shell Bag, Part 2
  dll/win32/shdocvw/CMakeLists.txt
  dll/win32/shdocvw/mrulist.cpp
  sdk/include/reactos/shlobj_undoc.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#5635 [BROWSEUI][SDK] Half-implement CShellBrowser::GetPropertyBag
  dll/win32/browseui/shellbrowser.cpp
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, shell

#5645 [TRANSLATION] Update hungarian translation for mspaint, notepad, task…
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/shell/explorer/lang/hu-HU.rc
  dll/cpl/appwiz/lang/hu-HU.rc
  dll/win32/browseui/lang/hu-HU.rc
  dll/win32/msgina/lang/hu-HU.rc
  dll/win32/shell32/lang/hu-HU.rc
Labels: TRANSLATION, shell

#5641 [LOGON] Several improvements for screensaver
  base/applications/screensavers/logon/logon.c
  base/applications/screensavers/logon/logon.rc
  base/applications/screensavers/logon/res/0.bmp
  base/applications/screensavers/logon/res/1.bmp
Labels: enhancement, refactoring

#5643 [ATL][ATL_APITEST] Implement CImageDC class
  modules/rostests/apitests/atl/CImage.cpp
  modules/rostests/apitests/atl/CImage_WIP.txt
  sdk/lib/atl/atlimage.h
Labels: enhancement, ROSTESTS, ATL

#5654 [NOTEPAD] Use StringCchPrintf instead of _stprintf etc.
  base/applications/notepad/dialog.c
  base/applications/notepad/main.c
Labels: bugfix

#5652 [MSVCRT] Officially implement _localtime32{,_s}
  dll/apisets/api-ms-win-crt-time-l1-1-0.spec
  dll/win32/msvcrt/msvcrt.spec
Labels: enhancement, NT6+

#5655 [NOTEPAD] Do type cast to kill C4244 warnings
  base/applications/notepad/dialog.c
  base/applications/notepad/main.c
Labels: warnings

#5630 [NTOS:CC][NTOS:MM] Add back CcRosTrimCache and add Delay for MM to recover memory
  ntoskrnl/cc/view.c
  ntoskrnl/mm/balance.c
Labels: bugfix, kernel&hal

#5649 [TIMEDATE] Fix the way the current time-zone is found in the list.
  dll/cpl/timedate/timezone.c
Labels: bugfix

#5656 [WINHTTP_WINETEST] Skip using wine_dbgstr_wn when returned text length is zero
  modules/rostests/winetests/winhttp/winhttp.c
Labels: ROSTESTS

#5577 [NTOS:KE/x64] Fix bug in KiInitializeContextThread
  ntoskrnl/ke/amd64/thrdini.c
Labels: bugfix, kernel&hal

#5046 [KERNEL32][RTL] Implement One-Time initialization API and improve RTL support
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32/kernel32_vista/InitOnce.c
  dll/win32/kernel32/kernel32_vista/InitOnceExecuteOnce.c
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/InitOnce.c
  modules/rostests/apitests/kernel32/testlist.c
  sdk/include/ndk/rtlfuncs.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/winnt_old.h
  sdk/lib/rtl/runonce.c
Labels: enhancement, ROSTESTS, NT6+, no-pr-activity

#5653 [ATL][ATL_APITEST] CImage testcase should cover all formats
  modules/rostests/apitests/atl/CImage.cpp
  sdk/lib/atl/atlimage.h
Labels: enhancement, ROSTESTS, ATL

#5647 [WIN32SS:ENG] Fix parameter to MmMapViewOfSection
  ntoskrnl/mm/ARM3/procsup.c
  win32ss/gdi/eng/mapping.c
Labels: bugfix, kernel&hal, Win32SS

#5671 [ATL] CImage: Simplify GetBits/GetPixelAddress
  sdk/lib/atl/atlimage.h
Labels: ATL

#5661 [NTUSER] Silence debug log spam
  win32ss/user/ntuser/msgqueue.c
Labels: trivial fix, Win32SS

#5675 [MESA] Change reported version to 1.1.0
  dll/opengl/mesa/misc.c
Labels: trivial fix

#5674 [WIN32K:NTUSER] Avoid TOCTOU in ProbeAndCaptureUnicodeStringOrAtom.
  win32ss/user/ntuser/class.c
Labels: bugfix, Win32SS

#5648 [NDK] mmtypes.h: Fix a copypasta in a comment
  sdk/include/ndk/mmtypes.h
Labels: documentation

#5670 [GETUNAME] Build only english on DBG builds
  dll/win32/getuname/getuname.rc
Labels: enhancement, trivial fix

#5666 [KERNEL32_APITEST] Fix and improve InitOnce test
  modules/rostests/apitests/kernel32/InitOnce.c
Labels: ROSTESTS

#5659 [NOTEPAD] Use wait cursor
  base/applications/notepad/dialog.c
  base/applications/notepad/dialog.h
  base/applications/notepad/main.c
Labels: enhancement

#5660 [MSPAINT] Use wait cursor
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/textedit.cpp
  base/applications/mspaint/waitcursor.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#5662 [SDK][CRT][MSVCRT] Implement _CrtSetReportMode and _CrtSetReportFile
  dll/win32/msvcrt/msvcrt.spec
  sdk/include/crt/crtdbg.h
  sdk/lib/crt/misc/dbgrpt.cpp
  sdk/lib/crt/misc/misc.cmake
Labels: enhancement, review pending

#5679 [USER32] Comctl32 combo.c to user32 combo.c sync
  win32ss/user/user32/controls/combo.c
Labels: 3rd party sync, bugfix, no squash merge, Win32SS

#5680 [MSPAINT][SDK] Add <ui/CWaitCursor.h>
  base/applications/mspaint/precomp.h
  sdk/include/reactos/ui/CWaitCursor.h
Labels: enhancement

#5677 [NTGDI] GetPixel's return top byte is zero if valid
  win32ss/gdi/ntgdi/bitblt.c
Labels: bugfix, Win32SS

#5646 [SHDOCVW][SHDOCVW_APITEST] Implement MRU List for Shell Bag, Part 3
  dll/win32/shdocvw/mrulist.cpp
  dll/win32/shdocvw/shdocvw.h
  dll/win32/shdocvw/shdocvw_main.c
  dll/win32/shdocvw/shdocvw_v1.rgs
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/shdocvw/CMakeLists.txt
  modules/rostests/apitests/shdocvw/MRUList.cpp
  modules/rostests/apitests/shdocvw/testlist.c
Labels: enhancement, ROSTESTS

#5682 [NTUSER] Error of co_UserCreateWindowEx should display class name
  win32ss/user/ntuser/window.c
Labels: trivial fix, Win32SS

#5684 [SHELL32] Check m_ListView on some methods
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#5690 [DDRAW] Revert 67559215608eaf7338cbc7002ba3b74bf972a3a4. CORE-19167
  dll/directx/wine/ddraw/ddraw_private.h
  dll/directx/wine/ddraw/palette.c
  dll/directx/wine/ddraw/surface.c
  media/doc/WINESYNC.txt
Labels: bugfix

#5149 [KERNEL32][KERNEL32_APITEST] Implement user-mode UEFI / Firmware API
  dll/win32/kernel32/client/sysinfo.c
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/UEFIFirmware.c
  modules/rostests/apitests/kernel32/testlist.c
  ntoskrnl/ex/sysinfo.c
  sdk/include/ndk/exfuncs.h
  sdk/include/ndk/extypes.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/extypes.h
  sdk/include/xdk/winnt.template.h
Labels: enhancement, ROSTESTS, kernel&hal

#5686 [SHDOCVW] Implement MRU List for Shell Bag, Part 4
  dll/win32/shdocvw/mrulist.cpp
Labels: enhancement

#5692 [CRT] Import parameter check for fclose from wine
  sdk/lib/crt/stdio/file.c
Labels: 3rd party sync, bugfix

#5669 [NTOSKRNL/x64] Fix a bug in KeSwitchKernelStack
  ntoskrnl/ke/amd64/trap.S
Labels: bugfix, kernel&hal

#5667 [WIN32K] Do not try to free a unicode string that is an int-resource
  win32ss/user/ntuser/cursoricon.c
Labels: bugfix, Win32SS

#5691 [SHDOCVW] Implement MRU List for Shell Bag, Part 5
  dll/win32/shdocvw/mrulist.cpp
  dll/win32/shdocvw/shdocvw.h
  dll/win32/shdocvw/shdocvw_main.c
  sdk/include/reactos/shlobj_undoc.h
Labels: enhancement

#5693 [CMICONTROL] Avoid (DLGPROC) cast
  drivers/wdm/audio/drivers/CMIDriver/cmicontrol/main.cpp
  drivers/wdm/audio/drivers/CMIDriver/cmicontrol/main.h
Labels: drivers

#5697 [IMAGELISTVIEWER] Avoid (DLGPROC) cast
  modules/rostests/tests/Imagelistviewer/main.c
Labels: ROSTESTS

#5699 [SHDOCVW][SHDOCVW_APITEST] Implement MRU List for Shell Bag, Part 6
  dll/win32/shdocvw/mrulist.cpp
  dll/win32/shdocvw/shdocvw_v1.rgs
  modules/rostests/apitests/shdocvw/CMakeLists.txt
  modules/rostests/apitests/shdocvw/MRUList.cpp
Labels: enhancement, ROSTESTS

#5698 [KBDLAYOUT] Avoid (DLGPROC) cast
  modules/rostests/win32/user32/kbdlayout/kbdlayout.c
Labels: ROSTESTS

#5594 [WINESYNC][SDK][DWMAPI] Import DWMAPI from WINE 8.14
  dll/win32/CMakeLists.txt
  dll/win32/dwmapi/CMakeLists.txt
  dll/win32/dwmapi/dwmapi.spec
  dll/win32/dwmapi/dwmapi_main.c
  dll/win32/dwmapi/version.rc
  media/doc/WINESYNC.txt
  sdk/include/psdk/dwmapi.h
  sdk/include/psdk/winerror.h
Labels: enhancement, 3rd party sync, NT6+

#5701 [SHLWAPI][SHLWAPI_APITEST] Fix SHGetPerScreenResName
  dll/win32/shlwapi/propbag.cpp
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/SHPropertyBag.cpp
Labels: bugfix, ROSTESTS

#5703 [ATL] Default value of dwInitParam is zero instead of NULL
  sdk/lib/atl/atlwin.h
Labels: trivial fix, ATL

#5687 [DDK] wsk header: Added WSKAPI to exported functions.
  sdk/include/ddk/wsk.h
Labels: enhancement

#5657 [ATL][ATL_APITEST] Independent ReactOS ATL (RATL) support
  modules/rostests/apitests/atl/CComObject.cpp
  modules/rostests/apitests/atl/CComQIPtr.cpp
  sdk/lib/atl/atlsimpstr.h
  sdk/lib/atl/atlwin.h
Labels: enhancement, ROSTESTS, ATL

#5466 [SDK:RTL] Don't overwrite Source UString when writing to Destination UString.
  sdk/lib/rtl/registry.c
Labels: bugfix

#5683 [BOOTDATA] Add TEMP folder to livecd image
  boot/boot_images.cmake
Labels: trivial fix

#5706 [SHELL32][SHELL32_APITEST][SDK] Implement Int64ToString
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/Int64ToString.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#5707 [SHELL32][SDK] Implement SHGetShellStyleHInstance
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/psdk/shlobj.h
Labels: enhancement, shell

#5607 [DXGTHK] Export DriverEntry
  win32ss/reactx/dxgthk/dxgthk.spec
Labels: enhancement, Win32SS

#5713 [SHELL32][SDK] Implement SHOpenEffectiveToken and SHGetUserSessionId
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#5710 [KERNEL32] Fix RaiseException to correctly copy the passed in parameters as ULONG_PTR
  dll/win32/kernel32/client/except.c
Labels: bugfix

#5668 [WIN32K] Prevent dereferencing NULL pointer
  win32ss/user/ntuser/window.c
Labels: bugfix, Win32SS

#5716 [MSPAINT] Don't copy bits on resizing
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5715 [MSPAINT] Don't show error message twice
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/winproc.cpp
Labels: bugfix

#5717 [MSPAINT] Introduce Ctrl+Plus / Ctrl+Minus
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/resource.h
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#5709 [RPCRT4] Fix x64 assembly code
  dll/win32/rpcrt4/msvc.S
Labels: bugfix

#5720 [NTOS:CM] Fix lock leak
  ntoskrnl/config/cmalloc.c
Labels: bugfix, kernel&hal

#5718 [SHELL32][SDK] Implement SHInvokePrivilegedFunctionW
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#5282 [SHELL32] Fix for shlexec.cpp regressions
  dll/win32/shell32/shlexec.cpp
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
Labels: bugfix, ROSTESTS, shell

#5725 [SHELL32][SDK] Implement SHTestTokenPrivilegeW
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#5726 [MSPAINT] Restrict drawing direction on Shift key
  base/applications/mspaint/common.h
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/precomp.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: enhancement

#5721 [CRT/x64] Fix a bug in __C_specific_handler
  sdk/lib/crt/except/amd64/ehandler.c
Labels: bugfix

#5711 [NTOS] Implement support for opting out of NX policy
  ntoskrnl/mm/ARM3/pagfault.c
Labels: enhancement, bugfix, kernel&hal

#5696 [CMICONTROL] Fix MSVC 14.2 dbg x64 warning C4267
  drivers/wdm/audio/drivers/CMIDriver/cmicontrol/main.cpp
Labels: warnings, drivers

#5694 [MAZESCR] Avoid (DLGPROC) cast
  modules/rosapps/applications/screensavers/mazescr/maze.c
Labels: refactoring

#5722 [NTOS/Mm] Fix SWAPENTRY bit-check in MmCreatePageFileMapping
  ntoskrnl/mm/i386/page.c
Labels: bugfix, kernel&hal

#5734 [MSPAINT] Selection Clone and Selection Brush
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
  base/applications/mspaint/winproc.cpp
Labels: enhancement

#5738 [MSPAINT] Larger/smaller pen nib on Ctrl+Plus/Minus
  base/applications/mspaint/drawing.cpp
  base/applications/mspaint/mouse.cpp
  base/applications/mspaint/toolbox.cpp
  base/applications/mspaint/toolbox.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Labels: enhancement

#5729 [NTOS:CM] Simplify CmpDelayAllocBucketLock code a bit
  ntoskrnl/config/cmalloc.c
Labels: refactoring, kernel&hal
