Repository reactos/reactos, pull requests merged in 2023-01, with the labels that each got.

#4969 [NTOS:CM] Cleanup the hive in case linking it to master fails
  ntoskrnl/config/cmapi.c
Labels: enhancement, bugfix, kernel&hal

#4974 [REACTOS] Update my email address
  base/applications/osk/lang/es-ES.rc
  base/applications/rapps/lang/es-ES.rc
  base/system/subst/lang/es-ES.rc
  base/system/userinit/lang/es-ES.rc
Labels: documentation

#4938 [LIBWINE] Fix GCC build warning.
  sdk/lib/3rdparty/libwine/debug.c
Labels: warnings

#4983 [THEMES] "Open Sans" -> "Trebuchet MS"
  media/doc/3rd Party Files.txt
  media/themes/Blackshade/blackshade.msstyles/textfiles/ExtraLargeNormal.INI
  media/themes/Lautus/lautus.msstyles/textfiles/ExtraLargeNormal.INI
Labels: trivial fix

#4118 [WIN32SS:NTUSER] restore snapped window to normal size. CORE-15638
  win32ss/user/ntuser/nonclient.c
Labels: bugfix, no-pr-activity

#4989 [NTOS:MM] Support image prefixing in MmLoadSystemImage
  ntoskrnl/mm/ARM3/sysldr.c
Labels: enhancement, kernel&hal

#4390 [NTGDI] Check if face->charmap is not zero before accessing its encoding
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix

#5001 [SHELL32] Add 3 missing accelerators for IDM_DRAGFILE MENU in de-DE.rc
  dll/win32/shell32/lang/de-DE.rc
Labels: bugfix, trivial fix, shell

#4980 [PCI] Fix I/O range size of the resource descriptors
  drivers/bus/pci/pdo.c
Labels: bugfix, drivers

#4994 [NTOS:PNP] Avoid recursion when walking the device tree.
  ntoskrnl/io/pnpmgr/plugplay.c
Labels: bugfix, kernel&hal

#4981 [WIN32K:NTUSER] ValidateHwndNoErr: Fix window handle validation
  win32ss/user/ntuser/window.c
Labels: bugfix

#4993 [ATL] CImage::Load() returns E_FAIL without ATLASSERT if failed to load image
  sdk/lib/atl/atlimage.h
Labels: bugfix

#5004 [OLEAUT32] Return proper value from OaBuildVersion
  dll/win32/oleaut32/oleaut.c
Labels: bugfix, send upstream

#5005 [NTUSER] Check IME-like after WNDS_DESTROYED check
  win32ss/user/ntuser/window.c
Labels: bugfix

#5008 [SHELL32] Improve StartButton context menu
  dll/win32/shell32/CCopyToMenu.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CMoveToMenu.cpp
  dll/win32/shell32/CSendToMenu.cpp
Labels: bugfix, shell

#5009 [NTUSER] Move IME window creation code
  win32ss/user/ntuser/window.c
Labels: bugfix

#4963 [USBSTOR_NEW] Add missing poppack.h
  drivers/usb/usbstor_new/usbstor.h
Labels: bugfix, drivers

#4995 [NTUSER] Fix winpos bug hyperlink&images loop redrawing (CORE-7652)
  win32ss/user/ntuser/winpos.c
Labels: bugfix

#5029 [DRIVERS] Remove unused __NTDRIVER__ and KERNEL definitions
  sdk/lib/3rdparty/freetype/CMakeLists.txt
  sdk/lib/drivers/ip/CMakeLists.txt
  sdk/lib/drivers/ip/network/ip.c
  sdk/lib/drivers/ip/transport/rawip/rawip.c
  sdk/lib/drivers/ip/transport/udp/udp.c
  sdk/lib/drivers/sound/legacy/CMakeLists.txt
  sdk/lib/drivers/sound/shared/CMakeLists.txt
  sdk/lib/drivers/sound/soundblaster/CMakeLists.txt
  sdk/lib/drivers/sound/uartmidi/CMakeLists.txt
Labels: drivers

#5023 [ATL_APITEST] Ignore known to be bad values for type
  modules/rostests/apitests/atl/CRegKey.cpp
Labels: ROSTESTS

#5024 [DBGHELP_APITEST] Be less strict on error codes
  modules/rostests/apitests/dbghelp/rsym.c
Labels: ROSTESTS

#5022 [APPHELP_APITEST] Fix the db test again
  modules/rostests/apitests/apphelp/db.cpp
Labels: ROSTESTS
