Repository reactos/reactos, pull requests merged in 2023-05, with the labels that each got.

#5228 [EXPLORER][RUNDLL32] Restore minimized non-task windows
  base/shell/explorer/precomp.h
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/traywnd.cpp
  base/system/rundll32/rundll32.c
Labels: enhancement, bugfix, review pending, shell

#5263 [KBSWITCH] Rely on GetKeyboardLayoutList for getting list
  base/applications/kbswitch/kbswitch.c
Labels: bugfix

#5196 [FREELDR][SDK] Build UEFI bootloader for ARM32
  boot/freeldr/freeldr/arch/arm/debug.c
  boot/freeldr/freeldr/arch/arm/entry.c
  boot/freeldr/freeldr/arch/arm/macharm.c
  boot/freeldr/freeldr/arch/uefi/stubs.c
  boot/freeldr/freeldr/arch/uefi/uefildr.c
  boot/freeldr/freeldr/include/debug.h
  boot/freeldr/freeldr/lib/debug.c
  boot/freeldr/freeldr/uefi.cmake
  boot/freeldr/freeldr/ui/directui.c
  boot/freeldr/freeldr/ui/gui.c
  boot/freeldr/freeldr/ui/minitui.c
  boot/freeldr/freeldr/ui/noui.c
  boot/freeldr/freeldr/ui/tui.c
  boot/freeldr/freeldr/ui/tuimenu.c
  boot/freeldr/freeldr/ui/ui.c
  boot/freeldr/freeldr/ui/video.c
  sdk/lib/crt/float/float.cmake
Labels: freeldr

#5240 [NTOS:KDBG] Only load symbols on x86
  ntoskrnl/kdbg/kdb_symbols.c
Labels: bugfix, kernel&hal

#5265 [REGEDIT] de-DE.rc Fix accelerator collision
  base/applications/regedit/lang/de-DE.rc
Labels: TRANSLATION, bugfix, trivial fix

#5253 [THEMES] Several fixes for Lautus style
  media/themes/Lautus/lautus.msstyles/bitmaps/NORMAL_CHECKBOX13.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/NORMAL_CHECKBOX16.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/NORMAL_CHECKBOX25.bmp
  media/themes/Lautus/lautus.msstyles/textfiles/ExtraLargeNormal.INI
  media/themes/Lautus/lautus.msstyles/textfiles/LargeFontsNormal.INI
  media/themes/Lautus/lautus.msstyles/textfiles/NormalNormal.INI
Labels: enhancement, modding

#5239 [SHELL32] Improve disk properties pie chart CORE-18906
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: enhancement, shell

#4635 [WINMM] Winmm fixes for system sound
  dll/win32/winmm/midimap/midimap.c
  dll/win32/winmm/playsound.c
Labels: enhancement, review pending, refactoring

#5136 [NTOS:CM] Set alternative system architecture field on PC-98
  ntoskrnl/config/cmconfig.c
Labels: enhancement, kernel&hal

#5218 [TRANSLATION][CPL] Improve French translation
  dll/cpl/desk/lang/fr-FR.rc
Labels: TRANSLATION

#5270 [KERNEL32][SDK] RegisterConsoleIME and UnregisterConsoleIME
  dll/win32/kernel32/client/console/console.c
  sdk/include/reactos/subsys/win/conmsg.h
Labels: enhancement

#5271 [IMM32][NTUSER][SDK] Add ImmCallImeConsoleIME
  dll/win32/imm32/imm32.spec
  dll/win32/imm32/keymsg.c
  sdk/include/reactos/jpnvkeys.h
  win32ss/user/ntuser/ime.c
Labels: enhancement, Win32SS

#4206 [RAPPS] Cleanup headers inclusions.
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/configparser.h
  base/applications/rapps/include/dialogs.h
  base/applications/rapps/include/gui.h
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/settings.h
  base/applications/rapps/include/winmain.h
  base/applications/rapps/unattended.cpp
Labels: refactoring

#5272 [NTUSER] Implement THREADSTATE_CHECKCONIME
  win32ss/user/ntuser/misc.c
Labels: enhancement, Win32SS

#4214 [RAPPS] Centralize the names of the RAPPS' registry setting sub-key, and user local settings & offline apps database sub-directories.
  base/applications/rapps/README.ENG
  base/applications/rapps/appdb.cpp
  base/applications/rapps/configparser.cpp
  base/applications/rapps/include/configparser.h
  base/applications/rapps/include/defines.h
  base/applications/rapps/misc.cpp
  base/applications/rapps/settings.cpp
  base/applications/rapps/settingsdlg.cpp
  base/applications/rapps/unattended.cpp
Labels: enhancement

#5283 [NTOS:KE/x64] Fix KiConvertToGuiThread
  ntoskrnl/ke/amd64/trap.S
  sdk/include/asm/ksamd64.template.h
Labels: bugfix, kernel&hal

#5274 [REGEDIT] Creating a new Key should add a new entry even when no child exist. CORE-18878
  base/applications/regedit/treeview.c
Labels: bugfix

#5288 [ATTRIB] Improve command-line parsing.
  base/applications/cmdutils/attrib/attrib.c
Labels: enhancement, bugfix

#5275 [FREELDR] Fix builds for PC-98 and Xbox platforms
  boot/boot_images.cmake
Labels: bugfix

#5290 [UTILMAN] Add Portuguese (pt-PT) translation
  base/applications/utilman/umandlg/lang/pt-PT.rc
  base/applications/utilman/umandlg/umandlg.rc
Labels: TRANSLATION

#5293 [SOLITAIRE] Update Romanian translation
  base/applications/games/solitaire/lang/ro-RO.rc
Labels: TRANSLATION

#5295 [TRANSLATION][BROWSEUI] Improve French (fr-FR) translation v2
  dll/win32/browseui/lang/fr-FR.rc
Labels: TRANSLATION, shell

#5289 [UTILMAN] Fix content order in IDC_LISTBOX.
  base/applications/utilman/umandlg/lang/de-DE.rc
  base/applications/utilman/umandlg/lang/en-US.rc
  base/applications/utilman/umandlg/lang/es-ES.rc
  base/applications/utilman/umandlg/lang/fr-FR.rc
  base/applications/utilman/umandlg/lang/he-IL.rc
  base/applications/utilman/umandlg/lang/it-IT.rc
  base/applications/utilman/umandlg/lang/pl-PL.rc
  base/applications/utilman/umandlg/lang/pt-PT.rc
  base/applications/utilman/umandlg/lang/ro-RO.rc
  base/applications/utilman/umandlg/lang/ru-RU.rc
  base/applications/utilman/umandlg/lang/tr-TR.rc
  base/applications/utilman/umandlg/lang/uk-UA.rc
  base/applications/utilman/umandlg/lang/zh-CN.rc
Labels: bugfix

#5207 [SHELL32][USER32] Fix icon regression and one test
  dll/win32/shell32/folders/CFSFolder.cpp
  win32ss/user/user32/misc/exticon.c
Labels: review pending, shell, Win32SS

#5296 [DISKPART] Update Romanian translation
  base/system/diskpart/lang/ro-RO.rc
Labels: TRANSLATION

#5292 [FC] Update Romanian translation
  base/applications/cmdutils/fc/lang/ro-RO.rc
Labels: TRANSLATION

#5298 [DESK] Update Romanian translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#5294 [EXPLORER] Update Romanian translation
  base/shell/explorer/lang/ro-RO.rc
Labels: TRANSLATION, shell

#5299 [BROWSEUI] Update Romanian translation
  dll/win32/browseui/lang/ro-RO.rc
Labels: TRANSLATION, shell

#5291 [USER32] RegisterClassExWOWW/ExA: NULL or IS_ATOM class are treated the same.
  win32ss/user/user32/windows/class.c
Labels: bugfix, Win32SS

#5278 [SHELL32] Revert CDefView::FillFileMenu
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#5303 [DXDIAG] rc file fix inconsistent WS_DISABLED
  base/applications/dxdiag/lang/es-ES.rc
  base/applications/dxdiag/lang/ko-KR.rc
  base/applications/dxdiag/lang/nl-NL.rc
  base/applications/dxdiag/lang/no-NO.rc
  base/applications/dxdiag/lang/pl-PL.rc
  base/applications/dxdiag/lang/pt-BR.rc
  base/applications/dxdiag/lang/ro-RO.rc
  base/applications/dxdiag/lang/sk-SK.rc
  base/applications/dxdiag/lang/sq-AL.rc
  base/applications/dxdiag/lang/sv-SE.rc
  base/applications/dxdiag/lang/tr-TR.rc
  base/applications/dxdiag/lang/uk-UA.rc
  base/applications/dxdiag/lang/zh-CN.rc
  base/applications/dxdiag/lang/zh-HK.rc
  base/applications/dxdiag/lang/zh-TW.rc
Labels: enhancement, trivial fix

#5276 [NTOS:PNP] IopEnumerateDetectedDevices(): General refactoring
  ntoskrnl/io/pnpmgr/pnpmap.c
Labels: enhancement, review pending, kernel&hal

#5287 [WIN32K][WIN32U] Fix system call ids for x64 (based on 2k3 x64 free)
  modules/rostests/apitests/win32u/win32u_2k3sp2/sys-stubs.S
  modules/rostests/apitests/win32u/win32u_2k3sp2/win32ksvc-2k3sp2-64.h
  modules/rostests/apitests/win32u/win32u_ros/sys-stubs.S
  modules/rostests/apitests/win32u/win32u_ros/win32ksvc-ros.h
  win32ss/CMakeLists.txt
  win32ss/include/ntuser.h
  win32ss/napi.h
  win32ss/sys-stubs.S
  win32ss/user/ntuser/ntstubs.c
  win32ss/w32ksvc.db
  win32ss/w32ksvc32.h
  win32ss/w32ksvc64.h
Labels: ROSTESTS, Win32SS
