Repository reactos/reactos, pull requests merged in 2023-12, with the labels that each got.

#6066 [USER32] Fix IsWindow by not using WNDS2_INDESTROY
  win32ss/user/user32/windows/window.c
Labels: bugfix, Win32SS

#6049 [NETCFGX] IDD_TCPIP_BASIC_DLG Radiobuttons need 2 arrow-down-presses instead of one
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: trivial fix

#6076 [COMDLG32] Update Romanian (ro-RO) translation
  dll/win32/comdlg32/lang/cdlg_Ro.rc
Labels: TRANSLATION

#6062 [MSGINA] Update Romanian (ro-RO) translation
  dll/win32/msgina/lang/ro-RO.rc
Labels: TRANSLATION

#6061 [DESK] Update Romanian (ro-RO) translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#6060 [EVENTVWR] Update Romanian (ro-RO) translation
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
Labels: TRANSLATION

#6077 [CRYPTUI] Update Romanian (ro-RO) translation
  dll/win32/cryptui/lang/cryptui_Ro.rc
Labels: TRANSLATION

#6081 [URL] Add icon resource for .url files
  dll/win32/url/CMakeLists.txt
  dll/win32/url/res/102.ico
  dll/win32/url/url.rc
Labels: enhancement

#6048 [HAL] Implement IPI support functions
  hal/hal.spec
  hal/halx86/apic/apicp.h
  hal/halx86/apic/apicsmp.c
  hal/halx86/generic/up.c
  hal/halx86/include/smp.h
  hal/halx86/smp/ipi.c
  sdk/include/ndk/halfuncs.h
Labels: enhancement, kernel&hal, SMP

#6069 [IMM32][KERNEL32][SDK] Half-implement BaseCheckAppcompatCache
  dll/win32/imm32/ctf.c
  dll/win32/kernel32/client/appcache.c
  dll/win32/kernel32/kernel32.spec
  sdk/include/reactos/compat_undoc.h
Labels: enhancement, input method

#6051 [NTOS:KE] Don't hardcode pool tag and TSS flag values.
  ntoskrnl/ke/i386/mproc.c
Labels: trivial fix, kernel&hal, SMP

#6083 [NETCFGX] IDD_TCPIP_ALTCF_DLG Fix radiobutton
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: bugfix

#6089 [ACPI] Add acpi.rc to CMakeLists
  drivers/bus/acpi/CMakeLists.txt
Labels: trivial fix, drivers

#6132 [SHIMGVW] Implement ImageView_Delete
  dll/win32/shimgvw/shimgvw.c
Labels: enhancement

#6133 [COMCTL32] IP Address control: Fix background drawing
  dll/win32/comctl32/ipaddress.c
Labels: bugfix

#6138 [IMM32] Rewrite ImmLoadLayout
  dll/win32/imm32/imm.c
  dll/win32/imm32/precomp.h
Labels: bugfix, input method

#6136 [TIMEDATE] Update Romanian (ro-RO) translation
  dll/cpl/timedate/lang/ro-RO.rc
Labels: TRANSLATION

#6126 [IERNONCE] Update Romanian (ro-RO) translation
  dll/win32/iernonce/lang/ro-RO.rc
Labels: TRANSLATION

#6125 [WINMM] Update Romanian (ro-RO) translation
  dll/win32/winmm/lang/winmm_Ro.rc
Labels: TRANSLATION

#6124 [TAPIUI] Improve Romanian (ro-RO) translation
  dll/win32/tapiui/lang/ro-RO.rc
Labels: TRANSLATION

#6121 [DISKPART] Update Romanian (ro-RO) translation
  base/system/diskpart/lang/ro-RO.rc
Labels: TRANSLATION

#6120 [HELP] Update Romanian (ro-RO) translation
  base/applications/cmdutils/help/lang/ro-RO.rc
Labels: TRANSLATION

#6119 [OPENGLCFG] Update Romanian (ro-RO) translation
  dll/cpl/openglcfg/lang/ro-RO.rc
Labels: TRANSLATION

#6117 [CMD] Update Romanian (ro-RO) translation
  base/shell/cmd/lang/ro-RO.rc
Labels: TRANSLATION

#6116 [PCICLASS][MC] Update Romanian (ro-RO) translation
  sdk/include/reactos/mc/pciclass.mc
Labels: TRANSLATION

#6115 [RASDLG] Update Romanian (ro-RO) translation
  dll/win32/rasdlg/lang/ro-RO.rc
Labels: TRANSLATION

#6114 [SYSDM] Update Romanian (ro-RO) translation
  dll/cpl/sysdm/lang/ro-RO.rc
Labels: TRANSLATION

#6113 [NETID] Update Romanian (ro-RO) translation
  dll/win32/netid/lang/ro-RO.rc
Labels: TRANSLATION

#6112 [NETSHELL] Update Romanian (ro-RO) translation
  dll/shellext/netshell/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6111 [ACCESS] Update Romanian (ro-RO) translation
  dll/cpl/access/lang/ro-RO.rc
Labels: TRANSLATION

#6104 [NTVDM] Update Romanian (ro-RO) translation
  subsystems/mvdm/ntvdm/lang/ro-RO.rc
Labels: TRANSLATION

#6103 [HDWWIZ] Update Romanian (ro-RO) translation
  dll/cpl/hdwwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6102 [STOBJECT] Update Romanian (ro-RO) translation
  dll/shellext/stobject/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6101 [ZIPFLDR] Update Romanian (ro-RO) translation
  dll/shellext/zipfldr/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6100 [SYSSETUP] Update Romanian (ro-RO) translation
  dll/win32/syssetup/lang/ro-RO.rc
Labels: TRANSLATION

#6099 [DEVMGR] Update Romanian (ro-RO) translation
  dll/win32/devmgr/lang/ro-RO.rc
Labels: TRANSLATION

#6098 [RUNONCE] Update Romanian (ro-RO) translation
  base/system/runonce/lang/ro-RO.rc
Labels: TRANSLATION

#6096 [COMCTL32] Update Romanian (ro-RO) translation
  dll/win32/comctl32/lang/comctl_Ro.rc
Labels: TRANSLATION

#6095 [MAGNIFY] Update Romanian (ro-RO) translation
  base/applications/magnify/lang/ro-RO.rc
Labels: TRANSLATION

#6094 [EXPLORER] Update Romanian (ro-RO) translation
  base/shell/explorer/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6093 [CTM] Update Romanian (ro-RO) translation
  modules/rosapps/applications/sysutils/ctm/lang/ro-RO.rc
Labels: TRANSLATION

#6092 [AT] Update Romanian (ro-RO) translation
  base/applications/cmdutils/at/lang/ro-RO.rc
Labels: TRANSLATION

#6091 [LABEL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/label/lang/ro-RO.rc
Labels: TRANSLATION

#6090 [APPWIZ] Improve Romanian (ro-RO) translation
  dll/cpl/appwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6088 [DRIVERS][INF] Update Romanian (ro-RO) translation
  drivers/processor/processr/cpu.inf
  drivers/storage/port/storahci/storahci.inf
  drivers/wdm/audio/drivers/CMIDriver/CM8738-x32-WaveRT.inf
  drivers/wdm/audio/drivers/CMIDriver/CM8738-x32.inf
  drivers/wdm/audio/drivers/CMIDriver/CM8738-x64-WaveRT.inf
  drivers/wdm/audio/drivers/CMIDriver/CM8738-x64.inf
  drivers/wdm/audio/hdaudbus/hdaudbus.inf
  media/inf/hdc.inf
  media/inf/msmouse.inf
Labels: TRANSLATION, drivers

#6087 [SHELL32] Update Romanian (ro-RO) translation
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6086 [RAPPS] Improve Romanian (ro-RO) translation
  base/applications/rapps/lang/ro-RO.rc
Labels: TRANSLATION

#6085 [DXDIAG] Update Romanian (ro-RO) translation
  base/applications/dxdiag/lang/ro-RO.rc
Labels: TRANSLATION

#6084 [NEWDEV] Update Romanian (ro-RO) translation
  dll/win32/newdev/lang/ro-RO.rc
Labels: TRANSLATION

#6078 [LSASRV] Update Romanian (ro-RO) translation
  dll/win32/lsasrv/lang/ro-RO.rc
Labels: TRANSLATION

#6075 [NETEVENT][MC] Update Romanian (ro-RO) translation
  sdk/include/reactos/mc/neteventmsg.mc
Labels: TRANSLATION

#6013 [MAIN] Update Romanian (ro-RO) translation
  dll/cpl/main/lang/ro-RO.rc
Labels: TRANSLATION

#6118 [ICCVID][MSRLE32][MSVIDC32] Add VfW codecs version info
  dll/win32/iccvid/rsrc.rc
  dll/win32/msrle32/rsrc.rc
  dll/win32/msvidc32/msvideo1.c
  dll/win32/msvidc32/rsrc.rc
Labels: enhancement, bugfix

#6139 [SHIMGVW] Some minor refactoring
  dll/win32/shimgvw/shimgvw.c
Labels: bugfix, refactoring

#6144 [SHIMGVW] Split animation code to anime.c
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/anime.c
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: refactoring

#6147 [SHIMGVW] Refactoring Part 2
  dll/win32/shimgvw/anime.c
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: refactoring

#6135 [SDK][UUID] Strengthen <ctfutb.h>
  sdk/include/psdk/ctfutb.idl
Labels: enhancement, input method

#6148 [SHIMGVW] Refactor Part 3
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: refactoring

#6155 [SETUP][BOOTDATA][INF] Add font substitute ('Segoe UI Symbol' to 'Arial')
  base/setup/lib/muifonts.h
  boot/bootdata/livecd.inf
  media/inf/font.inf
Labels: bugfix

#6156 [FONTS] Make Arial gender glyphs +66% larger
  media/fonts/arial.ttf
  media/fonts/arialbd.ttf
  media/fonts/arialbi.ttf
  media/fonts/ariali.ttf
  media/fonts/doc/Arial/ChangeLog.txt
Labels: bugfix, modding

#6152 [COMCTL32][USER32] ComboBox: Do default processing on WM_SYSKEYDOWN
  dll/win32/comctl32/combo.c
  win32ss/user/user32/controls/combo.c
Labels: bugfix, Win32SS

#6141 [MSCTFIME][SDK][USER32] Add msctfime.ime (stub)
  dll/CMakeLists.txt
  dll/ime/CMakeLists.txt
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/lang/en-US.rc
  dll/ime/msctfime/msctfime.c
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/msctfime.rc
  dll/ime/msctfime/msctfime.spec
  dll/ime/msctfime/res/down.ico
  dll/ime/msctfime/res/unicode.ico
  dll/ime/msctfime/resource.h
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm32.spec
  sdk/include/ddk/immdev.h
  sdk/include/psdk/imm.h
  sdk/include/reactos/imetable.h
  win32ss/user/user32/include/immtable.h
Labels: enhancement, Win32SS, input method

#6154 [COMCTL32] Tab control: Use InvalidateRect in TAB_SetItemT update
  dll/win32/comctl32/tab.c
Labels: bugfix

#6160 [MSCTFIME] Implement ImeRegisterWord etc.
  dll/ime/msctfime/msctfime.c
Labels: enhancement, input method

#6142 [USER32] Skip STATIC controls on arrow keys
  win32ss/user/user32/windows/dialog.c
Labels: bugfix, Win32SS

#6157 [SDK][UUID] Add ctffunc.idl
  sdk/include/psdk/CMakeLists.txt
  sdk/include/psdk/ctffunc.idl
  sdk/lib/uuid/CMakeLists.txt
  sdk/lib/uuid/ctffunc_g.c
Labels: enhancement, input method

#6158 [MSCTF][SDK][UUID] Strengthen msctf.idl and msctf.spec
  dll/win32/msctf/msctf.spec
  sdk/include/psdk/msctf.idl
  sdk/lib/uuid/CMakeLists.txt
  sdk/lib/uuid/msctf_g.c
Labels: enhancement, input method

#6149 [CTFMON][SDK] Add ctfmon.exe
  base/applications/CMakeLists.txt
  base/applications/ctfmon/CLoaderWnd.cpp
  base/applications/ctfmon/CLoaderWnd.h
  base/applications/ctfmon/CMakeLists.txt
  base/applications/ctfmon/CRegWatcher.cpp
  base/applications/ctfmon/CRegWatcher.h
  base/applications/ctfmon/ctfmon.cpp
  base/applications/ctfmon/ctfmon.rc
  base/applications/ctfmon/precomp.h
  base/applications/ctfmon/res/ctfmon.ico
  base/applications/ctfmon/resource.h
  sdk/include/reactos/cicero/CModulePath.h
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/osinfo.h
Labels: enhancement, input method

#6163 [SHIMGVW] Initial implementation of Slide Show
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.rc
Labels: enhancement

#6052 [NTOSKRNL] Remove remnant internal/arm/asmmacro.S
  ntoskrnl/include/internal/arm/asmmacro.S
Labels: kernel&hal, janitorial

#6004 [SHELL32] 640x480-ify four dialogs
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: enhancement, shell

#6150 [NTUSER] window.c: Don't use RETURN() macro
  win32ss/user/ntuser/window.c
Labels: refactoring, Win32SS

#6162 [USER32] GetNextDlgGroupItem(): Remove WineSync copy-pasta
  win32ss/user/user32/windows/dialog.c
Labels: 3rd party sync, Win32SS

#6167 [SHIMGVW] Fix and improve zooming
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: enhancement, bugfix

#6080 [HDWWIZ] Update Romanian (ro-RO) translation
  dll/cpl/hdwwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6137 [REG] Update Romanian (ro-RO) translation
  base/applications/cmdutils/reg/lang/ro-RO.rc
Labels: TRANSLATION

#6168 [COMCTL32][USER32] Button: Fix DLGC_... handling
  dll/win32/comctl32/button.c
  win32ss/user/user32/controls/button.c
  win32ss/user/user32/windows/dialog.c
Labels: bugfix, Win32SS

#6172 [SHIMGVW] Enable scrolling
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: enhancement

#6173 [SHIMGVW] Enable middle button dragging
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/res/handdrag.cur
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.rc
Labels: enhancement

#6108 [XDK][NDK] Improve and sync KUSER_SHARED_DATA
  sdk/include/ndk/ketypes.h
  sdk/include/xdk/ketypes.h
Labels: enhancement, refactoring

#6174 [USETUP] Shorten the Portuguese translation to fit on one line
  base/setup/usetup/lang/pt-PT.h
Labels: TRANSLATION

#5951 [BASESRV][CSRLIB][NTVDM] Add missing \n to DPRINT() calls
  subsystems/csr/csrlib/connect.c
  subsystems/mvdm/ntvdm/bios/bios32/vbe.c
  subsystems/mvdm/ntvdm/bios/rom.c
  subsystems/mvdm/ntvdm/vddsup.c
  subsystems/win/basesrv/vdm.c
Labels: enhancement

#6161 [DC21X4] Fix typos
  drivers/network/dd/dc21x4/eeprom.c
  drivers/network/dd/dc21x4/power.c
Labels: bugfix, drivers

#6166 [NTUSER] accelerator.c: Don't use RETURN() macro
  win32ss/user/ntuser/accelerator.c
Labels: refactoring, Win32SS

#6143 [SHELL32] ShellDispatch::ShellExecute must default to displaying the window
  dll/win32/shell32/CShellDispatch.cpp
Labels: bugfix, shell, ship-it

#5737 [DXHALTEST] Fix some typos
  modules/rostests/tests/DxHalTest/main.c
Labels: trivial fix, ROSTESTS

#6065 [USER32] Support loading icons from data file module
  modules/rostests/apitests/user32/LoadImage.c
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, bugfix, ROSTESTS, Win32SS

#6105 [CMAKE] writing_CmakeLists_for_ReactOS.txt: Fix typos
  sdk/cmake/writing_CmakeLists_for_ReactOS.txt
Labels: documentation

#6128 [GDI] eng/error.c: Minor code tweaks
  win32ss/gdi/eng/error.c
  win32ss/gdi/ntgdi/misc.h
Labels: enhancement, refactoring, Win32SS

#6146 [CSCRIPT][WSCRIPT] Implement Sleep
  base/applications/cmdutils/wscript/host.c
Labels: enhancement

#6153 [BROWSEUI] Don't call SHOpenFolderAndSelectItems with full pidls and don't leak them
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix, shell

#6159 [REGEDIT] Fix inverted case matching when searching value data
  base/applications/regedit/find.c
Labels: bugfix

#6176 [APISETS] Forward _seh_longjmp_unwind4() to msvcrt
  dll/apisets/api-ms-win-crt-private-l1-1-0.spec
Labels: 3rd party sync, NT6+

#6177 [SHELL32] AddStaticContextMenusToMenu(): Fix 3 MSVC 'warning C4805'
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: warnings, shell

#6181 [SHIMGVW] Unlock file
  dll/win32/shimgvw/shimgvw.c
Labels: bugfix

#6185 [NTUSER] menu.c: Don't use RETURN() macro
  win32ss/user/ntuser/menu.c
Labels: refactoring, Win32SS

#6165 [SHELL32] *.rc 640x480-ify IDD_FOLDER_OPTIONS_*
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: enhancement, TRANSLATION, bugfix, shell

#6187 [MSCTFIME][IMM32][SDK] Implement CtfImeInquireExW
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.c
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/win32/imm32/ime.c
  sdk/include/ddk/immdev.h
  sdk/include/reactos/imetable.h
Labels: enhancement, input method

#6189 [MSCTFIME] Implement ImeDestroy and CtfImeDestroyThreadMgr
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
Labels: enhancement, input method

#6130 [NTOS:KE/x64] Implement initial IPI code
  ntoskrnl/ke/amd64/ipi.c
  ntoskrnl/ke/ipi.c
  ntoskrnl/ntos.cmake
Labels: kernel&hal, SMP

#5898 Winesync.py Script: Diverse improvements
  sdk/tools/winesync/winesync.py
Labels: enhancement, bugfix, no squash merge

#6186 [SHIMGVW] Add 'rotate and save image' buttons
  dll/win32/shimgvw/lang/bg-BG.rc
  dll/win32/shimgvw/lang/cs-CZ.rc
  dll/win32/shimgvw/lang/de-DE.rc
  dll/win32/shimgvw/lang/en-US.rc
  dll/win32/shimgvw/lang/es-ES.rc
  dll/win32/shimgvw/lang/fr-FR.rc
  dll/win32/shimgvw/lang/he-IL.rc
  dll/win32/shimgvw/lang/it-IT.rc
  dll/win32/shimgvw/lang/ja-JP.rc
  dll/win32/shimgvw/lang/lt-LT.rc
  dll/win32/shimgvw/lang/no-NO.rc
  dll/win32/shimgvw/lang/pl-PL.rc
  dll/win32/shimgvw/lang/pt-PT.rc
  dll/win32/shimgvw/lang/ro-RO.rc
  dll/win32/shimgvw/lang/ru-RU.rc
  dll/win32/shimgvw/lang/sk-SK.rc
  dll/win32/shimgvw/lang/sq-AL.rc
  dll/win32/shimgvw/lang/tr-TR.rc
  dll/win32/shimgvw/lang/uk-UA.rc
  dll/win32/shimgvw/lang/zh-CN.rc
  dll/win32/shimgvw/lang/zh-HK.rc
  dll/win32/shimgvw/lang/zh-TW.rc
  dll/win32/shimgvw/res/rot1save.bmp
  dll/win32/shimgvw/res/rot2save.bmp
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.rc
Labels: bugfix

#6193 [MSCTFIME] Implement CtfImeDispatchDefImeMessage
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
Labels: enhancement, input method

#6195 [MSCTFIME][SDK] Implement CtfImeIsGuidMapEnable
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/ddk/immdev.h
  sdk/include/reactos/cicero/imclock.h
Labels: enhancement, input method

#6196 [MSCTFIME][SDK] Implement CtfImeGuidAtom
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/ddk/immdev.h
Labels: enhancement, input method

#6197 [MSCTFIME] Implement ImeConfigure
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
Labels: enhancement, input method

#6200 [MSCTFIME] Implement CActiveLanguageProfileNotifySink
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.cpp
Labels: enhancement, input method

#6201 [MSCTFIME] Implemenet CicBridge::InitIMMX/UnInitIMMX
  dll/ime/msctfime/msctfime.cpp
Labels: enhancement, input method

#6202 [MSCTFIME][MSCTF][SDK] Add compartment helper functions
  dll/ime/msctfime/msctfime.cpp
  dll/win32/msctf/msctf.spec
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6205 [MSCTFIME][SDK] Implement CCompartmentEventSink
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/reactos/cicero/cicarray.h
  sdk/include/reactos/cicero/cicbase.h
Labels: enhancement, input method

#6194 [NTUSER] Remove RETURN() macro
  win32ss/user/ntuser/caret.c
  win32ss/user/ntuser/cursoricon.c
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/hook.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/misc.c
  win32ss/user/ntuser/ntuser.h
  win32ss/user/ntuser/object.c
  win32ss/user/ntuser/painting.c
  win32ss/user/ntuser/scrollbar.c
  win32ss/user/ntuser/scrollex.c
  win32ss/user/ntuser/windc.c
  win32ss/user/ntuser/winpos.c
Labels: refactoring, Win32SS

#6213 [MSCTFIME][SDK] Implement CicInputContext::OnCleanupContext
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/imclock.h
Labels: enhancement, input method

#6216 [CTFMON][MSCTFIME][SDK] Renaming for Cicero
  base/applications/ctfmon/CRegWatcher.cpp
  base/applications/ctfmon/ctfmon.cpp
  base/applications/ctfmon/precomp.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/reactos/cicero/CModulePath.h
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/cicimc.h
  sdk/include/reactos/cicero/osinfo.h
Labels: refactoring, input method

#6217 [MSCTFIME][SDK] Improve CicArray
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/cicarray.h
Labels: refactoring, input method

#6206 [COMCTL32][USER32] EDIT control: Check bCaptureState on WM_CHAR
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: bugfix, Win32SS

#5581 [TRANSLATION] Update and fix Bulgarian (bg-BG) translation
  base/applications/rapps/lang/bg-BG.rc
  base/setup/reactos/lang/bg-BG.rc
  base/shell/explorer/lang/bg-BG.rc
  base/system/format/lang/bg-BG.rc
  dll/cpl/appwiz/lang/bg-BG.rc
  dll/cpl/console/lang/bg-BG.rc
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/hdwwiz/lang/bg-BG.rc
  dll/cpl/joy/lang/bg-BG.rc
  dll/cpl/liccpa/lang/bg-BG.rc
  dll/cpl/sysdm/lang/bg-BG.rc
  dll/win32/browseui/lang/bg-BG.rc
  dll/win32/devmgr/lang/bg-BG.rc
  dll/win32/netid/lang/bg-BG.rc
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/syssetup/lang/bg-BG.rc
  media/inf/shortcuts.inf
Labels: TRANSLATION, shell

#6182 [BROWSEUI] Load settings on CInternetToolbar::OnContextMenu
  dll/win32/browseui/internettoolbar.cpp
Labels: bugfix, shell

#6220 [MSCTFIME] Delay-import msctf, oleaut32, and imm32
  dll/ime/msctfime/CMakeLists.txt
Labels: input method

#6183 [BROWSEUI] Clear pidlLastParsed on CAddressEditBox::Execute
  dll/win32/browseui/addresseditbox.cpp
Labels: bugfix, shell

#6169 [EXPLORER] Notification area icon improvements
  base/shell/explorer/precomp.h
  base/shell/explorer/settings.cpp
  base/shell/explorer/syspager.cpp
  base/shell/explorer/trayclock.cpp
Labels: enhancement, bugfix, shell, ship-it

#6179 [VFATFS] FATGetNextDirEntry(): Fix 1 MSVC 'warning C4267'
  drivers/filesystems/vfatfs/direntry.c
Labels: warnings, drivers

#6180 [WSHOM.OCX] WshShell::Run intWindowStyle parameter is optional
  dll/win32/wshom.ocx/shell.c
Labels: bugfix, send upstream

#6198 [REACTOS] Fix typos
  dll/win32/mapi32/stubs.c
  drivers/network/tcpip/ip/network/ip.c
  hal/halx86/acpi/halpnpdd.c
  hal/halx86/apic/apic.c
  hal/halx86/apic/apicp.h
  hal/halx86/legacy/halpnpdd.c
  hal/halx86/mp/mpconfig.c
  modules/rosapps/applications/devutils/syscalldump/syscalldump.c
  ntoskrnl/ex/sysinfo.c
  ntoskrnl/ke/i386/traphdlr.c
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/i386/page.c
  ntoskrnl/mm/marea.c
  ntoskrnl/mm/section.c
  sdk/include/c++/stlport/stl/_iostream_string.h
  sdk/include/ndk/mmtypes.h
  sdk/include/psdk/ntddndis.h
  sdk/lib/delayimp/delayimp.c
  sdk/lib/rtl/amd64/unwind.c
  sdk/tools/rsym/rsym64.c
  win32ss/gdi/eng/ldevobj.c
Labels: trivial fix, kernel&hal, drivers, Win32SS

#6207 [SETUPAPI] CMP_RegisterNotification(): Remove duplicated code
  dll/win32/setupapi/cfgmgr.c
Labels: janitorial

#6209 [SETUPAPI] cfgmgr.c: Remove 5 useless '= NULL' initializations
  dll/win32/setupapi/cfgmgr.c
Labels: refactoring

#6210 [SETUPAPI] CMP_RegisterNotification(): Remove useless/broken check
  dll/win32/setupapi/cfgmgr.c
Labels: bugfix, refactoring

#6211 [UMPNPMGR] PNP_RegisterNotification(): Fix a string format
  base/services/umpnpmgr/rpcserver.c
Labels: trivial fix

#6212 [REGEDIT] *.rc: Fix 3 caption copy-pastas
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: trivial fix

#6215 [DESK] Remember color picker custom colors between invocations
  dll/cpl/desk/advappdlg.c
  dll/cpl/desk/appearance.h
Labels: enhancement, bugfix

#6221 [NETKVM] Don't restrict driver setup to x86 builds
  drivers/network/dd/netkvm/netkvm.inf
Labels: enhancement, drivers

#6188 [LDR][NDK] Fix inconsistent Cookie type
  dll/ntdll/def/ntdll.spec
  dll/ntdll/ldr/ldrapi.c
  sdk/include/ndk/ldrfuncs.h
Labels: bugfix, ship-it

#6219 [COMDLG32] Color Picker: Fix cursor clipping
  dll/win32/comdlg32/colordlg.c
Labels: bugfix

#6164 [NTUSER] Add UserHMSetHandle macro
  win32ss/include/ntuser.h
  win32ss/user/ntuser/event.c
  win32ss/user/ntuser/timer.c
Labels: trivial fix, Win32SS

#6224 [SHLWAPI] Fix SHCreateMemStream corner case
  dll/win32/shlwapi/regstream.c
Labels: bugfix

#6222 [CTFMON][MSCTF][MSUTB][SDK] Add msutb.dll (stub)
  base/applications/ctfmon/CLoaderWnd.cpp
  base/applications/ctfmon/CLoaderWnd.h
  base/applications/ctfmon/CMakeLists.txt
  base/applications/ctfmon/CRegWatcher.cpp
  base/applications/ctfmon/ctfmon.cpp
  base/applications/ctfmon/precomp.h
  dll/win32/CMakeLists.txt
  dll/win32/msctf/msctf.spec
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/msutb.rc
  dll/win32/msutb/msutb.spec
  dll/win32/msutb/precomp.h
  dll/win32/msutb/resource.h
  sdk/include/psdk/msctf.idl
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6229 [MSCTF][SDK] Implement TF_RegisterLangBarAddIn etc.
  dll/win32/msctf/CMakeLists.txt
  dll/win32/msctf/msctf.spec
  dll/win32/msctf/utils.cpp
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/cicreg.h
Labels: enhancement, input method

#6230 [CTFMON][MSCTFIME][MSCTF][MSUTB][SDK] Cicero is ANSI, not Unicode
  base/applications/ctfmon/CLoaderWnd.cpp
  base/applications/ctfmon/CMakeLists.txt
  base/applications/ctfmon/CRegWatcher.cpp
  base/applications/ctfmon/CRegWatcher.h
  base/applications/ctfmon/ctfmon.cpp
  base/applications/ctfmon/precomp.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/win32/msctf/utils.cpp
  dll/win32/msutb/CMakeLists.txt
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/cicevent.h
  sdk/include/reactos/cicero/cicfmap.h
  sdk/include/reactos/cicero/cicmutex.h
  sdk/include/reactos/cicero/cicreg.h
Labels: bugfix, input method

#6231 [MSCTF] Implement TF_RunInputCPL
  dll/win32/msctf/msctf.spec
  dll/win32/msctf/utils.cpp
Labels: enhancement, input method

#6232 [CTFMON] Unlink RegNotifyChangeKeyValue
  base/applications/ctfmon/CRegWatcher.cpp
Labels: enhancement, input method

#6233 [MSCTF][SDK] Implement TF_IsCtfmonRunning
  dll/win32/msctf/msctf.spec
  dll/win32/msctf/utils.cpp
  sdk/include/reactos/cicero/cicfmap.h
Labels: enhancement, input method

#6228 [COMDLG32] Fix IDC_TOOLBARPLACES size
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: bugfix

#6226 [COMCTL32] Property Sheet: Use PROPSHEET_IsDialogMessage in message loop
  dll/win32/comctl32/propsheet.c
Labels: bugfix

#6225 [COMDLG32] Color Picker: Limit value by maxval
  dll/win32/comdlg32/colordlg.c
Labels: bugfix

#6234 [MSCTF][SDK] Implement InitLangChangeHotKey
  dll/win32/msctf/utils.cpp
  sdk/include/reactos/cicero/cicreg.h
Labels: enhancement, input method

#6235 [MSCTF] Implement InitCUASFlag
  dll/win32/msctf/utils.cpp
Labels: enhancement, input method

#6236 [MSCTFIME][SDK] Implement CtfImeProcessCicHotkey
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/ddk/immdev.h
  sdk/include/reactos/cicero/cictf.h
Labels: enhancement, input method

#6237 [MSCTFIME][SDK] Implement CicBridge::ActivateIMMX etc.
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/cictf.h
Labels: enhancement, input method

#6238 [MSCTFIME][SDK] Implement CtfImeSelectEx
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  sdk/include/reactos/cicero/cicimc.h
Labels: enhancement, input method

#6243 [SHELL32] Fix status bar part sizes
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#6251 [REGEDIT] Fix condition of enabling load/unload hive menu item
  base/applications/regedit/childwnd.c
Labels: bugfix
