Repository reactos/reactos, pull requests merged in 2024-07, with the labels that each got.

#7063 [NTGDI][FREETYPE] Fix FontLink freeze
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7049 [SETUPLIB][USETUP] Isolate and decouple the filesystem operations code from the UI.
  base/setup/lib/fsutil.c
  base/setup/lib/fsutil.h
  base/setup/lib/setuplib.c
  base/setup/lib/setuplib.h
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
  base/setup/usetup/CMakeLists.txt
  base/setup/usetup/chkdsk.c
  base/setup/usetup/chkdsk.h
  base/setup/usetup/fmtchk.c
  base/setup/usetup/fmtchk.h
  base/setup/usetup/format.c
  base/setup/usetup/format.h
  base/setup/usetup/partlist.h
  base/setup/usetup/usetup.c
  base/setup/usetup/usetup.h
Labels: enhancement, refactoring, 1st stage GUI setup

#7053 [REACTOS] Fix LoadCursorW() incorrect usage cases
  base/applications/games/winmine/main.c
  base/applications/mscutils/eventvwr/eventvwr.c
  base/shell/progman/group.c
  base/shell/progman/main.c
  dll/cpl/console/layout.c
  dll/win32/comctl32/draglist.c
  dll/win32/comctl32/toolbar.c
  dll/win32/msgina/shutdown.c
  dll/win32/shell32/dialogs/dialogs.cpp
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
Labels: bugfix, shell, Win32SS

#7067 [FONTS] Improve 'Microsoft Sans Serif' Part 2
  media/fonts/micross.ttf
Labels: modding

#7069 [USERINIT] LiveCD: Set UI language
  base/system/userinit/livecd.c
Labels: trivial fix

#7076 [SHELL32] Refresh UI on assoc change (SHOpenWithDialog)
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: enhancement, bugfix, shell

#7068 [SHELL32] shlexec.cpp: Automate buffer alloc/free
  dll/win32/shell32/shlexec.cpp
Labels: refactoring, shell

#7074 [GDI32_APITEST] Enhance MaskBlt testcase for error code
  modules/rostests/apitests/gdi32/MaskBlt.c
Labels: enhancement, ROSTESTS

#7077 [IMM32][NTUSER] Reduce a little IMM spams
  dll/win32/imm32/ime.c
  win32ss/user/ntuser/ime.c
Labels: trivial fix, Win32SS, input method

#6982 [SHELL32][EXPLORER][SHLWAPI][SDK] Implement SHGetSetSettings
  base/shell/explorer/trayprop.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/dialogs/view.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/wine/shellord.c
  dll/win32/shell32/wine/shpolicy.c
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/shellutils.h
  sdk/include/reactos/shlwapi_undoc.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#7084 [REGEDIT] Display REG_NONE as binary
  base/applications/regedit/listview.c
Labels: trivial fix

#7073 [EXPLORER][COMCTL32] Toolbar: Fix text with BTNS_NOPREFIX
  base/shell/explorer/taskswnd.cpp
  dll/win32/comctl32/toolbar.c
Labels: bugfix, shell

#7083 [NTGDI] Fix MaskBlt error code and check pattern usage
  win32ss/gdi/ntgdi/bitblt.c
Labels: bugfix, Win32SS

#7079 [USERINIT] Update Slovak (sk-SK) translation
  base/system/userinit/lang/sk-SK.rc
Labels: TRANSLATION

#7078 [USERINIT] Update Czech (cs-CZ) translation
  base/system/userinit/lang/cs-CZ.rc
Labels: TRANSLATION

#7066 [INTL] Update Czech (cs-CZ) translation
  dll/cpl/intl/lang/cs-CZ.rc
Labels: TRANSLATION

#7058 [POWERCFG] Add file hdr. Improve pt-PT translation. Fix accel collisions. Add missing accels keys.
  dll/cpl/powercfg/lang/pt-PT.rc
Labels: TRANSLATION

#7044 [INTL] Add file header. Fix typos and improve portuguese (pt-PT) translation. Fix accel collisions
  dll/cpl/intl/lang/pt-PT.rc
Labels: TRANSLATION

#7043 [MAIN] Add file header. Remove accel from Ok and Cancel buttons in all languages. Add missing accels.
  dll/cpl/main/lang/bg-BG.rc
  dll/cpl/main/lang/cs-CZ.rc
  dll/cpl/main/lang/de-DE.rc
  dll/cpl/main/lang/el-GR.rc
  dll/cpl/main/lang/en-US.rc
  dll/cpl/main/lang/es-ES.rc
  dll/cpl/main/lang/fr-FR.rc
  dll/cpl/main/lang/he-IL.rc
  dll/cpl/main/lang/hu-HU.rc
  dll/cpl/main/lang/id-ID.rc
  dll/cpl/main/lang/it-IT.rc
  dll/cpl/main/lang/ja-JP.rc
  dll/cpl/main/lang/nl-NL.rc
  dll/cpl/main/lang/no-NO.rc
  dll/cpl/main/lang/pl-PL.rc
  dll/cpl/main/lang/pt-PT.rc
  dll/cpl/main/lang/ro-RO.rc
  dll/cpl/main/lang/ru-RU.rc
  dll/cpl/main/lang/sk-SK.rc
  dll/cpl/main/lang/sq-AL.rc
  dll/cpl/main/lang/tr-TR.rc
  dll/cpl/main/lang/uk-UA.rc
  dll/cpl/main/lang/zh-CN.rc
  dll/cpl/main/lang/zh-HK.rc
  dll/cpl/main/lang/zh-TW.rc
Labels: TRANSLATION, no squash merge

#7046 [GDI32] Fix return value based on GetObject gdi32_apitest
  win32ss/gdi/gdi32/objects/gdiobj.c
Labels: bugfix, Win32SS

#7072 [RAPPS] *.rc: Fix accel collisions, improve accel consistency to en-US
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
Labels: bugfix

#7081 [USER32] TileWindows: Adjust timeout of QuerySizeFix
  win32ss/user/user32/windows/mdi.c
Labels: bugfix, trivial fix, Win32SS

#7080 [EXPLORER] Check IsHungAppWindow before minimizing
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/traywnd.cpp
Labels: bugfix, shell

#7029 [DESK] Improve pt-PT Translation; Add missing accel keys and fix some others accel collisions.
  dll/cpl/desk/lang/pt-PT.rc
Labels: TRANSLATION

#7085 [TIMEDATE] Update Czech (cs-CZ) translation
  dll/cpl/timedate/lang/cs-CZ.rc
Labels: TRANSLATION

#7059 [SYSDM] Add file hdrs. Improve pt-PT translation. Fix accel collisions. Add missing accell keys.
  dll/cpl/sysdm/lang/pt-PT.rc
Labels: TRANSLATION

#7092 [RAPPS] *.rc: Strip 2x "popup"-strings
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
Labels: trivial fix, janitorial

#7040 [REGEDIT] Strip unneeded WM_TIMER, formatting
  base/applications/regedit/framewnd.c
Labels: trivial fix, janitorial

#7091 [RAPPS] *.rc: Strip "Progress1" string
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
Labels: trivial fix, janitorial

#7070 [INPUT] Update Czech (cs-CZ) translation
  dll/cpl/input/lang/cs-CZ.rc
Labels: TRANSLATION

#7082 [USER32_APITEST] Add SetWindowPlacement testcase
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/SetWindowPlacement.c
  modules/rostests/apitests/user32/testlist.c
Labels: bugfix, ROSTESTS

#7103 [NOTEPAD] *.rc: Tweak AUTORADIOBUTTONS
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hu-HU.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/ja-JP.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/ro-RO.rc
  base/applications/notepad/lang/ru-RU.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sl-SI.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
Labels: trivial fix, janitorial

#7101 [MSCTFIME] Add new Portuguese (pt-PT) translation.
  dll/ime/msctfime/lang/pt-PT.rc
  dll/ime/msctfime/msctfime.rc
Labels: TRANSLATION

#7075 [USER32][USER32_APITEST] CopyImage: Check flags
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/CopyImage.c
  modules/rostests/apitests/user32/testlist.c
  win32ss/user/user32/windows/cursoricon.c
Labels: bugfix, ROSTESTS, Win32SS

#7102 [CRYPTEXT] Add new Portuguese (pt-PT) translation.
  dll/shellext/cryptext/cryptext.rc
  dll/shellext/cryptext/lang/pt-PT.rc
Labels: TRANSLATION, shell

#7098 [TIMEDATE] Fix a typo in en-US locale
  dll/cpl/timedate/lang/bg-BG.rc
  dll/cpl/timedate/lang/da-DK.rc
  dll/cpl/timedate/lang/de-DE.rc
  dll/cpl/timedate/lang/el-GR.rc
  dll/cpl/timedate/lang/en-US.rc
  dll/cpl/timedate/lang/es-ES.rc
  dll/cpl/timedate/lang/et-EE.rc
  dll/cpl/timedate/lang/eu-ES.rc
  dll/cpl/timedate/lang/he-IL.rc
  dll/cpl/timedate/lang/nl-NL.rc
  dll/cpl/timedate/lang/no-NO.rc
  dll/cpl/timedate/lang/pt-BR.rc
  dll/cpl/timedate/lang/sk-SK.rc
  dll/cpl/timedate/lang/sq-AL.rc
  dll/cpl/timedate/lang/sv-SE.rc
  dll/cpl/timedate/lang/th-TH.rc
  dll/cpl/timedate/lang/uk-UA.rc
Labels: TRANSLATION

#7105 [SHELL32] Display Desktop folder name in IShellBrowser correctly
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/shfldr.h
Labels: bugfix, shell

#7089 [GDI32] Avoid invalid input in SetBkMode CORE-19656
  win32ss/gdi/gdi32/objects/dc.c
Labels: bugfix, Win32SS

#7095 [NTUSER][USER32] Populate dwExpWinVer
  win32ss/CMakeLists.txt
  win32ss/include/ntuser.h
  win32ss/user/ntuser/main.c
  win32ss/user/rtl/image.c
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/windows/window.c
Labels: bugfix, Win32SS

#7093 [CMD] Support dynamic trace
  base/shell/cmd/CMakeLists.txt
  base/shell/cmd/config.h
  base/shell/cmd/precomp.h
  base/shell/cmd/set.c
  base/shell/cmd/trace.c
Labels: enhancement

#7097 [CMD][CMDUTILS][REPLACE] Make 'replace' command external
  base/applications/cmdutils/CMakeLists.txt
  base/applications/cmdutils/replace/CMakeLists.txt
  base/applications/cmdutils/replace/lang/cs-CZ.rc
  base/applications/cmdutils/replace/lang/de-DE.rc
  base/applications/cmdutils/replace/lang/el-GR.rc
  base/applications/cmdutils/replace/lang/en-US.rc
  base/applications/cmdutils/replace/lang/es-ES.rc
  base/applications/cmdutils/replace/lang/fr-FR.rc
  base/applications/cmdutils/replace/lang/hu-HU.rc
  base/applications/cmdutils/replace/lang/id-ID.rc
  base/applications/cmdutils/replace/lang/it-IT.rc
  base/applications/cmdutils/replace/lang/ja-JP.rc
  base/applications/cmdutils/replace/lang/no-NO.rc
  base/applications/cmdutils/replace/lang/pl-PL.rc
  base/applications/cmdutils/replace/lang/pt-BR.rc
  base/applications/cmdutils/replace/lang/pt-PT.rc
  base/applications/cmdutils/replace/lang/ro-RO.rc
  base/applications/cmdutils/replace/lang/ru-RU.rc
  base/applications/cmdutils/replace/lang/sk-SK.rc
  base/applications/cmdutils/replace/lang/sq-AL.rc
  base/applications/cmdutils/replace/lang/sv-SE.rc
  base/applications/cmdutils/replace/lang/tr-TR.rc
  base/applications/cmdutils/replace/lang/uk-UA.rc
  base/applications/cmdutils/replace/lang/zh-CN.rc
  base/applications/cmdutils/replace/lang/zh-TW.rc
  base/applications/cmdutils/replace/replace.c
  base/applications/cmdutils/replace/replace.h
  base/applications/cmdutils/replace/replace.rc
  base/applications/cmdutils/replace/resource.h
  base/applications/cmdutils/replace/util.c
  base/shell/cmd/CMakeLists.txt
  base/shell/cmd/cmdtable.c
  base/shell/cmd/config.h
  base/shell/cmd/lang/cs-CZ.rc
  base/shell/cmd/lang/de-DE.rc
  base/shell/cmd/lang/el-GR.rc
  base/shell/cmd/lang/en-US.rc
  base/shell/cmd/lang/es-ES.rc
  base/shell/cmd/lang/fr-FR.rc
  base/shell/cmd/lang/hu-HU.rc
  base/shell/cmd/lang/id-ID.rc
  base/shell/cmd/lang/it-IT.rc
  base/shell/cmd/lang/ja-JP.rc
  base/shell/cmd/lang/no-NO.rc
  base/shell/cmd/lang/pl-PL.rc
  base/shell/cmd/lang/pt-BR.rc
  base/shell/cmd/lang/pt-PT.rc
  base/shell/cmd/lang/ro-RO.rc
  base/shell/cmd/lang/ru-RU.rc
  base/shell/cmd/lang/sk-SK.rc
  base/shell/cmd/lang/sq-AL.rc
  base/shell/cmd/lang/sv-SE.rc
  base/shell/cmd/lang/tr-TR.rc
  base/shell/cmd/lang/uk-UA.rc
  base/shell/cmd/lang/zh-CN.rc
  base/shell/cmd/lang/zh-TW.rc
  base/shell/cmd/resource.h
Labels: enhancement

#7106 [EVENTVWR] Tweak AUTORADIOBUTTONS, …
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
Labels: janitorial

#7096 [NTUSER] Improve NtUserSetWindowPlacement
  win32ss/user/ntuser/winpos.c
Labels: bugfix, Win32SS

#5750 [RTL] Avoid some corner case ASSERTS in heap.c and fix heap allocations larger than MAXUSHORT.
  sdk/lib/rtl/heap.c
Labels: bugfix, review pending

#6848 [RTL] Sync actctx.c to wine-5.18
  dll/ntdll/def/ntdll.spec
  dll/shellext/shellbtrfs/reactos.cpp
  media/doc/WINESYNC.txt
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/actctx.c
  sdk/tools/winesync/rtl.cfg
Labels: 3rd party sync, shell

#6824 [REACTOS] Add support for compiling with GCC 13
  sdk/cmake/gcc.cmake
  sdk/lib/CMakeLists.txt
  sdk/lib/gcc-compat/CMakeLists.txt
  sdk/lib/gcc-compat/StringCchCopyNA.c
  sdk/lib/gcc-compat/__mingw_vsprintf.c
  sdk/lib/gcc-compat/__throw_out_of_range_fmt.cpp
Labels: enhancement, GCC-13

#7116 [CMD] DATE: Simply use short date without weekday
  base/shell/cmd/locale.c
Labels: bugfix, trivial fix

#6914 [SDK] Fixed "Move to... & Copy to..." dialog broken button navigation
  sdk/include/reactos/ui/layout.h
Labels: bugfix

#7114 [CMD][BOOTDATA] Populate 'Command Processor' registry data
  base/shell/cmd/cmdinput.c
  boot/bootdata/hivedef.inf
  boot/bootdata/hivesft.inf
Labels: enhancement

#7115 [BROWSEUI] AutoComplete: Close before opening IME candidates
  dll/win32/browseui/CAutoComplete.cpp
Labels: bugfix, shell, input method

#7090 [SHELL32] CDefaultContextMenu must respect the default verb list
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/COpenWithMenu.cpp
Labels: bugfix, shell

#7094 [RAPPS] *.rc: Optimize AUTORADIOBUTTONS, add missing WS_GROUP to IDC_DEFAULT_SETTINGS
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
  base/applications/rapps/settingsdlg.cpp
Labels: bugfix, janitorial

#7104 [REGEDIT] *.rc: AUTORADIOBUTTONS, fix "Bus Nummer"-typo, ...
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: trivial fix

#7117 [CMD] DATE: Output 'The current date is: '
  base/shell/cmd/date.c
  base/shell/cmd/lang/cs-CZ.rc
  base/shell/cmd/lang/de-DE.rc
  base/shell/cmd/lang/el-GR.rc
  base/shell/cmd/lang/en-US.rc
  base/shell/cmd/lang/es-ES.rc
  base/shell/cmd/lang/fr-FR.rc
  base/shell/cmd/lang/hu-HU.rc
  base/shell/cmd/lang/id-ID.rc
  base/shell/cmd/lang/it-IT.rc
  base/shell/cmd/lang/ja-JP.rc
  base/shell/cmd/lang/no-NO.rc
  base/shell/cmd/lang/pl-PL.rc
  base/shell/cmd/lang/pt-BR.rc
  base/shell/cmd/lang/pt-PT.rc
  base/shell/cmd/lang/ro-RO.rc
  base/shell/cmd/lang/ru-RU.rc
  base/shell/cmd/lang/sk-SK.rc
  base/shell/cmd/lang/sq-AL.rc
  base/shell/cmd/lang/sv-SE.rc
  base/shell/cmd/lang/tr-TR.rc
  base/shell/cmd/lang/uk-UA.rc
  base/shell/cmd/lang/zh-CN.rc
  base/shell/cmd/lang/zh-TW.rc
  base/shell/cmd/resource.h
Labels: enhancement

#7123 [NTUSER] Check class style for CS_NOCLOSE instead of window style
  win32ss/user/ntuser/nonclient.c
Labels: bugfix, Win32SS

#7128 [BROWSEUI] Check focus before opening AutoComplete
  dll/win32/browseui/CAutoComplete.cpp
  dll/win32/browseui/CAutoComplete.h
Labels: bugfix, shell

#7118 [CMD] Implement /F[:ON|:OFF] switch for file/path completion
  base/shell/cmd/cmd.c
Labels: enhancement

#7130 [UXTHEME][NTUSER] Check class style for CS_NOCLOSE instead of window style
  dll/win32/uxtheme/nonclient.c
  win32ss/user/ntuser/defwnd.c
Labels: bugfix, Win32SS

#7125 [CMD] Prepare for localization by using resource strings
  base/shell/cmd/assoc.c
  base/shell/cmd/call.c
  base/shell/cmd/ctty.c
  base/shell/cmd/lang/cs-CZ.rc
  base/shell/cmd/lang/de-DE.rc
  base/shell/cmd/lang/el-GR.rc
  base/shell/cmd/lang/en-US.rc
  base/shell/cmd/lang/es-ES.rc
  base/shell/cmd/lang/fr-FR.rc
  base/shell/cmd/lang/hu-HU.rc
  base/shell/cmd/lang/id-ID.rc
  base/shell/cmd/lang/it-IT.rc
  base/shell/cmd/lang/ja-JP.rc
  base/shell/cmd/lang/no-NO.rc
  base/shell/cmd/lang/pl-PL.rc
  base/shell/cmd/lang/pt-BR.rc
  base/shell/cmd/lang/pt-PT.rc
  base/shell/cmd/lang/ro-RO.rc
  base/shell/cmd/lang/ru-RU.rc
  base/shell/cmd/lang/sk-SK.rc
  base/shell/cmd/lang/sq-AL.rc
  base/shell/cmd/lang/sv-SE.rc
  base/shell/cmd/lang/tr-TR.rc
  base/shell/cmd/lang/uk-UA.rc
  base/shell/cmd/lang/zh-CN.rc
  base/shell/cmd/lang/zh-TW.rc
  base/shell/cmd/resource.h
  base/shell/cmd/set.c
Labels: enhancement, TRANSLATION

#7134 [FONTEXT] Fix CFontExt::GetDisplayNameOf for SHGDN_FORPARSING
  dll/shellext/fontext/CFontExt.cpp
Labels: bugfix, trivial fix, shell

#7135 [BROWSEUI] Fix confusion of StrDupW and SHStrDupW
  dll/win32/browseui/parsecmdline.cpp
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix, shell

#7132 [SHELL32] ShellAboutW: IDD_ABOUT offset is (20, 20)
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: bugfix, trivial fix, shell

#7131 [NTGDI] FontLink: avoid invalid font name buffer freeing
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7133 [BROWSEUI] CExplorerBand: Use SHCNRF_NewDelivery method
  dll/win32/browseui/explorerband.cpp
  dll/win32/browseui/explorerband.h
Labels: refactoring, shell

#7126 [SHELL32] shlexec.cpp: Parse 'shell:' and '::{CLSID}'
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shlexec.cpp
Labels: enhancement, bugfix, shell

#7141 [BROWSEUI] CExplorerBand: Refresh on change notification
  dll/win32/browseui/explorerband.cpp
  dll/win32/browseui/explorerband.h
Labels: enhancement, shell

#7144 [SHELL32] Don't update statusbar during drag operation
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, trivial fix, shell

#6510 [MMSYS] Update Romanian (ro-RO) translation
  dll/cpl/mmsys/lang/ro-RO.rc
Labels: TRANSLATION

#6531 [WORDPAD] Update Romanian (ro-RO) translation
  base/applications/wordpad/lang/ro-RO.rc
Labels: TRANSLATION

#6537 [RASDLG] Update Romanian (ro-RO) translation
  dll/win32/rasdlg/lang/ro-RO.rc
Labels: TRANSLATION

#6602 [SPIDER] Update Romanian (ro-RO) translation
  base/applications/games/spider/lang/ro-RO.rc
Labels: TRANSLATION

#6611 [WINMINE] Update Romanian (ro-RO) translation
  base/applications/games/winmine/lang/ro-RO.rc
Labels: TRANSLATION

#6614 [TASKMGR] Update Romanian (ro-RO) translation
  base/applications/taskmgr/lang/ro-RO.rc
Labels: TRANSLATION

#6536 [MSGINA] Update Romanian (ro-RO) translation
  dll/win32/msgina/lang/ro-RO.rc
Labels: TRANSLATION

#6642 [EXPLORER] Update Romanian (ro-RO) translation
  base/shell/explorer/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6629 [ACCESS] Update Romanian (ro-RO) translation
  dll/cpl/access/lang/ro-RO.rc
Labels: TRANSLATION

#6643 [EXPLORER_OLD] Update Romanian (ro-RO) translation
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Labels: TRANSLATION

#6645 [HDWWIZ] Update Romanian (ro-RO) translation
  dll/cpl/hdwwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6663 [NEWDEV] Update Romanian (ro-RO) translation
  dll/win32/newdev/lang/ro-RO.rc
Labels: TRANSLATION

#6665 [CHARMAP] Improve Romanian (ro-RO) translation
  base/applications/charmap/lang/ro-RO.rc
Labels: TRANSLATION

#6667 [INPUT] Update Romanian (ro-RO) translation
  dll/cpl/input/lang/ro-RO.rc
Labels: TRANSLATION

#6692 [LOGON] Update Romanian (ro-RO) translation
  base/applications/screensavers/logon/lang/ro-RO.rc
Labels: TRANSLATION

#6694 [TELEPHON] Update Romanian (ro-RO) translation
  dll/cpl/telephon/lang/ro-RO.rc
Labels: TRANSLATION

#6698 [SSSTARS] Update Romanian (ro-RO) translation
  modules/rosapps/applications/screensavers/ssstars/lang/ro-RO.rc
Labels: TRANSLATION

#6707 [MAIN] Update Romanian (ro-RO) translation
  dll/cpl/main/lang/ro-RO.rc
Labels: TRANSLATION

#6693 [INETCPL] Update Romanian (ro-RO) translation
  dll/cpl/inetcpl/lang/ro-RO.rc
Labels: TRANSLATION

#6877 [LOCALMON] Update Romanian (ro-RO) translation
  win32ss/printing/monitors/localmon/ui/lang/ui_Ro.rc
Labels: TRANSLATION, Win32SS

#6733 [SNDREC32] Update Romanian (ro-RO) translation
  base/applications/sndrec32/lang/ro-RO.rc
Labels: TRANSLATION

#6744 [ZIPFLDR] Update Romanian (ro-RO) translation
  dll/shellext/zipfldr/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6745 [POWERCFG] Update Romanian (ro-RO) translation
  dll/cpl/powercfg/lang/ro-RO.rc
Labels: TRANSLATION

#6878 [MSVFW32] Update Romanian (ro-RO) translation
  dll/win32/msvfw32/lang/msvfw32_Ro.rc
Labels: TRANSLATION

#6876 [AVIFIL32] Update Romanian (ro-RO) translation
  dll/win32/avifil32/lang/avifile_Ro.rc
Labels: TRANSLATION

#6875 [MSACM32] Update Romanian (ro-RO) translation
  dll/win32/msacm32/lang/msacm_Ro.rc
Labels: TRANSLATION

#6866 [MPR] Update Romanian (ro-RO) translation
  dll/win32/mpr/lang/mpr_Ro.rc
Labels: TRANSLATION

#7108 [NTUSER] Fix popup menu position on menu item partly off the left screen
  win32ss/user/ntuser/menu.c
Labels: bugfix, Win32SS

#6865 [NETSHELL] Update Romanian (ro-RO) translation
  dll/shellext/netshell/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6859 [INF] Update Romanian (ro-RO) translation
  boot/bootdata/hivedef.inf
  media/inf/shortcuts.inf
Labels: TRANSLATION

#6831 [USERENV] Update Romanian (ro-RO) translation
  dll/win32/userenv/lang/ro-RO.rc
Labels: TRANSLATION

#6842 [NETPLWIZ] Update Romanian (ro-RO) translation
  dll/shellext/netplwiz/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6843 [SETUPAPI] Update Romanian (ro-RO) translation
  dll/win32/setupapi/lang/ro-RO.rc
Labels: TRANSLATION

#6874 [COMCTL32] Update Romanian (ro-RO) translation
  dll/win32/comctl32/lang/comctl_Ro.rc
Labels: TRANSLATION

#6774 [OLEDLG] Update Romanian (ro-RO) translation
  dll/win32/oledlg/lang/oledlg_Ro.rc
Labels: TRANSLATION

#7142 [SDK][MC] errcodes.mc: Added more COM error messages
  sdk/include/reactos/mc/errcodes.mc
Labels: trivial fix

#7112 [CMD] Batch: Don't ClearBatch if bSameFn
  base/shell/cmd/batch.c
Labels: bugfix

#7113 [CMD] Fix GetPathCase function
  base/shell/cmd/cmd.h
  base/shell/cmd/misc.c
Labels: bugfix, review pending

#7140 [REGEDIT] Handle Ctrl+Backspace in AddressBar
  base/applications/regedit/childwnd.c
  base/applications/regedit/main.c
  base/applications/regedit/regedit.h
Labels: enhancement

#7143 [EXPLORER] Execute RunOnce[Ex] before desktop is created
  base/shell/explorer/explorer.cpp
  base/shell/explorer/precomp.h
  base/shell/explorer/startup.cpp
Labels: bugfix, shell

#7146 [SHDOCVW] Initial implementation of Favorites bar
  dll/win32/shdocvw/CFavBand.cpp
  dll/win32/shdocvw/CFavBand.h
  dll/win32/shdocvw/CMakeLists.txt
  dll/win32/shdocvw/favband.rgs
  dll/win32/shdocvw/lang/en-US.rc
  dll/win32/shdocvw/resource.h
  dll/win32/shdocvw/shdocvw.h
  dll/win32/shdocvw/shdocvw.rc
  dll/win32/shdocvw/shdocvw_main.c
  dll/win32/shdocvw/shlinstobj.c
Labels: enhancement

#7050 [WINLOGON] Update Slovak (sk-SK) translation
  base/system/winlogon/lang/sk-SK.rc
Labels: TRANSLATION

#7057 [MMSYS] Add file hdr. Improve pt-PT translation. Adjust window text length.
  dll/cpl/mmsys/lang/pt-PT.rc
Labels: TRANSLATION

#7099 [USRMGR] Add file header. Improve pt-PT translation.
  dll/cpl/usrmgr/lang/pt-PT.rc
Labels: TRANSLATION

#7109 [CRYPTEXT] Add Czech (cs-CZ) and Slovak (sk-SK) translations
  dll/shellext/cryptext/cryptext.rc
  dll/shellext/cryptext/lang/cs-CZ.rc
  dll/shellext/cryptext/lang/sk-SK.rc
Labels: TRANSLATION, shell

#7110 [ACPPAGE] Update Czech (cs-CZ) translation
  dll/shellext/acppage/lang/cs-CZ.rc
Labels: TRANSLATION, shell

#7120 [NETSHELL] Add file hdr. Improve portuguese (pt-PT) translation.
  dll/shellext/netshell/lang/pt-PT.rc
Labels: TRANSLATION, shell

#7122 [NETPLWIZ] Add file hdr. Fix typos in pt-PT translation.
  dll/shellext/netplwiz/lang/pt-PT.rc
Labels: TRANSLATION, shell

#7147 [TRANSLATION] Update Indonesian (id-ID) translation
  base/shell/explorer/lang/id-ID.rc
  dll/win32/browseui/lang/id-ID.rc
  dll/win32/ieframe/lang/id-ID.rc
  dll/win32/shell32/lang/id-ID.rc
Labels: TRANSLATION, shell

#7155 [RAPPS] Add new Let's Encrypt issuer certificate
  base/applications/rapps/loaddlg.cpp
Labels: enhancement

#7150 [SHELL32][SHELL32_APITEST] ShellExecute should accept invalid directory
  dll/win32/shell32/shlexec.cpp
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
Labels: bugfix, ROSTESTS, shell

#6999 [SHELL32] Use correct PIDL and name when dropping to create a shortcut
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/shldataobject.cpp
Labels: bugfix, shell

#7127 [SHELL32][SHLWAPI][BROWSEUI][EXPLORER] Save folder view state
  base/shell/explorer/traywnd.cpp
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/wine/shellord.c
  dll/win32/shlwapi/propbag.cpp
  sdk/include/reactos/shlwapi_undoc.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#7153 [BOOTDATA] LiveCD: Fix Internet Browser icon
  boot/bootdata/livecd.inf
Labels: bugfix

#7039 [MMEBUDDY][MMIXER] Fix NDEBUG support
  sdk/include/reactos/libs/sound/mmebuddy_debug.h
  sdk/lib/drivers/sound/mmebuddy/CMakeLists.txt
  sdk/lib/drivers/sound/mmixer/CMakeLists.txt
Labels: bugfix, drivers

#7156 [BROWSEUI][SHDOCVW][SDK] Fix INamespaceProxy interface
  dll/win32/browseui/explorerband.cpp
  dll/win32/browseui/explorerband.h
  dll/win32/shdocvw/CFavBand.cpp
  dll/win32/shdocvw/CFavBand.h
  sdk/include/reactos/shlobj_undoc.h
Labels: bugfix, shell

#7149 [SHELL32] Refactor CShellLink::DoOpen
  dll/win32/shell32/CShellLink.cpp
Labels: refactoring, shell

#7165 [RAPPS] Fix CAB codepage handling
  base/applications/rapps/cabinet.cpp
Labels: bugfix

#7152 [SHELL32] Invoke the ItemIDList of shortcuts
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/classes.c
Labels: shell

#7161 [BROWSEUI][SHELL32] Ignore navigation requests during browser destruction
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, trivial fix, shell

#7166 [SHELL32] ShellExecCmdLine: Use SearchPathW
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7168 [SHELL32] Use DECLARE_INTERFACE_ for IRecycleBin5
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
Labels: refactoring, shell

#7172 [SHELL32] Forward CDefaultContextMenu::InvokeCommand parameters to ShellExecute
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/shlexec.cpp
  sdk/include/reactos/shellutils.h
Labels: bugfix, shell

#7167 [SHELL32] RecycleBinGenericEnum: Make it C++
  dll/win32/shell32/shellrecyclebin/CMakeLists.txt
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_generic_enumerator.c
  dll/win32/shell32/shellrecyclebin/recyclebin_generic_enumerator.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
Labels: refactoring, shell

#7169 [SHELL32] RecycleBinGeneric: Make it C++
  dll/win32/shell32/shellrecyclebin/CMakeLists.txt
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.c
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
Labels: refactoring, shell

#7171 [INF][BOOTDATA][SETUPAPI] Use Inf instead of Cmd.exe to register IExplore
  boot/bootdata/hivesft.inf
  dll/win32/setupapi/install.c
  media/inf/syssetup.inf
Labels: enhancement

#7164 [RAPPS] Uninstall empty directories after its children
  base/applications/rapps/geninst.cpp
Labels: bugfix, trivial fix

#7181 [GITHUB] labeler.yml: Add 'input method' label
  .github/labeler.yml
Labels: enhancement, input method

#7111 [EVENTVWR] IDD_LOGPROPERTIES Add some non-MS-accelerators
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
Labels: enhancement, TRANSLATION, bugfix

#7185 [USETUP] InstallDirectoryPage(): Pressing ESC erases the whole path line
  base/setup/usetup/usetup.c
Labels: enhancement

#7190 [CALC] *.rc: AUTORADIOBUTTONS, ja-JP: Add accel &V
  base/applications/calc/lang/bg-BG.rc
  base/applications/calc/lang/cs-CZ.rc
  base/applications/calc/lang/de-DE.rc
  base/applications/calc/lang/el-GR.rc
  base/applications/calc/lang/en-US.rc
  base/applications/calc/lang/es-ES.rc
  base/applications/calc/lang/fr-FR.rc
  base/applications/calc/lang/he-IL.rc
  base/applications/calc/lang/hu-HU.rc
  base/applications/calc/lang/id-ID.rc
  base/applications/calc/lang/it-IT.rc
  base/applications/calc/lang/ja-JP.rc
  base/applications/calc/lang/ko-KR.rc
  base/applications/calc/lang/nl-NL.rc
  base/applications/calc/lang/no-NO.rc
  base/applications/calc/lang/pl-PL.rc
  base/applications/calc/lang/pt-BR.rc
  base/applications/calc/lang/pt-PT.rc
  base/applications/calc/lang/ro-RO.rc
  base/applications/calc/lang/ru-RU.rc
  base/applications/calc/lang/sk-SK.rc
  base/applications/calc/lang/sq-AL.rc
  base/applications/calc/lang/sv-SE.rc
  base/applications/calc/lang/th-TH.rc
  base/applications/calc/lang/tr-TR.rc
  base/applications/calc/lang/uk-UA.rc
  base/applications/calc/lang/zh-CN.rc
  base/applications/calc/lang/zh-HK.rc
  base/applications/calc/lang/zh-TW.rc
Labels: bugfix, trivial fix, janitorial

#7188 [PROGMAN] Tweak AUTORADIOBUTTONS
  base/shell/progman/new_resources.rc
Labels: trivial fix

#7180 [IMM32][NTUSER] Use HandleToUlong, UlongToHandle etc. macros
  dll/win32/imm32/ctf.c
  dll/win32/imm32/ime.c
  dll/win32/imm32/imm.c
  dll/win32/imm32/utils.c
  win32ss/user/ntuser/event.c
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/misc.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/simplecall.c
  win32ss/user/ntuser/window.c
  win32ss/user/ntuser/window.h
Labels: Win32SS, input method

#7173 [SHELL32] RecycleBin5Enum: Make it C++
  dll/win32/shell32/shellrecyclebin/CMakeLists.txt
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.c
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
Labels: refactoring, shell

#7174 [SHELL32] RecycleBin5: Make it C++
  dll/win32/shell32/shellrecyclebin/CMakeLists.txt
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
Labels: refactoring, shell

#7196 [SDK][NTUSER] s/KLF_UNLOAD/KL_UNLOAD/
  sdk/include/reactos/undocuser.h
  win32ss/user/ntuser/input.h
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/keyboard.c
Labels: bugfix, refactoring, Win32SS

#7175 [SHELL32] Follow-up of #7169
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.cpp
Labels: refactoring, shell

#7177 [RAPPS] Update Czech (cs-CZ) translation
  base/applications/rapps/lang/cs-CZ.rc
Labels: TRANSLATION

#7179 [UXTHEME] Add Czech (cs-CZ) and Slovak (sk-SK) translations
  dll/win32/uxtheme/lang/cs-CZ.rc
  dll/win32/uxtheme/lang/sk-SK.rc
  dll/win32/uxtheme/uxtheme.rc
Labels: TRANSLATION

#7182 [POWERCFG] Update Czech (cs-CZ) translation
  dll/cpl/powercfg/lang/cs-CZ.rc
Labels: TRANSLATION

#7193 [REGEDIT] Deduplication and other formatting changes
  base/applications/regedit/about.c
  base/applications/regedit/childwnd.c
  base/applications/regedit/clb/clb.c
  base/applications/regedit/edit.c
  base/applications/regedit/error.c
  base/applications/regedit/find.c
  base/applications/regedit/framewnd.c
  base/applications/regedit/hexedit.c
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-TW.rc
  base/applications/regedit/listview.c
  base/applications/regedit/main.c
  base/applications/regedit/main.h
  base/applications/regedit/regedit.c
  base/applications/regedit/regedit.rc
  base/applications/regedit/regproc.c
  base/applications/regedit/resource.h
  base/applications/regedit/security.c
  base/applications/regedit/settings.c
  base/applications/regedit/treeview.c
Labels: bugfix, trivial fix, janitorial

#7195 [IMM32][SDK][USER32] Fix ImmFreeLayout parameter
  dll/win32/imm32/imm.c
  dll/win32/imm32/imm32.spec
  sdk/include/reactos/imm32_undoc.h
  win32ss/user/user32/include/immtable.h
  win32ss/user/user32/misc/imm.c
Labels: refactoring, Win32SS, input method

#7199 [USER32] Simplify CliSaveImeHotKey
  win32ss/user/user32/windows/input.c
Labels: refactoring, Win32SS
