Repository reactos/reactos, pull requests merged in 2024-04, with the labels that each got.

#6302 [ACPI] Fix object evaluation
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
  drivers/bus/acpi/precomp.h
  modules/rostests/apitests/acpi/Bus_PDO_EvalMethod.c
  modules/rostests/apitests/acpi/CMakeLists.txt
  modules/rostests/apitests/acpi/testlist.c
Labels: enhancement, bugfix, ROSTESTS, drivers

#6688 [DOC] 3rd Party Files.txt: Update/Complete 'CardLib'
  media/doc/3rd Party Files.txt
Labels: documentation

#6682 [NTOS:MM] Fix MiDeleteVirtualAddresses
  ntoskrnl/mm/ARM3/virtual.c
Labels: bugfix, kernel&hal

#6680 [NTOS:KE/x64][SDK] Improve trap handling with some asm macros
  ntoskrnl/ke/amd64/trap.S
  sdk/include/asm/trapamd64.inc
Labels: enhancement, bugfix, kernel&hal

#6683 [NTOS:Ke/x64] Improve KiDispatchExceptionToUser
  ntoskrnl/ke/amd64/except.c
Labels: bugfix, kernel&hal

#5574 [SHELL32] Handle the Progman Folder options message and tab switching support
  base/shell/rshell/misc.cpp
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  sdk/include/reactos/undocshell.h
Labels: enhancement, bugfix, shell

#6708 [RTL/x64] Remove an ASSERT in RtlpTryToUnwindEpilog
  sdk/lib/rtl/amd64/unwind.c
Labels: GCC-13

#6696 [COMCTL32] Fix Status Bar Updating
  dll/win32/comctl32/status.c
Labels: bugfix

#6687 [UMKM_APITEST] Add a test for syscall handling
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/include/apitest.h
  modules/rostests/apitests/umkm/CMakeLists.txt
  modules/rostests/apitests/umkm/SystemCall.c
  modules/rostests/apitests/umkm/amd64/SystemCall_asm.s
  modules/rostests/apitests/umkm/i386/SystemCall_asm.s
  modules/rostests/apitests/umkm/precomp.h
  modules/rostests/apitests/umkm/testlist.c
Labels: ROSTESTS

#6713 [MSVCRT20][MSVCRT40] Fix heap initialization
  dll/win32/msvcrt20/msvcrt20.c
  dll/win32/msvcrt40/msvcrt40.c
Labels: bugfix

#6701 [SHELL32] Copy as path shell extension
  dll/win32/shell32/CCopyMoveToMenu.cpp
  dll/win32/shell32/CCopyMoveToMenu.h
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/res/rgs/copyaspathmenu.rgs
  dll/win32/shell32/rgs_res.rc
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shresdef.h
  sdk/include/reactos/shlguid_undoc.h
Labels: enhancement, NT6+, shell

#6700 [NTOS:KE/x64] Implement KiUserCallbackExit
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/usercall.c
  ntoskrnl/ke/amd64/usercall_asm.S
Labels: enhancement, kernel&hal, GCC-13

#6719 [SHELL32] Use Uppercase in SHELL32_GUIDToStringA/W
  dll/win32/shell32/shfldr.h
Labels: bugfix, trivial fix, shell

#6702 [SHLWAPI] Update Romanian (ro-RO) translation
  dll/win32/shlwapi/lang/ro-RO.rc
Labels: TRANSLATION

#6695 [STOBJECT] Update Romanian (ro-RO) translation
  dll/shellext/stobject/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6720 [SHLWAPI][SHLWAPI_APITEST] Fix NULL behavior of StrDupA/W
  dll/win32/shlwapi/string.c
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/StrDup.c
  modules/rostests/apitests/shlwapi/testlist.c
Labels: bugfix, ROSTESTS

#6722 [NOTEPAD] Fix English STRING_PRINTFAILED translation
  base/applications/notepad/lang/bg-BG.rc
  base/applications/notepad/lang/cs-CZ.rc
  base/applications/notepad/lang/da-DK.rc
  base/applications/notepad/lang/de-DE.rc
  base/applications/notepad/lang/el-GR.rc
  base/applications/notepad/lang/en-US.rc
  base/applications/notepad/lang/es-ES.rc
  base/applications/notepad/lang/et-EE.rc
  base/applications/notepad/lang/eu-ES.rc
  base/applications/notepad/lang/fi-FI.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/notepad/lang/he-IL.rc
  base/applications/notepad/lang/hi-IN.rc
  base/applications/notepad/lang/hr-HR.rc
  base/applications/notepad/lang/hy-AM.rc
  base/applications/notepad/lang/id-ID.rc
  base/applications/notepad/lang/it-IT.rc
  base/applications/notepad/lang/lt-LT.rc
  base/applications/notepad/lang/ms-MY.rc
  base/applications/notepad/lang/nl-NL.rc
  base/applications/notepad/lang/no-NO.rc
  base/applications/notepad/lang/pl-PL.rc
  base/applications/notepad/lang/pt-BR.rc
  base/applications/notepad/lang/pt-PT.rc
  base/applications/notepad/lang/sk-SK.rc
  base/applications/notepad/lang/sq-AL.rc
  base/applications/notepad/lang/sv-SE.rc
  base/applications/notepad/lang/th-TH.rc
  base/applications/notepad/lang/tr-TR.rc
  base/applications/notepad/lang/uk-UA.rc
  base/applications/notepad/lang/uz-UZ.rc
  base/applications/notepad/lang/zh-CN.rc
  base/applications/notepad/lang/zh-HK.rc
  base/applications/notepad/lang/zh-TW.rc
Labels: TRANSLATION, bugfix

#6657 [SHELL32] Update Romanian (ro-RO) translation
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6721 [SHELL32][SDK] Fix ParseDisplayName Part 1
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDesktopFolder.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/shellpath.c
  sdk/include/psdk/shobjidl.idl
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, bugfix, shell

#6710 [UDFS] Remove packing around include of ntifs.h
  drivers/filesystems/udfs/udffs.h
Labels: bugfix, drivers, GCC-13

#6711 [KS] Fix a bug found by GCC 13
  drivers/ksfilter/ks/filter.c
Labels: bugfix, drivers, GCC-13

#6709 [DEVMGR] Add DYNAMIC_FIELD_OFFSET macro
  dll/win32/devmgr/precomp.h
  dll/win32/devmgr/properties/hwpage.cpp
Labels: bugfix, GCC-13

#6727 [NTOS:KE/x64] Improve KeGetTrapFrame
  ntoskrnl/include/internal/amd64/ke.h
Labels: enhancement, kernel&hal

#6145 [SHELL32] Implement several ShellDispatch methods
  dll/win32/shell32/CShellDispatch.cpp
  sdk/include/reactos/shellutils.h
Labels: enhancement, shell

#6729 [COMDLG32] *.rc Improve translations
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: TRANSLATION, bugfix, trivial fix

#6686 [AUDIO] Implement support for WAVE_FORMAT_EXTENSIBLE audio format
  dll/win32/wdmaud.drv/legacy.c
  drivers/ksfilter/ks/connectivity.c
  sdk/lib/drivers/sound/mmixer/wave.c
Labels: enhancement, bugfix, drivers

#6730 [COMDLG32] cdlg_Sq.rc: Strip 2 includes
  dll/win32/comdlg32/lang/cdlg_Sq.rc
Labels: trivial fix, janitorial

#6734 [SHELL32][SHELL32_APITEST][SDK] Implement GUIDFromStringA
  dll/win32/shell32/wine/shellord.c
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/GUIDFromString.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#6397 [NTUSER] Avoid sending superfluous WM_MOUSEMOVE messages
  win32ss/user/ntuser/cursoricon.c
Labels: bugfix, Win32SS

#6716 [SHELLBTRFS] Prevent redeclaration of __cpuidex with newer mingw-w64 headers
  dll/shellext/shellbtrfs/recv.cpp
Labels: trivial fix, shell, GCC-13

#6190 [NTDLL][ADVAPI32][ADVAPI32_APITEST][CRYPTLIB] Add hash API exports for NT6+ and apitests with small fixes
  dll/ntdll/CMakeLists.txt
  dll/ntdll/def/ntdll.spec
  dll/win32/advapi32/advapi32.spec
  modules/rostests/apitests/advapi32/CMakeLists.txt
  modules/rostests/apitests/advapi32/Hash.c
  modules/rostests/apitests/advapi32/testlist.c
  sdk/lib/cryptlib/md4.c
  sdk/lib/cryptlib/md5.c
  sdk/lib/cryptlib/sha1.c
  sdk/lib/cryptlib/sha1.h
Labels: enhancement, bugfix, ROSTESTS, NT6+

#6740 [SHELL32] Fix ParseDisplayName Part 2
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/utils.cpp
Labels: bugfix, shell

#6741 [SHELL32] Refactor and simplify CDesktopFolder
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDesktopFolder.h
Labels: refactoring, shell

#5814 [RTL/x64] Handle STATUS_UNWIND_CONSOLIDATE in RtlRestoreContext
  sdk/lib/rtl/amd64/except_asm.S
  sdk/lib/rtl/amd64/unwind.c
Labels: bugfix

#6712 [NDK/x64] Remove #pragma pack(push,4) around KPRCB/KPCR
  sdk/include/ndk/amd64/ketypes.h
Labels: bugfix

#6691 [DOC] 3rd Party Files.txt: Complete 'win-iconv'
  media/doc/3rd Party Files.txt
Labels: documentation

#6737 [SHELL32] Initialize MenuItemInfoW struct in AddStaticContextMenusToMenu
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: shell

#6735 [REGEDIT] *.rc: Anonymize CONTROL "List1"
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: trivial fix, janitorial

#6717 [RTL/x64] Implement RtlRaiseException in asm
  sdk/lib/rtl/amd64/except.c
  sdk/lib/rtl/amd64/except_asm.S
Labels: bugfix, GCC-13

#6746 [SHELL32] Fix ParseDisplayName Part 3
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, shell

#6747 [SHELL32] Fix ParseDisplayName Part 4
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: bugfix, shell

#6738 [EXPLORER] Fix assertion when running on Windows Server 2003
  base/shell/explorer/tbsite.cpp
Labels: bugfix, shell

#6752 [BROWSEUI] SHExplorerParseCmdLine: Fix parsing of /root
  dll/win32/browseui/parsecmdline.cpp
Labels: bugfix, shell

#6750 [CRT] crtdefs.h: Wrap localeinfo_struct in ifdef
  sdk/include/crt/crtdefs.h
Labels: warnings, GCC-13

#6758 [REGEDIT] Correctly limit splitter's X coordinates
  base/applications/regedit/childwnd.c
Labels: bugfix

#6762 [VFDLIB] Disable PDB generation for VFD.dll
  modules/rosapps/lib/vfdlib/CMakeLists.txt
Labels: hackfix

#6025 [WIN32SS] Introduce the NATIVE_REACTX define and disable some Dx calls
  win32ss/CMakeLists.txt
  win32ss/gdi/eng/pdevobj.c
Labels: hackfix, Win32SS

#6476 [FREELDR] Allow FreeLoader to boot Vista - Revised
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/ntldr/arch/amd64/winldr.c
  boot/freeldr/freeldr/ntldr/arch/arm/winldr.c
  boot/freeldr/freeldr/ntldr/arch/i386/winldr.c
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/winldr.h
  boot/freeldr/freeldr/ntldr/wlmemory.c
  sdk/lib/cmlib/cmlib.h
Labels: enhancement, NT6+, freeldr

#6763 [SDK] Don't just infinitely spam the DbgPrint in the bootloader
  sdk/lib/cmlib/cmlib.h
Labels: bugfix

#6753 [MMIXER] Fix additional data size initialization for different audio formats
  sdk/lib/drivers/sound/mmixer/wave.c
Labels: bugfix, drivers

#6760 [FREELDR] Merge boot-drive and partition functionalities together
  boot/freeldr/FREELDR.INI
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/custom.c
  boot/freeldr/freeldr/include/custom.h
  boot/freeldr/freeldr/include/freeldr.h
  boot/freeldr/freeldr/include/miscboot.h
  boot/freeldr/freeldr/include/ver.h
  boot/freeldr/freeldr/miscboot.c
Labels: enhancement, refactoring, freeldr

#6714 [ZIPFLDR] Fix ShellExecute opening a .zip
  dll/shellext/zipfldr/zipfldr.cpp
  dll/shellext/zipfldr/zipfldr.spec
Labels: bugfix, shell

#6768 [SHELL32] Remove 2 redundant initializations
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: janitorial, shell

#6777 [SHELL32] SHChangeNotify: SHCNF_DWORD and SHCNF_PRINTERA/W
  dll/win32/shell32/changenotify.cpp
Labels: enhancement, shell

#6771 [DOC] 3rd Party Files.txt: Update 3 unknown versions
  media/doc/3rd Party Files.txt
Labels: documentation

#6770 [NTUSER] UserSetCursorPos(): Use an early return
  win32ss/user/ntuser/cursoricon.c
Labels: enhancement, Win32SS

#6751 [WIN32U_VISTA] Add win32u.dll for Vista
  modules/rostests/apitests/win32u/CMakeLists.txt
  modules/rostests/apitests/win32u/win32u_vista/CMakeLists.txt
  modules/rostests/apitests/win32u/win32u_vista/sys-stubs.S
  modules/rostests/apitests/win32u/win32u_vista/w32ksvc32.h
  modules/rostests/apitests/win32u/win32u_vista/w32ksvc64.h
  modules/rostests/apitests/win32u/win32u_vista/win32u_vista.S
  modules/rostests/apitests/win32u/win32u_vista/win32u_vista.spec
Labels: ROSTESTS

#6748 [EVTLIB] Fix size of event log record
  sdk/lib/evtlib/evtlib.c
Labels: bugfix

#6782 [SHELL32] SHChangeNotify: Add drive, remove drive
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
Labels: enhancement, shell

#6796 [SHELL32_APITEST] Make SHChangeNotify testcase more stable
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/ShellExecCmdLine.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.h
Labels: bugfix, ROSTESTS

#6761 [MMEBUDDY] Implement support for looped wave playback
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/readme.txt
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Labels: bugfix, drivers

#6798 [SHELL32_APITEST] SHChangeNotify: Improve coverity
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.h
Labels: enhancement, ROSTESTS

#6784 [SHELL32] SHChangeNotify: Use tree for CDirectoryList
  dll/win32/shell32/shelldesktop/CDirectoryList.cpp
  dll/win32/shell32/shelldesktop/CDirectoryList.h
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.cpp
Labels: refactoring, shell

#5743 [SHELL32] Fix Desktop folder details view
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDesktopFolder.h
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CNetFolder.cpp
  dll/win32/shell32/folders/CPrinterFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/shfldr.h
Labels: bugfix, needs rebase, shell

#6805 [KERNEL32_APITEST] Add LCMapString testcase
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/LCMapString.c
  modules/rostests/apitests/kernel32/testlist.c
Labels: enhancement, ROSTESTS

#6754 [NTUSER] Release modifier keys when deactivating message queue
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/msgqueue.h
Labels: bugfix, Win32SS

#6793 [TASKMGR] Process page: Allow using "Open File Location" functionality without running Explorer shell
  base/applications/taskmgr/procpage.c
Labels: enhancement, refactoring

#6792 [CRT] Add _Exit
  sdk/include/crt/process.h
Labels: enhancement, GCC-13

#5400 [SHELL32] Fix Control_RunDLLW
  dll/win32/shell32/wine/control.c
  dll/win32/syssetup/wizard.c
Labels: bugfix, review pending, shell

#6797 [MSVCRTEX] Only include _CrtDbgReport*, if we don't already export them
  sdk/lib/crt/except/amd64/chkstk_ms.s
  sdk/lib/crt/msvcrtex.cmake
Labels: bugfix, warnings

#6799 [COMCTL32] Fix header redraw glitches when resizing
  dll/win32/comctl32/header.c
Labels: bugfix, send upstream

#6755 [USER32_APITEST] Test MSVC rc.exe compiled 32-bpp BI_BITFIELD bmp
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/LoadImageGCC.c
  modules/rostests/apitests/user32/image.dll
  modules/rostests/apitests/user32/makeimg/CMakeLists.txt
  modules/rostests/apitests/user32/makeimg/image.rc
  modules/rostests/apitests/user32/makeimg/readme.txt
  modules/rostests/apitests/user32/makeimg/showimg.c
  modules/rostests/apitests/user32/makeimg/test.bmp
  modules/rostests/apitests/user32/resource.h
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/user32/user32_apitest.rc
Labels: ROSTESTS

#6807 [NTDLL_APITEST] Use `RtlConvertUlongToLuid`
  modules/rostests/apitests/ntdll/NtAdjustPrivilegesToken.c
  modules/rostests/apitests/ntdll/NtFilterToken.c
  modules/rostests/apitests/ntdll/precomp.h
Labels: refactoring, ROSTESTS

#5942 [USER32] Fix resource display of MSVC BI_BITFIELD 32-bit bitmaps.
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, Win32SS

#6790 [NTOS:IO] Fix broken pool allocations
  ntoskrnl/io/iomgr/iofunc.c
Labels: bugfix, kernel&hal

#6776 [SHELL32] DefView must set CMF_EXTENDEDVERBS, CMF_CANRENAME and CMF_EXPLORE
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: bugfix, shell

#6812 [README] Update RosBE links and badges to version 2.2.1
  README.md
Labels: documentation

#5735 [NTOS:CC] Restore unlock/reacquire locks around MmPageOutPhysicalAddress
  ntoskrnl/cc/view.c
Labels: enhancement, bugfix, kernel&hal
