Repository reactos/reactos, pull requests merged in 2024-12, with the labels that each got.

#7542 [EXPLORER] Remove redundant bIsSystemShell assignments
  base/shell/explorer/explorer.cpp
Labels: refactoring, shell

#7523 [SETUPLIB][REACTOS][USETUP] Turn setuplib into a DLL shared between TUI and GUI 1st-stage setups
  base/setup/lib/CMakeLists.txt
  base/setup/lib/bootsup.c
  base/setup/lib/bootsup.h
  base/setup/lib/fsutil.c
  base/setup/lib/fsutil.h
  base/setup/lib/install.c
  base/setup/lib/install.h
  base/setup/lib/precomp.h
  base/setup/lib/setuplib.c
  base/setup/lib/setuplib.h
  base/setup/lib/setuplib.rc
  base/setup/lib/setuplib.spec
  base/setup/lib/spapisup/fileqsup.c
  base/setup/lib/spapisup/fileqsup.h
  base/setup/lib/spapisup/infsupp.c
  base/setup/lib/spapisup/infsupp.h
  base/setup/lib/utils/genlist.c
  base/setup/lib/utils/genlist.h
  base/setup/lib/utils/osdetect.c
  base/setup/lib/utils/osdetect.h
  base/setup/lib/utils/partinfo.h
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
  base/setup/reactos/CMakeLists.txt
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/spapisup/fileqsup.c
  base/setup/reactos/spapisup/infsupp.c
  base/setup/usetup/CMakeLists.txt
  base/setup/usetup/spapisup/fileqsup.c
  base/setup/usetup/spapisup/infsupp.c
  base/setup/usetup/usetup.c
  base/setup/usetup/usetup.h
  modules/rostests/unittests/setuplib/CMakeLists.txt
  modules/rostests/unittests/setuplib/IsValidInstallDirectory.c
Labels: enhancement, refactoring, ROSTESTS

#7537 [FREELDR] peloader.c: Fix PE import binding
  boot/freeldr/freeldr/lib/peloader.c
Labels: bugfix, freeldr

#7539 [NTOS:KD64] KdInitSystem(): Poll for break-in on symbol load *ONLY* at boot-time.
  ntoskrnl/kd64/kdinit.c
Labels: enhancement, bugfix, kernel&hal

#7511 [CRT] corecrt.h: add secure function overload macros
  sdk/include/crt/corecrt.h
Labels: enhancement, bugfix, GCC-13

#7494 [CABVIEW] Add CabView shell extension
  dll/shellext/CMakeLists.txt
  dll/shellext/cabview/CMakeLists.txt
  dll/shellext/cabview/cabview.cpp
  dll/shellext/cabview/cabview.h
  dll/shellext/cabview/cabview.rc
  dll/shellext/cabview/cabview.spec
  dll/shellext/cabview/extract.cpp
  dll/shellext/cabview/folder.cpp
  dll/shellext/cabview/lang/de-DE.rc
  dll/shellext/cabview/lang/en-US.rc
  dll/shellext/cabview/lang/et-EE.rc
  dll/shellext/cabview/lang/fr-FR.rc
  dll/shellext/cabview/lang/hi-IN.rc
  dll/shellext/cabview/lang/it-IT.rc
  dll/shellext/cabview/lang/ja-JP.rc
  dll/shellext/cabview/lang/pl-PL.rc
  dll/shellext/cabview/lang/pt-PT.rc
  dll/shellext/cabview/lang/ro-RO.rc
  dll/shellext/cabview/lang/ru-RU.rc
  dll/shellext/cabview/lang/sv-SE.rc
  dll/shellext/cabview/lang/tr-TR.rc
  dll/shellext/cabview/lang/zh-CN.rc
  dll/shellext/cabview/lang/zh-HK.rc
  dll/shellext/cabview/lang/zh-TW.rc
  dll/shellext/cabview/precomp.h
  dll/shellext/cabview/res/cabview.rgs
  dll/shellext/cabview/res/folder.ico
  dll/shellext/cabview/resource.h
  dll/shellext/cabview/util.h
  dll/win32/browseui/CProgressDialog.cpp
  media/inf/syssetup.inf
Labels: enhancement, shell

#7340 [FDEBUG] Update Romanian (ro-RO) translation
  boot/freeldr/fdebug/lang/ro-RO.rc
Labels: TRANSLATION, freeldr

#7352 [EVENTVWR] Update Romanian (ro-RO) translation
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
Labels: TRANSLATION

#7406 [WINED3DCFG] Update Romanian (ro-RO) translation
  dll/cpl/wined3dcfg/lang/ro-RO.rc
Labels: TRANSLATION

#7365 [MSCTFIME] Add Romanian (ro-RO) translation
  dll/ime/msctfime/lang/ro-RO.rc
  dll/ime/msctfime/msctfime.rc
Labels: TRANSLATION, input method

#7356 [IEFRAME] Update Romanian (ro-RO) translation
  dll/win32/ieframe/lang/ro-RO.rc
Labels: TRANSLATION

#7404 [CONSOLE] Update Romanian (ro-RO) translation
  dll/cpl/console/lang/ro-RO.rc
Labels: TRANSLATION

#7354 [VGAFONTEDIT] Update Romanian (ro-RO) translation
  modules/rosapps/applications/devutils/vgafontedit/lang/ro-RO.rc
Labels: TRANSLATION

#7536 [WINMM] PlaySound: Fix user environment variables handling
  dll/win32/winmm/CMakeLists.txt
  dll/win32/winmm/playsound.c
Labels: bugfix

#7522 [FREELDR] Make it more compatible with w2k3 ini file
  boot/freeldr/freeldr/lib/inifile/ini_init.c
  boot/freeldr/freeldr/settings.c
Labels: enhancement, freeldr

#7297 [USER32_APITEST] Improve RedrawWindow API test. Follow up of #7160
  modules/rostests/apitests/user32/RedrawWindow.c
Labels: enhancement, ROSTESTS, needs_builbot_runs

#7554 [NTOS:KE/x64] Fix handling of PCR::UserRsp
  ntoskrnl/ke/amd64/traphandler.c
  ntoskrnl/ke/amd64/usercall.c
Labels: bugfix, kernel&hal, SMP, ship-it

#7557 [BATTC] Fix the wait timeout conversion
  drivers/battery/battc/battc.c
Labels: bugfix, drivers, ship-it

#7558 [CMBATT] Convert power statistics from mAh to mWh
  drivers/bus/acpi/cmbatt/cmbatt.c
  drivers/bus/acpi/cmbatt/cmbatt.h
Labels: enhancement, drivers

#7556 [BATTC] Signal the wait battery tag event when notifying Battery Class
  drivers/battery/battc/battc.c
Labels: enhancement, bugfix, drivers

#7560 [STOBJECT] Display the estimated battery time when hovering the battery icon
  dll/shellext/stobject/power.cpp
Labels: enhancement, shell

#7541 [USERINIT] Update German (de-DE) translation
  base/system/userinit/lang/de-DE.rc
Labels: TRANSLATION

#7532 [SHELL32] Use FS compatible PIDL format for Recycle Bin items
  dll/win32/shell32/CCopyAsPathMenu.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CFolderItemVerbs.cpp
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/CSendToMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/recycler_prop.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/folders/CRecycleBin.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  dll/win32/shell32/wine/shell32_main.h
Labels: enhancement, bugfix, shell

#7551 [WIN32K] Check for NULL desktop window in co_IntProcessMouseMessage
  win32ss/user/ntuser/msgqueue.c
Labels: bugfix, Win32SS

#7572 [NETSHELL] Handle DefView accelerators
  dll/shellext/netshell/shfldr_netconnect.cpp
Labels: trivial fix, shell

#7578 [SDK] Fix naming of a CPUID structure
  ntoskrnl/ke/amd64/cpu.c
  sdk/include/reactos/x86x64/Cpuid.h
Labels: trivial fix, kernel&hal

#7524 [USER32_APTEST][USER32] CopyImage improve regression test and function.
  modules/rostests/apitests/user32/CopyImage.c
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, ROSTESTS, Win32SS

#7570 [SHELL32] ILLoadFromStream must allow loading unknown pidl formats
  dll/win32/shell32/debughlp.cpp
  dll/win32/shell32/wine/pidl.c
Labels: trivial fix, shell

#7575 [NDK] Remove amd64/asm.h
  sdk/include/ndk/amd64/asm.h
  sdk/include/ndk/amd64/ketypes.h
  sdk/include/ndk/asm.h
Labels: janitorial

#7552 [NTOS:KE] Fix freeze in KeBugCheckWithTf
  ntoskrnl/ke/bug.c
Labels: bugfix, kernel&hal, SMP

#7569 [SHDOCVW][BROWSEUI][SHELL32] Correctly refcount CNSCBand and Explorer File menu
  dll/win32/browseui/basebarsite.cpp
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/shellmenu/CMenuSite.cpp
  dll/win32/shell32/shellmenu/CMenuSite.h
Labels: bugfix, shell

#7582 [SHELL32] CM::InvokeCommand case-insensitive compare verb string
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: bugfix, trivial fix, shell

#7587 [SHELL32] ShellExecuteW must call ShellExecuteExW
  dll/win32/shell32/shlexec.cpp
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix, trivial fix, shell

#7588 [SHELL32] SHELL_FindExecutable: import new path handling code from Wine 10.0-rc3
  dll/win32/shell32/shlexec.cpp
Labels: 3rd party sync, shell

#7585 [SHELL32] Fix BrowseForFolder unable to expand a folder when it contains a zip
  dll/win32/shell32/brfolder.cpp
Labels: bugfix, shell

#7579 [SETUP:REACTOS] Refactor the Welcome page.
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/resource.h
Labels: enhancement, 1st stage GUI setup

#7581 [SETUP:REACTOS] Revamp the Install-type page layout.
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
  base/setup/reactos/resource.h
Labels: enhancement, trivial fix, 1st stage GUI setup
