Repository reactos/reactos, pull requests merged in 2024-10, with the labels that each got.

#7385 Freeldr: Some minor refactoring in fs.c code, before fixes
  boot/freeldr/freeldr/include/fs.h
  boot/freeldr/freeldr/lib/fs/fs.c
Labels: enhancement, bugfix, freeldr, 1st stage GUI setup

#7412 [USBSTOR] Don't assert on clean up if initialization didn't finish
  drivers/usb/usbstor/fdo.c
Labels: bugfix, drivers

#7418 [UXTHEME] Add Portuguese Portugal (pt-PT) and Portuguese Brazil (pt-BR) translation
  dll/win32/uxtheme/lang/pt-BR.rc
  dll/win32/uxtheme/lang/pt-PT.rc
  dll/win32/uxtheme/uxtheme.rc
Labels: TRANSLATION

#7417 [FREELDR] Simplify some control branches in loops
  boot/freeldr/freeldr/arch/i386/pc/pcdisk.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98disk.c
  boot/freeldr/freeldr/lib/fs/fat.c
Labels: trivial fix, freeldr

#7419 [FREELDR] Bye bye "setupldr" build target
  boot/freeldr/bootsect/isoboot.S
  boot/freeldr/freeldr/pcat.cmake
Labels: trivial fix, refactoring, freeldr

#7422 [NTOS:MM] MmFlushSegment: Simplify return
  ntoskrnl/mm/section.c
Labels: trivial fix, kernel&hal

#6018 [NTOS:KDBG] Add missing \n to DPRINT() calls
  ntoskrnl/kdbg/kdb_cli.c
Labels: enhancement, kernel&hal

#6886 [USER32] Hackfix for CORE-17902 - The cursoricon (copyimage) that returns NULL to render - LR_COPYFROMRESOURCE
  win32ss/user/user32/windows/cursoricon.c
Labels: hackfix, Win32SS

#7411 [ISAPNP] Detect I/O ports at runtime
  drivers/bus/isapnp/hardware.c
  drivers/bus/isapnp/isapnp.c
  drivers/bus/isapnp/isapnphw.h
Labels: enhancement, drivers

#7429 [SHELL32] Remove view related items from File menu
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#7375 [SERVICES] Fix services delay on stopping
  base/system/services/database.c
  base/system/services/rpcserver.c
  base/system/services/services.h
Labels: bugfix

#7433 [SHELL32] Always initialize COM for Folder Options dialog
  dll/win32/shell32/dialogs/folder_options.cpp
Labels: bugfix, shell

#7434 [SHELL32] Implement SSF_NOCONFIRMRECYCLE recycler setting
  dll/win32/shell32/dialogs/recycler_prop.cpp
  dll/win32/shell32/shlfileop.cpp
Labels: enhancement, shell

#7369 [NTOS:MM] Fix PTE protection for executable CoW pages
  ntoskrnl/mm/section.c
Labels: bugfix, kernel&hal

#7436 [NTOS:PNP] Don't use a pointer to a stack structure in a work-item
  ntoskrnl/io/pnpmgr/pnpreport.c
Labels: bugfix, kernel&hal

#7443 [DDRAW] Fix taskbar visibilty when switching to fullscreen
  dll/directx/wine/ddraw/ddraw.c
Labels: 3rd party sync, bugfix, ship-it

#7392 [SERVICES] Merge ScmControlService() and ScmSendStartCommand() together
  base/system/services/database.c
  base/system/services/rpcserver.c
  base/system/services/services.h
Labels: enhancement, refactoring

#7441 [SERVICES] ScmControlService: Use TransactNamedPipe() instead of successive Write+Read
  base/system/services/database.c
Labels: enhancement

#7328 [SHELL32] Make Recycle Bin PIDL data handling more robust
  dll/win32/shell32/folders/CRecycleBin.cpp
Labels: bugfix, shell

#7437 [SHELL32] Don't display .zip files in BrowseForFolder
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
Labels: bugfix, shell

#7445 [CRT] vadefs.h: Fix name of __crt_va_*
  sdk/include/crt/stdarg.h
  sdk/include/crt/vadefs.h
Labels: bugfix

#7438 [SHELL32_APITEST] Basic ILIsEqual tests
  modules/rostests/apitests/shell32/ItemIDList.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS

#7384 [FREELDR] Less outdated version-hardcodes
  boot/freeldr/freeldr/freeldr.c
  boot/freeldr/freeldr/include/ver.h
  boot/freeldr/freeldr/ui/tui.c
Labels: freeldr, janitorial

#6122 [SHELL32] File Types dialog: Add functionality, optimize loading time
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/utils.h
  sdk/include/psdk/shlwapi.h
Labels: enhancement, shell

#7316 [WINETESTS] Fix warnings when compiling comctl32_winetest
  modules/rostests/winetests/comctl32/CMakeLists.txt
  modules/rostests/winetests/comctl32/rebar.c
  modules/rostests/winetests/comctl32/static.c
Labels: ROSTESTS, warnings

#7456 [USETUP] CabinetExtractFile(): Do not overwrite Status value
  base/setup/usetup/spapisup/cabinet.c
Labels: bugfix

#7452 [SHELL32] Exclude executable extensions from File Types dialog
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: enhancement, shell

#7345 [SPEC2DEF] Use explicit ordinals on MSVC, too
  sdk/tools/spec2def/spec2def.c
Labels: enhancement, bugfix

#7414 [FREELDR] fs.c: Fix handling of file handles, (de)referencing, and direct-device access
  boot/freeldr/freeldr/include/fs.h
  boot/freeldr/freeldr/lib/fs/ext2.c
  boot/freeldr/freeldr/lib/fs/fat.c
  boot/freeldr/freeldr/lib/fs/fs.c
  boot/freeldr/freeldr/lib/fs/iso.c
  boot/freeldr/freeldr/lib/fs/ntfs.c
  boot/freeldr/freeldr/lib/fs/pxe.c
Labels: bugfix, freeldr, 1st stage GUI setup

#7455 [NTOS:KE/i386] KeStartAllProcessors(): ProcessorCount is a ULONG
  ntoskrnl/ke/i386/mproc.c
Labels: enhancement, kernel&hal

#7444 [CMAKE] Silence ML's "Assembling ..." message
  sdk/cmake/msvc.cmake
  subsystems/mvdm/asm16.cmake
Labels: enhancement

#7380 [FREELDR][NDK][X64] Remove KIP0PCRADDRESS definition and mapping
  boot/freeldr/freeldr/include/arch/amd64/amd64.h
  boot/freeldr/freeldr/ntldr/arch/amd64/winldr.c
  sdk/include/ndk/amd64/ketypes.h
Labels: enhancement, freeldr

#7462 [SHELL32] Fix broken delete file type verb
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: bugfix, trivial fix, shell

#7463 [CMAKE] Enable proper definition of __cplusplus macro on MSVC
  sdk/cmake/msvc.cmake
Labels: bugfix

#7460 [ATL] CComCriticalSection destructor should not be virtual
  sdk/lib/atl/atlcore.h
Labels: bugfix, ATL

#7431 [FREELDR/x64] Add Multiboot header
  boot/freeldr/freeldr/arch/amd64/entry.S
  boot/freeldr/freeldr/arch/i386/multiboot.S
  boot/freeldr/freeldr/pcat.cmake
  sdk/include/asm/asm.inc
Labels: enhancement, freeldr

#7469 [FREELDR/x64] Fix the Multiboot Pointer Size
  boot/freeldr/freeldr/arch/i386/multiboot.S
Labels: bugfix, freeldr

#7440 [SERVICES] Use pointers to const string (PCWSTR) instead of non-const for argv
  base/system/services/database.c
  base/system/services/rpcserver.c
  base/system/services/services.h
Labels: trivial fix

#7037 [MKISOFS] Fix Clang check for macOS platforms
  sdk/tools/mkisofs/CMakeLists.txt
Labels: bugfix, no-pr-activity

#7366 [NTOS:KE] Make KeFlushQueuedDpcs SMP ready
  ntoskrnl/ke/dpc.c
Labels: enhancement, refactoring, kernel&hal, SMP

#7461 [CRT] Introduce corecrt.h
  sdk/include/crt/assert.h
  sdk/include/crt/complex.h
  sdk/include/crt/conio.h
  sdk/include/crt/corecrt.h
  sdk/include/crt/crtdbg.h
  sdk/include/crt/crtdefs.h
  sdk/include/crt/ctype.h
  sdk/include/crt/direct.h
  sdk/include/crt/dos.h
  sdk/include/crt/dvec.h
  sdk/include/crt/eh.h
  sdk/include/crt/errno.h
  sdk/include/crt/fcntl.h
  sdk/include/crt/float.h
  sdk/include/crt/fpieee.h
  sdk/include/crt/fvec.h
  sdk/include/crt/inttypes.h
  sdk/include/crt/io.h
  sdk/include/crt/ivec.h
  sdk/include/crt/libgen.h
  sdk/include/crt/locale.h
  sdk/include/crt/malloc.h
  sdk/include/crt/math.h
  sdk/include/crt/mbctype.h
  sdk/include/crt/mbstring.h
  sdk/include/crt/memory.h
  sdk/include/crt/process.h
  sdk/include/crt/search.h
  sdk/include/crt/signal.h
  sdk/include/crt/stddef.h
  sdk/include/crt/stdexcpt.h
  sdk/include/crt/stdio.h
  sdk/include/crt/stdlib.h
  sdk/include/crt/string.h
  sdk/include/crt/tchar.h
  sdk/include/crt/time.h
  sdk/include/crt/typeinfo.h
  sdk/include/crt/wchar.h
  sdk/include/crt/wctype.h
  sdk/include/crt/yvals.h
  sdk/lib/crt/include/internal/locale.h
Labels: enhancement

#7473 [VERSION_APITEST] Add tests for VerQueryValue(A/W)
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/version/CMakeLists.txt
  modules/rostests/apitests/version/VerQueryValue.c
  modules/rostests/apitests/version/precomp.h
  modules/rostests/apitests/version/testlist.c
Labels: ROSTESTS

#7457 [CRT] Add C++ const correct overloads
  base/applications/rapps/loaddlg.cpp
  dll/win32/framedyn/chstring.cpp
  sdk/include/c++/cwchar
  sdk/include/crt/crtdefs.h
  sdk/include/crt/string.h
  sdk/include/crt/wchar.h
Labels: enhancement, bugfix

#7449 [VERSION] Fix VerQueryValue when return Value is NULL.
  dll/win32/version/version.c
Labels: bugfix

#7277 [NTUSER] IntSetTimer(): Update HintIndex on each call (update)
  win32ss/user/ntuser/timer.c
Labels: bugfix, Win32SS

#7476 [MORE] PagePrompt(): Optimize check to load string resources
  base/applications/cmdutils/more/more.c
Labels: enhancement

#7464 [SHELL32][SHELL32_APITEST] Fix ShellExecuteEx IDLIST folder
  dll/win32/shell32/shlexec.cpp
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/closewnd.cpp
  modules/rostests/apitests/shell32/closewnd.h
Labels: bugfix, ROSTESTS, shell

#7479 [NTGDI:FREETYPE] Account for non-breaking spaces in x-dim of IntExtTextOutW
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7430 [SHELL32] No new menu and working properties in Drives and NetHood background menu
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CNetFolder.cpp
Labels: bugfix, shell

#7483 [EXPLORER] Add tooltip for show desktop button
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
  base/shell/explorer/resource.h
  base/shell/explorer/traydeskbtn.cpp
  base/shell/explorer/traydeskbtn.h
Labels: enhancement, trivial fix, shell
