Repository reactos/reactos, pull requests merged in 2024-05, with the labels that each got.

#6767 [SHELL32][VFDLIB] Handle size check of CMINVOKECOMMANDINFOEX correctly
  dll/win32/shell32/CShellLink.cpp
  modules/rosapps/lib/vfdlib/vfdshmenu.cpp
Labels: bugfix, shell

#6365 [NTUSER] Fix co_IntSetParent when calling on itself
  win32ss/user/ntuser/window.c
Labels: bugfix, Win32SS

#6772 [SDK] ReleaseCComPtrExpectZero should print the relevant file:line
  sdk/include/reactos/shellutils.h
Labels: enhancement

#6794 [SHELL32] CFSFolder parsing must only apply bind data to the last item
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
Labels: bugfix, shell

#6766 [ZIPFLDR] Don't handle DFM_INVOKECOMMANDEX if you need DFM_INVOKECOMMAND
  dll/shellext/zipfldr/CZipFolder.hpp
Labels: bugfix, shell

#6833 [SHELL32] Fix keyboard navigation in file deletion dialog CORE-19564
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: bugfix, shell

#6823 [SDK:WINE] Improve wine/unicode.h (v)sprintfW defines, regarding the (v)swprintf functions.
  sdk/include/reactos/wine/unicode.h
Labels: enhancement, 3rd party sync

#6827 [NTUSER] Remove some extra repaints/redraws
  win32ss/user/ntuser/painting.c
Labels: bugfix, Win32SS

#6822 [SDK:WINE] Some minor additions to wine/test.h
  sdk/include/reactos/wine/test.h
Labels: enhancement, 3rd party sync

#6837 [NETCFGX] Fix missing keyboard navigation
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/el-GR.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/he-IL.rc
  dll/win32/netcfgx/lang/hu-HU.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/nl-NL.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/ru-RU.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-HK.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: enhancement, bugfix

#5868 [NTOS:EX] Various fixes for Daylight Saving Time transitions
  ntoskrnl/ex/time.c
Labels: bugfix, kernel&hal

#6846 [NTGDI][FREETYPE] Simplify code around bold/italic glyph caches
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring, janitorial, Win32SS

#6847 [NTGDI][FREETYPE] Increase STACK_TEXT_BUFFER_SIZE
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#6845 [CRT][NTDLL][MSVCRT] Add _swprintf implementation
  dll/ntdll/def/ntdll.spec
  dll/win32/msvcrt/msvcrt.spec
  sdk/lib/crt/printf/_swprintf.c
  sdk/lib/crt/printf/printf.cmake
Labels: NT6+

#6715 [PSEH/x64] Fix our GCC-SEH-plugin hack
  sdk/lib/pseh/include/pseh/pseh2_64.h
  sdk/tools/gcc_plugin_seh/main.cpp
Labels: bugfix, GCC-13

#6829 [WIN32K] Fix NULL pointer dereference in MENU_HideSubPopups
  win32ss/user/ntuser/menu.c
Labels: bugfix, Win32SS

#6817 [AUDIO] Implement retrieving current audio playback position
  dll/win32/wdmaud.drv/legacy.c
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/legacy/wdmaud/control.c
  drivers/wdm/audio/legacy/wdmaud/mmixer.c
  drivers/wdm/audio/legacy/wdmaud/wdmaud.h
  sdk/lib/drivers/sound/mmixer/mmixer.h
  sdk/lib/drivers/sound/mmixer/wave.c
Labels: enhancement, drivers

#6840 [REGEDIT] Fix unhandled exception when trying to create a key in root
  base/applications/regedit/treeview.c
Labels: bugfix

#6850 [NTGDI][FREETYPE] Check 'No transformation' for performance
  win32ss/gdi/ntgdi/freetype.c
Labels: Win32SS

#6834 [COMDLG32] Fix extra scrollbars in choose font dialog
  dll/win32/comdlg32/lang/cdlg_Bg.rc
  dll/win32/comdlg32/lang/cdlg_Ca.rc
  dll/win32/comdlg32/lang/cdlg_Cs.rc
  dll/win32/comdlg32/lang/cdlg_Da.rc
  dll/win32/comdlg32/lang/cdlg_De.rc
  dll/win32/comdlg32/lang/cdlg_El.rc
  dll/win32/comdlg32/lang/cdlg_En.rc
  dll/win32/comdlg32/lang/cdlg_Eo.rc
  dll/win32/comdlg32/lang/cdlg_Es.rc
  dll/win32/comdlg32/lang/cdlg_Et.rc
  dll/win32/comdlg32/lang/cdlg_Fi.rc
  dll/win32/comdlg32/lang/cdlg_Fr.rc
  dll/win32/comdlg32/lang/cdlg_He.rc
  dll/win32/comdlg32/lang/cdlg_Hi.rc
  dll/win32/comdlg32/lang/cdlg_Hu.rc
  dll/win32/comdlg32/lang/cdlg_Id.rc
  dll/win32/comdlg32/lang/cdlg_It.rc
  dll/win32/comdlg32/lang/cdlg_Ja.rc
  dll/win32/comdlg32/lang/cdlg_Ko.rc
  dll/win32/comdlg32/lang/cdlg_Lt.rc
  dll/win32/comdlg32/lang/cdlg_Nl.rc
  dll/win32/comdlg32/lang/cdlg_No.rc
  dll/win32/comdlg32/lang/cdlg_Pl.rc
  dll/win32/comdlg32/lang/cdlg_Pt.rc
  dll/win32/comdlg32/lang/cdlg_Ro.rc
  dll/win32/comdlg32/lang/cdlg_Ru.rc
  dll/win32/comdlg32/lang/cdlg_Si.rc
  dll/win32/comdlg32/lang/cdlg_Sk.rc
  dll/win32/comdlg32/lang/cdlg_Sq.rc
  dll/win32/comdlg32/lang/cdlg_Sr.rc
  dll/win32/comdlg32/lang/cdlg_Sv.rc
  dll/win32/comdlg32/lang/cdlg_Th.rc
  dll/win32/comdlg32/lang/cdlg_Tr.rc
  dll/win32/comdlg32/lang/cdlg_Uk.rc
  dll/win32/comdlg32/lang/cdlg_Zh.rc
Labels: enhancement

#6851 [NTGDI][FREETYPE] Initial support of Surrogate Pairs and emojis
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement, Win32SS

#6815 [SETUPLIB] Improve the INI helpers; migrate old FreeLdr "Drive/Partition" types and "BootDrive/BootPartition" values
  base/setup/lib/bootsup.c
  base/setup/lib/utils/bldrsup.c
  base/setup/lib/utils/bldrsup.h
Labels: enhancement, refactoring, 1st stage GUI setup

#6819 [NTUSER] Fix Skype and other programs installer windows not able to be moved with mouse by clicking on title bar
  win32ss/user/ntuser/msgqueue.c
Labels: bugfix, Win32SS

#6697 [NTUSER] Fix double click on title bar icon not closing window
  win32ss/user/ntuser/menu.c
Labels: bugfix, Win32SS

#6836 [INETCPL] Fix missing keyboard navigation
  dll/cpl/inetcpl/lang/He.rc
  dll/cpl/inetcpl/lang/Sr.rc
  dll/cpl/inetcpl/lang/bg-BG.rc
  dll/cpl/inetcpl/lang/cs-CZ.rc
  dll/cpl/inetcpl/lang/de-DE.rc
  dll/cpl/inetcpl/lang/en-US.rc
  dll/cpl/inetcpl/lang/es-ES.rc
  dll/cpl/inetcpl/lang/fr-FR.rc
  dll/cpl/inetcpl/lang/id-ID.rc
  dll/cpl/inetcpl/lang/it-IT.rc
  dll/cpl/inetcpl/lang/ja-JP.rc
  dll/cpl/inetcpl/lang/ko-KR.rc
  dll/cpl/inetcpl/lang/lt-LT.rc
  dll/cpl/inetcpl/lang/nl-NL.rc
  dll/cpl/inetcpl/lang/pl-PL.rc
  dll/cpl/inetcpl/lang/pt-BR.rc
  dll/cpl/inetcpl/lang/pt-PT.rc
  dll/cpl/inetcpl/lang/ro-RO.rc
  dll/cpl/inetcpl/lang/ru-RU.rc
  dll/cpl/inetcpl/lang/sq-AL.rc
  dll/cpl/inetcpl/lang/sv-SE.rc
  dll/cpl/inetcpl/lang/tr-TR.rc
  dll/cpl/inetcpl/lang/uk-UA.rc
  dll/cpl/inetcpl/lang/zh-CN.rc
  dll/cpl/inetcpl/lang/zh-TW.rc
Labels: enhancement, bugfix

#6835 [EVENTVWR] Fix missing keyboard navigation
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
Labels: enhancement

#6652 [RAPPS] Automatically generate installer/uninstaller for downloaded zip/cab files
  base/applications/rapps/CMakeLists.txt
  base/applications/rapps/appdb.cpp
  base/applications/rapps/appinfo.cpp
  base/applications/rapps/cabinet.cpp
  base/applications/rapps/configparser.cpp
  base/applications/rapps/geninst.cpp
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/appdb.h
  base/applications/rapps/include/appinfo.h
  base/applications/rapps/include/configparser.h
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/resource.h
  base/applications/rapps/include/unattended.h
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/misc.cpp
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement

#5745 [CMD][BOOTDATA] Minor improvements
  base/shell/cmd/cmd.c
  base/shell/cmd/cmd.h
  base/shell/cmd/lang/cs-CZ.rc
  base/shell/cmd/lang/de-DE.rc
  base/shell/cmd/lang/el-GR.rc
  base/shell/cmd/lang/en-US.rc
  base/shell/cmd/lang/es-ES.rc
  base/shell/cmd/lang/fr-FR.rc
  base/shell/cmd/lang/hu-HU.rc
  base/shell/cmd/lang/id-ID.rc
  base/shell/cmd/lang/it-IT.rc
  base/shell/cmd/lang/ja-JP.rc
  base/shell/cmd/lang/no-NO.rc
  base/shell/cmd/lang/pl-PL.rc
  base/shell/cmd/lang/pt-BR.rc
  base/shell/cmd/lang/pt-PT.rc
  base/shell/cmd/lang/ro-RO.rc
  base/shell/cmd/lang/ru-RU.rc
  base/shell/cmd/lang/sk-SK.rc
  base/shell/cmd/lang/sq-AL.rc
  base/shell/cmd/lang/sv-SE.rc
  base/shell/cmd/lang/tr-TR.rc
  base/shell/cmd/lang/uk-UA.rc
  base/shell/cmd/lang/zh-CN.rc
  base/shell/cmd/lang/zh-TW.rc
  base/shell/cmd/prompt.c
  base/shell/cmd/resource.h
  base/shell/cmd/ver.c
  boot/bootdata/hivesys.inf
Labels: enhancement, refactoring

#6781 [BROWSEUI] GetControlWindow must support FCW_TREE for DefView usage
  dll/win32/browseui/shellbrowser.cpp
  sdk/include/reactos/shlobj_undoc.h
Labels: enhancement, shell

#6779 [SHELL32] Use common default DFM callback message handler
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CNetFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shlfolder.cpp
Labels: bugfix, refactoring, shell

#6864 [RAPPS] Fix refresh not working correctly
  base/applications/rapps/gui.cpp
Labels: bugfix

#6742 [SHIMGVW] Update Romanian (ro-RO) translation
  dll/win32/shimgvw/lang/ro-RO.rc
Labels: TRANSLATION

#6704 [USER32] Update Romanian (ro-RO) translation
  win32ss/user/user32/lang/ro-RO.rc
Labels: TRANSLATION, Win32SS

#6689 [DESKADP] Update Romanian (ro-RO) translation
  dll/shellext/deskadp/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6664 [MAGNIFY] Update Romanian (ro-RO) translation
  base/applications/magnify/lang/ro-RO.rc
Labels: TRANSLATION

#6668 [JOY] Update Romanian (ro-RO) translation
  dll/cpl/joy/lang/ro-RO.rc
Labels: TRANSLATION

#6706 [OSK] Update Romanian (ro-RO) translation
  base/applications/osk/lang/ro-RO.rc
Labels: TRANSLATION

#6773 [WINLOGON] Update Romanian (ro-RO) translation
  base/system/winlogon/lang/ro-RO.rc
Labels: TRANSLATION

#6666 [DESKMON] Update Romanian (ro-RO) translation
  dll/shellext/deskmon/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6841 [MSTSC] Update Romanian (ro-RO) translation
  base/applications/mstsc/lang/ro-RO.rc
Labels: TRANSLATION

#6517 [DOC] Update Romanian translation notes.txt
  media/doc/Romanian translation notes.txt
Labels: TRANSLATION, documentation

#6867 [SNDVOL32] Add CTRL-S hotkey to switch between Small and Normal modes
  base/applications/sndvol32/sndvol32.c
  base/applications/sndvol32/sndvol32.h
Labels: enhancement

#6853 [SHELL32] Browse for Folder: added keyboard navigation
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: enhancement, bugfix, shell

#6860 [RAPPS] DelRegEmpty instruction should be best-effort, don't propagate errors
  base/applications/rapps/geninst.cpp
Labels: bugfix

#6871 [SHELL32] ShellExecute: Re-work Part 1
  dll/win32/shell32/shlexec.cpp
Labels: enhancement, shell

#5940 [W32TIME] Change clock update interval to 4 hours
  base/services/w32time/register.c
  base/services/w32time/w32time.c
  base/services/w32time/w32time.h
Labels: bugfix

#6862 [SHELL32] Coalesce DefView item changed statusbar updates
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, shell, ship-it

#6882 [SHELL32] ShellExecute: Re-work Part 2
  dll/win32/shell32/shlexec.cpp
Labels: refactoring, shell

#6880 [NOTEPAD] Use FILE_SHARE_READ and OPEN_ALWAYS for writing
  base/applications/notepad/dialog.c
Labels: bugfix, review pending

#6883 [WORDPAD] Use FILE_SHARE_READ and OPEN_ALWAYS for writing
  base/applications/wordpad/wordpad.c
Labels: bugfix

#6885 [NTGDI] AlphaBlend/TransparentBlt: check whether the source DC is an Info DC too
  win32ss/gdi/ntgdi/bitblt.c
Labels: trivial fix, Win32SS

#6879 [SHLWAPI][SHLWAPI_APITEST][SDK] PathFileExistsDefExtAndAttributesW
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/PathFileExistsDefExtAndAttributesW.c
  modules/rostests/apitests/shlwapi/testlist.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, ROSTESTS

#3872 [GITHUB] Remove VS 2015 build from the CI
  .github/workflows/build.yml
  README.md
Labels: refactoring, ship-it

#6892 [SHELL32_APITEST] Add SHSimpleIDListFromPath testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHSimpleIDListFromPath.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: enhancement, ROSTESTS

#6888 [LUNAR] Fix SizingMargins for the taskbar and notification area backgrounds
  media/themes/Lunar/lunar.msstyles/textfiles/ExtraLargeReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/LargeFontsReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Labels: enhancement, modding, no squash merge

#6895 [REGEDIT] Check the correct value in WM_ACTIVATE
  base/applications/regedit/framewnd.c
Labels: bugfix

#6898 [SHELL32][SDK] SHChangeNotify: Re-work Part 1
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/wine/pidl.c
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, bugfix, shell

#6896 Nitpick styling update of README.md
  README.md
Labels: documentation

#6903 [SHELL32] SHBrowseForFolder: Refactor brsfolder.c
  dll/win32/shell32/wine/brsfolder.c
Labels: refactoring, shell

#6893 [SHLWAPI][SDK] Add IShellFolder_... helper functions
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  sdk/include/psdk/shobjidl.idl
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#6902 [SHELL32] Introduce 'HDELFILE' handle type
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
Labels: refactoring, shell

#6906 [SHELL32] Make brsfolder.c C++ (as brsfolder.cpp)
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/brsfolder.cpp
Labels: refactoring, shell

#6140 [CSCRIPT][WSCRIPT][BOOTDATA] Basic .wsf support
  base/applications/cmdutils/cscript/CMakeLists.txt
  base/applications/cmdutils/wscript/CMakeLists.txt
  base/applications/cmdutils/wscript/main.c
  boot/bootdata/hivecls.inf
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/wscript/CMakeLists.txt
  modules/rostests/apitests/wscript/testlist.c
  modules/rostests/apitests/wscript/wsf.c
Labels: enhancement, ROSTESTS

#6890 [REGEDIT] Implement "Add to favorites" feature
  base/applications/regedit/framewnd.c
Labels: enhancement

#5651 [NTOS:MM] section.c: some trivial cleanup
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/section.c
Labels: refactoring, kernel&hal, no-pr-activity

#6844 [SHELL32] ro-RO.rc Improvement
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6919 [SHELL32] Implement CSIDL_CONNECTIONS and fix CSIDL_PRINTERS
  dll/win32/shell32/precomp.h
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/shellpath.c
Labels: enhancement, shell

#6832 [BROWSEUI][COMCTL32] Handle rename on other folders in Explorer bar tree
  dll/win32/browseui/explorerband.cpp
  dll/win32/browseui/explorerband.h
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/utility.cpp
  dll/win32/browseui/utility.h
  dll/win32/comctl32/listview.c
Labels: bugfix, shell, ship-it

#6861 [SHELL32] RC: Fix some FIXMEs, add others
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: shell

#6915 [SHELL32] CDirectoryWatcher: Check if window is alive
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.cpp
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.cpp
  dll/win32/shell32/shelldesktop/CDirectoryWatcher.h
Labels: bugfix, shell

#6924 [SHELL32] el-GR.rc: Strip undesired format-string
  dll/win32/shell32/lang/el-GR.rc
Labels: trivial fix, shell

#6920 [CMAKE] Stop explicitly setting the C standard
  dll/keyboard/CMakeLists.txt
  drivers/filesystems/cdfs/CMakeLists.txt
  drivers/filesystems/ext2/CMakeLists.txt
  drivers/filesystems/nfs/CMakeLists.txt
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/rtl/CMakeLists.txt
Labels: enhancement, ROSTESTS, drivers

#6929 [BOOTDATA][INF] Add FontLink registry entries
  boot/bootdata/hivesft.inf
Labels: enhancement

#6916 [SHELL32] Don't free original PIDLs in CDefView::OnChangeNotify
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
Labels: bugfix, shell

#6869 [CMAKE] Fix system boot crash when compiled as NT6+
  sdk/cmake/baseaddress.cmake
  sdk/cmake/baseaddress_msvc.cmake
Labels: bugfix, NT6+

#6930 [SYSSETUP] Fix theme switcher
  dll/win32/syssetup/wizard.c
Labels: bugfix, no squash merge

#6923 [NTUSER] menu.c position fix to not hide 'Close'
  win32ss/user/ntuser/menu.c
Labels: bugfix, Win32SS

#6936 [SHELL32] brfolder.cpp: Follow-up of af03438
  dll/win32/shell32/brfolder.cpp
Labels: bugfix, shell

#6934 [SHELL32] Reorder IDD_BROWSE_FOR_FOLDER dialog items
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: bugfix, shell

#6937 [SHELL32] IDD_BROWSE_FOR_FOLDER: Use IDOK for 1, IDCANCEL for 2
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: refactoring, shell

#6938 [SHELL32] brfolder.cpp: Adopt SHCNRF_NewDelivery method
  dll/win32/shell32/brfolder.cpp
Labels: enhancement, shell

#6927 [SHELL32] Fix accelerator collision in Portuguese (pt-PT) translation
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION, bugfix, shell

#6941 [SHELL32] CDefView: Implement SFVM_GETCOMMANDIR callback
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, shell

#6943 [SHELL32] CDefView: Implement SFVM_COLUMNCLICK callback
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, shell

#6945 [SHELL32] CDefView: Implement SFVM_CANSELECTALL callback
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, shell

#6946 [SHELL32] brfolder.cpp: Remove pEnumIL member
  dll/win32/shell32/brfolder.cpp
Labels: refactoring, shell

#6944 [SHELL32][BROWSEUI] CDefView: Implement SFVM_ADDPROPERTYPAGES callback
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
  sdk/include/psdk/shlobj.h
Labels: enhancement, shell

#6942 [SHELL32] CDefView: Implement SFVM_GETNAMELENGTH callback
  dll/win32/shell32/CDefView.cpp
Labels: enhancement, shell

#5767 [SHELL32] Refactor DefView column handling
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefViewBckgrndMenu.cpp
Labels: enhancement, refactoring, shell

#6962 [BOOTDATA][IMM32][NTUSER] Follow-up to #6961
  boot/bootdata/hivesft.inf
  dll/win32/imm32/utils.c
  win32ss/user/ntuser/metric.c
Labels: refactoring, Win32SS, input method

#6955 [NTGDI][FREETYPE] Unload font engine on system shut-down
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.h
  win32ss/user/ntuser/main.c
Labels: enhancement, Win32SS

#6966 [SHELL32] CDefView::InvokeContextMenuCommand must specify a showcmd
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#6952 [SHELL32] Implement SHBrowseForFolder items contextmenu
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/utils.cpp
Labels: enhancement, shell

#6894 [SHELL32_APITEST] Stricter SHSimpleIDListFromPath tests
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ItemIDList.cpp
  modules/rostests/apitests/shell32/SHSimpleIDListFromPath.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS

#6965 [SHELL32] brfolder.cpp: Refresh items
  dll/win32/shell32/brfolder.cpp
Labels: enhancement, bugfix, shell

#6383 [CMAKE] Clang*: Add '-Werror=unknown-warning-option' for C/CXX
  base/applications/network/telnet/CMakeLists.txt
  drivers/filesystems/udfs/Include/mem_tools.h
  modules/rosapps/applications/devutils/createspec/CMakeLists.txt
  modules/rostests/winetests/msvcrt/CMakeLists.txt
  sdk/cmake/gcc.cmake
  sdk/cmake/msvc.cmake
Labels: ROSTESTS, warnings, drivers

#6964 [REGEDIT] *.rc Improve accels and harmonize a bit, especially de-DE
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: enhancement
