Repository reactos/reactos, pull requests merged in 2024-03, with the labels that each got.

#6562 [CMD] Enable Ctrl+H (^H) as backspace
  base/shell/cmd/cmdinput.c
Labels: enhancement

#6561 [NTOS:KE/x64] Gracefully handle invalid Vector in KeConnectInterrupt
  ntoskrnl/ke/amd64/interrupt.c
Labels: bugfix, kernel&hal

#6567 [ACPPAGE] Use STDMETHOD macro and keyword override
  dll/shellext/acppage/CLayerStringList.hpp
Labels: refactoring, shell

#6568 [NETSHELL] Use STDMETHOD macro and keyword override
  dll/shellext/netshell/connectmanager.h
  dll/shellext/netshell/enumlist.cpp
  dll/shellext/netshell/lanconnectui.h
  dll/shellext/netshell/lanstatusui.h
  dll/shellext/netshell/shfldr_netconnect.h
Labels: refactoring, shell

#6575 [RSHELL] Use STDMETHOD macro and keyword override
  base/shell/rshell/CQuickLaunchBand.h
Labels: refactoring, shell

#6573 [NTOS:EX] Remove an ASSERT in ExpInsertPoolTracker
  ntoskrnl/mm/ARM3/expool.c
Labels: trivial fix, kernel&hal, SMP

#6419 [SHELL32] Allow using custom shortcut icons specified by user
  dll/win32/shell32/CNewMenu.cpp
  dll/win32/shell32/CNewMenu.h
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/iconcache.cpp
  dll/win32/shell32/wine/classes.c
Labels: enhancement, bugfix, shell, ship-it

#6569 [BROWSEUI] Use STDMETHOD macro and keyword override
  dll/win32/browseui/CProgressDialog.h
  dll/win32/browseui/CTaskbarList.h
  dll/win32/browseui/aclistisf.h
  dll/win32/browseui/aclmulti.h
  dll/win32/browseui/addressband.h
  dll/win32/browseui/addresseditbox.h
  dll/win32/browseui/bandproxy.h
  dll/win32/browseui/basebarsite.cpp
  dll/win32/browseui/brandband.h
  dll/win32/browseui/commonbrowser.h
  dll/win32/browseui/explorerband.h
  dll/win32/browseui/globalfoldersettings.h
  dll/win32/browseui/internettoolbar.cpp
  dll/win32/browseui/internettoolbar.h
  dll/win32/browseui/regtreeoptions.h
  dll/win32/browseui/shellbars/CBandSite.h
  dll/win32/browseui/shellbars/CBandSiteMenu.h
  dll/win32/browseui/shellbars/CBaseBar.cpp
  dll/win32/browseui/shellbars/CISFBand.h
  dll/win32/browseui/shellbars/CSHEnumClassesOfCategories.cpp
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellfind/CSearchBar.h
  dll/win32/browseui/toolsband.cpp
  dll/win32/browseui/travellog.cpp
Labels: refactoring, shell

#6570 [SHELL32] Use STDMETHOD macro and keyword override
  dll/win32/shell32/CActiveDesktop.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefViewBckgrndMenu.cpp
  dll/win32/shell32/CDefViewDual.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CDropTargetHelper.h
  dll/win32/shell32/CEnumIDListBase.h
  dll/win32/shell32/CExtractIcon.cpp
  dll/win32/shell32/CFileSysBindData.cpp
  dll/win32/shell32/CFolder.h
  dll/win32/shell32/CFolderItemVerbs.h
  dll/win32/shell32/CFolderItems.h
  dll/win32/shell32/CFolderOptions.h
  dll/win32/shell32/CIDLDataObj.cpp
  dll/win32/shell32/CNewMenu.h
  dll/win32/shell32/COpenWithMenu.h
  dll/win32/shell32/CQueryAssociations.h
  dll/win32/shell32/CShellDispatch.h
  dll/win32/shell32/CShellItem.h
  dll/win32/shell32/CShellLink.h
  dll/win32/shell32/CUserNotification.h
  dll/win32/shell32/dialogs/drvdefext.h
  dll/win32/shell32/dialogs/filedefext.h
  dll/win32/shell32/droptargets/CFSDropTarget.h
  dll/win32/shell32/droptargets/CRecyclerDropTarget.cpp
  dll/win32/shell32/droptargets/CexeDropHandler.h
  dll/win32/shell32/folders/CAdminToolsFolder.h
  dll/win32/shell32/folders/CControlPanelFolder.h
  dll/win32/shell32/folders/CDesktopFolder.h
  dll/win32/shell32/folders/CDrivesFolder.h
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CFontsFolder.h
  dll/win32/shell32/folders/CMyDocsFolder.h
  dll/win32/shell32/folders/CNetFolder.h
  dll/win32/shell32/folders/CPrinterFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/folders/CRecycleBin.h
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shelldesktop/CChangeNotifyServer.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shellmenu/CMenuBand.h
  dll/win32/shell32/shellmenu/CMenuDeskBar.h
  dll/win32/shell32/shellmenu/CMenuSite.h
  dll/win32/shell32/shellmenu/CMenuToolbars.h
  dll/win32/shell32/shellmenu/CMergedFolder.cpp
  dll/win32/shell32/shellmenu/CMergedFolder.h
Labels: refactoring, shell

#6519 [MSHTML] Update Romanian (ro-RO) translation
  dll/win32/mshtml/lang/Ro.rc
Labels: TRANSLATION

#6574 [ATL] Implement CSimpleStringT::Preallocate
  sdk/lib/atl/atlsimpstr.h
Labels: enhancement, ATL

#6564 [SDK][USER32_APITEST] Add GW_ENABLEDPOPUP testcase
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/GW_ENABLEDPOPUP.c
  modules/rostests/apitests/user32/testlist.c
  sdk/include/psdk/winuser.h
Labels: enhancement, ROSTESTS

#6563 [NTDLL][NTDLL_APITEST] Add LdrLoadDll testcase
  dll/ntdll/ldr/ldrutils.c
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/LdrLoadDll.c
  modules/rostests/apitests/ntdll/testlist.c
Labels: enhancement, ROSTESTS

#6579 [BROWSEUI] Fix CExplorerBand Right-Dragging menu
  dll/win32/browseui/explorerband.cpp
Labels: bugfix, shell

#6576 [MYDOCS] Add missing icons expected by 3rd party applications
  dll/shellext/mydocs/CMakeLists.txt
  dll/shellext/mydocs/mydocs.rc
Labels: bugfix, shell

#6583 [SHELL32_APITEST] Improve FindExecutable testcase
  modules/rostests/apitests/shell32/FindExecutable.cpp
Labels: bugfix, ROSTESTS

#6582 [SHELL32_APITEST] Improve ShellHook testcase
  modules/rostests/apitests/shell32/ShellHook.cpp
  modules/rostests/apitests/shell32/resource.rc
Labels: bugfix, ROSTESTS

#6584 [MSCTFIME][SDK] Add CInputContextOwner (stub)
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6585 [MSCTFIME] Half-implement CicBridge::EscapeKorean
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/bridge.h
Labels: enhancement, input method

#6586 [MSCTFIME] Implement CicBridge::Notify
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/bridge.h
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
Labels: enhancement, input method

#6587 [MSCTF][SDK] Implement multi-language handling
  dll/win32/msctf/CMakeLists.txt
  dll/win32/msctf/mlng.cpp
  dll/win32/msctf/mlng.h
  dll/win32/msctf/msctf.c
  dll/win32/msctf/msctf.spec
  dll/win32/msctf/utils.cpp
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6588 [KBSWITCH][INPUT][SDK] Use <imm32_undoc.h>'s IS_IME_HKL
  base/applications/kbswitch/kbswitch.c
  dll/cpl/input/input.h
  sdk/include/reactos/imm32_undoc.h
Labels: refactoring, input method

#6589 [MSCTF] Implement GetHKLSubstitute
  dll/win32/msctf/CMakeLists.txt
  dll/win32/msctf/mlng.cpp
  dll/win32/msctf/mlng.h
Labels: enhancement, input method

#6590 [IMM32_APITEST] Add KLID testcase
  modules/rostests/apitests/imm32/CMakeLists.txt
  modules/rostests/apitests/imm32/KLID.c
  modules/rostests/apitests/imm32/testlist.c
Labels: enhancement, ROSTESTS, input method

#6526 [SDK:NDK/XDK] Remove x86 KeGetPcr() definition from the DDK
  sdk/include/ndk/i386/ketypes.h
  sdk/include/xdk/x86/ke.h
Labels: bugfix

#6547 [KILL] Improve its behavior
  modules/rosapps/applications/sysutils/kill/kill.c
Labels: enhancement, refactoring

#6560 [SHELL32][SHLWAPI][SDK] Implement SHRestricted etc.
  dll/win32/shell32/wine/PolicyData.h
  dll/win32/shell32/wine/shpolicy.c
  dll/win32/shlwapi/ordinal.c
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix, shell

#6592 [EXPLORER][SHELL32][SDK] Show/hide 'Run' menu item
  base/shell/explorer/precomp.h
  base/shell/explorer/startmnucust.cpp
  base/shell/explorer/startmnusite.cpp
  base/shell/explorer/util.cpp
  dll/win32/shell32/dialogs/general.cpp
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#6551 [BOOT] Don't create empty CSIDL_ADMINTOOLS folder
  boot/boot_images.cmake
Labels: bugfix

#6594 [EXPLORER][SHELL32] Expand/unexpand My Documents menu
  base/shell/explorer/resource.h
  base/shell/explorer/startmnucust.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shellmenu/CStartMenu.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement, shell

#6595 [EXPLORER][SHELL32] Expand/unexpand Control Panel menu
  base/shell/explorer/resource.h
  base/shell/explorer/startmnucust.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shellmenu/CStartMenu.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement, shell

#6596 [EXPLORER][SHELL32] Fix and improve Start Menu customization
  base/shell/explorer/precomp.h
  base/shell/explorer/startmnucust.cpp
  base/shell/explorer/startmnusite.cpp
  base/shell/explorer/util.cpp
  dll/win32/shell32/shellmenu/CStartMenu.cpp
Labels: bugfix, refactoring, shell

#6598 [EXPLORER][SHELL32] Show/hide 'Admin tools' menu
  base/shell/explorer/startmnucust.cpp
  dll/win32/shell32/shellmenu/CMenuToolbars.cpp
  dll/win32/shell32/shellmenu/CStartMenu.cpp
Labels: enhancement, shell

#6427 [NTUSER] Fix PeekMessageA for MsgFilterLow/High mouse clicks
  win32ss/user/ntuser/msgqueue.c
Labels: bugfix, Win32SS

#6603 [EXPLORER] Start Menu Customize: Use TreeView_GetRoot
  base/shell/explorer/startmnucust.cpp
Labels: bugfix, shell

#6604 [SHELL32] Start Menu Customize: Fix bMustHideAdminTools
  dll/win32/shell32/shellmenu/CMenuToolbars.cpp
Labels: bugfix, shell

#6605 [MSUTB] Implement CLangBarItemList
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6606 [SHELL32] Start Menu: Enhance context menu
  dll/win32/shell32/shellmenu/CStartMenu.cpp
Labels: enhancement, shell

#6607 [SHELL32] CGuidItemContextMenu: Fix pwszCLSID leak
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, trivial fix, shell

#5566 [USER32] Show Debug Log Message when unhandled PNG found in ICO file
  win32ss/user/user32/windows/cursoricon.c
Labels: no-pr-activity, Win32SS

#6608 [COMCTL32] TreeView: Fix selection display on checking checkbox
  dll/win32/comctl32/treeview.c
Labels: bugfix

#6609 [BROWSEUI] Search: Add WS_BORDER to IDC_SEARCH_COMBOBOX
  dll/win32/browseui/lang/bg-BG.rc
  dll/win32/browseui/lang/de-DE.rc
  dll/win32/browseui/lang/en-US.rc
  dll/win32/browseui/lang/es-ES.rc
  dll/win32/browseui/lang/et-EE.rc
  dll/win32/browseui/lang/eu-ES.rc
  dll/win32/browseui/lang/fr-FR.rc
  dll/win32/browseui/lang/he-IL.rc
  dll/win32/browseui/lang/hi-IN.rc
  dll/win32/browseui/lang/hu-HU.rc
  dll/win32/browseui/lang/id-ID.rc
  dll/win32/browseui/lang/it-IT.rc
  dll/win32/browseui/lang/ja-JP.rc
  dll/win32/browseui/lang/pl-PL.rc
  dll/win32/browseui/lang/pt-BR.rc
  dll/win32/browseui/lang/pt-PT.rc
  dll/win32/browseui/lang/ro-RO.rc
  dll/win32/browseui/lang/ru-RU.rc
  dll/win32/browseui/lang/sq-AL.rc
  dll/win32/browseui/lang/tr-TR.rc
  dll/win32/browseui/lang/uk-UA.rc
  dll/win32/browseui/lang/zh-CN.rc
  dll/win32/browseui/lang/zh-TW.rc
Labels: bugfix, trivial fix, modding, shell

#6597 [SHELL32] Update Polish (pl-PL) translation v2
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION, shell

#6426 [NTUSER] Fix sticky mouse buttons
  win32ss/user/ntuser/nonclient.c
Labels: enhancement, bugfix, Win32SS

#6617 [SHELL32_APITEST] Make ShellExecuteEx testcase stable
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
Labels: enhancement, bugfix, ROSTESTS

#6610 [BROWSEUI] Delete WS_BORDER and owner-drawing from IDC_SEARCH_COMBOBOX
  dll/win32/browseui/lang/bg-BG.rc
  dll/win32/browseui/lang/de-DE.rc
  dll/win32/browseui/lang/en-US.rc
  dll/win32/browseui/lang/es-ES.rc
  dll/win32/browseui/lang/et-EE.rc
  dll/win32/browseui/lang/eu-ES.rc
  dll/win32/browseui/lang/fr-FR.rc
  dll/win32/browseui/lang/he-IL.rc
  dll/win32/browseui/lang/hi-IN.rc
  dll/win32/browseui/lang/hu-HU.rc
  dll/win32/browseui/lang/id-ID.rc
  dll/win32/browseui/lang/it-IT.rc
  dll/win32/browseui/lang/ja-JP.rc
  dll/win32/browseui/lang/pl-PL.rc
  dll/win32/browseui/lang/pt-BR.rc
  dll/win32/browseui/lang/pt-PT.rc
  dll/win32/browseui/lang/ro-RO.rc
  dll/win32/browseui/lang/ru-RU.rc
  dll/win32/browseui/lang/sq-AL.rc
  dll/win32/browseui/lang/tr-TR.rc
  dll/win32/browseui/lang/uk-UA.rc
  dll/win32/browseui/lang/zh-CN.rc
  dll/win32/browseui/lang/zh-TW.rc
Labels: bugfix, shell

#6621 [SHELL32] Add transparent icon resource
  dll/win32/shell32/icon_res.rc
  dll/win32/shell32/res/icons/50.ico
  dll/win32/shell32/shresdef.h
Labels: bugfix, shell, ship-it

#6620 [SHLWAPI] Implement SHSetDefaultDialogFont
  dll/win32/shlwapi/ordinal.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#6618 [SHELL32_APITEST] ShellExecuteEx: Fix command line checker
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
Labels: bugfix, ROSTESTS

#6624 [SDK][MC] errcodes.mc: Add Japanese (ja-JP) translation
  sdk/include/reactos/mc/errcodes.mc
Labels: enhancement, TRANSLATION

#6627 [CMAKE] Update sdk/cmake/baseaddress(,_msvc).cmake
  sdk/cmake/baseaddress.cmake
  sdk/cmake/baseaddress_msvc.cmake
Labels: bugfix

#6628 [TOOLS] gen_baseaddress.py: Add '.ime' to ALL_EXTENSIONS
  sdk/tools/gen_baseaddress.py
Labels: enhancement, trivial fix

#6626 [RAPPS][SHLWAPI][SDK] Un-escape URL filename
  base/applications/rapps/loaddlg.cpp
  dll/win32/shlwapi/path.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix

#6631 [MSUTB][SDK] Use QISearch for QueryInterface
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
  sdk/include/psdk/shlwapi.h
Labels: refactoring, input method

#6630 [MSCTFIME] Use QISearch for QueryInterface
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/misc.cpp
  dll/ime/msctfime/sinks.cpp
Labels: refactoring, input method

#6632 [MSPAINT] Support JPEG/PNG/GIF/TIFF wallpapers
  base/applications/mspaint/main.cpp
  base/applications/mspaint/registry.cpp
Labels: enhancement

#6634 [SHELL32_APITEST] Enhance FindExecutable testcase
  modules/rostests/apitests/shell32/FindExecutable.cpp
Labels: enhancement, ROSTESTS

#5849 [SHELL32][SDK] Implement RealShellExecute(,Ex)(A,W)
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/stubs.cpp
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#6636 [SHLWAPI] SHLWAPI_DEF_ASSOCF: Add ASSOCF_INIT_NOREMAPCLSID
  dll/win32/shlwapi/assoc.c
Labels: bugfix, trivial fix

#6638 [RTL/x64] Fix a GCC compiler warning
  sdk/lib/rtl/slist.c
Labels: warnings, GCC-13

#6639 [NTOS:EX] Fix a loop bug
  ntoskrnl/inbv/inbv.c
Labels: bugfix, kernel&hal

#6640 [HDAUDBUS] Silence debug spam
  drivers/wdm/audio/hdaudbus/fdo.cpp
  drivers/wdm/audio/hdaudbus/hdaudbus.h
Labels: trivial fix, drivers

#6641 [DBGHELP] Remove useless broken CMake defines
  dll/win32/dbghelp/CMakeLists.txt
Labels: warnings

#6637 [CRT] intrin_x86.h: Use movsl instead of movsd to fix a GCC 13 warning
  sdk/include/crt/mingw32/intrin_x86.h
Labels: warnings, GCC-13

#6646 [EXPLORER][SHELL32] Smaller Start Menu
  base/shell/explorer/precomp.h
  base/shell/explorer/resource.h
  base/shell/explorer/settings.cpp
  base/shell/explorer/startmnu.cpp
  base/shell/explorer/startmnucust.cpp
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shellmenu/CMenuDeskBar.cpp
  dll/win32/shell32/shresdef.h
Labels: enhancement, shell

#6647 [SHELL32_APITEST] Add RealShellExecuteEx testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/RealShellExecuteEx.cpp
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/closewnd.cpp
  modules/rostests/apitests/shell32/closewnd.h
  modules/rostests/apitests/shell32/testlist.c
Labels: enhancement, ROSTESTS

#6648 [SHLWAPI_APITEST] Add AssocQueryString testcase
  modules/rostests/apitests/shlwapi/AssocQueryString.c
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/testlist.c
Labels: enhancement, ROSTESTS

#6619 [WIN32SS][USER32] Refactor USER32 callbacks
  win32ss/include/callback.h
  win32ss/include/u32cb.h
  win32ss/user/user32/misc/dllmain.c
Labels: refactoring, Win32SS

#6651 [EXPLORER] Start menu: Fix Small Icons flag
  base/shell/explorer/precomp.h
  base/shell/explorer/settings.cpp
  base/shell/explorer/startmnu.cpp
  base/shell/explorer/startmnucust.cpp
  base/shell/explorer/traywnd.cpp
Labels: bugfix, shell

#6653 [RSYM/x64] Sync UNW_FLAG_* values
  sdk/tools/rsym/rsym64.h
Labels: trivial fix

#6506 [NET][MC] Update Romanian (ro-RO) translation for message table
  sdk/include/reactos/mc/net_msg.mc
Labels: TRANSLATION

#6507 [OPENGLCFG] Update Romanian (ro-RO) translation
  dll/cpl/openglcfg/lang/ro-RO.rc
Labels: TRANSLATION

#6509 [DISKPART][MC] Update Romanian (ro-RO) translation for message table
  base/system/diskpart/diskpart_msg.mc
Labels: TRANSLATION

#6511 [MSPAINT] Update Romanian (ro-RO) translation
  base/applications/mspaint/lang/ro-RO.rc
Labels: TRANSLATION

#6518 [EVENTVWR] Update Romanian (ro-RO) translation
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
Labels: TRANSLATION

#6527 [WININET] Update Romanian (ro-RO) translation
  dll/win32/wininet/lang/wininet_Ro.rc
Labels: TRANSLATION

#6528 [NOTEPAD] Update Romanian (ro-RO) translation
  base/applications/notepad/lang/ro-RO.rc
Labels: TRANSLATION

#6529 [DEVMGR] Update Romanian (ro-RO) translation
  dll/win32/devmgr/lang/ro-RO.rc
Labels: TRANSLATION

#6535 [CLIPBRD] Update Romanian (ro-RO) translation
  base/applications/clipbrd/lang/ro-RO.rc
Labels: TRANSLATION

#6532 [APPWIZ] Improve Romanian (ro-RO) translation
  dll/cpl/appwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6533 [MSCONFIG] Update Romanian (ro-RO) translation
  base/applications/msconfig/lang/ro-RO.rc
Labels: TRANSLATION

#6644 [HOTPLUG] Add Romanian (ro-RO) translation
  dll/cpl/hotplug/lang/ro-RO.rc
Labels: TRANSLATION

#6612 [SNDVOL32] Update Romanian (ro-RO) translation
  base/applications/sndvol32/lang/ro-RO.rc
Labels: TRANSLATION

#6613 [TIMEDATE] Update Romanian (ro-RO) translation
  dll/cpl/timedate/lang/ro-RO.rc
Labels: TRANSLATION

#6600 [SOLITAIRE] Update Romanian (ro-RO) translation
  base/applications/games/solitaire/lang/ro-RO.rc
Labels: TRANSLATION

#6601 [CALC] Update Romanian (ro-RO) translation
  base/applications/calc/lang/ro-RO.rc
Labels: TRANSLATION

#6151 [SHELL32] SHOpenFolderAndSelectItems should handle children correctly
  dll/win32/shell32/shlfolder.cpp
  sdk/include/reactos/shellutils.h
Labels: bugfix, shell, ship-it

#6449 [REACTOS] Update Spanish (es-ES) translation: Fixes and typos - 2024
  base/setup/reactos/lang/es-ES.rc
  base/setup/usetup/lang/es-ES.h
  dll/cpl/hotplug/lang/es-ES.rc
  dll/cpl/openglcfg/lang/es-ES.rc
  dll/cpl/openglcfg/openglcfg.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/syssetup/lang/es-ES.rc
Labels: TRANSLATION, shell

#5860 [SHELL32] Support IDropTarget handler in IContextMenu static verbs
  dll/win32/shell32/CDefaultContextMenu.cpp
Labels: enhancement, shell

#6033 [ADVAPI32] Handle HKCR in RegDeleteValueA+W and RegDeleteKeyValueW
  dll/win32/advapi32/reg/hkcr.c
  dll/win32/advapi32/reg/reg.c
  dll/win32/advapi32/reg/reg.h
Labels: enhancement, bugfix, ship-it

#6030 [SHLEXTDBG] Added IQueryAssociations, SHGetFileInfo and ShellExecute actions
  modules/rosapps/applications/devutils/shlextdbg/CMakeLists.txt
  modules/rosapps/applications/devutils/shlextdbg/shlextdbg.cpp
Labels: enhancement

#6047 [SHELL32] Fix FS folder assoc array class order
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shlfolder.cpp
Labels: bugfix, shell

#6656 [SHELL32] IQueryAssociations: Fix path and length
  dll/win32/shell32/CQueryAssociations.cpp
Labels: bugfix, shell

#6599 [NOTEPAD] Update Slovenian (sl-SI) translation
  base/applications/notepad/lang/sl-SI.rc
Labels: TRANSLATION

#6591 [SHELL32] *.rc: a few accelerator fixes, FIXMEs, drive-properties for bg-BG and fr-FR
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: bugfix, shell

#6672 [SHELL32] *.rc: Anonymize the "LIST2" control in IDD_AUTOPLAY1
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: shell

#6635 [SHELL32] Improve FindExecutableW
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#6676 [SHELL32] CQueryAssociation: Add slash check
  dll/win32/shell32/CQueryAssociations.cpp
Labels: bugfix, shell

#6677 [CONFIGURE] Add support for MSVC Compiler 19.4x
  configure.cmd
Labels: enhancement

#6678 [SHELL32] pl-PL.rc: Fix IDD_FILE_PROPERTIES & IDD_FOLDER_PROPERTIES
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION, bugfix, shell

#6669 [NTOS:KE/x64] Loop in KiInitiateUserApc
  ntoskrnl/ke/amd64/trap.S
Labels: enhancement, kernel&hal

#6270 [FREELDR][NTOS:MM] Add security cookie generation to FreeLoader
  boot/freeldr/freeldr/include/peloader.h
  boot/freeldr/freeldr/lib/peloader.c
  boot/freeldr/freeldr/ntldr/winldr.c
  ntoskrnl/mm/ARM3/sysldr.c
Labels: enhancement, NT6+, kernel&hal, freeldr

#6633 [NTOS:MM] Fix ntoskrnl/mm/ARM3/virtual.c causing intermittent BSOD 0x1a
  ntoskrnl/mm/ARM3/virtual.c
Labels: bugfix, kernel&hal

#6675 [SHELL32] *.rc: Strip all unneeded WS_DISABLED in dlg style
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Labels: janitorial, shell

#6679 [NTOS:KE/x64] Remove duplicated REX prefix from sysretq
  ntoskrnl/ke/amd64/trap.S
Labels: trivial fix, kernel&hal

#6671 [NTOS:KE/x64] Improve KiSystemCallHandler code a bit
  ntoskrnl/ke/amd64/traphandler.c
Labels: enhancement, kernel&hal

#6681 [SHELL32][SHELL32_APITEST] FindExecutable: Add PRF_FIRSTDIRDEF flag
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/shellpath.c
  modules/rostests/apitests/shell32/FindExecutable.cpp
Labels: bugfix, ROSTESTS, shell

#5945 [DOC] 3rd Party Files.txt: Add 'AMD LibM for Windows'
  media/doc/3rd Party Files.txt
Labels: documentation, no-pr-activity

#6580 [KERNEL32][KERNEL32_APITEST][KERNEL32_VISTA] Implement and export NT6+ firmware API
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32/kernel32_vista/firmware.c
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
  modules/rostests/apitests/kernel32/UEFIFirmware.c
  sdk/include/psdk/winbase.h
Labels: enhancement, ROSTESTS, NT6+

#6673 [NTOS:CM] Avoid unnecessary ObDereferenceObject when handling an ObInsertObject failure
  ntoskrnl/config/cmsysini.c
Labels: bugfix, kernel&hal

#6670 [NTOS:KE/x64] Move setting the thread's trap frame to KiSystemCallEntry64
  ntoskrnl/ke/amd64/trap.S
  ntoskrnl/ke/amd64/traphandler.c
Labels: bugfix, kernel&hal
