Repository reactos/reactos, pull requests merged in 2024-01, with the labels that each got.

#6267 [RAPPS] Don't ask for 'remote from registry' when no selection
  base/applications/rapps/gui.cpp
Labels: bugfix, trivial fix

#6266 [COMCTL32][USER32] RadioButton: Notify BN_CLICKED on WM_SETFOCUS
  dll/win32/comctl32/button.c
  win32ss/user/user32/controls/button.c
Labels: bugfix, Win32SS

#6240 [MSCTFIME][SDK] Improve human readability
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/cicimc.h
Labels: refactoring, input method

#6269 [MSCTFIME][SDK] Implement CFunctionProvider
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/cictf.h
Labels: enhancement, input method

#6273 [MSCTFIME] Strengthen CicInputContext
  dll/ime/msctfime/msctfime.cpp
Labels: enhancement, input method

#6274 [MSCTFIME][SDK] Half-implement CTextEventSink
  dll/ime/msctfime/msctfime.cpp
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6227 [COMCTL32][USER32] ComboBox: Don't close listbox on letter type
  dll/win32/comctl32/combo.c
  win32ss/user/user32/controls/combo.c
Labels: bugfix, Win32SS

#6284 [MSCTFIME] Implement CTextEventSink::_Advise and _Unadvise
  dll/ime/msctfime/msctfime.cpp
Labels: enhancement, input method

#6285 [MSCTFIME] Half-implement UIWndProc
  dll/ime/msctfime/msctfime.cpp
Labels: enhancement, input method

#6286 [CTFMON][MSCTFIME][SDK] Define new(cicNoThrow) and use it
  base/applications/ctfmon/ctfmon.cpp
  dll/ime/msctfime/msctfime.cpp
  sdk/include/reactos/cicero/cicbase.h
Labels: enhancement, input method

#6287 [MSCTFIME][SDK] Implement CicCaret class
  dll/ime/msctfime/msctfime.h
  sdk/include/reactos/cicero/ciccaret.h
Labels: enhancement, input method

#6291 [MSCTFIME][SDK] Add <cicero/cicuif.h>
  dll/ime/msctfime/msctfime.h
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6268 [COMCTL32][USER32] EDIT & ListView & TreeView: Fix HRGN leaks
  dll/win32/comctl32/edit.c
  dll/win32/comctl32/listview.c
  dll/win32/comctl32/treeview.c
  win32ss/user/user32/controls/edit.c
Labels: bugfix, Win32SS

#6244 [NTUSER] Use UserHMGetHandle macro
  win32ss/user/ntuser/accelerator.c
  win32ss/user/ntuser/caret.c
  win32ss/user/ntuser/clipboard.c
  win32ss/user/ntuser/cursoricon.c
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/hook.c
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/menu.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/painting.c
  win32ss/user/ntuser/scrollbar.c
  win32ss/user/ntuser/shutdown.c
  win32ss/user/ntuser/simplecall.c
  win32ss/user/ntuser/timer.c
  win32ss/user/ntuser/windc.c
  win32ss/user/ntuser/window.c
  win32ss/user/ntuser/winpos.c
Labels: review pending, trivial fix, Win32SS

#6295 [SDK] Add CUIFObject and CUIFObjectArray
  sdk/include/reactos/cicero/cicarray.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6297 [MSCTFIME] Reduce comment lines
  dll/ime/msctfime/msctfime.cpp
Labels: refactoring, input method

#6288 [DESK] Find best display settings
  dll/cpl/desk/settings.c
Labels: bugfix

#6289 [SHELL32] Don't crash on Control Panel item D&D
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, shell

#6305 [SDK] cicuif.h: Add CUIFColorTable
  sdk/include/reactos/cicero/cicbase.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6306 [SDK] cicuif.h: Add CUIFBitmapDC
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6307 [MSCTFIME][MSUTB][SDK] Add cicInitUIFLib and cicDoneUIFLib
  dll/ime/msctfime/msctfime.cpp
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/precomp.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6223 [REGEDIT] Update Romanian (ro-RO) translation
  base/applications/regedit/lang/ro-RO.rc
Labels: TRANSLATION

#6246 [NETSHELL] Update Romanian (ro-RO) translation
  dll/shellext/netshell/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6241 [MSPAINT] Update Romanian (ro-RO) translation
  base/applications/mspaint/lang/ro-RO.rc
Labels: TRANSLATION

#6245 [FONTVIEW] Update Romanian (ro-RO) translation
  base/applications/fontview/lang/ro-RO.rc
Labels: TRANSLATION

#6247 [INTL] Update Romanian (ro-RO) translation
  dll/cpl/intl/lang/ro-RO.rc
Labels: TRANSLATION

#6255 [ACCESS] Update Romanian (ro-RO) translation
  dll/cpl/access/lang/ro-RO.rc
Labels: TRANSLATION

#6256 [MSPORTS] Update Romanian (ro-RO) translation
  dll/win32/msports/lang/ro-RO.rc
Labels: TRANSLATION

#6257 [DESKMON] Update Romanian (ro-RO) translation
  dll/shellext/deskmon/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6260 [MSI] Update Romanian (ro-RO) translation
  dll/win32/msi/lang/msi_Ro.rc
Labels: TRANSLATION

#6264 [SHUTDOWN] Update Romanian (ro-RO) translation
  base/applications/shutdown/lang/ro-RO.rc
Labels: TRANSLATION

#6272 [APPWIZ] Improve Romanian (ro-RO) translation
  dll/cpl/appwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6281 [IPCONFIG] Update Romanian (ro-RO) translation
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: TRANSLATION

#6258 [LABEL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/label/lang/ro-RO.rc
Labels: TRANSLATION

#6313 [SDK] cicuif.h: Add CUIFWindow
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6253 [CMAKE] Add GCC options to make a long double 64 bits
  modules/rostests/winetests/msvcrt/CMakeLists.txt
  sdk/cmake/gcc.cmake
Labels: enhancement, ROSTESTS

#6316 [SDK] cicuif.h: Add CUIFShadow
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6317 [SDK] cicuif.h: Add CUIFToolTip
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6315 [COMCTL32] ToolTip: Expand tabs
  dll/win32/comctl32/tooltips.c
Labels: bugfix, trivial fix

#5601 [CONSRV] Don't blink cursor if the console window is not active
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.h
Labels: bugfix, Win32SS

#6265 [SHELL32] RegFolder must correctly handle GetDisplayNameOf parsing paths
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, shell

#6311 [MSCONFIG_NEW] Update Romanian (ro-RO) translation
  base/applications/msconfig_new/lang/mscfgtl/ro-RO.xml
Labels: TRANSLATION

#6310 [INF] Update Romanian (ro-RO) translation
  boot/bootdata/hivesys.inf
Labels: TRANSLATION

#6309 [WINMM] Update Romanian (ro-RO) translation
  dll/win32/winmm/lang/winmm_Ro.rc
Labels: TRANSLATION

#6304 [OPENGLCFG] Update Romanian (ro-RO) translation
  dll/cpl/openglcfg/lang/ro-RO.rc
Labels: TRANSLATION

#6303 [DISKPART] Update Romanian (ro-RO) translation
  base/system/diskpart/lang/ro-RO.rc
Labels: TRANSLATION

#6301 [DESK] Update Romanian (ro-RO) translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#6300 [MODEMUI] Update Romanian (ro-RO) translation
  dll/win32/modemui/lang/ro-RO.rc
Labels: TRANSLATION

#6294 [IPCONFIG] Update Romanian (ro-RO) translation
  base/applications/network/ipconfig/lang/ro-RO.rc
Labels: TRANSLATION

#6293 [OLEDLG] Update Romanian (ro-RO) translation
  dll/win32/oledlg/lang/oledlg_Ro.rc
Labels: TRANSLATION

#6292 [CRYPTUI] Update Romanian (ro-RO) translation
  dll/win32/cryptui/lang/cryptui_Ro.rc
Labels: TRANSLATION

#6283 [FORMAT] Update Romanian (ro-RO) translation
  base/system/format/lang/ro-RO.rc
Labels: TRANSLATION

#6282 [TASKKILL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/taskkill/lang/ro-RO.rc
Labels: TRANSLATION

#6279 [RAPPS] Improve Romanian (ro-RO) translation
  base/applications/rapps/lang/ro-RO.rc
Labels: TRANSLATION

#6278 [NEWDEV] Update Romanian (ro-RO) translation
  dll/win32/newdev/lang/ro-RO.rc
Labels: TRANSLATION

#6277 [CMD] Update Romanian (ro-RO) translation
  base/shell/cmd/lang/ro-RO.rc
Labels: TRANSLATION

#6275 [WLDAP32] Improve Romanian (ro-RO) translation
  dll/win32/wldap32/lang/wldap32_Ro.rc
Labels: TRANSLATION

#6271 [ZIPFLDR] Update Romanian (ro-RO) translation
  dll/shellext/zipfldr/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6318 [SHELL32] SHFileOperation: Fail elegantly if source doesn't exist
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, shell

#6321 [SDK] cicuif.h: Refactoring
  sdk/include/reactos/cicero/cicuif.h
Labels: refactoring, input method

#6184 [NTUSER] Check class name on IntGetAtomFromStringOrAtom
  win32ss/user/ntuser/class.c
Labels: bugfix, Win32SS

#6329 [SDK] cicuif.h: Add CUIFSchemeDef
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6319 [RAPPS] Don't download database at startup if appwiz mode
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/appdb.h
  base/applications/rapps/include/gui.h
  base/applications/rapps/unattended.cpp
Labels: bugfix

#6330 [SDK] cicuif.h: Refactoring Part 2
  sdk/include/reactos/cicero/cicuif.h
Labels: bugfix, refactoring, input method

#6331 [SDK] cicuif.h: Add CUIFButton2
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6218 [BOOTDATA] Add Portuguese (pt-PT) translation.
  boot/bootdata/hivecls.inf
  boot/bootdata/hivesys.inf
Labels: TRANSLATION

#6276 [NTOSKRNL_VISTA] IoQueueWorkItemEx: Pass new context for the queue
  sdk/lib/drivers/ntoskrnl_vista/io.c
Labels: bugfix, NT6+, drivers

#6323 [KERNEL32] OpenFile(): Use InitializeObjectAttributes
  dll/win32/kernel32/client/file/create.c
Labels: trivial fix, refactoring

#6332 [SDK] cicuif.h: Add CUIFGripper
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6334 [SDK] cicuif.h: Reduce magic numbers
  sdk/include/reactos/cicero/cicuif.h
Labels: refactoring, input method

#6290 [SHELL32] Improve error message on copying files
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, shell

#6336 [SDK] cicuif.h: Add CUIFToolbarMenuButton
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6338 [SDK] cicuif.h: Add CUIFToolbarButton
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6254 [CRT_APITEST] Fix some Vista+ tests
  modules/rostests/apitests/crt/crtdata.c
Labels: bugfix, ROSTESTS, NT6+

#6346 [JOY] Add IDCANCEL action to MainPageProc
  dll/cpl/joy/joy.c
Labels: bugfix, trivial fix

#6348 [SDK] cicuif.h: Fix CUIFSchemeDef::DrawCtrlBitmap
  sdk/include/reactos/cicero/cicuif.h
Labels: bugfix, input method

#6347 [SDK] cicuif.h: Fix CUIFSchemeDef::DrawCtrlEdge
  sdk/include/reactos/cicero/cicuif.h
Labels: bugfix, input method

#6259 [MORE] Update Romanian (ro-RO) translation
  base/applications/cmdutils/more/lang/ro-RO.rc
Labels: TRANSLATION

#6261 [WINLOGON] Update Romanian (ro-RO) translation
  base/system/winlogon/lang/ro-RO.rc
Labels: TRANSLATION

#6340 [USERINIT] Update Romanian (ro-RO) translation
  base/system/userinit/lang/ro-RO.rc
Labels: TRANSLATION

#6341 [REACTOS] Update Romanian (ro-RO) translation
  base/setup/reactos/lang/ro-RO.rc
Labels: TRANSLATION

#6342 [HDWWIZ] Update Romanian (ro-RO) translation
  dll/cpl/hdwwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6343 [APPWIZ] Improve Romanian (ro-RO) translation
  dll/cpl/appwiz/lang/ro-RO.rc
Labels: TRANSLATION

#6367 [SYSDM] Update Romanian (ro-RO) translation
  dll/cpl/sysdm/lang/ro-RO.rc
Labels: TRANSLATION

#6353 [SENDMAIL] Update Romanian (ro-RO) translation
  dll/shellext/sendmail/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6364 [MSPAINT] Update Romanian (ro-RO) translation
  base/applications/mspaint/lang/ro-RO.rc
Labels: TRANSLATION

#6352 [SHELL32] Update Romanian (ro-RO) translation
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6351 [EXPLORER] Update Romanian (ro-RO) translation
  base/shell/explorer/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6345 [RASDLG] Update Romanian (ro-RO) translation
  dll/win32/rasdlg/lang/ro-RO.rc
Labels: TRANSLATION

#6360 [SPIDER] Update Romanian (ro-RO) translation
  base/applications/games/spider/lang/ro-RO.rc
Labels: TRANSLATION

#6361 [SOLITAIRE] Update Romanian (ro-RO) translation
  base/applications/games/solitaire/lang/ro-RO.rc
Labels: TRANSLATION

#6356 [SHIMGVW] Update Romanian (ro-RO) translation
  dll/win32/shimgvw/lang/ro-RO.rc
Labels: TRANSLATION

#6363 [WINMINE] Update Romanian (ro-RO) translation
  base/applications/games/winmine/lang/ro-RO.rc
Labels: TRANSLATION

#6362 [CALC] Update Romanian (ro-RO) translation
  base/applications/calc/lang/ro-RO.rc
Labels: TRANSLATION

#6366 [CMD] Update Romanian (ro-RO) translation
  base/shell/cmd/lang/ro-RO.rc
Labels: TRANSLATION

#6350 [DESK] Update Romanian (ro-RO) translation
  dll/cpl/desk/lang/ro-RO.rc
Labels: TRANSLATION

#6280 [SDK][VIRTIO][NETKVM] Make VirtIO a separate library
  drivers/network/dd/netkvm/CMakeLists.txt
  media/doc/3rd Party Files.txt
  sdk/lib/drivers/CMakeLists.txt
  sdk/lib/drivers/virtio/CMakeLists.txt
  sdk/lib/drivers/virtio/LICENSE
  sdk/lib/drivers/virtio/VirtIO.h
  sdk/lib/drivers/virtio/VirtIOPCICommon.c
  sdk/lib/drivers/virtio/VirtIOPCILegacy.c
  sdk/lib/drivers/virtio/VirtIOPCIModern.c
  sdk/lib/drivers/virtio/VirtIORing-Packed.c
  sdk/lib/drivers/virtio/VirtIORing.c
  sdk/lib/drivers/virtio/kdebugprint.h
  sdk/lib/drivers/virtio/linux/types.h
  sdk/lib/drivers/virtio/linux/virtio_config.h
  sdk/lib/drivers/virtio/linux/virtio_types.h
  sdk/lib/drivers/virtio/osdep.h
  sdk/lib/drivers/virtio/virtio_pci.h
  sdk/lib/drivers/virtio/virtio_pci_common.h
  sdk/lib/drivers/virtio/virtio_ring.h
  sdk/lib/drivers/virtio/windows/virtio_ring_allocation.h
Labels: enhancement, refactoring, drivers

#6370 [SDK] cicuif.h: Add CUIFWndFrame
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6371 [MSUTB] Add CTrayIconItem
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6171 [TRANSLATION] Improve Portuguese (pt-PT) translation
  base/shell/explorer/lang/pt-PT.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/input/lang/pt-PT.rc
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION, shell

#6369 [MKISOFS] CMakeLists.txt: Add a check for Clang and its version
  sdk/tools/mkisofs/CMakeLists.txt
Labels: bugfix

#6333 [COMCTL32][USER32] Fix caret position on text box of 'Search' pane
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: bugfix, Win32SS

#6248 [SHELL32][CONTROL] Added basic IOpenControlPanel support
  base/applications/control/CMakeLists.txt
  base/applications/control/control.c
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CControlPanelFolder.h
  dll/win32/shell32/res/rgs/controlpanel.rgs
  dll/win32/shell32/shell32.cpp
  sdk/include/psdk/shlguid.h
  sdk/include/psdk/shobjidl.idl
Labels: enhancement, NT6+, shell

#6384 [SDK] cicuif.h: Add CUIFBalloonButton and CUIFBalloonWindow
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#5609 [WS2_32_WINETEST] Patch ws2_32:sock wine test to run on ReactOS
  modules/rostests/winetests/ws2_32/sock.c
Labels: ROSTESTS

#6339 [NTOS:KE] Fix initialization of node block for application processors
  ntoskrnl/ke/amd64/krnlinit.c
  ntoskrnl/ke/i386/kiinit.c
  ntoskrnl/ke/krnlinit.c
Labels: bugfix, kernel&hal, SMP

#5874 [HALX86] Fix some asserts on multiprocessor kernel
  hal/halx86/generic/buildtype.c
  hal/halx86/include/halp.h
Labels: bugfix, kernel&hal, SMP

#6386 [NTOS:KE] Set IRQL to SYNCH_LEVEL when exiting from idle after the thread is ready for execution
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/arm/thrdini.c
  ntoskrnl/ke/i386/thrdini.c
Labels: bugfix, kernel&hal, SMP

#6387 [NTOS:KE] Acquire the PRCB lock before marking the thread ready for execution in dispatch interrupt routine for x86 and arm
  ntoskrnl/include/internal/ke_x.h
  ntoskrnl/ke/arm/thrdini.c
  ntoskrnl/ke/i386/thrdini.c
Labels: bugfix, kernel&hal, SMP

#6391 [NTOS:KE] Fix boot on UP build - PrcbLocks are not used on UP
  ntoskrnl/include/internal/ke_x.h
Labels: bugfix, SMP

#6396 [SETUPAPI] Update Romanian (ro-RO) translation
  dll/win32/setupapi/lang/ro-RO.rc
Labels: TRANSLATION

#6395 [SUBST] Update Romanian (ro-RO) translation
  base/system/subst/lang/ro-RO.rc
Labels: TRANSLATION

#6394 [ACPPAGE] Update Romanian (ro-RO) translation
  dll/shellext/acppage/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6393 [NETPLWIZ] Update Romanian (ro-RO) translation
  dll/shellext/netplwiz/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6392 [LABEL] Update Romanian (ro-RO) translation
  base/applications/cmdutils/label/lang/ro-RO.rc
Labels: TRANSLATION

#6390 [COMDLG32] Update Romanian (ro-RO) translation
  dll/win32/comdlg32/lang/cdlg_Ro.rc
Labels: TRANSLATION

#6389 [USERENV] Update Romanian (ro-RO) translation
  dll/win32/userenv/lang/ro-RO.rc
Labels: TRANSLATION

#6388 [EXPLORER_OLD] Update Romanian (ro-RO) translation
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Labels: TRANSLATION

#6382 [DISKPART][MC] Update Romanian (ro-RO) translation for message table
  base/system/diskpart/diskpart_msg.mc
Labels: TRANSLATION

#6381 [SAMSRV] Update Romanian (ro-RO) translation
  dll/win32/samsrv/lang/ro-RO.rc
Labels: TRANSLATION

#6380 [LSASRV] Update Romanian (ro-RO) translation
  dll/win32/lsasrv/lang/ro-RO.rc
Labels: TRANSLATION

#6379 [SYSDM] Update Romanian (ro-RO) translation
  dll/cpl/sysdm/lang/ro-RO.rc
Labels: TRANSLATION

#6378 [BROWSEUI] Update Romanian (ro-RO) translation
  dll/win32/browseui/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6377 [MORE] Update Romanian (ro-RO) translation
  base/applications/cmdutils/more/lang/ro-RO.rc
Labels: TRANSLATION

#6376 [WINMM] Update Romanian (ro-RO) translation
  dll/win32/winmm/lang/winmm_Ro.rc
Labels: TRANSLATION

#6375 [SERVMAN] Update Romanian (ro-RO) translation
  base/applications/mscutils/servman/lang/ro-RO.rc
Labels: TRANSLATION

#6374 [CHARMAP] Improve Romanian (ro-RO) translation
  base/applications/charmap/lang/ro-RO.rc
Labels: TRANSLATION

#6373 [MPLAY32] Update Romanian (ro-RO) translation
  base/applications/mplay32/lang/ro-RO.rc
Labels: TRANSLATION

#6372 [NOTEPAD] Update Romanian (ro-RO) translation
  base/applications/notepad/lang/ro-RO.rc
Labels: TRANSLATION

#6359 [INF] Update Romanian (ro-RO) translation
  boot/bootdata/hivedef.inf
  dll/win32/urlmon/urlmon.inf
  media/inf/ks.inf
  media/inf/shortcuts.inf
Labels: TRANSLATION

#6358 [TREE] Update Romanian (ro-RO) translation
  base/applications/cmdutils/tree/lang/ro-RO.rc
Labels: TRANSLATION

#6355 [FORMAT] Update Romanian (ro-RO) translation
  base/system/format/lang/ro-RO.rc
Labels: TRANSLATION

#6354 [CHKSDK] Update Romanian (ro-RO) translation
  base/system/chkdsk/lang/ro-RO.rc
Labels: TRANSLATION

#6344 [SYSSETUP] Update Romanian (ro-RO) translation
  dll/win32/syssetup/lang/ro-RO.rc
Labels: TRANSLATION

#6239 [DOC] Update Romanian translation notes.txt
  media/doc/Romanian translation notes.txt
Labels: documentation

#6400 [SDK] cicuif.h: Add CUIFMenu and CUIFMenuItem
  sdk/include/reactos/cicero/cicarray.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6401 [SDK] cicuif.h: Fix CUIFBalloonWindow::CreateRegion
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6402 [SDK] cicuif.h: Fix CUIFMenu::InitShow
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6404 [SDK] cicuif.h: Fix CUIFMenuItem::DrawBitmapProc
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6405 [SDK] cicuif.h: Fix CUIFMenuItem::Init
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6403 [SDK] cicuif.h: Fix CUIFMenu::SetMenuFont
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6407 [SDK] cicuif.h: Fix CUIFMenuItem::InitMenuExtent
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6399 [NTOS:KE/x86/arm] Fix boot process affinity
  ntoskrnl/ke/arm/kiinit.c
  ntoskrnl/ke/i386/kiinit.c
Labels: bugfix, kernel&hal, SMP

#6409 [SDK] cicuif.h: Fix CUIFMenuItem::OnPaintDef
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6410 [SDK] cicuif.h: Fix CUIFMenuItem::OnPaintO10
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6411 [SDK] cicuif.h: Add CUIFMenuItemSeparator
  sdk/include/reactos/cicero/cicarray.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6414 [MSUTB] Add CCicLibMenu and CCicLibMenuItem
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6415 [MSUTB] Add CTipbarAccItem
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6417 [MSUTB] Add CTipbarAccessible
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/precomp.h
Labels: enhancement, input method

#6420 [MSUTB][SDK] Add CUTBMenuWnd and CUTBMenuItem
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/precomp.h
  dll/win32/msutb/resource.h
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method
