Repository reactos/reactos, pull requests merged in 2024-02, with the labels that each got.

#6418 [SHELL32] Sync HCR_RegGetIconW to Wine 9.1
  dll/win32/shell32/wine/classes.c
Labels: 3rd party sync, shell

#6412 [COMCTL32] ToolTips: Don't set text on default LPSTR_TEXTCALLBACK
  dll/win32/comctl32/tooltips.c
Labels: bugfix

#6444 [MSUTB][SDK] Add CLBarItemBase
  dll/win32/msutb/msutb.cpp
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6445 [MSUTB] Add CUTBLBarMenu
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6446 [MSUTB] Add CLBarItemButtonBase
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6447 [MSCTF][MSUTB][SDK] Add CLBarInatItem
  dll/win32/msctf/msctf.spec
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/resource.h
  sdk/include/psdk/msctf.idl
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6335 [MSI] Fix heap assert in msi/dialog.c when installing Tortoise GIT
  dll/win32/msi/dialog.c
  media/doc/WINESYNC.txt
Labels: 3rd party sync, bugfix

#6451 [MSUTB][SDK] Add CModalMenu
  dll/win32/msutb/msutb.cpp
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6452 [MSUTB][SDK] Add CUTBContextMenu
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/resource.h
  sdk/include/psdk/msctf.idl
Labels: enhancement, input method

#6416 [NTOS:FSTUB] Pack the MASTER_BOOT_RECORD structure
  ntoskrnl/fstub/fstubex.c
Labels: bugfix, kernel&hal

#6461 [SDK] cicutf.h: s/OnPointingEnded/OnMouseOutFromWindow/
  sdk/include/reactos/cicero/cicuif.h
Labels: bugfix, input method

#6462 [MSUTB] Add CTipbarGripper
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6463 [MSUTB] Add CShellWndThread
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6465 [MSUTB][SDK] Add CTipbarWnd (stub)
  dll/win32/msutb/msutb.cpp
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6466 [MSUTB][SDK] Add CTipbarWnd Part 2
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/resource.h
  sdk/include/reactos/cicero/cicarray.h
  sdk/include/reactos/cicero/cicuif.h
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6326 [GITHUB] Update labeler.yml: Use v5
  .github/workflows/labeler.yml
Labels: enhancement

#6327 [GITHUB] Update build.yml: latest versions
  .github/workflows/build.yml
Labels: enhancement

#5819 [GITHUB] Update Github Actions for Node 16 deprecation preparation
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Labels: enhancement

#6467 [MSUTB] Add CTipbarWnd Part 3
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/precomp.h
Labels: enhancement, input method

#6468 [MSUTB] Implement ClosePopupTipbar
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6469 [MSUTB] Implement GetPopupTipbar
  dll/win32/msutb/msutb.cpp
Labels: enhancement, input method

#6471 [MSUTB][SDK] Implement SetRegisterLangBand
  dll/win32/msutb/msutb.cpp
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6472 [MSUTB] Disable Desk Band
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/msutb.rc
  dll/win32/msutb/res/Bitmap-154.bmp
  dll/win32/msutb/res/Bitmap-155.bmp
  dll/win32/msutb/resource.h
Labels: enhancement, input method

#5595 [GITHUB] build.yml: Use all matrix values to restore Linux build cache
  .github/workflows/build.yml
Labels: bugfix, documentation

#6470 [GITHUB] build.yml: Re-enable 'build-msbuild-i386'
  .github/workflows/build.yml
Labels: enhancement

#6477 [MSCTF][MSUTB][SDK] Add CTipbarItem and CTipbarThread
  dll/win32/msctf/msctf.spec
  dll/win32/msutb/msutb.cpp
  sdk/include/psdk/msctf.idl
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6478 [MSUTB][SDK] Add CTipbarWnd Part 4
  dll/win32/msutb/msutb.cpp
  sdk/include/reactos/cicero/cicutb.h
Labels: enhancement, input method

#6428 [USETUP] Update Romanian (ro-RO) translation
  base/setup/usetup/lang/ro-RO.h
Labels: TRANSLATION

#6429 [MSI] Update Romanian (ro-RO) translation
  dll/win32/msi/lang/msi_Ro.rc
Labels: TRANSLATION

#6484 [NETSHELL] Trivial tweaks
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/zh-TW.rc
  dll/shellext/netshell/shfldr_netconnect.cpp
Labels: trivial fix, janitorial, shell

#6430 [VCDCONTROLTOOL] Update Romanian (ro-RO) translation
  modules/rosapps/applications/vcdcontroltool/lang/ro-RO.rc
Labels: TRANSLATION

#6431 [FRAGINATOR] Update Romanian (ro-RO) translation
  modules/rosapps/applications/fraginator/lang/ro-RO.rc
Labels: TRANSLATION

#6432 [INF] Update Romanian (ro-RO) translation
  media/inf/shortcuts.inf
Labels: TRANSLATION

#6433 [OSK] Update Romanian (ro-RO) translation
  base/applications/osk/lang/ro-RO.rc
Labels: TRANSLATION

#6434 [SNDVOL32] Update Romanian (ro-RO) translation
  base/applications/sndvol32/lang/ro-RO.rc
Labels: TRANSLATION

#6435 [SNDREC32] Update Romanian (ro-RO) translation
  base/applications/sndrec32/lang/ro-RO.rc
Labels: TRANSLATION

#6436 [DISKPART] Update Romanian (ro-RO) translation
  base/system/diskpart/lang/ro-RO.rc
Labels: TRANSLATION

#6437 [CONSOLE] Update Romanian (ro-RO) translation
  dll/cpl/console/lang/ro-RO.rc
Labels: TRANSLATION

#6438 [OLEACC] Update Romanian (ro-RO) translation
  dll/win32/oleacc/lang/oleacc_Ro.rc
Labels: TRANSLATION

#6439 [TASKMGR] Update Romanian (ro-RO) translation
  base/applications/taskmgr/lang/ro-RO.rc
Labels: TRANSLATION

#6440 [EXPLORER] Update Romanian (ro-RO) translation
  base/shell/explorer/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6441 [SHELL32] Update Romanian (ro-RO) translation
  dll/win32/shell32/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6442 [MYDOCS] Update Romanian (ro-RO) translation
  dll/shellext/mydocs/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6453 [ZIPFLDR] Update Romanian (ro-RO) translation
  dll/shellext/zipfldr/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6454 [MAIN] Update Romanian (ro-RO) translation
  dll/cpl/main/lang/ro-RO.rc
Labels: TRANSLATION

#6455 [INTL] Update Romanian (ro-RO) translation
  dll/cpl/intl/lang/ro-RO.rc
Labels: TRANSLATION

#6457 [NEWDEV] Update Romanian (ro-RO) translation
  dll/win32/newdev/lang/ro-RO.rc
Labels: TRANSLATION

#6458 [CACLS] Update Romanian (ro-RO) translation
  base/applications/cacls/lang/ro-RO.rc
Labels: TRANSLATION

#6459 [SHUTDOWN] Update Romanian (ro-RO) translation
  base/applications/shutdown/lang/ro-RO.rc
Labels: TRANSLATION

#6460 [SYSTEMINFO] Update Romanian (ro-RO) translation
  modules/rosapps/applications/sysutils/systeminfo/lang/ro-RO.rc
Labels: TRANSLATION

#6474 [USETUP] Update Romanian (ro-RO) translation
  base/setup/usetup/lang/ro-RO.h
Labels: TRANSLATION

#6475 [SYSSETUP] Update Romanian (ro-RO) translation
  dll/win32/syssetup/lang/ro-RO.rc
Labels: TRANSLATION

#6479 [REACTOS] Update Romanian (ro-RO) translation
  base/setup/reactos/lang/ro-RO.rc
Labels: TRANSLATION

#6480 [BROWSEUI] Update Romanian (ro-RO) translation
  dll/win32/browseui/lang/ro-RO.rc
Labels: TRANSLATION, shell

#6481 [FLTMC] Update Romanian (ro-RO) translation
  base/applications/fltmc/lang/ro-RO.rc
Labels: TRANSLATION

#6482 [EXPLORER_OLD] Update Romanian (ro-RO) translation
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Labels: TRANSLATION

#6485 [COMDLG32] Update Romanian (ro-RO) translation
  dll/win32/comdlg32/lang/cdlg_Ro.rc
Labels: TRANSLATION

#6490 [SDK] cicuif.h: Implement CUIFMenuItemSeparator::OnPaintO10
  sdk/include/reactos/cicero/cicuif.h
Labels: enhancement, input method

#6473 [MSUTB] Improve English
  dll/win32/msutb/lang/en-US.rc
  dll/win32/msutb/msutb.rc
  dll/win32/msutb/res/earth.ico
  dll/win32/msutb/resource.h
Labels: bugfix, input method

#6491 [FC] Update Romanian (ro-RO) translation
  base/applications/cmdutils/fc/lang/ro-RO.rc
Labels: TRANSLATION

#6483 [RASDLG] Update Romanian (ro-RO) translation
  dll/win32/rasdlg/lang/ro-RO.rc
Labels: TRANSLATION

#6489 [RAPPS] Improve Romanian (ro-RO) translation
  base/applications/rapps/lang/ro-RO.rc
Labels: TRANSLATION

#6488 [CMD] Update Romanian (ro-RO) translation
  base/shell/cmd/lang/ro-RO.rc
Labels: TRANSLATION

#6487 [CRYPTUI] Update Romanian (ro-RO) translation
  dll/win32/cryptui/lang/cryptui_Ro.rc
Labels: TRANSLATION

#6493 [REACTOS] Standardize <imm.h> and <immdev.h>
  dll/ime/msctfime/msctfime.h
  dll/win32/comctl32/edit.c
  dll/win32/imm32/precomp.h
  dll/win32/msctf/utils.cpp
  dll/win32/msutb/precomp.h
  dll/win32/riched20/editor.c
  modules/rostests/apitests/imm32/precomp.h
  modules/rostests/apitests/win32nt/win32nt.h
  sdk/include/ddk/immdev.h
  sdk/include/psdk/imm.h
  sdk/include/reactos/imm32_undoc.h
  win32ss/include/ntuser.h
  win32ss/pch.h
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/kbdlayout.c
  win32ss/user/ntuser/window.c
  win32ss/user/ntuser/winpos.c
  win32ss/user/user32/include/user32.h
  win32ss/user/user32/misc/imm.c
  win32ss/user/user32/windows/defwnd.c
  win32ss/user/winsrv/winsrv.h
Labels: refactoring, ROSTESTS, Win32SS, input method

#5813 [UXTHEME] Implement the rest of DrawNCPreview
  dll/cpl/desk/theme.c
  dll/win32/uxtheme/ncscrollbar.c
  dll/win32/uxtheme/nonclient.c
  dll/win32/uxtheme/uxthemep.h
Labels: enhancement, no squash merge, ship-it

#6498 [MSVIDC32] Don't confuse CRAM_MAGIC with MSVC_MAGIC
  dll/win32/msvidc32/msvideo1.c
Labels: bugfix

#6500 [NTUSER] Relax condition for IntImmProcessKey
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/msgqueue.c
Labels: bugfix, Win32SS

#6413 [USBSTOR] Fix PdoHandleQueryInstanceId and increase serial number descriptor size to MAXIMUM_USB_STRING_LENGTH
  drivers/usb/usbstor/descriptor.c
  drivers/usb/usbstor/pdo.c
  drivers/usb/usbstor/usbstor.h
Labels: bugfix, drivers

#6501 [DC21X4] Recognize all ports emulated by VPC 2007
  drivers/network/dd/dc21x4/net21x4.inf
Labels: enhancement, drivers

#6502 [UXTHEME] Add Ukrainian (uk-UA) translation
  dll/win32/uxtheme/lang/uk-UA.rc
  dll/win32/uxtheme/uxtheme.rc
Labels: TRANSLATION

#6492 [SDK:LIB] Introduce Cicero static library
  base/applications/ctfmon/CMakeLists.txt
  base/applications/ctfmon/precomp.h
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.h
  dll/win32/msctf/CMakeLists.txt
  dll/win32/msctf/utils.cpp
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
  dll/win32/msutb/precomp.h
  sdk/include/reactos/cicero/cicreg.h
  sdk/lib/CMakeLists.txt
  sdk/lib/cicero/CMakeLists.txt
  sdk/lib/cicero/cicarray.cpp
  sdk/lib/cicero/cicarray.h
  sdk/lib/cicero/cicbase.cpp
  sdk/lib/cicero/cicbase.h
  sdk/lib/cicero/ciccaret.cpp
  sdk/lib/cicero/ciccaret.h
  sdk/lib/cicero/cicevent.h
  sdk/lib/cicero/cicfmap.cpp
  sdk/lib/cicero/cicfmap.h
  sdk/lib/cicero/cicimc.cpp
  sdk/lib/cicero/cicimc.h
  sdk/lib/cicero/cicmutex.h
  sdk/lib/cicero/cicreg.cpp
  sdk/lib/cicero/cicreg.h
  sdk/lib/cicero/cictf.h
  sdk/lib/cicero/cicuif.cpp
  sdk/lib/cicero/cicuif.h
  sdk/lib/cicero/cicutb.h
  sdk/lib/cicero/precomp.h
Labels: refactoring, input method

#6504 [CTFMON][MSCTFIME][MSCTF][MSUTB][CICERO] Fix TFUninitLib
  base/applications/ctfmon/ctfmon.cpp
  dll/ime/msctfime/msctfime.cpp
  dll/win32/msctf/utils.cpp
  dll/win32/msutb/msutb.cpp
  sdk/lib/cicero/cicbase.cpp
  sdk/lib/cicero/cicutb.h
Labels: enhancement, input method

#6505 [MSCTFIME] Restructuring
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/bridge.h
  dll/ime/msctfime/compartment.cpp
  dll/ime/msctfime/compartment.h
  dll/ime/msctfime/functions.cpp
  dll/ime/msctfime/functions.h
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/profile.cpp
  dll/ime/msctfime/profile.h
  dll/ime/msctfime/sinks.cpp
  dll/ime/msctfime/sinks.h
  dll/ime/msctfime/tls.cpp
  dll/ime/msctfime/tls.h
  dll/ime/msctfime/ui.cpp
  dll/ime/msctfime/ui.h
Labels: refactoring, input method

#6512 [MSCTFIME][CICERO] Implement CDefCompFrameWindow
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/ui.cpp
  dll/ime/msctfime/ui.h
  sdk/lib/cicero/cicuif.cpp
  sdk/lib/cicero/cicuif.h
Labels: enhancement, input method

#4770 [EXT2FS] Ext2Read(): Complete request on VCB_VOLUME_LOCKED case
  drivers/filesystems/ext2/src/read.c
Labels: bugfix, drivers

#6513 [MSCTFIME][CICERO] Implement CFnDocFeed
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/functions.cpp
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/ui.cpp
  sdk/lib/cicero/cicimc.h
Labels: enhancement, input method

#6514 [MSCTFIME] Implement CicBridge::OnSetOpenStatus
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/functions.cpp
  dll/ime/msctfime/functions.h
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  dll/ime/msctfime/tls.h
  dll/ime/msctfime/ui.cpp
Labels: enhancement, input method

#6515 [MSCTFIME] Implement CModeBias
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/misc.cpp
  dll/ime/msctfime/misc.h
  dll/ime/msctfime/msctfime.h
Labels: enhancement, input method

#6520 [MSCTFIME] Add UIComposition Part 2
  dll/ime/msctfime/misc.cpp
  dll/ime/msctfime/misc.h
  dll/ime/msctfime/tls.cpp
  dll/ime/msctfime/tls.h
  dll/ime/msctfime/ui.cpp
  dll/ime/msctfime/ui.h
Labels: enhancement, input method

#6521 [MSCTFIME][CICERO] Half-implement CIMEUIWindowHandler
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  dll/ime/msctfime/misc.h
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/ui.cpp
  dll/ime/msctfime/ui.h
  sdk/lib/cicero/ciccaret.h
Labels: enhancement, input method

#6522 [MSCTFIME] Implement CtfImeSetActiveContextAlways
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/bridge.h
  dll/ime/msctfime/functions.cpp
  dll/ime/msctfime/functions.h
  dll/ime/msctfime/misc.cpp
  dll/ime/msctfime/misc.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/tls.cpp
  dll/ime/msctfime/tls.h
  dll/ime/msctfime/ui.cpp
  dll/ime/msctfime/ui.h
Labels: enhancement, input method

#6523 [MSCTFIME] Finish msctfime.cpp
  dll/ime/msctfime/bridge.cpp
  dll/ime/msctfime/bridge.h
  dll/ime/msctfime/inputcontext.cpp
  dll/ime/msctfime/inputcontext.h
  dll/ime/msctfime/misc.cpp
  dll/ime/msctfime/misc.h
  dll/ime/msctfime/msctfime.cpp
  dll/ime/msctfime/msctfime.h
  dll/ime/msctfime/profile.cpp
  dll/ime/msctfime/profile.h
Labels: enhancement, input method

#6525 [WIN32SS] Fix const-ness of registry helper functions
  win32ss/gdi/ntgdi/misc.h
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/misc/registry.c
Labels: bugfix, Win32SS, input method

#6524 [BOOTDATA][NTUSER] Prepare for CTF IME Part 1
  boot/bootdata/hivesft.inf
  win32ss/user/ntuser/metric.c
Labels: enhancement, Win32SS, input method

#6539 [SHELL32] Fix 2 compiler warnings for the rls-configuration 'unused variable'
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: warnings, shell

#6534 [BROWSEUI] Enable Address bar access key (Alt+D)
  dll/win32/browseui/addressband.cpp
Labels: enhancement, shell

#6543 [BROWSEUI] Implement 'Add to Favorites'
  dll/win32/browseui/shellbrowser.cpp
Labels: enhancement, shell

#6546 [SHELL32] Opening Special Folder shortcut
  dll/win32/shell32/CShellLink.cpp
Labels: enhancement, bugfix, shell

#6549 [SHELL32] SHBrowseForFolder: Fix pszDisplayName
  dll/win32/shell32/wine/brsfolder.c
Labels: bugfix, shell

#6550 [APPWIZ][SHELL32] Improve 'Create Shortcut' dialog
  dll/cpl/appwiz/appwiz.h
  dll/cpl/appwiz/createlink.c
  dll/win32/shell32/CShellLink.cpp
Labels: enhancement, bugfix, shell

#6548 [SHELL32] idCmdFirst shouldn't be zero
  dll/win32/shell32/shellmenu/CMenuBand.cpp
Labels: bugfix, shell

#6552 [MSPAINT] Implement 'Crop Selection'
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/main.cpp
  base/applications/mspaint/resource.h
Labels: enhancement

#6554 [MSPAINT] Improve GetSelectionContents for free-shape selection
  base/applications/mspaint/main.cpp
  base/applications/mspaint/selectionmodel.cpp
  base/applications/mspaint/selectionmodel.h
Labels: bugfix

#6553 [SHELL32] Update Polish (pl-PL) translation
  dll/win32/shell32/lang/pl-PL.rc
Labels: TRANSLATION, shell

#6421 [SHELL32] Allow using custom icons for folders, drives and Desktop places
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/iconcache.cpp
  dll/win32/shell32/wine/classes.c
  dll/win32/shell32/wine/shell32_main.h
Labels: enhancement, refactoring, shell

#6540 [RASDLG] *.rc Trim unintended spaces, uk-UA.rc tweak the header (Ukraianian typo, strip FILE:)
  dll/win32/rasdlg/lang/de-DE.rc
  dll/win32/rasdlg/lang/en-US.rc
  dll/win32/rasdlg/lang/he-IL.rc
  dll/win32/rasdlg/lang/no-NO.rc
  dll/win32/rasdlg/lang/pl-PL.rc
  dll/win32/rasdlg/lang/ro-RO.rc
  dll/win32/rasdlg/lang/ru-RU.rc
  dll/win32/rasdlg/lang/sq-AL.rc
  dll/win32/rasdlg/lang/tr-TR.rc
  dll/win32/rasdlg/lang/uk-UA.rc
  dll/win32/rasdlg/lang/zh-CN.rc
  dll/win32/rasdlg/lang/zh-TW.rc
Labels: trivial fix, janitorial

#6558 [SHELL32_APITEST] Add SHRestricted testcase
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHRestricted.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: enhancement, ROSTESTS

#6557 [SHLWAPI_APITEST] Add SHGetRestriction testcase
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/SHGetRestriction.c
  modules/rostests/apitests/shlwapi/testlist.c
Labels: enhancement, ROSTESTS

#6559 [APPWIZ] Update Polish (pl-PL) translation
  dll/cpl/appwiz/lang/pl-PL.rc
Labels: TRANSLATION

#6199 [NETCFGX] Provide proper accelerators for en-US and de-DE
  dll/win32/netcfgx/lang/bg-BG.rc
  dll/win32/netcfgx/lang/cs-CZ.rc
  dll/win32/netcfgx/lang/da-DK.rc
  dll/win32/netcfgx/lang/de-DE.rc
  dll/win32/netcfgx/lang/en-US.rc
  dll/win32/netcfgx/lang/es-ES.rc
  dll/win32/netcfgx/lang/fr-FR.rc
  dll/win32/netcfgx/lang/id-ID.rc
  dll/win32/netcfgx/lang/it-IT.rc
  dll/win32/netcfgx/lang/ja-JP.rc
  dll/win32/netcfgx/lang/no-NO.rc
  dll/win32/netcfgx/lang/pl-PL.rc
  dll/win32/netcfgx/lang/pt-PT.rc
  dll/win32/netcfgx/lang/ro-RO.rc
  dll/win32/netcfgx/lang/sk-SK.rc
  dll/win32/netcfgx/lang/sq-AL.rc
  dll/win32/netcfgx/lang/sv-SE.rc
  dll/win32/netcfgx/lang/tr-TR.rc
  dll/win32/netcfgx/lang/uk-UA.rc
  dll/win32/netcfgx/lang/zh-CN.rc
  dll/win32/netcfgx/lang/zh-TW.rc
Labels: enhancement

#6556 [APPWIZ] Shortcut: Rename if there is a conflict
  dll/cpl/appwiz/createlink.c
  dll/cpl/appwiz/lang/bg-BG.rc
  dll/cpl/appwiz/lang/cs-CZ.rc
  dll/cpl/appwiz/lang/de-DE.rc
  dll/cpl/appwiz/lang/el-GR.rc
  dll/cpl/appwiz/lang/en-US.rc
  dll/cpl/appwiz/lang/es-ES.rc
  dll/cpl/appwiz/lang/et-EE.rc
  dll/cpl/appwiz/lang/fr-FR.rc
  dll/cpl/appwiz/lang/he-IL.rc
  dll/cpl/appwiz/lang/hu-HU.rc
  dll/cpl/appwiz/lang/id-ID.rc
  dll/cpl/appwiz/lang/it-IT.rc
  dll/cpl/appwiz/lang/ja-JP.rc
  dll/cpl/appwiz/lang/no-NO.rc
  dll/cpl/appwiz/lang/pl-PL.rc
  dll/cpl/appwiz/lang/pt-BR.rc
  dll/cpl/appwiz/lang/pt-PT.rc
  dll/cpl/appwiz/lang/ro-RO.rc
  dll/cpl/appwiz/lang/ru-RU.rc
  dll/cpl/appwiz/lang/sk-SK.rc
  dll/cpl/appwiz/lang/sq-AL.rc
  dll/cpl/appwiz/lang/tr-TR.rc
  dll/cpl/appwiz/lang/uk-UA.rc
  dll/cpl/appwiz/lang/zh-CN.rc
  dll/cpl/appwiz/lang/zh-HK.rc
  dll/cpl/appwiz/lang/zh-TW.rc
  dll/cpl/appwiz/resource.h
Labels: bugfix
