Repository reactos/reactos, pull requests merged in 2024-09, with the labels that each got.

#7266 [PSDK][SHELL32] Make CLSID_NetworkConnections the default name
  dll/win32/shell32/wine/shellpath.c
  sdk/include/reactos/shlguid_undoc.h
Labels: enhancement, NT6+, shell

#7281 [FREELDR] Fix boot timeout regression on AMD64
  boot/freeldr/freeldr/settings.c
Labels: bugfix, freeldr

#7160 [USER32_APITEST] Improve RedrawWindow apitest by flags testing
  modules/rostests/apitests/user32/RedrawWindow.c
Labels: enhancement, ROSTESTS

#7129 [INTEROP_UNITTEST] Add interoperability tests for localized strings
  modules/rostests/unittests/CMakeLists.txt
  modules/rostests/unittests/interop/CMakeLists.txt
  modules/rostests/unittests/interop/LocaleTests.cpp
  modules/rostests/unittests/interop/interop.h
  modules/rostests/unittests/interop/testlist.c
Labels: ROSTESTS

#7274 [NTGDI:FREETYPE] Account for spaces in x-dimension of IntExtTextOutW function
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7215 [NTUSER] Optimize BroadcastSystemMessage a bit. Follow-up of #6884
  win32ss/user/ntuser/message.c
Labels: enhancement, refactoring, Win32SS

#5806 [NOTEPAD] Handle serialized maximized state
  base/applications/notepad/main.c
  base/applications/notepad/notepad.h
  base/applications/notepad/settings.c
Labels: bugfix

#6993 [SHELL32] Lnk propertysheet must disallow editing special targets
  dll/win32/shell32/CShellLink.cpp
Labels: enhancement, shell

#6789 [COMCTL32] Sync to wine-5.0
  dll/win32/comctl32/button.c
  dll/win32/comctl32/combo.c
  dll/win32/comctl32/comboex.c
  dll/win32/comctl32/comctl32.h
  dll/win32/comctl32/comctl32undoc.c
  dll/win32/comctl32/commctrl.c
  dll/win32/comctl32/edit.c
  dll/win32/comctl32/header.c
  dll/win32/comctl32/hotkey.c
  dll/win32/comctl32/idb_cmdlink.bmp
  dll/win32/comctl32/imagelist.c
  dll/win32/comctl32/ipaddress.c
  dll/win32/comctl32/listbox.c
  dll/win32/comctl32/listview.c
  dll/win32/comctl32/monthcal.c
  dll/win32/comctl32/pager.c
  dll/win32/comctl32/propsheet.c
  dll/win32/comctl32/rebar.c
  dll/win32/comctl32/static.c
  dll/win32/comctl32/status.c
  dll/win32/comctl32/string.c
  dll/win32/comctl32/syslink.c
  dll/win32/comctl32/taskdialog.c
  dll/win32/comctl32/theming.c
  dll/win32/comctl32/toolbar.c
  dll/win32/comctl32/tooltips.c
  dll/win32/comctl32/trackbar.c
  dll/win32/comctl32/treeview.c
  dll/win32/comctl32/updown.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/comctl32/combo.c
  modules/rostests/winetests/comctl32/edit.c
  modules/rostests/winetests/comctl32/imagelist.c
  modules/rostests/winetests/comctl32/listbox.c
  modules/rostests/winetests/comctl32/listview.c
  modules/rostests/winetests/comctl32/misc.c
  modules/rostests/winetests/comctl32/msg.h
  modules/rostests/winetests/comctl32/pager.c
  modules/rostests/winetests/comctl32/precomp.h
  modules/rostests/winetests/comctl32/propsheet.c
  modules/rostests/winetests/comctl32/rebar.c
  modules/rostests/winetests/comctl32/resources.h
  modules/rostests/winetests/comctl32/static.c
  modules/rostests/winetests/comctl32/subclass.c
  modules/rostests/winetests/comctl32/taskdialog.c
  modules/rostests/winetests/comctl32/toolbar.c
  modules/rostests/winetests/comctl32/tooltips.c
  modules/rostests/winetests/comctl32/treeview.c
  modules/rostests/winetests/comctl32/updown.c
  modules/rostests/winetests/comctl32/v6util.h
  sdk/include/psdk/winuser.h
  sdk/tools/winesync/comctl32.cfg
Labels: enhancement, 3rd party sync, ROSTESTS, NT6+

#7314 [SHELL32] Pass and expand .lnk working directory
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7304 [NTUSER] Increase desktop heap size
  win32ss/user/ntuser/desktop.c
Labels: enhancement, Win32SS

#7307 [UXTHEME] Add Turkish (tr-TR) translation
  dll/cpl/desk/lang/tr-TR.rc
  dll/win32/uxtheme/lang/tr-TR.rc
  dll/win32/uxtheme/uxtheme.rc
Labels: TRANSLATION

#7301 [EXPLORER] Update Turkish (tr-TR) translation
  base/shell/explorer/lang/tr-TR.rc
Labels: TRANSLATION, shell

#7280 [NTUSER] Fix a 64 bit bug in timer code
  win32ss/user/ntuser/timer.c
Labels: bugfix, Win32SS

#7311 [KEYBOARD] Fix left key code in extended_key_names
  dll/keyboard/kbdbe/kbdbe.c
  dll/keyboard/kbddv/kbddv.c
  dll/keyboard/kbdest/kbdest.c
  dll/keyboard/kbdfr/kbdfr.c
  dll/keyboard/kbdhe/kbdhe.c
  dll/keyboard/kbdheb/kbdheb.c
  dll/keyboard/kbdhu/kbdhu.c
  dll/keyboard/kbdit/kbdit.c
  dll/keyboard/kbdkor/kbdkor.c
  dll/keyboard/kbdlt1/kbdlt1.c
  dll/keyboard/kbdlv/kbdlv.c
  dll/keyboard/kbdpl/kbdpl.c
  dll/keyboard/kbdpl1/kbdpl1.c
  dll/keyboard/kbdsf/kbdsf.c
  dll/keyboard/kbdsl/kbdsl.c
  dll/keyboard/kbdsl1/kbdsl1.c
  dll/keyboard/kbduk/kbduk.c
Labels: bugfix

#7323 [NTGDI] Prevent NULL pointer dereference in CLIPPING_UpdateGCRegion
  win32ss/gdi/ntgdi/cliprgn.c
Labels: bugfix, Win32SS

#6443 [NTOS:PO] Update a comment
  ntoskrnl/po/power.c
Labels: trivial fix, kernel&hal

#7324 [NTOS:MM] Increase x64 system view and session view size
  ntoskrnl/include/internal/amd64/mm.h
Labels: enhancement, kernel&hal

#6971 [COMDLG32] ChooseColor: Apply DarkShadow44's suggestions
  dll/win32/comdlg32/colordlg.c
Labels: bugfix

#7312 [SHELL32] Revise "Desktop" icon
  dll/win32/shell32/res/icons/35.ico
  dll/win32/shell32/res/icons/svg/35-desktop-16x.svg
  dll/win32/shell32/res/icons/svg/35-desktop-32x.svg
  dll/win32/shell32/res/icons/svg/35-desktop-48x.svg
Labels: modding, shell

#7320 [NOTEPAD] Don't handle main window accelerators in Find dialog
  base/applications/notepad/main.c
Labels: bugfix

#7319 [NOTEPAD] Display error code if no error string is available
  base/applications/notepad/dialog.c
Labels: enhancement

#7327 Revert "[SHELL32] Show Product version on About dialog bmp (#3621)"
  dll/win32/msgina/resources/reactos.bmp
  dll/win32/msgina/resources/svg/rosbanner.svg
  dll/win32/shell32/bitmap_res.rc
  dll/win32/shell32/res/bitmaps/reactos.bmp
  dll/win32/shell32/res/bitmaps/reactosserver.bmp
  dll/win32/shell32/res/bitmaps/reactosworkstation.bmp
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/wine/shell32_main.c
  dll/win32/syssetup/resources/reactos.bmp
Labels: modding, shell

#7330 [SHELL32] Fix CRecycleBin crash caused by PR #7173
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
Labels: bugfix, shell

#7322 [WIN32K:ENG] Fix return value in EngAlphaBlend
  win32ss/gdi/eng/alphablend.c
Labels: bugfix, Win32SS

#7298 [DESK] _countof and rc-trivia
  dll/cpl/desk/advmon.c
  dll/cpl/desk/effappdlg.c
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/desk/settings.c
Labels: bugfix, trivial fix

#7337 [DESK] *.rc: Strip ", 0, 0" from the only font-line which is doing that
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
Labels: trivial fix, janitorial

#7341 [SERIALUI] Update Romanian (ro-RO) translation
  dll/win32/serialui/lang/ro-RO.rc
Labels: trivial fix

#7302 [SHELL32] Store target FS attributes in .lnk header
  dll/win32/shell32/CShellLink.cpp
Labels: enhancement, shell

#7325 [SHELL32][COMCTL32][BROWSEUI][EXPLORER] Update color usage on WM_SYSCOLORCHANGE
  base/shell/explorer/traywnd.cpp
  dll/win32/browseui/basebarsite.cpp
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/comctl32/rebar.c
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, shell

#7158 [SHELL32][MKSHELLLINK] Support EXP_SPECIAL_FOLDER datablock in shortcuts
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  sdk/tools/mkshelllink/mkshelllink.c
Labels: enhancement, shell

#7247 [RAPPS] Respect partial settings configuration
  base/applications/rapps/settings.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement, bugfix

#7338 [RTL][KERNEL32][ROSAUTOTEST] Disable debug prompts during autotest
  dll/win32/kernel32/client/proc.c
  modules/rostests/rosautotest/main.cpp
  sdk/include/ndk/pstypes.h
  sdk/lib/rtl/assert.c
Labels: enhancement, ROSTESTS

#7334 [NTOS:MM] Properly handle execution in NX section
  ntoskrnl/mm/mmfault.c
Labels: bugfix, kernel&hal

#7293 [SHUTDOWN] Update Romanian (ro-RO) translation
  base/applications/shutdown/lang/ro-RO.rc
Labels: TRANSLATION

#7294 [ACPPAGE] Update Romanian (ro-RO) translation
  dll/shellext/acppage/lang/ro-RO.rc
Labels: TRANSLATION, shell

#7295 [LICCPA] Update Romanian (ro-RO) translation
  dll/cpl/liccpa/lang/ro-RO.rc
Labels: TRANSLATION

#7349 [LICCPA] Update Romanian (ro-RO) translation
  dll/cpl/liccpa/lang/ro-RO.rc
Labels: TRANSLATION

#7347 [SHELL32] Don't leak SetProp ATOM
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/shlfileop.cpp
Labels: bugfix, shell

#7348 [GDIPLUS] Fix for gdiplus/graphics.c regression with upgrade to GCC 8.4.0.
  dll/win32/gdiplus/graphics.c
Labels: bugfix

#7303 [USETUP] Fix handling of 0 sized files in the cab
  base/setup/usetup/spapisup/cabinet.c
Labels: bugfix

#7357 [NETID] Fix Romanian (ro-RO) header
  dll/win32/netid/lang/ro-RO.rc
Labels: TRANSLATION

#7286 [WIN32K] Fix protection of USER heap
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/usrheap.c
Labels: bugfix, Win32SS

#7362 [MATRIX] Improve Romanian (ro-RO) translation
  modules/rosapps/applications/screensavers/matrix/lang/ro-RO.rc
Labels: TRANSLATION

#7371 [MSPAINT] Update Turkish (tr-TR) translation
  base/applications/mspaint/lang/tr-TR.rc
Labels: TRANSLATION

#7382 [FREELDR] Print arch + buildnumber on crash-screen
  boot/freeldr/freeldr/arch/i386/i386bug.c
Labels: enhancement, freeldr

#7350 [RAPPS] Use different mutex and title for AppWiz mode
  base/applications/rapps/gui.cpp
  base/applications/rapps/unattended.cpp
Labels: bugfix

#7014 [RAPPS] Hide the main window during active download/install if the user closes it
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/rapps.h
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/misc.cpp
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: enhancement

#7390 [PSDK] Add defines for dwFlags used by WlanGetAvailableNetworkList
  sdk/include/psdk/wlanapi.h
Labels: enhancement

#7394 [PSDK] Define maximum SSID length properly
  sdk/include/psdk/windot11.h
  sdk/include/psdk/wlantypes.h
Labels: enhancement

#7399 [DESK] *.rc: Tweak comboboxes WS_CHILD, CBS_SORT
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
Labels: bugfix, trivial fix

#7383 [FDEBUG] *.rc: Less outdated version-hardcodes
  boot/freeldr/fdebug/lang/bg-BG.rc
  boot/freeldr/fdebug/lang/cs-CZ.rc
  boot/freeldr/fdebug/lang/de-DE.rc
  boot/freeldr/fdebug/lang/el-GR.rc
  boot/freeldr/fdebug/lang/en-US.rc
  boot/freeldr/fdebug/lang/es-ES.rc
  boot/freeldr/fdebug/lang/fr-FR.rc
  boot/freeldr/fdebug/lang/hu-HU.rc
  boot/freeldr/fdebug/lang/id-ID.rc
  boot/freeldr/fdebug/lang/it-IT.rc
  boot/freeldr/fdebug/lang/ja-JP.rc
  boot/freeldr/fdebug/lang/no-NO.rc
  boot/freeldr/fdebug/lang/pl-PL.rc
  boot/freeldr/fdebug/lang/ro-RO.rc
  boot/freeldr/fdebug/lang/ru-RU.rc
  boot/freeldr/fdebug/lang/sk-SK.rc
  boot/freeldr/fdebug/lang/sq-AL.rc
  boot/freeldr/fdebug/lang/tr-TR.rc
  boot/freeldr/fdebug/lang/uk-UA.rc
  boot/freeldr/fdebug/lang/zh-CN.rc
  boot/freeldr/fdebug/lang/zh-HK.rc
  boot/freeldr/fdebug/lang/zh-TW.rc
Labels: freeldr, janitorial

#7381 [MSCTFIME] Add Turkish (tr-TR) translation
  dll/ime/msctfime/lang/tr-TR.rc
  dll/ime/msctfime/msctfime.rc
Labels: TRANSLATION, input method

#7401 [MSCTFIME] msctfime.rc turkish-sort
  dll/ime/msctfime/msctfime.rc
Labels: trivial fix, janitorial, input method

#7405 [EXPLORER_OLD] Update Romanian (ro-RO) translation
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Labels: TRANSLATION, trivial fix
