Repository reactos/reactos, pull requests merged in 2024-11, with the labels that each got.

#7484 [REACTOS] Fix 'writting' typos
  modules/rosapps/applications/sysutils/pedump/pedump.c
  modules/rosapps/applications/sysutils/regexpl/ShellCommandValue.cpp
  modules/rostests/tests/sertest/sertest.c
  sdk/lib/drivers/copysup/copysup.c
  sdk/lib/drivers/rdbsslib/rdbss.c
Labels: trivial fix, ROSTESTS, drivers

#7482 [NTOS:EX] Fix SAL notations, `Timeout` parameter should be optional
  ntoskrnl/ex/keyedevt.c
Labels: trivial fix, warnings, kernel&hal

#7409 [TASKMGR] *.rc: Tweak all AUTOCHECKBOXes
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Labels: refactoring, janitorial

#7480 [SPEC2DEF] Implement support for negated architecture
  sdk/tools/spec2def/spec2def.c
Labels: enhancement

#7260 [NTOS:MM] Implement MmAllocate/FreeMappingAddress
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/pool.c
  sdk/include/xdk/mmfuncs.h
Labels: enhancement, kernel&hal

#7235 [MSGINA] Update Portuguese (pt-PT) translation
  dll/win32/msgina/lang/pt-PT.rc
Labels: TRANSLATION

#7292 [DISKPART] Update Turkish (tr-TR) translation
  base/system/diskpart/lang/tr-TR.rc
Labels: TRANSLATION

#7466 [INTL] Update German (de-DE) translation
  dll/cpl/intl/lang/de-DE.rc
Labels: TRANSLATION

#7413 [SERVMAN] Update Romanian (ro-RO) translation
  base/applications/mscutils/servman/lang/ro-RO.rc
Labels: TRANSLATION

#7407 [MSCONFIG_NEW] Update Romanian (ro-RO) translation
  base/applications/msconfig_new/lang/ro-RO.rc
Labels: TRANSLATION

#7358 [CLB] Update Romanian (ro-RO) translation
  base/applications/regedit/clb/lang/ro-RO.rc
Labels: TRANSLATION

#7360 [RAPPS] Update Romanian (ro-RO) translation
  base/applications/rapps/lang/ro-RO.rc
Labels: TRANSLATION

#7355 [FONTSUB] Update Romanian (ro-RO) translation
  modules/rosapps/applications/sysutils/fontsub/lang/ro-RO.rc
Labels: TRANSLATION

#7361 [3DTEXT] Update Romanian (ro-RO) translation
  base/applications/screensavers/3dtext/lang/ro-RO.rc
Labels: TRANSLATION

#7353 [MSCONFIG] Update Romanian (ro-RO) translation
  base/applications/msconfig/lang/ro-RO.rc
Labels: TRANSLATION

#7495 [SHELL32][BROWSEUI] Set DefView InvokeCommand directory
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
Labels: bugfix, shell

#7470 [SHELL32] Force FileType OpenWith default verb
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
Labels: bugfix, shell

#7492 [CMAKE][LWIP] Fix build with newer CMake versions
  drivers/network/tcpip/lwip/src/Filelists.cmake
Labels: bugfix, drivers

#7496 [CALC] Fix copy command when output is NaN
  base/applications/calc/winmain.c
Labels: bugfix

#7499 [SHELL32] Correctly compare pidls for SHBrowseForFolder BFFM_SETEXPANDED
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  sdk/include/reactos/shellutils.h
Labels: enhancement, bugfix, shell

#7485 [SHELL32][SHELL32_APITEST] Consolidate file type description handling
  dll/win32/shell32/CQueryAssociations.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/wine/classes.c
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  dll/win32/shell32/wine/shell32_main.c
  dll/win32/shell32/wine/shell32_main.h
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ItemIDList.cpp
  modules/rostests/apitests/shell32/ShellInfo.cpp
  modules/rostests/apitests/shell32/testlist.c
Labels: bugfix, ROSTESTS, shell

#7506 [SETUPLIB] Use proper SEH instead of nasty hacks
  base/setup/lib/CMakeLists.txt
  base/setup/lib/utils/filesup.c
  base/setup/reactos/CMakeLists.txt
  base/setup/usetup/CMakeLists.txt
Labels: bugfix, ship-it

#7474 [SDK] d3dkmthk.h: Fix an '#ifdef __REACTOS__'
  sdk/include/ddk/d3dkmthk.h
Labels: trivial fix

#7489 [THEMEUI][INF] Update German (de-DE) translation
  boot/bootdata/hivedef.inf
  dll/win32/themeui/lang/de-DE.rc
Labels: TRANSLATION

#7490 [TIMEDATE] Update German (de-DE) translation
  dll/cpl/timedate/lang/de-DE.rc
Labels: TRANSLATION

#7497 [FS_REC] Rename Ext2 recognizer to Ext recognizer
  drivers/filesystems/fs_rec/CMakeLists.txt
  drivers/filesystems/fs_rec/ext.c
  drivers/filesystems/fs_rec/ext.h
  drivers/filesystems/fs_rec/fs_rec.c
  drivers/filesystems/fs_rec/fs_rec.h
Labels: enhancement, drivers

#7504 [PSDK] Add definitions for WLAN_AVAILABLE_NETWORK.dwFlags member
  sdk/include/psdk/wlanapi.h
Labels: enhancement

#7509 [NTOS:MM] MmPurgeSegment: Fix missing MmDereferenceSegment cleanup
  ntoskrnl/mm/section.c
Labels: bugfix, trivial fix, kernel&hal

#7512 [PSDK] intsafe.h: Define MIN/MAX macros the same way as in stdint.h
  sdk/include/psdk/intsafe.h
Labels: warnings

#7513 [SHLWAPI][SHLWAPI_APITEST] Optimize StrRetToStrW WSTR handling
  dll/win32/shlwapi/string.c
  modules/rostests/apitests/shlwapi/StrDup.c
Labels: enhancement, trivial fix, ROSTESTS

#7516 [SHELL32] Refresh SHELLSTATE before writing it
  dll/win32/shell32/wine/shellord.c
Labels: bugfix, trivial fix, shell

#7521 [USER32] ordinals -> @
  win32ss/user/user32/user32.spec
Labels: enhancement, NT6+, Win32SS

#7510 [NTOS:MM][NTOS:CC] Rewrite some cache memory management functions
  ntoskrnl/cc/copy.c
  ntoskrnl/cc/pin.c
  ntoskrnl/cc/view.c
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/section.c
Labels: refactoring, kernel&hal

#7520 [CRT] Sync wine code to wine-7.0
  dll/win32/crtdll/crtdll.spec
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt20/msvcrt20.spec
  dll/win32/msvcrt40/msvcrt40.spec
  media/doc/WINESYNC.txt
  sdk/include/reactos/wine/asm.h
  sdk/lib/crt/crt.cmake
  sdk/lib/crt/except/amd64/cpp.s
  sdk/lib/crt/except/arm/cpp.s
  sdk/lib/crt/except/i386/cpp.s
  sdk/lib/crt/include/internal/wine_msc.h
  sdk/lib/crt/signal/xcptinfo.c
  sdk/lib/crt/wine/cpp.c
  sdk/lib/crt/wine/cppexcept.h
  sdk/lib/crt/wine/cxx.h
  sdk/lib/crt/wine/except.c
  sdk/lib/crt/wine/except_arm.c
  sdk/lib/crt/wine/except_arm64.c
  sdk/lib/crt/wine/except_i386.c
  sdk/lib/crt/wine/except_x86_64.c
  sdk/lib/crt/wine/heap.c
  sdk/lib/crt/wine/msvcrt.h
  sdk/lib/crt/wine/mtdll.h
  sdk/lib/crt/wine/undname.c
  sdk/tools/winesync/crt.cfg
Labels: 3rd party sync

#7502 [EXPLORER] Check registry key for default shell
  base/shell/explorer/explorer.cpp
Labels: enhancement, shell

#7529 [BROWSEUI] FindFolder must release the view and the browser
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix, trivial fix, shell
