Repository reactos/reactos, pull requests merged in 2025-07, with the labels that each got.

#8213 [KMTEST] Remove totally broken PoolsCorruption test
  modules/rostests/kmtests/ntos_ex/ExPools.c
Labels: ROSTESTS, janitorial

#8210 [MSCTF] Make category manager C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/categorymgr.c
  base/ctf/msctf/categorymgr.cpp
Labels: refactoring, input method

#8219 [CMAKE] msvc.cmake: Add /wd4819 for Far East Asian
  sdk/cmake/msvc.cmake
Labels: bugfix, warnings

#8218 [MSCTF] Make compartment manager C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/compartmentmgr.c
  base/ctf/msctf/compartmentmgr.cpp
Labels: refactoring, input method

#8193 [CMD] Update Polish (pl-PL) translation
  base/shell/cmd/lang/pl-PL.rc
Labels: TRANSLATION

#8202 [INPUT] Update Polish (pl-PL) translation
  dll/cpl/input/lang/pl-PL.rc
Labels: TRANSLATION

#8226 [FREELDR] Hack AMD64 to boot with higher amounts of RAM
  boot/freeldr/freeldr/include/mm.h
Labels: enhancement, freeldr, hackfix

#8175 [KMTESTS] Fixes for 2003, Vista, 7, 8, 10 x86 and x64
  modules/rostests/kmtests/include/kmt_test.h
  modules/rostests/kmtests/kmtest_drv/kmtest_drv.c
  modules/rostests/kmtests/ntos_ke/KeDpc.c
  modules/rostests/kmtests/ntos_ke/KeSpinLock.c
  modules/rostests/kmtests/ntos_mm/MmMdl.c
  modules/rostests/kmtests/ntos_mm/MmReservedMapping.c
  modules/rostests/kmtests/ntos_mm/MmSection.c
  modules/rostests/kmtests/ntos_mm/ZwCreateSection.c
  modules/rostests/kmtests/ntos_mm/ZwMapViewOfSection.c
  modules/rostests/kmtests/ntos_ob/ObHandle.c
  modules/rostests/kmtests/ntos_ob/ObTypes.c
  modules/rostests/kmtests/rtl/RtlMemory.c
  modules/rostests/kmtests/rtl/RtlStack.c
Labels: ROSTESTS

#8189 [TASKKILL] Update Polish (pl-PL) translation
  base/applications/cmdutils/taskkill/lang/pl-PL.rc
Labels: TRANSLATION

#8201 [SHIMGVW] Update Polish (pl-PL) translation
  dll/win32/shimgvw/lang/pl-PL.rc
Labels: TRANSLATION

#8211 [HALX86] HalpSetupAcpiPhase0(): Fix ACPI version log
  hal/halx86/acpi/halacpi.c
Labels: enhancement, bugfix, kernel&hal

#8215 [GITHUB] build.yml: Build some more ARM/ARM64 modules
  .github/workflows/build.yml
Labels: enhancement

#8231 [CICERO][MSCTF] ITfContext: Follow-up of #8224
  base/ctf/cicero/cicbase.h
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/compartmentmgr.cpp
  base/ctf/msctf/context.cpp
Labels: refactoring, input method

#1969 [SCSIPORT] Add an explicit IOCTL_ATA_PASS_THROUGH* case
  drivers/storage/port/scsiport/ioctl.c
Labels: enhancement, drivers

#8217 [SHLWAPI_APITEST] Fix heap assertion and test failures
  modules/rostests/apitests/shlwapi/IsQSForward.cpp
  modules/rostests/apitests/shlwapi/PathIsUNC.c
  modules/rostests/apitests/shlwapi/PathIsUNCServer.c
  modules/rostests/apitests/shlwapi/SHPropertyBag.cpp
Labels: ROSTESTS

#7861 [SHELL32_APITEST] Try to close windows opened by each test
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/ShellExecuteW.cpp
  modules/rostests/apitests/shell32/closewnd.h
Labels: ROSTESTS

#7807 [USER32][APITESTS] Use the correct user32 icon resource ids
  modules/rostests/apitests/comctl32/imagelist.c
  modules/rostests/apitests/user32/LoadImage.c
  win32ss/user/ntuser/callback.c
  win32ss/user/ntuser/cursoricon.c
  win32ss/user/ntuser/cursoricon.h
  win32ss/user/user32/user32.rc
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, ROSTESTS, Win32SS

#7031 [SDK][SHELL32_APITEST] Fix some warnings
  base/applications/network/telnet/src/tnconfig.cpp
  base/applications/wordpad/wordpad.c
  dll/win32/dbghelp/symbol.c
  modules/rostests/apitests/shell32/SHChangeNotify.cpp
  modules/rostests/apitests/shell32/ShellExecCmdLine.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
  sdk/include/psdk/ddraw.h
  sdk/include/reactos/wine/test.h
  sdk/lib/crt/startup/gs_support.c
  subsystems/mvdm/ntvdm/dos/dos32krnl/country.c
Labels: ROSTESTS, warnings

#8230 [KBSWITCH] Fix System Pen icon visibility
  base/applications/kbswitch/kbswitch.c
Labels: bugfix

#8194 [PSEH] Guard SEH2 macros for Clang on Linux x64 builders
  sdk/lib/pseh/include/pseh/pseh2.h
Labels: enhancement, hackfix

#8232 [MSCTF] Make input processor profiles C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/inputprocessor.c
  base/ctf/msctf/inputprocessor.cpp
Labels: refactoring, input method

#8229 [RTL] Partial revert of Wine timer code in thread pooling
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/threadpool.c
  sdk/lib/rtl/timerqueue.c
  sdk/lib/rtl/wait.c
Labels: bugfix

#8227 [NTUSER][USER32] Fix IME UI exception
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/user32/controls/regcontrol.c
  win32ss/user/user32/include/regcontrol.h
  win32ss/user/user32/misc/imm.c
Labels: bugfix, Win32SS, input method

#8239 [MSCTF] Make thread manager C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/threadmgr.c
  base/ctf/msctf/threadmgr.cpp
Labels: refactoring, input method

#8244 [PSDK] Sync winerror.h with wine-10.0
  dll/win32/jscript/jscript.h
  modules/rostests/winetests/rpcrt4/cstub.c
  sdk/include/dxsdk/dmerror.h
  sdk/include/psdk/winerror.h
Labels: 3rd party sync, ROSTESTS

#8220 [SETUP:REACTOS] Fix warning RC4206 in Indonesian (id-ID) translation
  base/setup/reactos/lang/id-ID.rc
Labels: TRANSLATION, warnings

#7953 [SHELL32] Don't get icon and label from AutoRun.inf on floppy drives
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
Labels: enhancement, shell

#8233 [SHELL32][NTOBJSHEX] CDefaultContextMenu cannot close keys it does not own
  dll/shellext/ntobjshex/foldercommon.h
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CNetFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
Labels: bugfix, shell

#8197 [HOTPLUG] Update Polish (pl-PL) translation
  dll/cpl/hotplug/lang/pl-PL.rc
Labels: TRANSLATION

#8198 [STOBJECT] Update Polish (pl-PL) translation
  dll/shellext/stobject/lang/pl-PL.rc
Labels: TRANSLATION, shell

#8248 [ACPPAGE] Update French (fr-FR) translation
  dll/shellext/acppage/lang/fr-FR.rc
Labels: TRANSLATION, trivial fix, shell

#8245 [MSCTF][CICERO][DOC] Fork MSCTF from Wine
  base/ctf/cicero/cicbase.cpp
  base/ctf/cicero/cicbase.h
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/categorymgr.cpp
  base/ctf/msctf/compartmentmgr.cpp
  base/ctf/msctf/context.cpp
  base/ctf/msctf/displayattributemgr.cpp
  base/ctf/msctf/displayattributemgr.h
  base/ctf/msctf/documentmgr.cpp
  base/ctf/msctf/documentmgr.h
  base/ctf/msctf/inputprocessor.cpp
  base/ctf/msctf/langbarmgr.cpp
  base/ctf/msctf/mlng.cpp
  base/ctf/msctf/mlng.h
  base/ctf/msctf/msctf.cpp
  base/ctf/msctf/msctf_internal.h
  base/ctf/msctf/precomp.h
  base/ctf/msctf/range.cpp
  base/ctf/msctf/range.h
  base/ctf/msctf/threadmgr.cpp
  base/ctf/msctf/utils.cpp
  media/doc/WINESYNC.txt
Labels: refactoring, input method

#8249 [SETUPLDR] Add support for architecture-specific "SourceDisksNames" section
  base/setup/lib/spapisup/spapisup.h
  boot/freeldr/freeldr/ntldr/setupldr.c
Labels: enhancement, freeldr

#8208 [NETSHELL] Update Polish (pl-PL) translation
  dll/shellext/netshell/lang/pl-PL.rc
Labels: TRANSLATION, shell

#8238 [BOOT] Make ACPI always copy on amd64
  boot/bootdata/txtsetup.sif
Labels: bugfix

#8259 [SHELL32] Only set state flag if state is set on items in DefView list
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, trivial fix, shell

#8257 [SDK] Introduce the PO GUID library
  ntoskrnl/CMakeLists.txt
  ntoskrnl/ntkrnlmp/CMakeLists.txt
  ntoskrnl/ntos.cmake
  ntoskrnl/po/guid.c
  sdk/include/xdk/potypes.h
  sdk/lib/CMakeLists.txt
  sdk/lib/poguid/CMakeLists.txt
  sdk/lib/poguid/poguid.c
Labels: enhancement, kernel&hal

#8261 [NTUSER][USER32_APITEST] Support ShowWindow.SW_FORCEMINIMIZE
  modules/rostests/apitests/user32/ShowWindow.c
  win32ss/user/ntuser/winpos.c
  win32ss/user/user32/windows/class.c
Labels: enhancement, ROSTESTS, Win32SS

#8254 [EXPLORER][NTUSER] Notify ABN_FULLSCREENAPP and fix monitor code
  base/shell/explorer/taskswnd.cpp
  win32ss/include/ntuser.h
  win32ss/user/ntuser/focus.c
  win32ss/user/ntuser/monitor.c
Labels: bugfix, review pending, shell, Win32SS

#8266 [SHELL32_APITEST] Several fixes
  modules/rostests/apitests/shell32/CFSFolder.cpp
  modules/rostests/apitests/shell32/CMyComputer.cpp
  modules/rostests/apitests/shell32/CShellDesktop.cpp
  modules/rostests/apitests/shell32/CShellLink.cpp
  modules/rostests/apitests/shell32/ExtractIconEx.cpp
  modules/rostests/apitests/shell32/FindExecutable.cpp
  modules/rostests/apitests/shell32/GUIDFromString.cpp
  modules/rostests/apitests/shell32/IShellFolderViewCB.cpp
  modules/rostests/apitests/shell32/PathIsEqualOrSubFolder.cpp
  modules/rostests/apitests/shell32/PathIsTemporary.cpp
  modules/rostests/apitests/shell32/PathMakeUniqueName.cpp
  modules/rostests/apitests/shell32/SHGetAttributesFromDataObject.cpp
  modules/rostests/apitests/shell32/SHParseDisplayName.cpp
  modules/rostests/apitests/shell32/SHShouldShowWizards.cpp
  modules/rostests/apitests/shell32/ShellExecCmdLine.cpp
  modules/rostests/apitests/shell32/ShellState.cpp
  modules/rostests/apitests/shell32/closewnd.h
  modules/rostests/apitests/shell32/menu.cpp
  modules/rostests/apitests/shell32/shelltest.h
  sdk/include/psdk/shobjidl.idl
Labels: ROSTESTS

#8276 [WINLOGON][WLNTFYTESTS] The "Enabled" registry value doesn't exist for notifications
  base/system/winlogon/notify.c
  dll/win32/wlnotify/scard.c
  modules/rostests/win32/winlogon/wlntfytests/wlntfytests.c
Labels: trivial fix, ROSTESTS

#8278 [WINLOGON][WLNTFYTESTS] Implement loading notification DLLs in safe-boot mode
  base/system/winlogon/notify.c
  modules/rostests/win32/winlogon/wlntfytests/wlntfytests.c
Labels: ROSTESTS
