Repository reactos/reactos, pull requests merged in 2025-01, with the labels that each got.

#7589 [NTOS:PS] Fix returned flags for QUOTA_LIMITS_EX query
  ntoskrnl/ps/query.c
Labels: enhancement, kernel&hal

#7565 [CMBATT] Implement support for the _BIX method
  drivers/bus/acpi/cmbatt/cmbatt.c
  drivers/bus/acpi/cmbatt/cmbatt.h
  drivers/bus/acpi/cmbatt/cmexec.c
Labels: enhancement, drivers

#7571 [SHELL32] Pump COM messages while initializing propsheet from IDataObject
  dll/win32/shell32/dialogs/item_prop.cpp
Labels: bugfix, shell

#7595 [SHELL32] Fix Control_RunDLL single comma syntax out of range dialogbox numbers
  dll/win32/shell32/wine/control.c
Labels: bugfix, shell

#6989 [NTOS:IO] IoVolumeDeviceToDosName(): Add SAL2 annotations, fix pool tag
  ntoskrnl/include/internal/tag.h
  ntoskrnl/io/iomgr/volume.c
Labels: trivial fix, kernel&hal, janitorial

#7368 [NOTEPAD] Update Turkish (tr-TR) translation
  base/applications/notepad/lang/tr-TR.rc
Labels: TRANSLATION

#7372 [RAPPS] Update Turkish (tr-TR) translation
  base/applications/rapps/lang/tr-TR.rc
Labels: TRANSLATION

#7374 [SHELL32] Fix typos and improve Portuguese (pt-PT) translation. Add missing accel keys. Fix accel collisions.
  dll/win32/shell32/lang/pt-PT.rc
Labels: TRANSLATION, shell

#7533 [ACCESS] Update Czech (cs-CZ) translation
  dll/cpl/access/lang/cs-CZ.rc
Labels: TRANSLATION

#7534 [USERINIT] Add Esperanto (eo-AA) translation
  base/system/userinit/lang/eo-AA.rc
  base/system/userinit/userinit.rc
Labels: TRANSLATION

#7590 [WINLOGON] Add WLSESSION logon timestamp
  base/system/winlogon/sas.c
  base/system/winlogon/winlogon.h
Labels: enhancement

#7601 [SHELL32] Clone properties IDataObject for unlimited lifetime
  dll/win32/shell32/dialogs/item_prop.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shldataobject.cpp
Labels: bugfix, shell

#7596 [PSDK] Add structures and enumeration describing radio power state
  sdk/include/psdk/wlanapi.h
Labels: enhancement

#7602 [PSDK] Fix BATTERY_UNKNOWN_TIME value constant
  sdk/include/psdk/batclass.h
Labels: bugfix

#7605 [SHELL32] SHELL_ArgifyW(): don't use SearchPathW() for receiving a path to a file
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7006 [RAPPS] Protect database update with a mutex
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/rapps.h
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Labels: bugfix

#7608 [CMBATT] Minor improvements to estimated battery time code
  drivers/bus/acpi/cmbatt/cmbatt.c
  drivers/bus/acpi/cmbatt/cmbatt.h
Labels: enhancement, drivers

#7610 [REGEDIT] Block tree label edit if the delete accelerator has been pressed
  base/applications/regedit/treeview.c
Labels: bugfix

#7609 [RAPPS] Allow .zip generated installers to skip writing the DisplayIcon value
  base/applications/rapps/geninst.cpp
Labels: enhancement

#7580 [NTOS:MM] Balancer minor fixes
  ntoskrnl/mm/balance.c
Labels: trivial fix, kernel&hal, no squash merge

#7624 [SHELL32] Move SHOpenPropSheetA to propsheet.cpp
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/utils.cpp
Labels: refactoring, shell

#7583 [RTL/x64] Improve RtlWalkFrameChain to handle user mode
  sdk/lib/rtl/amd64/unwind.c
Labels: enhancement

#7364 [MAZESCR] Improve Romanian (ro-RO) translation
  modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
Labels: TRANSLATION

#7518 [INPUT] Update German (de-DE) translation
  dll/cpl/input/lang/de-DE.rc
Labels: TRANSLATION

#7597 [TELNET] Fix Unicode character printing
  base/applications/network/telnet/lang/en-US.rc
  base/applications/network/telnet/lang/pl-PL.rc
  base/applications/network/telnet/lang/ro-RO.rc
  base/applications/network/telnet/lang/ru-RU.rc
  base/applications/network/telnet/lang/tr-TR.rc
  base/applications/network/telnet/lang/zh-CN.rc
  base/applications/network/telnet/lang/zh-TW.rc
  base/applications/network/telnet/precomp.h
  base/applications/network/telnet/src/tnerror.cpp
Labels: bugfix

#7626 [PSDK] Add definitions of desired Native Wi-Fi data access permissions
  sdk/include/psdk/wlanapi.h
Labels: enhancement

#6042 [SDK:REACTOS] acpi.h: Update FACS and FADT types to ACPI v6.4
  sdk/include/reactos/drivers/acpi/acpi.h
Labels: enhancement

#7612 [SHELL32][SHELL32_APITEST][SDK] Implement SHGetUserDisplayName
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetUserDisplayName.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/secext.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#7606 [NTGDI] Quiet debug log spam of GreGetObjectOwner if NULL input
  win32ss/gdi/ntgdi/gdiobj.c
Labels: trivial fix, Win32SS

#7614 [SHELL32][SHELL32_APITEST][SDK] Implement SHShouldShowWizards
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHShouldShowWizards.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#7625 [WKSSVC] Stubplement support for level 1101 in NetrWkstaUserGetInfo
  base/services/wkssvc/rpcserver.c
Labels: enhancement, bugfix

#7615 [SHELL32][SHELL32_APITEST][SDK] Implement ShellExec_RunDLL
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/stubs.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellExec_RunDLL.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#7635 [FREETYPE][NTGDI] Fix ftGdiGetTextMetricsW return for raster fonts
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7634 [BROWSEUI_APITEST] Don't hardcode C:\Windows
  modules/rostests/apitests/browseui/SHExplorerParseCmdLine.c
Labels: ROSTESTS

#7636 [SHLWAPI] Import Wine fixes for PathUndecorate and PathRemoveBlanks
  dll/win32/shlwapi/path.c
  modules/rostests/winetests/shlwapi/path.c
Labels: 3rd party sync, bugfix, ROSTESTS, no squash merge

#7586 [RTL] Update CountOfOwnedCriticalSections in the TEB
  sdk/lib/rtl/critical.c
Labels: enhancement

#7633 [SHELL32] SHELL_FindExecutable: improve path handling code
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7620 [SHELL32][SHELL32_APITEST][SDK] Implement SHSetUnreadMailCountW
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHSetUnreadMailCountW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shellapi.h
Labels: enhancement, ROSTESTS, shell

#7638 [REGEDIT] Add ES_AUTOHSCROLL to address bar
  base/applications/regedit/childwnd.c
Labels: bugfix, trivial fix

#7607 [SHELL32] Allow DnD to create shortcuts across different drives
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.h
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/shldataobject.cpp
Labels: bugfix, shell

#7642 [SHELL32] Temporarily disable LVS_EX_DOUBLEBUFFER in DefView
  dll/win32/shell32/CDefView.cpp
Labels: trivial fix, hackfix, shell

#7619 [SHELL32][SHELL32_APITEST][SDK] Implement SHEnumerateUnreadMailAccountsW
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHEnumerateUnreadMailAccountsW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shellapi.h
Labels: enhancement, ROSTESTS, shell

#7621 [SHELL32][SHELL32_APITEST][SDK] Implement StrRStrA/W
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/StrRStr.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#7622 [SHELL32][SHELL32_APITEST][SDK] Implement SHGetUnreadMailCountW
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetUnreadMailCountW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shellapi.h
Labels: enhancement, ROSTESTS, shell

#7550 [FREELDR] Fix wrong segment register at `lgdt` instruction in amd64.S
  boot/freeldr/freeldr/arch/realmode/amd64.S
Labels: bugfix, freeldr

#7646 [FREETYPE][NTGDI] Use num_faces instead of ttc_header.count
  win32ss/gdi/ntgdi/freetype.c
Labels: enhancement, bugfix, Win32SS

#7644 [EXPLORER] Support Unicode on Start Button InvokeCommand
  base/shell/explorer/startctxmnu.cpp
Labels: enhancement, bugfix, shell

#7645 [EXPLORER] Use STDMETHODIMP and override
  base/shell/explorer/startctxmnu.cpp
  base/shell/explorer/startmnusite.cpp
  base/shell/explorer/syspager.cpp
  base/shell/explorer/taskband.cpp
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/tbsite.cpp
  base/shell/explorer/trayclock.cpp
  base/shell/explorer/trayntfy.cpp
  base/shell/explorer/traywnd.cpp
Labels: refactoring, shell

#7643 [SHELL32] SHELL_FindExecutable: Fix last regression from PR#7588
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7650 [RAPPS] Check Let's Encrypt issuer prefix instead of whole string
  base/applications/rapps/loaddlg.cpp
Labels: enhancement

#7649 [PSDK] Avoid CO_E_NOTINITIALIZED macro redefinition warning
  sdk/include/psdk/ddraw.h
Labels: trivial fix, warnings

#7628 [FREETYPE][FTFD][NTGDI] Split FT_Bitmap_Convert hack
  sdk/lib/3rdparty/freetype/include/freetype/ftbitmap.h
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
  win32ss/drivers/font/ftfd/ftfd.spec
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7651 [FREETYPE][NTGDI] Simplify IntGdiLoadFontsFromMemory
  win32ss/gdi/ntgdi/freetype.c
Labels: refactoring, Win32SS

#7639 [NTOS:KE/x64] Improve freeze code
  ntoskrnl/ke/amd64/freeze.c
Labels: enhancement, kernel&hal, SMP

#7658 Try to fix regression
  sdk/include/asm/asm.inc
Labels: bugfix

#7641 [NTOS:KE] Make KeQueryActiveProcessors portable and non-paged
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/arm/cpu.c
  ntoskrnl/ke/i386/cpu.c
  ntoskrnl/ke/krnlinit.c
  ntoskrnl/ke/processor.c
  ntoskrnl/ntos.cmake
Labels: bugfix, kernel&hal

#7648 [RAPPS] Reuse active pending downloads window
  base/applications/rapps/gui.cpp
  base/applications/rapps/loaddlg.cpp
Labels: bugfix

#7653 [NTDLL] Acquire LdrpLoaderLock in LdrpInitializeThread
  dll/ntdll/ldr/ldrinit.c
Labels: bugfix

#7664 [SHELL32][SHELL32_APITEST][SDK] SHIsBadInterfacePtr
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHIsBadInterfacePtr.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#6808 [NTDLL][RTL] Introduced Threadpooling into ntdll/rtl from wine-9.7
  dll/ntdll/def/ntdll.spec
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrinit.c
  dll/ntdll/nt_0600/ntdll_vista.spec
  media/doc/WINESYNC.txt
  modules/rostests/winetests/ntdll/CMakeLists.txt
  modules/rostests/winetests/ntdll/testlist.c
  modules/rostests/winetests/ntdll/threadpool.c
  sdk/include/ndk/rtlfuncs.h
  sdk/include/xdk/winnt_old.h
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/rtl.h
  sdk/lib/rtl/threadpool.c
  sdk/lib/rtl/timerqueue.c
  sdk/lib/rtl/wait.c
Labels: enhancement, ROSTESTS, NT6+, no squash merge

#7662 [UXTHEME][UXTHEME_APITEST][SDK] GetThemeParseErrorInfo
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/errinfo.c
  dll/win32/uxtheme/main.c
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/uxtheme.spec
  dll/win32/uxtheme/uxthemep.h
  modules/rostests/apitests/uxtheme/CMakeLists.txt
  modules/rostests/apitests/uxtheme/GetThemeParseErrorInfo.c
  modules/rostests/apitests/uxtheme/testlist.c
  sdk/include/reactos/uxundoc.h
Labels: enhancement, ROSTESTS

#7670 [SHELL32][SHELL32_APITEST][SDK] SHGetComputerDisplayNameW
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetComputerDisplayNameW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, ROSTESTS, shell

#7674 [RAPPS] Set working directory for zip generated shortcuts
  base/applications/rapps/geninst.cpp
Labels: enhancement, trivial fix

#7679 [NTUSER] Load SM_CXICON etc. settings from registry
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/sysparams.c
  win32ss/user/ntuser/sysparams.h
Labels: enhancement, Win32SS

#7682 Revert "[NTUSER] Load SM_CXICON etc. settings from registry"
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/sysparams.c
  win32ss/user/ntuser/sysparams.h
Labels: bugfix, Win32SS

#7678 [SDK] Define IAssociationElement, IAssociationArray etc.
  sdk/include/reactos/shlguid_undoc.h
  sdk/include/reactos/shlobj_undoc.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement

#7668 [RAPPS] Allow database to override download filename
  base/applications/rapps/include/appinfo.h
  base/applications/rapps/loaddlg.cpp
Labels: enhancement, bugfix

#7685 [SDK][SHELL32][SHLWAPI][SHLWAPI_APITEST] Split IShellFolder helpers hack
  dll/win32/shell32/precomp.h
  dll/win32/shlwapi/utils.cpp
  modules/rostests/apitests/shlwapi/IShellFolderHelpers.cpp
  sdk/include/reactos/ishellfolder_helpers.h
  sdk/include/reactos/shlobj_undoc.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: bugfix, refactoring, ROSTESTS, shell

#7683 [SHELL32] Load shell icon size from registry
  dll/win32/shell32/iconcache.cpp
  dll/win32/shell32/wine/shell32_main.c
  dll/win32/shell32/wine/shell32_main.h
Labels: enhancement, shell

#7686 [SHELL32] Don't close Run dialog on execution failure
  dll/win32/shell32/dialogs/dialogs.cpp
Labels: bugfix, trivial fix, shell

#7693 [SHELL32] SEE_MASK_IDLIST should not assume the PIDL is always a FS path
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#7691 [SHDOCVW][EXPLORER][RSHELL][SDK] Populate WinList_* stubs
  base/shell/explorer/precomp.h
  base/shell/explorer/rshell.cpp
  base/shell/rshell/misc.cpp
  dll/win32/shdocvw/CMakeLists.txt
  dll/win32/shdocvw/shdocvw.spec
  dll/win32/shdocvw/shdocvw_main.c
  dll/win32/shdocvw/winlist.cpp
  sdk/include/reactos/shdocvw_undoc.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, review pending, shell
