Repository reactos/reactos, pull requests merged in 2025-05, with the labels that each got.

#7950 [SDK][USER32] Implement WM_IME_SYSTEM.IMS_SOFTKBDONOFF
  sdk/include/ddk/immdev.h
  win32ss/user/user32/misc/imm.c
Labels: Win32SS, input method

#7949 [REGEDIT] Update Polish (pl-PL) translation
  base/applications/regedit/lang/pl-PL.rc
Labels: TRANSLATION

#7952 [NTGDI:FREETYPE] Fix Fonts broken by opening VLC About (Retry of PR #4579)
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7947 [SHELL32][NTUSER] Implement the SEE_MASK_HOTKEY/ICON/HMONITOR flags
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/shlexec.cpp
  win32ss/user/ntuser/hotkey.c
  win32ss/user/ntuser/hotkey.h
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/window.c
Labels: enhancement, shell, Win32SS

#7903 [DWNL] improve user experience and fix progress output
  base/applications/network/dwnl/dwnl.c
Labels: enhancement, bugfix

#7941 [WINESYNC][COMCTL32] Fix: deleting system font object when destroying syslink
  dll/win32/comctl32/syslink.c
Labels: 3rd party sync, trivial fix

#7925 [NDK][XDK] Update definition of KUSER_SHARED_DATA with tests
  sdk/include/ndk/ketypes.h
  sdk/include/ndk/tests/win10_x64.c
  sdk/include/ndk/tests/win10_x86.c
  sdk/include/ndk/tests/win2003_x64.c
  sdk/include/ndk/tests/win2003_x86.c
  sdk/include/ndk/tests/win7_x64.c
  sdk/include/ndk/tests/win7_x86.c
  sdk/include/ndk/tests/win81_x64.c
  sdk/include/ndk/tests/win81_x86.c
  sdk/include/ndk/tests/win8_x64.c
  sdk/include/ndk/tests/win8_x86.c
  sdk/include/ndk/tests/winvista_x64.c
  sdk/include/ndk/tests/winvista_x86.c
  sdk/include/xdk/ketypes.h
Labels: enhancement

#7929 [NTOS] Fix x64 definition of MMPFN
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/miarm.h
Labels: bugfix, kernel&hal

#7932 [SHELL32] fix: focus glitch when hovering separators with submenu open
  dll/win32/shell32/shellmenu/CMenuFocusManager.cpp
Labels: bugfix, shell

#7934 [DESK][SHELL32] Remove desk.cpl hacks for argument parsing
  dll/cpl/desk/desk.c
  dll/win32/shell32/wine/control.c
Labels: bugfix, refactoring, shell

#7922 [WORDPAD] Fix garbage in "Get Text" dialog.
  base/applications/wordpad/wordpad.c
Labels: bugfix

#7939 [WINESYNC][COMCTL32] Move caret to the end on "select all"
  dll/win32/comctl32/edit.c
Labels: 3rd party sync, trivial fix

#7944 [REGEDIT] Fix Incorrect status bar
  base/applications/regedit/framewnd.c
Labels: bugfix, review pending

#7946 [EXPLORER][SHELL32][SHELL32_APITEST][SDK] AppBar Part 2
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/appbar.c
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
  sdk/include/reactos/undocshell.h
Labels: refactoring, ROSTESTS, shell

#7847 [CRT_APITEST] Add setjmp testcase (Retry)
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crt/setjmp.c
  modules/rostests/apitests/crt/static_crt_apitest.cmake
  modules/rostests/apitests/crt/testlist.c
Labels: enhancement, ROSTESTS

#7930 [REACTOS] Change manifest architecture from X86 to *
  base/shell/filebrowser/filebrowser.exe.manifest
  base/shell/filebrowser/filebrowser.exe.regfree.manifest
  dll/win32/atl80/atl80.manifest
  dll/win32/gdiplus/gdiplus.manifest
  dll/win32/gdiplus/gdiplus11.manifest
  dll/win32/msxml3/msxml3.manifest
  dll/win32/msxml4/msxml4.manifest
  dll/win32/msxml6/msxml6.manifest
  modules/rosapps/applications/explorer-old/explorer.exe.manifest
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
  modules/rostests/apitests/user32/verclasstest1.manifest
  modules/rostests/apitests/user32/verclasstest2.manifest
  modules/rostests/kmtests/kmtest/kmtest.exe.manifest
Labels: trivial fix, ROSTESTS

#7829 [ACPI] Remove section assignment from IOCTL handlers
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
Labels: bugfix, drivers

#7912 [IMM32][NETAPI32][SDK] Reduce Wine dependency
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/debug.h
  dll/win32/imm32/precomp.h
  dll/win32/netapi32/CMakeLists.txt
  dll/win32/netapi32/netapi32.h
  sdk/lib/CMakeLists.txt
  sdk/lib/wine2ros/CMakeLists.txt
  sdk/lib/wine2ros/wine2ros.c
  sdk/lib/wine2ros/wine2ros.h
Labels: input method

#7877 [NTGDI][NTUSER] Initial support of NtGdiRemoveFontResourceW
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/misc.h
  win32ss/user/ntuser/misc/registry.c
Labels: enhancement, review pending, Win32SS

#7865 [GDI32][NTGDI][SDK] Font/Text: Fix SAL2 annotations and const-ness
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/undocgdi.h
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/gdibatch.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Labels: review pending, refactoring, Win32SS

#7954 [BROWSEUI] Don't remember invoked non-folders in addressbar
  dll/win32/browseui/addresseditbox.cpp
Labels: bugfix, shell

#7965 [BROWSEUI] Quick Launch: Refresh buttons on change notify
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: enhancement, shell

#7975 [REACTOS] Improve Japanese (ja-JP) translation
  base/setup/reactos/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7976 [SYSDM] Improve Japanese (ja-JP) translation
  dll/cpl/sysdm/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7980 [BROWSEUI] Fix 'bad window handle' on CShellBrowser::RepositionBars
  dll/win32/browseui/shellbrowser.cpp
Labels: bugfix, trivial fix, shell

#7970 [KBSWITCH][SDK] Add indicml.h and change window class
  base/applications/kbswitch/kbswitch.h
  sdk/include/ime/indicml.h
Labels: enhancement

#7984 [NETCFGX] Improve Japanese (ja-JP) translation
  dll/win32/netcfgx/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7985 [DEVMGR] Improve Japanese (ja-JP) translation
  dll/win32/devmgr/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7986 [NETID] Improve Japanese (ja-JP) translation
  dll/win32/netid/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7987 [HELP] Improve Japanese (ja-JP) translation
  base/applications/cmdutils/help/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7988 [REG] Improve Japanese (ja-JP) translation
  base/applications/cmdutils/reg/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7989 [FC] Improve Japanese (ja-JP) translation
  base/applications/cmdutils/fc/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7991 [SERVMAN] Improve Japanese (ja-JP) translation
  base/applications/mscutils/servman/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7992 [DXDIAG] Improve Japanese (ja-JP) translation
  base/applications/dxdiag/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7993 [SHELL32] Improve Japanese (ja-JP) translation
  dll/win32/shell32/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7994 [ACCESS] Improve Japanese (ja-JP) translation
  dll/cpl/access/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7995 [ACCESS] Improve Japanese (ja-JP) translation Part 2
  dll/cpl/access/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7996 [EXPLORER] Improve Japanese (ja-JP) translation
  base/shell/explorer/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7997 [ACCESS] Improve Japanese (ja-JP) translation Part 3
  dll/cpl/access/lang/ja-JP.rc
Labels: enhancement, TRANSLATION

#7969 [IMM32][SDK] Support IME menus Part 1
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/ime.c
  dll/win32/imm32/imemenu.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
  sdk/include/psdk/imm.h
  sdk/include/reactos/imm32_undoc.h
Labels: enhancement, bugfix, input method

#7964 [WS2_32] Improve exports
  dll/win32/ws2_32/CMakeLists.txt
  dll/win32/ws2_32/src/dllmain.c
  dll/win32/ws2_32/ws2_32.spec
  dll/win32/ws2help/CMakeLists.txt
  dll/win32/ws2help/dllmain.c
  dll/win32/ws2help/ws2help.spec
Labels: enhancement, NT6+

#7967 [FREELDR] Show a notice message when booting in debug mode
  boot/freeldr/freeldr/ntldr/winldr.c
Labels: enhancement, freeldr

#7979 [COMCTL32] Fix StatusBar left border frame missing
  dll/win32/comctl32/commctrl.c
Labels: bugfix

#8003 [IMM32] Revert to Wine module
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/precomp.h
Labels: bugfix, input method

#8004 [NETAPI32] Revert to Wine module
  dll/win32/netapi32/CMakeLists.txt
  dll/win32/netapi32/netapi32.h
Labels: bugfix

#7998 [BROWSEUI][FORMATTING] Quick Launch: Just formatting
  dll/win32/browseui/shellbars/CISFBand.cpp
  dll/win32/browseui/shellbars/CISFBand.h
Labels: refactoring, shell

#8006 [IMM32][SDK] Add User32InitializeImmEntryTable to <undocuser.h>
  dll/win32/imm32/imm.c
  sdk/include/reactos/undocuser.h
Labels: trivial fix, refactoring, input method

#7968 [SHELL32][SHDOCVW] Only forward menu messages to the correct shell extension
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CNewMenu.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shlwapi/rosordinal.c
  sdk/include/reactos/shellutils.h
Labels: enhancement, bugfix, shell

#7978 [NTUSER][USER32] Rewrite GetAncestor
  win32ss/include/ntuser.h
  win32ss/user/ntuser/window.c
  win32ss/user/user32/user32.spec
  win32ss/user/user32/windows/window.c
Labels: bugfix, Win32SS

#8007 [IMM32] Fix ImmLocalAlloc usage
  dll/win32/imm32/imemenu.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
Labels: bugfix, trivial fix, input method

#8015 [SHELL32_APITEST] Comment out OpenAs_RunDLL test
  modules/rostests/apitests/shell32/testlist.c
Labels: ROSTESTS

#8018 [KERNEL32_APITEST] Revert some manifest architecture changes
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
Labels: ROSTESTS

#8008 [IMM32] ImeGetImeMenuItems is optional
  dll/win32/imm32/imemenu.c
Labels: bugfix, input method

#8005 [IMM32] NotifyIME: Improve debug trace
  dll/win32/imm32/ime.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
Labels: enhancement, input method

#8009 [IMM32][NTUSER] Strictly check Cicero IME
  dll/win32/imm32/ctf.c
  dll/win32/imm32/ime.c
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
Labels: enhancement, Win32SS, input method

#7255 [BROWSEUI][SHELL32][SHLWAPI][BOOTDATA] Implement and use IRegTreeOptions
  boot/bootdata/hivesft.inf
  dll/win32/browseui/regtreeoptions.cpp
  dll/win32/browseui/regtreeoptions.h
  dll/win32/shell32/CDefViewUtil.cpp
  dll/win32/shell32/dialogs/folder_options.cpp
  dll/win32/shell32/dialogs/folder_options.h
  dll/win32/shell32/dialogs/view.cpp
  dll/win32/shlwapi/ordinal.c
  dll/win32/shlwapi/shlwapi.spec
  sdk/include/reactos/shellutils.h
  sdk/include/reactos/shlobj_undoc.h
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, shell

#8001 [KMTEST] Fix MmSection tests
  modules/rostests/kmtests/ntos_mm/MmSection.c
Labels: bugfix, ROSTESTS

#8011 [IMM32][SDK] Implement ImmIMPGetIMEA/W
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/imepro.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
  sdk/include/reactos/imm32_undoc.h
Labels: enhancement, input method

#8010 [KBSWITCH] Enable Wine debug
  base/applications/kbswitch/CMakeLists.txt
  base/applications/kbswitch/kbsdll/kbsdll.spec
  base/applications/kbswitch/kbswitch.c
Labels: enhancement

#8027 [E1000] Implement OID_GEN_PHYSICAL_MEDIUM
  drivers/network/dd/e1000/info.c
Labels: drivers

#8020 [NTUSER][PSDK] Implement Snap DockMoving setting
  sdk/include/psdk/winuser.h
  win32ss/user/ntuser/nonclient.c
  win32ss/user/ntuser/sysparams.c
  win32ss/user/ntuser/sysparams.h
  win32ss/user/ntuser/winpos.h
Labels: enhancement, Win32SS

#8024 [IMM32][GITHUB] Move dll/win32/imm32 to win32ss/user/imm32
  .github/labeler.yml
  dll/win32/CMakeLists.txt
  win32ss/CMakeLists.txt
  win32ss/user/imm32/CMakeLists.txt
  win32ss/user/imm32/c1keys.h
  win32ss/user/imm32/candidate.c
  win32ss/user/imm32/compstr.c
  win32ss/user/imm32/ctf.c
  win32ss/user/imm32/guideline.c
  win32ss/user/imm32/ime.c
  win32ss/user/imm32/imemenu.c
  win32ss/user/imm32/imepro.c
  win32ss/user/imm32/imm.c
  win32ss/user/imm32/imm32.rc
  win32ss/user/imm32/imm32.spec
  win32ss/user/imm32/keymsg.c
  win32ss/user/imm32/precomp.h
  win32ss/user/imm32/regword.c
  win32ss/user/imm32/res/1033_Bitmap_100.bmp
  win32ss/user/imm32/res/1033_Bitmap_101.bmp
  win32ss/user/imm32/res/1033_Bitmap_102.bmp
  win32ss/user/imm32/res/1033_Bitmap_103.bmp
  win32ss/user/imm32/res/1033_Bitmap_104.bmp
  win32ss/user/imm32/res/1033_Bitmap_105.bmp
  win32ss/user/imm32/res/1033_Bitmap_106.bmp
  win32ss/user/imm32/res/1033_Bitmap_107.bmp
  win32ss/user/imm32/res/1033_Bitmap_108.bmp
  win32ss/user/imm32/res/2052_Bitmap_201.bmp
  win32ss/user/imm32/res/2052_Bitmap_202.bmp
  win32ss/user/imm32/res/2052_Bitmap_203.bmp
  win32ss/user/imm32/res/2052_Bitmap_204.bmp
  win32ss/user/imm32/res/2052_Bitmap_205.bmp
  win32ss/user/imm32/res/2052_Bitmap_206.bmp
  win32ss/user/imm32/res/2052_Bitmap_207.bmp
  win32ss/user/imm32/res/2052_Bitmap_208.bmp
  win32ss/user/imm32/res/2052_Bitmap_209.bmp
  win32ss/user/imm32/resource.h
  win32ss/user/imm32/softkbd.c
  win32ss/user/imm32/t1keys.h
  win32ss/user/imm32/utils.c
  win32ss/user/imm32/win3.c
Labels: Win32SS

#8022 [SHELL32_APITEST] Fix control panel printers PIDL test
  modules/rostests/apitests/shell32/ItemIDList.cpp
Labels: ROSTESTS

#8016 [USP10] Fix notepad without word-wrap 'select all'
  dll/win32/usp10/usp10.c
Labels: 3rd party sync, bugfix

#8025 [MSCTF] Implement CheckAnchorStore function
  dll/win32/msctf/utils.cpp
Labels: enhancement, input method

#8026 [MSCTF][SDK][CTFMON][MSCTFIME][MSUTB] Add msctf.dll stubs
  base/applications/ctfmon/precomp.h
  dll/ime/msctfime/msctfime.h
  dll/win32/msctf/mlng.cpp
  dll/win32/msctf/mlng.h
  dll/win32/msctf/msctf.spec
  dll/win32/msctf/utils.cpp
  dll/win32/msutb/precomp.h
  sdk/include/psdk/inputscope.idl
  sdk/include/psdk/msctf.idl
  sdk/include/reactos/msctf_undoc.h
Labels: enhancement, input method

#8039 [KBSWITCH] Make Alt+Shift working Part 1
  base/applications/kbswitch/kbsdll/kbsdll.c
  base/applications/kbswitch/kbsdll/kbsdll.spec
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/kbswitch.h
  base/applications/kbswitch/resource.h
Labels: bugfix

#8033 [IMM32][SDK] Support ImmIMPQueryIMEA/W and ImmIMPSetIMEA/W
  sdk/include/reactos/imm32_undoc.h
  win32ss/user/imm32/imepro.c
Labels: enhancement, Win32SS, input method

#8042 [APPSHIM_APITEST] Fix test for x86 Vista and 7
  modules/rostests/apitests/appshim/ignoreloadlib.c
Labels: ROSTESTS

#8032 [IMM32][SDK] Add install.c and move some code
  sdk/include/reactos/imm32_undoc.h
  win32ss/user/imm32/CMakeLists.txt
  win32ss/user/imm32/candidate.c
  win32ss/user/imm32/ctf.c
  win32ss/user/imm32/ime.c
  win32ss/user/imm32/imm.c
  win32ss/user/imm32/install.c
  win32ss/user/imm32/keymsg.c
  win32ss/user/imm32/precomp.h
  win32ss/user/imm32/utils.c
Labels: refactoring, Win32SS, input method

#4568 [WIN32K:DIB] USE_DIBLIB: Use new DIB_16BPP_AlphaBlend()
  win32ss/gdi/dib/alphablend.c
  win32ss/gdi/dib/dib_new.c
Labels: enhancement, trivial fix, Win32SS

#8057 [SDK] Add ITfRangeAnchor interface to <msctf_undoc.h>
  sdk/include/reactos/msctf_undoc.h
Labels: enhancement

#7981 [SHELL32][CMD][SHLWAPI] Use the openas verb when invoking unknown file types
  base/shell/cmd/cmd.c
  base/shell/cmd/cmd.h
  base/shell/cmd/error.c
  boot/bootdata/hivecls.inf
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/CQueryAssociations.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.h
  dll/win32/shlwapi/assoc.c
Labels: enhancement, bugfix, shell

#7963 [CRT_APITEST] Fix test failures on Win 2003 x64
  modules/rostests/apitests/crt/setjmp.c
Labels: bugfix, ROSTESTS

#8052 [KBSWITCH] Refactor on layout numbers
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/resource.h
Labels: refactoring
