Repository reactos/reactos, pull requests merged in 2025-08, with the labels that each got.

#8287 [COMCTL32] ListView must update header font if it deletes the old font
  dll/win32/comctl32/listview.c
Labels: bugfix

#8298 [NET] Fix 'net use' command random fails
  base/applications/network/net/cmdUse.c
Labels: bugfix

#8270 [NEWDEV] Correct typo in en-us locale
  dll/win32/newdev/lang/en-US.rc
Labels: enhancement, 1st time contributor

#8264 [TCPIP] Fix synchronization on SMP
  drivers/network/tcpip/include/lwip/arch/sys_arch.h
  drivers/network/tcpip/ip/lwip_glue/sys_arch.c
Labels: bugfix, drivers, SMP

#8300 [TCPIP] Return MIB_IF_TYPE_ETHERNET for WLAN adapter types when compiling ReactOS as NT 5.2
  drivers/network/tcpip/tcpip/iinfo.c
Labels: bugfix, drivers

#8322 [WINLOGON] Duplicate the logged-in user/domain names and give them to the notifications
  base/system/winlogon/notify.c
  base/system/winlogon/sas.c
  base/system/winlogon/winlogon.c
  base/system/winlogon/winlogon.h
Labels: enhancement, bugfix

#8282 [KERNEL32] Fix use-after-free in GetStartupInfoA
  dll/win32/kernel32/client/proc.c
Labels: bugfix, 1st time contributor

#8324 [WINLOGON] Close all the user network connections only at logoff
  base/system/winlogon/sas.c
Labels: enhancement, bugfix

#8330 [NTOS:KE] Fix X86_FEATURE_MTTR typo
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/include/internal/i386/ke.h
  ntoskrnl/ke/i386/cpu.c
Labels: trivial fix, kernel&hal

#8336 [SETUPLIB] Fix system partition selection DPRINTs
  base/setup/lib/utils/partlist.c
Labels: bugfix

#8240 [NDIS][PSDK] Define IOCTL_NDIS_RESERVED7 and add a stub
  drivers/network/ndis/ndis/miniport.c
  sdk/include/psdk/ntddndis.h
Labels: enhancement, drivers

#8177 [UNIATA] Upgrade to v0.47b from v0.47a
  drivers/storage/ide/uniata/atapi.h
  drivers/storage/ide/uniata/bsmaster.h
  drivers/storage/ide/uniata/id_ata.cpp
  drivers/storage/ide/uniata/id_dma.cpp
  drivers/storage/ide/uniata/id_init.cpp
  drivers/storage/ide/uniata/id_probe.cpp
  drivers/storage/ide/uniata/idedma.def
  drivers/storage/ide/uniata/ros_glue/ros_glue.cpp
  drivers/storage/ide/uniata/todo.txt
  drivers/storage/ide/uniata/uniata_comm.inf
  drivers/storage/ide/uniata/uniata_ver.h
  media/doc/3rd Party Files.txt
Labels: 3rd party sync, drivers

#8243 [NDIS] NDIS_TAG: Fix definition and usages
  drivers/network/ndis/include/ndissys.h
  drivers/network/ndis/ndis/protocol.c
Labels: refactoring, drivers

#8295 [KMTESTS] KmtAreInterruptsEnabled(): Be explicit about architectures
  modules/rostests/kmtests/include/kmt_test_kernel.h
Labels: enhancement, ROSTESTS

#8319 [SDK] ntddndis.h: Add/Update 3 NDIS typedefs
  sdk/include/psdk/ntddndis.h
Labels: enhancement

#8184 [UNIATA] UniataChipDetect(): Workaround AHCI detection
  drivers/storage/ide/uniata/id_init.cpp
Labels: bugfix, drivers
