Repository reactos/reactos, pull requests merged in 2025-06, with the labels that each got.

#8065 [SHELL32] Don't assert on broken ShellExecuteEx error reporting
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, shell

#8056 [MSCTF] Make ITfLangBarMgr C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/langbarmgr.c
  base/ctf/msctf/langbarmgr.cpp
  base/ctf/msctf/msctf_internal.h
Labels: enhancement, input method

#8060 [SDK][CICERO] Replace msctf_undoc.h with msctf_undoc.idl
  CMakeLists.txt
  base/ctf/cicero/CMakeLists.txt
  sdk/include/reactos/CMakeLists.txt
  sdk/include/reactos/msctf_undoc.h
  sdk/include/reactos/msctf_undoc.idl
Labels: refactoring, input method

#8049 [KERNELBASE][KERNEL32][PATHCCH] Import KernelBase from WINE-10.0
  dll/win32/kernelbase/CMakeLists.txt
  dll/win32/kernelbase/wine/CMakeLists.txt
  dll/win32/kernelbase/wine/console.c
  dll/win32/kernelbase/wine/debug.c
  dll/win32/kernelbase/wine/file.c
  dll/win32/kernelbase/wine/kernelbase.h
  dll/win32/kernelbase/wine/kernelbase.rc
  dll/win32/kernelbase/wine/kernelbase.rgs
  dll/win32/kernelbase/wine/kernelbase.spec
  dll/win32/kernelbase/wine/loader.c
  dll/win32/kernelbase/wine/locale.c
  dll/win32/kernelbase/wine/main.c
  dll/win32/kernelbase/wine/memory.c
  dll/win32/kernelbase/wine/path.c
  dll/win32/kernelbase/wine/process.c
  dll/win32/kernelbase/wine/registry.c
  dll/win32/kernelbase/wine/security.c
  dll/win32/kernelbase/wine/string.c
  dll/win32/kernelbase/wine/sync.c
  dll/win32/kernelbase/wine/synchacks.h
  dll/win32/kernelbase/wine/thread.c
  dll/win32/kernelbase/wine/version.c
  dll/win32/kernelbase/wine/volume.c
  dll/win32/kernelbase/wine/winerror.mc
  sdk/include/psdk/shlwapi.h
  sdk/include/psdk/winnls.h
Labels: enhancement, 3rd party sync

#7893 [BASE] Add and improve Italian (it-IT) translation
  base/applications/clipbrd/lang/it-IT.rc
  base/services/w32time/lang/it-IT.rc
  base/services/w32time/w32time.rc
  base/system/chkdsk/lang/it-IT.rc
  base/system/diskpart/diskpart.rc
  base/system/diskpart/lang/it-IT.rc
  base/system/format/lang/it-IT.rc
  base/system/runonce/lang/it-IT.rc
  base/system/services/lang/it-IT.rc
Labels: TRANSLATION

#7973 [NETSHELL] Update Romanian (ro-RO) translation
  dll/shellext/netshell/lang/ro-RO.rc
Labels: TRANSLATION, shell

#8068 [BOOTDATA] hivesys.inf: Sort 5 NLS languages and locales
  boot/bootdata/hivesys.inf
Labels: bugfix

#8072 [FORMAT] Usage(): Remove redundant LoadFMIFSEntryPoints() call
  base/system/format/format.c
Labels: refactoring

#7966 [EXPLORER] AppBar Part 3
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/precomp.h
  base/shell/explorer/traywnd.cpp
Labels: enhancement, review pending, shell

#8071 [IMM32][SDK] Refactor IMM32 and fix annotations
  sdk/include/psdk/imm.h
  sdk/include/reactos/imm32_undoc.h
  win32ss/user/imm32/candidate.c
  win32ss/user/imm32/compstr.c
  win32ss/user/imm32/ctf.c
  win32ss/user/imm32/guideline.c
  win32ss/user/imm32/ime.c
  win32ss/user/imm32/imm.c
  win32ss/user/imm32/keymsg.c
  win32ss/user/imm32/precomp.h
  win32ss/user/imm32/regword.c
  win32ss/user/imm32/softkbd.c
  win32ss/user/imm32/utils.c
  win32ss/user/imm32/win3.c
Labels: refactoring, Win32SS, input method

#8077 [SHELL32_APITEST] Add shell32_apitest_sub dependency
  modules/rostests/apitests/shell32/CMakeLists.txt
Labels: enhancement, ROSTESTS

#8021 [FREELDR] Make the NTFS filename comparison conforming to the NTLDR/BOOTMGR
  boot/freeldr/freeldr/lib/fs/ntfs.c
Labels: enhancement, freeldr

#8054 [SHELL32] Implement single-click mode in DefView
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/shfldr.h
Labels: enhancement, shell

#8048 [GDI32_APITEST] Fix test on all versions of Windows at certain vertical resolutions
  modules/rostests/apitests/gdi32/SetWindowExtEx.c
Labels: ROSTESTS

#8084 [WIN32SS:NTUSER] Minor code cleanup in hotkey code
  win32ss/user/ntuser/hotkey.c
  win32ss/user/ntuser/hotkey.h
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/message.c
Labels: enhancement, refactoring, Win32SS

#8083 [WINLOGON] Register hotkeys for 'Lock Workstation' and 'Accessibility' (UtilMan)
  base/system/winlogon/sas.c
  base/system/winlogon/winlogon.h
Labels: enhancement

#8087 [KBSWITCH] Rename kbsdll.dll as indicdll.dll
  base/applications/kbswitch/CMakeLists.txt
  base/applications/kbswitch/indicdll/CMakeLists.txt
  base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/indicdll/indicdll.rc
  base/applications/kbswitch/indicdll/indicdll.spec
  base/applications/kbswitch/kbsdll/CMakeLists.txt
  base/applications/kbswitch/kbswitch.c
Labels: bugfix

#8088 [USER32][IMM32][SDK] Support WM_IME_SYSTEM.0x1D
  sdk/include/ddk/immdev.h
  win32ss/user/imm32/imemenu.c
  win32ss/user/user32/include/user32p.h
  win32ss/user/user32/misc/dllmain.c
  win32ss/user/user32/misc/imm.c
Labels: enhancement, Win32SS, input method

#8091 [SHLEXTDBG] Added more SEI flags
  modules/rosapps/applications/devutils/shlextdbg/shlextdbg.cpp
Labels: enhancement

#8099 [SDK][USER32_APITEST] Update <msgdump.h>
  modules/rostests/apitests/user32/MessageStateAnalyzer.c
  sdk/include/reactos/msgdump.h
Labels: bugfix, ROSTESTS

#8080 [KBSWITCH] Support System Pen Icon
  base/applications/kbswitch/CMakeLists.txt
  base/applications/kbswitch/imemenu.c
  base/applications/kbswitch/imemenu.h
  base/applications/kbswitch/indicdll/CMakeLists.txt
  base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/indicdll/indicdll.rc
  base/applications/kbswitch/indicdll/indicdll.spec
  base/applications/kbswitch/indicdll/res/10.ico
  base/applications/kbswitch/indicdll/res/11.ico
  base/applications/kbswitch/indicdll/res/12.ico
  base/applications/kbswitch/indicdll/res/13.ico
  base/applications/kbswitch/indicdll/res/14.ico
  base/applications/kbswitch/indicdll/res/15.ico
  base/applications/kbswitch/indicdll/res/16.ico
  base/applications/kbswitch/indicdll/resource.h
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/kbswitch.h
  base/applications/kbswitch/resource.h
Labels: enhancement

#8100 [EXPLORER] Taskbar: Set MINMAXINFO correctly
  base/shell/explorer/traywnd.cpp
Labels: bugfix, shell

#8090 [SYSSETUP] WriteUserLocale(): Fix Locale[] length and value
  dll/win32/syssetup/wizard.c
Labels: bugfix

#7956 [SHELL32] Implement basic SHMultiFileProperties
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/dialogs/filedefext.h
  dll/win32/shell32/dialogs/item_prop.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  sdk/include/reactos/shellutils.h
Labels: enhancement, shell

#8078 [RICHED20] Sync to Wine-10.0
  dll/win32/riched20/CMakeLists.txt
  dll/win32/riched20/caret.c
  dll/win32/riched20/clipboard.c
  dll/win32/riched20/editor.c
  dll/win32/riched20/editor.h
  dll/win32/riched20/editstr.h
  dll/win32/riched20/list.c
  dll/win32/riched20/paint.c
  dll/win32/riched20/para.c
  dll/win32/riched20/precomp.h
  dll/win32/riched20/reader.c
  dll/win32/riched20/richole.c
  dll/win32/riched20/rtf.h
  dll/win32/riched20/run.c
  dll/win32/riched20/string.c
  dll/win32/riched20/style.c
  dll/win32/riched20/table.c
  dll/win32/riched20/txthost.c
  dll/win32/riched20/txtsrv.c
  dll/win32/riched20/undo.c
  dll/win32/riched20/wrap.c
  dll/win32/riched20/writer.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/riched20/CMakeLists.txt
  modules/rostests/winetests/riched20/editor.c
  modules/rostests/winetests/riched20/richole.c
  modules/rostests/winetests/riched20/txtsrv.c
  sdk/include/reactos/wine/rbtree.h
  sdk/tools/winesync/riched20.cfg
Labels: 3rd party sync, ROSTESTS

#8096 [MSCTF][SDK] Add stubs for CRange
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/range.c
  base/ctf/msctf/range.cpp
  base/ctf/msctf/range.h
  base/ctf/msctf/utils.cpp
  sdk/include/psdk/textstor.idl
  sdk/include/reactos/msctf_undoc.idl
Labels: enhancement, input method

#8109 [IMM32] Use ANSI_NULL and UNICODE_NULL
  win32ss/user/imm32/compstr.c
  win32ss/user/imm32/ime.c
  win32ss/user/imm32/imemenu.c
  win32ss/user/imm32/regword.c
  win32ss/user/imm32/utils.c
Labels: trivial fix, refactoring, Win32SS, input method

#8101 [KBSWITCH] Handle IME Menu default items
  base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/kbswitch.c
  base/applications/kbswitch/lang/bg-BG.rc
  base/applications/kbswitch/lang/cs-CZ.rc
  base/applications/kbswitch/lang/de-DE.rc
  base/applications/kbswitch/lang/en-US.rc
  base/applications/kbswitch/lang/es-ES.rc
  base/applications/kbswitch/lang/et-EE.rc
  base/applications/kbswitch/lang/fr-FR.rc
  base/applications/kbswitch/lang/he-IL.rc
  base/applications/kbswitch/lang/it-IT.rc
  base/applications/kbswitch/lang/ja-JP.rc
  base/applications/kbswitch/lang/lt-LT.rc
  base/applications/kbswitch/lang/no-NO.rc
  base/applications/kbswitch/lang/pl-PL.rc
  base/applications/kbswitch/lang/pt-BR.rc
  base/applications/kbswitch/lang/pt-PT.rc
  base/applications/kbswitch/lang/ro-RO.rc
  base/applications/kbswitch/lang/ru-RU.rc
  base/applications/kbswitch/lang/sk-SK.rc
  base/applications/kbswitch/lang/sq-AL.rc
  base/applications/kbswitch/lang/sv-SE.rc
  base/applications/kbswitch/lang/tr-TR.rc
  base/applications/kbswitch/lang/uk-UA.rc
  base/applications/kbswitch/lang/zh-CN.rc
  base/applications/kbswitch/lang/zh-HK.rc
  base/applications/kbswitch/lang/zh-TW.rc
  base/applications/kbswitch/resource.h
Labels: enhancement

#8110 [BOOTDATA][NTUSER] Add DontLoadCTFIME and use it
  boot/bootdata/hivesft.inf
  win32ss/include/ntuser.h
  win32ss/user/ntuser/metric.c
  win32ss/user/ntuser/userfuncs.h
Labels: bugfix, Win32SS

#8116 [MSCTF][SDK] Add CDisplayAttributeMgr stubs
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/displayattributemgr.c
  base/ctf/msctf/displayattributemgr.cpp
  base/ctf/msctf/displayattributemgr.h
  sdk/include/reactos/msctf_undoc.idl
Labels: enhancement, input method

#8113 [USER32][COMCTL32] Edit: Optimize EDIT_SetCaretPos for speed
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Labels: bugfix, Win32SS

#8123 [SHLWAPI] Implement SHCreateShellPalette
  dll/win32/shlwapi/ordinal.c
Labels: enhancement

#8124 [SHLWAPI][SHLWAPI_APITEST][SDK] Implement IsQSForward
  dll/win32/shlwapi/ordinal.c
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/IsQSForward.c
  modules/rostests/apitests/shlwapi/testlist.c
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, ROSTESTS

#6622 [UXTHEME] Implement various Vista+ functions, mostly from WINE
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/buffer.c
  dll/win32/uxtheme/metric.c
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/uxtheme_vista.spec
  sdk/include/psdk/uxtheme.h
Labels: enhancement, NT6+, no squash merge

#8105 [EXPLORER] Add fullscreen handling
  base/shell/explorer/precomp.h
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/traywnd.cpp
Labels: bugfix, review pending, shell

#8121 [OLEAUT32][OLEAUT32_WINETEST] Import LPSAFEARRAY user marshal interface marshaling support from Wine
  dll/win32/oleaut32/usrmarshal.c
  modules/rostests/winetests/oleaut32/usrmarshal.c
Labels: 3rd party sync, bugfix, ROSTESTS

#8125 [SHLWAPI][SHLWAPI_APITEST][SDK] Support MayExecForward + MayQSForward
  dll/win32/shlwapi/ordinal.c
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/IsQSForward.c
  modules/rostests/apitests/shlwapi/IsQSForward.cpp
  sdk/include/reactos/shlwapi_undoc.h
Labels: enhancement, ROSTESTS

#8132 [WINLOGON] Diverse fixes - Part 3 (Workstation locking/unlocking)
  base/system/winlogon/sas.c
Labels: enhancement, bugfix

#8097 [SHELL32] Fix IShellExecuteHookW
  dll/shellext/netshell/shfldr_netconnect.cpp
  dll/shellext/netshell/shfldr_netconnect.h
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/PolicyData.h
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellole.c
  dll/win32/shell32/wine/shpolicy.c
  sdk/include/reactos/shellutils.h
  sdk/include/reactos/undocshell.h
Labels: bugfix, shell

#8098 [SYSSETUP] wizard.c, UnattendSetup: Fix Theme page order
  dll/win32/syssetup/wizard.c
Labels: bugfix

#8120 [MSCTF] Translate ITfDocumentMgr into C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/documentmgr.c
  base/ctf/msctf/documentmgr.cpp
  base/ctf/msctf/documentmgr.h
Labels: enhancement, input method

#8142 [INDICDLL] Don't use WH_KEYBOARD_LL but WH_KEYBOARD
  base/applications/kbswitch/indicdll/indicdll.c
Labels: bugfix

#8127 [NTOS:SE] SeValidSecurityDescriptor: Use relative security descriptor header size for length calculation
  ntoskrnl/se/sd.c
Labels: bugfix, kernel&hal

#8134 [NTOS:PS] Fix NtQueryInformationProcess(ProcessImageInformation)
  ntoskrnl/ps/query.c
Labels: bugfix, kernel&hal

#8144 [NTUSER][USER32] Re-implement WM_POPUPSYSTEMMENU message
  win32ss/user/ntuser/defwnd.c
  win32ss/user/user32/windows/defwnd.c
Labels: bugfix, review pending, Win32SS

#8136 [NTDLL_WINETEST][NTOS:PS] Fix a few NtQueryInformationProcess(Process*) handling cases
  modules/rostests/winetests/ntdll/info.c
  ntoskrnl/ps/query.c
Labels: 3rd party sync, bugfix, ROSTESTS, kernel&hal

#8151 [BROWSEUI][SHELL32] Fixed FindFiles rename operation
  dll/shellext/netshell/shfldr_netconnect.cpp
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/precomp.h
Labels: bugfix, shell

#8150 [SHELL32][BROWSEUI] Make externally available FCIDM WM_COMMANDs work correctly
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shresdef.h
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/shlobj_undoc.h
Labels: enhancement, shell

#8156 [SDK] Add some shell defines from an old NT4 SDK
  sdk/include/psdk/shlobj.h
  sdk/include/psdk/shobjidl.idl
  sdk/include/reactos/shlobj_undoc.h
Labels: enhancement, trivial fix

#8074 [FREELDR] Improve disk detection on UEFI
  boot/freeldr/freeldr/arch/uefi/uefidisk.c
Labels: enhancement, freeldr

#8161 [BROWSEUI] Fix CompareIDs lParam passed to inner folder
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#8162 [SHELL32] Use the folder column, not the list column during DefView sorting
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, trivial fix, shell

#8147 [SYSDM][SHELL32] Update Russian (ru-RU) translation
  dll/cpl/sysdm/lang/ru-RU.rc
  dll/win32/shell32/lang/ru-RU.rc
Labels: TRANSLATION, shell

#8159 [SYSSETUP] Update Polish (pl-PL) translation
  dll/win32/syssetup/lang/pl-PL.rc
Labels: TRANSLATION

#8160 [EXPLORER] Update Polish (pl-PL) translation
  base/shell/explorer/lang/pl-PL.rc
Labels: TRANSLATION, shell

#8111 [NTUSER] menu.c: Tiny optimizations
  win32ss/user/ntuser/menu.c
Labels: refactoring, Win32SS

#8176 [BROWSEUI] Find files must forward IItemNameLimits to the FS folder
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CFindFolder.h
  dll/win32/shell32/folders/CFSFolder.h
Labels: enhancement, shell

#8174 [BROWSEUI] Find files must compare the entire path when the view asks about the name
  dll/win32/browseui/shellfind/CFindFolder.cpp
Labels: bugfix, shell

#8179 [INDICDLL] Don't use user32 in DLL_PROCESS_ATTACH
  base/applications/kbswitch/indicdll/indicdll.c
Labels: bugfix

#8181 [NTDLL_APITEST] Remove unused / broken definitions
  modules/rostests/apitests/ntdll/RtlQueryTimeZoneInfo.c
Labels: ROSTESTS, janitorial

#8164 [TRANSLATIONS] Fix some typos in French translations
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/shell/cmd/lang/fr-FR.rc
  base/system/winlogon/lang/fr-FR.rc
  boot/freeldr/fdebug/lang/fr-FR.rc
  dll/cpl/inetcpl/lang/fr-FR.rc
  modules/rosapps/applications/explorer-old/explorer-fr.rc
Labels: TRANSLATION, freeldr

#8166 [NETSHELL] Improve French (fr-FR) translation
  dll/shellext/netshell/lang/fr-FR.rc
Labels: TRANSLATION, shell

#8186 [EXPLORER] Fix Taskbar context menu Z-order bug
  base/shell/explorer/taskswnd.cpp
Labels: bugfix, shell
