Repository reactos/reactos, pull requests merged in 2025-04, with the labels that each got.

#7850 [IEFRAME] Implement URL PIDL
  dll/win32/ieframe/CMakeLists.txt
  dll/win32/ieframe/ieframe_main.c
  dll/win32/ieframe/inetfolder.c
  dll/win32/shell32/wine/pidl.h
  modules/rostests/apitests/shell32/ItemIDList.cpp
Labels: enhancement, ROSTESTS, shell

#7851 [NTGDI:FREETYPE] IntExtTextOutW: Renaming variables
  win32ss/gdi/ntgdi/freetype.c
Labels: trivial fix, refactoring, Win32SS

#7853 [FREELDR][INSTALL] Update the FreeLDR installation message in installfreeldr
  boot/freeldr/install/install.c
Labels: trivial fix, freeldr

#7823 [ROSAUTOTEST] Allow rosautotest to be in the same directory as its files and show its duration at the end.
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/main.cpp
  modules/rostests/rosautotest/precomp.h
Labels: enhancement, ROSTESTS

#7856 [GDI32][NTGDI][SDK] ExtTextOut: Fix some type problems
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/freetype.c
Labels: bugfix, Win32SS

#7831 [USER32_APITEST] Add more PrivateExtractIcons tests
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Labels: ROSTESTS

#7852 [BROWSEUI] Handle resolution change when fullscreen
  dll/win32/browseui/shellbrowser.cpp
Labels: bugfix, shell

#7842 [STOBJECT] Explicitly tell the user the battery is fully charged
  dll/shellext/stobject/lang/cs-CZ.rc
  dll/shellext/stobject/lang/de-DE.rc
  dll/shellext/stobject/lang/en-US.rc
  dll/shellext/stobject/lang/es-ES.rc
  dll/shellext/stobject/lang/fr-FR.rc
  dll/shellext/stobject/lang/hi-IN.rc
  dll/shellext/stobject/lang/it-IT.rc
  dll/shellext/stobject/lang/ja-JP.rc
  dll/shellext/stobject/lang/pl-PL.rc
  dll/shellext/stobject/lang/pt-PT.rc
  dll/shellext/stobject/lang/ro-RO.rc
  dll/shellext/stobject/lang/ru-RU.rc
  dll/shellext/stobject/lang/tr-TR.rc
  dll/shellext/stobject/lang/zh-CN.rc
  dll/shellext/stobject/lang/zh-HK.rc
  dll/shellext/stobject/lang/zh-TW.rc
  dll/shellext/stobject/power.cpp
  dll/shellext/stobject/resource.h
Labels: enhancement, shell

#7848 [FTFD] Fix malloc/realloc/free wrappers
  win32ss/drivers/font/ftfd/rosglue.c
Labels: bugfix, Win32SS

#7833 [NTGDI][GDI32] AddFontResource: Support multiple files
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/gdi32/include/gdi32p.h
  win32ss/gdi/gdi32/misc/heap.c
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.h
Labels: enhancement, Win32SS

#6024 [NTOS][HAL] Add simple support for NUMPROC, BOOTPROC, MAXPROC and ONECPU boot switches
  hal/halx86/generic/halinit.c
  hal/halx86/smp/i386/spinup.c
  ntoskrnl/ex/init.c
  ntoskrnl/include/internal/ke.h
  ntoskrnl/ke/i386/mproc.c
  ntoskrnl/ke/processor.c
Labels: enhancement, kernel&hal, SMP

#7351 [RAPPS] Correctly update the Install/Uninstall/... buttons
  base/applications/rapps/appview.cpp
  base/applications/rapps/include/appview.h
Labels: enhancement, bugfix

#7858 [SHELL32] Add SHFileOp error UI and use it for CFSFolder renaming
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shimgvw/shimgvw.c
  sdk/include/reactos/undocshell.h
Labels: enhancement, shell

#5279 [CODEOWNERS] Add myself for modules I wrote or heavily contributed to.
  CODEOWNERS
Labels: documentation

#7857 [ROSAUTOTEST] Final changes to improvements
  modules/rostests/rosautotest/main.cpp
Labels: ROSTESTS

#7863 [MMIXER] Don't stop audio devices enumeration when one or more of them failed to initialize
  sdk/lib/drivers/sound/mmixer/mixer.c
Labels: bugfix, drivers

#7741 [SETUPAPI] Do not fail enumeration on invalid device interface keys
  dll/win32/setupapi/interface.c
Labels: bugfix

#7869 [COMCTL32] ImageList_LoadImageW with CLR_NONE should not use a mask
  dll/win32/comctl32/imagelist.c
Labels: bugfix

#7872 [VCRUNTIME] Fix a bug in x64 __security_init_cookie
  sdk/lib/vcruntime/__security_init_cookie.c
Labels: bugfix

#7873 [COMCTL32] Include size of state imagelist for column 0 LVSCW_AUTOSIZE
  dll/win32/comctl32/listview.c
Labels: bugfix

#4359 [FREELDR:PC98] Don't do the HighRes check everytime a character is written with writechr.
  boot/freeldr/bootsect/pc98/fat12fdd.S
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
Labels: enhancement, freeldr

#7837 [BROWSEUI] Fix backspace button behavior in win32 shell browser
  dll/win32/browseui/shellbrowser.cpp
Labels: enhancement, bugfix, shell

#7881 [RICHED20] Fix RTC MSVC Failure in function ME_GetTextW.
  dll/win32/riched20/editor.c
Labels: 3rd party sync, trivial fix

#7882 [USER32] Fix use of uninitialized variable
  win32ss/user/user32/windows/cursoricon.c
Labels: bugfix, Win32SS

#7862 [SDK:CMAKE] Remove unused BUILD_MP build option.
  sdk/cmake/config.cmake
Labels: janitorial

#7875 [COMCTL32] Pager: Fix PGM_RECALCSIZE behaviour
  dll/win32/comctl32/pager.c
Labels: bugfix

#7779 [TRACERT] Improve command line parsing
  base/applications/network/tracert/lang/bg-BG.rc
  base/applications/network/tracert/lang/cs-CZ.rc
  base/applications/network/tracert/lang/de-DE.rc
  base/applications/network/tracert/lang/en-US.rc
  base/applications/network/tracert/lang/es-ES.rc
  base/applications/network/tracert/lang/fr-FR.rc
  base/applications/network/tracert/lang/it-IT.rc
  base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/ro-RO.rc
  base/applications/network/tracert/lang/ru-RU.rc
  base/applications/network/tracert/lang/sq-AL.rc
  base/applications/network/tracert/lang/sv-SE.rc
  base/applications/network/tracert/lang/tr-TR.rc
  base/applications/network/tracert/lang/uk-UA.rc
  base/applications/network/tracert/lang/zh-CN.rc
  base/applications/network/tracert/lang/zh-TW.rc
  base/applications/network/tracert/resource.h
  base/applications/network/tracert/tracert.cpp
Labels: enhancement

#7887 [USRMGR] Implement "Require user name and password on system startup."
  dll/cpl/usrmgr/lang/cs-CZ.rc
  dll/cpl/usrmgr/lang/de-DE.rc
  dll/cpl/usrmgr/lang/en-US.rc
  dll/cpl/usrmgr/lang/es-ES.rc
  dll/cpl/usrmgr/lang/fr-FR.rc
  dll/cpl/usrmgr/lang/he-IL.rc
  dll/cpl/usrmgr/lang/id-ID.rc
  dll/cpl/usrmgr/lang/it-IT.rc
  dll/cpl/usrmgr/lang/ja-JP.rc
  dll/cpl/usrmgr/lang/pl-PL.rc
  dll/cpl/usrmgr/lang/pt-PT.rc
  dll/cpl/usrmgr/lang/ro-RO.rc
  dll/cpl/usrmgr/lang/ru-RU.rc
  dll/cpl/usrmgr/lang/tr-TR.rc
  dll/cpl/usrmgr/lang/uk-UA.rc
  dll/cpl/usrmgr/lang/zh-CN.rc
  dll/cpl/usrmgr/lang/zh-HK.rc
  dll/cpl/usrmgr/lang/zh-TW.rc
  dll/cpl/usrmgr/users.c
Labels: enhancement

#7895 [NDK] Add definition for SystemSystemPartitionInformation System Information Class
  sdk/include/ndk/extypes.h
Labels: enhancement, NT6+

#7896 [MOUNTMGR] Few fixes and improvements
  drivers/storage/mountmgr/database.c
  drivers/storage/mountmgr/device.c
Labels: enhancement, bugfix, drivers

#7897 [KERNEL32] RemoveDirectoryW: Fix the code for removing a mounted folder
  dll/win32/kernel32/client/file/dir.c
Labels: bugfix

#7890 [IMM32] Make IMM32 non-Wine module
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/ctf.c
  dll/win32/imm32/debug.h
  dll/win32/imm32/ime.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/regword.c
  dll/win32/imm32/softkbd.c
  media/doc/WINESYNC.txt
Labels: bugfix, input method

#7879 [EXPLORER][BROWSEUI][SHLWAPI][BOOTDATA][WIN32K] Support AppKeys and more WM_APPCOMMANDs
  base/shell/explorer/taskswnd.cpp
  boot/bootdata/hivesft.inf
  dll/win32/browseui/resource.h
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/res/rgs/explorer.rgs
  dll/win32/shell32/rgs_res.rc
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/shresdef.h
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  sdk/include/reactos/shlwapi_undoc.h
  win32ss/user/ntuser/desktop.c
Labels: enhancement, bugfix, shell, Win32SS

#7883 [NTOS] Fix MSVC warnings
  ntoskrnl/io/iomgr/deviface.c
  ntoskrnl/io/iomgr/driver.c
  ntoskrnl/io/pnpmgr/devaction.c
  ntoskrnl/ob/oblink.c
Labels: warnings, kernel&hal

#7899 [SERVMAN] Services Properties 'Dependencies' tab missing text
  base/applications/mscutils/servman/lang/bg-BG.rc
  base/applications/mscutils/servman/lang/cs-CZ.rc
  base/applications/mscutils/servman/lang/de-DE.rc
  base/applications/mscutils/servman/lang/el-GR.rc
  base/applications/mscutils/servman/lang/en-US.rc
  base/applications/mscutils/servman/lang/es-ES.rc
  base/applications/mscutils/servman/lang/fr-FR.rc
  base/applications/mscutils/servman/lang/he-IL.rc
  base/applications/mscutils/servman/lang/id-ID.rc
  base/applications/mscutils/servman/lang/it-IT.rc
  base/applications/mscutils/servman/lang/ja-JP.rc
  base/applications/mscutils/servman/lang/ko-KR.rc
  base/applications/mscutils/servman/lang/no-NO.rc
  base/applications/mscutils/servman/lang/pl-PL.rc
  base/applications/mscutils/servman/lang/pt-PT.rc
  base/applications/mscutils/servman/lang/ro-RO.rc
  base/applications/mscutils/servman/lang/ru-RU.rc
  base/applications/mscutils/servman/lang/sk-SK.rc
  base/applications/mscutils/servman/lang/sq-AL.rc
  base/applications/mscutils/servman/lang/sv-SE.rc
  base/applications/mscutils/servman/lang/th-TH.rc
  base/applications/mscutils/servman/lang/tr-TR.rc
  base/applications/mscutils/servman/lang/uk-UA.rc
  base/applications/mscutils/servman/lang/zh-CN.rc
  base/applications/mscutils/servman/lang/zh-HK.rc
  base/applications/mscutils/servman/lang/zh-TW.rc
Labels: TRANSLATION, trivial fix

#7909 [SHELL32] Enable OK Run dialog button on combo change
  dll/win32/shell32/dialogs/dialogs.cpp
Labels: bugfix, trivial fix, shell

#7900 [SHELL32] Respect StrCmpLogicalW policy in shell folders
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/dialogs/view.cpp
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shpolicy.c
Labels: enhancement, shell

#7907 [SHELL32] Respect the REST_NODRIVES restriction
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.h
Labels: enhancement, shell

#7915 [TASKMGR] Distinguish WOW64 processes with a " *32" in the image name
  base/applications/taskmgr/perfdata.c
  base/applications/taskmgr/perfdata.h
Labels: enhancement

#7880 [SHELL32] Implement IShellFolder2::GetDetailsEx
  dll/win32/shell32/folders/CControlPanelFolder.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/shell32_main.h
  sdk/include/reactos/shellutils.h
Labels: enhancement, shell

#7916 [DESK] Preview the color on the background color button
  dll/cpl/desk/background.c
  dll/cpl/desk/desk.h
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/desk/misc.c
Labels: enhancement

#7918 [BROWSEUI] Use the last id for custom find files menu item
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CDefView.cpp
Labels: bugfix, shell

#7904 [SHELL32] Fix: Deselect highlighted item in shell menus on close
  dll/win32/shell32/shellmenu/CMenuBand.cpp
Labels: bugfix, shell

#7920 [USER32] Read the CoolSwitch settings from the registry
  win32ss/user/user32/controls/appswitch.c
Labels: enhancement, Win32SS

#7917 [STOBJECT][NTUSER][ACCESS] Don't use a systray timer when not needed
  dll/cpl/access/access.c
  dll/cpl/access/mouse.c
  dll/shellext/stobject/csystray.cpp
  dll/shellext/stobject/csystray.h
  dll/shellext/stobject/hotplug.cpp
  dll/shellext/stobject/mouse.cpp
  dll/shellext/stobject/power.cpp
  dll/shellext/stobject/precomp.h
  dll/shellext/stobject/volume.cpp
  win32ss/user/ntuser/sysparams.c
Labels: enhancement, shell, Win32SS

#7911 [SHELL32] Allow .Lnk properties dialog to change icon for non-FS targets
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/CShellLink.h
Labels: bugfix, shell

#7919 [GDI32] Fix MSVC warning. Simplify code.
  win32ss/gdi/gdi32/objects/bitmap.c
Labels: Win32SS

#7926 [EXPLORER] Implement NoWinKeys and HideClock restrictions
  base/shell/explorer/precomp.h
  base/shell/explorer/trayclock.cpp
  base/shell/explorer/trayntfy.cpp
  base/shell/explorer/trayprop.cpp
  base/shell/explorer/traywnd.cpp
Labels: enhancement, shell

#7924 [CHARMAP] Fix status bar not being refreshed
  base/applications/charmap/map.c
Labels: bugfix

#7933 [SHELL32] Don't set a desktop.ini folder icon on WinDir and System32
  dll/win32/shell32/wine/shellpath.c
Labels: bugfix, trivial fix, shell

#7935 [EXPLORER] Implement ClearRecentDocsOnExit setting
  base/shell/explorer/precomp.h
  base/shell/explorer/startmnucust.cpp
  base/shell/explorer/traywnd.cpp
Labels: enhancement, shell

#7921 [EVENTVWR] Fix "Bytes" and "Word" buttons being enabled with empty entry
  base/applications/mscutils/eventvwr/evtdetctl.c
Labels: trivial fix

#7931 [XDK] Add missing PCI subclass type definition
  sdk/include/xdk/iotypes.h
Labels: enhancement, bugfix

#7945 [SHELL32] Don't pass menu band hwnd to InvokeCommand
  dll/win32/shell32/shellmenu/CMenuBand.cpp
Labels: bugfix, trivial fix, shell

#7778 [EXPLORER][SHELL32][SHELL32_APITEST][SDK] AppBar: Initial support
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/appbar.c
  dll/win32/shell32/wine/appbar.c
  modules/rostests/apitests/shell32/SHAppBarMessage.cpp
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/undocshell.h
Labels: enhancement, review pending, ROSTESTS, shell

#7927 [REGEDIT] Add missing status text for "new" elements
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
Labels: enhancement, TRANSLATION

#7866 [RAPPS] Add ExeInZip installer type to support running installers in zip files
  base/applications/rapps/appdb.cpp
  base/applications/rapps/appinfo.cpp
  base/applications/rapps/geninst.cpp
  base/applications/rapps/include/appdb.h
  base/applications/rapps/include/appinfo.h
  base/applications/rapps/include/misc.h
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/unattended.cpp
Labels: enhancement

#7913 Revert "[CURSOR] Add Cursor AI project settings"
  .cursor/coding-style.json
  .cursor/editor.json
  .cursor/settings.json
  .gitignore
Labels: janitorial
