Repository reactos/reactos, pull requests merged in 2025-02, with the labels that each got.

#7695 [SHELL32] CMenuBand must set ShowWindow value for InvokeCommand
  dll/win32/shell32/shellmenu/CMenuBand.cpp
  dll/win32/shell32/shlexec.cpp
Labels: bugfix, trivial fix, shell

#7688 [SHIMGVW] Update Portuguese (pt-PT) translation
  dll/win32/shimgvw/lang/pt-PT.rc
Labels: TRANSLATION

#7690 [SHLWAPI] Remove accelerator keys from Ok and Cancel buttons
  dll/win32/shlwapi/lang/pt-PT.rc
Labels: trivial fix, janitorial

#7699 [SHELL32] Improve French (fr-FR) translation
  dll/win32/shell32/lang/fr-FR.rc
Labels: TRANSLATION, shell

#7451 [SOLITAIRE] Update Czech (cs-CZ) translation
  base/applications/games/solitaire/lang/cs-CZ.rc
Labels: TRANSLATION

#7600 [CMAKE] Fix compiling i386 targets via x64 clang-cl
  toolchain-msvc.cmake
Labels: bugfix

#7694 [RTL/x64] Fix a bug in RtlpUnwindInternal
  sdk/lib/rtl/amd64/unwind.c
Labels: bugfix

#7698 [RTL][NTDLL_APITEST] Fix buffer overflow in RtlDosSearchPath_Ustr
  modules/rostests/apitests/ntdll/RtlDosSearchPath_Ustr.c
  sdk/lib/rtl/path.c
Labels: bugfix, ROSTESTS

#7702 [SHDOCVW_APITEST] Add WinList testcase
  modules/rostests/apitests/shdocvw/CMakeLists.txt
  modules/rostests/apitests/shdocvw/WinList.cpp
  modules/rostests/apitests/shdocvw/testlist.c
Labels: enhancement, ROSTESTS

#7700 [NTUSER][USER32] Support GetWindow.GW_ENABLEDPOPUP
  win32ss/include/ntuser.h
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/simplecall.c
  win32ss/user/ntuser/userfuncs.h
  win32ss/user/ntuser/window.c
  win32ss/user/user32/include/ntwrapper.h
  win32ss/user/user32/windows/window.c
Labels: enhancement, Win32SS

#7704 [USER32][LIBPNG] Support PNG/Vista icons
  dll/3rdparty/libpng/CMakeLists.txt
  dll/3rdparty/libpng/libpng.spec
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/windows/cursoricon.c
Labels: enhancement, bugfix, NT6+, Win32SS

#7661 [WINVER] Display compatibility information
  base/applications/winver/CMakeLists.txt
  base/applications/winver/lang/en-US.rc
  base/applications/winver/osinfo.c
  base/applications/winver/resource.h
  base/applications/winver/winver.c
  base/applications/winver/winver.rc
  base/applications/winver/winver_p.h
Labels: enhancement

#7697 [RAPPS] Refresh item info after installer completes
  base/applications/rapps/appinfo.cpp
  base/applications/rapps/appview.cpp
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/appinfo.h
  base/applications/rapps/include/appview.h
  base/applications/rapps/include/gui.h
  base/applications/rapps/include/rapps.h
  base/applications/rapps/loaddlg.cpp
  base/applications/rapps/misc.cpp
  base/applications/rapps/unattended.cpp
Labels: enhancement

#7677 [PROPSYS] Sync to wine-10.0
  dll/win32/propsys/CMakeLists.txt
  dll/win32/propsys/precomp.h
  dll/win32/propsys/propstore.c
  dll/win32/propsys/propsys.spec
  dll/win32/propsys/propsys_main.c
  dll/win32/propsys/propsys_private.h
  dll/win32/propsys/propvar.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/propsys/CMakeLists.txt
  modules/rostests/winetests/propsys/propstore.c
  modules/rostests/winetests/propsys/propsys.c
  modules/rostests/winetests/propsys/testlist.c
  sdk/include/psdk/oaidl.idl
  sdk/include/psdk/propsys.idl
  sdk/include/psdk/propvarutil.h
  sdk/tools/winesync/propsys.cfg
Labels: 3rd party sync, ROSTESTS

#7705 [SHIMGVW] Fixes and enhancements
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.rc
Labels: enhancement, bugfix

#7692 [RICHED20_WINETEST] Sync to Wine-6.10. Commit before PR #7611.
  modules/rostests/winetests/riched20/editor.c
  modules/rostests/winetests/riched20/richole.c
  modules/rostests/winetests/riched20/txtsrv.c
  sdk/include/psdk/textserv.h
Labels: 3rd party sync, ROSTESTS

#7710 [SHELL32] Expand .lnk working directory string before checking if it's valid
  dll/win32/shell32/CShellLink.cpp
Labels: bugfix, shell

#7309 [COMCTL32] Fix image list reading/writing (version number and mixing algorithm) - Revised
  dll/win32/comctl32/imagelist.c
Labels: bugfix, no squash merge

#7681 [POWRPROF] Sync Powrprof to WINE-10.0 - Add some functions too
  dll/win32/powrprof/CMakeLists.txt
  dll/win32/powrprof/powrprof.c
  dll/win32/powrprof/powrprof.spec
  sdk/include/psdk/powrprof.h
Labels: 3rd party sync

#7706 [SHIMGVW] Choose a better icon image and also support .cur files
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/loader.cpp
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Labels: enhancement

#7711 [SHIMGVW] Display shell context menu for the image on right-click
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/loader.cpp
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
  dll/win32/shimgvw/util.c
  sdk/include/reactos/shellutils.h
Labels: enhancement

#7716 [WALLPAPERS] Retire using ugly filenames
  modules/wallpapers/Angelus/ReactOS/Angelus ReactOS Dark 16x9 1067x600.jpg
  modules/wallpapers/Angelus/ReactOS/Angelus ReactOS Dark 4x3 800x600.jpg
  modules/wallpapers/Angelus/ReactOS/CMakeLists.txt
  modules/wallpapers/Mizu/CMakeLists.txt
  modules/wallpapers/Mizu/ReactOS Mizu 16x9 1920x1080.png
  modules/wallpapers/Mizu/ReactOS Mizu 4x3 1440x1080.png
  modules/wallpapers/Mizu/ReactOS Mizu A 16x9 1920x1080.png
  modules/wallpapers/Mizu/ReactOS Mizu B 16x9 1920x1080.png
  modules/wallpapers/ReadMe.txt
Labels: enhancement

#7720 [APPWIZ] Don't set the .lnk filename as the shortcut comment
  dll/cpl/appwiz/createlink.c
Labels: bugfix, trivial fix

#7712 [SHELL32] OpenWith should use dll path instead when the command starts with rundll32
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/precomp.h
Labels: bugfix, shell

#7718 [UCRT] Fix MSVC compiling on VS 2017 after Timo's UCRT commits
  sdk/lib/ucrt/math/_dclass.c
  sdk/lib/ucrt/math/_dtest.c
  sdk/lib/ucrt/math/_fdclass.c
  sdk/lib/ucrt/math/_fdtest.c
  sdk/lib/ucrt/stdlib/div.cpp
  sdk/lib/ucrt/stdlib/ldiv.cpp
  sdk/lib/ucrt/stdlib/lldiv.cpp
Labels: bugfix

#7701 [COMCTL32][COMCTL32_APITEST] Implement ImageList Get/SetFlags and the system flag
  dll/win32/comctl32/imagelist.c
  modules/rostests/apitests/comctl32/CMakeLists.txt
  modules/rostests/apitests/comctl32/imagelist.c
  modules/rostests/apitests/comctl32/testlist.c
  sdk/include/reactos/comctl32_undoc.h
Labels: enhancement, ROSTESTS

#7714 [GDIPLUS] Identify .ico codec format as ImageFormatIcon
  dll/win32/gdiplus/image.c
Labels: bugfix

#7724 [COMCTL32] ListView LVIS_CUT image does not depend on focus
  dll/win32/comctl32/listview.c
Labels: bugfix

#7713 [RICHED20] Sync to Wine-6.10
  dll/win32/riched20/CMakeLists.txt
  dll/win32/riched20/caret.c
  dll/win32/riched20/clipboard.c
  dll/win32/riched20/editor.c
  dll/win32/riched20/editor.h
  dll/win32/riched20/editstr.h
  dll/win32/riched20/list.c
  dll/win32/riched20/paint.c
  dll/win32/riched20/para.c
  dll/win32/riched20/reader.c
  dll/win32/riched20/riched20.h
  dll/win32/riched20/richole.c
  dll/win32/riched20/row.c
  dll/win32/riched20/rtf.h
  dll/win32/riched20/run.c
  dll/win32/riched20/style.c
  dll/win32/riched20/table.c
  dll/win32/riched20/txthost.c
  dll/win32/riched20/txtsrv.c
  dll/win32/riched20/undo.c
  dll/win32/riched20/wrap.c
  dll/win32/riched20/writer.c
  media/doc/WINESYNC.txt
Labels: 3rd party sync

#7726 [DESK] Don't include .ico files in the list of wallpapers
  dll/cpl/desk/background.c
Labels: enhancement, trivial fix

#7568 [SHELL32] Handle multiple files in recycle bin delete/restore operations
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.h
Labels: enhancement, shell

#7725 [SHIMGVW] Only enable toolbar edit and print buttons if the shell verb exists
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
  dll/win32/shimgvw/util.c
Labels: enhancement

#7723 [RAPPS] Added option to display small application icons
  base/applications/rapps/appview.cpp
  base/applications/rapps/include/resource.h
  base/applications/rapps/include/settings.h
  base/applications/rapps/lang/bg-BG.rc
  base/applications/rapps/lang/cs-CZ.rc
  base/applications/rapps/lang/de-DE.rc
  base/applications/rapps/lang/en-US.rc
  base/applications/rapps/lang/es-ES.rc
  base/applications/rapps/lang/et-EE.rc
  base/applications/rapps/lang/fr-FR.rc
  base/applications/rapps/lang/he-IL.rc
  base/applications/rapps/lang/hu-HU.rc
  base/applications/rapps/lang/id-ID.rc
  base/applications/rapps/lang/it-IT.rc
  base/applications/rapps/lang/ja-JP.rc
  base/applications/rapps/lang/no-NO.rc
  base/applications/rapps/lang/pl-PL.rc
  base/applications/rapps/lang/pt-BR.rc
  base/applications/rapps/lang/pt-PT.rc
  base/applications/rapps/lang/ro-RO.rc
  base/applications/rapps/lang/ru-RU.rc
  base/applications/rapps/lang/sk-SK.rc
  base/applications/rapps/lang/sq-AL.rc
  base/applications/rapps/lang/sv-SE.rc
  base/applications/rapps/lang/tr-TR.rc
  base/applications/rapps/lang/uk-UA.rc
  base/applications/rapps/lang/zh-CN.rc
  base/applications/rapps/lang/zh-HK.rc
  base/applications/rapps/lang/zh-TW.rc
  base/applications/rapps/settings.cpp
  base/applications/rapps/settingsdlg.cpp
Labels: enhancement

#7722 [BROWSEUI] Set find files pane focus
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/browseui/shellfind/CSearchBar.h
Labels: enhancement, bugfix, shell

#7721 [BROWSEUI][SHELL32] Fix desktop and computer find files locations
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/browseui/shellfind/CSearchBar.h
  dll/win32/browseui/shellfind/shellfind.h
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/shell32/shresdef.h
Labels: enhancement, bugfix, shell
