Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

**Remove after part 4 merged:** [SCRRUN] Add arguments for DoOpenPipeStream
  dll/win32/scrrun/scrrun.spec
Owners: none

[CODEREVIEW]
  boot/rtl/nlsboot.c
  subsystems/win/basesrv/nls.c
Owners: none

[REGEDIT] Use Toolbar for the address bar
  base/applications/regedit/childwnd.c
  base/applications/regedit/main.h
Owners: none

[REGEDIT] Add label to "Go" button
  base/applications/regedit/childwnd.c
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
  base/applications/regedit/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[REGEDIT] Replace Arrow icon with Tango's start-here
  base/applications/regedit/childwnd.c
  base/applications/regedit/main.h
  base/applications/regedit/regedit.rc
  base/applications/regedit/res/go-hot.bmp
  base/applications/regedit/res/go-normal.bmp
  base/applications/regedit/resource.h
Owners: none

[NTDLL_APITESTS] Add tests for NtNotifyChangeMultipleKeys (#9189)
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtNotifyChangeMultipleKeys.c
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

[CODEREVIEW]
  hal/halx86/include/bus.h
  hal/halx86/legacy/bus/pcibus.c
  hal/halx86/legacy/halpnpdd.c
Owners: none

[HALX86] Fill in some legacy HAL Interface handlers (#9526)
  hal/halx86/include/bus.h
  hal/halx86/legacy/bus/pcibus.c
  hal/halx86/legacy/halpnpdd.c
Owners: none

[HALX86][SDK] Introduce the Legacy PC Arbiter (PIR, PIC)
  hal/halx86/CMakeLists.txt
  hal/halx86/include/hal.h
  hal/halx86/include/legacypc.h
  hal/halx86/legacy.cmake
  hal/halx86/legacy/halpnpdd.c
  hal/halx86/legacy/pir/legacypcirqarb.c
  sdk/lib/drivers/arbiter/CMakeLists.txt
Owners: none

[HALX86] Fix newline format Addendum to commit b9eb90a
  hal/halx86/include/bus.h
  hal/halx86/legacy/bus/pcibus.c
Owners: none

[MMC_NEW] Add customize dialog and console controls
  base/applications/mmc_new/CConsoleWnd.cpp
  base/applications/mmc_new/CConsoleWnd.h
  base/applications/mmc_new/CCustomizeDialog.h
  base/applications/mmc_new/CMainWnd.cpp
  base/applications/mmc_new/CMainWnd.h
  base/applications/mmc_new/CMakeLists.txt
  base/applications/mmc_new/lang/en-US.rc
  base/applications/mmc_new/precomp.h
  base/applications/mmc_new/resource.h
  base/applications/mmc_new/resources/toolbar.bmp
Owners: none

Drain queued lock IRPs when a FILE_LOCK is uninitialized
  ntoskrnl/fsrtl/filelock.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Reject non-sector-aligned buffers for non-cached writes
  drivers/filesystems/fastfat/write.c
Owners: @HeisSpiter

Stop skipping share-access checks for file objects with extensions
  ntoskrnl/io/iomgr/file.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Let a dismounted volume be remounted on the next open
  drivers/filesystems/fastfat/cleanup.c
  drivers/filesystems/fastfat/fatprocs.h
  drivers/filesystems/fastfat/fsctrl.c
Owners: @HeisSpiter

[CLANG] Fix Clang compilation errors
  base/applications/calc/resource.h
  dll/shellext/shellbtrfs/shellext.h
  dll/win32/kernel32/client/amd64/fiber.S
  dll/win32/msvcrt/include/stdlib.h
  dll/win32/windowscodecs/version.rc
  drivers/filesystems/cdfs/deviosup.c
  drivers/wdm/audio/drivers/CMIDriver/interfaces.hpp
  drivers/wdm/audio/drivers/CMIDriver/minwave.cpp
  ntoskrnl/ke/amd64/trap.S
  sdk/lib/crt/math/amd64/fmod.S
  sdk/lib/crt/math/amd64/fmodf.S
  sdk/lib/gcc-compat/__throw_out_of_range_fmt.cpp
Owners: @HeisSpiter, @tkreuzer

[CALC] Express CW_USEDEFAULT16 as signed hexadecimal
  base/applications/calc/resource.h
Owners: none

[CLANG][SDK] Do not build stdc++compat
  sdk/lib/CMakeLists.txt
  sdk/lib/gcc-compat/__throw_out_of_range_fmt.cpp
Owners: none

[CLANG][SDK] Restore stdc++compat for Clang builds
  sdk/lib/CMakeLists.txt
Owners: none

[CLANG] Guard imported-code fixes and correct assembly macro calls
  dll/win32/kernel32/client/amd64/fiber.S
  drivers/filesystems/cdfs/deviosup.c
  drivers/wdm/audio/drivers/CMIDriver/interfaces.hpp
  drivers/wdm/audio/drivers/CMIDriver/minwave.cpp
  ntoskrnl/ke/amd64/trap.S
  sdk/lib/crt/math/amd64/fmod.S
  sdk/lib/crt/math/amd64/fmodf.S
Owners: @tkreuzer, @HeisSpiter

[MMC_NEW] Add the console options dialog
  base/applications/mmc_new/CMainWnd.cpp
  base/applications/mmc_new/CMainWnd.h
  base/applications/mmc_new/CMakeLists.txt
  base/applications/mmc_new/COptionsDialog.h
  base/applications/mmc_new/lang/en-US.rc
  base/applications/mmc_new/precomp.h
  base/applications/mmc_new/resource.h
Owners: none

[AUDIO] Implement Vista-style WaveRT streaming support CORE-9882
  dll/win32/sndblst/sndblst.c
  dll/win32/wdmaud.drv/legacy.c
  dll/win32/wdmaud.drv/mixer.c
  dll/win32/wdmaud.drv/mmixer.c
  dll/win32/wdmaud.drv/wdmaud.h
  drivers/wdm/audio/backpln/portcls/adapter.cpp
  drivers/wdm/audio/backpln/portcls/connection.cpp
  drivers/wdm/audio/backpln/portcls/filter_topology.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavert.cpp
  drivers/wdm/audio/backpln/portcls/irp.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/port_topology.cpp
  drivers/wdm/audio/backpln/portcls/port_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/port_wavert.cpp
  drivers/wdm/audio/backpln/portcls/power.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  drivers/wdm/audio/backpln/portcls/propertyhandler.cpp
  drivers/wdm/audio/backpln/portcls/service_group.cpp
  drivers/wdm/audio/backpln/portcls/undoc.cpp
  drivers/wdm/audio/backpln/portcls/version.cpp
  sdk/include/ddk/portcls.h
  sdk/include/psdk/ksmedia.h
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/deviceinstance.c
  sdk/lib/drivers/sound/mmebuddy/functiontable.c
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
  sdk/lib/drivers/sound/mmebuddy/thread.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
  sdk/lib/drivers/sound/mmixer/CMakeLists.txt
  sdk/lib/drivers/sound/mmixer/controls.c
  sdk/lib/drivers/sound/mmixer/mixer.c
  sdk/lib/drivers/sound/mmixer/mmixer.h
  sdk/lib/drivers/sound/mmixer/rtstreaming.c
  sdk/lib/drivers/sound/mmixer/sup.c
  sdk/lib/drivers/sound/mmixer/wave.c
Owners: none

[WIN32U_APITEST] Add NtUserBuildHwndList test
  modules/rostests/apitests/win32u/CMakeLists.txt
  modules/rostests/apitests/win32u/ntuser/NtUserBuildHwndList.c
  modules/rostests/apitests/win32u/testlist.c
Owners: none

[NTUSER] Fix NtUserBuildHwndList
  win32ss/include/ntuser.h
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/mdi.c
  win32ss/user/user32/windows/window.c
Owners: none

[SETUP:REACTOS] Fix English string leaks in pt-BR language.
  base/setup/reactos/lang/pt-BR.rc
Owners: @reactos/lang-portuguese

[HDAUDIO] Implement generic HD audio miniport driver CORE-9882
  drivers/wdm/audio/drivers/CMIDriver/minwavetables.hpp
  drivers/wdm/audio/drivers/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/guid.cpp
  drivers/wdm/audio/drivers/hdaudio/hda_verbs.h
  drivers/wdm/audio/drivers/hdaudio/hdaudio.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
  drivers/wdm/audio/drivers/hdaudio/hdaudio.rc
  drivers/wdm/audio/drivers/hdaudio/miniport.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  drivers/wdm/audio/drivers/hdaudio/prophnd.cpp
  drivers/wdm/audio/drivers/hdaudio/purecall.cpp
  drivers/wdm/audio/drivers/hdaudio/stream.cpp
  drivers/wdm/audio/drivers/hdaudio/tables.h
  drivers/wdm/audio/drivers/hdaudio/topology.cpp
  sdk/include/ddk/portcls.h
  sdk/include/psdk/ksmedia.h
Owners: none

[SETUP:REACTOS] Fix English string leaks in pt-BR language.
  base/setup/reactos/lang/pt-BR.rc
Owners: @reactos/lang-portuguese

WIP
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/input.h
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/misc.c
  win32ss/user/ntuser/mouse.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/msgqueue.h
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/rawinput.c
  win32ss/user/user32/windows/message.c
Owners: none

adjustments
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/input.h
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/mouse.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/msgqueue.h
  win32ss/user/ntuser/rawinput.c
  win32ss/user/ntuser/win32.h
Owners: none

[MMC_NEW] Move the root of the snap-in tree to the main window
  base/applications/mmc_new/CConsoleWnd.cpp
  base/applications/mmc_new/CConsoleWnd.h
  base/applications/mmc_new/CMainWnd.cpp
  base/applications/mmc_new/CMainWnd.h
  base/applications/mmc_new/COptionsDialog.h
  base/applications/mmc_new/lang/en-US.rc
  base/applications/mmc_new/resource.h
Owners: none

[EXPLORER] Fix a missed format specifier in the logger function
  base/shell/explorer/mediabtns.cpp
Owners: @learn-more, @yagoulas

[EXPLORER] Fix a missed format specifier in the logger function (#9535)
  base/shell/explorer/mediabtns.cpp
Owners: @learn-more, @yagoulas

[WIN32SS:USER] Fix ScrollBar class creation when using comctl32 v6, mute useless errors
  win32ss/user/ntuser/class.c
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/class.c
Owners: none

[WINE] Create wine_dll_version library
  sdk/lib/3rdparty/libwine/CMakeLists.txt
  sdk/lib/3rdparty/libwine/dll_version.c
Owners: none

[COMCTL32][COMCTL32_V6] Move button.c to comctl32_v6
  dll/win32/comctl32_v6/button.c
Owners: none

[UXTHEME] Add uxtheme_ros
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/vista.c
  sdk/include/psdk/uxtheme.h
  win32ss/user/ntuser/window.c
Owners: none

[COMCTL32_WINETEST] Sync to Wine-11.17
  modules/rostests/winetests/comctl32/CMakeLists.txt
  modules/rostests/winetests/comctl32/animate.c
  modules/rostests/winetests/comctl32/bmp1x1_32bpp.bmp
  modules/rostests/winetests/comctl32/button.c
  modules/rostests/winetests/comctl32/combo.c
  modules/rostests/winetests/comctl32/datetime.c
  modules/rostests/winetests/comctl32/dpa.c
  modules/rostests/winetests/comctl32/edit.c
  modules/rostests/winetests/comctl32/header.c
  modules/rostests/winetests/comctl32/imagelist.c
  modules/rostests/winetests/comctl32/ipaddress.c
  modules/rostests/winetests/comctl32/listbox.c
  modules/rostests/winetests/comctl32/listview.c
  modules/rostests/winetests/comctl32/misc.c
  modules/rostests/winetests/comctl32/monthcal.c
  modules/rostests/winetests/comctl32/mru.c
  modules/rostests/winetests/comctl32/msg.h
  modules/rostests/winetests/comctl32/pager.c
  modules/rostests/winetests/comctl32/progress.c
  modules/rostests/winetests/comctl32/rebar.c
  modules/rostests/winetests/comctl32/resources.h
  modules/rostests/winetests/comctl32/rsrc.rc
  modules/rostests/winetests/comctl32/static.c
  modules/rostests/winetests/comctl32/status.c
  modules/rostests/winetests/comctl32/subclass.c
  modules/rostests/winetests/comctl32/syslink.c
  modules/rostests/winetests/comctl32/tab.c
  modules/rostests/winetests/comctl32/taskdialog.c
  modules/rostests/winetests/comctl32/toolbar.c
  modules/rostests/winetests/comctl32/tooltips.c
  modules/rostests/winetests/comctl32/trackbar.c
  modules/rostests/winetests/comctl32/treeview.c
  modules/rostests/winetests/comctl32/updown.c
  modules/rostests/winetests/comctl32/v6util.h
Owners: @ThFabba

[HDAUDIO] Implement generic HD audio miniport driver CORE-9882
  drivers/wdm/audio/drivers/CMIDriver/minwavetables.hpp
  drivers/wdm/audio/drivers/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/guid.cpp
  drivers/wdm/audio/drivers/hdaudio/hda_verbs.h
  drivers/wdm/audio/drivers/hdaudio/hdaudio.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
  drivers/wdm/audio/drivers/hdaudio/hdaudio.rc
  drivers/wdm/audio/drivers/hdaudio/miniport.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  drivers/wdm/audio/drivers/hdaudio/prophnd.cpp
  drivers/wdm/audio/drivers/hdaudio/purecall.cpp
  drivers/wdm/audio/drivers/hdaudio/stream.cpp
  drivers/wdm/audio/drivers/hdaudio/tables.h
  drivers/wdm/audio/drivers/hdaudio/topology.cpp
  sdk/include/ddk/portcls.h
  sdk/include/psdk/ksmedia.h
Owners: none

[KMTESTS:OB] Make the object types tests work in Windows 7
  modules/rostests/kmtests/ntos_ob/ObTypes.cpp
Owners: @ThFabba

[FREELDR] Initial implementation of the Red Screen of Hell popup
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/include/ui/tui.h
  boot/freeldr/freeldr/ui/tui.c
Owners: @tkreuzer, @Extravert-ir

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
