Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Add update client to build list
  base/applications/CMakeLists.txt
Owners: none

Revert "Add update client to build list"
  base/applications/CMakeLists.txt
Owners: none

Revert "Updates"
  .gitignore
  base/applications/updateclient/updateclient.rc
Owners: none

Revert "Add update application"
  base/applications/updateclient/CMakeLists.txt
  base/applications/updateclient/RCa20112
  base/applications/updateclient/main.c
  base/applications/updateclient/updateclient.rc
Owners: none

Update build number
  .gitignore
Owners: none

Update build number
  sdk/include/reactos/version.cmake
Owners: none

[.CURSOR] Add Cursor AI project settings
  .cursor/coding-style.json
  .cursor/editor.json
  .cursor/settings.json
  .gitignore
Owners: none

fix
  .cursor/settings.json
Owners: none

improve settings.json
  .cursor/settings.json
Owners: none

simplify
  .cursor/editor.json
Owners: none

fix docs
  .cursor/settings.json
Owners: none

Add CODING_STYLE.md
  CODING_STYLE.md
Owners: none

[NTOS:KE] Implement KeI386VirtualIntExtensions code paths for INT and IRET. CORE-19049
  ntoskrnl/ke/i386/v86vdm.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[USER32_VISTA][USER32] Sync some parts with WINE-10.0
  media/doc/WINESYNC.txt
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/user32.spec
  win32ss/user/user32_vista/CMakeLists.txt
  win32ss/user/user32_vista/dpi.c
  win32ss/user/user32_vista/wine/input.c
  win32ss/user/user32_vista/wine/misc.c
  win32ss/user/user32_vista/wine/sysparams.c
  win32ss/user/user32_vista/wine/win.c
Owners: none

[USER32_VISTA] Import input.c misc.c win.c from wine-10.0
  win32ss/user/user32_vista/wine/input.c
  win32ss/user/user32_vista/wine/misc.c
  win32ss/user/user32_vista/wine/win.c
Owners: none

[SDK][WIN32SS] Prepare the d3dkmt APIs up to Vista RTM
  sdk/include/ddk/d3dkmddi.h
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/rddm/rxgkinterface.h
  win32ss/CMakeLists.txt
  win32ss/gdi/gdi32/CMakeLists.txt
  win32ss/gdi/gdi32/gdi32.spec
  win32ss/gdi/gdi32_vista/CMakeLists.txt
  win32ss/gdi/gdi32_vista/d3dkmt.c
  win32ss/gdi/gdi32_vista/dc.c
  win32ss/gdi/gdi32_vista/gdi32_vista.h
  win32ss/gdi/ntgdi/d3dkmt.c
  win32ss/gdi/ntgdi/init.c
  win32ss/pch.h
  win32ss/w32ksvc32.h
  win32ss/w32ksvc64.h
Owners: none

[.github] Adjust the pullrequest template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

[NTDLL] Fix Vista+ stubs (#7672)
  dll/ntdll/def/ntdll.spec
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Import loader.c wine-10.1
  dll/ntdll/nt_0600/wine/loader.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Build a minimal version of wine/loader.c
  dll/ntdll/def/ntdll.spec
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrinit.c
  dll/ntdll/nt_0600/CMakeLists.txt
  dll/ntdll/nt_0600/DllMain.c
  dll/ntdll/nt_0600/ntdll_vista.h
  dll/ntdll/nt_0600/ntdll_vista.spec
  dll/ntdll/nt_0600/wine/loader.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

Implement GetDefaultColumn and GetClassID (#7750)
  dll/shellext/zipfldr/CZipFolder.hpp
Owners: @learn-more

[SHDOCVW] Don't show create shortcut context menu item in Explorer tree (#7735)
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shdocvw/utility.cpp
  dll/win32/shdocvw/utility.h
Owners: none

[BROWSEUI][SHELL32] Fix FindFolder icons
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CFindFolder.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CShellLink.cpp
Owners: @learn-more, @yagoulas

[CRYPT32] Initial implementation of `CertEnumSystemStoreLocation`
  dll/win32/crypt32/crypt32.spec
  dll/win32/crypt32/store.c
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/crypt32/CMakeLists.txt
  modules/rostests/apitests/crypt32/CertEnumSystemStoreLocation.c
  modules/rostests/apitests/crypt32/testlist.c
Owners: none

Ask the generic inner folder for the column header info
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

Also display raw IExtractIcon location
  modules/rosapps/applications/devutils/lnktool/lnktool.cpp
Owners: none

[REGEDIT] Reduce flickering and fix rendering
  base/applications/regedit/childwnd.c
  base/applications/regedit/framewnd.c
Owners: none

[0.4.15][SHELL32] Don't close Run dialog on execution failure (#7686)
  dll/win32/shell32/dialogs/dialogs.cpp
Owners: @learn-more, @yagoulas

[0.4.15][EXPLORER] Add Show Desktop button to taskbar customization preview (#7727)
  base/shell/explorer/explorer.rc
  base/shell/explorer/res/bmp/184.bmp
  base/shell/explorer/res/bmp/185.bmp
  base/shell/explorer/res/bmp/186.bmp
  base/shell/explorer/res/bmp/187.bmp
  base/shell/explorer/res/bmp/188.bmp
  base/shell/explorer/res/bmp/189.bmp
  base/shell/explorer/resource.h
  base/shell/explorer/trayprop.cpp
Owners: @learn-more, @yagoulas

[0.4.15][SHELL32] ShellExecuteW must call ShellExecuteExW (#7587)
  dll/win32/shell32/shlexec.cpp
  sdk/include/reactos/shlwapi_undoc.h
Owners: @learn-more, @yagoulas

[0.4.15][SHIMGVW] Choose a better icon image
  dll/win32/shimgvw/CMakeLists.txt
  dll/win32/shimgvw/lang/pt-PT.rc
  dll/win32/shimgvw/loader.cpp
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
Owners: @reactos/lang-portuguese

[0.4.15][UNIATA] Fix memory corruption if SCSIOP_SERVICE_ACTION16 processed. (#7717)
  drivers/storage/ide/uniata/scsi.h
Owners: @ThFabba

[0.4.15][SHELL32] CM::InvokeCommand case-insensitive compare verb string (#7582)
  dll/win32/shell32/CDefaultContextMenu.cpp
Owners: @learn-more, @yagoulas

[EVENTVWR] Localize and check item count
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
  base/applications/mscutils/eventvwr/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

fix
  base/applications/mscutils/eventvwr/evtdetctl.c
Owners: none

MB_ICONINFORMATION
  base/applications/mscutils/eventvwr/evtdetctl.c
Owners: none

IDS_NOITEMS
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
  base/applications/mscutils/eventvwr/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

No items period
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[EVENTVWR] Reduce lines
  base/applications/mscutils/eventvwr/eventvwr.c
Owners: none

[SERVMAN] Update Japanese (ja-JP) translation
  base/applications/mscutils/servman/lang/ja-JP.rc
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
