Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SHELL32][SHELL32_APITEST] Fix ShellExecuteEx IDLIST folder (#7464)
  dll/win32/shell32/shlexec.cpp
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/closewnd.cpp
  modules/rostests/apitests/shell32/closewnd.h
Owners: @learn-more, @yagoulas

[MSCTFIME][MSUTB][SHDOCVW] Remove __cxa_pure_virtual
  dll/ime/msctfime/CMakeLists.txt
  dll/ime/msctfime/msctfime.cpp
  dll/win32/msutb/CMakeLists.txt
  dll/win32/msutb/msutb.cpp
  dll/win32/shdocvw/CMakeLists.txt
  dll/win32/shdocvw/objects.cpp
  dll/win32/shdocvw/objects.h
Owners: none

[CPPRT] Add cpprt for GCC, tool
  sdk/cmake/gcc.cmake
  sdk/lib/CMakeLists.txt
  sdk/lib/cpprt/CMakeLists.txt
  sdk/lib/cpprt/__cxa_pure_virtual.cpp
Owners: none

Make del and nbsp const's based on reviewer comments.
  win32ss/gdi/ntgdi/freetype.c
Owners: none

** WIP ** Stuff of interest for partitioning / FS
  base/setup/lib/utils/osdetect.c
  base/setup/lib/utils/osdetect.h
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
  base/setup/lib/utils/volutil.c
  base/setup/lib/utils/volutil.h
  base/setup/reactos/reactos.c
  base/setup/usetup/partlist.c
  base/setup/usetup/usetup.c
Owners: none

** WIP ** Investigate whether it's good to reset the RewritePartition flag once the partition layout has been committed...
  base/setup/lib/utils/partlist.c
Owners: none

[KMTESTS] Fix MSVC build.
  modules/rostests/kmtests/hal/HalSystemInfo.c
Owners: @ThFabba

[WKSSVC] Store the workstation configuration in the Registry
  base/services/wkssvc/info.c
  base/services/wkssvc/precomp.h
  base/services/wkssvc/rpcserver.c
Owners: none

[CMAKE] Fix warning about redefinition of NDEBUG on release builds
  dll/3rdparty/libpng/CMakeLists.txt
  dll/3rdparty/libtiff/CMakeLists.txt
  dll/opengl/glu32/CMakeLists.txt
  overrides-gcc.cmake
  sdk/cmake/gcc.cmake
Owners: @ThFabba

[CMAKE] Silence warnings about unused variables on release builds
  sdk/cmake/gcc.cmake
Owners: none

[NTOSKRNL] Add missing \n to DPRINT() calls
  ntoskrnl/cc/view.c
  ntoskrnl/io/iomgr/irq.c
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/i386/cpu.c
  ntoskrnl/se/srm.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer, @GeoB99

[PSDK] winbase.h: Isolate the CreateProcess() dwCreationFlag values
  sdk/include/psdk/winbase.h
Owners: none

[PSDK] winbase.h: Add CREATE_IGNORE_SYSTEM_DEFAULT
  sdk/include/psdk/winbase.h
Owners: none

[PSDK] winbase.h: Add other missing CreateProcess() dwCreationFlags values
  sdk/include/psdk/winbase.h
Owners: none

[NTGDI:FREETYPE] Account for non-breaking spaces in x-dim of IntExtTextOutW (#7479)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[TLS] Added test for implicit TLS.
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/implicit_tls.c
  modules/rostests/apitests/ntdll/implicit_tls/CMakeLists.txt
  modules/rostests/apitests/ntdll/implicit_tls/implicit_tls.c
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

[SETUP:REACTOS] Minor formatting changes
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/resource.h
Owners: none

[MSV1_0] Implement the MsV1_0EnumerateUsers message in LsaApCallPackage
  dll/win32/msv1_0/msv1_0.c
  dll/win32/msv1_0/precomp.h
Owners: none

[SDK:INCLUDE] Add missing msv1_0p.h
  sdk/include/reactos/msv1_0p.h
Owners: none

Separated SHOpenPropSheet and item handling
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/dialogs/item_prop.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/stubs.cpp
Owners: @learn-more, @yagoulas

[NTOS:EX] Fix SAL notations, `Timeout` parameter should be optional
  ntoskrnl/ex/keyedevt.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[EXPLORER] Add tooltip for show desktop button
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
  base/shell/explorer/resource.h
  base/shell/explorer/traydeskbtn.cpp
  base/shell/explorer/traydeskbtn.h
Owners: @learn-more, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SHELL32] No new menu and working properties in Drives and NetHood background menu (#7430)
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CNetFolder.cpp
Owners: @learn-more, @yagoulas

[REACTOS] Fix typos
  modules/rosapps/applications/sysutils/pedump/pedump.c
  modules/rosapps/applications/sysutils/regexpl/ShellCommandValue.cpp
  modules/rostests/tests/sertest/sertest.c
  sdk/lib/drivers/copysup/copysup.c
  sdk/lib/drivers/rdbsslib/rdbss.c
Owners: @HeisSpiter

[EXPLORER] Add tooltip for show desktop button (#7483)
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
  base/shell/explorer/resource.h
  base/shell/explorer/traydeskbtn.cpp
  base/shell/explorer/traydeskbtn.h
Owners: @learn-more, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[REACTOS] Fix 'writting' typos (#7484)
  modules/rosapps/applications/sysutils/pedump/pedump.c
  modules/rosapps/applications/sysutils/regexpl/ShellCommandValue.cpp
  modules/rostests/tests/sertest/sertest.c
  sdk/lib/drivers/copysup/copysup.c
  sdk/lib/drivers/rdbsslib/rdbss.c
Owners: @HeisSpiter

[NTOS:EX] Fix SAL notations, `Timeout` parameter should be optional (#7482)
  ntoskrnl/ex/keyedevt.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[TASKMGR] *.rc: Tweak all AUTOCHECKBOXes (#7409)
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[UMPNPMGR] PNP_GetGlobalState returns CM_GLOBAL_STATE_SHUTTING_DOWN on service shutdown
  base/services/umpnpmgr/precomp.h
  base/services/umpnpmgr/rpcserver.c
  base/services/umpnpmgr/umpnpmgr.c
Owners: none

** WIP ** WINLOGON: Study check_setup handling
  base/system/winlogon/sas.c
  base/system/winlogon/setup.c
  base/system/winlogon/winlogon.c
  base/system/winlogon/winlogon.h
Owners: none

** WIP ** Improve handling of MUI/LANGID/... stuff
  base/setup/lib/install.c
  base/setup/lib/mui.c
  base/setup/lib/mui.h
  base/setup/lib/muilanguages.h
  base/setup/lib/settings.c
  base/setup/lib/settings.h
  base/setup/lib/setuplib.c
  base/setup/lib/setuplib.h
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/usetup/mui.c
  base/setup/usetup/mui.h
  base/setup/usetup/muilanguages.h
  base/setup/usetup/usetup.c
  base/setup/usetup/usetup.h
  boot/bootdata/txtsetup.sif
Owners: none

MUI extra modifs
  base/setup/reactos/reactos.c
Owners: none

[KMTESTS] Fix MSVC build.
  modules/rostests/kmtests/hal/HalSystemInfo.c
Owners: @ThFabba

[SETUPAPI] SETUP_CreateDevicesList must return ERROR_INVALID_DATA when the Enumerator is invalid
  dll/win32/setupapi/devclass.c
Owners: none

[SPEC2DEF] Implement support for negated architecture
  sdk/tools/spec2def/spec2def.c
Owners: none

[MSHTML] Improve a reactos hack
  dll/win32/mshtml/omnavigator.c
Owners: none

[NTUSER][USER32] Make possible to set custom mouse cursors
  win32ss/include/callback.h
  win32ss/include/u32cb.h
  win32ss/user/ntuser/callback.c
  win32ss/user/ntuser/callback.h
  win32ss/user/ntuser/cursoricon.c
  win32ss/user/ntuser/cursoricon.h
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/nonclient.c
  win32ss/user/ntuser/sysparams.c
  win32ss/user/ntuser/timer.c
  win32ss/user/ntuser/timer.h
  win32ss/user/user32/misc/desktop.c
  win32ss/user/user32/misc/dllmain.c
  win32ss/user/user32/windows/cursoricon.c
  win32ss/user/user32/windows/dialog.c
Owners: none

[VCRUNTIME] Move some definitions from crtdefs.h to vcruntime.h
  sdk/include/vcruntime/crtdefs.h
  sdk/include/vcruntime/vcruntime.h
Owners: none

[VCRUNTIME] Move some definitions from crtdefs.h to vadefs.h
  sdk/include/vcruntime/crtdefs.h
  sdk/include/vcruntime/vadefs.h
Owners: none

[VCRUNTIME] Add some missing definitions to vcruntime*.h
  sdk/include/vcruntime/vcruntime.h
  sdk/include/vcruntime/vcruntime_startup.h
  sdk/include/vcruntime/vcruntime_string.h
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
