Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Update dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
Owners: @learn-more, @yagoulas

CFontExt::ParseDisplayName ERR
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

CFontCache::Read
  dll/shellext/fontext/CFontCache.cpp
Owners: @learn-more

fix build
  dll/win32/shell32/CDefaultContextMenu.cpp
Owners: @learn-more, @yagoulas

override default action
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

improve ParseDisplayName
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

ParseDisplayName
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

add IPersist
  dll/shellext/fontext/CFontExt.hpp
Owners: @learn-more

%MODULE%
  dll/shellext/fontext/res/fontext.rgs
Owners: @learn-more

[NTOSKRNL] Increase MI_NUMBER_SYSTEM_PTES for AMD64
  ntoskrnl/include/internal/amd64/mm.h
Owners: @tkreuzer

[SDK][BOOT] Reimport the EDK2 headers
  boot/freeldr/freeldr/uefi.cmake
  sdk/include/reactos/edk2/Acpi.h
  sdk/include/reactos/edk2/Base.h
  sdk/include/reactos/edk2/BlockIo.h
  sdk/include/reactos/edk2/DevicePath.h
  sdk/include/reactos/edk2/GlobalVariable.h
  sdk/include/reactos/edk2/GraphicsOutput.h
  sdk/include/reactos/edk2/LoadedImage.h
  sdk/include/reactos/edk2/ProcessorBind.h
  sdk/include/reactos/edk2/SimpleTextIn.h
  sdk/include/reactos/edk2/SimpleTextInEx.h
  sdk/include/reactos/edk2/SimpleTextOut.h
  sdk/include/reactos/edk2/Uefi.h
  sdk/include/reactos/edk2/UefiBaseType.h
  sdk/include/reactos/edk2/UefiMultiPhase.h
  sdk/include/reactos/edk2/UefiSpec.h
  sdk/include/reactos/edk2/UgaDraw.h
  sdk/include/reactos/edk2/WinCertificate.h
Owners: @tkreuzer, @Extravert-ir

[UEFILDR][FREELDR] Don't let LoaderPangesSpanned span half of mem space
  boot/freeldr/freeldr/arch/uefi/uefimem.c
  boot/freeldr/freeldr/ntldr/wlmemory.c
Owners: @tkreuzer, @Extravert-ir

CFontExt::GetDisplayNameOf
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

CFontExt::ParseDisplayName
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

[FONTEXT][SHELL32][SDK] Support delete operation (#8639)
  dll/shellext/fontext/CDataObject.cpp
  dll/shellext/fontext/CEnumFonts.cpp
  dll/shellext/fontext/CFontBackgroundMenu.cpp
  dll/shellext/fontext/CFontCache.cpp
  dll/shellext/fontext/CFontCache.hpp
  dll/shellext/fontext/CFontExt.cpp
  dll/shellext/fontext/CFontExt.hpp
  dll/shellext/fontext/CFontFolderViewCB.cpp
  dll/shellext/fontext/CFontFolderViewCB.h
  dll/shellext/fontext/fontext.cpp
  dll/shellext/fontext/fontpidl.cpp
  dll/shellext/fontext/fontpidl.hpp
  dll/shellext/fontext/lang/de-DE.rc
  dll/shellext/fontext/lang/en-US.rc
  dll/shellext/fontext/lang/it-IT.rc
  dll/shellext/fontext/lang/pl-PL.rc
  dll/shellext/fontext/lang/ro-RO.rc
  dll/shellext/fontext/lang/tr-TR.rc
  dll/shellext/fontext/lang/zh-CN.rc
  dll/shellext/fontext/lang/zh-HK.rc
  dll/shellext/fontext/lang/zh-TW.rc
  dll/shellext/fontext/precomp.h
  dll/shellext/fontext/res/fontext.rgs
  dll/shellext/fontext/resource.h
  dll/win32/shell32/CDefaultContextMenu.cpp
  sdk/include/psdk/shlobj.h
Owners: @learn-more, @reactos/lang-german, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-romanian, @reactos/lang-turkish, @reactos/lang-chinese, @yagoulas

[CODEREVIEW]
  dll/win32/kernel32/client/file/copyansi.c
  dll/win32/kernel32/client/file/diransi.c
  dll/win32/kernel32/client/file/fileinfoansi.c
  dll/win32/kernel32/client/file/mntpointansi.c
  dll/win32/kernel32/client/file/moveansi.c
  dll/win32/kernel32/client/file/volumeansi.c
  dll/win32/kernel32/client/pathansi.c
  dll/win32/kernel32/client/procansi.c
  dll/win32/kernel32/client/synchansi.c
  dll/win32/kernel32/client/sysinfoansi.c
  dll/win32/kernel32/client/versionansi.c
  dll/win32/kernel32/winnls/string/lcformat.c
  dll/win32/kernel32/winnls/string/localeansi.c
Owners: @HeisSpiter

[KERNEL32] Split off some ANSI functions from the bulk of Kernel32
  dll/win32/kernel32/CMakeLists.txt
  dll/win32/kernel32/client/atom.c
  dll/win32/kernel32/client/atomansi.c
  dll/win32/kernel32/client/file/copy.c
  dll/win32/kernel32/client/file/copyansi.c
  dll/win32/kernel32/client/file/dir.c
  dll/win32/kernel32/client/file/diransi.c
  dll/win32/kernel32/client/file/fileinfo.c
  dll/win32/kernel32/client/file/fileinfoansi.c
  dll/win32/kernel32/client/file/mntpoint.c
  dll/win32/kernel32/client/file/mntpointansi.c
  dll/win32/kernel32/client/file/move.c
  dll/win32/kernel32/client/file/moveansi.c
  dll/win32/kernel32/client/file/volume.c
  dll/win32/kernel32/client/file/volumeansi.c
  dll/win32/kernel32/client/path.c
  dll/win32/kernel32/client/pathansi.c
  dll/win32/kernel32/client/proc.c
  dll/win32/kernel32/client/procansi.c
  dll/win32/kernel32/client/synch.c
  dll/win32/kernel32/client/synchansi.c
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/client/sysinfoansi.c
  dll/win32/kernel32/client/utils.c
  dll/win32/kernel32/client/version.c
  dll/win32/kernel32/client/versionansi.c
  dll/win32/kernel32/include/kernel32.h
  dll/win32/kernel32/winnls/string/lcformat.c
  dll/win32/kernel32/winnls/string/lcformat_private.h
  dll/win32/kernel32/winnls/string/lcformatansi.c
  dll/win32/kernel32/winnls/string/locale.c
  dll/win32/kernel32/winnls/string/localeansi.c
Owners: @HeisSpiter

[KERNEL32] Move some basep apis to utils
  dll/win32/kernel32/client/pathansi.c
  dll/win32/kernel32/client/utils.c
  dll/win32/kernel32/include/kernel32.h
Owners: none

[CODE_OF_CONDUCT] Don't accuse other contributors of undermining the work (#8661)
  CODE_OF_CONDUCT.md
Owners: none

Remove redundant stuff.
  base/applications/charmap/lang/bn-IN.rc
Owners: none

Apply suggestions from code review
  base/applications/charmap/lang/hr-HR.rc
  base/applications/mspaint/lang/hr-HR.rc
Owners: none

Update base/applications/mspaint/lang/hr-HR.rc
  base/applications/mspaint/lang/hr-HR.rc
Owners: none

[CLIP] Add Czech (cs-CZ) and Slovak (sk-SK) translations (#8410)
  base/applications/cmdutils/clip/clip.rc
  base/applications/cmdutils/clip/lang/cs-CZ.rc
  base/applications/cmdutils/clip/lang/sk-SK.rc
Owners: none

[MAZESCR] Add Czech (cs-CZ) and Slovak (sk-SK) translation (#8426)
  modules/rosapps/applications/screensavers/mazescr/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/mazescr/lang/sk-SK.rc
  modules/rosapps/applications/screensavers/mazescr/maze.rc
Owners: none

[SSSTARS] Add Czech (cs-CZ) and Slovak (sk-SK) translation (#8427)
  modules/rosapps/applications/screensavers/ssstars/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/ssstars/lang/sk-SK.rc
  modules/rosapps/applications/screensavers/ssstars/resource.rc
Owners: none

[MATRIX] Add Czech (cs-CZ) translation (#8428)
  modules/rosapps/applications/screensavers/matrix/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/matrix/rsrc.rc
Owners: none

[STARFIELD] Add Czech (cs-CZ) translation (#8429)
  modules/rosapps/applications/screensavers/starfield/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/starfield/starfield.rc
Owners: none

[CHARMAP] Add Indian Bengali (bn-IN) translation (#8556)
  base/applications/charmap/charmap.rc
  base/applications/charmap/lang/bn-IN.rc
Owners: none

[CPL][SHELLEXT] Update Indonesian (id-ID) translation (#8563)
  dll/cpl/appwiz/lang/id-ID.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/hotplug/lang/id-ID.rc
  dll/shellext/cabview/cabview.rc
  dll/shellext/cabview/lang/id-ID.rc
  dll/shellext/cryptext/cryptext.rc
  dll/shellext/cryptext/lang/id-ID.rc
Owners: @reactos/lang-indonesian, @learn-more

[KBSWITCH][CPL] Update Traditional Chinese (zh-TW) translation (#8621)
  base/applications/kbswitch/lang/zh-TW.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/hotplug/lang/zh-TW.rc
  dll/cpl/input/lang/zh-TW.rc
  dll/cpl/mmsys/lang/zh-TW.rc
  dll/cpl/powercfg/lang/zh-TW.rc
  dll/cpl/sysdm/lang/zh-TW.rc
Owners: @reactos/lang-chinese

[SDK] - Add missing definition [PORTCLS] - Fix build with gcc
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  sdk/include/ddk/portcls.h
Owners: none

[PORTCLS] - Deactivate replacing property Handler - Check for KSPROPERTY_TYPE_TOPOLOGY flag when searching for the property handler
  drivers/wdm/audio/backpln/portcls/undoc.cpp
Owners: none

[PORTCLS] - Implement WaveRT Streaming property handlers
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  sdk/include/psdk/ksmedia.h
Owners: none

[PORTCLS] - Check for null
  drivers/wdm/audio/backpln/portcls/port_wavert.cpp
Owners: none

[WDMAUD.DRV][PORTCLS] Activate RT Streaming
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WDMAUD.DRV] - Enforce LEGACY_STREAMING
  dll/win32/wdmaud.drv/mmixer.c
Owners: none

[MMEBUDDY] - Fix build
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
Owners: none

[MMIXER] [WDMAUD.DRV] - Implement Vista style user mode audio streaming - Partially working (glitches when testing in VmWare)
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmixer/CMakeLists.txt
  sdk/lib/drivers/sound/mmixer/mmixer.h
  sdk/lib/drivers/sound/mmixer/rtstreaming.c
Owners: none

[PORTCLS] - Call FreeBufferWithNotification on close - Fixes playback for multiple attempts - Return STATUS_UNSUCCESSFUL when MaxFilterInstance count has been reached
  drivers/wdm/audio/backpln/portcls/filter_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavert.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - Implement IOCTL_KS_RESET_STATE - Call ObDereferenceObject on close
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
