Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

pt-BR.rc
  dll/cpl/desk/lang/pt-BR.rc
Owners: @reactos/lang-portuguese

pt-PT.rc DESK.CPL 650.240 bytes -> 648.192 bytes :-) Es gibt nur ein Gas: VOLLGAS!
  dll/cpl/desk/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

ro-RO.rc
  dll/cpl/desk/lang/ro-RO.rc
Owners: @reactos/lang-romanian

ru-RU.rc
  dll/cpl/desk/lang/ru-RU.rc
Owners: @reactos/lang-russian

sk-SK.rc
  dll/cpl/desk/lang/sk-SK.rc
Owners: none

sq-AL.rc DESK.CPL 650.240 bytes -> 647.680 bytes https://www.youtube.com/watch?v=-RPLhBCIFbY
  dll/cpl/desk/lang/sq-AL.rc
Owners: none

sv-SE.rc
  dll/cpl/desk/lang/sv-SE.rc
Owners: none

tr-TR.rc
  dll/cpl/desk/lang/tr-TR.rc
Owners: @reactos/lang-turkish

uk-UA.rc
  dll/cpl/desk/lang/uk-UA.rc
Owners: @reactos/lang-ukrainian

zh-CN.rc
  dll/cpl/desk/lang/zh-CN.rc
Owners: @reactos/lang-chinese

zh-HK.rc DESK.CPL 650.240 bytes -> 647.168 bytes reached. will most likely be the final size-quantum in this PR
  dll/cpl/desk/lang/zh-HK.rc
Owners: @reactos/lang-chinese

zh-TW.rc OK THAT'S IT! THE PR7403 IS READY FOR REVIEW!
  dll/cpl/desk/lang/zh-TW.rc
Owners: @reactos/lang-chinese

[EXPLORER_OLD] Update Romanian (ro-RO) translation (#7405)
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Owners: none

[REACTOS] Merge our bootcd and livecd into an all-in-one ReactOS BootCD
  .github/workflows/build.yml
  .gitignore
  .theia/launch.json
  .theia/tasks.json
  base/setup/welcome/CMakeLists.txt
  boot/boot_images.cmake
  boot/bootdata/CMakeLists.txt
  boot/bootdata/autorun-bootcd.inf
  boot/bootdata/autorun-hybridcd.inf
  boot/bootdata/autorun.inf
  boot/bootdata/bootcd-regtest.ini
  boot/bootdata/bootcd.ini
  boot/bootdata/hybridcd.ini
  boot/bootdata/livecd.ini
  boot/bootdata/livecdregtest/.keep
  boot/bootdata/txtsetup.sif
  boot/bootdata/welcome_config/welcome.ini
  boot/freeldr/bootsect/CMakeLists.txt
  boot/freeldr/fdebug/CMakeLists.txt
  boot/freeldr/freeldr/pcat.cmake
  boot/freeldr/install/CMakeLists.txt
  modules/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
Owners: @tkreuzer, @Extravert-ir

[REACTOS] All-in-one ReactOS BootCD with LiveCD RamDisk
  boot/bootdata/bootcd.ini
  sdk/cmake/CMakeMacros.cmake
Owners: none

[SDK][WIN32SS] Prepare the d3dkmt APIs up to Vista RTM
  sdk/include/ddk/d3dkmthk.h
  sdk/include/psdk/d3dkmddi.h
  sdk/include/psdk/d3dukmdt.h
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/drivers/wddm/dxgkinterface.h
  win32ss/CMakeLists.txt
  win32ss/gdi/gdi32/CMakeLists.txt
  win32ss/gdi/gdi32/gdi32.spec
  win32ss/gdi/gdi32_vista/CMakeLists.txt
  win32ss/gdi/gdi32_vista/d3dkmt.c
  win32ss/gdi/gdi32_vista/dc.c
  win32ss/gdi/gdi32_vista/gdi32_vista.h
  win32ss/gdi/gdi32_vista/gdi32_vista.spec
  win32ss/gdi/ntgdi/d3dkmt.c
  win32ss/gdi/ntgdi/init.c
  win32ss/pch.h
  win32ss/w32ksvc32.h
  win32ss/w32ksvc64.h
Owners: none

[KERNEL32][ROSTESTS][SDK] Enable threadpooling [NTDLL] Init KeyedEvents even on NT5.2 dll_export [MEDIA] Update winesync.txt accordingly [SDK][DLL] Initialize crtical sections at runtime
  dll/ntdll/def/ntdll.spec
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrinit.c
  dll/ntdll/nt_0600/ntdll_vista.spec
  media/doc/WINESYNC.txt
  modules/rostests/winetests/ntdll/CMakeLists.txt
  modules/rostests/winetests/ntdll/testlist.c
  modules/rostests/winetests/ntdll/threadpool.c
  sdk/include/ndk/rtlfuncs.h
  sdk/include/xdk/winnt_old.h
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/rtl.h
  sdk/lib/rtl/rtl_vista.h
  sdk/lib/rtl/threadpool.c
  sdk/lib/rtl/timerqueue.c
  sdk/lib/rtl/wait.c
  sdk/lib/rtl/workitem.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[MEDIA][WINESYNC] Create the cfg
  media/doc/WINESYNC.txt
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] iexplore/iexplore.inf: Add svcVersion reg key and update to win7.
  base/applications/iexplore/iexplore.inf
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] mshtml.idl: Added IHTMLPerformance declaration.
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtml.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] shell32/tests: Add a basic test for SHLimitInputEdit().
  sdk/include/psdk/shobjidl.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] include: Add IApplicationActivationManager interface declaration.
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] mshtml.idl: Added IHTMLCSSStyleDeclaration declaration.
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtml.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[SDK] Dont sync shlwapi
  media/doc/WINESYNC.txt
  sdk/include/psdk/shobjidl.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] riched32/tests: Use the available ARRAY_SIZE() macro.
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] mshtml.idl: Added IHTMLWindow7 declaration.
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtml.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] riched32/tests: Test the correct return value.
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] iexplore: Build with msvcrt.
  base/applications/iexplore/main.c
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] riched20/tests: Avoid using the comma operator.
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] mspatcha: Partially implement ApplyPatchToFileW and related functions.
  dll/win32/mspatcha/CMakeLists.txt
  dll/win32/mspatcha/lzxd_dec.c
  dll/win32/mspatcha/lzxd_dec.h
  dll/win32/mspatcha/mspatcha.spec
  dll/win32/mspatcha/mspatcha_main.c
  dll/win32/mspatcha/pa19.c
  dll/win32/mspatcha/pa19.h
  sdk/include/psdk/patchapi.h
  sdk/tools/winesync/thebigsync.cfg
Owners: @learn-more

[WINESYNC] mshtml.idl: Add IHTMLCSSStyleDeclaration2 declaration.
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtml.idl
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] riched20/tests: Refactor tests testing VK_RETURN.
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] include: Add missing notification codes.
  sdk/include/psdk/richedit.h
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] include: Add DTLS defines.
  sdk/include/psdk/schannel.h
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] riched32: Handle enter press in WM_CHAR instead of WM_KEYDOWN.
  sdk/include/psdk/schannel.h
  sdk/include/psdk/sspi.h
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] msacm32.drv: Build with msvcrt.
  dll/win32/mcicda/mcicda.c
  dll/win32/mcicda/mcicda.c.rej
  dll/win32/msacm32.drv/wavemap.c
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] schannel.h: Add TLS 1.3 defines.
  sdk/include/psdk/schannel.h
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] mcicda: Build with msvcrt.
  dll/win32/mcicda/mcicda.c
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC] include: Avoid compound literals for WCHAR strings.
  sdk/include/psdk/schannel.h
  sdk/tools/winesync/thebigsync.cfg
Owners: none

[WINESYNC]: thebigsync is now in sync with wine-staging wine-4.18
  dll/win32/mcicda/mcicda.c.rej
  media/doc/WINESYNC.txt
  sdk/tools/winesync/thebigsync.cfg
Owners: none
