Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Prevent unnecessary DB updates
  base/applications/rapps/settings.cpp
Owners: none

[UUID] Add missing IID_INetConnectionCommonUi2
  sdk/lib/uuid/otherguids.c
Owners: none

[KERNEL32_APITEST] Fix GetDriveType test on x64 testbot
  modules/rostests/apitests/kernel32/GetDriveType.c
Owners: none

[NTDLL_APITEST] Fix NtCreateFile test on x64
  modules/rostests/apitests/ntdll/NtCreateFile.c
Owners: none

[ADVAPI32_APITEST] #if out 2 tests for x64 that fail on Windows 2003 x64
  modules/rostests/apitests/advapi32/QueryServiceConfig2.c
Owners: none

[IPHLPAPI_APITEST] Fix a test for x64
  modules/rostests/apitests/iphlpapi/GetInterfaceName.c
Owners: none

[ATL_APITEST] Fix a test that fails on Win 2003 x64
  modules/rostests/apitests/atl/CRegKey.cpp
Owners: none

[MSVCRT_APITEST] Fix ieee test on x64
  modules/rostests/apitests/msvcrt/ieee.c
Owners: none

[ATL_APITEST] Fix CSimpleArray test
  modules/rostests/apitests/atl/CSimpleArray.cpp
Owners: none

[WIN32KNT_APITEST] Fix NtGdiEnumFontOpen test on x64 and Win7+
  modules/rostests/apitests/win32nt/ntgdi/NtGdiEnumFontOpen.c
Owners: none

[ATL_APITEST] Add missing vcproj for CRegKey
  modules/rostests/apitests/atl/CRegKey.cpp
  modules/rostests/apitests/atl/atltest.h
  modules/rostests/apitests/atl/devenv/ATLTest.sln
  modules/rostests/apitests/atl/devenv/CRegKey.vcxproj
Owners: none

Update dll/win32/msgina/lang/pt-PT.rc
  dll/win32/msgina/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[RAPPS] Respect partial settings configuration (#7247)
  base/applications/rapps/settings.cpp
  base/applications/rapps/winmain.cpp
Owners: none

[GDIPLUS] Fix for gdiplus/graphics.c regression with GCC 8.4.0 on ribbon bar when running Super Finder XT 1.6.3.2
  dll/win32/gdiplus/graphics.c
Owners: none

[SPEC2DEF] Use explicit ordinals on MSVC, too
  sdk/tools/spec2def/spec2def.c
Owners: none

[RTL][KERNEL32][ROSAUTOTEST] Disable debug prompts during autotest
  dll/win32/kernel32/client/proc.c
  modules/rostests/rosautotest/main.cpp
  sdk/include/ndk/pstypes.h
  sdk/lib/rtl/assert.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTOS:MM] Properly handle execution in NX section
  ntoskrnl/mm/mmfault.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Update boot/freeldr/fdebug/lang/ro-RO.rc
  boot/freeldr/fdebug/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Temp commit to enable reviewing changes
  base/shell/explorer/CMakeLists.txt
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Missing some files non staged
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/resource.h
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Remove debug DPRINTF
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Change license header to new format
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Reorder initialization too
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Fallback to first language declared on VarFileInfo/Translation
  base/shell/explorer/util.cpp
Owners: @learn-more, @yagoulas

Add other languages and group taskbar grouping variables
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Fix double menu
  base/shell/explorer/lang/id-ID.rc
Owners: @reactos/lang-indonesian

Probably fix all code formatting
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/util.cpp
Owners: @learn-more, @yagoulas

Fix theme related things
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Fix warning and regression
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Hopefully fix msvc builds
  base/shell/explorer/lang/bg-BG.rc
  base/shell/explorer/lang/cs-CZ.rc
  base/shell/explorer/lang/de-DE.rc
  base/shell/explorer/lang/en-US.rc
  base/shell/explorer/lang/es-ES.rc
  base/shell/explorer/lang/et-EE.rc
  base/shell/explorer/lang/eu-ES.rc
  base/shell/explorer/lang/fi-FI.rc
  base/shell/explorer/lang/fr-FR.rc
  base/shell/explorer/lang/he-IL.rc
  base/shell/explorer/lang/hi-IN.rc
  base/shell/explorer/lang/hu-HU.rc
  base/shell/explorer/lang/id-ID.rc
  base/shell/explorer/lang/it-IT.rc
  base/shell/explorer/lang/ja-JP.rc
  base/shell/explorer/lang/ko-KR.rc
  base/shell/explorer/lang/lt-LT.rc
  base/shell/explorer/lang/ms-MY.rc
  base/shell/explorer/lang/nl-NL.rc
  base/shell/explorer/lang/no-NO.rc
  base/shell/explorer/lang/pl-PL.rc
  base/shell/explorer/lang/pt-BR.rc
  base/shell/explorer/lang/pt-PT.rc
  base/shell/explorer/lang/ro-RO.rc
  base/shell/explorer/lang/ru-RU.rc
  base/shell/explorer/lang/sk-SK.rc
  base/shell/explorer/lang/sq-AL.rc
  base/shell/explorer/lang/tr-TR.rc
  base/shell/explorer/lang/uk-UA.rc
  base/shell/explorer/lang/zh-CN.rc
  base/shell/explorer/lang/zh-HK.rc
  base/shell/explorer/lang/zh-TW.rc
Owners: @learn-more, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Move GetModuleFileNameExW usage and create a helper function to obtain process image path
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/util.cpp
Owners: @learn-more, @yagoulas

[TLS] Implemented a list of old TLS vectors in an unused TEB section. All entries in the list are deallocated upon the destruction of the thread.
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrinit.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[SHUTDOWN] Update Romanian (ro-RO) translation (#7293)
  base/applications/shutdown/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[ACPPAGE] Update Romanian (ro-RO) translation (#7294)
  dll/shellext/acppage/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[LICCPA] Update Romanian (ro-RO) translation (#7295)
  dll/cpl/liccpa/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[TLS] Corrected an oversight regarding the TLS directory, as well as another involving the freeing of old TLS vectors.
  dll/ntdll/ldr/ldrinit.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[BROWSEUI_APITEST] Comment out tests that fail on Windows
  modules/rostests/apitests/browseui/IAutoComplete.cpp
Owners: none

[COM_APITEST] Fix 2 tests to pass on Windows 2003
  modules/rostests/apitests/com/com_apitest.c
Owners: none

[TESTS] Disable cmd:reactos, it's broken
  modules/rostests/win32/cmd/testlist.c
Owners: none

[WIN32NT_APITEST] Fix NtGdiCreateBitmap test on x64
  modules/rostests/apitests/win32nt/ntgdi/NtGdiCreateBitmap.c
Owners: none
