Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[MMEBUDDY] Fix build Use unsigned type for streaming buffer length and shadow buffer length, instead of signed, to avoid build errors with GCC.
  sdk/include/reactos/libs/sound/mmebuddy.h
Owners: none

[PORTCLS] - Implement IOCTL_KS_RESET_STATE - Call ObDereferenceObject on close
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WMDAUD.DRV][MMEBUDDY] - Support wave in recording in RT streaming
  dll/win32/wdmaud.drv/mmixer.c
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
Owners: none

[PORTCLS] - Call FreeBufferWithNotification on close - Fixes playback for multiple attempts - Return STATUS_UNSUCCESSFUL when MaxFilterInstance count has been reached
  drivers/wdm/audio/backpln/portcls/filter_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavert.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - remove legacy streaming implementation
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[MMEBUDDY] - Queue a thread when wdmaud clients submits small buffers - Fixes crash when playback with mmsys.cpl multiple times
  sdk/lib/drivers/sound/mmebuddy/functiontable.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Owners: none

[WDMAUD.DRV] - Implement a shadow buffering which prefetches audio data and perform writing in a dedicated thread
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
Owners: none

[PORTCLS] - Enforce legacy streaming
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WDMAUD.DRV][MMIXER][PORTCLS] - Move completion to a seperate thread to imitate legacy streaming - Audio is playing fluent - Foobar2000 still crashes on stop, WIP
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/deviceinstance.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
  sdk/lib/drivers/sound/mmixer/mixer.c
Owners: none

[PORTCLS] - Set to member to null after release
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WDMAUD.DRV][PORTCLS] Activate RT Streaming
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[FREELDR] Fix FAT32 directory chain corruption when extending large directories
  boot/freeldr/freeldr/lib/ramdisk_fatwrite.c
Owners: @tkreuzer, @Extravert-ir

consistent bugcheck parameter layout
  modules/rostests/drivers/vf_test/vf_test.c
  ntoskrnl/vf/driver.c
  ntoskrnl/vf/vf.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[KS] Fix build Remove set but not used variable to fix build failure.
  drivers/ksfilter/ks/pin.c
Owners: none

[KS] Minor fixes - Fix some DPRINTs. - Capitalize all new comments. - Reenable validation check. - Revert unrelated LibJPEG change.
  dll/3rdparty/libjpeg/libjpeg.spec
  drivers/ksfilter/ks/pin.c
  drivers/ksfilter/ks/property.c
  drivers/ksfilter/ks/swenum.c
Owners: @ThFabba

[KS] Revert hack for MS portcls since it's unrelated here.
  drivers/ksfilter/ks/irp.c
Owners: none

finally add registry-backed flags
  ntoskrnl/vf/driver.c
  ntoskrnl/vf/vf.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[INCLUDE/WINE][PSDK][XDK] Header changes needed for advapi32 winetest sync to wine-10.0
  dll/win32/comdlg32/precomp.h
  dll/win32/setupapi/driver.c
  sdk/include/psdk/winreg.h
  sdk/include/wine/ntlsa.h
  sdk/include/wine/ntsecapi.h
  sdk/include/wine/winsvc.h
  sdk/include/xdk/winnt_old.h
Owners: none

[ADVAPI32] Add NT6+ stubs for RegLoadAppKey and RegRenameKey
  dll/win32/advapi32/advapi32.spec
Owners: none

[ADVAPI32] Add SEH handling to some crypt functions
  dll/win32/advapi32/wine/crypt.c
Owners: none

[ADVAPI32_WINETEST] Sync to advapi32 winetest to wine-10.0
  modules/rostests/winetests/advapi32/CMakeLists.txt
  modules/rostests/winetests/advapi32/cred.c
  modules/rostests/winetests/advapi32/crypt.c
  modules/rostests/winetests/advapi32/crypt_lmhash.c
  modules/rostests/winetests/advapi32/eventlog.c
  modules/rostests/winetests/advapi32/lsa.c
  modules/rostests/winetests/advapi32/perf.c
  modules/rostests/winetests/advapi32/registry.c
  modules/rostests/winetests/advapi32/security.c
  modules/rostests/winetests/advapi32/service.c
Owners: @ThFabba

[INCLUDE/WINE] Don't use DECLSPEC_IMPORT on ntsecapi.h
  sdk/include/wine/ntsecapi.h
Owners: none

[ASMPP] Fix .text exporting for MASM .code blocks
  sdk/tools/asmpp/asmpp.cpp
Owners: none

[FREELDR] Fix undefined MmAllocateHighestMemoryBelowAddressOptional call
  boot/freeldr/freeldr/disk/ramdisk.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Fix C99-isms, indentation, and add safety checks in ramdisk code
  boot/freeldr/freeldr/disk/ramdisk.c
  boot/freeldr/freeldr/lib/ramdisk_fatwrite.c
  boot/freeldr/freeldr/lib/ramdisk_format.c
  drivers/storage/class/ramdisk/ramdisk.c
Owners: @tkreuzer, @Extravert-ir

[RAMDISK] Fix amd64 BasePage truncation and register boot ramdisk as standard volume interface
  drivers/storage/class/ramdisk/ramdisk.c
  sdk/include/reactos/drivers/ntddrdsk.h
Owners: none

some fixes (dma fault injection flag in default would randomly fail dma operations on all drivers which is too agressive) and add second test to vf_test and hook it into exfreepoolwithtag
  modules/rostests/drivers/vf_test/vf_test.c
  ntoskrnl/mm/ARM3/expool.c
  ntoskrnl/vf/driver.c
  ntoskrnl/vf/vf.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOSKRNL] MM changes for WOW64
  ntoskrnl/mm/ARM3/pagfault.c
  ntoskrnl/mm/ARM3/procsup.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOSKRNL] KE changes for WOW64
  ntoskrnl/ke/amd64/ctxswitch.S
  ntoskrnl/ke/amd64/thrdini.c
Owners: @tkreuzer

[NTOSKRNL] IO changes for WOW64
  ntoskrnl/io/iomgr/irp.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOSKRNL] EX changes for WOW64
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOSKRNL] PS changes for WOW64
  ntoskrnl/ps/kill.c
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOSKRNL] Increase MI_NUMBER_SYSTEM_PTES for AMD64
  ntoskrnl/include/internal/amd64/mm.h
Owners: @tkreuzer

[NTOS:MM] Move the system PTE space on x86 to a different spot
  ntoskrnl/mm/ARM3/i386/init.c
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/mminit.c
  ntoskrnl/mm/mminit.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[KMTESTS] Adjust KmTest
  modules/rostests/kmtests/ntos_mm/MmMdl.c
Owners: @ThFabba

[UEFI] fix broken boot-menu countdown
  boot/freeldr/freeldr/arch/uefi/stubs.c
  boot/freeldr/freeldr/arch/uefi/ueficon.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
Owners: @tkreuzer, @Extravert-ir

[NTOS:ARM3] Change calculation for more system PTEs (#8613)
  modules/rostests/kmtests/ntos_mm/MmMdl.c
  ntoskrnl/include/internal/amd64/mm.h
  ntoskrnl/mm/ARM3/i386/init.c
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/mminit.c
  ntoskrnl/mm/mminit.c
Owners: @ThFabba, @tkreuzer, @HeisSpiter

[WIN32SS:NTUSER] Implement `SharedUserData->LastSystemRITEventTickCount`
  modules/rostests/win32/user32/CMakeLists.txt
  modules/rostests/win32/user32/useridletime/CMakeLists.txt
  modules/rostests/win32/user32/useridletime/UserIdleTime.c
  win32ss/user/ntuser/input.c
Owners: none

pooltype check
  ntoskrnl/mm/ARM3/expool.c
  ntoskrnl/vf/driver.c
  ntoskrnl/vf/vf.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[RAPPS] Fix loading of default settings
  base/applications/rapps/settingsdlg.cpp
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
