Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[XDK] winnt_old.h: Fix definition of __WINE_MALLOC / __WINE_DEALLOC
  sdk/include/xdk/winnt_old.h
Owners: none

[WINE] winternl.h: Add VerifyConsoleIoHandle
  sdk/include/wine/winternl.h
Owners: none

[KERNEL32_VISTA] Export hack for GetSystemTimePreciseAsFileTime
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
Owners: none

[HOSTNAME] Use wprintf instead of _cwprintf
  base/applications/cmdutils/hostname/hostname.c
Owners: none

[LPK] Rewrite LPK_ApplyMirroring
  dll/win32/lpk/CMakeLists.txt
  dll/win32/lpk/lpk.c
Owners: none

[SHLWAPI_APITEST] Fix interface pointer mismatch
  modules/rostests/apitests/shlwapi/SHPropertyBag.cpp
Owners: none

[CRYPT32] Sync CertGetNameStringA with wine-10.0
  dll/win32/crypt32/str.c
Owners: none

[MSVCRT] Rename folder to msvcrt-old
  dll/win32/CMakeLists.txt
  dll/win32/msvcrt-old/CMakeLists.txt
  dll/win32/msvcrt-old/dllmain.c
  dll/win32/msvcrt-old/msvcrt.rc
  dll/win32/msvcrt-old/msvcrt.spec
  dll/win32/msvcrt-old/precomp.h
  dll/win32/msvcrt-old/stubs.c
Owners: none

[MSVCRT] Comment out _setjmp/longjmp
  dll/win32/msvcrt/except_i386.c
  dll/win32/msvcrt/except_x86_64.c
Owners: none

[MSVCRT] Make _setfp_sse available for MSVC as well
  dll/win32/msvcrt/math.c
Owners: none

[MSVCRT] Comment out memmove
  dll/win32/msvcrt/string.c
Owners: none

[MSVCRT] Make msvcrt compile with MSVC
  dll/win32/msvcrt/cppexcept.h
  dll/win32/msvcrt/cxx.h
  dll/win32/msvcrt/except_i386.c
  dll/win32/msvcrt/include/conio.h
  dll/win32/msvcrt/include/stdlib.h
  dll/win32/msvcrt/include/string.h
  dll/win32/msvcrt/include/sys/timeb.h
  dll/win32/msvcrt/math.c
  dll/win32/msvcrt/misc.c
  dll/win32/msvcrt/msvc_fwd_decl.h
  dll/win32/msvcrt/printf.h
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
Owners: none

[MSVCRT] Add MSVC asm code
  dll/win32/msvcrt/amd64/concurrency_vtables.s
  dll/win32/msvcrt/amd64/cpp_alias.s
  dll/win32/msvcrt/amd64/cpp_vtables.s
  dll/win32/msvcrt/amd64/except_x86_64.s
  dll/win32/msvcrt/i386/cpp_alias.s
  dll/win32/msvcrt/i386/cpp_vtables.s
  dll/win32/msvcrt/i386/except_i386_asm.s
  dll/win32/msvcrt/i386/inout.s
Owners: @tkreuzer

[MSVCRT] msvcrt.spec: fix architecture of some exports
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] msvcrt.spec: Fix up some exports
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] Add _mbcasemap, _fileinfo
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt/reactos/data.c
Owners: none

[MSVCRT] msvcrt.spec: Fix sorting of exports
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] msvcrt.spec: Add version attributes
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] msvcrt.spec: Use our own math functions directly
  dll/win32/msvcrt/math.c
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] Fix wine's broken _LDOUBLE stuff
  dll/win32/msvcrt/msvcrt.h
  dll/win32/msvcrt/string.c
Owners: none

[MSVCRT] Comment out some x86 exception handling functions
  dll/win32/msvcrt/except_i386.c
Owners: none

[MSVCRT] Fix initial value of _fmode
  dll/win32/msvcrt/data.c
Owners: none

[MSVCRT] Fix a bug in _wctomb_l
  dll/win32/msvcrt/wcs.c
Owners: none

[MSVCRT] Set current dir environment variable in _wchdir
  dll/win32/msvcrt/dir.c
Owners: none

[MSVCRT] Don't unconditionally set errno in msvcrt_search_executable
  dll/win32/msvcrt/process.c
Owners: none

[CRT_APITEST] Remove some obsolete todo_ros
  modules/rostests/apitests/crt/crtdata.c
Owners: none

[MSVCRT] Use wine msvcrt
  dll/win32/CMakeLists.txt
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/msvcrt.rc
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt/reactos/chkesp_failed.c
  media/doc/WINESYNC.txt
  sdk/lib/crt/CMakeLists.txt
  sdk/lib/crt/except/except.cmake
Owners: none

[MSVCRT_APITEST] Fix test condition for strtoul on ReactOS
  modules/rostests/apitests/crt/tcstoul.h
  modules/rostests/apitests/crt/testlist.c
Owners: none

[MSVCRT] Fix __gemainargs
  dll/win32/msvcrt/data.c
Owners: none

[MSVCRT-OLD] Delete old msvcrt
  dll/win32/msvcrt-old/CMakeLists.txt
  dll/win32/msvcrt-old/dllmain.c
  dll/win32/msvcrt-old/msvcrt.rc
  dll/win32/msvcrt-old/msvcrt.spec
  dll/win32/msvcrt-old/precomp.h
  dll/win32/msvcrt-old/stubs.c
Owners: none

[CRT_APITEST] Mark a test for _wpgmptr as todo
  modules/rostests/apitests/crt/crtdata.c
Owners: none

[UCRTBASE_APITEST] Add tests for system/_wsystem
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[MSVCRT] Reimplement system/_wsystem
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/process.c
  dll/win32/msvcrt/reactos/system.cpp
Owners: none

[CRT_APITEST] Fix version check for (_w)system on ReactOS
  modules/rostests/apitests/crt/_wsystem.c
  modules/rostests/apitests/crt/system.c
Owners: none

WIP [MSVCRT] Use __wine_RtlUnwind
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/except_i386.c
  dll/win32/msvcrt/i386/__wine_RtlUnwind.s
  dll/win32/msvcrt/msvcrt.h
Owners: none

[MSVCRT] Use process heap
  dll/win32/msvcrt/heap.c
Owners: none

+__wine_rtl_unwind
  dll/win32/msvcrt/except_i386.c
  dll/win32/msvcrt/msvcrt.h
Owners: none

[INCLUDE/WINE] Fix for CORE-20373
  sdk/include/wine/iphlpapi.h
  sdk/include/wine/netioapi.h
Owners: none

[INCLUDE/WINE] GetNTVersion() and other changes for kernel32 winetest sync
  modules/rostests/winetests/kernel32/debugger.c
  modules/rostests/winetests/kernel32/process.c
  modules/rostests/winetests/riched20/richole.c
  modules/rostests/winetests/shell32/shlexec.c
  modules/rostests/winetests/windowscodecs/ddsformat.c
  sdk/include/wine/exception.h
  sdk/include/wine/ntddstor.h
  sdk/include/wine/test.h
  sdk/include/wine/winioctl.h
  sdk/include/wine/winnt.h
Owners: @ThFabba

[INCLUDE/WINE] Fix for CORE-20373
  sdk/include/wine/iphlpapi.h
  sdk/include/wine/netioapi.h
Owners: none
