Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[WINESYNC] comctl32/button: Implement BCM_SETSPLITINFO.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_SETDROPDOWNSTATE.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Don't draw the button when losing focus before invalidating it.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement split buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement themed split buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Delay calling get_button_text until it is needed to prevent a leak.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_GETSPLITINFO.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Use WM_GETTEXTLENGTH to see if the button has any text.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_GETIDEALSIZE for split buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Move the drawing of the button's image into a separate function.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Preserve BST_HOT when mouse button is released.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement command links.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC]: comctl32 is now in sync with wine-staging wine-5.0
  sdk/tools/winesync/comctl32.cfg
Owners: none

[WINESYNC] comctl32/button: Improve repainting on WM_SETFOCUS.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_GETIDEALSIZE for command links.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement themed command links.
  dll/win32/comctl32/CMakeLists.txt
  dll/win32/comctl32/button.c
Owners: none

[NTOS:IO] NtPlugPlayControl.PlugPlayControlUnlockDevice is not implemented
  ntoskrnl/io/pnpmgr/plugplay.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[UNIATA] Convert a few files to UTF-8 from ANSI
  drivers/storage/ide/uniata/atapi.h
  drivers/storage/ide/uniata/bsmaster.h
  drivers/storage/ide/uniata/id_ata.cpp
  drivers/storage/ide/uniata/id_dma.cpp
  drivers/storage/ide/uniata/id_probe.cpp
  drivers/storage/ide/uniata/ros_glue/ros_glue.cpp
  drivers/storage/ide/uniata/todo.txt
Owners: @ThFabba

[UNIATA] id_ata.cpp: Unmark a ReactOS own diff
  drivers/storage/ide/uniata/id_ata.cpp
Owners: @ThFabba

[UNIATA] id_init.cpp: Mark a diff
  drivers/storage/ide/uniata/id_init.cpp
Owners: @ThFabba

[UNIATA] Upgrade to v0.47b from v0.47a
  drivers/storage/ide/uniata/id_ata.cpp
  drivers/storage/ide/uniata/uniata_comm.inf
  drivers/storage/ide/uniata/uniata_ver.h
  media/doc/3rd Party Files.txt
Owners: @ThFabba

[EXPLORER] Fix Taskbar context menu Z-order bug (#8186)
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Update base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/mscutils/servman/lang/pl-PL.rc
  base/applications/mscutils/servman/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/samsrv/lang/pl-PL.rc
Owners: @reactos/lang-polish

[PSEH] Strange hack to handle in x64 Linux compilations
  sdk/lib/pseh/include/pseh/pseh2.h
Owners: none

Update pl-PL.rc
  dll/shellext/cabview/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/cpl/hotplug/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/shellext/stobject/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  base/services/w32time/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/shdocvw/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/shimgvw/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/cpl/input/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/win32/samsrv/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/cpl/hotplug/lang/pl-PL.rc
Owners: @reactos/lang-polish

[CRT:MATH] Implement x86 sse2 math functions
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/math/i386/libm_sse2.c
  sdk/lib/crt/math/math.cmake
Owners: none

[CRT] Add crtmath library
  dll/win32/ucrtbase/CMakeLists.txt
  sdk/lib/crt/CMakeLists.txt
  sdk/lib/crt/crt.cmake
  sdk/lib/crt/crtmath.cmake
  sdk/lib/crt/ucrtsupport.cmake
Owners: none

[CRT:MATH] Implement _isnan and _isnanf
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/float/float.cmake
  sdk/lib/crt/float/isnan.c
  sdk/lib/crt/math/_isnan.c
  sdk/lib/crt/math/_isnanf.c
  sdk/lib/crt/math/math.cmake
Owners: none

[CRT:MATH] Implement _dsign and _dsignf
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/math/_dsign.c
  sdk/lib/crt/math/_fdsign.c
  sdk/lib/crt/math/math.cmake
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
