Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[PCIX] Build a BAR requirement from named bounds
  drivers/bus/pcix/utils.c
Owners: none

[PCIX] Treat a BAR that implements no address bits as absent
  drivers/bus/pcix/utils.c
Owners: none

[DEVMGR] Show the vector of message interrupts (#9546)
  dll/win32/devmgr/devmgmt/ResourceNode.cpp
  dll/win32/devmgr/includes/restypes.h
  dll/win32/devmgr/properties/hwresource.cpp
Owners: none

[USER32_APITEST] Add test for NcPaintRgn (#9495)
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/NcPaintRgn.c
  modules/rostests/apitests/user32/testlist.c
Owners: none

[NTUSER] Repaint the whole frame when its geometry changes (#9495)
  win32ss/user/ntuser/winpos.c
Owners: none

[NTOS:CM] Initialize CMHive->NotifyList
  ntoskrnl/config/cminit.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SDK][NTOS:CM] Add memory tag for CM_NOTIFY_BLOCK
  sdk/lib/cmlib/cmlib.h
Owners: none

[NTOS:CM] Implement CmpFlushNotify
  ntoskrnl/config/cmnotify.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:CM] Detach KeyBody->NotifyBlock when closing a KCB
  ntoskrnl/config/cmsysini.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:CM] Implement CmpReportNotify
  ntoskrnl/config/cmnotify.c
  ntoskrnl/include/internal/cm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[APITESTS:NPFS] Add GetConnectionAttributes
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/npfs/CMakeLists.txt
  modules/rostests/apitests/npfs/GetConnectionAttributes.c
  modules/rostests/apitests/npfs/testlist.c
Owners: none

[MSHTML.TLB] Mark as synced with Wine 10.0. CORE-20602
  media/doc/WINESYNC.txt
Owners: none

[APPWIZ][BOOTDATA][SYSSETUP] Update referenced wine-gecko version. CORE-20602
  boot/bootdata/packages/reactos.dff.in
  dll/cpl/appwiz/addons.c
  dll/win32/syssetup/addons.c
Owners: none

[NTUSER] Give source device to UserProcessKeyboardInput/UserProcessMouseInput
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/input.h
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/mouse.c
Owners: none

[NTUSER] Introduce CreateInputDevice() function to initialize INPUT_DEVICE_INFO structures
  win32ss/user/ntuser/input.c
Owners: none

[NTUSER] Read input device attributes in OpenInputDevice()
  win32ss/user/ntuser/input.c
Owners: none

[FUSION] Sync to Wine-10.0
  dll/win32/fusion/CMakeLists.txt
  dll/win32/fusion/asmcache.c
  dll/win32/fusion/asmenum.c
  dll/win32/fusion/asmname.c
  dll/win32/fusion/assembly.c
  dll/win32/fusion/fusion.c
  dll/win32/fusion/fusionpriv.h
  dll/win32/fusion/precomp.h
  dll/win32/fusion/version.rc
  modules/rostests/winetests/fusion/asmcache.c
  modules/rostests/winetests/fusion/asmenum.c
  modules/rostests/winetests/fusion/asmname.c
  modules/rostests/winetests/fusion/fusion.c
Owners: @ThFabba

[HNETCFG] Sync to Wine-10.0
  dll/win32/hnetcfg/CMakeLists.txt
  dll/win32/hnetcfg/apps.c
  dll/win32/hnetcfg/hnetcfg.c
  dll/win32/hnetcfg/hnetcfg.rc
  dll/win32/hnetcfg/hnetcfg.rgs
  dll/win32/hnetcfg/hnetcfg_private.h
  dll/win32/hnetcfg/hnetcfg_tlb.rgs
  dll/win32/hnetcfg/manager.c
  dll/win32/hnetcfg/policy.c
  dll/win32/hnetcfg/port.c
  dll/win32/hnetcfg/precomp.h
  dll/win32/hnetcfg/profile.c
  dll/win32/hnetcfg/service.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/hnetcfg/policy.c
  sdk/include/psdk/netfw.idl
  sdk/lib/crt/msvcrtex.cmake
  sdk/lib/crt/strtok_s.c
Owners: @ThFabba

[IMAADP32.ACM][ICCVID] Sync to Wine-10.0
  dll/win32/iccvid/iccvid.c
  dll/win32/imaadp32.acm/imaadp32.c
  media/doc/WINESYNC.txt
Owners: none

[ITSS] Sync to Wine-10.0
  dll/win32/itss/CMakeLists.txt
  dll/win32/itss/chm_lib.c
  dll/win32/itss/chm_lib.h
  dll/win32/itss/itss.c
  dll/win32/itss/itss.spec
  dll/win32/itss/itss_r.rgs
  dll/win32/itss/itsstor.h
  dll/win32/itss/moniker.c
  dll/win32/itss/protocol.c
  dll/win32/itss/rsrc.rc
  dll/win32/itss/storage.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/itss/protocol.c
Owners: @ThFabba

[WINESYNC] Sync smaller dlls
  dll/win32/mcicda/CMakeLists.txt
  dll/win32/mcicda/mcicda.c
  dll/win32/mciqtz32/mciavi_res.rc
  dll/win32/mciqtz32/mciqtz.c
  dll/win32/mciqtz32/mciqtz_private.h
  dll/win32/mciseq/mcimidi.c
  dll/win32/mciwave/CMakeLists.txt
  dll/win32/mciwave/mciwave.c
  dll/win32/mgmtapi/mgmtapi.c
  dll/win32/mgmtapi/mgmtapi.spec
  dll/win32/mprapi/mprapi.c
  dll/win32/msacm32.drv/wavemap.c
  dll/win32/msadp32.acm/msadp32.c
  dll/win32/mscat32/CMakeLists.txt
  dll/win32/mscat32/main.c
  dll/win32/msftedit/msftedit_main.c
  dll/win32/msg711.acm/msg711.c
  dll/win32/msimtf/CMakeLists.txt
  dll/win32/msimtf/activeimmapp.c
  dll/win32/msimtf/main.c
  dll/win32/msimtf/msimtf.rgs
  dll/win32/msimtf/msimtf_ros.diff
  dll/win32/msimtf/rsrc.rc
  dll/win32/msisip/main.c
  dll/win32/msisip/msisip.spec
  dll/win32/msisys.ocx/CMakeLists.txt
  dll/win32/msisys.ocx/msisys.c
  dll/win32/msnet32/msnet_main.c
  dll/win32/msrle32/msrle32.c
  media/doc/WINESYNC.txt
Owners: none

[MAPI32] Sync to Wine-10.0
  dll/win32/mapi32/CMakeLists.txt
  dll/win32/mapi32/imalloc.c
  dll/win32/mapi32/mapi32.spec
  dll/win32/mapi32/mapi32_main.c
  dll/win32/mapi32/prop.c
  dll/win32/mapi32/sendmail.c
  dll/win32/mapi32/util.c
  dll/win32/mapi32/util.h
  media/doc/WINESYNC.txt
  modules/rostests/winetests/mapi32/imalloc.c
  modules/rostests/winetests/mapi32/prop.c
  modules/rostests/winetests/mapi32/util.c
Owners: @ThFabba

[INITPKI][ITIRCL] Sync to Wine-10.0
  dll/win32/initpki/CMakeLists.txt
  dll/win32/initpki/initpki.spec
  dll/win32/initpki/main.c
  dll/win32/itircl/CMakeLists.txt
  dll/win32/itircl/itircl_main.c
  media/doc/WINESYNC.txt
Owners: none

[IMAGEHLP] Sync to Wine-10.0
  dll/win32/imagehlp/access.c
  dll/win32/imagehlp/imagehlp.spec
  dll/win32/imagehlp/imagehlp_main.c
  dll/win32/imagehlp/integrity.c
  dll/win32/imagehlp/modify.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/imagehlp/CMakeLists.txt
  modules/rostests/winetests/imagehlp/image.c
  modules/rostests/winetests/imagehlp/imagehlp.rc
  modules/rostests/winetests/imagehlp/integrity.c
  modules/rostests/winetests/imagehlp/testdll.c
  modules/rostests/winetests/imagehlp/testdll.spec
Owners: @ThFabba

[LOADPERF][LZ32][JSPROXY] Sync to Wine-10.0
  dll/win32/jsproxy/CMakeLists.txt
  dll/win32/jsproxy/main.c
  dll/win32/loadperf/loadperf_main.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/CMakeLists.txt
  modules/rostests/winetests/jsproxy/CMakeLists.txt
  modules/rostests/winetests/jsproxy/jsproxy.c
  modules/rostests/winetests/lz32/lzexpand_main.c
Owners: @ThFabba

[HNETCFG] Disable hanging test
  modules/rostests/winetests/hnetcfg/policy.c
Owners: @ThFabba

[NTUSER] Read keyboard/mouse data in completion routine
  win32ss/user/ntuser/input.c
Owners: none

[NTUSER] Introduce ProcessDeviceChanges() to open new input devices
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/metric.c
Owners: none

[NTUSER] Introduce CloseInputDevice() function to release INPUT_DEVICE_INFO structures
  win32ss/user/ntuser/input.c
Owners: none

[WIN32SS] Link to keyboard/mouse GUID definitions
  win32ss/CMakeLists.txt
  win32ss/user/ntuser/guid.c
Owners: none

[NTUSER] Register to notifications of keyboards/mice
  win32ss/user/ntuser/input.c
Owners: none

[NTUSER] Create input devices on arrival - Needs kbdclass/mouclass changes - WIP
  drivers/input/kbdclass/kbdclass_reg.inf
  drivers/input/mouclass/mouclass_reg.inf
  win32ss/user/ntuser/input.c
Owners: none

[NTUSER] Use an event to notify Real-time Input Thread when device list changed
  win32ss/user/ntuser/input.c
Owners: none

[NTUSER] Use asynchronous read to set read event
  win32ss/user/ntuser/input.c
Owners: none

[MSVFW32][MSVIDC32][NDDEAPI][NPPTOOLS][NTDSAPI][OBJSEL] Sync to Wine-10.0
  dll/win32/msvfw32/CMakeLists.txt
  dll/win32/msvfw32/drawdib.c
  dll/win32/msvfw32/mciwnd.c
  dll/win32/msvfw32/msvideo_main.c
  dll/win32/msvfw32/msvideo_private.h
  dll/win32/msvidc32/msvideo1.c
  dll/win32/nddeapi/nddeapi.c
  dll/win32/npptools/CMakeLists.txt
  dll/win32/npptools/main.c
  dll/win32/ntdsapi/ntdsapi.c
  dll/win32/objsel/CMakeLists.txt
  dll/win32/objsel/factory.c
  dll/win32/objsel/objsel.c
  dll/win32/objsel/objsel.rc
  dll/win32/objsel/objsel.rgs
  dll/win32/objsel/objsel_private.h
  dll/win32/objsel/precomp.h
  media/doc/WINESYNC.txt
  modules/rostests/winetests/msvfw32/CMakeLists.txt
  modules/rostests/winetests/msvfw32/drawdib.c
  modules/rostests/winetests/msvfw32/mciwnd.c
  modules/rostests/winetests/msvfw32/msvfw.c
  modules/rostests/winetests/ntdsapi/ntdsapi.c
Owners: @ThFabba

[QUERY][RASAPI32][RESUTILS][RICHED32][RSABASE][SCCBASE][SCRRUN] Sync to Wine-10.0
  dll/win32/query/CMakeLists.txt
  dll/win32/query/query.spec
  dll/win32/query/query_main.c
  dll/win32/rasapi32/rasapi.c
  dll/win32/rasapi32/rasapi32.spec
  dll/win32/regapi/CMakeLists.txt
  dll/win32/regapi/main.c
  dll/win32/resutils/CMakeLists.txt
  dll/win32/resutils/resutils.c
  dll/win32/sccbase/CMakeLists.txt
  dll/win32/sccbase/main.c
  dll/win32/scrrun/CMakeLists.txt
  dll/win32/scrrun/dictionary.c
  dll/win32/scrrun/filesystem.c
  dll/win32/scrrun/scrrun.c
  dll/win32/scrrun/scrrun.rc
  dll/win32/scrrun/scrrun.spec
  dll/win32/scrrun/scrrun_private.h
  dll/win32/scrrun/scrrun_tlb.rgs
  media/doc/WINESYNC.txt
  modules/rostests/winetests/rasapi32/rasapi.c
  modules/rostests/winetests/riched32/editor.c
  modules/rostests/winetests/scrrun/CMakeLists.txt
  modules/rostests/winetests/scrrun/dictionary.c
  modules/rostests/winetests/scrrun/filesystem.c
Owners: @ThFabba

[ODBCCP32][OLECLI32][OLEDLG][OLEPRO32][OLESVR32][OLETHK32][PDH][PIDGEN] Sync to Wine-10.0
  dll/win32/odbccp32/CMakeLists.txt
  dll/win32/odbccp32/odbccp32.c
  dll/win32/olecli32/olecli_main.c
  dll/win32/oledlg/CMakeLists.txt
  dll/win32/oledlg/insobjdlg.c
  dll/win32/oledlg/oledlg_main.c
  dll/win32/oledlg/oledlg_private.h
  dll/win32/oledlg/pastespl.c
  dll/win32/oledlg/precomp.h
  dll/win32/olepro32/CMakeLists.txt
  dll/win32/olepro32/olepro32stubs.c
  dll/win32/olepro32/olepro_t.rgs
  dll/win32/olepro32/version.rc
  dll/win32/olesvr32/olesvr_main.c
  dll/win32/olethk32/CMakeLists.txt
  dll/win32/olethk32/main.c
  dll/win32/pdh/CMakeLists.txt
  dll/win32/pdh/pdh.spec
  dll/win32/pdh/pdh_main.c
  dll/win32/pidgen/main.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/odbccp32/misc.c
  modules/rostests/winetests/oledlg/main.c
  modules/rostests/winetests/pdh/pdh.c
Owners: @ThFabba

[PRINTUI][PSTOREC][QMGR][QMGRPRXY] Sync to Wine-10.0
  dll/win32/pstorec/CMakeLists.txt
  dll/win32/pstorec/pstorec.c
  dll/win32/pstorec/pstorec.rgs
  dll/win32/pstorec/rsrc.rc
  dll/win32/qmgr/CMakeLists.txt
  dll/win32/qmgr/enum_files.c
  dll/win32/qmgr/enum_jobs.c
  dll/win32/qmgr/file.c
  dll/win32/qmgr/job.c
  dll/win32/qmgr/qmgr.c
  dll/win32/qmgr/qmgr.h
  dll/win32/qmgr/qmgr_local.idl
  dll/win32/qmgr/qmgr_main.c
  dll/win32/qmgr/service.c
  dll/win32/qmgrprxy/CMakeLists.txt
  dll/win32/qmgrprxy/qmgrprxy.idl
  dll/win32/qmgrprxy/qmgrprxy.rc
  dll/win32/qmgrprxy/qmgrprxy.rgs
  media/doc/WINESYNC.txt
  modules/rostests/winetests/qmgr/CMakeLists.txt
  modules/rostests/winetests/qmgr/enum_files.c
  modules/rostests/winetests/qmgr/enum_jobs.c
  modules/rostests/winetests/qmgr/file.c
  modules/rostests/winetests/qmgr/job.c
  modules/rostests/winetests/qmgr/qmgr.c
  sdk/include/psdk/CMakeLists.txt
  sdk/include/psdk/bits1_5.idl
  sdk/include/psdk/bits2_0.idl
  sdk/include/psdk/bits2_5.idl
  sdk/include/psdk/bits3_0.idl
  sdk/include/psdk/bits5_0.idl
  win32ss/printing/base/printui/printui.c
Owners: @ThFabba, @ColinFinck

Suggested changes
  base/applications/control/control.c
  dll/shellext/netplwiz/netplwiz.c
  dll/shellext/netplwiz/netplwiz.spec
Owners: @learn-more

Added 'TaskbarNoText' registry key
  base/shell/explorer/precomp.h
  base/shell/explorer/settings.cpp
Owners: @learn-more, @yagoulas
