Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SDK] Fix a truncation
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[SDK] RtlInvertRangeListEx compat fixes
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[SDK] Code Review: Use Win2000 DDK Defs
  modules/rostests/kmtests/rtl/RtlRangeList.c
  sdk/include/ndk/rtltypes.h
  sdk/lib/rtl/rangelist.c
Owners: @ThFabba, @HeisSpiter, @learn-more, @tkreuzer

[RTL] Fix owner range deletion traversal
  modules/rostests/kmtests/rtl/RtlRangeList.c
  sdk/lib/rtl/rangelist.c
Owners: @ThFabba, @HeisSpiter, @learn-more, @tkreuzer

[SDK] Code review
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[MCIAVI32] Sync with Wine 11.11
  dll/win32/mciavi32/CMakeLists.txt
  dll/win32/mciavi32/info.c
  dll/win32/mciavi32/mciavi.c
  dll/win32/mciavi32/mciavi_res.rc
  dll/win32/mciavi32/mmoutput.c
  dll/win32/mciavi32/private_mciavi.h
  dll/win32/mciavi32/wnd.c
  media/doc/WINESYNC.txt
Owners: none

msconfig: disable tree view label editing via window styles
  base/applications/msconfig/systempage.c
Owners: none

[CLANG] Fix Clang compilation errors
  base/applications/calc/resource.h
  dll/shellext/shellbtrfs/shellext.h
  dll/win32/kernel32/client/amd64/fiber.S
  dll/win32/msvcrt/include/stdlib.h
  dll/win32/windowscodecs/version.rc
  drivers/filesystems/cdfs/deviosup.c
  drivers/wdm/audio/drivers/CMIDriver/interfaces.hpp
  drivers/wdm/audio/drivers/CMIDriver/minwave.cpp
  ntoskrnl/ke/amd64/trap.S
  sdk/lib/crt/math/amd64/fmod.S
  sdk/lib/crt/math/amd64/fmodf.S
  sdk/lib/gcc-compat/__throw_out_of_range_fmt.cpp
Owners: @HeisSpiter, @tkreuzer

[CLANG][SDK] Do not build stdc++compat
  sdk/lib/CMakeLists.txt
  sdk/lib/gcc-compat/__throw_out_of_range_fmt.cpp
Owners: none

Apply suggestions from code review
  base/applications/msconfig/systempage.c
Owners: none

[CALC] Express CW_USEDEFAULT16 as signed hexadecimal
  base/applications/calc/resource.h
Owners: none

[CLANG][SDK] Address review feedback on the llvm-compat shims
  sdk/include/reactos/imp_alias.h
  sdk/lib/CMakeLists.txt
  sdk/lib/crt/stdio/acrt_iob_func.c
  sdk/lib/crt/stdlib/rand_s.c
  sdk/lib/llvm-compat/CMakeLists.txt
  sdk/lib/llvm-compat/c99_printf_hacks.c
  sdk/lib/llvm-compat/imp_alias_hacks.c
  sdk/lib/llvm-compat/k32_psapi_hacks.c
  sdk/lib/llvm-compat/sync_static.c
Owners: none

[PSDK] Update oleauto.h. CORE-20595
  sdk/include/psdk/oleauto.h
Owners: none

[OLEAUT32] Sync with Wine 10.0. CORE-20595
  dll/win32/oleaut32/CMakeLists.txt
  dll/win32/oleaut32/connpt.c
  dll/win32/oleaut32/connpt.h
  dll/win32/oleaut32/dispatch.c
  dll/win32/oleaut32/hash.c
  dll/win32/oleaut32/oleaut.c
  dll/win32/oleaut32/oleaut32.rc
  dll/win32/oleaut32/oleaut32.spec
  dll/win32/oleaut32/oleaut32_oaidl.idl
  dll/win32/oleaut32/oleaut32_oaidl.rgs
  dll/win32/oleaut32/oleaut32_ocidl.idl
  dll/win32/oleaut32/oleaut32_ocidl.rgs
  dll/win32/oleaut32/olefont.c
  dll/win32/oleaut32/olepicture.c
  dll/win32/oleaut32/olepropframe.c
  dll/win32/oleaut32/precomp.h
  dll/win32/oleaut32/recinfo.c
  dll/win32/oleaut32/safearray.c
  dll/win32/oleaut32/thunks.c
  dll/win32/oleaut32/typelib.c
  dll/win32/oleaut32/typelib.h
  dll/win32/oleaut32/usrmarshal.c
  dll/win32/oleaut32/varformat.c
  dll/win32/oleaut32/variant.c
  dll/win32/oleaut32/variant.h
  dll/win32/oleaut32/vartype.c
  media/doc/WINESYNC.txt
Owners: none

[MSVCRTEX] Add recalloc. CORE-20596
  sdk/lib/crt/msvcrtex.cmake
  sdk/lib/crt/recalloc.c
Owners: none

[URLMON] Sync with Wine 10.0. CORE-20596
  dll/win32/urlmon/CMakeLists.txt
  dll/win32/urlmon/axinstall.c
  dll/win32/urlmon/bindctx.c
  dll/win32/urlmon/binding.c
  dll/win32/urlmon/bindprot.c
  dll/win32/urlmon/download.c
  dll/win32/urlmon/file.c
  dll/win32/urlmon/format.c
  dll/win32/urlmon/ftp.c
  dll/win32/urlmon/gopher.c
  dll/win32/urlmon/http.c
  dll/win32/urlmon/internet.c
  dll/win32/urlmon/mimefilter.c
  dll/win32/urlmon/mk.c
  dll/win32/urlmon/precomp.h
  dll/win32/urlmon/protocol.c
  dll/win32/urlmon/resource.h
  dll/win32/urlmon/sec_mgr.c
  dll/win32/urlmon/session.c
  dll/win32/urlmon/umon.c
  dll/win32/urlmon/umstream.c
  dll/win32/urlmon/uri.c
  dll/win32/urlmon/urlmon.rc
  dll/win32/urlmon/urlmon.spec
  dll/win32/urlmon/urlmon_main.c
  dll/win32/urlmon/urlmon_main.h
  dll/win32/urlmon/urlmon_urlmon.rgs
  dll/win32/urlmon/usrmarshal.c
  media/doc/WINESYNC.txt
Owners: none

[SNDVOL32] First attempt to create a horizontal scrollbar. Renders awfully, but works.
  ScrollBar.diff
  base/applications/sndvol32/dialog.c
  base/applications/sndvol32/sndvol32.c
  base/applications/sndvol32/sndvol32.h
  patch1.diff
  patch2.diff
  patch3.diff
Owners: none

[SNDVOL32] Delete the patches
  ScrollBar.diff
  patch1.diff
  patch2.diff
  patch3.diff
Owners: none

[SNDVOL32] Second attempt of horizontal bar. Still bugs.
  base/applications/sndvol32/dialog.c
  base/applications/sndvol32/sndvol32.c
Owners: none

[ARBITERS][NDIS] Try to fix the repository
  drivers/network/ndis/ndis/hardware.c
  sdk/lib/drivers/arbiter/arbiter.c
  sdk/lib/drivers/arbiter/arbiter.h
Owners: @ThFabba

[SNDVOL32] Horizontal scrollbar and routine to avoid to generate it when it's not needed
  base/applications/sndvol32/dialog.c
Owners: none

[CODEREVIEW]
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/expool.c
  ntoskrnl/mm/ARM3/special.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[PSDK] Update mshtmdid.h mshtmhst.idl and mshtml.idl. CORE-20602
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtmhst.idl
  sdk/include/psdk/mshtml.idl
Owners: none

[MSHTML_WINETEST] Sync with Wine 10.0. CORE-20602
  modules/rostests/winetests/mshtml/CMakeLists.txt
  modules/rostests/winetests/mshtml/activex.c
  modules/rostests/winetests/mshtml/asyncscriptload.js
  modules/rostests/winetests/mshtml/blank_ie10.html
  modules/rostests/winetests/mshtml/doc_with_prop.html
  modules/rostests/winetests/mshtml/doc_with_prop_ie9.html
  modules/rostests/winetests/mshtml/documentmode.js
  modules/rostests/winetests/mshtml/dom.c
  modules/rostests/winetests/mshtml/dom.js
  modules/rostests/winetests/mshtml/es5.js
  modules/rostests/winetests/mshtml/events.c
  modules/rostests/winetests/mshtml/events.html
  modules/rostests/winetests/mshtml/events.js
  modules/rostests/winetests/mshtml/exectest.html
  modules/rostests/winetests/mshtml/frame.js
  modules/rostests/winetests/mshtml/guid.c
  modules/rostests/winetests/mshtml/htmldoc.c
  modules/rostests/winetests/mshtml/htmllocation.c
  modules/rostests/winetests/mshtml/iframe.html
  modules/rostests/winetests/mshtml/img.png
  modules/rostests/winetests/mshtml/jstest.html
  modules/rostests/winetests/mshtml/misc.c
  modules/rostests/winetests/mshtml/mshtml_ros.diff
  modules/rostests/winetests/mshtml/mshtml_test.h
  modules/rostests/winetests/mshtml/nav_test.html
  modules/rostests/winetests/mshtml/navigation.js
  modules/rostests/winetests/mshtml/precomp.h
  modules/rostests/winetests/mshtml/protocol.c
  modules/rostests/winetests/mshtml/reload.js
  modules/rostests/winetests/mshtml/rsrc.rc
  modules/rostests/winetests/mshtml/runscript.html
  modules/rostests/winetests/mshtml/script.c
  modules/rostests/winetests/mshtml/style.c
  modules/rostests/winetests/mshtml/testlist.c
  modules/rostests/winetests/mshtml/winetest.js
  modules/rostests/winetests/mshtml/xhr.js
  modules/rostests/winetests/mshtml/xhr_iframe.html
  modules/rostests/winetests/mshtml/xmlhttprequest.c
Owners: @ThFabba

[CMD] Fix line wrapping to adhere to 80-column limit in Turkish translation
  base/shell/cmd/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Apply review fixes: fix line length limits and remove extra limitation string"
  base/shell/cmd/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[CMD] Translate STRING_ERROR_INVALID_DEVICE to Turkish
  base/shell/cmd/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[CMD] Add translator credit and improve REN command help string
  base/shell/cmd/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Implement some vista+ APIs
  dll/win32/iphlpapi/iphlpapi.spec
  dll/win32/iphlpapi/iphlpapi_reactos.c
Owners: none

fix build
  dll/win32/iphlpapi/iphlpapi_main.c
Owners: none

[KMTEST] Add an ExQueryPoolBlockSize test in ExPools
  modules/rostests/kmtests/ntos_ex/ExPools.c
  sdk/lib/3rdparty/freetype/CMakeLists.txt
Owners: @ThFabba

[NTOS:CC] Implement CcGetFlushedValidData
  ntoskrnl/cc/cacheman.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

remove flag
  sdk/lib/3rdparty/freetype/CMakeLists.txt
Owners: none

[SHELL32] Code review
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/CShellItem.cpp
  dll/win32/shell32/CShellItemArray.cpp
  dll/win32/shell32/shellitem_vista.cpp
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/wine/shellord.c
Owners: @learn-more, @yagoulas

[SHELL32] Redundnet forward declerations
  dll/win32/shell32/CShellItem.cpp
  dll/win32/shell32/CShellItemArray.cpp
Owners: @learn-more, @yagoulas

[SDK][SHELl32] Code review and adjustments
  dll/win32/shell32/CShellItemArray.cpp
  dll/win32/shell32/CShellItemArray.h
  dll/win32/shell32/CUserEventTimer.cpp
  dll/win32/shell32/CUserEventTimer.h
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shellitem_vista.cpp
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/psdk/shellapi.h
  sdk/include/psdk/shobjidl.idl
Owners: @learn-more, @yagoulas

[SHELL32] Added missing exports
  dll/win32/shell32/shell32.spec
Owners: @learn-more, @yagoulas

[SDK][SHELL32] shell32
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/CShellItem.cpp
  dll/win32/shell32/CShellItemArray.cpp
  dll/win32/shell32/CShellItemArray.h
  dll/win32/shell32/CShellLibrary.cpp
  dll/win32/shell32/CShellLibrary.h
  dll/win32/shell32/CSimpleShellItemArray.h
  dll/win32/shell32/CUserEventTimer.cpp
  dll/win32/shell32/CUserEventTimer.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/res/rgs/shelllibrary.rgs
  dll/win32/shell32/res/rgs/usereventtimer.rgs
  dll/win32/shell32/rgs_res.rc
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shellitem_vista.cpp
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellord.c
  dll/win32/shell32/wine/shellpath.c
  sdk/include/psdk/shlguid.h
  sdk/include/psdk/shobjidl.idl
Owners: @learn-more, @yagoulas

[BROWSEUI] AddITaskbarList3/ITaskbarList4
  dll/win32/browseui/CTaskbarList.cpp
  dll/win32/browseui/CTaskbarList.h
Owners: @learn-more, @yagoulas

msconfig: Move TVS_EDITLABELS style disablement to DisableAllExcept
  base/applications/msconfig/msconfig.c
  base/applications/msconfig/systempage.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
