Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

improve code 5
  dll/win32/shlwapi/policy.cpp
Owners: none

[SHLWAPI][SDK] Support NextPathA/W
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

[SHLWAPI][SDK] Support FixSlashesAndColonA
  dll/win32/shlwapi/ordinal.c
  dll/win32/shlwapi/shlwapi.spec
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

[RTL] Fix RtlVirtualUnwind for UWOP_*_FAR, UWOP_EPILOG and UWOP_SPARE_CODE
  sdk/lib/rtl/amd64/unwind.c
Owners: @tkreuzer

[RTL_APITEST][NTDLL_APITEST] Add RtlVirtualUnwind test
  modules/rostests/apitests/ntdll/testlist.c
  modules/rostests/apitests/rtl/CMakeLists.txt
  modules/rostests/apitests/rtl/amd64/RtlVirtualUnwind.c
  modules/rostests/apitests/rtl/testlist.c
Owners: @tkreuzer

[SHLWAPI][SDK] Support PathUnExpandEnvStringsForUserA/W
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

fix build
  dll/win32/shlwapi/utils.cpp
Owners: none

fix build
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

some fixes
  dll/win32/shlwapi/policy.cpp
  dll/win32/shlwapi/shlwapi_main.c
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

improve code
  dll/win32/shlwapi/utils.cpp
Owners: none

some fixes
  dll/win32/shlwapi/policy.cpp
  dll/win32/shlwapi/shlwapi_main.c
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

improve 4
  dll/win32/shlwapi/policy.cpp
Owners: none

improve 5
  dll/win32/shlwapi/policy.cpp
Owners: none

improve 6
  dll/win32/shlwapi/policy.cpp
Owners: none

improve 7
  dll/win32/shlwapi/policy.cpp
  dll/win32/shlwapi/shlwapi_main.c
Owners: none

improve 8
  dll/win32/shlwapi/policy.cpp
Owners: none

big fix
  dll/win32/shlwapi/utils.cpp
Owners: none

check separator
  dll/win32/shlwapi/utils.cpp
Owners: none

improve
  dll/win32/shlwapi/utils.cpp
Owners: none

improve 2
  dll/win32/shlwapi/utils.cpp
Owners: none

improve 3
  dll/win32/shlwapi/utils.cpp
Owners: none

improve 4
  dll/win32/shlwapi/utils.cpp
Owners: none

[SHLWAPI][SDK] Support FixSlashesAndColonA (#9040)
  dll/win32/shlwapi/ordinal.c
  dll/win32/shlwapi/shlwapi.spec
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

[SHLWAPI_APITEST]
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/NextPath.c
  modules/rostests/apitests/shlwapi/testlist.c
Owners: none

[SHLWAPI_APITEST] 2
  modules/rostests/apitests/shlwapi/NextPath.c
Owners: none

Last task and fix build
  modules/rostests/apitests/ntdll/NtNotifyChangeMultipleKeys.c
  ntoskrnl/config/cmnotify.c
  ntoskrnl/config/ntapi.c
  ntoskrnl/include/internal/cm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Use app verifier
  sdk/lib/rtl/critical.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

move variable declarations inside while
  sdk/lib/rtl/critical.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NETCFGX] Improve INetCfgComponentControl::ApplyPnpChanges
  dll/win32/netcfgx/netcfg_iface.c
Owners: none

[INCLUDE/WINE] Don't use DECLSPEC_IMPORT in shlwapi.h (#9034)
  sdk/include/wine/shlwapi.h
Owners: none

[MEDIA][CMAKE] Stop .msstyles and .tlb modules from rebuilding on every ninja invocation (#9003)
  dll/win32/mshtml.tlb/CMakeLists.txt
  dll/win32/stdole2.tlb/CMakeLists.txt
  dll/win32/stdole32.tlb/CMakeLists.txt
  media/themes/Blackshade/blackshade.msstyles/CMakeLists.txt
  media/themes/Lautus/lautus.msstyles/CMakeLists.txt
  media/themes/Lunar/lunar.msstyles/CMakeLists.txt
  media/themes/Mizu/mizu.msstyles/CMakeLists.txt
  media/themes/Modern/modern.msstyles/CMakeLists.txt
Owners: none

[NDK][RTL] Fix packing leak and ARM64 heap layouts (#9020)
  sdk/include/ndk/pstypes.h
  sdk/include/ndk/rtltypes.h
  sdk/lib/rtl/heap.c
  sdk/lib/rtl/heap.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

fix
  dll/win32/shlwapi/utils.cpp
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

Update base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.cpp
Owners: none

Update base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.cpp
Owners: none

some fixes
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/precomp.h
  base/applications/mspaint/toolsmodel.h
Owners: none

add copyright text in file header
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
Owners: none

[MSPAINT] Update cursor shape for brush and rubber (#8974)
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/toolsmodel.cpp
  base/applications/mspaint/toolsmodel.h
Owners: none

use CStringW
  dll/win32/shlwapi/policy.cpp
Owners: none

fix
  dll/win32/shlwapi/policy.cpp
Owners: none
