Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

fix
  win32ss/gdi/gdi32/objects/font.c
Owners: none

fix 3
  win32ss/gdi/gdi32/include/gdi32p.h
  win32ss/gdi/gdi32/misc/heap.c
  win32ss/gdi/gdi32/objects/font.c
Owners: none

fix 2
  win32ss/gdi/ntgdi/font.c
Owners: none

ERROR_INVALID_FUNCTION
  win32ss/gdi/gdi32/objects/font.c
Owners: none

refactor
  win32ss/gdi/gdi32/objects/font.c
Owners: none

file header
  win32ss/gdi/gdi32/objects/font.c
Owners: none

optimize
  win32ss/gdi/gdi32/include/gdi32p.h
  win32ss/gdi/gdi32/misc/heap.c
Owners: none

improve code
  win32ss/gdi/gdi32/include/gdi32p.h
Owners: none

reduce lines
  win32ss/gdi/gdi32/include/gdi32p.h
  win32ss/gdi/gdi32/misc/heap.c
Owners: none

reduce lines 2
  win32ss/gdi/gdi32/include/gdi32p.h
Owners: none

improve comments
  win32ss/gdi/gdi32/include/gdi32p.h
Owners: none

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

fix
  win32ss/gdi/gdi32/objects/font.c
Owners: none

sdk/lib/crt/setjmp/amd64/setjmp.s
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

improve
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

big fix
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

big fix 2
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

[SDK][CRT] Improve x64 setjmp/longjmp and add testcase
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crt/setjmp.c
  modules/rostests/apitests/crt/static_crt_apitest.cmake
  modules/rostests/apitests/crt/testlist.c
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

improve tests
  modules/rostests/apitests/crt/setjmp.c
Owners: none

fix build
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
Owners: none

revert
  modules/rostests/apitests/crt/setjmp.c
Owners: none

revert
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

improve
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

improve comments
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

fix build 2
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crt/static_crt_apitest.cmake
  modules/rostests/apitests/crt/testlist.c
Owners: none

[SHELL32] Use SHGDN_FOREDITING when renaming in BrowseForFolder
  dll/win32/shell32/brfolder.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Allow shell to format blank partitions (#7810)
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/lang/bg-BG.rc
  dll/win32/shell32/lang/ca-ES.rc
  dll/win32/shell32/lang/cs-CZ.rc
  dll/win32/shell32/lang/da-DK.rc
  dll/win32/shell32/lang/de-DE.rc
  dll/win32/shell32/lang/el-GR.rc
  dll/win32/shell32/lang/en-GB.rc
  dll/win32/shell32/lang/en-US.rc
  dll/win32/shell32/lang/es-ES.rc
  dll/win32/shell32/lang/et-EE.rc
  dll/win32/shell32/lang/eu-ES.rc
  dll/win32/shell32/lang/fi-FI.rc
  dll/win32/shell32/lang/fr-FR.rc
  dll/win32/shell32/lang/he-IL.rc
  dll/win32/shell32/lang/hi-IN.rc
  dll/win32/shell32/lang/hu-HU.rc
  dll/win32/shell32/lang/id-ID.rc
  dll/win32/shell32/lang/it-IT.rc
  dll/win32/shell32/lang/ja-JP.rc
  dll/win32/shell32/lang/ko-KR.rc
  dll/win32/shell32/lang/nl-NL.rc
  dll/win32/shell32/lang/no-NO.rc
  dll/win32/shell32/lang/pl-PL.rc
  dll/win32/shell32/lang/pt-BR.rc
  dll/win32/shell32/lang/pt-PT.rc
  dll/win32/shell32/lang/ro-RO.rc
  dll/win32/shell32/lang/ru-RU.rc
  dll/win32/shell32/lang/sk-SK.rc
  dll/win32/shell32/lang/sl-SI.rc
  dll/win32/shell32/lang/sq-AL.rc
  dll/win32/shell32/lang/sv-SE.rc
  dll/win32/shell32/lang/tr-TR.rc
  dll/win32/shell32/lang/uk-UA.rc
  dll/win32/shell32/lang/zh-CN.rc
  dll/win32/shell32/lang/zh-HK.rc
  dll/win32/shell32/lang/zh-TW.rc
Owners: @learn-more, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[CLEANMGR] Only allow one instance per drive (#7832)
  base/applications/cleanmgr/cleanmgr/CSelectDriveDlg.cpp
  base/applications/cleanmgr/cleanmgr/cleanmgr.cpp
Owners: none

[MAGNIFIER] Gray out help
  base/applications/magnify/magnifier.c
Owners: none

The socket created by accept has the same properties as the listening socket
  dll/win32/msafd/misc/dllmain.c
Owners: none

[BROWSEUI] Implement ShellBrowser F11 fullscreen mode
  dll/win32/browseui/lang/en-US.rc
  dll/win32/browseui/resource.h
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

Make clang happy
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Fix some clang warnings
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CRecycleBinCleaner.cpp
  dll/win32/shell32/debughlp.cpp
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
  dll/win32/shell32/dialogs/view.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/shellmenu/CMenuSite.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/wine/classes.c
  dll/win32/shell32/wine/shellord.c
  dll/win32/shlwapi/ordinal.c
Owners: @learn-more, @yagoulas

[SDK][CRT] Improve x64 setjmp/longjmp and add testcase
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crt/setjmp.c
  modules/rostests/apitests/crt/static_crt_apitest.cmake
  modules/rostests/apitests/crt/testlist.c
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

improve tests
  modules/rostests/apitests/crt/setjmp.c
Owners: none

revert
  modules/rostests/apitests/crt/setjmp.c
Owners: none

revert
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer

fix build
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
Owners: none

Update modules/rostests/apitests/crt/setjmp.c
  modules/rostests/apitests/crt/setjmp.c
Owners: none

improve
  sdk/lib/crt/setjmp/amd64/setjmp.s
Owners: @tkreuzer
