Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NTOS:PS] Fix for Status might not be initialized
  ntoskrnl/ps/job.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SHELL32][BROWSEUI] Set DefView InvokeCommand directory
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
Owners: @learn-more, @yagoulas

Some suggested changes
  dll/shellext/cabview/CMakeLists.txt
  dll/shellext/cabview/cabview.cpp
  dll/shellext/cabview/cabview.h
  dll/shellext/cabview/extract.cpp
  dll/shellext/cabview/folder.cpp
  dll/shellext/cabview/lang/de-DE.rc
  dll/shellext/cabview/lang/en-US.rc
  dll/shellext/cabview/lang/et-EE.rc
  dll/shellext/cabview/lang/fr-FR.rc
  dll/shellext/cabview/lang/it-IT.rc
  dll/shellext/cabview/lang/ja-JP.rc
  dll/shellext/cabview/lang/pl-PL.rc
  dll/shellext/cabview/lang/pt-PT.rc
  dll/shellext/cabview/lang/ro-RO.rc
  dll/shellext/cabview/lang/ru-RU.rc
  dll/shellext/cabview/lang/sv-SE.rc
  dll/shellext/cabview/lang/tr-TR.rc
  dll/shellext/cabview/lang/zh-CN.rc
  dll/shellext/cabview/lang/zh-HK.rc
  dll/shellext/cabview/lang/zh-TW.rc
  dll/shellext/cabview/precomp.h
  dll/shellext/cabview/resource.h
  dll/shellext/cabview/util.h
Owners: @learn-more, @reactos/lang-german, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-chinese

Fix headers and stuff
  dll/shellext/cabview/cabview.cpp
  dll/shellext/cabview/cabview.h
  dll/shellext/cabview/cabview.rc
  dll/shellext/cabview/extract.cpp
  dll/shellext/cabview/folder.cpp
  dll/shellext/cabview/lang/de-DE.rc
  dll/shellext/cabview/lang/en-US.rc
  dll/shellext/cabview/lang/et-EE.rc
  dll/shellext/cabview/lang/fr-FR.rc
  dll/shellext/cabview/lang/hi-IN.rc
  dll/shellext/cabview/lang/it-IT.rc
  dll/shellext/cabview/lang/ja-JP.rc
  dll/shellext/cabview/lang/pl-PL.rc
  dll/shellext/cabview/lang/pt-PT.rc
  dll/shellext/cabview/lang/ru-RU.rc
  dll/shellext/cabview/lang/sv-SE.rc
  dll/shellext/cabview/lang/zh-HK.rc
  dll/shellext/cabview/lang/zh-TW.rc
  dll/shellext/cabview/precomp.h
  dll/shellext/cabview/res/cabview.rgs
  dll/shellext/cabview/resource.h
  dll/shellext/cabview/util.h
Owners: @learn-more, @reactos/lang-german, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hindi, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-russian, @reactos/lang-chinese

Alphabetically order the resource includes
  dll/shellext/cabview/cabview.cpp
  dll/shellext/cabview/cabview.rc
  dll/shellext/cabview/folder.cpp
Owners: @learn-more

Revisions based on Timo Kreuzer comments. Changes to kmtest:MmReservedMapping which accounts for ReactOS specifics. Fixes for mdlsup.c functions.
  modules/rostests/kmtests/ntos_mm/MmReservedMapping.c
  ntoskrnl/ex/init.c
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/freelist.c
Owners: @ThFabba, @HeisSpiter, @tkreuzer

Accepting hbelusca's suggestions
  dll/win32/setupapi/CMakeLists.txt
  dll/win32/setupapi/misc.c
  dll/win32/setupapi/setupapi_private.h
Owners: none

I'm withdrawing the things related to height, let's just take the translate part
  base/applications/rapps/lang/tr-TR.rc
Owners: @reactos/lang-turkish

commit for the review pls !
  dll/cpl/desk/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Most of the suggested changes
  dll/shellext/cabview/CMakeLists.txt
  dll/shellext/cabview/cabview.cpp
  dll/shellext/cabview/cabview.h
  dll/shellext/cabview/folder.cpp
  dll/shellext/cabview/precomp.h
  dll/shellext/cabview/util.h
Owners: @learn-more

Most of the suggested changes
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/dialogs/item_prop.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/shell32_main.h
Owners: @learn-more, @yagoulas

[SHELL32][BROWSEUI] Set DefView InvokeCommand directory (#7495)
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
Owners: @learn-more, @yagoulas

Revisions based on reviewer comments.
  modules/rostests/kmtests/ntos_mm/MmReservedMapping.c
  ntoskrnl/mm/ARM3/mdlsup.c
  ntoskrnl/mm/freelist.c
Owners: @ThFabba, @HeisSpiter, @tkreuzer

[SETUPLIB] Don't immediately unmount volumes when deleting partitions... (#7259)
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
Owners: none

** wip volume
  base/setup/lib/utils/volutil.c
  base/setup/lib/utils/volutil.h
Owners: none

[SETUPLIB] Improve volume device naming by querying it from the MountMgr (#7259)
  base/setup/lib/utils/partlist.c
Owners: none

[SHELL32] Force FileType OpenWith verb (#7470)
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/dialogs/filetypes.cpp
Owners: @learn-more, @yagoulas

CALC: fix copy command when output is NAN
  base/applications/calc/winmain.c
Owners: none

[CMAKE][LWIP] Fix build with newer CMake versions
  drivers/network/tcpip/lwip/src/Filelists.cmake
Owners: @ThFabba

[VCRUNTIME] Add __nullptr definition for non-MSVC compilers
  sdk/include/vcruntime/_mingw.h
Owners: none

[VCRUNTIME] Add immintrin.h
  sdk/include/vcruntime/immintrin.h
  sdk/include/vcruntime/intrin.h
Owners: none

[VCRUNTIME] Add isa_availability.h
  sdk/include/vcruntime/isa_availability.h
Owners: none

[VCRUNTIME] Fix eh.h
  sdk/include/vcruntime/eh.h
Owners: none

[CALC] Fix copy command when output is NaN (#7496)
  base/applications/calc/winmain.c
Owners: none

[USETUP] Minor simplifications in some branching code
  base/setup/usetup/usetup.c
Owners: none

[USETUP] Deduplicate code in InstallDirectoryPage()
  base/setup/usetup/usetup.c
Owners: none

[USETUP] Deduplicate code in SelectPartitionPage()
  base/setup/usetup/usetup.c
Owners: none

[SHELL32] Correctly compare pidls for BFFM_SETEXPANDED
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  sdk/include/reactos/shellutils.h
Owners: @learn-more, @yagoulas

[NTOS:PS] Fix returns without releasing job lock
  ntoskrnl/ps/job.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:PS] Fix some comments
  ntoskrnl/ps/job.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Suggested changes
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shell32/wine/pidl.c
  sdk/include/reactos/shellutils.h
Owners: @learn-more, @yagoulas

[VCRUNTIME] Add pmmintrin.h
  sdk/include/vcruntime/pmmintrin.h
Owners: none

[VCRUNTIME] Fix emmintrin.h
  sdk/include/vcruntime/emmintrin.h
Owners: none

[VCRUNTIME] stdint.h: Update include guard for MIN/MAX macros
  sdk/include/vcruntime/stdint.h
Owners: none

[VCRUNTIME] Add missing definitions
  sdk/include/vcruntime/eh.h
  sdk/include/vcruntime/vcruntime.h
  sdk/include/vcruntime/vcruntime_startup.h
Owners: none

[VCRUNTIME] Allow disabling GCC attributes for SAL
  sdk/include/vcruntime/gcc_sal.h
Owners: none

[VCRUNTIME][CRT] Change WCHAR_MIN/WCHAR_MAX to match native headers
  sdk/include/crt/wchar.h
  sdk/include/vcruntime/stdint.h
Owners: none

Revisions based on reviewer comments
  ntoskrnl/mm/ARM3/mdlsup.c
  ntoskrnl/mm/ARM3/miarm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Trying to correct the casts for gcc x86...
  dll/win32/setupapi/query.c
Owners: none

[FS_REC] rename Ext2 Recognizer to Ext
  drivers/filesystems/fs_rec/CMakeLists.txt
  drivers/filesystems/fs_rec/ext.c
  drivers/filesystems/fs_rec/ext.h
  drivers/filesystems/fs_rec/fs_rec.c
  drivers/filesystems/fs_rec/fs_rec.h
Owners: @HeisSpiter

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
