Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[WINESYNC] combase: Move CoFreeUnusedLibraries().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] include: Move fundamental ORPC types to separate private header.
  dll/win32/ole32/dcom.idl
  sdk/tools/winesync/ole32.cfg
Owners: none

Removing extra trailing fullstop
  base/setup/reactos/lang/id-ID.rc
Owners: @reactos/lang-indonesian

[SETUP][USETUP] Update Indonesian (id-ID) translation (#7618)
  base/setup/reactos/lang/id-ID.rc
  base/setup/usetup/lang/id-ID.h
Owners: @reactos/lang-indonesian

[WINESYNC] combase: Move CoGetMarshalSizeMax().
  dll/win32/ole32/marshal.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoMarshalInterface().
  dll/win32/ole32/marshal.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoInitializeSecurity().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] ole32: Add a check for hglobal pointer to GetHGlobalFromStream.
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Add a function to allocate OLE thread data.
  dll/win32/ole32/compobj_private.h
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move GetErrorInfo().
  dll/win32/ole32/errorinfo.c
  dll/win32/ole32/ole32.spec
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move SetErrorInfo().
  dll/win32/ole32/errorinfo.c
  dll/win32/ole32/ole32.spec
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoGetCallContext().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoSwitchCallContext().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoRegisterInitializeSpy()/CoRevokeInitializeSpy().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoWaitForMultipleHandles().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoRegisterMessageFilter().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move local proxy-stub registration functions.
  dll/win32/ole32/compobj.c
  dll/win32/ole32/ole32.spec
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoGetContextToken().
  dll/win32/ole32/compobj.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoGetCurrentLogicalThreadId().
  dll/win32/ole32/compobj.c
  dll/win32/ole32/compobj_private.h
  dll/win32/ole32/rpc.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] combase: Move CoGetCurrentProcess().
  dll/win32/ole32/compobj.c
  dll/win32/ole32/compobj_private.h
  dll/win32/ole32/irpcss.idl
  dll/win32/ole32/moniker.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] ole32: Use public symbol for maximum moniker comparison data length.
  dll/win32/ole32/moniker.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] ole32: Use combase for ROT access.
  dll/win32/ole32/irot.idl
  dll/win32/ole32/moniker.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] ole32: Get rid of typedef'ed type for apartment structure.
  dll/win32/ole32/compobj.c
  dll/win32/ole32/compobj_private.h
  dll/win32/ole32/marshal.c
  dll/win32/ole32/rpc.c
  dll/win32/ole32/stubmanager.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[WINESYNC] ole32: Simplify apartment lookup helper.
  dll/win32/ole32/compobj.c
  dll/win32/ole32/compobj_private.h
  dll/win32/ole32/marshal.c
  dll/win32/ole32/stubmanager.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[NTDLL_APITEST] Add tests for NtCreateProfile and NtStartProfile.
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtCreateProfile.c
  modules/rostests/apitests/ntdll/NtStartProfile.c
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

[NTOS:EX] Fix BufferSize validation in NtCreateProfile.
  ntoskrnl/ex/profile.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[WINESYNC] ole32: Move apartment and activation management to a separate file.
  dll/win32/ole32/CMakeLists.txt
  dll/win32/ole32/apartment.c
  dll/win32/ole32/compobj.c
  dll/win32/ole32/moniker.c
  sdk/tools/winesync/ole32.cfg
Owners: none

[CODEREVIEW]
  win32ss/gdi/ntgdi/d3dkmt.c
  win32ss/gdi/ntgdi/init.c
  win32ss/reactx/ntdxvista/dxprivate.h
Owners: none

Apply suggestions from code review
  base/applications/notepad/lang/fr-FR.rc
  base/applications/regedit/clb/lang/fr-FR.rc
Owners: @reactos/lang-french

[BASE] Update French (fr-FR) translation (#7563)
  base/applications/cmdutils/fc/lang/fr-FR.rc
  base/applications/cmdutils/xcopy/lang/fr-FR.rc
  base/applications/fontview/lang/fr-FR.rc
  base/applications/mplay32/lang/fr-FR.rc
  base/applications/msconfig_new/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mstsc/lang/fr-FR.rc
  base/applications/network/ping/lang/fr-FR.rc
  base/applications/network/tracert/lang/fr-FR.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/osk/lang/fr-FR.rc
  base/applications/regedit/clb/lang/fr-FR.rc
  base/applications/sndvol32/lang/fr-FR.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/wordpad/lang/fr-FR.rc
  base/shell/cmd/lang/fr-FR.rc
Owners: @reactos/lang-french

[SDK][WIN32SS] Prepare d3dkmt functions up to Windows Vista (#5612)
  sdk/include/ddk/d3dkmddi.h
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/rddm/rxgkinterface.h
  win32ss/CMakeLists.txt
  win32ss/gdi/gdi32/CMakeLists.txt
  win32ss/gdi/gdi32/gdi32.spec
  win32ss/gdi/gdi32_vista/CMakeLists.txt
  win32ss/gdi/gdi32_vista/d3dkmt.c
  win32ss/gdi/gdi32_vista/dc.c
  win32ss/gdi/gdi32_vista/gdi32_vista.h
  win32ss/gdi/ntgdi/d3dkmt.c
  win32ss/gdi/ntgdi/init.c
  win32ss/pch.h
  win32ss/reactx/ntdxvista/dxprivate.h
  win32ss/w32ksvc32.h
  win32ss/w32ksvc64.h
  win32ss/win32kp.h
Owners: none

[WIN32SS] Fix an added APIENTRY amendum to e7a9e7c
  win32ss/gdi/ntgdi/init.c
Owners: none

[WIN32SS] Fix the extra VOID amendum to e7a9e7c
  win32ss/gdi/ntgdi/init.c
Owners: none

[RICHED20] Fix MSVC Wordpad failure after riched20 Wine Sync to 6.10 (#7789)
  dll/win32/riched20/riched20.h
  dll/win32/riched20/txthost.c
  dll/win32/riched20/txtsrv.c
Owners: none

[FREELDR] Pass the correct ACPI table for Windows (#7486)
  boot/freeldr/freeldr/arch/i386/hwacpi.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/freeldr.spec
  boot/freeldr/freeldr/include/arch/pc/hardware.h
  boot/freeldr/freeldr/include/hwacpi.h
  boot/freeldr/freeldr/include/ntldr/winldr.h
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/wlmemory.c
Owners: @tkreuzer, @Extravert-ir

[SHELL32][SHDOCVW] Fix drive volume renaming (#7812)
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shdocvw/CNSCBand.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.h
Owners: @learn-more, @yagoulas

Apply suggestions from code review
  base/setup/reactos/lang/fr-FR.rc
Owners: @reactos/lang-french

[SETUP:REACTOS] Update French (fr-FR) translation (#7564)
  base/setup/reactos/lang/fr-FR.rc
Owners: @reactos/lang-french

NTOS:KE] Make KiSetAffinityThread SMP ready
  ntoskrnl/ke/thrdschd.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KE] Skip an "optimization" on SMP
  ntoskrnl/ke/thrdschd.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
