Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[CRT:MATH] Import scalbn/scalbnf from musl
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/math/math.cmake
  sdk/lib/crt/math/scalbn.c
  sdk/lib/crt/math/scalbnf.c
Owners: none

[CRT][UCRTBASE] Add round/roundf
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/math/math.cmake
Owners: none

[CRT:MATH] Import nextafter, nextafterf and nexttowardf from musl
  dll/win32/crtdll/crtdll.spec
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt20/msvcrt20.spec
  dll/win32/msvcrt40/msvcrt40.spec
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/float/float.cmake
  sdk/lib/crt/float/nafter.c
  sdk/lib/crt/math/libm.h
  sdk/lib/crt/math/math.cmake
  sdk/lib/crt/math/nextafter.c
  sdk/lib/crt/math/nextafterf.c
  sdk/lib/crt/math/nexttowardf.c
Owners: none

[CRT:MATH] Move some math functions from ucrt to crt
  sdk/lib/crt/math/_dclass.c
  sdk/lib/crt/math/_dtest.c
  sdk/lib/crt/math/_fdclass.c
  sdk/lib/crt/math/_fdtest.c
  sdk/lib/crt/math/math.cmake
  sdk/lib/ucrt/math/_dtest.c
  sdk/lib/ucrt/math/_fdtest.c
  sdk/lib/ucrt/math/math.cmake
Owners: none

[CRT:MATH] Import frexp from musl
  sdk/lib/crt/math/frexp.c
Owners: none

[CRT:MATH] Fix a bug in _handle_error
  sdk/lib/crt/math/libm_sse2/_handle_error.c
Owners: none

[CRT:MATH] Implement _finite, _finitef
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/float/isnan.c
  sdk/lib/crt/math/_finite.c
  sdk/lib/crt/math/_finitef.c
  sdk/lib/crt/math/math.cmake
Owners: none

Fix header
  dll/shellext/stobject/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  base/services/w32time/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  base/services/w32time/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/win32/shdocvw/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/win32/shimgvw/lang/pl-PL.rc
Owners: @reactos/lang-polish

[MSVCRT] Rename folder to msvcrt-old
  dll/win32/CMakeLists.txt
  dll/win32/msvcrt-old/CMakeLists.txt
  dll/win32/msvcrt-old/dllmain.c
  dll/win32/msvcrt-old/msvcrt.rc
  dll/win32/msvcrt-old/msvcrt.spec
  dll/win32/msvcrt-old/precomp.h
  dll/win32/msvcrt-old/stubs.c
Owners: none

[MSVCRT] Add winternl.h
  dll/win32/msvcrt/winternl.h
  sdk/include/reactos/wine/winternl.h
Owners: none

[MSVCRT] Comment out memmove
  dll/win32/msvcrt/string.c
Owners: none

[RTL] Implement RtlGetUnwindContext
  sdk/lib/rtl/amd64/unwind.c
Owners: @tkreuzer

Update pl-PL.rc
  dll/cpl/powercfg/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/devmgr/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/cpl/powercfg/lang/pl-PL.rc
Owners: @reactos/lang-polish

[WINLOGON] Cleanup user login information when logon fails and at logoff (#8182)
  base/system/winlogon/sas.c
Owners: none

[KERNEL32] _dump_context(): Fix ARM case (#8185)
  dll/win32/kernel32/client/except.c
Owners: none

Update pl-PL.rc
  dll/shellext/netshell/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  dll/win32/devmgr/lang/pl-PL.rc
Owners: @reactos/lang-polish

[NTOS:MM] Include calling process in Pfn when tracing Pfn usage
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/contmem.c
  ntoskrnl/mm/ARM3/i386/init.c
  ntoskrnl/mm/ARM3/mminit.c
  ntoskrnl/mm/ARM3/pfnlist.c
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/ARM3/special.c
  ntoskrnl/mm/ARM3/zeropage.c
  ntoskrnl/mm/amd64/procsup.c
  ntoskrnl/mm/freelist.c
  ntoskrnl/mm/section.c
  ntoskrnl/ps/process.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Allow MmMapIoSpace to map the calling process' paging structures
  ntoskrnl/mm/ARM3/iosup.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[KMTEST] Add MmMapIoSpace test
  modules/rostests/kmtests/ntos_mm/MmSection.c
Owners: @ThFabba

Fix header
  dll/shellext/netshell/lang/pl-PL.rc
Owners: @reactos/lang-polish

[MSCTF] Make category manager C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/categorymgr.c
  base/ctf/msctf/categorymgr.cpp
Owners: none

improve
  base/ctf/msctf/categorymgr.cpp
Owners: none

Update shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

[NTOS:KE] Implement KiGetTrapContextInternal
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/context.c
  ntoskrnl/ke/amd64/trap.S
Owners: @tkreuzer

Two more review items from hbelusca.
  drivers/network/netio/netio.c
Owners: @ThFabba

Update dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
Owners: @learn-more, @yagoulas

[KMTEST] Remove totally broken PoolsCorruption test
  modules/rostests/kmtests/ntos_ex/ExPools.c
Owners: @ThFabba

Update base/shell/cmd/lang/pl-PL.rc
  base/shell/cmd/lang/pl-PL.rc
Owners: @reactos/lang-polish

[MSVCRT] Make msvcrt compile with MSVC
  dll/win32/msvcrt/cppexcept.h
  dll/win32/msvcrt/cxx.h
  dll/win32/msvcrt/except_i386.c
  dll/win32/msvcrt/include/conio.h
  dll/win32/msvcrt/include/stdlib.h
  dll/win32/msvcrt/include/string.h
  dll/win32/msvcrt/include/sys/timeb.h
  dll/win32/msvcrt/math.c
  dll/win32/msvcrt/misc.c
  dll/win32/msvcrt/msvc_fwd_decl.h
  dll/win32/msvcrt/printf.h
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
Owners: none

[MSVCRT] msvcrt.spec: Fix up some exports
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] msvcrt.spec: fix architecture of some exports
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRT] Make _setfp_sse available for MSVC as well
  dll/win32/msvcrt/math.c
Owners: none

[MSVCRT] Add asm code
  dll/win32/msvcrt/amd64/__wine_longjmp.s
  dll/win32/msvcrt/amd64/concurrency_vtables.s
  dll/win32/msvcrt/amd64/cpp_alias.s
  dll/win32/msvcrt/amd64/cpp_vtables.s
  dll/win32/msvcrt/amd64/except_x86_64.s
  dll/win32/msvcrt/i386/__wine_longjmp.s
  dll/win32/msvcrt/i386/__wine_rtl_unwind.s
  dll/win32/msvcrt/i386/cpp_alias.s
  dll/win32/msvcrt/i386/cpp_vtables.s
  dll/win32/msvcrt/i386/except_i386_asm.s
  dll/win32/msvcrt/i386/inout.s
Owners: @tkreuzer
