Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[NDK] Introduce function attributes for section placement
  sdk/include/ndk/section_attribs.h
Owners: none

[ATAPI] Add ATA storage driver
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/atapi/CMakeLists.txt
  drivers/storage/ide/atapi/acpi.c
  drivers/storage/ide/atapi/atapi.c
  drivers/storage/ide/atapi/atapi.h
  drivers/storage/ide/atapi/atapi.rc
  drivers/storage/ide/atapi/atapi_reg.inf
  drivers/storage/ide/atapi/data.c
  drivers/storage/ide/atapi/devevent.c
  drivers/storage/ide/atapi/enum.c
  drivers/storage/ide/atapi/fdo.c
  drivers/storage/ide/atapi/hwahci.c
  drivers/storage/ide/atapi/hwpata.c
  drivers/storage/ide/atapi/include/acpi.h
  drivers/storage/ide/atapi/include/ahci.h
  drivers/storage/ide/atapi/include/atahw.h
  drivers/storage/ide/atapi/include/debug.h
  drivers/storage/ide/atapi/include/devevent.h
  drivers/storage/ide/atapi/include/identify_funcs.h
  drivers/storage/ide/atapi/include/pata.h
  drivers/storage/ide/atapi/include/request.h
  drivers/storage/ide/atapi/include/scsiex.h
  drivers/storage/ide/atapi/ioctl.c
  drivers/storage/ide/atapi/legacy.c
  drivers/storage/ide/atapi/pdo.c
  drivers/storage/ide/atapi/satl.c
  drivers/storage/ide/atapi/scsi.c
  drivers/storage/ide/atapi/smart.c
  drivers/storage/ide/atapi/timings.c
  drivers/storage/ide/atapi/wmi.c
Owners: none

[XDK] Add missing PCI subclass type definition
  sdk/include/xdk/iotypes.h
Owners: none

[HALX86:DMA] Avoid excessive stack usage
  hal/halx86/generic/dma.c
Owners: none

[DDK] Update IDENTIFY data and other ATA definitions
  sdk/include/ddk/ata.h
Owners: none

[UNIATA] Disable the driver and enable the new ATA stack
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/pciide/CMakeLists.txt
  drivers/storage/ide/pciide/pciide_reg.inf
  media/inf/hdc.inf
Owners: none

Begin MenuOS 6.1 development
  dll/win32/shell32/wine/shell32_main.c
  win32ss/user/ntuser/desktop.c
Owners: @learn-more, @yagoulas

[TROLLCOMMIT][EXPLORER] Use Windows 7-like default Taskbar settings when DLL export version is at least Win7
  base/shell/explorer/settings.cpp
Owners: @learn-more, @yagoulas

[TROLLCOMMIT][SYSSETUP] Use a visual style by default
  dll/win32/syssetup/wizard.c
Owners: none

[USER32] NT6 Style Messagebox
  win32ss/user/user32/windows/messagebox.c
Owners: none

Fixes
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_GROUPBOX.bmp
Owners: none

[WORKFLOWS] Build NT6 ISOs as Win7 for now
  .github/workflows/build.yml
Owners: none

[SDK] Default to 0x601 for DLL_EXPORT
  sdk/cmake/config.cmake
Owners: none

Rejuvenate Slate+
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_CHEVRON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_COMBOBUTTONGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_DEFAULTGROUPBACKGROUND.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_DEFAULTGROUPHEAD.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_MDICAPTIONBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_RADIOBUTTON13.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWGLYPHS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWGLYPHSSMALL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SLIDERTRACK.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINDOWNGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINLEFTGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINRIGHTGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINUPGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBACKGROUND.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONNOEDGE.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONNOEDGEVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDFLASHBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDFLASHBUTTONGROUPMENU.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDHOVER.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDSCROLLARROWGLYPHS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDSCROLLARROWS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARBACKGROUNDVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARCHEVRON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARTRAY.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARTRAYVERTICAL.bmp
Owners: none

Revert "Rejuvenate Slate+"
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_CHEVRON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_COMBOBUTTONGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_DEFAULTGROUPBACKGROUND.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_DEFAULTGROUPHEAD.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_MDICAPTIONBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_RADIOBUTTON13.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWGLYPHS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWGLYPHSSMALL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SCROLLARROWS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SLIDERTRACK.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINDOWNGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINLEFTGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINRIGHTGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_SPINUPGLYPH.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBACKGROUND.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONNOEDGE.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONNOEDGEVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDBUTTONVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDFLASHBUTTON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDFLASHBUTTONGROUPMENU.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDHOVER.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDSCROLLARROWGLYPHS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBANDSCROLLARROWS.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARBACKGROUNDVERTICAL.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARCHEVRON.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARTRAY.bmp
  media/themes/Lautus/lautus.msstyles/bitmaps/DEFAULT_TASKBARTRAYVERTICAL.bmp
Owners: none

[0.4.15][BOOT] Disable EFI
  boot/boot_images.cmake
Owners: none

[REACTOS] Add CODING_STYLE.md (#7753)
  CODING_STYLE.md
Owners: none

Changed wording
  win32ss/user/user32/misc/exticon.c
Owners: none

Some suggested changes
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

[USER32] PrivateExtractIcons must return 0 for empty files (#7767)
  win32ss/user/user32/misc/exticon.c
Owners: none

[BROWSEUI][SHELL32] Fix FindFolder icons (#7756)
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CFindFolder.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CShellLink.cpp
Owners: @learn-more, @yagoulas

[CURSOR] Add Cursor AI project settings (#7752)
  .cursor/coding-style.json
  .cursor/editor.json
  .cursor/settings.json
  .gitignore
Owners: none

[BROWSEUI] Set AddressBand Go button checkbox state correctly in menu
  dll/win32/browseui/addressband.cpp
  dll/win32/browseui/addressband.h
  dll/win32/browseui/internettoolbar.cpp
  dll/win32/browseui/settings.cpp
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

[GIT] .sh script files should (or must...) always use LF (Unix) line endings
  .gitattributes
Owners: none

[CONFIGURE.CMD] Use multi-command syntax instead of AND operator for successive echo's
  configure.cmd
Owners: none

[CONFIGURE.SH] Surround the echo'ed string in quotes, and tweak some strings.
  configure.sh
Owners: none

[CONFIGURE] Display the platform/operating system on which the build configuration takes place
  configure.cmd
  configure.sh
Owners: none

[FREELDR] Change real mode base address
  boot/freeldr/freeldr/pcat.cmake
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt multiboot code for the position relative code (#7530)
  boot/freeldr/freeldr/arch/i386/multiboot.S
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Add/change necessary code for the initial position relative code
  boot/freeldr/freeldr/arch/amd64/entry.S
  boot/freeldr/freeldr/arch/i386/entry.S
  boot/freeldr/freeldr/arch/i386/relocldr.S
  boot/freeldr/freeldr/arch/realmode/amd64.S
  boot/freeldr/freeldr/arch/realmode/helpers_all.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/include/arch/pc/x86common.h
  boot/freeldr/freeldr/pcat.cmake
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt the bootsectors for the position relative code (#7530)
  boot/freeldr/bootsect/btrfs.S
  boot/freeldr/bootsect/fat.S
  boot/freeldr/bootsect/fat32.S
  boot/freeldr/bootsect/faty.S
  boot/freeldr/bootsect/isoboot.S
  boot/freeldr/bootsect/ntfs.S
  boot/freeldr/bootsect/pc98/fat12fdd.S
Owners: none

[FREELDR] Adapt some assembly code for amd64 position relative code and remove some messages (#7530)
  boot/freeldr/freeldr/arch/realmode/amd64.S
Owners: @tkreuzer

[FREELDR] Adapt some assembly code for i386 position relative code (#7530)
  boot/freeldr/freeldr/arch/realmode/fathelp.inc
  boot/freeldr/freeldr/arch/realmode/helpers.inc
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/arch/realmode/int386.inc
  boot/freeldr/freeldr/arch/realmode/pnp.inc
Owners: @tkreuzer, @Extravert-ir

[EVENTVWR] Localize and check item count (#7757)
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/mscutils/eventvwr/evtdetctl.h
  base/applications/mscutils/eventvwr/lang/bg-BG.rc
  base/applications/mscutils/eventvwr/lang/cs-CZ.rc
  base/applications/mscutils/eventvwr/lang/de-DE.rc
  base/applications/mscutils/eventvwr/lang/el-GR.rc
  base/applications/mscutils/eventvwr/lang/en-US.rc
  base/applications/mscutils/eventvwr/lang/es-ES.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/he-IL.rc
  base/applications/mscutils/eventvwr/lang/it-IT.rc
  base/applications/mscutils/eventvwr/lang/ja-JP.rc
  base/applications/mscutils/eventvwr/lang/ko-KR.rc
  base/applications/mscutils/eventvwr/lang/no-NO.rc
  base/applications/mscutils/eventvwr/lang/pl-PL.rc
  base/applications/mscutils/eventvwr/lang/pt-BR.rc
  base/applications/mscutils/eventvwr/lang/pt-PT.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ru-RU.rc
  base/applications/mscutils/eventvwr/lang/sk-SK.rc
  base/applications/mscutils/eventvwr/lang/sq-AL.rc
  base/applications/mscutils/eventvwr/lang/sv-SE.rc
  base/applications/mscutils/eventvwr/lang/tr-TR.rc
  base/applications/mscutils/eventvwr/lang/uk-UA.rc
  base/applications/mscutils/eventvwr/lang/zh-CN.rc
  base/applications/mscutils/eventvwr/lang/zh-HK.rc
  base/applications/mscutils/eventvwr/lang/zh-TW.rc
  base/applications/mscutils/eventvwr/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SHIMGVW] Display error message on delete failure
  dll/win32/shimgvw/resource.h
  dll/win32/shimgvw/shimgvw.c
  dll/win32/shimgvw/shimgvw.h
  dll/win32/shimgvw/shimgvw.rc
  dll/win32/shimgvw/util.c
Owners: none

Try to get the real state
  dll/win32/browseui/addressband.cpp
  dll/win32/browseui/addressband.h
  dll/win32/browseui/internettoolbar.cpp
  dll/win32/browseui/internettoolbar.h
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

[WIN32SS:NTGDI] This work is based on simone's patch. but also includes my own changes that are still in testing. This will be cleaned up and put into a PR at some point
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/ntgdi/dc.h
  win32ss/gdi/ntgdi/print.c
Owners: none

[USER32_VISTA] Import input.c misc.c win.c from wine-10.0
  win32ss/user/user32_vista/wine/input.c
  win32ss/user/user32_vista/wine/misc.c
  win32ss/user/user32_vista/wine/win.c
Owners: none

[USER32_VISTA][USER32] Sync some parts with WINE-10.0
  media/doc/WINESYNC.txt
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/user32.spec
  win32ss/user/user32_vista/CMakeLists.txt
  win32ss/user/user32_vista/dpi.c
  win32ss/user/user32_vista/wine/input.c
  win32ss/user/user32_vista/wine/misc.c
  win32ss/user/user32_vista/wine/sysparams.c
  win32ss/user/user32_vista/wine/win.c
Owners: none

[PSAPI][KERNEL32] Convert the PSAPI exports to a static library (#7708)
  dll/win32/kernel32/CMakeLists.txt
  dll/win32/kernel32/kernel32.spec
  dll/win32/psapi/CMakeLists.txt
  dll/win32/psapi/main.c
  dll/win32/psapi/psapi.c
Owners: none
