Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

[WINLOGON] Allow workstation (un)locking only if we are in the correct LogonState (#8132)
  base/system/winlogon/sas.c
Owners: none

use precomp.h
  dll/win32/shlwapi/CMakeLists.txt
  dll/win32/shlwapi/appcompat.c
Owners: none

[WINLOGON] Correctly reset LogonState in case logon or shutdown fails (#8133)
  base/system/winlogon/sas.c
Owners: none

no locking
  dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/shlwapi_main.c
Owners: none

use Translation
  dll/win32/shlwapi/appcompat.c
Owners: none

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

pDataSaved
  dll/win32/shlwapi/appcompat.c
Owners: none

add trace
  dll/win32/shlwapi/appcompat.c
Owners: none

Update registry.c
  sdk/lib/rtl/registry.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL_APITEST] Fix unreliable test for NtContinue
  modules/rostests/apitests/ntdll/NtContinue.c
Owners: none

Some suggested changes
  dll/win32/shell32/wine/shell32_main.h
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

Apply suggestions from code review
  modules/rostests/apitests/apphelp/env.c
Owners: none

Apply code suggestions 2
  modules/rostests/apitests/apphelp/apphelp.c
  modules/rostests/apitests/apphelp/env.c
Owners: none

oops
  modules/rostests/apitests/apphelp/apphelp.c
Owners: none

[MSWSOCK] Fix integer overflow
  dll/win32/mswsock/mswhelper.c
  dll/win32/mswsock/mswhelper.h
Owners: none

[SHELL32] Fix IShellExecuteHookW (#8097)
  dll/shellext/netshell/shfldr_netconnect.cpp
  dll/shellext/netshell/shfldr_netconnect.h
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/PolicyData.h
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellole.c
  dll/win32/shell32/wine/shpolicy.c
  sdk/include/reactos/shellutils.h
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

[SYSSETUP] wizard.c!UnattendSetup: Fix Theme page order (#8098)
  dll/win32/syssetup/wizard.c
Owners: none

[PSDK] Enumerate WPA3 algorithms in `DOT11_AUTH_ALGORITHM` (#8129)
  sdk/include/psdk/windot11.h
Owners: none

[UMPNPMGR][NDK] Implement PNP_GetInterfaceDeviceAlias
  base/services/umpnpmgr/rpcserver.c
  sdk/include/ndk/cmtypes.h
Owners: none

[MSCTF] Translate ITfDocumentMgr into C++ (#8120)
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/documentmgr.c
  base/ctf/msctf/documentmgr.cpp
  base/ctf/msctf/documentmgr.h
Owners: none

improve comments
  modules/rostests/winetests/CMakeLists.txt
Owners: @ThFabba

[KBSWITCH] Don't use WH_KEYBOARD_LL but WH_KEYBOARD
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[INDICDLL] Don't use WH_KEYBOARD_LL but WH_KEYBOARD (#8142)
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[SHELL32] Implement DragDropHandlers shell extension context menus
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/shell32_main.h
Owners: @learn-more, @yagoulas

Let more than one extension handle named verbs
  dll/win32/shell32/CDefaultContextMenu.cpp
Owners: @learn-more, @yagoulas

Moved registration to hivesft
  boot/bootdata/hivedef.inf
  boot/bootdata/hivesft.inf
  dll/win32/browseui/regtreeoptions.cpp
  dll/win32/shell32/shresdef.h
Owners: @learn-more, @yagoulas

[NTUSER] NtUserGetTitleBarInfo(): Add/Use early returns
  win32ss/user/ntuser/menu.c
Owners: none

[NTUSER] NtUserTrackPopupMenuEx(): Check flags a bit earlier
  win32ss/user/ntuser/menu.c
Owners: none

[NTUSER] NtUserThunkedMenuItemInfo(): Sort out code and comments
  win32ss/user/ntuser/menu.c
Owners: none

[NTUSER] menu.c: Move UserLeave() a bit earlier
  win32ss/user/ntuser/menu.c
Owners: none

[MSWSOCK] Fix integer overflow (#8141)
  dll/win32/mswsock/mswhelper.c
  dll/win32/mswsock/mswhelper.h
Owners: none

[NTOS:PS] Fix NtQueryInformationProcess(ProcessDebugObjectHandle)
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:PS] Optimize NtQueryInformationProcess(ProcessWow64Information)
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:PS] Fix NtQueryInformationProcess(ProcessExecuteFlags)
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:PS] NtQueryInformationProcess(): Optimize *ReturnLength assignment
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[APPHELP_APITEST] Fix test failures on Vista, 7, 8.1 x86 and x64 (#8122)
  modules/rostests/apitests/apphelp/apphelp.c
  modules/rostests/apitests/apphelp/apphelp_apitest.h
  modules/rostests/apitests/apphelp/db.cpp
  modules/rostests/apitests/apphelp/env.c
Owners: none

Always set pdwEffect on success
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
Owners: @learn-more, @yagoulas

Don't export these by name
  dll/win32/shell32/shell32.spec
Owners: @learn-more, @yagoulas

[COMCTL32] Fix product verison
  dll/win32/comctl32/rsrc.rc
Owners: none
