Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[COMCTL32] Fix product verison (#7854)
  dll/win32/comctl32/rsrc.rc
Owners: none

[NTOS:SE] SeValidSecurityDescriptor: Use relative security descriptor header size for length calculation (#8127)
  ntoskrnl/se/sd.c
Owners: @GeoB99

SHLWAPI_GetModuleVersion
  dll/win32/shlwapi/appcompat.c
Owners: none

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

Update dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/appcompat.c
Owners: none

Update sdk/include/reactos/shlwapi_undoc.h
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

improve
  dll/win32/shlwapi/appcompat.c
Owners: none

use WARN
  dll/win32/shlwapi/appcompat.c
Owners: none

fix 2
  dll/win32/shlwapi/appcompat.c
Owners: none

[UCRTBASE_APITEST] Add ucrtbase_apitest
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/crt/ceil.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[UCRTBASE_APITEST] Add tests for round/roundf
  modules/rostests/apitests/crt/round.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[RTL] Implement `RtlRemoteCall` on x64 and x86
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlRemoteCall.c
  modules/rostests/apitests/ntdll/amd64/RtlRemoteCall.S
  modules/rostests/apitests/ntdll/i386/RtlRemoteCall.S
  modules/rostests/apitests/ntdll/testlist.c
  sdk/include/asm/ksx.template.h
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/thread.c
Owners: @tkreuzer, @HeisSpiter, @learn-more, @ThFabba

[CRT_APITEST] Add a python tool to generate test tables for math functions
  modules/rostests/apitests/crt/gen_math_tests.py
Owners: none

[CRT_APITEST] Add a tests for atan(f) / __libm_sse2_atan(f)
  modules/rostests/apitests/crt/atan.c
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for asin(f) / __libm_sse2_asin(f)
  modules/rostests/apitests/crt/asin.c
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for acos(f) / __libm_sse2_acos(f)
  modules/rostests/apitests/crt/acos.c
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/crt/math_helpers.h
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for cos(f) / __libm_sse2_cos(f)
  modules/rostests/apitests/crt/cos.c
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for exp(f) / __libm_sse2_exp(f)
  modules/rostests/apitests/crt/exp.c
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for sin(f) / __libm_sse2_sin(f)
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/crt/sin.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for log10(f) / __libm_sse2_log10(f)
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/crt/log10.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for log(f) / __libm_sse2_log(f)
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/crt/log.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add a tests for tan(f) / __libm_sse2_tan(f)
  modules/rostests/apitests/crt/gen_math_tests.py
  modules/rostests/apitests/crt/tan.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add tests for _finite(f)
  modules/rostests/apitests/crt/_finite.c
  modules/rostests/apitests/crt/math_helpers.h
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[CRT_APITEST] Add tests for _isnan(f)
  modules/rostests/apitests/crt/_isnan.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

Update ru-RU.rc for Advanced Performance Options property sheets
  dll/cpl/sysdm/lang/ru-RU.rc
Owners: @reactos/lang-russian

Update ru-RU.rc - Shell32
  dll/win32/shell32/lang/ru-RU.rc
Owners: @reactos/lang-russian

Update ru-RU.rc
  dll/win32/shell32/lang/ru-RU.rc
Owners: @reactos/lang-russian

Update ru-RU.rc
  dll/cpl/sysdm/lang/ru-RU.rc
Owners: @reactos/lang-russian

Update ru-RU.rc
  dll/win32/shell32/lang/ru-RU.rc
Owners: @reactos/lang-russian

[NTOS:PNP] Implement NtPlugPlayControl.PlugPlayControlGetInterfaceDeviceAlias
  ntoskrnl/io/pnpmgr/plugplay.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[UMPNPMGR] Fix PNP_GetInterfaceDeviceAlias
  base/services/umpnpmgr/rpcserver.c
Owners: none

[NTOS:PS] Fix NtQueryInformationProcess(ProcessImageInformation) (#8134)
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SETUPAPI] Implement CM_Get_Device_Interface_Alias_ExA
  dll/win32/setupapi/cfgmgr.c
Owners: none

[NTUSER][USER32] Don't use TrackPopupMenu.TPM_SYSTEM_MENU
  win32ss/user/ntuser/defwnd.c
  win32ss/user/user32/windows/defwnd.c
Owners: none

delete WndRef
  win32ss/user/ntuser/defwnd.c
Owners: none

Update win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/defwnd.c
Owners: none

IntPopupSystemMenu
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/message.c
Owners: none

improve trace
  win32ss/user/ntuser/defwnd.c
Owners: none
