Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[FREELDR] Use fixed-size chunking for UEFI Block I/O reads
  boot/freeldr/freeldr/arch/uefi/uefidisk.c
Owners: @tkreuzer, @Extravert-ir

[CHKDSK][VFATLIB] Chkdsk improve code CORE-20546 Avoid second lseek if we do not have "use_read" and need to do read alignment.
  sdk/lib/fslib/vfatlib/check/io.c
Owners: @HeisSpiter

[FREELDR][UEFI] Implement TrueType framebuffer UI
  boot/boot_images.cmake
  boot/freeldr/freeldr/arch/uefi/ftglue.c
  boot/freeldr/freeldr/arch/uefi/uefivid.c
  boot/freeldr/freeldr/arch/vidfb.c
  boot/freeldr/freeldr/arch/vidfb.h
  boot/freeldr/freeldr/include/ui.h
  boot/freeldr/freeldr/include/ui/guifb.h
  boot/freeldr/freeldr/include/ui/minitui.h
  boot/freeldr/freeldr/uefi.cmake
  boot/freeldr/freeldr/ui/guifb.c
  boot/freeldr/freeldr/ui/ui.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR][UEFI] Drop redundant guifb header
  boot/freeldr/freeldr/include/ui.h
  boot/freeldr/freeldr/include/ui/guifb.h
  boot/freeldr/freeldr/ui/ui.c
Owners: @tkreuzer, @Extravert-ir

big fix
  win32ss/user/imm32/precomp.h
  win32ss/user/imm32/win3.c
Owners: none

fix 2
  win32ss/user/imm32/win3.c
Owners: none

fix 3
  win32ss/user/imm32/win3.c
Owners: none

fix 4
  win32ss/user/imm32/win3.c
Owners: none

fix 5
  win32ss/user/imm32/win3.c
Owners: none

fix 6
  win32ss/user/imm32/win3.c
Owners: none

fix 7
  win32ss/user/imm32/win3.c
Owners: none

[WINSRV] Introduce FakeDrag* functions and remove shell32 import
  win32ss/user/winsrv/consrv.cmake
  win32ss/user/winsrv/consrv/frontends/gui/conwnd.c
  win32ss/user/winsrv/consrv/frontends/gui/fakedrag.c
  win32ss/user/winsrv/consrv/frontends/gui/fakedrag.h
Owners: none

remove a comment
  win32ss/user/winsrv/consrv/frontends/gui/fakedrag.c
Owners: none

[PCIIDEX] Add DMA support
  drivers/storage/ide/legide/CMakeLists.txt
  drivers/storage/ide/legide/legide.c
  drivers/storage/ide/legide/legide.rc
  drivers/storage/ide/legide/legide_reg.inf
  drivers/storage/ide/pciide/pciide.c
  drivers/storage/ide/pciidex/CMakeLists.txt
  drivers/storage/ide/pciidex/acpi.c
  drivers/storage/ide/pciidex/ahci.h
  drivers/storage/ide/pciidex/chipset/ahci_generic.c
  drivers/storage/ide/pciidex/chipset/ahci_hw.c
  drivers/storage/ide/pciidex/chipset/ahci_io.c
  drivers/storage/ide/pciidex/chipset/amd.c
  drivers/storage/ide/pciidex/chipset/ati.c
  drivers/storage/ide/pciidex/chipset/cmd.c
  drivers/storage/ide/pciidex/chipset/intel.c
  drivers/storage/ide/pciidex/chipset/pata_generic.c
  drivers/storage/ide/pciidex/chipset/pata_hw.c
  drivers/storage/ide/pciidex/chipset/pata_io.c
  drivers/storage/ide/pciidex/chipset/pata_legacy.c
  drivers/storage/ide/pciidex/chipset/pctech.c
  drivers/storage/ide/pciidex/chipset/sil680.c
  drivers/storage/ide/pciidex/chipset/svw_pata.c
  drivers/storage/ide/pciidex/chipset/svw_sata.c
  drivers/storage/ide/pciidex/chipset/toshiba.c
  drivers/storage/ide/pciidex/chipset/via.c
  drivers/storage/ide/pciidex/debug.h
  drivers/storage/ide/pciidex/fdo.c
  drivers/storage/ide/pciidex/miniport.c
  drivers/storage/ide/pciidex/pata.h
  drivers/storage/ide/pciidex/pciidex.c
  drivers/storage/ide/pciidex/pciidex.h
  drivers/storage/ide/pciidex/pciidex.rc
  drivers/storage/ide/pciidex/pciidex.spec
  drivers/storage/ide/pciidex/pdo.c
  drivers/storage/ide/pciidex/power.c
  sdk/include/ddk/ide.h
  sdk/include/reactos/drivers/ata/ata_shared.h
  sdk/include/reactos/drivers/ata/ata_user.h
Owners: none

[ATAPI] Add ATA storage driver
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/atapi/CMakeLists.txt
  drivers/storage/ide/atapi/atapi.c
  drivers/storage/ide/atapi/atapi.h
  drivers/storage/ide/atapi/atapi.rc
  drivers/storage/ide/atapi/atapi_reg.inf
  drivers/storage/ide/atapi/debug.h
  drivers/storage/ide/atapi/dev_config.c
  drivers/storage/ide/atapi/dev_error.c
  drivers/storage/ide/atapi/dev_identify.c
  drivers/storage/ide/atapi/dev_power.c
  drivers/storage/ide/atapi/dev_timings.c
  drivers/storage/ide/atapi/enum.c
  drivers/storage/ide/atapi/fdo.c
  drivers/storage/ide/atapi/ioctl.c
  drivers/storage/ide/atapi/pdo.c
  drivers/storage/ide/atapi/portstate.c
  drivers/storage/ide/atapi/satl.c
  drivers/storage/ide/atapi/scsi.c
  drivers/storage/ide/atapi/scsiex.h
  drivers/storage/ide/atapi/smart.c
  drivers/storage/ide/atapi/wmi.c
  sdk/include/reactos/drivers/ata/identify_funcs.h
Owners: none

[UNIATA] Disable the driver and enable the new ATA stack
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/pciide/CMakeLists.txt
  drivers/storage/ide/pciide/pciide_reg.inf
  drivers/storage/ide/uniata/CMakeLists.txt
  media/inf/hdc.inf
Owners: @ThFabba

[WINSRV] ConioWriteConsole: Modify update rect for CJK
  win32ss/user/winsrv/consrv/frontends/terminal.c
Owners: none

[USER32_WINETEST] Skip a test that breaks ReactOS
  modules/rostests/winetests/user32/input.c
Owners: @ThFabba

[FREELDR] Add `PARTITION_EFI` define for MBR
  boot/freeldr/freeldr/disk/part_mbr.h
Owners: @tkreuzer, @Extravert-ir

[KERNEL32][SDK] Implement ConsoleIMERoutine
  dll/win32/kernel32/client/console/console.c
  dll/win32/kernel32/client/console/init.c
  dll/win32/kernel32/kernel32.spec
  sdk/include/reactos/wincon_undoc.h
Owners: none

[CONSRV] ConSrvConnect
  win32ss/user/winsrv/consrv/consrv.h
  win32ss/user/winsrv/consrv/init.c
Owners: none

GetConsoleIMECommandLine
  dll/win32/kernel32/client/console/console.c
Owners: none

optimize
  dll/win32/kernel32/client/console/console.c
Owners: none

optimize 2
  dll/win32/kernel32/client/console/console.c
Owners: none

improve
  dll/win32/kernel32/client/console/console.c
  sdk/include/reactos/wincon_undoc.h
Owners: none

optimize 3
  dll/win32/kernel32/client/console/console.c
Owners: none

improve 2
  dll/win32/kernel32/client/console/console.c
  sdk/include/reactos/wincon_undoc.h
Owners: none

use interlock
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW 2
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW 3
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW 4
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW 5
  dll/win32/kernel32/client/console/console.c
Owners: none

add comments
  dll/win32/kernel32/client/console/console.c
Owners: none

IntPathQuoteSpacesW 6
  dll/win32/kernel32/client/console/console.c
Owners: none

Update win32ss/user/winsrv/consrv/init.c
  win32ss/user/winsrv/consrv/init.c
Owners: none

Update win32ss/user/winsrv/consrv/init.c
  win32ss/user/winsrv/consrv/init.c
Owners: none

Update sdk/include/reactos/wincon_undoc.h
  sdk/include/reactos/wincon_undoc.h
Owners: none

Update dll/win32/kernel32/client/console/console.c
  dll/win32/kernel32/client/console/console.c
Owners: none

Update dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32.spec
Owners: none
