Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[WINESYNC] setupapi: Also handle DelFiles and RenFiles directives in SetupInstallFilesFromInfSection().
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Enable compilation with long types.
  dll/win32/setupapi/dialog.c
  dll/win32/setupapi/dirid.c
  dll/win32/setupapi/diskspace.c
  dll/win32/setupapi/parser.c
  dll/win32/setupapi/query.c
  dll/win32/setupapi/queue.c
  dll/win32/setupapi/setupcab.c
  dll/win32/setupapi/stringtable_wine.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[SETUPAPI] Use long type also in SetupGetInfDriverStoreLocationA
  dll/win32/setupapi/query.c
Owners: none

[WINESYNC] setupapi/tests: Use correct integral type.
  modules/rostests/winetests/setupapi/parser.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi/tests: Enable compilation with long types.
  modules/rostests/winetests/setupapi/CMakeLists.txt
  modules/rostests/winetests/setupapi/devinst.c
  modules/rostests/winetests/setupapi/dialog.c
  modules/rostests/winetests/setupapi/diskspace.c
  modules/rostests/winetests/setupapi/install.c
  modules/rostests/winetests/setupapi/misc.c
  modules/rostests/winetests/setupapi/parser.c
  modules/rostests/winetests/setupapi/query.c
  modules/rostests/winetests/setupapi/setupcab.c
  modules/rostests/winetests/setupapi/stringtable.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Add SetupQueryInfVersionInformationA/W stub.
  dll/win32/setupapi/query.c
  dll/win32/setupapi/setupapi.spec
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] uuid: Add devguid.h.
  modules/rostests/winetests/setupapi/devinst.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi/tests: Add more tests for buffer size handling in SetupDiGetDeviceInterfaceDetail().
  modules/rostests/winetests/setupapi/devinst.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Correctly calculate the required size in SetupDiGetDeviceInterfaceDetailA().
  modules/rostests/winetests/setupapi/devinst.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Fill the required size in SetupDiGetDeviceInterfaceDetail() also on success.
  modules/rostests/winetests/setupapi/devinst.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Use _S_I(READ|WRITE) from sys/stat.h instead of redefining them.
  dll/win32/setupapi/setupapi_private.h
  dll/win32/setupapi/setupcab.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Move prototypes not in Windows's setupapi.h to setupapi_private.h.
  modules/rostests/winetests/setupapi/misc.c
  sdk/include/psdk/setupapi.h
  sdk/include/reactos/setupapi_undoc.h
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[DEVMGR][HOTPLUG][NEWDEV][SYSSETUP] Include setupapi_undoc.h for pSetup* functions.
  dll/cpl/hotplug/enum.c
  dll/win32/devmgr/properties/advprop.cpp
  dll/win32/newdev/newdev.c
  dll/win32/syssetup/precomp.h
Owners: none

[INTL][NETSHELL][SYSDM] Include setupapi_undoc.h for IsUserAdmin().
  dll/cpl/intl/intl.c
  dll/cpl/sysdm/userprofile.c
  dll/shellext/netshell/connectmanager.cpp
Owners: @learn-more

[WINESYNC] setupapi/tests: Don't test function directly when reporting GetLastError().
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi/tests: Add tests for FLG_ADDREG_APPEND.
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Fail installation when trying to append to a registry value of the wrong type.
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Create the registry value if it doesn't exist in append_multi_sz_value().
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[SETUPAPI] Add a temporary private implementation of _recalloc.
  dll/win32/setupapi/setupapi_private.h
Owners: none

[WINESYNC] setupapi: Use standard va_list instead of __ms_va_list.
  dll/win32/setupapi/dialog.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Use CRT functions for memory allocation where possible.
  dll/win32/setupapi/dialog.c
  dll/win32/setupapi/dirid.c
  dll/win32/setupapi/diskspace.c
  dll/win32/setupapi/parser.c
  dll/win32/setupapi/query.c
  dll/win32/setupapi/queue.c
  dll/win32/setupapi/setupapi_private.h
  dll/win32/setupapi/setupcab.c
  dll/win32/setupapi/stringtable_wine.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Rewrite DiskSpaceList logic using lists.
  dll/win32/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0001-setupapi__Rewrite_DiskSpaceList_logic_using_lists.diff
Owners: none

[WINESYNC] setupapi: Implement SetupAddToDiskSpaceList.
  dll/win32/setupapi/diskspace.c
  modules/rostests/winetests/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0002-setupapi__Implement_SetupAddToDiskSpaceList.diff
Owners: @ThFabba

[WINESYNC] setupapi: Implement SetupQueryDrivesInDiskSpaceList.
  dll/win32/setupapi/diskspace.c
  dll/win32/setupapi/setupapi.spec
  modules/rostests/winetests/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0003-setupapi__Implement_SetupQueryDrivesInDiskSpaceList.diff
Owners: @ThFabba

[WINESYNC] setupapi: Ignore deletion of added files in SetupAddToDiskSpaceList.
  dll/win32/setupapi/diskspace.c
  modules/rostests/winetests/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0004-setupapi__Ignore_deletion_of_added_files_in_SetupAddToDiskSpaceList.diff
Owners: @ThFabba

[WINESYNC] setupapi: ImplementSetupAddSectionToDiskSpaceList.
  dll/win32/setupapi/diskspace.c
  dll/win32/setupapi/queue.c
  dll/win32/setupapi/setupapi.spec
  dll/win32/setupapi/setupapi_private.h
  modules/rostests/winetests/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0005-setupapi__ImplementSetupAddSectionToDiskSpaceList.diff
Owners: @ThFabba

[WINESYNC] setupapi: Implement SetupAddInstallSectionToDiskSpaceList.
  dll/win32/setupapi/diskspace.c
  dll/win32/setupapi/setupapi.spec
  modules/rostests/winetests/setupapi/diskspace.c
  sdk/tools/winesync/setupapi_staging/0006-setupapi__Implement_SetupAddInstallSectionToDiskSpaceList.diff
Owners: @ThFabba

[WINESYNC]: setupapi is partially in sync, and setupapi_winetest is in sync with wine-staging wine-8.15
  dll/win32/setupapi/parser.c
  media/doc/WINESYNC.txt
  sdk/tools/winesync/setupapi.cfg
Owners: none

[SETUPAPI] diskspace.c: Fix memory allocations.
  dll/win32/setupapi/diskspace.c
Owners: none

[SETUPAPI] Add missing NULL parameter checks in SetupOpenInfFileW and SetupDiGetINFClassW.
  dll/win32/setupapi/parser.c
Owners: none

[SETUPAPI] .spec file: Add NT6+ stubs and -version info for some functions.
  dll/win32/setupapi/setupapi.spec
Owners: none

** WIP ** SETUPAPI: Improve do_file_copyW: Generate a temporary file path based on the target path (thus, ensured to be writable)
  dll/win32/setupapi/queue.c
Owners: none

[SETUPAPI] Slightly improve pSetupGetFileTitle
  dll/win32/setupapi/misc.c
  sdk/include/reactos/setupapi_undoc.h
Owners: none

[SDK:REACTOS] acpi.h: Update FACS and FADT types to ACPI v6.4 (#6042)
  sdk/include/reactos/drivers/acpi/acpi.h
Owners: none

[EXT2LIB] implement UUID generation
  sdk/lib/fslib/ext2lib/Super.c
  sdk/lib/fslib/ext2lib/Uuid.c
Owners: @HeisSpiter

[SETUPLIB] add ext2 as supported filesystem for installation
  base/setup/lib/fsutil.c
Owners: none

[SETUPLIB] add support for ext2 bootsector installation
  base/setup/lib/bootsup.c
  base/setup/lib/fsutil.c
  base/setup/lib/fsutil.h
Owners: none

[BOOTDATA][EXT2FS] Include ext2fs in the cds
  boot/bootdata/txtsetup.sif
  drivers/filesystems/ext2/CMakeLists.txt
Owners: @HeisSpiter

[EXT2LIB] Ext2Format: add progress feedback
  sdk/lib/fslib/ext2lib/Memory.c
  sdk/lib/fslib/ext2lib/Mke2fs.c
  sdk/lib/fslib/ext2lib/Mke2fs.h
Owners: @HeisSpiter

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
