Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[WDMAUD.DRV][MMIXER][PORTCLS] - Move completion to a seperate thread to imitate legacy streaming - Audio is playing fluent - Foobar2000 still crashes on stop, WIP
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/deviceinstance.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
  sdk/lib/drivers/sound/mmixer/mixer.c
Owners: none

[PORTCLS] - Set to member to null after release
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - Enforce legacy streaming
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WDMAUD.DRV] - Implement a shadow buffering which prefetches audio data and perform writing in a dedicated thread
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
Owners: none

[WMDAUD.DRV][MMEBUDDY] - Support wave in recording in RT streaming
  dll/win32/wdmaud.drv/mmixer.c
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
Owners: none

[MMEBUDDY] - Check if sound thread already terminated before scheduling work - Fixes stop crash in foobar2000
  sdk/lib/drivers/sound/mmebuddy/thread.c
Owners: none

[MMEBUDDY] Fix build Use unsigned type for streaming buffer length and shadow buffer length, instead of signed, to avoid build errors with GCC.
  sdk/include/reactos/libs/sound/mmebuddy.h
Owners: none

[MMEBUDDY] - Queue a thread when wdmaud clients submits small buffers - Fixes crash when playback with mmsys.cpl multiple times
  sdk/lib/drivers/sound/mmebuddy/functiontable.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Owners: none

[DESK] Check if wallpaper file is deleted
  dll/cpl/desk/background.c
Owners: none

reduce diff
  dll/cpl/desk/background.c
Owners: none

reduce diff 2
  dll/cpl/desk/background.c
Owners: none

reduce diff
  sdk/lib/3rdparty/freetype/CMakeLists.txt
  sdk/lib/3rdparty/freetype/src/base/ftver.rc
  sdk/lib/3rdparty/freetype/src/tools/afblue.pl
  sdk/lib/3rdparty/freetype/src/tools/apinames.c
  sdk/lib/3rdparty/freetype/src/tools/chktrcmp.py
  sdk/lib/3rdparty/freetype/src/tools/cordic.py
  sdk/lib/3rdparty/freetype/src/tools/ftrandom/README
  sdk/lib/3rdparty/freetype/src/tools/ftrandom/ftrandom.c
  sdk/lib/3rdparty/freetype/src/tools/glnames.py
  sdk/lib/3rdparty/freetype/src/tools/make_distribution_archives.py
  sdk/lib/3rdparty/freetype/src/tools/no-copyright
  sdk/lib/3rdparty/freetype/src/tools/test_afm.c
  sdk/lib/3rdparty/freetype/src/tools/test_bbox.c
  sdk/lib/3rdparty/freetype/src/tools/test_trig.c
  sdk/lib/3rdparty/freetype/src/tools/update-copyright
  sdk/lib/3rdparty/freetype/src/tools/update-copyright-year
Owners: none

reduce diff 2
  sdk/lib/3rdparty/freetype/src/gxvalid/README
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvalid.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvalid.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvbsln.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvcommn.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvcommn.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxverror.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvfeat.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvfeat.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvfgen.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvjust.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvkern.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvlcar.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmod.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmod.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort0.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort1.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort2.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort4.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmort5.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx.h
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx0.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx1.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx2.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx4.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvmorx5.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvopbd.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvprop.c
  sdk/lib/3rdparty/freetype/src/gxvalid/gxvtrak.c
Owners: none

reduce diff 3
  sdk/lib/3rdparty/freetype/src/otvalid/otvalid.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvalid.h
  sdk/lib/3rdparty/freetype/src/otvalid/otvbase.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvcommn.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvcommn.h
  sdk/lib/3rdparty/freetype/src/otvalid/otverror.h
  sdk/lib/3rdparty/freetype/src/otvalid/otvgdef.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvgpos.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvgpos.h
  sdk/lib/3rdparty/freetype/src/otvalid/otvgsub.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvjstf.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvmath.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvmod.c
  sdk/lib/3rdparty/freetype/src/otvalid/otvmod.h
Owners: none

improve CMakeLists.txt
  sdk/lib/3rdparty/freetype/CMakeLists.txt
  sdk/lib/3rdparty/freetype/ChangeLog
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

update ChangeLog
  sdk/lib/3rdparty/freetype/ChangeLog
Owners: none

[KERNEL32] Split off some ANSI functions from the bulk of Kernel32 (#8555)
  dll/win32/kernel32/CMakeLists.txt
  dll/win32/kernel32/client/atom.c
  dll/win32/kernel32/client/atomansi.c
  dll/win32/kernel32/client/file/copy.c
  dll/win32/kernel32/client/file/copyansi.c
  dll/win32/kernel32/client/file/dir.c
  dll/win32/kernel32/client/file/diransi.c
  dll/win32/kernel32/client/file/fileinfo.c
  dll/win32/kernel32/client/file/fileinfoansi.c
  dll/win32/kernel32/client/file/mntpoint.c
  dll/win32/kernel32/client/file/mntpointansi.c
  dll/win32/kernel32/client/file/move.c
  dll/win32/kernel32/client/file/moveansi.c
  dll/win32/kernel32/client/file/volume.c
  dll/win32/kernel32/client/file/volumeansi.c
  dll/win32/kernel32/client/path.c
  dll/win32/kernel32/client/pathansi.c
  dll/win32/kernel32/client/proc.c
  dll/win32/kernel32/client/procansi.c
  dll/win32/kernel32/client/synch.c
  dll/win32/kernel32/client/synchansi.c
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/client/sysinfoansi.c
  dll/win32/kernel32/client/utils.c
  dll/win32/kernel32/client/version.c
  dll/win32/kernel32/client/versionansi.c
  dll/win32/kernel32/winnls/string/lcformat.c
  dll/win32/kernel32/winnls/string/lcformat_private.h
  dll/win32/kernel32/winnls/string/lcformatansi.c
  dll/win32/kernel32/winnls/string/locale.c
  dll/win32/kernel32/winnls/string/localeansi.c
Owners: @HeisSpiter

delete ChangeLog
  sdk/lib/3rdparty/freetype/ChangeLog
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

delete src/base/ftdebug.c
  sdk/lib/3rdparty/freetype/src/base/ftdebug.c
Owners: none

[SHELL32] Delete SHMultiFileProperties declaration
  dll/win32/shell32/precomp.h
Owners: @learn-more, @yagoulas

[FONTEXT] Follow-up of #8639
  dll/shellext/fontext/CFontExt.cpp
Owners: @learn-more

delete SECURITY: comments
  dll/shellext/fontext/fontext.cpp
  dll/shellext/fontext/fontpidl.cpp
Owners: @learn-more

DoDeleteFontFiles
  dll/shellext/fontext/fontext.cpp
Owners: @learn-more

TechNote.txt
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

TechNote.txt 2
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

TechNote.txt 3
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

delete IDS_COL_ATTR_LETTERS
  dll/shellext/fontext/lang/de-DE.rc
  dll/shellext/fontext/lang/en-US.rc
  dll/shellext/fontext/lang/it-IT.rc
  dll/shellext/fontext/lang/pl-PL.rc
  dll/shellext/fontext/lang/ro-RO.rc
  dll/shellext/fontext/lang/tr-TR.rc
  dll/shellext/fontext/lang/zh-CN.rc
  dll/shellext/fontext/lang/zh-HK.rc
  dll/shellext/fontext/lang/zh-TW.rc
  dll/shellext/fontext/resource.h
Owners: @reactos/lang-german, @learn-more, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-romanian, @reactos/lang-turkish, @reactos/lang-chinese

[SYSSETUP] Set daylight saving checkbox according to the setting
  dll/win32/syssetup/wizard.c
Owners: none

[SYSSETUP] Improve the DST checkbox fix
  dll/win32/syssetup/wizard.c
Owners: none

Use for loop
  dll/win32/syssetup/wizard.c
Owners: none

Use for loop
  dll/win32/syssetup/wizard.c
Owners: none

[TIMEDATE.CPL] Fix DST setting checkbox
  dll/cpl/timedate/timezone.c
Owners: none

Use for loop
  dll/cpl/timedate/timezone.c
Owners: none

Use curly brackets for oneline if block
  dll/cpl/timedate/timezone.c
Owners: none

Respect user preference
  dll/cpl/timedate/timezone.c
Owners: none

Oops!
  dll/cpl/timedate/timezone.c
Owners: none

Use NULL directly
  dll/win32/syssetup/wizard.c
Owners: none

[CHARMAP][MSPAINT][WELCOME] Add Croatian (hr-HR) translation (#8654)
  base/applications/charmap/charmap.rc
  base/applications/charmap/lang/hr-HR.rc
  base/applications/mspaint/lang/hr-HR.rc
  base/applications/mspaint/rsrc.rc
  base/setup/welcome/lang/hr-HR.rc
  base/setup/welcome/welcome.rc
Owners: none

[SNDVOL32] Update copyright preamble
  base/applications/sndvol32/sndvol32.c
Owners: none

[SNDVOL32] Deduplicate dialog control retrieval code
  base/applications/sndvol32/dialog.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
