Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[SHELL32][SHDOCVW] Only forward menu messages to the correct shell extension (#7968)
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CNewMenu.cpp
  dll/win32/shell32/brfolder.cpp
  dll/win32/shlwapi/rosordinal.c
  sdk/include/reactos/shellutils.h
Owners: @learn-more, @yagoulas

[NTOS:MM] Add ASSERTs to Mi(Un)MapPagesInZeroSpace
  ntoskrnl/mm/ARM3/hypermap.c
  ntoskrnl/mm/ARM3/zeropage.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[ATAPI] Add ATA storage driver
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/atapi/CMakeLists.txt
  drivers/storage/ide/atapi/acpi.c
  drivers/storage/ide/atapi/ahci_hw.c
  drivers/storage/ide/atapi/ahci_io.c
  drivers/storage/ide/atapi/ahci_mem.c
  drivers/storage/ide/atapi/atapi.c
  drivers/storage/ide/atapi/atapi.h
  drivers/storage/ide/atapi/atapi.rc
  drivers/storage/ide/atapi/atapi_reg.inf
  drivers/storage/ide/atapi/data.c
  drivers/storage/ide/atapi/dev_config.c
  drivers/storage/ide/atapi/dev_error.c
  drivers/storage/ide/atapi/dev_identify.c
  drivers/storage/ide/atapi/dev_timings.c
  drivers/storage/ide/atapi/enum.c
  drivers/storage/ide/atapi/fdo.c
  drivers/storage/ide/atapi/include/acpi.h
  drivers/storage/ide/atapi/include/ahci.h
  drivers/storage/ide/atapi/include/atahw.h
  drivers/storage/ide/atapi/include/debug.h
  drivers/storage/ide/atapi/include/devevent.h
  drivers/storage/ide/atapi/include/identify_funcs.h
  drivers/storage/ide/atapi/include/pata.h
  drivers/storage/ide/atapi/include/request.h
  drivers/storage/ide/atapi/include/scsiex.h
  drivers/storage/ide/atapi/ioctl.c
  drivers/storage/ide/atapi/pata_hw.c
  drivers/storage/ide/atapi/pata_io.c
  drivers/storage/ide/atapi/pata_legacy.c
  drivers/storage/ide/atapi/pdo.c
  drivers/storage/ide/atapi/portstate.c
  drivers/storage/ide/atapi/power.c
  drivers/storage/ide/atapi/satl.c
  drivers/storage/ide/atapi/scsi.c
  drivers/storage/ide/atapi/smart.c
  drivers/storage/ide/atapi/wmi.c
Owners: none

[FREELDR:HWIDE] Temporary hack
  boot/freeldr/freeldr/arch/drivers/hwide.c
Owners: @tkreuzer, @Extravert-ir

[UNIATA] Disable the driver and enable the new ATA stack
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/pciide/CMakeLists.txt
  drivers/storage/ide/pciide/pciide_reg.inf
  media/inf/hdc.inf
Owners: none

[PSDK] Avoid NDK include in versionhelpers.h
  sdk/include/psdk/versionhelpers.h
Owners: none

[WIN32U] Add win32u_2k3sp2 and win32u_xpsp2 as rostest files
  modules/rostests/apitests/win32u/win32u_2k3sp2/CMakeLists.txt
  modules/rostests/apitests/win32u/win32u_xpsp2/CMakeLists.txt
Owners: none

[DELAYIMP] Separate hook symbols from library code
  sdk/lib/delayimp/CMakeLists.txt
  sdk/lib/delayimp/delayimp.c
  sdk/lib/delayimp/pfnDliFailureHook2.c
  sdk/lib/delayimp/pfnDliNotifyHook2.c
Owners: none

[DELAYIMP] Switch license to MIT
  sdk/lib/delayimp/delayimp.c
Owners: none

[NTUSER][USER32] Rewrite GetAncestor (#7978)
  win32ss/include/ntuser.h
  win32ss/user/ntuser/window.c
  win32ss/user/user32/user32.spec
  win32ss/user/user32/windows/window.c
Owners: none

[WIN32KNT_APITEST] Add a delay-import hooks
  modules/rostests/apitests/win32nt/CMakeLists.txt
  modules/rostests/apitests/win32nt/dlihook.c
Owners: none

[NETIO]: Suggestions by disean from ReactOS upstream implemented.
  drivers/network/netio/netio.c
Owners: @ThFabba

Implemented WskDisconnect.
  drivers/network/netio/netio.c
Owners: @ThFabba

[KMTESTS:HAL] Add a test for string I/O intrinsic functions
  modules/rostests/kmtests/CMakeLists.txt
  modules/rostests/kmtests/hal/HalPortIo.c
  modules/rostests/kmtests/kmtest_drv/testlist.c
Owners: @ThFabba

[CRT_APITEST] Fix GCC format warnings
  modules/rostests/apitests/crt/fpcontrol.c
  modules/rostests/apitests/crt/math_helpers.h
  modules/rostests/apitests/crt/rand_s.c
Owners: none

Implement SHGetKnownFolderPath
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/wine/shellpath.c
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetKnownFolderPath.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shlobj.h
Owners: @learn-more, @yagoulas

Replace SetLastError.
  modules/rostests/apitests/win32nt/ntuser/NtUserCreateAcceleratorTable.c
Owners: none

[IMM32] Fix ImmLocalAlloc usage (#8007)
  dll/win32/imm32/imemenu.c
  dll/win32/imm32/precomp.h
  dll/win32/imm32/utils.c
Owners: none

Apply suggestions from code review
  dll/win32/shell32/wine/shellpath.c
  modules/rostests/apitests/shell32/SHGetKnownFolderPath.cpp
  sdk/include/psdk/shlobj.h
Owners: @learn-more, @yagoulas

keep sorted for apitest
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/testlist.c
Owners: none

Implement TryAcquireSRWLockExclusive
  dll/win32/kernel32/kernel32.spec
Owners: none

oops, this is actually win 7 api call
  dll/win32/kernel32/kernel32.spec
Owners: none

[SHELL32_APITEST] Comment out OpenAs_RunDLL test
  modules/rostests/apitests/shell32/testlist.c
Owners: none

[CRT_APITEST] Reorganize tests
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/crt/CMakeLists.txt
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crtdll/CMakeLists.txt
  modules/rostests/apitests/crtdll/testlist.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

Apply suggestions from code review
  dll/win32/shell32/wine/shellpath.c
  modules/rostests/apitests/shell32/SHGetKnownFolderPath.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: @learn-more, @yagoulas

Fix
  dll/win32/kernel32/kernel32.spec
  modules/rostests/apitests/shell32/testlist.c
Owners: none

A call to WSAEventSelect may be needed too
  dll/win32/msafd/misc/dllmain.c
Owners: none

WSA functions shouldn't be used here because they are the upper layer of the implementation
  dll/win32/msafd/misc/dllmain.c
Owners: none

Apply suggestions from code review
  dll/win32/kernel32/kernel32.spec
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetKnownFolderPath.cpp
Owners: none

[USP10] Fix notepad without word-wrap 'select all' CORE-20176 & CORE-20177
  dll/win32/usp10/usp10.c
Owners: none

[TASKMGR] HACK Fix/Workaround Taskmgr Memory Leak CORE-18014
  base/applications/taskmgr/perfdata.c
Owners: none

Update dll/win32/msafd/misc/dllmain.c
  dll/win32/msafd/misc/dllmain.c
Owners: none

Update dll/win32/msafd/misc/dllmain.c
  dll/win32/msafd/misc/dllmain.c
Owners: none

[SHELL32_APITEST] Comment out OpenAs_RunDLL test
  modules/rostests/apitests/shell32/testlist.c
Owners: none

[KERNEL32_APITEST] Revert manifest architecture changes
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
Owners: none

[KERNEL32_APITEST] Revert manifest architecture changes
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
Owners: none

[CRT_APITEST] Reorganize tests
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/crt/CMakeLists.txt
  modules/rostests/apitests/crt/crtdll_crt_apitest.cmake
  modules/rostests/apitests/crt/msvcrt_crt_apitest.cmake
  modules/rostests/apitests/crt/ntdll_crt_apitest.cmake
  modules/rostests/apitests/crtdll/CMakeLists.txt
  modules/rostests/apitests/crtdll/testlist.c
  modules/rostests/apitests/msvcrt/CMakeLists.txt
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

Update dll/win32/imm32/imemenu.c
  dll/win32/imm32/imemenu.c
Owners: none

[IMM32] ImeGetImeMenuItems is optional (#8008)
  dll/win32/imm32/imemenu.c
Owners: none

ctor
  base/shell/explorer/appbar.cpp
Owners: @learn-more, @yagoulas
