Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NTOS:EX] Fix query of SystemLookasideInformation
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[RTL] Fix RtlpGetRegistryHandle
  sdk/lib/rtl/registry.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[XDK] Add Read/Write helper functions
  sdk/include/xdk/memaccess.h
  sdk/include/xdk/wdm.template.h
  sdk/include/xdk/winnt.template.h
  sdk/include/xdk/winnt_old.h
Owners: none

[NTOS:EX] Fix query of SystemFirmwareTableInformation
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[ADVAPI32] Add vista exports
  dll/win32/advapi32/advapi32.spec
Owners: none

[LIBCNTPR] Implement iswctype
  sdk/lib/crt/string/iswctype_nt.c
  sdk/lib/crt/string/string.cmake
Owners: none

WIP [CRT] Proper implementations of tolower/toupper for NT
  dll/ntdll/def/ntdll.spec
  sdk/lib/crt/string/ctype.c
  sdk/lib/crt/string/string.cmake
  sdk/lib/crt/string/tolower_nt.c
  sdk/lib/crt/string/toupper_nt.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[CRT] Fix streamout
  sdk/lib/crt/printf/streamout.c
Owners: none

[LIBCNTPR] Implement _wcsicmp / _wcsnicmp
  sdk/lib/crt/wstring/_wcsicmp_nt.c
  sdk/lib/crt/wstring/_wcsnicmp_nt.c
  sdk/lib/crt/wstring/wstring.cmake
Owners: none

DEBUG
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/path.c
Owners: @ThFabba

initial sync, there's issues but it compiles
  modules/rostests/winetests/ntdll/CMakeLists.txt
  modules/rostests/winetests/ntdll/atom.c
  modules/rostests/winetests/ntdll/change.c
  modules/rostests/winetests/ntdll/directory.c
  modules/rostests/winetests/ntdll/env.c
  modules/rostests/winetests/ntdll/error.c
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/file.c
  modules/rostests/winetests/ntdll/info.c
  modules/rostests/winetests/ntdll/large_int.c
  modules/rostests/winetests/ntdll/om.c
  modules/rostests/winetests/ntdll/path.c
  modules/rostests/winetests/ntdll/pipe.c
  modules/rostests/winetests/ntdll/port.c
  modules/rostests/winetests/ntdll/process.c
  modules/rostests/winetests/ntdll/reg.c
  modules/rostests/winetests/ntdll/ros_diff.patch
  modules/rostests/winetests/ntdll/rtl.c
  modules/rostests/winetests/ntdll/rtlbitmap.c
  modules/rostests/winetests/ntdll/rtlstr.c
  modules/rostests/winetests/ntdll/string.c
  modules/rostests/winetests/ntdll/testlist.c
  modules/rostests/winetests/ntdll/threadpool.c
  modules/rostests/winetests/ntdll/time.c
  sdk/include/ddk/ntpoapi.h
  sdk/include/vcruntime/setjmp.h
  sdk/include/xdk/ketypes.h
  sdk/include/xdk/ntdef.template.h
  sdk/include/xdk/winnt_old.h
Owners: @ThFabba

Improve
  modules/rostests/winetests/ntdll/CMakeLists.txt
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/file.c
  modules/rostests/winetests/ntdll/generated.c
  modules/rostests/winetests/ntdll/info.c
  modules/rostests/winetests/ntdll/msvc-x64.asm
  modules/rostests/winetests/ntdll/path.c
  modules/rostests/winetests/ntdll/reg.c
  modules/rostests/winetests/ntdll/rtl.c
  modules/rostests/winetests/ntdll/sync.c
  modules/rostests/winetests/ntdll/thread.c
  modules/rostests/winetests/ntdll/threadpool.c
  modules/rostests/winetests/ntdll/time.c
  modules/rostests/winetests/ntdll/unwind.c
  modules/rostests/winetests/ntdll/virtual.c
  modules/rostests/winetests/ntdll/wow64.c
  sdk/include/wine/winternl.h
Owners: @ThFabba

Fix crashes on ros / win 2k3
  modules/rostests/winetests/ntdll/env.c
  modules/rostests/winetests/ntdll/file.c
  modules/rostests/winetests/ntdll/info.c
  modules/rostests/winetests/ntdll/path.c
  modules/rostests/winetests/ntdll/reg.c
  modules/rostests/winetests/ntdll/rtl.c
  modules/rostests/winetests/ntdll/rtlstr.c
  modules/rostests/winetests/ntdll/string.c
Owners: @ThFabba

Revert "DEBUG"
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/path.c
Owners: @ThFabba

[ROSAUTOTEST] Add option to use libcurl
  modules/rostests/rosautotest/CConfiguration.cpp
  modules/rostests/rosautotest/CMakeLists.txt
  modules/rostests/rosautotest/CWebService.cpp
  modules/rostests/rosautotest/CWebService.h
  modules/rostests/rosautotest/CWebServiceLibCurl.cpp
  modules/rostests/rosautotest/CWebServiceLibCurl.h
  modules/rostests/rosautotest/CWebServiceWinInet.cpp
  modules/rostests/rosautotest/CWebServiceWinInet.h
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/curl/curl.h
  modules/rostests/rosautotest/curl/curlver.h
  modules/rostests/rosautotest/curl/easy.h
  modules/rostests/rosautotest/curl/header.h
  modules/rostests/rosautotest/curl/mprintf.h
  modules/rostests/rosautotest/curl/multi.h
  modules/rostests/rosautotest/curl/options.h
  modules/rostests/rosautotest/curl/stdcheaders.h
  modules/rostests/rosautotest/curl/system.h
  modules/rostests/rosautotest/curl/typecheck-gcc.h
  modules/rostests/rosautotest/curl/urlapi.h
  modules/rostests/rosautotest/precomp.h
Owners: none

[APPHELP_APITEST] Fix tests for Win10 + restore some tests for x64
  modules/rostests/apitests/apphelp/db.cpp
Owners: none

[APPHELP] Make some more tests pass
  dll/appcompat/apphelp/sdbapi.c
Owners: @learn-more

[CRYPT32_WINETEST] Sync crypt32 winetest to wine-10.0
  modules/rostests/winetests/crypt32/CMakeLists.txt
  modules/rostests/winetests/crypt32/base64.c
  modules/rostests/winetests/crypt32/cert.c
  modules/rostests/winetests/crypt32/chain.c
  modules/rostests/winetests/crypt32/crl.c
  modules/rostests/winetests/crypt32/ctl.c
  modules/rostests/winetests/crypt32/encode.c
  modules/rostests/winetests/crypt32/main.c
  modules/rostests/winetests/crypt32/message.c
  modules/rostests/winetests/crypt32/msg.c
  modules/rostests/winetests/crypt32/object.c
  modules/rostests/winetests/crypt32/oid.c
  modules/rostests/winetests/crypt32/protectdata.c
  modules/rostests/winetests/crypt32/sip.c
  modules/rostests/winetests/crypt32/store.c
  modules/rostests/winetests/crypt32/str.c
Owners: @ThFabba

[SHELL32] Computer folder sorting must handle mixed drives and regitems
  dll/win32/shell32/folders/CDrivesFolder.cpp
Owners: @learn-more, @yagoulas

[USER32_WINETEST] Sync to wine-10.0
  modules/rostests/winetests/user32/CMakeLists.txt
  modules/rostests/winetests/user32/bmp1x1_32bpp.bmp
  modules/rostests/winetests/user32/broadcast.c
  modules/rostests/winetests/user32/class.c
  modules/rostests/winetests/user32/clipboard.c
  modules/rostests/winetests/user32/combo.c
  modules/rostests/winetests/user32/cursoricon.c
  modules/rostests/winetests/user32/dce.c
  modules/rostests/winetests/user32/dde.c
  modules/rostests/winetests/user32/dialog.c
  modules/rostests/winetests/user32/edit.c
  modules/rostests/winetests/user32/generated.c
  modules/rostests/winetests/user32/listbox.c
  modules/rostests/winetests/user32/menu.c
  modules/rostests/winetests/user32/monitor.c
  modules/rostests/winetests/user32/msg.c
  modules/rostests/winetests/user32/rawinput.c
  modules/rostests/winetests/user32/resource.c
  modules/rostests/winetests/user32/resource.rc
  modules/rostests/winetests/user32/scroll.c
  modules/rostests/winetests/user32/static.c
  modules/rostests/winetests/user32/sysparams.c
  modules/rostests/winetests/user32/testdll.c
  modules/rostests/winetests/user32/testdll.spec
  modules/rostests/winetests/user32/testlist.c
  modules/rostests/winetests/user32/text.c
  modules/rostests/winetests/user32/uitools.c
  modules/rostests/winetests/user32/win.c
  modules/rostests/winetests/user32/winstation.c
  modules/rostests/winetests/user32/wsprintf.c
Owners: @ThFabba

[ROSAUTOTEST] Add option to use libcurl
  modules/rostests/rosautotest/CConfiguration.cpp
  modules/rostests/rosautotest/CMakeLists.txt
  modules/rostests/rosautotest/CWebService.cpp
  modules/rostests/rosautotest/CWebService.h
  modules/rostests/rosautotest/CWebServiceLibCurl.cpp
  modules/rostests/rosautotest/CWebServiceLibCurl.h
  modules/rostests/rosautotest/CWebServiceWinInet.cpp
  modules/rostests/rosautotest/CWebServiceWinInet.h
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/curl/curl.h
  modules/rostests/rosautotest/curl/curlver.h
  modules/rostests/rosautotest/curl/easy.h
  modules/rostests/rosautotest/curl/header.h
  modules/rostests/rosautotest/curl/mprintf.h
  modules/rostests/rosautotest/curl/multi.h
  modules/rostests/rosautotest/curl/options.h
  modules/rostests/rosautotest/curl/stdcheaders.h
  modules/rostests/rosautotest/curl/system.h
  modules/rostests/rosautotest/curl/typecheck-gcc.h
  modules/rostests/rosautotest/curl/urlapi.h
  modules/rostests/rosautotest/precomp.h
Owners: none

[APPHELP_APITEST] Fix tests for Win10 + restore some tests for x64
  modules/rostests/apitests/apphelp/db.cpp
Owners: none

[APPHELP] Make some more tests pass
  dll/appcompat/apphelp/sdbapi.c
Owners: @learn-more

[NTDLL][WINE] Fix *FlushVirtualMemory() parameter types
  dll/ntdll/def/ntdll.spec
  sdk/include/wine/winternl.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTOS:MM] MmFlushVirtualMemory(): Pretend success
  ntoskrnl/mm/ARM3/virtual.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Initial sync to wine-10.0
  modules/rostests/winetests/advapi32/CMakeLists.txt
  modules/rostests/winetests/advapi32/cred.c
  modules/rostests/winetests/advapi32/crypt.c
  modules/rostests/winetests/advapi32/crypt_lmhash.c
  modules/rostests/winetests/advapi32/eventlog.c
  modules/rostests/winetests/advapi32/lsa.c
  modules/rostests/winetests/advapi32/perf.c
  modules/rostests/winetests/advapi32/registry.c
  modules/rostests/winetests/advapi32/security.c
  modules/rostests/winetests/advapi32/service.c
  sdk/include/psdk/accctrl.h
  sdk/include/psdk/winreg.h
  sdk/include/psdk/winsvc.h
Owners: @ThFabba

[KERNEL32_VISTA] Rewrite `QueryFullProcessImageName`
  dll/win32/kernel32/kernel32_vista/vista.c
Owners: none

[VCRUNTIME] Add initial arm64intr.h
  sdk/include/vcruntime/arm64intr.h
  sdk/include/vcruntime/intrin.h
Owners: none

[XDK] Add Read/Write helper functions
  sdk/include/xdk/memaccess.h
  sdk/include/xdk/wdm.template.h
  sdk/include/xdk/winnt.template.h
  sdk/include/xdk/winnt_old.h
Owners: none

[VCRUNTIME] Add initial intrin0.inl.h
  sdk/include/vcruntime/intrin.h
  sdk/include/vcruntime/intrin0.inl.h
Owners: none

[PSDK] Improve some headers
  sdk/include/psdk/processthreadsapi.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/ketypes.h
  sdk/include/xdk/ntdef.template.h
  sdk/include/xdk/winnt.template.h
  sdk/include/xdk/winnt_old.h
Owners: none

[NTOS:EX] Fix query of SystemLookasideInformation
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:EX] Fix query of SystemFirmwareTableInformation
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SDK] Remove header definitions of __ROS_LONG64__
  sdk/include/psdk/basetsd.h
  sdk/include/psdk/minwindef.h
  sdk/include/psdk/winsock.h
  sdk/include/psdk/winsock2.h
  sdk/include/xdk/winnt.template.h
Owners: none

[ROSTESTS] Remove definitions of __ROS_LONG64__ in testlist.c
  modules/rostests/apitests/advapi32/testlist.c
  modules/rostests/apitests/advpack/testlist.c
  modules/rostests/apitests/browseui/testlist.c
  modules/rostests/apitests/com/testlist.c
  modules/rostests/apitests/crypt32/testlist.c
  modules/rostests/apitests/dciman32/testlist.c
  modules/rostests/apitests/fltlib/testlist.c
  modules/rostests/apitests/gdi32/testlist.c
  modules/rostests/apitests/iphlpapi/testlist.c
  modules/rostests/apitests/kernel32/testlist.c
  modules/rostests/apitests/localspl/testlist.c
  modules/rostests/apitests/msvcrt/testlist.c
  modules/rostests/apitests/netapi32/testlist.c
  modules/rostests/apitests/ntdll/testlist.c
  modules/rostests/apitests/ole32/testlist.c
  modules/rostests/apitests/opengl32/testlist.c
  modules/rostests/apitests/pefile/testlist.c
  modules/rostests/apitests/powrprof/testlist.c
  modules/rostests/apitests/psapi/testlist.c
  modules/rostests/apitests/rtl/testlist.c
  modules/rostests/apitests/sdk/testlist.c
  modules/rostests/apitests/setupapi/testlist.c
  modules/rostests/apitests/shell32/testlist.c
  modules/rostests/apitests/spoolss/testlist.c
  modules/rostests/apitests/umkm/testlist.c
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/userenv/testlist.c
  modules/rostests/apitests/uxtheme/testlist.c
  modules/rostests/apitests/win32nt/testlist.c
  modules/rostests/apitests/winhttp/testlist.c
  modules/rostests/apitests/wininet/testlist.c
  modules/rostests/apitests/winprint/testlist.c
  modules/rostests/apitests/winspool/testlist.c
  modules/rostests/apitests/wlanapi/testlist.c
  modules/rostests/apitests/ws2_32/testlist.c
  modules/rostests/drivers/tcpip/testlist.c
  modules/rostests/regtests/bugs/testlist.c
  modules/rostests/regtests/crt/testlist.c
  modules/rostests/regtests/gdi/testlist.c
Owners: none

[KERNEL32][KERNEL32_VISTA] .spec: Fix QueryFullProcessImageName*() param type
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
Owners: none

[KMTESTS] KmtAreInterruptsEnabled(): Be explicit about architectures
  modules/rostests/kmtests/include/kmt_test_kernel.h
Owners: @ThFabba

[APPHELP] Add basic support for wildcard matching
  dll/appcompat/apphelp/hsdb.c
Owners: @learn-more

[XML2SDB] Add basic support for including/excluding shims based on platform
  dll/appcompat/apphelp/sdbstringtable.c
  dll/appcompat/apphelp/sdbwrite.c
  media/sdb/CMakeLists.txt
  media/sdb/sysmain.xml
  sdk/tools/xml2sdb/main.cpp
  sdk/tools/xml2sdb/xml2sdb.cpp
  sdk/tools/xml2sdb/xml2sdb.h
Owners: @learn-more

[ACGENRAL] Add partial shim for msys2 hacks
  dll/appcompat/shims/genral/CMakeLists.txt
  dll/appcompat/shims/genral/msys2.S
  dll/appcompat/shims/genral/msys2.c
  media/sdb/sysmain.xml
Owners: @learn-more

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
