Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[CODEREVIEW]
  drivers/bus/pcix/arb/tr_irq.c
  drivers/bus/pcix/device.c
  drivers/bus/pcix/enum.c
Owners: none

[CODEREVIEW]
  sdk/include/ddk/d3dkmddi.h
Owners: none

[CODEREVIEW]
  sdk/include/ddk/dispmprt.h
Owners: none

[CODEREVIEW}
  drivers/bus/pcix/enum.c
Owners: none

[CODEREIVEW[
  sdk/include/ddk/dispmprt.h
Owners: none

[CODEREVIEW]
  sdk/include/ddk/dispmprt.h
Owners: none

[SDK] Create dispmprt.h and expand d3dkmddi.h (#9403)
  sdk/include/ddk/d3dkmddi.h
  sdk/include/ddk/dispmprt.h
  sdk/include/psdk/d3dukmdt.h
Owners: none

[PCIX] Preperation for initial PCIX Arbiters to be enabled (#9479)
  drivers/bus/pcix/arb/tr_irq.c
  drivers/bus/pcix/device.c
  drivers/bus/pcix/enum.c
Owners: none

[PCIX] Fix newline format
  drivers/bus/pcix/arb/tr_irq.c
Owners: none

[SDK] d3dkmddi.h: Fix newline format
  sdk/include/ddk/d3dkmddi.h
Owners: none

[RTL] Partly implement retirement logic
  sdk/lib/rtl/heap_lfh.c
  sdk/lib/rtl/heap_lfh.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[ARBITER] Resolve ARBITER_RANGE_SHARED_DRIVER, fixes compat with Vista+
  sdk/lib/drivers/arbiter/arbiter.h
Owners: none

[NTOS:IO] Finish the initial impl of the Root Arbiters
  ntoskrnl/io/pnpmgr/arb/arbbus.c
  ntoskrnl/io/pnpmgr/arb/arbdma.c
  ntoskrnl/io/pnpmgr/arb/arbmem.c
  ntoskrnl/io/pnpmgr/arb/arbport.c
  sdk/lib/drivers/arbiter/arbiter.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[WS2_32_APITEST] Attempt to fix receive timeouts ROSTESTS-421
  modules/rostests/apitests/ws2_32/recv.c
Owners: none

[ROSBRAND] Add branding library
  dll/CMakeLists.txt
  dll/branding/CMakeLists.txt
  dll/branding/rosbrand/CMakeLists.txt
  dll/branding/rosbrand/resources/bmp/brand_banner.bmp
  dll/branding/rosbrand/resources/bmp/brand_bannerline.bmp
  dll/branding/rosbrand/resources/svg/brand_banner.svg
  dll/branding/rosbrand/resources/svg/brand_bannerline.svg
  dll/branding/rosbrand/rosbrand.rc
  sdk/include/reactos/rosbrand.h
Owners: none

[SHELL32] Use new branding library
  dll/win32/shell32/bitmap_res.rc
  dll/win32/shell32/res/bitmaps/line.bmp
  dll/win32/shell32/res/bitmaps/reactos.bmp
  dll/win32/shell32/shresdef.h
  dll/win32/shell32/wine/shell32_main.c
Owners: @learn-more, @yagoulas

[SYSSETUP] Use new branding library
  dll/win32/syssetup/install.c
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/resources/line.bmp
  dll/win32/syssetup/resources/reactos.bmp
  dll/win32/syssetup/syssetup.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[MSGINA] Use new branding library
  dll/win32/msgina/gui.c
  dll/win32/msgina/lang/bg-BG.rc
  dll/win32/msgina/lang/cs-CZ.rc
  dll/win32/msgina/lang/de-DE.rc
  dll/win32/msgina/lang/en-US.rc
  dll/win32/msgina/lang/es-ES.rc
  dll/win32/msgina/lang/fr-FR.rc
  dll/win32/msgina/lang/he-IL.rc
  dll/win32/msgina/lang/hu-HU.rc
  dll/win32/msgina/lang/id-ID.rc
  dll/win32/msgina/lang/it-IT.rc
  dll/win32/msgina/lang/ja-JP.rc
  dll/win32/msgina/lang/no-NO.rc
  dll/win32/msgina/lang/pl-PL.rc
  dll/win32/msgina/lang/pt-PT.rc
  dll/win32/msgina/lang/ro-RO.rc
  dll/win32/msgina/lang/ru-RU.rc
  dll/win32/msgina/lang/sk-SK.rc
  dll/win32/msgina/lang/sq-AL.rc
  dll/win32/msgina/lang/tr-TR.rc
  dll/win32/msgina/lang/uk-UA.rc
  dll/win32/msgina/lang/zh-CN.rc
  dll/win32/msgina/lang/zh-HK.rc
  dll/win32/msgina/lang/zh-TW.rc
  dll/win32/msgina/msgina.h
  dll/win32/msgina/msgina.rc
  dll/win32/msgina/resource.h
  dll/win32/msgina/resources/line.bmp
  dll/win32/msgina/resources/reactos.bmp
  dll/win32/msgina/resources/svg/line.svg
  dll/win32/msgina/resources/svg/reactos.svg
  dll/win32/msgina/shutdown.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NTOS:IO][SDK] Fix RtlFindRange truncation, use the Vista+ Sig
  ntoskrnl/ntoskrnl.spec
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/drivers/arbiter/range.c
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer, @learn-more

pull/9482 [ARBITER] Resolve ARBITER_RANGE_SHARED_DRIVER, fixes compat with Vista+ [NTOS:IO] Finish the initial impl of the Root Arbiters [NTOS:IO][SDK] Fix RtlFindRange truncation, use the Vista+ Sig
  ntoskrnl/io/pnpmgr/arb/arbbus.c
  ntoskrnl/io/pnpmgr/arb/arbdma.c
  ntoskrnl/io/pnpmgr/arb/arbmem.c
  ntoskrnl/io/pnpmgr/arb/arbport.c
  ntoskrnl/ntoskrnl.spec
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/drivers/arbiter/arbiter.h
  sdk/lib/drivers/arbiter/range.c
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer, @learn-more

[WS2_32_APITEST] Attempt to fix receive test timeouts (#9483)
  modules/rostests/apitests/ws2_32/recv.c
Owners: none

[ARBITER] Finish the Arbiter library
  sdk/lib/drivers/arbiter/CMakeLists.txt
  sdk/lib/drivers/arbiter/arbiter.c
  sdk/lib/drivers/arbiter/arbiter.h
  sdk/lib/drivers/arbiter/entry.c
  sdk/lib/drivers/arbiter/handler.c
  sdk/lib/drivers/arbiter/ordering.c
  sdk/lib/drivers/arbiter/range.c
  sdk/lib/drivers/arbiter/transaction.c
Owners: none

[RTL] Rework LFH block zones to host multiple subsegments
  sdk/lib/rtl/heap_lfh.c
  sdk/lib/rtl/heap_lfh.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[PCI] Fix data type checking for the bus interface (#8939)
  drivers/bus/pci/pdo.c
Owners: none

[MMC] Mmc .msc file launcher (#9468)
  base/applications/mmc/CMakeLists.txt
  base/applications/mmc/mmc.c
  base/applications/mmc/mscfile.c
  base/applications/mmc/precomp.h
  base/applications/mscutils/CMakeLists.txt
  base/applications/mscutils/certlm.msc
  base/applications/mscutils/certmgr.msc
  base/applications/mscutils/compmgmt.msc
  base/applications/mscutils/devmgmt.msc
  base/applications/mscutils/diskmgmt.msc
  base/applications/mscutils/eventvwr.msc
  base/applications/mscutils/lusrmgr.msc
  base/applications/mscutils/services.msc
  boot/bootdata/hivecls.inf
Owners: none

[EXPLORER][SHELL32] Fix crash when tray icon with active balloon is removed (#9332)
  base/shell/explorer/syspager.cpp
  dll/win32/shell32/systray.cpp
Owners: @learn-more, @yagoulas

[FONTS] Substitute Source Sans Pro for Segoe UI
  base/setup/lib/muifonts.h
  boot/bootdata/livecd.inf
Owners: none

[CODEREIVEW]
  ntoskrnl/io/pnpmgr/arb/arbdma.c
  ntoskrnl/io/pnpmgr/arb/arbmem.c
  sdk/lib/drivers/arbiter/range.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CODEREVIEW]
  ntoskrnl/io/pnpmgr/arb/arbport.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CODEREVIEW]
  ntoskrnl/io/pnpmgr/arb/arbmem.c
  ntoskrnl/io/pnpmgr/arb/arbport.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Lunar caption buttons now use separate backgrounds and glyphs
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CAPTIONBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH12.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH13.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH19.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH23.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH6.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPH9.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON_GLYPH13.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON_GLYPH19.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON_GLYPH23.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON_GLYPH6.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_HELPBUTTON_GLYPH9.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH12.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH13.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH19.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH23.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH6.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MAXBUTTON_GLYPH9.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH12.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH13.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH19.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH23.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH6.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_MINBUTTON_GLYPH9.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON_GLYPH13.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON_GLYPH19.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON_GLYPH23.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON_GLYPH6.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_RESTOREBUTTON_GLYPH9.bmp
  media/themes/Lunar/lunar.msstyles/lunar.rc
  media/themes/Lunar/lunar.msstyles/textfiles/ExtraLargeReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/LargeFontsReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Owners: none

Fix incorrect restore button glyphs
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Owners: none

Fix image name ordering in `lunar.rc`
  media/themes/Lunar/lunar.msstyles/lunar.rc
Owners: none

[NTOS:IO][ARBITER][SDK] Finish the root arbiters and fix some compatibility divergences (#9482)
  ntoskrnl/io/pnpmgr/arb/arbbus.c
  ntoskrnl/io/pnpmgr/arb/arbdma.c
  ntoskrnl/io/pnpmgr/arb/arbmem.c
  ntoskrnl/io/pnpmgr/arb/arbport.c
  ntoskrnl/ntoskrnl.spec
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/drivers/arbiter/arbiter.h
  sdk/lib/drivers/arbiter/range.c
  sdk/lib/rtl/rangelist.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer, @learn-more

[MSHTML] Fix random test failure of htmldoc CORE-14606
  dll/win32/mshtml/mshtml_private.h
  dll/win32/mshtml/navigate.c
  dll/win32/mshtml/nsembed.c
Owners: none

[FREELDR] Initial implementation of the Red Screen of Hell popup
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/include/ui/tui.h
  boot/freeldr/freeldr/ui/tui.c
Owners: @tkreuzer, @Extravert-ir

[SDK] Don't use empty string defaultvalue for BSTR arguments
  sdk/include/psdk/msxml2.idl
  sdk/include/psdk/msxml6.idl
Owners: none

Fix `Window.SmallCloseButton`
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CAPTIONBUTTON_BACKGROUND.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CAPTIONBUTTON_BACKGROUNDSMALL.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_CLOSEBUTTON_GLYPHSMALL.bmp
  media/themes/Lunar/lunar.msstyles/bitmaps/REACTOS_SMALLCLOSEBUTTON.bmp
  media/themes/Lunar/lunar.msstyles/lunar.rc
  media/themes/Lunar/lunar.msstyles/textfiles/ExtraLargeReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/LargeFontsReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Owners: none

Fix `Window.SmallCloseButton` 2: System Metrics Boogaloo
  media/themes/Lunar/lunar.msstyles/textfiles/ExtraLargeReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/LargeFontsReactOS.INI
  media/themes/Lunar/lunar.msstyles/textfiles/NormalReactOS.INI
Owners: none

[LOCALSPL] Implement AddPrinter, DeletePrinter and SetPrinter
  win32ss/printing/providers/localspl/main.c
  win32ss/printing/providers/localspl/ports.c
  win32ss/printing/providers/localspl/precomp.h
  win32ss/printing/providers/localspl/printerdrivers.c
  win32ss/printing/providers/localspl/printers.c
Owners: @ColinFinck

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
