Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[HALX86:APIC] Support multiple I/O APICs and backup redirection table
  hal/halx86/acpi/madt.c
  hal/halx86/apic/apic.c
  hal/halx86/apic/apicp.h
  hal/halx86/apic/apictrap.S
  hal/halx86/generic/misc.c
  hal/halx86/include/smp.h
Owners: @ThFabba, @tkreuzer

address review comment
  drivers/network/dd/nvnet/netnv.inf
Owners: @ThFabba

address comments
  drivers/network/ndis/ndis/config.c
  drivers/network/ndis/ndis/main.c
Owners: @ThFabba

[SHELL32] Implement CDefaultContextMenu DFM_MAPCOMMANDNAME callback
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
Owners: @learn-more, @yagoulas

dont show white icons when opening NetBeans file chooser
  dll/win32/shell32/CExtractIcon.cpp
  dll/win32/shell32/iconcache.cpp
Owners: @learn-more, @yagoulas

[NTOS:OB] Stub the ObGetObjectType prototype
  ntoskrnl/ob/oblife.c
  sdk/include/ndk/obfuncs.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[MMC_NEW] Add missing toolbar buttons, add tool tips and improve toolbar bitmap
  base/applications/mmc_new/CMainWnd.cpp
  base/applications/mmc_new/CMainWnd.h
  base/applications/mmc_new/lang/en-US.rc
  base/applications/mmc_new/resource.h
  base/applications/mmc_new/resources/toolbar.bmp
Owners: none

[APITESTS:NPFS] Add GetConnectionAttributes
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/npfs/CMakeLists.txt
  modules/rostests/apitests/npfs/GetConnectionAttributes.c
Owners: none

[SDK] Add IOCTLs for pipe connection attributes
  sdk/include/ndk/iotypes.h
Owners: none

[MMC_NEW] Display menu item information in the status bar
  base/applications/mmc_new/CConsoleWnd.cpp
  base/applications/mmc_new/CConsoleWnd.h
  base/applications/mmc_new/CMainWnd.cpp
  base/applications/mmc_new/CMainWnd.h
  base/applications/mmc_new/lang/en-US.rc
Owners: none

Use 0 as the first cmd id
  dll/win32/shell32/folders/CDrivesFolder.cpp
Owners: @learn-more, @yagoulas

fix
  drivers/network/ndis/ndis/config.c
Owners: @ThFabba

[USBPORT] Unqueue and close a pipe that timed out before freeing it
  drivers/usb/usbport/endpoint.c
Owners: @ThFabba, @Extravert-ir

[USBHUB] Read the port status again after a retry reset
  drivers/usb/usbhub/pnp.c
Owners: @ThFabba, @Extravert-ir

[USBEHCI] Build the 32-bit frame number from the ISR's high part
  drivers/usb/usbehci/usbehci.c
Owners: @ThFabba, @Extravert-ir

[I8042PRT] Accept controller ports on the mouse when no keyboard is reported
  drivers/input/i8042prt/pnp.c
Owners: none

apply suggestion
  drivers/network/ndis/ndis/config.c
Owners: @ThFabba

[SNDVOL32] Implement keyboard handling of the sliders
  base/applications/sndvol32/sndvol32.c
Owners: none

[UCRT] Fix multiply_64_32 on GCC/i386
  sdk/lib/ucrt/inc/corecrt_internal_big_integer.h
Owners: none

[UCRTBASE_APITEST] Add tests for double <-> string conversion
  modules/rostests/apitests/ucrtbase/CMakeLists.txt
  modules/rostests/apitests/ucrtbase/float_conversion.c
  modules/rostests/apitests/ucrtbase/testlist.c
Owners: none

[NTDLL] Add basic support for .NET images to the loader
  dll/ntdll/CMakeLists.txt
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrcor.c
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[HDAUDIO] Implement generic HD audio miniport driver CORE-9882
  drivers/wdm/audio/drivers/CMIDriver/minwavetables.hpp
  drivers/wdm/audio/drivers/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/guid.cpp
  drivers/wdm/audio/drivers/hdaudio/hda_verbs.h
  drivers/wdm/audio/drivers/hdaudio/hdaudio.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
  drivers/wdm/audio/drivers/hdaudio/hdaudio.rc
  drivers/wdm/audio/drivers/hdaudio/miniport.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  drivers/wdm/audio/drivers/hdaudio/prophnd.cpp
  drivers/wdm/audio/drivers/hdaudio/purecall.cpp
  drivers/wdm/audio/drivers/hdaudio/quirks.cpp
  drivers/wdm/audio/drivers/hdaudio/stream.cpp
  drivers/wdm/audio/drivers/hdaudio/tables.h
  drivers/wdm/audio/drivers/hdaudio/topology.cpp
  sdk/include/ddk/portcls.h
  sdk/include/psdk/ksmedia.h
Owners: none

[NPFS] Partial implementation for FSCTL_PIPE_GET_CONNECTION_ATTRIBUTE CORE-17834
  drivers/filesystems/npfs/fsctrl.c
  drivers/filesystems/npfs/npfs.h
Owners: @HeisSpiter

[AUDIO_TEST] Remove Libsamplerate dependency It wasn't even used before, so it definitely makes no sense to have unused dependency. CORE-9344, CORE-15693, CORE-15714, CORE-17762, CORE-20639
  drivers/wdm/audio/backpln/audio_test/CMakeLists.txt
Owners: none

[MMENT4][SNDBLST] Fix build Include additional header files which are required by newly-added data types in mmebuddy.h. CORE-9344, CORE-15693, CORE-15714, CORE-17762, CORE-20639
  dll/win32/sndblst/sndblst.c
  sdk/lib/drivers/sound/mment4/precomp.h
Owners: none

[PCIX] Offer resizable BARs at the largest size the machine can place
  drivers/bus/pcix/CMakeLists.txt
  drivers/bus/pcix/enum.c
  drivers/bus/pcix/pci.h
  drivers/bus/pcix/pci/rbar.c
Owners: none

[PCIX] Record the hot plug parameters the firmware reports through _HPP
  drivers/bus/pcix/fdo.c
Owners: none

[PCIX] Apply the firmware hot plug parameters to a hot plugged device
  drivers/bus/pcix/enum.c
Owners: none

[PCIX] Read the root bus _OSC result from the ACPI bus interface
  drivers/bus/pcix/pci.h
  drivers/bus/pcix/pci/config.c
Owners: none

[NTDLL] Do not look up _CorDllMain twice in LdrpMapDll
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Replace the FIXME about .NET executables with a comment
  dll/ntdll/ldr/ldrinit.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Load mixed-mode .NET images like native DLLs
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Load mscoree.dll from the system directory only
  dll/ntdll/ldr/ldrcor.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Replace the FIXMEs about .NET images in LdrpMapDll with comments
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Tell the CLR when a .NET image is unloaded
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrapi.c
  dll/ntdll/ldr/ldrcor.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Check the COR header of .NET images in the loader
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrcor.c
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Validate .NET images in the loader only
  dll/ntdll/include/ntdllp.h
  dll/ntdll/ldr/ldrcor.c
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Warn about .NET executables that do not import mscoree
  dll/ntdll/ldr/ldrinit.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL_APITEST] Add tests for loading .NET images
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/LdrCorImage.c
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

[SDK] Fix NETCFG_S_* error codes (#9593)
  sdk/include/psdk/netcfgx.h
Owners: none
