Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
  modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[NTOS:KE] Make KeFlushQueuedDpcs SMP ready
  ntoskrnl/ke/dpc.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[WIN32K] Fix protection of USER heap
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/usrheap.c
Owners: none

[OLDNAMES] Add _CRT_NONSTDC_NO_DEPRECATE interface definitions
  sdk/include/crt/_mingw.h
  sdk/lib/crt/oldnames.cmake
Owners: none

[REACTOS] Use standard conforming names
  base/applications/cmdutils/attrib/attrib.c
  base/shell/cmd/set.c
  dll/win32/shell32/folders/CFSFolder.cpp
  modules/rosapps/applications/cmdutils/cat/cat.c
  sdk/include/crt/unistd.h
  sdk/include/reactos/wine/port.h
  sdk/lib/crt/printf/_sxprintf.c
  sdk/lib/crt/printf/streamout.c
  sdk/lib/crt/startup/crtexe.c
  sdk/lib/crt/startup/pseudo-reloc.c
Owners: @learn-more, @yagoulas

[REACTOS] Improve handling of non-standard names
  base/services/dhcpcsvc/CMakeLists.txt
  dll/3rdparty/libtirpc/CMakeLists.txt
  dll/cpl/appwiz/CMakeLists.txt
  dll/win32/kernel32/winnls/string/locale.c
  dll/win32/shell32/CMakeLists.txt
  dll/win32/wininet/CMakeLists.txt
  drivers/filesystems/ext2/CMakeLists.txt
  modules/rosapps/applications/cmdutils/touch/CMakeLists.txt
  modules/rosapps/applications/net/ncftp/CMakeLists.txt
  sdk/include/crt/crtdefs.h
  sdk/include/crt/string.h
  sdk/lib/3rdparty/stlport/CMakeLists.txt
  sdk/lib/3rdparty/zlib/CMakeLists.txt
  sdk/lib/gcc-compat/CMakeLists.txt
  sdk/lib/rtl/actctx.c
  sdk/tools/wpp/CMakeLists.txt
Owners: @learn-more, @yagoulas, @HeisSpiter, @ThFabba, @tkreuzer

[RTL] actctx.c: rename RefCount back to ref_count like in wine
  sdk/lib/rtl/actctx.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTOS:CC] Track VACB dirty data
  ntoskrnl/cc/copy.c
  ntoskrnl/cc/pin.c
  ntoskrnl/cc/view.c
  ntoskrnl/include/internal/cc.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Update tr-TR.rc
  base/applications/mspaint/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/rapps/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[FREELDR] Minimally reformat include/fs/iso.h
  boot/freeldr/freeldr/include/fs/iso.h
Owners: @tkreuzer, @Extravert-ir

[FREELDR] iso.h: Fix definition of the "Primary Volume Descriptor" PVD structure (#7367)
  boot/freeldr/freeldr/include/fs/iso.h
Owners: @tkreuzer, @Extravert-ir

[FREELDR] iso.c: Perform extra validation before mounting the ISO filesystem (#7367)
  boot/freeldr/freeldr/lib/fs/iso.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Fix the seg:off values when dumping the extended drive parameters (#7367)
  boot/freeldr/freeldr/arch/i386/pc/pcdisk.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] i386/pc/pcdisk.c: Fix LBA reads retry loop (#7367)
  boot/freeldr/freeldr/arch/i386/pc/pcdisk.c
Owners: @tkreuzer, @Extravert-ir

Update tr-TR.rc
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[FREELDR][NDK][X64] Remove KIP0PCRADDRESS definition and mapping
  boot/freeldr/freeldr/include/arch/amd64/amd64.h
  boot/freeldr/freeldr/ntldr/arch/amd64/winldr.c
  sdk/include/ndk/amd64/ketypes.h
Owners: @tkreuzer

[MATRIX] Improve Romanian (ro-RO) translation (#7362)
  modules/rosapps/applications/screensavers/matrix/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  base/applications/mscutils/eventvwr/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update modules/rosapps/applications/devutils/vgafontedit/lang/ro-RO.rc
  modules/rosapps/applications/devutils/vgafontedit/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  modules/rosapps/applications/screensavers/butterflies/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  modules/rosapps/applications/screensavers/butterflies/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[MSPAINT] Update Turkish (tr-TR) translation
  base/applications/mspaint/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Set new header
  base/applications/notepad/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Add Turkish IME File
  dll/ime/msctfime/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Add Turkish IME File Integration
  dll/ime/msctfime/msctfime.rc
Owners: none

Update ro-RO.rc
  dll/win32/ieframe/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ro-RO.rc
  modules/rosapps/applications/screensavers/mazescr/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[0.4.15][FASTFAT] allocsup.c assert-muting, a DIRRTY workaround CORE-19741
  drivers/filesystems/fastfat/allocsup.c
Owners: @HeisSpiter

Add missing accel keys and fix accel collisions.
  dll/win32/shell32/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[FREELDR] Undo the Hermes suggestion from previous commit with the %s stripping
  boot/freeldr/freeldr/arch/i386/i386bug.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Recreate PR7269 from scratch on top of last 0.4.15-dev-commit 945e856031137b566e616248e2f80c92be807c45
  boot/freeldr/freeldr/arch/i386/i386bug.c
Owners: @tkreuzer, @Extravert-ir

[MSPAINT] Update Turkish (tr-TR) translation (#7371)
  base/applications/mspaint/lang/tr-TR.rc
Owners: @reactos/lang-turkish
