Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[NTOS:KE] Implement KiFindIdealProcessor
  ntoskrnl/include/internal/ke.h
  ntoskrnl/ke/thrdobj.c
  ntoskrnl/ke/thrdschd.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KE] Select proper processor in KiDeferredReadyThread
  ntoskrnl/ke/thrdschd.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CODEOWNERS] add myself to codeowners for directx
  CODEOWNERS
Owners: none

[CODEOWNERS] add myself to codeowners for directx (#7816)
  CODEOWNERS
Owners: none

[UCRTBASE] Implement simplistic versions of some stubs
  dll/win32/ucrtbase/stubs.c
Owners: none

[PSEH] Make x64 PSEH independent of SDK headers
  sdk/lib/pseh/include/pseh/pseh2_64.h
Owners: none

[UCRTBASE] Build without debug exports
  dll/win32/ucrtbase/CMakeLists.txt
  sdk/lib/ucrt/CMakeLists.txt
  sdk/lib/ucrt/heap/heap.cmake
  sdk/lib/ucrt/misc/misc.cmake
  sdk/lib/ucrt/stdlib/stdlib.cmake
Owners: none

[UCRTBASE_WINETEST] Import ucrtbase_winetest from wine-10.0
  modules/rostests/winetests/ucrtbase/cpp.c
  modules/rostests/winetests/ucrtbase/environ.c
  modules/rostests/winetests/ucrtbase/file.c
  modules/rostests/winetests/ucrtbase/misc.c
  modules/rostests/winetests/ucrtbase/printf.c
  modules/rostests/winetests/ucrtbase/scanf.c
  modules/rostests/winetests/ucrtbase/string.c
  modules/rostests/winetests/ucrtbase/thread.c
  modules/rostests/winetests/ucrtbase/threaddll.c
  modules/rostests/winetests/ucrtbase/threaddll.h
  modules/rostests/winetests/ucrtbase/threaddll.spec
Owners: @ThFabba

[CMAKE] Support WITH_DBG and NO_DBG overrides in spec2def
  sdk/cmake/gcc.cmake
  sdk/cmake/msvc.cmake
Owners: none

[UCRTBASE_WINETEST] Fix and add to build
  modules/rostests/winetests/CMakeLists.txt
  modules/rostests/winetests/ucrtbase/CMakeLists.txt
  modules/rostests/winetests/ucrtbase/file.c
  modules/rostests/winetests/ucrtbase/testlist.c
  modules/rostests/winetests/ucrtbase/thread.c
  modules/rostests/winetests/ucrtbase/ucrtbase_winetest.rc
Owners: @ThFabba

[UCRTBASE] Fix broken imports from ntdll
  dll/win32/ucrtbase/CMakeLists.txt
  dll/win32/ucrtbase/printf.c
Owners: none

[VCSTARTUP] Implement atexit and _onexit
  sdk/lib/vcruntime/CMakeLists.txt
  sdk/lib/vcruntime/_onexit.c
  sdk/lib/vcruntime/atexit.c
  sdk/lib/vcruntime/inc/internal_shared.h
Owners: none

[OLDNAMES] Fix up for ucrtbase
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/include/asm/alias.inc
  sdk/lib/crt/oldnames-common.S
  sdk/lib/crt/oldnames-msvcrt.S
  sdk/lib/crt/oldnames.cmake
Owners: none

Update modules/rostests/apitests/shell32/PathProcessCommand.cpp
  modules/rostests/apitests/shell32/PathProcessCommand.cpp
Owners: none

PPCF_NODIRECTORIES
  modules/rostests/apitests/shell32/PathProcessCommand.cpp
Owners: none

[SHELL32_APITEST] Add PathProcessCommand testcase (#7815)
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/PathProcessCommand.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: none

Update win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/font.c
Owners: none

use _SEH2_GetExceptionCode
  win32ss/gdi/gdi32/objects/font.c
Owners: none

[GDI32] Implement RemoveFontResourceExA (#7813)
  win32ss/gdi/gdi32/objects/font.c
Owners: none

ClearHistory
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/main.cpp
Owners: none

[MSPAINT] Improve behaviour on memory shortage (#7780)
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/dib.cpp
  base/applications/mspaint/history.cpp
  base/applications/mspaint/main.cpp
Owners: none

[RICHED20] DevCpp License 'enter' crash fix Partial Wine Sync of txthost.c function RichEditWndProc_common. CORE-19991
  dll/win32/riched20/txthost.c
Owners: none

[NDK] Minor header improvements
  sdk/include/ndk/rtlfuncs.h
  sdk/include/ndk/sefuncs.h
Owners: none

[NDK] Add some Vista+ Rtl locale functions
  sdk/include/ndk/rtlfuncs.h
Owners: none

[NTDLL_APITEST] Add test for Rtl locale functions
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlLocale.c
  modules/rostests/apitests/ntdll/testlist.c
Owners: none

[RTL] Implement locale functions/tables
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/locale.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTDLL] Export RTL locale functions
  dll/ntdll/def/ntdll.spec
  dll/ntdll/ldr/ldrinit.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[NTOS:MM] Remove some obsolete declarations
  ntoskrnl/include/internal/mm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Forward MmLocateMemoryAreaByAddress to MmLocateMemoryAreaByRegion
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Remove obsolete code path
  ntoskrnl/mm/ARM3/procsup.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Add MmIsAddressRangeFree helper function
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/marea.c
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Add macros to determine whether a VAD is a MEMORY_AREA
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/ARM3/vadnode.c
  ntoskrnl/mm/ARM3/virtual.c
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Mark RosMm memory areas
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/procsup.c
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

WIP Add more checks for MEMORY_AREA_OWNED_BY_ARM3
  ntoskrnl/cache/section/data.c
  ntoskrnl/mm/ARM3/virtual.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Stop using memory areas in MmAccessFault
  ntoskrnl/mm/ARM3/miarm.h
  ntoskrnl/mm/ARM3/vadnode.c
  ntoskrnl/mm/mmfault.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Stop inserting fake MEMORY_AREAs for ARM³ VADs
  ntoskrnl/mm/ARM3/vadnode.c
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Use StartingVpn instead of Vad member to check for user/kernel
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Do not update ARM³ owned memory area
  ntoskrnl/mm/ARM3/virtual.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Add an ASSERT
  ntoskrnl/mm/ARM3/virtual.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Remove Vad pointer from MEMORY_AREA
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/marea.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer
