Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

improve 3
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
Owners: @learn-more, @yagoulas

fix ShellExec_RunDLLA/W
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

move to shlexec.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellpath.c
Owners: @learn-more, @yagoulas

delete excessive prototype from utils.h
  dll/win32/shell32/utils.h
Owners: @learn-more, @yagoulas

Changes based on reviewer comments.
  modules/rostests/rosautotest/main.cpp
Owners: none

[ACPI] Remove section assignment from IOCTL handlers
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
Owners: @ThFabba

Revert "[FREELDR] Pass the correct ACPI table for Windows (#7486)"
  boot/freeldr/freeldr/arch/i386/hwacpi.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/freeldr.spec
  boot/freeldr/freeldr/include/arch/pc/hardware.h
  boot/freeldr/freeldr/include/hwacpi.h
  boot/freeldr/freeldr/include/ntldr/winldr.h
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/wlmemory.c
Owners: @tkreuzer, @Extravert-ir

[AVRF] WIP Partially implement a workaround for wine's statically initialized critical sections
  dll/ntdll/ldr/verifier.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[KERNEL32] Add debug info to statically initialized critical section
  dll/win32/kernel32/winnls/string/locale.c
Owners: none

[APPHELP_APITEST] Make the test less strict + ensure it passes on Win11
  modules/rostests/apitests/apphelp/apphelp.c
Owners: none

[NTDLL] check for NULL buffer in LdrpLoadDll
  dll/ntdll/ldr/ldrutils.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RPCRT4] Add SEH to avoid leaking locks / memory
  dll/win32/rpcrt4/ndr_contexthandle.c
Owners: none

[HAL][NTOS] Implement x64 SMP startup code
  hal/halx86/smp/amd64/apentry.S
  hal/halx86/smp/amd64/spinup.c
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/kiinit.c
  ntoskrnl/ke/amd64/mproc.c
  sdk/include/asm/ksamd64.template.h
Owners: @tkreuzer

[NTOS:KE/x64] Move initialization of KeActiveProcessors
  ntoskrnl/ke/amd64/kiinit.c
Owners: @tkreuzer

[HALx86] Mask profiling interrupt on init
  hal/halx86/apic/apictimer.c
Owners: @tkreuzer

[HAL] Use physical addressing in HalEnableSystemInterrupt
  hal/halx86/apic/apic.c
Owners: @tkreuzer

[NTOS:KE/x64] Lower IRQL to passive while running idle function
  ntoskrnl/ke/amd64/stubs.c
Owners: @tkreuzer

[NTOS:KE/x64] Ignore DPCs from the idle loop
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/traphandler.c
Owners: @tkreuzer

[NTOS:IO] Fix affinity of PsInitialSystemProcess
  ntoskrnl/ex/init.c
  ntoskrnl/io/iomgr/iomgr.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

HACK HACK HACK: disable an ASSERT
  ntoskrnl/mm/ARM3/virtual.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KE] Handle SwapBusy in x64 KiIdleLoop
  ntoskrnl/include/internal/ke_x.h
  ntoskrnl/ke/amd64/stubs.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

WIP KiIdleLoop PrcbLock
  ntoskrnl/ke/amd64/stubs.c
Owners: @tkreuzer

WIP add a bunch of ASSERTs
  ntoskrnl/ke/thrdschd.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

WIP [NTOS:KE/x64] Properly handle KiIdleSummary
  ntoskrnl/ke/amd64/krnlinit.c
  ntoskrnl/ke/amd64/stubs.c
Owners: @tkreuzer

WIP [NTOS:KE/x64] Handle NewThread == OldThread in KiIdleLoop
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/traphandler.c
  ntoskrnl/ke/thrdschd.c
Owners: @tkreuzer, @HeisSpiter, @ThFabba

HACK [BOOTDATA] Make setup boot with MP
  boot/bootdata/bootcd.ini
Owners: none

Use a more bloated version check, as requested
  modules/rostests/apitests/user32/PrivateExtractIcons.c
Owners: none

debug
  dll/win32/comctl32/imagelist.c
  dll/win32/comctl32/toolbar.c
  sdk/lib/rtl/heap.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

test
  dll/win32/scrrun/widl.i6hnaa
  dll/win32/vbscript/widl.8MUdaa
  dll/win32/vbscript/widl.ATUdaa
  modules/rostests/apitests/shell32/testlist.c
Owners: none

Fix backspace button behavior in win32 shell browser
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

Update dll/win32/browseui/shellbrowser.cpp
  dll/win32/browseui/shellbrowser.cpp
Owners: @learn-more, @yagoulas

[VIDEOPRT] Write monitor EDID to registry
  win32ss/drivers/videoprt/child.c
Owners: none

[SHELL32] CFolderOptions Reset can call DefView directly if there is no browser (#7806)
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CFolderOptions.cpp
  dll/win32/shell32/CFolderOptions.h
  dll/win32/shell32/dialogs/view.cpp
Owners: @learn-more, @yagoulas

[STOBJECT] Hackfest commit -- TO BE PREPARED IN A PR LATER
  dll/shellext/stobject/lang/en-US.rc
  dll/shellext/stobject/power.cpp
  dll/shellext/stobject/resource.h
Owners: @learn-more

Suggested change
  dll/win32/shell32/dialogs/drive.cpp
Owners: @learn-more, @yagoulas

[NTGDI][GDI32] AddFontResource: Support multiple files
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.h
Owners: none

fixing
  win32ss/gdi/gdi32/objects/font.c
Owners: none

improve last error
  win32ss/gdi/gdi32/objects/font.c
Owners: none

delete ASSERT(FALSE) in freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none
