Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update pl-PL.rc
  base/applications/mscutils/servman/lang/pl-PL.rc
Owners: @reactos/lang-polish

[NETSHELL][SAMSRV] Fix "reqired" -> "required" typo
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/cs-CZ.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/hi-IN.rc
  dll/shellext/netshell/lang/hu-HU.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/pl-PL.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/ru-RU.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
  dll/shellext/netshell/lang/tr-TR.rc
  dll/shellext/netshell/lang/uk-UA.rc
  dll/shellext/netshell/lang/zh-CN.rc
  dll/shellext/netshell/lang/zh-HK.rc
  dll/shellext/netshell/lang/zh-TW.rc
  dll/win32/samsrv/security.c
Owners: @learn-more, @reactos/lang-spanish, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SYSSETUP] Improve French (fr-FR) translation (#8167)
  dll/win32/syssetup/lang/fr-FR.rc
Owners: @reactos/lang-french

Update base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  base/shell/cmd/lang/pl-PL.rc
Owners: @reactos/lang-polish

[NTOS:IO] Implement NtPlugPlayControl.PlugPlayControlDeviceClassAssociation
  ntoskrnl/io/pnpmgr/plugplay.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[PSEH] Strange hack to handle in x64 Linux compilations
  sdk/lib/pseh/include/pseh/pseh2.h
Owners: none

Update base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pl-PL.rc
Owners: @reactos/lang-polish

Fix header
  base/applications/cmdutils/taskkill/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/network/tracert/lang/pl-PL.rc
  base/applications/network/tracert/lang/pl-PL.rc
Owners: @reactos/lang-polish

[SYSTEMINFO] Review translations (#8169)
  modules/rosapps/applications/sysutils/systeminfo/lang/de-DE.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/en-US.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/es-ES.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/fr-FR.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/it-IT.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/ja-JP.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/no-NO.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/pl-PL.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/ro-RO.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/ru-RU.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/sk-SK.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/tr-TR.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/uk-UA.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/zh-CN.rc
  modules/rosapps/applications/sysutils/systeminfo/lang/zh-TW.rc
  modules/rosapps/applications/sysutils/systeminfo/systeminfo.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SYSTEMINFO] Do some code lift-up; use Conutils lib to be able to display localized unicode strings
  modules/rosapps/applications/sysutils/systeminfo/CMakeLists.txt
  modules/rosapps/applications/sysutils/systeminfo/rsrc.rc
  modules/rosapps/applications/sysutils/systeminfo/systeminfo.c
  modules/rosapps/applications/sysutils/systeminfo/systeminfo.rc
Owners: none

[PSDK] Update commctrl.h
  sdk/include/psdk/commctrl.h
Owners: none

[UXTHEME] Add uxtheme_vista.dll
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/system.c
  sdk/include/psdk/uxtheme.h
Owners: none

[PSDK] Update winuser.h
  sdk/include/psdk/winuser.h
Owners: none

[WINE] debug.h: Add debugstr_fourcc
  dll/directx/wine/d3dxof/parsing.c
  dll/directx/wine/dmusic/dmusic_main.c
  dll/directx/wine/dmusic/dmusic_private.h
  sdk/include/reactos/wine/debug.h
Owners: none

[WINESYNC] comctl32/button: Keep control style.
  dll/win32/comctl32/button.c
Owners: none

[PSDK] Import prsht.h from wine-10.0
  dll/cpl/appwiz/createlink.c
  sdk/include/psdk/prsht.h
Owners: none

[WINESYNC] comctl32/button: Remove style checking when handling BM_SETIMAGE.
  dll/win32/comctl32/button.c
Owners: none

[PSDK] Add uiautomationclient.idl and uiautomationcore.idl
  sdk/include/psdk/CMakeLists.txt
  sdk/include/psdk/uiautomationclient.idl
  sdk/include/psdk/uiautomationcore.idl
Owners: none

[WINESYNC] comctl32/button: Improve button data layout compatibility.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_{GET,SET}TEXTMARGIN message.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32: Fix checkbox wrong box alignment with BS_VCENTER.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Use per-window dpi settings.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32: GroupBox can have multiline text.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement BCM_{GET,SET}IMAGELIST message.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Use get_draw_state() helper.
  dll/win32/comctl32/button.c
Owners: none

[COMCTL32] Fix vertical alignment of button text
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Support imagelist rendering.
  dll/win32/comctl32/button.c
Owners: none

FIXME [WINESYNC] comctl32/button: Support displaying both image and text.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Avoid push button content covering frames.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Support text margin rendering.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement NM_CUSTOMDRAW for other themed buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Fix text buffer leak (Coverity).
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement NM_CUSTOMDRAW for other buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Support BCM_GETIDEALSIZE message.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement NM_CUSTOMDRAW for Push Buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement NM_CUSTOMDRAW for themed Push Buttons.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Center align split buttons' text by default.
  dll/win32/comctl32/button.c
Owners: none

[WINESYNC] comctl32/button: Implement NM_CUSTOMDRAW for BS_USERBUTTON.
  dll/win32/comctl32/button.c
Owners: none
