Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[WINDMC] Emit numeric type ID 11 instead of MESSAGETABLE keyword
  sdk/tools/windmc/windmc.c
Owners: none

[WINDMC] CORE-3655 : Normalize message text newlines to CRLF
  sdk/tools/windmc/windmc.c
Owners: none

[CMAKE] Inline message compiler command and restore trailing newline
  sdk/cmake/CMakeMacros.cmake
  sdk/cmake/gcc.cmake
Owners: none

[SDK] update native-windmc license
  sdk/tools/windmc/windmc.c
Owners: none

[WINDMC] Fix generated .h comment text and refresh file header metadata
  sdk/tools/windmc/windmc.c
Owners: none

[WINDMC] Add en-GB language and apply ReactOS coding style
  sdk/tools/windmc/windmc.c
Owners: none

[CTF][SHDOCVW] fix gcc 15 -Werror=overloaded-virtual and uninitialized member
  base/ctf/cicero/cicuif.h
  base/ctf/msctfime/profile.cpp
  base/ctf/msutb/msutb.cpp
  dll/win32/shdocvw/mrulist.cpp
Owners: none

[GCC-COMPAT] add strnlen/wcsnlen/wctype/wctob/btowc/fseeki64/ftelli64 shims for gcc 15
  sdk/lib/gcc-compat/CMakeLists.txt
  sdk/lib/gcc-compat/fseeki64_compat.c
  sdk/lib/gcc-compat/strnlen_compat.c
  sdk/lib/gcc-compat/wchar_compat.c
Owners: none

[PSEH] Fix asm goto elimination after noreturn calls in _SEH2_TRY blocks on amd64
  modules/rostests/CMakeLists.txt
  sdk/lib/pseh/include/pseh/pseh2_64.h
Owners: none

[ACPI] Fix buffer boundary validation in Bus_PDO_EvalMethod
  drivers/bus/acpi/eval.c
  modules/rostests/apitests/acpi/Bus_PDO_EvalMethod.c
Owners: @ThFabba

[FREELDR:UEFI] Fix amd64 assembly calling convention and GDT reload
  boot/freeldr/freeldr/arch/uefi/amd64/uefiasm.S
Owners: @tkreuzer

[FREELDR:UEFI] Remove _USE_ML conditional for retfq instruction encoding, by Hermes
  boot/freeldr/freeldr/arch/uefi/amd64/uefiasm.S
Owners: @tkreuzer

[PSEH2] amd64: Mark exception code variable volatile to prevent stack slot reuse during unwind
  sdk/lib/pseh/include/pseh/pseh2_64.h
Owners: none

Update base/applications/network/ping/lang/sk-SK.rc
  base/applications/network/ping/lang/sk-SK.rc
Owners: none

[PSEH] remove trailing space
  sdk/lib/pseh/include/pseh/pseh2_64.h
Owners: none

[SHELL32] Improve PR
  CMakeLists.txt
  dll/win32/browseui/CUserAssist.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefViewBckgrndMenu.cpp
  dll/win32/shell32/CDefViewUtil.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/utils.h
Owners: @learn-more, @yagoulas

[SHELL32] Fix CD-ROM eject not refreshing drive text labels in folder view
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[ACPI] Fix typo: SIGNARUTE -> SIGNATURE in GTM test flags
  modules/rostests/apitests/acpi/Bus_PDO_EvalMethod.c
Owners: none

[BTRFS] add explicitly the GNUC macro
  drivers/filesystems/btrfs/btrfs_drv.h
Owners: @HeisSpiter

[3DTEXT] change m_Text to g_Text as it is a global variable
  base/applications/screensavers/3dtext/3dtext.c
  base/applications/screensavers/3dtext/3dtext.h
  base/applications/screensavers/3dtext/settings.c
Owners: none

[IMM32] Imm32CreateInputContext: ensure minimum size
  win32ss/user/imm32/imm.c
Owners: none

Updated copyright year
  sdk/lib/dnsresolv/dnsresolv.c
  sdk/lib/dnsresolv/dnsresolv.h
Owners: none

[HAL:ACPI] Add PCI bus hardware discovery and device enumeration for amd64
  hal/halx86/CMakeLists.txt
  hal/halx86/acpi.cmake
  hal/halx86/acpi/halacpi.c
  hal/halx86/acpi/pcidiscovery.c
  hal/halx86/include/halacpi.h
  hal/halx86/include/halp.h
Owners: @ThFabba

[HAL:ACPI] Isolate PCIe extended config to amd64
  hal/halx86/CMakeLists.txt
  hal/halx86/acpi.cmake
  hal/halx86/acpi/halacpi.c
  hal/halx86/acpi/pcidiscovery.c
  hal/halx86/include/halp.h
Owners: @ThFabba

[CMAKE/CRT] Fix RC-only DLL builds missing IMAGE_FILE_DLL and snprintf alias typo
  sdk/cmake/gcc.cmake
  sdk/lib/crt/moldname-msvcrt.def
Owners: none

[NTOSKRNL] Implement ThreadNameInformation for NtSet/QueryInformationThread
  modules/rostests/apitests/ntdll/NtSetInformationThread.c
  ntoskrnl/include/internal/ps_i.h
  ntoskrnl/ps/kill.c
  ntoskrnl/ps/query.c
  sdk/include/ndk/pstypes.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[HAL:APIC] Add MSI/MSI-X vector allocation and PCI capability support for amd64
  hal/halx86/acpi.cmake
  hal/halx86/acpi/msi.c
  hal/halx86/apic/apic.c
  hal/halx86/apic/apicp.h
  hal/halx86/apic/msip.h
  hal/halx86/apic/msivec.c
  hal/halx86/generic/halinit.c
  hal/halx86/include/halp.h
Owners: @ThFabba, @tkreuzer

[NTOSKRNL/SDK/CRT] Fix compiler warnings for amd64 build
  dll/win32/msafd/misc/sndrcv.c
  ntoskrnl/config/i386/cmhardwr.c
  ntoskrnl/ex/dbgctrl.c
  ntoskrnl/include/internal/probe.h
  ntoskrnl/kdbg/kdb.c
  ntoskrnl/kdbg/kdb_cli.c
  sdk/include/reactos/probe.h
  sdk/lib/crt/math/libm_sse2/fma3_available.c
  sdk/lib/ucrt/heap/heapwalk.cpp
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[HAL:APIC] Fix CODE_SEG(INIT)
  hal/halx86/apic/msivec.c
Owners: @tkreuzer

[NTOSKRNL:KDBG] Fix scalar initializer warning for KDESCRIPTOR
  ntoskrnl/kdbg/kdb_cli.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[IMM32] ImmGetCompStr: handle combined dwIndex flags
  win32ss/user/imm32/compstr.c
Owners: none

fix typo (flas -> flags)
  win32ss/user/imm32/compstr.c
Owners: none

[WINHTTP] Winesync to Wine-10.0
  dll/win32/winhttp/CMakeLists.txt
  dll/win32/winhttp/cookie.c
  dll/win32/winhttp/handle.c
  dll/win32/winhttp/inet_ntop.c
  dll/win32/winhttp/main.c
  dll/win32/winhttp/net.c
  dll/win32/winhttp/precomp.h
  dll/win32/winhttp/request.c
  dll/win32/winhttp/session.c
  dll/win32/winhttp/url.c
  dll/win32/winhttp/winhttp.spec
  dll/win32/winhttp/winhttp_private.h
  media/doc/WINESYNC.txt
  modules/rostests/winetests/winhttp/CMakeLists.txt
  modules/rostests/winetests/winhttp/notification.c
  modules/rostests/winetests/winhttp/url.c
  modules/rostests/winetests/winhttp/winhttp.c
  sdk/include/psdk/winhttp.h
  sdk/include/psdk/ws2def.h
  sdk/tools/winesync/winhttp.cfg
Owners: @ThFabba

[KERNEL32_VISTA][NTDLL_VISTA] add required functions for winhttp
  dll/ntdll/nt_0600/ntdll_vista.spec
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
  dll/win32/kernel32/kernel32_vista/threadpool.c
  sdk/lib/rtl/CMakeLists.txt
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[DXDIAG] fix build
  modules/rostests/winetests/dxdiagn/container.c
  modules/rostests/winetests/dxdiagn/testlist.c
Owners: @ThFabba

[NETUTILS] import wine-10.0
  dll/win32/CMakeLists.txt
  dll/win32/netutils/CMakeLists.txt
  dll/win32/netutils/main.c
  dll/win32/netutils/netutils.spec
  media/doc/WINESYNC.txt
Owners: none

[WINUSB] Import wine-10.0
  dll/win32/CMakeLists.txt
  dll/win32/winusb/CMakeLists.txt
  dll/win32/winusb/main.c
  dll/win32/winusb/winusb.spec
  media/doc/WINESYNC.txt
  sdk/include/psdk/winusb.h
Owners: none

[NETSHELL] Fix buffer size parameter
  dll/shellext/netshell/lanstatusui.cpp
Owners: @learn-more

[WIN32SS:NTGDI] ftGetFontUnicodeRanges(): Add missing FreeType locking.
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[WIN32SS:NTGDI] freetype.c: Remove redundant code
  win32ss/gdi/ntgdi/freetype.c
Owners: none
