Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

improve 6
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve 8
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve 9
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve IntDeleteRegFontEntry
  win32ss/gdi/ntgdi/freetype.c
Owners: none

fix PathFindFileNameW
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve IntDeleteRegFontEntries
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[REACTOS] Change manifest architecture from "X86"/"" to "*"
  base/shell/filebrowser/filebrowser.exe.manifest
  base/shell/filebrowser/filebrowser.exe.regfree.manifest
  dll/win32/atl80/atl80.manifest
  dll/win32/gdiplus/gdiplus.manifest
  dll/win32/gdiplus/gdiplus11.manifest
  dll/win32/msxml3/msxml3.manifest
  dll/win32/msxml4/msxml4.manifest
  dll/win32/msxml6/msxml6.manifest
  modules/rosapps/applications/explorer-old/explorer.exe.manifest
  modules/rostests/apitests/kernel32/classtest.manifest
  modules/rostests/apitests/kernel32/classtest2.manifest
  modules/rostests/apitests/kernel32/dep1.manifest
  modules/rostests/apitests/kernel32/deptest.manifest
  modules/rostests/apitests/kernel32/redirptest/redir2dep.manifest
  modules/rostests/apitests/kernel32/redirptest/redirtest2.manifest
  modules/rostests/apitests/user32/verclasstest1.manifest
  modules/rostests/apitests/user32/verclasstest2.manifest
  modules/rostests/kmtests/kmtest/kmtest.exe.manifest
Owners: @ThFabba

[CRT_APITEST] Fix test failures on Win 2003 x64
  modules/rostests/apitests/crt/setjmp.c
Owners: none

[NTOS:CM] fix: freeing LocalSubObjects and SubNames without check for NULL
  ntoskrnl/config/ntapi.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:CM] fix: unlock registry and APC in early-returns
  ntoskrnl/config/ntapi.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Apply suggestions from code review
  dll/win32/kernel32/client/thread.c
Owners: none

[ACPI] Remove section assignment from IOCTL handlers (#7829)
  drivers/bus/acpi/eval.c
  drivers/bus/acpi/include/acpisys.h
  drivers/bus/acpi/main.c
Owners: @ThFabba

[UMKM_APITEST] Add test for extended state saving
  modules/rostests/apitests/umkm/CMakeLists.txt
  modules/rostests/apitests/umkm/XState.c
  modules/rostests/apitests/umkm/i386/XState_asm.s
  modules/rostests/apitests/umkm/testlist.c
Owners: none

[SDK] Fix some CPUID structures
  sdk/include/reactos/x86x64/Intel/Cpuid.h
Owners: none

[XDK][NDK] Add XSTATE hacks
  sdk/include/ndk/ketypes.h
  sdk/include/xdk/ketypes.h
Owners: none

[SDK] Add CPUID_EXTENDED_STATE_SIZE_OFFSET_REGS
  sdk/include/reactos/x86x64/Cpuid.h
Owners: none

[NTOS:KE/x64] Implement KiInitializeXStateConfiguration
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/amd64/kiinit.c
  ntoskrnl/ke/amd64/xstate.c
  ntoskrnl/ntos.cmake
Owners: @tkreuzer, @HeisSpiter, @ThFabba

[SDK] immintrin.h: add (f)xsave/restore intrinsics
  sdk/include/vcruntime/immintrin.h
Owners: none

[NTOS:KE/x64] Implement KiSave/RestoreXState
  ntoskrnl/CMakeLists.txt
  ntoskrnl/include/internal/amd64/intrin_i.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KE/x64] Handle XState allocation on the stack
  ntoskrnl/ke/amd64/stubs.c
  ntoskrnl/ke/amd64/thrdini.c
Owners: @tkreuzer

[NTOS:KE] Detect CPU support for AVX, AVX2 and AVX512
  ntoskrnl/ke/amd64/cpu.c
  ntoskrnl/ke/amd64/kiinit.c
  sdk/include/ndk/amd64/ketypes.h
Owners: @tkreuzer

[NTOS:KE/x64] Handle extended processor state on context switch
  ntoskrnl/ke/amd64/thrdini.c
Owners: @tkreuzer

Remove extra SetLastError.
  win32ss/user/ntuser/accelerator.c
Owners: none

Move UserLeave before trace.
  win32ss/user/ntuser/accelerator.c
Owners: none

fix last error
  sdk/lib/wine2ros/wine2ros.c
Owners: none

[GDI32][NTGDI][SDK] Font/Text: Fix parameters SAL2 and const-ness
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/gdibatch.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.c
Owners: none
