Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[COMPBATT] Assign a memory allocation tag for the I/O remove lock
  drivers/bus/acpi/compbatt/comppnp.c
Owners: @ThFabba

[COMPBATT] Use the documented debug switches
  drivers/bus/acpi/compbatt/compbatt.c
  drivers/bus/acpi/compbatt/compmisc.c
  drivers/bus/acpi/compbatt/comppnp.c
Owners: @ThFabba

[COMPBATT] Use the non-constant variant of UNICODE_STRING for the battery name
  drivers/bus/acpi/compbatt/comppnp.c
Owners: @ThFabba

[COMPBATT] Use the allocated battery IRPs as tags when acquiring I/O remove lock
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[COMPBATT] Use FALSE for BOOLEANs on BatteryIoctl, not integers
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[COMPBATT] Implement CompBattQueryStatus and CompBattSetStatusNotify
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[COMPBATT] Implement CompBattGetEstimatedTime
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[COMPBATT] Implement the battery monitor IRP worker
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[COMPBATT] Document COMPBATT_BATTERY_DATA and COMPBATT_DEVICE_EXTENSION structures
  drivers/bus/acpi/compbatt/compbatt.h
Owners: @ThFabba

[COMPBATT] Update the top headers and relicense the driver as MIT
  drivers/bus/acpi/compbatt/compbatt.c
  drivers/bus/acpi/compbatt/compbatt.h
  drivers/bus/acpi/compbatt/compmisc.c
  drivers/bus/acpi/compbatt/comppnp.c
Owners: @ThFabba

[COMPBATT] Document the newly added code
  drivers/bus/acpi/compbatt/compbatt.c
Owners: @ThFabba

[PSDK] Fix BATTERY_UNKNOWN_TIME value constant
  sdk/include/psdk/batclass.h
Owners: none

[NTOS:MM] do not use PAGE_ROUND_DOWN for LONGLONG values
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:CC] Improve cache flush synchronization
  ntoskrnl/cc/view.c
  ntoskrnl/include/internal/cc.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[WIN32K] Silence some debug log spam from GreGetObjectOwner when input parameter is NULL. CORE-19962 Co-authored-by: Timo Kreuzer <timo.kreuzer@reactos.org>
  win32ss/gdi/ntgdi/gdiobj.c
Owners: none

do not use PAGE_ROUND_DOWN for LONGLONG values
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Add PAGE_ROUND_UP_64 and PAGE_ROUND_DOWN_64 macros for always 64-bit values
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SHELL32] Allow DnD to create shortcuts across different drives
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.h
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/shldataobject.cpp
Owners: @learn-more, @yagoulas

[SHELL32] SHELL_ArgifyW(): don't use SearchPathW() for receiving a path to a file (#7605)
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

[NTOS:MM] Fix macros comment
  ntoskrnl/include/internal/mm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Suggested variable change
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/shldataobject.cpp
Owners: @learn-more, @yagoulas

Use the define
  base/applications/rapps/unattended.cpp
Owners: none

[INPUT] Fix copyright header in German (de-DE) translation file
  dll/cpl/input/lang/de-DE.rc
Owners: @reactos/lang-german

[RAPPS] Protect database update with a mutex (#7006)
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/include/rapps.h
  base/applications/rapps/unattended.cpp
  base/applications/rapps/winmain.cpp
Owners: none

[RAPPS] Allow .zip generated installers to skip writing the DisplayIcon value
  base/applications/rapps/geninst.cpp
Owners: none

[REGEDIT] Block tree label edit if the delete accelerator has been pressed
  base/applications/regedit/treeview.c
Owners: none

[SDK:WINE] Fix get_temp_buffer() call in wine_dbgstr_wn()
  sdk/include/reactos/wine/test.h
Owners: none

Style suggestion
  base/applications/regedit/treeview.c
Owners: none

[RICHED20] Wine Sync to 6.10 for CORE-6727.
  dll/win32/riched20/caret.c
  dll/win32/riched20/clipboard.c
  dll/win32/riched20/editor.c
  dll/win32/riched20/editor.h
  dll/win32/riched20/editstr.h
  dll/win32/riched20/paint.c
  dll/win32/riched20/para.c
  dll/win32/riched20/reader.c
  dll/win32/riched20/richole.c
  dll/win32/riched20/row.c
  dll/win32/riched20/rtf.h
  dll/win32/riched20/run.c
  dll/win32/riched20/style.c
  dll/win32/riched20/table.c
  dll/win32/riched20/txthost.c
  dll/win32/riched20/txtsrv.c
  dll/win32/riched20/undo.c
  dll/win32/riched20/wrap.c
  dll/win32/riched20/writer.c
  sdk/include/psdk/textserv.h
Owners: none

[CMBATT] Minor improvements to estimated battery time code
  drivers/bus/acpi/cmbatt/cmbatt.c
  drivers/bus/acpi/cmbatt/cmbatt.h
Owners: @ThFabba

[CHKREG] Stub-implement the ReactOS Check Registry Utility
  sdk/tools/CMakeLists.txt
  sdk/tools/chkreg/CMakeLists.txt
  sdk/tools/chkreg/chkreg.c
  sdk/tools/chkreg/chkreg.h
  sdk/tools/chkreg/hivchk.c
  sdk/tools/chkreg/hivinit.c
  sdk/tools/chkreg/hivio.c
  sdk/tools/chkreg/hivmem.c
  sdk/tools/chkreg/rtl.c
Owners: none

[KMTESTS] Remove "EnablePrivilege*" helpers + Fix typo
  modules/rostests/kmtests/include/kmt_test.h
  modules/rostests/kmtests/kmtest/fltsupport.c
  modules/rostests/kmtests/kmtest/kmtest.h
Owners: @ThFabba

[KMTESTS] Add tests for KdSystemDebugControl and NtSystemDebugControl (#7424)
  modules/rostests/kmtests/CMakeLists.txt
  modules/rostests/kmtests/kmtest/testlist.c
  modules/rostests/kmtests/kmtest_drv/testlist.c
  modules/rostests/kmtests/ntos_kd/KdSystemDebugControl.c
  modules/rostests/kmtests/ntos_kd/NtSystemDebugControl.c
Owners: @ThFabba

[KMTESTS] Temporarily disable the debugger disable/reenable tests (#7424)
  modules/rostests/kmtests/ntos_kd/NtSystemDebugControl.c
Owners: @ThFabba

[NDK] SYSDBG: Add versioning info for Vista+ commands.
  sdk/include/ndk/kdtypes.h
Owners: none

[NDK] SYSDBG: Add SysDbgGetLiveKernelDump enum value and structures for kernel live dump.
  sdk/include/ndk/kdtypes.h
Owners: none

[NDK] SYSDBG: Add SysDbgKdPullRemoteFile enum value and structure (Win10 19041+)
  sdk/include/ndk/kdtypes.h
Owners: none

[NTOS:EX] Add prototypes for ExLockUserBuffer/ExUnlockUserBuffer
  ntoskrnl/include/internal/ex.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:EX] Allow calling ExLockUserBuffer up to DISPATCH_LEVEL
  ntoskrnl/ex/sysinfo.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Allow not providing MMDBG_COPY_UNSAFE in MmDbgCopyMemory
  ntoskrnl/mm/ARM3/mmdbg.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
