Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[HAL] Remove KiEoiHelper hack
  hal/halx86/apic/rtctimer.c
  hal/halx86/include/halp.h
Owners: @tkreuzer

[NTOS][HAL:APIC] Call HalBegin/EndSystemInterrupt from clock handler
  hal/halx86/apic/apic.c
  hal/halx86/apic/rtctimer.c
  hal/halx86/include/halp.h
  ntoskrnl/include/internal/amd64/ke.h
  ntoskrnl/ke/time.c
Owners: @tkreuzer, @HeisSpiter, @ThFabba

[NTOS:KE/X64] Fix KiInterruptDispatch
  ntoskrnl/ke/amd64/trap.S
Owners: @tkreuzer

[BATTC] Fix the wait timeout conversion
  drivers/battery/battc/battc.c
Owners: none

[CMBATT] Convert power statistics from mAh to mWh
  drivers/bus/acpi/cmbatt/cmbatt.c
  drivers/bus/acpi/cmbatt/cmbatt.h
Owners: @ThFabba

[CMBATT] Grab the design voltage after the BIF data gets copied
  drivers/bus/acpi/cmbatt/cmbatt.c
Owners: @ThFabba

[SETUPAPI] Implement SetupDiGetClassRegistryPropertyA and SetupDiSetClassRegistryPropertyA
  dll/win32/setupapi/devclass.c
  dll/win32/setupapi/setupapi.spec
Owners: none

[BASE] Update French (fr-FR) translation
  base/applications/cmdutils/fc/lang/fr-FR.rc
  base/applications/cmdutils/xcopy/lang/fr-FR.rc
  base/applications/fontview/lang/fr-FR.rc
  base/applications/mplay32/lang/fr-FR.rc
  base/applications/msconfig_new/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mstsc/lang/fr-FR.rc
  base/applications/network/ping/lang/fr-FR.rc
  base/applications/network/tracert/lang/fr-FR.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/osk/lang/fr-FR.rc
  base/applications/regedit/clb/lang/fr-FR.rc
  base/applications/sndvol32/lang/fr-FR.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/setup/reactos/lang/fr-FR.rc
  base/shell/cmd/lang/fr-FR.rc
Owners: @reactos/lang-french

[BATTC] Signal the wait battery tag event when notifying Battery Class
  drivers/battery/battc/battc.c
Owners: none

[STOBJECT] Display the estimated battery time when hovering the battery icon
  dll/shellext/stobject/power.cpp
Owners: @learn-more

[USERINIT] Update German (de-DE) translation (#7541)
  base/system/userinit/lang/de-DE.rc
Owners: @reactos/lang-german

Updates following comments
  base/applications/cmdutils/fc/lang/fr-FR.rc
  base/applications/cmdutils/xcopy/lang/fr-FR.rc
  base/applications/mscutils/eventvwr/lang/fr-FR.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/osk/lang/fr-FR.rc
  base/applications/regedit/clb/lang/fr-FR.rc
  base/applications/wordpad/lang/fr-FR.rc
  base/setup/reactos/lang/fr-FR.rc
Owners: @reactos/lang-french

[SETUP] Update French (fr-FR) translation
  base/setup/reactos/lang/fr-FR.rc
Owners: @reactos/lang-french

[NTOS:PS] Add query support for QUOTA_LIMITS_EX
  ntoskrnl/include/internal/ps_i.h
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTDLL_APITEST] NtQueryInformationProcess: Add tests for ProcessQuotaLimits/Ex
  modules/rostests/apitests/ntdll/NtQueryInformationProcess.c
Owners: none

[NTOS:PS] NtQueryInformationProcess: Move process information-specific variables to their own scope
  ntoskrnl/ps/query.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTDLL_APITEST] NtQueryInformationProcess: Add tests for ProcessBasicInformation
  modules/rostests/apitests/ntdll/NtQueryInformationProcess.c
Owners: none

[NEWDEV] Buffer overflow
  dll/win32/newdev/newdev.c
Owners: none

Use typedef type for unknown reasons
  dll/win32/shell32/CDefaultContextMenu.cpp
Owners: @learn-more, @yagoulas

[SETUPAPI][PSDK] Implement SetupDiGetCustomDevicePropertyW
  dll/win32/setupapi/devinst.c
  dll/win32/setupapi/setupapi.spec
  sdk/include/psdk/setupapi.h
Owners: none

[NTOS:CM] Add some more configuration options.
  ntoskrnl/config/cmdata.c
  ntoskrnl/config/cmlazy.c
  ntoskrnl/include/internal/cm.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SHELL32] Use FS compatible PIDL format for Recycle Bin items (#7532)
  dll/win32/shell32/CCopyAsPathMenu.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CFolderItemVerbs.cpp
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/CSendToMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/recycler_prop.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/folders/CRecycleBin.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  dll/win32/shell32/wine/shell32_main.h
Owners: @learn-more, @yagoulas

Replace MAX_PATH by _countof
  dll/win32/newdev/newdev.c
Owners: none

Nothing but a comment
  dll/win32/newdev/newdev.c
Owners: none

Suggested change
  base/setup/reactos/lang/fr-FR.rc
Owners: @reactos/lang-french

[GITHUB] Stick to ubuntu-22.04 for build-linux
  .github/workflows/build.yml
Owners: none

[SETUPAPI] Implement SetupDiGetCustomDevicePropertyA
  dll/win32/setupapi/devinst.c
  dll/win32/setupapi/setupapi.spec
Owners: none

Removed useless variable FileName and change size of DirPath and PathWithPattern
  dll/win32/newdev/newdev.c
Owners: none

[WKSSVC] InitWorkstationInfo: Set data size before retrieving registry values
  base/services/wkssvc/info.c
Owners: none

[WKSSVC] Simplify NetrWkstaSetInfo
  base/services/wkssvc/rpcserver.c
Owners: none

[SHDOCVW][BROWSEUI][SHELL32] Correctly refcount CNSCBand and Explorer File menu
  dll/win32/browseui/basebarsite.cpp
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/shellmenu/CMenuSite.cpp
  dll/win32/shell32/shellmenu/CMenuSite.h
Owners: @learn-more, @yagoulas

[SHELL32] ILLoadFromStream must allow loading unknown pidl formats
  dll/win32/shell32/wine/pidl.c
Owners: @learn-more, @yagoulas

Update last suggested changes
  base/applications/fontview/lang/fr-FR.rc
  base/applications/notepad/lang/fr-FR.rc
  base/applications/regedit/clb/lang/fr-FR.rc
  base/shell/cmd/lang/fr-FR.rc
Owners: @reactos/lang-french

Replaced 'Ordre' by 'Tri'
  base/applications/regedit/clb/lang/fr-FR.rc
Owners: @reactos/lang-french

[SHELL32] Pump COM messages while initializing propsheet from IDataObject
  dll/win32/shell32/dialogs/item_prop.cpp
Owners: @learn-more, @yagoulas

PIDL dumper should know basic Unicode folders
  dll/win32/shell32/debughlp.cpp
  dll/win32/shell32/wine/pidl.c
Owners: @learn-more, @yagoulas

[SHELL32] Handle multiple files in recycle bin delete/restore operations
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
  dll/win32/shell32/shlfileop.cpp
  dll/win32/shell32/utils.h
Owners: @learn-more, @yagoulas

[WIN32K:NTUSER] Check for NULL desktop window in co_IntProcessMouseMessage
  win32ss/user/ntuser/msgqueue.c
Owners: none

[WIN32K:NTUSER] Check for NULL desktop window in co_IntProcessMouseMessage
  win32ss/user/ntuser/msgqueue.c
Owners: none

[LSALIB][SECURE32][LSASRV] Improve the check for trusted/untrusted callers
  dll/win32/lsasrv/authport.c
  dll/win32/secur32/lsalpc.c
  sdk/include/reactos/subsys/lsass/lsass.h
  sdk/lib/lsalib/lsa.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
