Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SMSS] Improve the SmpUnhandledExceptionFilter() routine a bit
  base/system/smss/smss.c
Owners: none

[0.4.16][SMSS] Skip empty commands when loading the "*Execute" Session Manager values
  base/system/smss/sminit.c
  base/system/smss/smss.c
Owners: none

[0.4.16][SMSS] Minor code cleanup
  base/system/smss/sminit.c
  base/system/smss/smss.c
  base/system/smss/smss.h
  base/system/smss/smutil.c
Owners: none

[0.4.16][COMCTL32] Pass WM_SYSCOLORCHANGE/WM_DISPLAYCHANGE/WM_WININICHANGE also to the property sheet tab control (#9239)
  dll/win32/comctl32/propsheet.c
Owners: none

[0.4.16][COMCTL32] Pass a couple of window messages to the active page of property sheets (#9239)
  dll/win32/comctl32/propsheet.c
Owners: none

[0.4.16][COMCTL32_WINETEST] Import wine test for PSN_QUERYINITIALFOCUS (#9272)
  modules/rostests/winetests/comctl32/propsheet.c
Owners: @ThFabba

[0.4.16][COMCTL32][COMCTL32_WINETEST] Import wine implementation for PSN_QUERYINITIALFOCUS (#9272)
  dll/win32/comctl32/propsheet.c
  modules/rostests/winetests/comctl32/propsheet.c
Owners: @ThFabba

[0.4.16][COMCTL32] BUTTON_PaintWithTheme: Don't paint the themed button if it's not visible (#9361)
  dll/win32/comctl32/button.c
Owners: none

[0.4.16][USER32] DIALOG_CreateIndirect: Add missing __REACTOS__ guards (#9362)
  win32ss/user/user32/windows/dialog.c
Owners: none

[0.4.16][USER32] DIALOG_CreateIndirect: Add missing DF_END checks and other remarks (#9362)
  win32ss/user/user32/windows/dialog.c
Owners: none

[0.4.16][SYSSETUP] Improve Portuguese (pt-PT) translation (#9021)
  dll/win32/syssetup/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[0.4.16][USERINIT] Start shell from profile path
  base/system/userinit/userinit.c
Owners: none

[0.4.16][SYSSETUP][BOOT] Add ReactOS Server Core install type
  boot/bootdata/bootcd/unattend.inf
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/resource.h
  dll/win32/syssetup/wizard.c
  sdk/include/reactos/libs/syssetup/syssetup.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SYSSETUP] Fix use of uninitialized variable
  dll/win32/syssetup/addons.c
Owners: none

[0.4.16][SYSSETUP] Unattended ComputerName=* means random name (#9267)
  dll/win32/syssetup/wizard.c
Owners: none

[0.4.16][SYSSETUP][BOOTDATA] Unattended execute GuiUnattended:DetachedProgram , SetupParams:UserExecute (#9276)
  base/setup/lib/setuplib.c
  boot/bootdata/bootcd/unattend.inf
  dll/win32/syssetup/globals.h
  dll/win32/syssetup/install.c
  dll/win32/syssetup/wizard.c
Owners: none

[0.4.16][SETUP:REACTOS] treelist.c/.h: Convert the files to UTF-8 without BOM
  base/setup/reactos/treelist.c
  base/setup/reactos/treelist.h
Owners: none

[0.4.16][SETUP:REACTOS] Improve the Installation Progress page layout
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SETUP:REACTOS] Fix navigation in the setup wizard pages and dialogs
  base/setup/reactos/drivepage.c
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
  base/setup/reactos/treelist.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SETUP:REACTOS] Minor code cleanup
  base/setup/reactos/drivepage.c
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/reactos.rc
  base/setup/reactos/resource.h
Owners: none

[0.4.16][SETUP:REACTOS] Improve wizard dialog initialization
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUP:REACTOS] Set a common install wizard title; remove the per-page titles
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SETUP:REACTOS] Fix initialization of the Finish page
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUP:REACTOS] Improve Installation thread initialization and termination
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
Owners: none

[0.4.16][SETUP:REACTOS] Select a better default keyboard layout, depending on the selected language
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUPLIB] There is no need to update the keyboard settings only for non-unattended setup
  base/setup/lib/setuplib.c
Owners: none

[0.4.16][SETUP:REACTOS] Slight WM_COMMAND handlers improvements
  base/setup/reactos/drivepage.c
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUP:REACTOS] Improve navigation in the setup wizard
  base/setup/reactos/drivepage.c
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUP:REACTOS] Tweak the Summary page controls
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SETUP:REACTOS] Update Portuguese (pt-PT) translation (#8970)
  base/setup/reactos/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[0.4.16][SETUP:REACTOS] Update Spanish (es-ES) translation (#8978)
  base/setup/reactos/lang/es-ES.rc
Owners: @reactos/lang-spanish

[0.4.16][SETUP:REACTOS] Allow only one single ReactOS Setup instance to run at a time
  base/setup/reactos/reactos.c
Owners: none

[0.4.16][SETUP:REACTOS] Enlarge a little bit the Wizard welcome-page warning text controls
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SETUP:REACTOS] Update and complete Turkish (tr-TR) translation (#9366)
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[0.4.16][SETUP:REACTOS] Translate some newly-added strings (#9380)
  base/setup/reactos/lang/es-ES.rc
Owners: @reactos/lang-spanish

[0.4.16][SYSSETUP] Update and complete Turkish (tr-TR) translation (#9367)
  dll/win32/syssetup/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[0.4.16][SETUP:REACTOS] Update translations (#9383)
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-russian, @reactos/lang-turkish

[0.4.16][SAMSRV] Update translations; add French translation (#9383)
  dll/win32/samsrv/lang/de-DE.rc
  dll/win32/samsrv/lang/en-US.rc
  dll/win32/samsrv/lang/es-ES.rc
  dll/win32/samsrv/lang/eu-ES.rc
  dll/win32/samsrv/lang/fr-FR.rc
  dll/win32/samsrv/lang/hi-IN.rc
  dll/win32/samsrv/lang/hu-HU.rc
  dll/win32/samsrv/lang/it-IT.rc
  dll/win32/samsrv/lang/ja-JP.rc
  dll/win32/samsrv/lang/pl-PL.rc
  dll/win32/samsrv/lang/pt-PT.rc
  dll/win32/samsrv/lang/ro-RO.rc
  dll/win32/samsrv/lang/ru-RU.rc
  dll/win32/samsrv/lang/sq-AL.rc
  dll/win32/samsrv/lang/tr-TR.rc
  dll/win32/samsrv/lang/zh-CN.rc
  dll/win32/samsrv/lang/zh-HK.rc
  dll/win32/samsrv/lang/zh-TW.rc
  dll/win32/samsrv/samsrv.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-chinese

[0.4.16][SYSSETUP] Update translations (#9383)
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][SYSSETUP] Replace static control ID '-1' by IDC_STATIC (#9383)
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
