Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

WH_SHELL
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/kbdlayout.c
Owners: none

WH_CBT
  win32ss/user/ntuser/defwnd.c
  win32ss/user/ntuser/window.c
Owners: none

Style change
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

WH_CALLWNDPROC and WH_CALLWNDPROCRET
  win32ss/user/ntuser/message.c
Owners: none

hack rosautotest
  modules/rostests/rosautotest/CWineTest.cpp
Owners: none

[UNIATA] Remove unused idedma.def
  drivers/storage/ide/uniata/idedma.def
Owners: @ThFabba

[UMPNPMGR] Implement PNP_UnregisterDeviceClassAssociation
  base/services/umpnpmgr/rpcserver.c
Owners: none

[BROWSEUI] Find files must forward IItemNameLimits to the FS folder (#8176)
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CFindFolder.h
  dll/win32/shell32/folders/CFSFolder.h
Owners: @learn-more, @yagoulas

[BROWSEUI] Find files must compare the entire path when the view asks about the name (#8174)
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

[MSCONFIG] Disable actions that are not implemented
  base/applications/msconfig/freeldrpage.c
  base/applications/msconfig/msconfig.c
  base/applications/msconfig/msconfig.h
  base/applications/msconfig/srvpage.c
  base/applications/msconfig/startuppage.c
  base/applications/msconfig/systempage.c
Owners: none

debugging...
  modules/rostests/rosautotest/CWineTest.cpp
  win32ss/user/ntuser/hook.c
  win32ss/user/ntuser/message.c
Owners: none

hack propsheet testcase
  modules/rostests/winetests/comctl32/propsheet.c
Owners: @ThFabba

[ATAPI] Disable the driver
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/atapi_old/CMakeLists.txt
  drivers/storage/ide/atapi_old/atapi.c
  drivers/storage/ide/atapi_old/atapi.h
  drivers/storage/ide/atapi_old/atapi.rc
  drivers/storage/ide/atapi_old/license.txt
Owners: none

[NDK] Introduce function attributes for section placement
  sdk/include/ndk/section_attribs.h
Owners: none

[HALX86:DMA] Avoid excessive stack usage
  hal/halx86/generic/dma.c
Owners: none

[DDK] Add ATA definitions
  sdk/include/ddk/ata.h
Owners: none

Fix indicdll.dll
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

Fix indicdll.dll 2
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[INDICDLL] Don't use user32 in DllMain.DLL_PROCESS_ATTACH
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

improve
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[PCIIDEX] Add DMA support
  drivers/storage/ide/pciidex/CMakeLists.txt
  drivers/storage/ide/pciidex/fdo.c
  drivers/storage/ide/pciidex/miniport.c
  drivers/storage/ide/pciidex/pciidex.c
  drivers/storage/ide/pciidex/pciidex.h
  drivers/storage/ide/pciidex/pdo.c
  sdk/include/ddk/ide.h
  sdk/include/reactos/drivers/ntddata.h
Owners: none

[ATAPI] Add ATA storage driver
  drivers/storage/ide/CMakeLists.txt
  drivers/storage/ide/atapi/CMakeLists.txt
  drivers/storage/ide/atapi/acpi.c
  drivers/storage/ide/atapi/ahci_hw.c
  drivers/storage/ide/atapi/ahci_io.c
  drivers/storage/ide/atapi/ahci_mem.c
  drivers/storage/ide/atapi/atapi.c
  drivers/storage/ide/atapi/atapi.h
  drivers/storage/ide/atapi/atapi.rc
  drivers/storage/ide/atapi/atapi_reg.inf
  drivers/storage/ide/atapi/data.c
  drivers/storage/ide/atapi/dev_config.c
  drivers/storage/ide/atapi/dev_error.c
  drivers/storage/ide/atapi/dev_identify.c
  drivers/storage/ide/atapi/dev_power.c
  drivers/storage/ide/atapi/dev_timings.c
  drivers/storage/ide/atapi/enum.c
  drivers/storage/ide/atapi/fdo.c
  drivers/storage/ide/atapi/include/acpi.h
  drivers/storage/ide/atapi/include/ahci.h
  drivers/storage/ide/atapi/include/atahw.h
  drivers/storage/ide/atapi/include/debug.h
  drivers/storage/ide/atapi/include/devevent.h
  drivers/storage/ide/atapi/include/identify_funcs.h
  drivers/storage/ide/atapi/include/pata.h
  drivers/storage/ide/atapi/include/request.h
  drivers/storage/ide/atapi/include/scsiex.h
  drivers/storage/ide/atapi/ioctl.c
  drivers/storage/ide/atapi/pata_hw.c
  drivers/storage/ide/atapi/pata_io.c
  drivers/storage/ide/atapi/pata_legacy.c
  drivers/storage/ide/atapi/pdo.c
  drivers/storage/ide/atapi/portstate.c
  drivers/storage/ide/atapi/satl.c
  drivers/storage/ide/atapi/scsi.c
  drivers/storage/ide/atapi/smart.c
  drivers/storage/ide/atapi/wmi.c
Owners: none

[UNIATA] Disable the driver and enable the new ATA stack
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  drivers/storage/ide/pciide/CMakeLists.txt
  drivers/storage/ide/pciide/pciide_reg.inf
  drivers/storage/ide/uniata/CMakeLists.txt
  media/inf/hdc.inf
Owners: @ThFabba

[FREELDR:HWIDE] Temporary hack
  boot/freeldr/freeldr/arch/drivers/hwide.c
Owners: @tkreuzer, @Extravert-ir

debugging... 2
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[MSCONFIG] Disable actions that are not implemented (#8178)
  base/applications/msconfig/freeldrpage.c
  base/applications/msconfig/msconfig.c
  base/applications/msconfig/msconfig.h
  base/applications/msconfig/srvpage.c
  base/applications/msconfig/startuppage.c
  base/applications/msconfig/systempage.c
Owners: none

[MSGINA][WINLOGON] Carefully zero password memory buffers before freeing them (#8172)
  base/system/winlogon/sas.c
  dll/win32/msgina/gui.c
  dll/win32/msgina/lsa.c
  dll/win32/msgina/msgina.c
Owners: none

[NTDLL_APITEST] Remove unused / broken definitions
  modules/rostests/apitests/ntdll/RtlQueryTimeZoneInfo.c
Owners: none

[UNIATA] UniataChipDetect(): Workaround AHCI detection
  drivers/storage/ide/uniata/id_init.cpp
Owners: @ThFabba

[NTOS:MM] Prevent MmMapIoSpace from mapping paging related structures
  ntoskrnl/mm/ARM3/iosup.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[INDICDLL] Don't use user32 in DLL_PROCESS_ATTACH (#8179)
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[KERNEL32] _dump_context(): Fix ARM case
  dll/win32/kernel32/client/except.c
Owners: none

[UMPNPMGR] PNP_AddEmptyLogConf: Add resource list to an existing requirements list
  base/services/umpnpmgr/rpcserver.c
Owners: none

Do not merge [NTOS:KE] Comment out the assertion for testing purposes
  drivers/storage/ide/atapi/dev_power.c
  ntoskrnl/ke/dpc.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Do not merge [ATAPI] Add a temporary hack for amd64 BootCD
  boot/freeldr/freeldr/lib/debug.c
  drivers/bus/pci/fdo.c
  drivers/bus/pci/pci.c
  drivers/storage/ide/atapi/CMakeLists.txt
  drivers/storage/ide/atapi/atapi.c
  drivers/storage/ide/atapi/atapi.h
  drivers/storage/ide/atapi/pata_legacy.c
Owners: @tkreuzer, @Extravert-ir

[WINLOGON] Cleanup user login information when logon fails and at logoff (#8182)
  base/system/winlogon/sas.c
Owners: none

[KMTESTS:ZWMAPVIEWOFSECTION] Fixes for 2003 and Vista+ x86 and x64
  modules/rostests/kmtests/ntos_mm/ZwMapViewOfSection.c
Owners: @ThFabba

[KMTESTS:MMRESERVEDMAPPING] Fix test failure on Server 2003, Fix bugcheck on Vista+
  modules/rostests/kmtests/ntos_mm/MmReservedMapping.c
Owners: @ThFabba

[KMTESTS:OBHANDLE] Fix test failures on 7+
  modules/rostests/kmtests/ntos_ob/ObHandle.c
Owners: @ThFabba

[KMTESTS:OBTYPES] Disable for Vista+
  modules/rostests/kmtests/ntos_ob/ObTypes.c
Owners: @ThFabba

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
