Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[BCRYPT] Enable ARC4 (RC4) algorithm
  dll/win32/bcrypt/mbedtls.c
Owners: none

[WINESYNC] Update WINESYNC.txt to exclude commit hash
  media/doc/WINESYNC.txt
Owners: none

[CODEREVIEW]
  dll/win32/bcrypt/bcrypt_main.c
Owners: none

[BCRYPT] Fix the race condition freeze
  dll/win32/bcrypt/mbedtls.c
Owners: none

[SDK] Update bcrypt header
  sdk/include/psdk/bcrypt.h
Owners: none

[CODEREVIEW]
  dll/win32/bcrypt/CMakeLists.txt
Owners: none

[WININET][WINHTTP] Import crypt32 outright, not delayed (#9464)
  dll/win32/winhttp/CMakeLists.txt
  dll/win32/wininet/CMakeLists.txt
Owners: none

[BCRYPT][BCRYPT_WINETEST] Sync to WineStaging-10.6 (#8267)
  dll/3rdparty/mbedtls/CMakeLists.txt
  dll/3rdparty/mbedtls/cipher_wrap.c
  dll/3rdparty/mbedtls/dhm.c
  dll/3rdparty/mbedtls/dsa.c
  dll/3rdparty/mbedtls/mbedtls.spec
  dll/win32/bcrypt/CMakeLists.txt
  dll/win32/bcrypt/bcrypt.spec
  dll/win32/bcrypt/bcrypt_internal.h
  dll/win32/bcrypt/bcrypt_main.c
  dll/win32/bcrypt/commoncrypto.c
  dll/win32/bcrypt/gnutls.c
  dll/win32/bcrypt/mbedtls.c
  dll/win32/bcrypt/precomp.h
  media/doc/WINESYNC.txt
  modules/rostests/winetests/bcrypt/bcrypt.c
  sdk/include/psdk/bcrypt.h
  sdk/include/reactos/libs/mbedtls/cipher.h
  sdk/include/reactos/libs/mbedtls/config.h
  sdk/include/reactos/libs/mbedtls/dsa.h
Owners: @ThFabba

Update zh-TW translation
  dll/win32/devmgr/lang/zh-TW.rc
  dll/win32/ieframe/lang/zh-TW.rc
  dll/win32/msgina/lang/zh-TW.rc
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/userenv/lang/zh-TW.rc
Owners: @reactos/lang-chinese

[CODEREVIEW]
  sdk/include/ddk/d3dkmddi.h
  sdk/include/ddk/dispmprt.h
Owners: none

[SDK] One more pass
  sdk/include/ddk/d3dkmddi.h
  sdk/include/ddk/dispmprt.h
  sdk/include/psdk/d3dukmdt.h
Owners: none

[NTFSLIB] Switch to heap for MSVC
  sdk/lib/fslib/ntfslib/files.c
Owners: @HeisSpiter

[CODEREVIEW]
  sdk/lib/fslib/ntfslib/data.h
  sdk/lib/fslib/ntfslib/ntfslib.h
  sdk/lib/fslib/ntfslib/refdata.h
Owners: @HeisSpiter

[BOOTSECT][NTFSLIB] Ntfs boot fix
  boot/freeldr/bootsect/ntfs.S
  sdk/lib/fslib/ntfslib/bootsect.c
  sdk/lib/fslib/ntfslib/ntfslib.c
  sdk/lib/fslib/ntfslib/ntfslib.h
Owners: @HeisSpiter

[BASE][DRIVERS][SDK] Introduce USETUP NTFS formatting support
  base/setup/lib/CMakeLists.txt
  base/setup/lib/fsutil.c
  base/setup/lib/utils/partlist.c
  boot/bootdata/txtsetup.sif
  drivers/filesystems/ntfs/CMakeLists.txt
  drivers/filesystems/ntfs/fsctl.c
  sdk/lib/fslib/ntfslib/CMakeLists.txt
  sdk/lib/fslib/ntfslib/attrib.c
  sdk/lib/fslib/ntfslib/bootsect.c
  sdk/lib/fslib/ntfslib/data.h
  sdk/lib/fslib/ntfslib/files.c
  sdk/lib/fslib/ntfslib/ntfslib.c
  sdk/lib/fslib/ntfslib/ntfslib.h
Owners: @HeisSpiter

[NTFSLIB] Pass Win11
  sdk/lib/fslib/ntfslib/CMakeLists.txt
  sdk/lib/fslib/ntfslib/attrib.c
  sdk/lib/fslib/ntfslib/files.c
  sdk/lib/fslib/ntfslib/ntfslib.c
  sdk/lib/fslib/ntfslib/ntfslib.h
  sdk/lib/fslib/ntfslib/refdata.h
Owners: @HeisSpiter

[CODEREVIEW]
  drivers/filesystems/ntfs/CMakeLists.txt
  sdk/lib/fslib/ntfslib/ntfslib.c
Owners: @HeisSpiter

[NTFSLIB] Bug fixes
  sdk/lib/fslib/ntfslib/files.c
  sdk/lib/fslib/ntfslib/ntfslib.c
Owners: @HeisSpiter

CODEREVIEW
  sdk/lib/fslib/ntfslib/ntfslib.h
  sdk/lib/fslib/ntfslib/refdata.h
Owners: @HeisSpiter

[PARTMGR] Stop leaking the partition symbolic-link string on every device start
  drivers/storage/partmgr/partition.c
Owners: none

[NETKVM] Fix the va_list handling in DebugPrint
  drivers/network/dd/netkvm/Common/ParaNdis-Debug.c
Owners: @ThFabba

[NETKVM] Do not inspect the packet filter value when the copy failed
  drivers/network/dd/netkvm/Common/ParaNdis-Oid.c
Owners: @ThFabba

[BUILD] Fix GCC 15 MinGW builds
  base/services/nfsd/acl.c
  base/services/nfsd/callback_server.c
  base/services/nfsd/nfs41_callback.h
  base/services/nfsd/nfs41_rpc.c
  base/services/nfsd/service.c
  base/services/nfsd/service.h
  base/services/nfsd/symlink.c
  dll/3rdparty/libtirpc/src/auth_sspi.c
  dll/3rdparty/libtirpc/src/auth_time.c
  dll/3rdparty/libtirpc/src/pmap_getmaps.c
  dll/3rdparty/libtirpc/src/xdr_rec.c
  dll/shellext/shellbtrfs/shellext.h
  dll/win32/msvcrt/msvcrt.spec
  drivers/bus/acpi/acpica/include/platform/acwin64.h
  drivers/filesystems/btrfs/btrfs_drv.h
  ntoskrnl/ke/amd64/freeze.c
  sdk/cmake/gcc.cmake
  sdk/include/crt/stdlib.h
  sdk/lib/gcc-compat/CMakeLists.txt
  sdk/lib/gcc-compat/fseeki64_compat.c
  sdk/lib/gcc-compat/mbsrtowcs_compat.c
  sdk/lib/gcc-compat/snprintf_compat.c
  sdk/lib/gcc-compat/strnlen_compat.c
  sdk/lib/gcc-compat/wchar_compat.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[KERNEL32][KERNELBASE] Implement basic Processor Group query APIs (#9437)
  dll/win32/kernel32/client/proc.c
  dll/win32/kernel32/client/thread.c
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernelbase/wine/process.c
Owners: none

[NETSHELL] Don't update tray icon every second (#9335)
  dll/shellext/netshell/lanconnectui.cpp
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/cs-CZ.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/de-DE.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/fr-FR.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/hi-IN.rc
  dll/shellext/netshell/lang/hu-HU.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/ja-JP.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/pl-PL.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/ro-RO.rc
  dll/shellext/netshell/lang/ru-RU.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
  dll/shellext/netshell/lang/tr-TR.rc
  dll/shellext/netshell/lang/uk-UA.rc
  dll/shellext/netshell/lang/zh-CN.rc
  dll/shellext/netshell/lang/zh-HK.rc
  dll/shellext/netshell/lang/zh-TW.rc
  dll/shellext/netshell/lanstatusui.cpp
  dll/shellext/netshell/lanstatusui.h
  dll/shellext/netshell/resource.h
Owners: @learn-more, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NETKVM] Fix the va_list handling in DebugPrint (#9459)
  drivers/network/dd/netkvm/Common/ParaNdis-Debug.c
Owners: @ThFabba

[NTOS:MM] Don't block on the balancer while holding AddressCreationLock
  ntoskrnl/mm/ARM3/pagfault.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CODEREVIEW]
  ntoskrnl/mm/ARM3/pagfault.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NETKVM] Gate the VLAN ID post-copy work on the copy succeeding
  drivers/network/dd/netkvm/Common/ParaNdis-Oid.c
Owners: @ThFabba

revert the change of access key
  dll/win32/shell32/lang/zh-TW.rc
  dll/win32/syssetup/lang/zh-TW.rc
Owners: @reactos/lang-chinese

[SSPICLI] Import from Wine-10.0 (#9453)
  dll/win32/CMakeLists.txt
  dll/win32/sspicli/CMakeLists.txt
  dll/win32/sspicli/main.c
  dll/win32/sspicli/sspicli.spec
  media/doc/WINESYNC.txt
Owners: none

[WIN32SS:NTGDI] ftGetFontUnicodeRanges(): Add missing FreeType locking (#7659)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[WIN32SS:NTGDI] freetype.c: Remove redundant code (#7659)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[WIN32SS:NTGDI] Check for TextIntUpdateSize() failures and fail suitably if so (#7659)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[WIN32SS:NTGDI] Deduplicate the IntRequestFontSize(Ex) routine functionality (#7659)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[WIN32SS:NTGDI] Fix font face's charmap member not systematically initialized (#7659)
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.h
Owners: none

[WIN32SS:NTGDI] freetype.c: Remove the dead code kept for references purposes only (#7659)
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Removed duplicate
  win32ss/user/ntuser/userfuncs.h
Owners: none

Add .msc files
  base/applications/mmc/mscfile.c
  base/applications/mmc/precomp.h
  base/applications/mscutils/CMakeLists.txt
  base/applications/mscutils/certlm.msc
  base/applications/mscutils/certmgr.msc
  base/applications/mscutils/compmgmt.msc
  base/applications/mscutils/devmgmt.msc
  base/applications/mscutils/diskmgmt.msc
  base/applications/mscutils/eventvwr.msc
  base/applications/mscutils/lusrmgr.msc
  base/applications/mscutils/services.msc
  boot/bootdata/hivecls.inf
Owners: none

[TRANSLATION] Update Malay (ms-MY) translation
  base/shell/explorer/lang/ms-MY.rc
Owners: @learn-more, @yagoulas
