Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

set_source_files_properties
  sdk/lib/crt/libcntpr.cmake
Owners: none

[MSVCRT][CRT]
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
  sdk/lib/crt/string/tcsncmp.h
  sdk/lib/crt/string/tcsncpy.h
Owners: none

_MSC_VER >= 1932
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
  sdk/lib/crt/string/tcsncmp.h
  sdk/lib/crt/string/tcsncpy.h
Owners: none

suggestion
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

test header
  modules/rostests/apitests/shell32/PathIsSlow.cpp
Owners: none

omit test
  modules/rostests/apitests/shell32/PathIsSlow.cpp
Owners: none

[CRT][UCRT][MSVCRT] Big fix
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
  sdk/lib/crt/libcntpr.cmake
  sdk/lib/crt/string/tcsncmp.h
  sdk/lib/crt/string/tcsncpy.h
  sdk/lib/ucrt/string/strncmp.c
  sdk/lib/ucrt/string/strncpy.c
  sdk/lib/ucrt/string/wcsncmp.cpp
  sdk/lib/ucrt/string/wcsncpy.cpp
Owners: none

SAL2
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Big fix 2
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
  sdk/lib/crt/string/tcsncmp.h
  sdk/lib/crt/string/tcsncpy.h
  sdk/lib/ucrt/string/strncmp.c
  sdk/lib/ucrt/string/strncpy.c
  sdk/lib/ucrt/string/wcsncmp.cpp
  sdk/lib/ucrt/string/wcsncpy.cpp
Owners: none

__REACTOS__
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
Owners: none

ordering
  dll/win32/msvcrt/string.c
Owners: none

Apply suggestions from code review
  sdk/lib/ucrt/string/strncmp.c
  sdk/lib/ucrt/string/strncpy.c
  sdk/lib/ucrt/string/wcsncmp.cpp
  sdk/lib/ucrt/string/wcsncpy.cpp
Owners: none

[MSVCRT][CRT][UCRT] Disable intrinsic string functions on MSVC (#9157)
  dll/win32/msvcrt/string.c
  dll/win32/msvcrt/wcs.c
  sdk/lib/crt/string/tcsncmp.h
  sdk/lib/crt/string/tcsncpy.h
  sdk/lib/ucrt/string/strncmp.c
  sdk/lib/ucrt/string/strncpy.c
  sdk/lib/ucrt/string/wcsncmp.cpp
  sdk/lib/ucrt/string/wcsncpy.cpp
Owners: none

Add new Portuguese (pt-PT) translation
  win32ss/user/winsrv/consrv/frontends/gui/guiterm.rc
  win32ss/user/winsrv/consrv/frontends/gui/lang/pt-BR.rc
  win32ss/user/winsrv/consrv/frontends/gui/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

Apply suggestions from code review
  win32ss/user/winsrv/consrv/frontends/gui/lang/pt-BR.rc
  win32ss/user/winsrv/consrv/frontends/gui/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[IFMON] Set TCPIP Properties
  dll/win32/ifmon/ip.c
  dll/win32/ifmon/precomp.h
Owners: none

[PSDK] Update urlmon.idl. CORE-20596
  sdk/include/psdk/urlmon.idl
Owners: none

[URLMON_WINETEST] Sync with Wine 10.0. CORE-20596
  modules/rostests/winetests/urlmon/CMakeLists.txt
  modules/rostests/winetests/urlmon/generated.c
  modules/rostests/winetests/urlmon/misc.c
  modules/rostests/winetests/urlmon/protocol.c
  modules/rostests/winetests/urlmon/sec_mgr.c
  modules/rostests/winetests/urlmon/stream.c
  modules/rostests/winetests/urlmon/testlist.c
  modules/rostests/winetests/urlmon/uri.c
  modules/rostests/winetests/urlmon/url.c
Owners: @ThFabba

Update Portuguese (pt-PT) translation.
  base/system/diskpart/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[KERNEL32_WINETEST] Add some ReactOS-specific tests for CopyFileEx (#9145)
  modules/rostests/winetests/kernel32/file.c
Owners: @ThFabba

[WSCRIPT] Sync to Wine 11.10 (#9100)
  base/applications/cmdutils/wscript/host.c
  base/applications/cmdutils/wscript/main.c
  base/applications/cmdutils/wscript/resource.h
  media/doc/WINESYNC.txt
Owners: none

Add file header
  base/system/diskpart/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[WINE] move debugstr_fourcc to debug.h
  dll/directx/wine/d3dxof/parsing.c
  dll/directx/wine/dmusic/dmusic_main.c
  dll/directx/wine/dmusic/dmusic_private.h
  sdk/include/wine/debug.h
Owners: none

[COMCTL32][COMCTL32_V6] Move button.c to comctl32_v6
  dll/win32/comctl32_v6/button.c
Owners: none

[WINE] Create wine_dll_version library
  sdk/lib/3rdparty/libwine/CMakeLists.txt
  sdk/lib/3rdparty/libwine/dll_version.c
Owners: none

[WIN32SS:USER] Fix ScrollBar class creation when using comctl32 v6, mute useless errors
  win32ss/user/ntuser/class.c
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/class.c
Owners: none

[UXTHEME] Add uxtheme_ros
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/vista.c
  sdk/include/psdk/uxtheme.h
  win32ss/user/ntuser/window.c
Owners: none

[SHELL32] Avoid SHRunControlPanel to be Vista compatible (#9114)
  base/shell/explorer/trayclock.cpp
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/CShellDispatch.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/wine/shellord.c
Owners: @learn-more, @yagoulas

[SHLWAPI][SHLWAPI_APITEST][SDK] Support MapWin32ErrorToSTG
  dll/win32/shlwapi/shlwapi.spec
  dll/win32/shlwapi/utils.cpp
  modules/rostests/apitests/shlwapi/CMakeLists.txt
  modules/rostests/apitests/shlwapi/MapWin32ErrorToSTG.c
  modules/rostests/apitests/shlwapi/testlist.c
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

add EXTERN_C
  dll/win32/shlwapi/utils.cpp
Owners: none

fix build
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

[CPPRT][SHLWAPI] Use <new> std::nothrow
  dll/win32/shlwapi/policy.cpp
  dll/win32/shlwapi/propbag.cpp
  dll/win32/shlwapi/querysrc.cpp
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

fixing...
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

retry
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

stlport
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

AFTER
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

rereretry
  dll/win32/shlwapi/propbag.cpp
Owners: none

cppstl
  dll/win32/shlwapi/CMakeLists.txt
Owners: none

reretry
  dll/win32/shlwapi/CMakeLists.txt
  sdk/lib/cpprt/CMakeLists.txt
Owners: none

(std::min)
  dll/win32/shlwapi/propbag.cpp
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
