Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[TCPIP] Map 127.x.x.x addresses to the loopback address
  drivers/network/tcpip/ip/network/interface.c
  drivers/network/tcpip/ip/network/neighbor.c
Owners: @ThFabba

[SDK][GCC-COMPAT] Include condvar_compat.c in build to fix GCC 13 link errors
  sdk/lib/gcc-compat/CMakeLists.txt
Owners: none

[FREELDR] Make AMD64 FREELDR_SECTION_COUNT GCC-version dependent
  boot/freeldr/freeldr/include/mm.h
Owners: @tkreuzer, @Extravert-ir

[FONTVIEW] Add Croatian (hr-HR) translation
  base/applications/fontview/lang/hr-HR.rc
Owners: none

Add support for Croatian language resource file
  base/applications/fontview/fontview.rc
Owners: none

[USER32] Button: Fix extra-byte layout on amd64
  win32ss/user/user32/controls/button.c
Owners: none

[MLANG] sync to wine-10.0
  dll/win32/mlang/CMakeLists.txt
  dll/win32/mlang/mlang.c
  dll/win32/mlang/mlang.rgs
  media/doc/WINESYNC.txt
  modules/rostests/winetests/mlang/mlang.c
  sdk/include/psdk/mlang.idl
Owners: @ThFabba

[TCPIP] Read the interface metric from the registry or use the automatic metric feature
  drivers/network/tcpip/datalink/lan.c
  drivers/network/tcpip/include/ip.h
  drivers/network/tcpip/include/router.h
  drivers/network/tcpip/ip/network/router.c
  drivers/network/tcpip/tcpip/ninfo.c
Owners: @ThFabba

[SHELL32] Fix discrepancy about paste menu items enabled/disabled state
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[FREELDR:ARCH] Modularize the disk registration code (#8736)
  boot/freeldr/freeldr/arch/archwsup.c
  boot/freeldr/freeldr/arch/i386/hwdisk.c
  boot/freeldr/freeldr/arch/uefi/uefidisk.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/disk/disk.c
  boot/freeldr/freeldr/include/arch/archwsup.h
  boot/freeldr/freeldr/include/disk.h
  boot/freeldr/freeldr/include/fs.h
  boot/freeldr/freeldr/lib/fs/fs.c
Owners: @tkreuzer, @Extravert-ir

[LIVECD] fix installation from LiveCD media
  base/setup/lib/CMakeLists.txt
  base/setup/lib/bootsup.c
  base/setup/lib/install.c
  base/setup/lib/setuplib.c
  base/setup/reactos/CMakeLists.txt
  base/setup/reactos/reactos.c
  boot/bootdata/CMakeLists.txt
  boot/bootdata/packages/CMakeLists.txt
  boot/freeldr/bootsect/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
Owners: none

[DBGHELP][AMD64] Return the last valid frame at end of stack in StackWalk64
  dll/win32/dbghelp/cpu_x86_64.c
Owners: none

[SHELL32] Improve changes for PR number 8735
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[HDAUDIO] - Fix driver inf - Dont fail driver for init verbs failure
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
Owners: none

[HDAUDIO] - Implement basic High Definition Audio codec driver - Works in VmWare - Vbox is WIP
  drivers/wdm/audio/drivers/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/guid.cpp
  drivers/wdm/audio/drivers/hdaudio/hda_verbs.h
  drivers/wdm/audio/drivers/hdaudio/hdaudio.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
  drivers/wdm/audio/drivers/hdaudio/hdaudio.rc
  drivers/wdm/audio/drivers/hdaudio/miniport.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  drivers/wdm/audio/drivers/hdaudio/stream.cpp
  sdk/include/ddk/portcls.h
Owners: none

[CMI] - Fix build
  drivers/wdm/audio/drivers/CMIDriver/minwavetables.hpp
Owners: none

[HDAUDIO] - Close DmaEngine on free - Fixes VBox playback
  drivers/wdm/audio/drivers/hdaudio/private.h
Owners: none

[HDAUDIO] memory leaks fixes and code hardenings
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/hdaudio.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  drivers/wdm/audio/drivers/hdaudio/prophnd.cpp
  drivers/wdm/audio/drivers/hdaudio/stream.cpp
  drivers/wdm/audio/drivers/hdaudio/tables.h
Owners: none

[HDAUDIO] - Fix encoding of inf
  drivers/wdm/audio/drivers/hdaudio/hdaudio.inf
Owners: none

[HDAUDIO] - Parsing improvements
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
  sdk/include/psdk/ksmedia.h
Owners: none

[HDAUDIO] Enable inf file
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
Owners: none

[HDAUDIO] - Enable EAPD when it is supported - Vbox starts to output sound
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
Owners: none

[HDAUDIO] Revert some unneeded cleanup changes which break device detection and verbs transferring.
  drivers/wdm/audio/drivers/hdaudio/common.cpp
Owners: none

[HDAUDIO] Fix Clang build Add an internal Pure Virtual handler to avoid Clang-linux build failure.
  drivers/wdm/audio/drivers/hdaudio/CMakeLists.txt
  drivers/wdm/audio/drivers/hdaudio/purecall.cpp
Owners: none

[HDAUDIO] Allow handling disconnected pins Don't limit pins to connected only. This should fix asserts and allow to work properly on real hardware.
  drivers/wdm/audio/drivers/hdaudio/common.cpp
Owners: none

[HDAUDIO] - Disable transferring of init verbs for now - Playback works in Vmware Player 17
  drivers/wdm/audio/drivers/hdaudio/common.cpp
Owners: none

[HDAUDIO] - Rewrite input node to pin node processsing - HDAUDIO now initializes on Vbox too, no sound yet
  drivers/wdm/audio/drivers/hdaudio/common.cpp
  drivers/wdm/audio/drivers/hdaudio/functiongroupnode.cpp
  drivers/wdm/audio/drivers/hdaudio/private.h
Owners: none

[HOSTNAME] Fix truncated output of localized strings
  base/applications/cmdutils/hostname/hostname.c
Owners: none

[HOSTNAME] Add Slovak (sk-SK) translation
  base/applications/cmdutils/hostname/hostname.rc
  base/applications/cmdutils/hostname/lang/sk-SK.rc
Owners: none

[CPORTLIB] Prepare splitting cport.c into the NS16550-specific routines and the rest
  sdk/lib/cportlib/ns16550.c
Owners: none

[CPORTLIB] Split cport.c into the NS16550-specific routines and the rest
  sdk/include/reactos/libs/cportlib/cportlib.h
  sdk/lib/cportlib/cport.c
  sdk/lib/cportlib/ns16550.c
Owners: none

[CPORTLIB:PC98] Refactor serial support code (#8558)
  ntoskrnl/kd/kd.h
  sdk/include/reactos/drivers/pc98/serial.h
  sdk/lib/cportlib/cport_pc98.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

** addendum pc98
  sdk/include/reactos/drivers/pc98/serial.h
  sdk/lib/cportlib/cport_pc98.c
Owners: none

[CPORTLIB:PC98] Refactor serial support code (#8558)
  ntoskrnl/kd/kd.h
  sdk/include/reactos/drivers/pc98/serial.h
  sdk/lib/cportlib/cport_pc98.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[COMCTL32] Fix tooltip icon shown when title is NULL or empty (CORE-20197)
  dll/win32/comctl32/tooltips.c
Owners: none

[COMCTL32_WINETEST] Add regression test for CORE-20197
  modules/rostests/winetests/comctl32/tooltips.c
Owners: @ThFabba

[SYSSETUP] Fix DST setting checkbox (#8622)
  dll/win32/syssetup/wizard.c
Owners: none

[USER32] button.c Fix extra-byte layout on x64 (#8733)
  win32ss/user/user32/controls/button.c
Owners: none

minor
  sdk/tools/obj2bin/obj2bin.c
Owners: none

[OBJ2BIN] Use section flags instead of a hardcoded ".text" name (#5317)
  sdk/tools/obj2bin/obj2bin.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
