Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[DOC] Fix typos in HACKING documentation file
  media/doc/HACKING
Owners: none

ipconfig: Fix memory leak for disconnected adapters in ShowInfo
  base/applications/network/ipconfig/ipconfig.c
Owners: none

[DEVMGR] Fix spelling of "occurred" in comments
  dll/win32/devmgr/api.cpp
  dll/win32/devmgr/properties/devprblm.cpp
Owners: none

[RAPPS] Implement Help action to open official wiki
  base/applications/rapps/gui.cpp
Owners: none

[NTOS:KE/x64] Don't call KiGetCpuVendor from KiGetCacheInformation
  ntoskrnl/ke/amd64/cpu.c
Owners: @tkreuzer

Update README documentation
  README.md
Owners: none

Improve DPI scaling for Show Desktop button
  base/shell/explorer/traydeskbtn.cpp
Owners: @learn-more, @yagoulas

[skip ci][CMAKE] Add CMakePresets.json
  CMakePresets.json
Owners: none

[0.4.16][APPHELP] SdbGetFileAttributes: skip NT prefix for GetFileVersionInfoSizeW
  dll/appcompat/apphelp/sdbfileattr.c
Owners: @learn-more

[PARTMGR][NTOS:PNP] Fix partition PDO lifetime during re-enumeration
  drivers/storage/partmgr/partmgr.c
  ntoskrnl/io/iomgr/volume.c
  ntoskrnl/io/pnpmgr/devaction.c
  ntoskrnl/io/pnpmgr/pnpirp.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:FSTUB] Avoid overwriting the MBR without an extended partition
  ntoskrnl/fstub/disksup.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CLANG][SDK] Restore stdc++compat for Clang builds
  sdk/lib/CMakeLists.txt
Owners: none

[EXFAT] Add exFAT filesystem and boot support
  boot/bootdata/hivesys.inf
  boot/freeldr/freeldr/CMakeLists.txt
  boot/freeldr/freeldr/include/freeldr.h
  boot/freeldr/freeldr/include/fs/exfat.h
  boot/freeldr/freeldr/lib/fs/exfat.c
  boot/freeldr/freeldr/lib/fs/fs.c
  boot/freeldr/freeldr/pcat.cmake
  boot/freeldr/freeldr/uefi.cmake
  drivers/filesystems/CMakeLists.txt
  drivers/filesystems/exfat/CMakeLists.txt
  drivers/filesystems/exfat/create.c
  drivers/filesystems/exfat/dirctl.c
  drivers/filesystems/exfat/driver.c
  drivers/filesystems/exfat/exfat.h
  drivers/filesystems/exfat/exfat.rc
  drivers/filesystems/exfat/fsctl.c
  drivers/filesystems/exfat/info.c
  drivers/filesystems/exfat/misc.c
  drivers/filesystems/exfat/rw.c
  drivers/filesystems/fs_rec/CMakeLists.txt
  drivers/filesystems/fs_rec/exfat.c
  drivers/filesystems/fs_rec/fs_rec.c
  drivers/filesystems/fs_rec/fs_rec.h
  sdk/lib/3rdparty/CMakeLists.txt
  sdk/lib/3rdparty/fatfs/00history.txt
  sdk/lib/3rdparty/fatfs/00readme.txt
  sdk/lib/3rdparty/fatfs/CMakeLists.txt
  sdk/lib/3rdparty/fatfs/LICENSE.txt
  sdk/lib/3rdparty/fatfs/README.reactos
  sdk/lib/3rdparty/fatfs/diskio.h
  sdk/lib/3rdparty/fatfs/ff.c
  sdk/lib/3rdparty/fatfs/ff.h
  sdk/lib/3rdparty/fatfs/ffconf.h
  sdk/lib/3rdparty/fatfs/ffunicode.c
Owners: @tkreuzer, @Extravert-ir, @HeisSpiter

[EXFAT] License new implementation under MIT
  boot/freeldr/freeldr/include/fs/exfat.h
  boot/freeldr/freeldr/lib/fs/exfat.c
  drivers/filesystems/exfat/create.c
  drivers/filesystems/exfat/dirctl.c
  drivers/filesystems/exfat/driver.c
  drivers/filesystems/exfat/exfat.h
  drivers/filesystems/exfat/fsctl.c
  drivers/filesystems/exfat/info.c
  drivers/filesystems/exfat/misc.c
  drivers/filesystems/exfat/rw.c
  drivers/filesystems/fs_rec/exfat.c
Owners: @tkreuzer, @Extravert-ir, @HeisSpiter

[EXFAT] Avoid still-patented exFAT techniques in FatFs
  sdk/lib/3rdparty/fatfs/README.reactos
  sdk/lib/3rdparty/fatfs/ff.c
Owners: none

[NTOS] Export the UTF-8 conversion routines
  ntoskrnl/ntoskrnl.spec
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[EXFAT] Introduce complete exFAT filesystem and boot support
  boot/bootdata/hivesys.inf
  boot/freeldr/freeldr/CMakeLists.txt
  boot/freeldr/freeldr/include/freeldr.h
  boot/freeldr/freeldr/include/fs/exfat.h
  boot/freeldr/freeldr/lib/fs/exfat.c
  boot/freeldr/freeldr/lib/fs/fs.c
  boot/freeldr/freeldr/pcat.cmake
  boot/freeldr/freeldr/uefi.cmake
  drivers/filesystems/CMakeLists.txt
  drivers/filesystems/exfat/CMakeLists.txt
  drivers/filesystems/exfat/create.c
  drivers/filesystems/exfat/dirctl.c
  drivers/filesystems/exfat/driver.c
  drivers/filesystems/exfat/exfat.h
  drivers/filesystems/exfat/exfat.rc
  drivers/filesystems/exfat/fsctl.c
  drivers/filesystems/exfat/info.c
  drivers/filesystems/exfat/misc.c
  drivers/filesystems/exfat/rw.c
  drivers/filesystems/fs_rec/CMakeLists.txt
  drivers/filesystems/fs_rec/exfat.c
  drivers/filesystems/fs_rec/fs_rec.c
  drivers/filesystems/fs_rec/fs_rec.h
  sdk/lib/3rdparty/CMakeLists.txt
  sdk/lib/3rdparty/fatfs/00history.txt
  sdk/lib/3rdparty/fatfs/00readme.txt
  sdk/lib/3rdparty/fatfs/CMakeLists.txt
  sdk/lib/3rdparty/fatfs/LICENSE.txt
  sdk/lib/3rdparty/fatfs/README.reactos
  sdk/lib/3rdparty/fatfs/diskio.h
  sdk/lib/3rdparty/fatfs/ff.c
  sdk/lib/3rdparty/fatfs/ff.h
  sdk/lib/3rdparty/fatfs/ffconf.h
  sdk/lib/3rdparty/fatfs/ffunicode.c
Owners: @tkreuzer, @Extravert-ir, @HeisSpiter

[EXFAT] Batch sequential FatFs data I/O
  drivers/filesystems/exfat/exfat.h
  drivers/filesystems/exfat/misc.c
  sdk/lib/3rdparty/fatfs/README.reactos
Owners: @HeisSpiter

Revert "[SETUP:LIB] Prepare setup for GPT support"
  base/setup/lib/bootsup.c
  base/setup/lib/fsutil.c
  base/setup/lib/setuplib.c
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
Owners: none

[MOUNTMGR] Keep EFI system partitions unassigned
  drivers/storage/mountmgr/device.c
  drivers/storage/mountmgr/mntmgr.h
  drivers/storage/mountmgr/mountmgr.c
Owners: @HeisSpiter

[MOUNTMGR][DDK] Use canonical GPT definitions
  drivers/storage/mountmgr/CMakeLists.txt
  drivers/storage/mountmgr/guid.c
  drivers/storage/mountmgr/mountmgr.c
  sdk/include/psdk/ntdddisk.h
Owners: @HeisSpiter

test 5
  base/setup/lib/bootsup.c
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
Owners: none

[NTFSLIB] Bug fixes
  sdk/lib/fslib/ntfslib/files.c
  sdk/lib/fslib/ntfslib/ntfslib.c
Owners: @HeisSpiter

[NTFSLIB] Pass Win11
  sdk/lib/fslib/ntfslib/CMakeLists.txt
  sdk/lib/fslib/ntfslib/attrib.c
  sdk/lib/fslib/ntfslib/files.c
  sdk/lib/fslib/ntfslib/ntfslib.c
  sdk/lib/fslib/ntfslib/ntfslib.h
  sdk/lib/fslib/ntfslib/refdata.h
Owners: @HeisSpiter

[NTFSLIB] Switch to heap for MSVC
  sdk/lib/fslib/ntfslib/files.c
Owners: @HeisSpiter

[NTFS][BOOT] Allow NTFS Writes and don't blindly allow unsupported writes
  boot/bootdata/hivesys.inf
  drivers/filesystems/ntfs/attrib.c
Owners: @HeisSpiter

[DESK] Apply the Shell Icon Size properly
  dll/cpl/desk/appearance.c
  dll/cpl/desk/effappdlg.c
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
  dll/cpl/desk/theme.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[RAPPS] Force download online apps catalog in ID_RESETDB (#9242)
  base/applications/rapps/gui.cpp
Owners: none

Revert "[SETUP:LIB] Prepare setup for GPT support"
  base/setup/lib/bootsup.c
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
Owners: none

[EXFAT] Improve file operations and FatFs performance
  drivers/filesystems/exfat/create.c
  drivers/filesystems/exfat/dirctl.c
  drivers/filesystems/exfat/driver.c
  drivers/filesystems/exfat/exfat.h
  drivers/filesystems/exfat/fsctl.c
  drivers/filesystems/exfat/info.c
  drivers/filesystems/exfat/misc.c
  drivers/filesystems/exfat/rw.c
  sdk/lib/3rdparty/fatfs/README.reactos
  sdk/lib/3rdparty/fatfs/ff.c
  sdk/lib/3rdparty/fatfs/ff.h
Owners: @HeisSpiter

Revert "[SETUP:LIB] Prepare setup for GPT support"
  base/setup/lib/bootsup.c
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
Owners: none

[NTDLL_APITEST] Implement test for RtlInitializeContext
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlInitializeContext.c
Owners: none

[NTDLL_APITEST] Improve NtQueryInformationThread test
  modules/rostests/apitests/ntdll/NtQueryInformationThread.c
Owners: none

[NDK][RTL] Fix signature of RtlInitializeContext
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/amd64/stubs.c
  sdk/lib/rtl/i386/thread.c
Owners: @tkreuzer, @HeisSpiter, @learn-more, @ThFabba

[NTDLL_APITEST] Add more tests for NtCreateThread
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtCreateThread.c
  modules/rostests/apitests/ntdll/amd64/NtCreateThread.S
  modules/rostests/apitests/ntdll/i386/NtCreateThread.S
Owners: @tkreuzer

[ROSTESTS] Add USER32 Control Gallery
  modules/rostests/win32/user32/CMakeLists.txt
  modules/rostests/win32/user32/controls/CMakeLists.txt
  modules/rostests/win32/user32/controls/controls.h
  modules/rostests/win32/user32/controls/main.c
  modules/rostests/win32/user32/controls/navhost.c
  modules/rostests/win32/user32/controls/pagehost.c
  modules/rostests/win32/user32/controls/pages/button.c
  modules/rostests/win32/user32/controls/pages/combo.c
  modules/rostests/win32/user32/controls/pages/edit.c
  modules/rostests/win32/user32/controls/pages/icontitle.c
  modules/rostests/win32/user32/controls/pages/listbox.c
  modules/rostests/win32/user32/controls/pages/mdi.c
  modules/rostests/win32/user32/controls/pages/scrollbar.c
  modules/rostests/win32/user32/controls/pages/static.c
Owners: none

[ROSTESTS:CONTROLS] Add buttons page
  modules/rostests/win32/user32/controls/pages/button.c
Owners: none

[ROSTESTS:CONTROLS] Add static page
  modules/rostests/win32/user32/controls/pages/static.c
Owners: none

[ROSTESTS:CONTROLS] Add listbox page
  modules/rostests/win32/user32/controls/pages/listbox.c
Owners: none

[ROSTESTS:CONTROLS] Add combo page
  modules/rostests/win32/user32/controls/pages/combo.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
