Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[KERNEL32_VISTA] Export hack for GetSystemTimePreciseAsFileTime
  dll/win32/kernel32/kernel32_vista/kernel32_vista.spec
Owners: none

[MSVCRT] Add _mbcasemap, _fileinfo
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt/reactos/data.c
Owners: none

[MSVCRT] Fix wine's broken _LDOUBLE stuff
  dll/win32/msvcrt/msvcrt.h
  dll/win32/msvcrt/string.c
Owners: none

[MSVCRT] msvcrt.spec: Add version attributes
  dll/win32/msvcrt/msvcrt.spec
Owners: none

[MSVCRTEX] Add ftol2_asm
  sdk/lib/crt/msvcrtex.cmake
Owners: none

[NTOS:PS/x64] Use KiGetTrapContext from PspGetOrSetContextKernelRoutine
  ntoskrnl/ps/amd64/psctx.c
Owners: @tkreuzer

[KMTEST] Remove totally broken PoolsCorruption test
  modules/rostests/kmtests/ntos_ex/ExPools.c
Owners: @ThFabba

[MSCTF] Make category manager C++ (#8210)
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/categorymgr.c
  base/ctf/msctf/categorymgr.cpp
Owners: none

[NDK] Update SYSTEM_INFORMATION_CLASS
  ntoskrnl/ex/sysinfo.c
  sdk/include/ndk/extypes.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[MSVCRT] Use wine msvcrt
  dll/win32/CMakeLists.txt
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/msvcrt.rc
  dll/win32/msvcrt/msvcrt.spec
  dll/win32/msvcrt/reactos/chkesp_failed.c
  sdk/lib/crt/CMakeLists.txt
  sdk/lib/crt/except/except.cmake
Owners: none

[MSCTF] Make compartment manager C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/compartmentmgr.c
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

Update base/ctf/msctf/compartmentmgr.cpp
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

improve
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

cicIsNullPtr
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

<oleauto.h>
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

refactor
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

refactor 2
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

[CMAKE] msvc.cmake: Add /wd4819 for Far-East
  sdk/cmake/msvc.cmake
Owners: none

Update sdk/cmake/msvc.cmake
  sdk/cmake/msvc.cmake
Owners: none

[SETUP][REACTOS] fix warning RC4206
  base/setup/reactos/lang/id-ID.rc
Owners: @reactos/lang-indonesian

[CMAKE] msvc.cmake: Add /wd4819 for Far East Asian (#8219)
  sdk/cmake/msvc.cmake
Owners: none

[BOOTVID] Fix build for ARM port
  drivers/base/bootvid/arm/arm.h
  drivers/base/bootvid/arm/bootvid.c
Owners: none

[SHELL32] Implement SHSimulateDropOnClsid
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CDropTargetHelper.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/shell32_main.h
  dll/win32/shell32/wine/shellole.c
  sdk/include/reactos/shellutils.h
Owners: @learn-more, @yagoulas

[WINLOGON] Improve EWX_* flags to WLX_* actions mapping in WM_LOGONNOTIFY:LN_LOGOFF
  base/system/winlogon/sas.c
Owners: none

[ROSAUTOTEST] Add option to use libcurl
  modules/rostests/rosautotest/CConfiguration.cpp
  modules/rostests/rosautotest/CMakeLists.txt
  modules/rostests/rosautotest/CWebService.cpp
  modules/rostests/rosautotest/CWebService.h
  modules/rostests/rosautotest/CWebServiceLibCurl.cpp
  modules/rostests/rosautotest/CWebServiceLibCurl.h
  modules/rostests/rosautotest/CWebServiceWinInet.cpp
  modules/rostests/rosautotest/CWebServiceWinInet.h
  modules/rostests/rosautotest/CWineTest.cpp
  modules/rostests/rosautotest/curl/curl.h
  modules/rostests/rosautotest/curl/curlver.h
  modules/rostests/rosautotest/curl/easy.h
  modules/rostests/rosautotest/curl/header.h
  modules/rostests/rosautotest/curl/mprintf.h
  modules/rostests/rosautotest/curl/multi.h
  modules/rostests/rosautotest/curl/options.h
  modules/rostests/rosautotest/curl/stdcheaders.h
  modules/rostests/rosautotest/curl/system.h
  modules/rostests/rosautotest/curl/typecheck-gcc.h
  modules/rostests/rosautotest/curl/urlapi.h
  modules/rostests/rosautotest/precomp.h
Owners: none

[MSCTF] Make compartment manager C++ (#8218)
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/compartmentmgr.c
  base/ctf/msctf/compartmentmgr.cpp
Owners: none

[MSCTF] Make context C++
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/context.c
  base/ctf/msctf/context.cpp
Owners: none

improve
  base/ctf/msctf/context.cpp
Owners: none

[APITEST] Add GetNTVersion() macro for version detection on Windows 8.x+
  modules/rostests/apitests/include/apitest.h
Owners: none

Update base/ctf/msctf/context.cpp
  base/ctf/msctf/context.cpp
Owners: none

[NTUSER][USER32] Fix IME Window and IME UI initialization
  win32ss/include/ntuser.h
  win32ss/user/ntuser/ime.c
  win32ss/user/user32/misc/imm.c
Owners: none

Update win32ss/user/user32/misc/imm.c
  win32ss/user/user32/misc/imm.c
Owners: none

Update win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ime.c
Owners: none

Update win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ime.c
Owners: none

Update win32ss/user/ntuser/ime.c
  win32ss/user/ntuser/ime.c
Owners: none

improve
  win32ss/user/ntuser/ime.c
Owners: none

improve 2
  win32ss/user/ntuser/ime.c
Owners: none

improve 3
  win32ss/include/ntuser.h
  win32ss/user/user32/misc/imm.c
Owners: none

[FREELDR] Hack AMD64 so it can boot in high mem
  boot/freeldr/freeldr/include/mm.h
Owners: @tkreuzer, @Extravert-ir

[VCRUNTIME][ASM] Fix definition of x64 _JUMP_BUFFER
  sdk/include/asm/ksamd64.template.h
  sdk/include/vcruntime/setjmp.h
Owners: none
