Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[UCRT] Fix build of memcpy_s.cpp
  sdk/lib/ucrt/string/memcpy_s.cpp
Owners: none

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Update sdk/include/psdk/shellapi.h
  sdk/include/psdk/shellapi.h
Owners: none

Update sdk/include/psdk/shellapi.h
  sdk/include/psdk/shellapi.h
Owners: none

[SHELL32][SHELL32_APITEST][SDK] Implement SHSetUnreadMailCountW (#7620)
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHSetUnreadMailCountW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shellapi.h
Owners: @learn-more, @yagoulas

[SHELL32][SDK] Implement StrRStrA/W
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

Update sdk/include/reactos/undocshell.h
  sdk/include/reactos/undocshell.h
Owners: none

add apitest
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/StrRStr.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: none

improve tests
  modules/rostests/apitests/shell32/StrRStr.cpp
Owners: none

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

fix types
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

add comments
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Update modules/rostests/apitests/shell32/StrRStr.cpp
  modules/rostests/apitests/shell32/StrRStr.cpp
Owners: none

improve apitest
  modules/rostests/apitests/shell32/StrRStr.cpp
Owners: none

[SHELL32][SDK] Implement SHEnumerateUnreadMailAccountsW
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

move to shellapi.h
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/undocshell.h
Owners: none

add apitest
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHEnumerateUnreadMailAccountsW.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: none

reduce lines
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Update sdk/include/psdk/shellapi.h
  sdk/include/psdk/shellapi.h
Owners: none

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

fix build
  dll/win32/shell32/stubs.cpp
Owners: @learn-more, @yagoulas

[NTOS:KE/x64] Improve freeze code
  ntoskrnl/ke/amd64/freeze.c
Owners: @tkreuzer

[REGEDIT] Add ES_AUTOHSCROLL to address bar window (#7638)
  base/applications/regedit/childwnd.c
Owners: none

[FREELDR] Rename the `ext2.*` to `ext.*`
  boot/freeldr/freeldr/CMakeLists.txt
  boot/freeldr/freeldr/include/freeldr.h
  boot/freeldr/freeldr/include/fs/ext.h
  boot/freeldr/freeldr/lib/fs/ext.c
Owners: @tkreuzer, @Extravert-ir

[SHELL32] Allow DnD to create shortcuts across different drives (#7607)
  dll/win32/shell32/droptargets/CFSDropTarget.cpp
  dll/win32/shell32/droptargets/CFSDropTarget.h
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/shldataobject.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Temporarily disable LVS_EX_DOUBLEBUFFER in DefView
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Temporarily disable LVS_EX_DOUBLEBUFFER in DefView (#7642)
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[SHELL32] SHELL_FindExecutable: Fix last regression from PR#7588
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Follow-up of #7620: Simplify string handling
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

[SHELL32][SHELL32_APITEST][SDK] Implement SHEnumerateUnreadMailAccountsW (#7619)
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHEnumerateUnreadMailAccountsW.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/shellapi.h
Owners: @learn-more, @yagoulas

[SHELL32][SHELL32_APITEST][SDK] Implement StrRStrA/W (#7621)
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/StrRStr.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

[SHELL32][SDK] Implement SHGetUnreadMailCountW
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

move to shellapi.h
  sdk/include/psdk/shellapi.h
  sdk/include/reactos/undocshell.h
Owners: none

fix
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

add apitest
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetUnreadMailCountW.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: none

use CStringW
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

cbSize
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

modify shell32.spec
  dll/win32/shell32/shell32.spec
Owners: @learn-more, @yagoulas

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
