Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[CMD] Clear global pointer to local variable after use
  base/shell/cmd/for.c
Owners: none

[SHLWAPI] Disable GCC 13 overloaded-virtual warning
  dll/win32/shlwapi/CMakeLists.txt
Owners: none

[FTP] Disable GCC 13 free-nonheap-object warning
  base/applications/network/ftp/CMakeLists.txt
Owners: none

[D3DX9_WINETEST] Disable GCC 13 sizeof-array-div warning
  modules/rostests/winetests/d3dx9_36/CMakeLists.txt
Owners: @ThFabba

[DDRAW] Disable GCC 13 stringop-overflow warning
  dll/directx/wine/ddraw/CMakeLists.txt
Owners: none

[EXT2] Disable GCC 13 address-of-packed-member warning
  drivers/filesystems/ext2/CMakeLists.txt
Owners: @HeisSpiter

[VFATLIB] Disable GCC 13 address-of-packed-member warning
  sdk/lib/fslib/vfatlib/CMakeLists.txt
Owners: @HeisSpiter

[LIBTIFF] Disable GCC 13 array-parameter warning
  dll/3rdparty/libtiff/CMakeLists.txt
Owners: @ThFabba

[SHELL32] Reduce diff to wine (indentation)
  dll/win32/shell32/wine/classes.c
  dll/win32/shell32/wine/shellord.c
Owners: @learn-more, @yagoulas

[MSDMO] Disable GCC 13 array-parameter warning
  dll/directx/wine/msdmo/CMakeLists.txt
Owners: none

[GLU32] Disable GCC 13 array-parameter warning
  dll/opengl/glu32/CMakeLists.txt
Owners: none

[RSAENH] Fix GCC 13 array-parameter warning
  dll/win32/rsaenh/sha2.c
Owners: none

[UNIATA] Disable GCC 13 misleading-indentation warning
  drivers/storage/ide/uniata/CMakeLists.txt
Owners: @ThFabba

[WININET] Fix missing braces (from wine-10.0)
  dll/win32/wininet/internet.c
Owners: none

[ROSTESTS] Disable GCC 13 misleading-indentation warning
  modules/rostests/CMakeLists.txt
Owners: none

[OLEAUT32] Disable GCC 13 misleading-indentation warning
  dll/win32/oleaut32/CMakeLists.txt
Owners: none

[ACPI] Apply consistent indentation (tabs)
  drivers/bus/acpi/busmgr/utils.c
Owners: @ThFabba

[CMD] Fix GCC 13 misleading-indentation warning
  base/shell/cmd/del.c
Owners: none

[NTOSKRNL] Minimal NpxThread change
  ntoskrnl/ke/thrdobj.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[HALX86] Update the PCI hardware IDs database.
  hal/halx86/legacy/bus/pci_classes.ids
  hal/halx86/legacy/bus/pci_vendors.ids
  media/doc/3rd Party Files.txt
Owners: none

[SDK:NDK] cmtypes.h: Add few missing CM_RESOURCE_* defines, present in the XDK
  sdk/include/ndk/cmtypes.h
Owners: none

[SDK:XDK] extypes.h: Update WORK_QUEUE_TYPE with Win8+ values
  sdk/include/xdk/extypes.h
Owners: none

[NTOS:IO] IoFreeWorkItem(): Check the tag when freeing the previously pool-allocated item
  ntoskrnl/io/iomgr/iowork.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[USER32][COMCTL32] ComboBox: Don't check owner window on creation (#8647)
  dll/win32/comctl32/combo.c
  win32ss/user/user32/controls/combo.c
Owners: none

Change based on reviewer comments.
  sdk/lib/3rdparty/freetype/src/sfnt/ttcmap.c
Owners: none

fixing...
  win32ss/gdi/ntgdi/freetype.c
Owners: none

fixing... 2
  win32ss/gdi/ntgdi/freetype.c
Owners: none

fixing... 3
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[USER32][COMCTL32] EDIT control: Use ImmIsIME instead of IS_IME_HKL
  dll/win32/comctl32/edit.c
  win32ss/user/user32/controls/edit.c
Owners: none

[MSVCRT] Fix use of __wine_RtlUnwind
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/i386/__wine_RtlUnwind.s
Owners: none

[MSVCRT] Remove custom _chkesp_failed
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/reactos/chkesp_failed.c
Owners: none

[VCRUNTIME] Implement _chkesp / _chkesp_failed
  sdk/lib/vcruntime/CMakeLists.txt
  sdk/lib/vcruntime/i386/_chkesp.s
  sdk/lib/vcruntime/i386/_chkesp_failed.c
Owners: none

[MSVCRT_SHARED] Fix up for use with ucrtbase
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/cpp.c
  dll/win32/msvcrt/except.c
  dll/win32/msvcrt/msvc_fwd_decl.h
Owners: none

[MSVCRT20] Build from msvcrt sources
  dll/win32/msvcrt20/CMakeLists.txt
  dll/win32/msvcrt20/msvcrt20.c
  dll/win32/msvcrt20/msvcrt20.spec
  dll/win32/msvcrt20/stubs.c
Owners: none

[MSVCRT_SHARED] Implement TLS support for ucrtbase
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/reactos/ucrt_tls_sup.c
Owners: none

[VCRUNTIME] Implement purecall handler support
  sdk/lib/vcruntime/CMakeLists.txt
  sdk/lib/vcruntime/purecall.cpp
Owners: none

[MSVCRT40] Build from msvcrt sources
  dll/win32/msvcrt40/CMakeLists.txt
  dll/win32/msvcrt40/msvcrt40.c
  dll/win32/msvcrt40/msvcrt40.spec
  dll/win32/msvcrt40/stubs.c
Owners: none

[MSVCRT] Fix _mbsnbcat_l parameter check
  dll/win32/msvcrt/mbcs.c
Owners: none

[MSVCRT] Build improvements for asm code
  dll/win32/msvcrt/CMakeLists.txt
  dll/win32/msvcrt/i386/except_i386_asm.s
  dll/win32/msvcrt/i386/exception_ptr.s
Owners: none

[UCRTBASE] Switch to msvcrt_shared
  dll/win32/ucrtbase/CMakeLists.txt
  dll/win32/ucrtbase/ucrtbase.spec
  sdk/lib/crt/CMakeLists.txt
  sdk/lib/crt/ucrtsupport.cmake
Owners: none
