Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[ATL][ATL80][ATL100] Sync to Wine-10.0
  dll/win32/atl/CMakeLists.txt
  dll/win32/atl/atl.c
  dll/win32/atl/atl.rgs
  dll/win32/atl/atl.spec
  dll/win32/atl/atl30.c
  dll/win32/atl/atl_ax.c
  dll/win32/atl/atl_lib.idl
  dll/win32/atl/atl_lib_r.rgs
  dll/win32/atl/atl_lib_t.rgs
  dll/win32/atl/atl_ros.diff
  dll/win32/atl/registrar.c
  dll/win32/atl/rsrc.rc
  dll/win32/atl100/CMakeLists.txt
  dll/win32/atl80/CMakeLists.txt
  dll/win32/atl80/atl80.c
  modules/rostests/winetests/atl/CMakeLists.txt
  modules/rostests/winetests/atl/atl_ax.c
  modules/rostests/winetests/atl/module.c
  modules/rostests/winetests/atl/registrar.c
  modules/rostests/winetests/atl100/CMakeLists.txt
  modules/rostests/winetests/atl100/atl.c
  modules/rostests/winetests/atl80/CMakeLists.txt
  modules/rostests/winetests/atl80/atl.c
  modules/rostests/winetests/atl80/atl80.manifest
  sdk/include/wine/atlbase.h
Owners: @ThFabba

[COMPSTUI] Sync to Wine-10.0
  dll/win32/compstui/CMakeLists.txt
  dll/win32/compstui/compstui.rc
  dll/win32/compstui/compstui_main.c
  dll/win32/compstui/lang/bg-BG.rc
  dll/win32/compstui/lang/cs-CZ.rc
  dll/win32/compstui/lang/de-DE.rc
  dll/win32/compstui/lang/el-GR.rc
  dll/win32/compstui/lang/en-US.rc
  dll/win32/compstui/lang/es-ES.rc
  dll/win32/compstui/lang/et-EE.rc
  dll/win32/compstui/lang/fr-FR.rc
  dll/win32/compstui/lang/he-IL.rc
  dll/win32/compstui/lang/hu-HU.rc
  dll/win32/compstui/lang/id-ID.rc
  dll/win32/compstui/lang/it-IT.rc
  dll/win32/compstui/lang/ja-JP.rc
  dll/win32/compstui/lang/no-NO.rc
  dll/win32/compstui/lang/pl-PL.rc
  dll/win32/compstui/lang/pt-BR.rc
  dll/win32/compstui/lang/pt-PT.rc
  dll/win32/compstui/lang/ro-RO.rc
  dll/win32/compstui/lang/ru-RU.rc
  dll/win32/compstui/lang/sk-SK.rc
  dll/win32/compstui/lang/sq-AL.rc
  dll/win32/compstui/lang/tr-TR.rc
  dll/win32/compstui/lang/uk-UA.rc
  dll/win32/compstui/lang/zh-CN.rc
  dll/win32/compstui/lang/zh-HK.rc
  dll/win32/compstui/lang/zh-TW.rc
  sdk/include/psdk/compstui.h
  sdk/lib/crt/msvcrtex.cmake
  sdk/lib/crt/wcscpy_s.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[CABINET] Sync to Wine-10.0
  dll/win32/cabinet/CMakeLists.txt
  dll/win32/cabinet/cabinet.h
  dll/win32/cabinet/cabinet_main.c
  dll/win32/cabinet/fci.c
  dll/win32/cabinet/fdi.c
Owners: none

[COMCAT] Sync to Wine-10.0
  dll/win32/comcat/CMakeLists.txt
  dll/win32/comcat/comcat_main.c
  modules/rostests/winetests/comcat/comcat.c
Owners: @ThFabba

[ADVPACK] Sync to Wine-10.0
  dll/win32/advpack/CMakeLists.txt
  dll/win32/advpack/advpack.c
  dll/win32/advpack/advpack.spec
  dll/win32/advpack/advpack_private.h
  dll/win32/advpack/files.c
  dll/win32/advpack/install.c
  dll/win32/advpack/reg.c
  modules/rostests/winetests/advpack/advpack.c
  modules/rostests/winetests/advpack/files.c
Owners: @ThFabba

Add a newline
  hal/halx86/x2apic/x2apicp.h
Owners: none

[CODEREIVEW]
  modules/rostests/apitests/kernel32/JobObject.c
Owners: none

CODEREVIEW
  win32ss/user/ntuser/job.c
Owners: none

CODEREVIEW
  win32ss/user/ntuser/job.h
Owners: none

[CREDUI] Sync to Wine-10.0
  dll/win32/credui/CMakeLists.txt
  dll/win32/credui/credui.spec
  dll/win32/credui/credui_main.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/credui/credui.c
Owners: @ThFabba

[CRYPTDLG] Sync to Wine-10.0
  dll/win32/cryptdlg/CMakeLists.txt
  dll/win32/cryptdlg/main.c
  media/doc/WINESYNC.txt
Owners: none

[CRYPTDLL] Sync to Wine-10.0
  dll/win32/cryptdll/CMakeLists.txt
  dll/win32/cryptdll/cryptdll.c
  dll/win32/cryptdll/cryptdll.spec
  dll/win32/cryptdll/stubs.c
  media/doc/WINESYNC.txt
Owners: none

[0.4.16][GDI32] Increase MaxScanLines
  win32ss/gdi/gdi32/objects/bitmap.c
Owners: none

Use ugly C comments as requested
  base/applications/notepad/dialog.c
Owners: none

[0.4.16][KERNEL32] Enable GetProcessDEPPolicy export stub for XP+
  dll/win32/kernel32/kernel32.spec
Owners: none

[NTOS:SE] Notify every interested filesystem of an upcoming logon session termination
  ntoskrnl/include/internal/tag.h
  ntoskrnl/se/srm.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer, @GeoB99

[SSPICLI] Import from Wine-10.0
  dll/win32/CMakeLists.txt
  dll/win32/sspicli/CMakeLists.txt
  dll/win32/sspicli/main.c
  dll/win32/sspicli/sspicli.spec
  media/doc/WINESYNC.txt
Owners: none

[MCIAVI32] Sync with Wine 11.11
  dll/win32/mciavi32/CMakeLists.txt
  dll/win32/mciavi32/info.c
  dll/win32/mciavi32/mciavi.c
  dll/win32/mciavi32/mciavi_res.rc
  dll/win32/mciavi32/mmoutput.c
  dll/win32/mciavi32/private_mciavi.h
  dll/win32/mciavi32/wnd.c
  media/doc/WINESYNC.txt
Owners: none

[SDK][LIBWINE] Import debugstr_fourcc
  dll/directx/wine/d3dxof/parsing.c
  dll/directx/wine/dmusic/dmobject.c
  dll/directx/wine/dmusic/dmusic_main.c
  dll/directx/wine/dmusic/dmusic_private.h
  sdk/include/wine/debug.h
Owners: none

[SETUPAPI] Fix SetupDiDeleteDeviceInfo
  dll/win32/setupapi/devinst.c
  dll/win32/setupapi/setupapi.spec
Owners: none

[CODEREVIEW]
  hal/halx86/x2apic/x2apicp.h
Owners: none

[WINE] Create wine_dll_version library
  sdk/lib/3rdparty/libwine/CMakeLists.txt
  sdk/lib/3rdparty/libwine/dll_version.c
Owners: none

[WIN32SS:USER] Fix ScrollBar class creation when using comctl32 v6, mute useless errors
  win32ss/user/ntuser/class.c
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/class.c
Owners: none

[COMCTL32][COMCTL32_V6] Move button.c to comctl32_v6
  dll/win32/comctl32_v6/button.c
Owners: none

[UXTHEME] Add uxtheme_ros
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/vista.c
  sdk/include/psdk/uxtheme.h
  win32ss/user/ntuser/window.c
Owners: none

[COMCTL32_WINETEST] Sync to Wine-11.11
  modules/rostests/winetests/comctl32/CMakeLists.txt
  modules/rostests/winetests/comctl32/animate.c
  modules/rostests/winetests/comctl32/bmp1x1_32bpp.bmp
  modules/rostests/winetests/comctl32/button.c
  modules/rostests/winetests/comctl32/combo.c
  modules/rostests/winetests/comctl32/datetime.c
  modules/rostests/winetests/comctl32/dpa.c
  modules/rostests/winetests/comctl32/edit.c
  modules/rostests/winetests/comctl32/header.c
  modules/rostests/winetests/comctl32/imagelist.c
  modules/rostests/winetests/comctl32/ipaddress.c
  modules/rostests/winetests/comctl32/listbox.c
  modules/rostests/winetests/comctl32/listview.c
  modules/rostests/winetests/comctl32/misc.c
  modules/rostests/winetests/comctl32/monthcal.c
  modules/rostests/winetests/comctl32/mru.c
  modules/rostests/winetests/comctl32/msg.h
  modules/rostests/winetests/comctl32/pager.c
  modules/rostests/winetests/comctl32/progress.c
  modules/rostests/winetests/comctl32/rebar.c
  modules/rostests/winetests/comctl32/resources.h
  modules/rostests/winetests/comctl32/rsrc.rc
  modules/rostests/winetests/comctl32/static.c
  modules/rostests/winetests/comctl32/status.c
  modules/rostests/winetests/comctl32/subclass.c
  modules/rostests/winetests/comctl32/syslink.c
  modules/rostests/winetests/comctl32/tab.c
  modules/rostests/winetests/comctl32/taskdialog.c
  modules/rostests/winetests/comctl32/toolbar.c
  modules/rostests/winetests/comctl32/tooltips.c
  modules/rostests/winetests/comctl32/trackbar.c
  modules/rostests/winetests/comctl32/treeview.c
  modules/rostests/winetests/comctl32/updown.c
  modules/rostests/winetests/comctl32/v6util.h
Owners: @ThFabba

[COMCTL32_WINETEST] Update to Wine-11.15
  modules/rostests/winetests/comctl32/listbox.c
  modules/rostests/winetests/comctl32/rebar.c
  modules/rostests/winetests/comctl32/syslink.c
  modules/rostests/winetests/comctl32/treeview.c
  modules/rostests/winetests/comctl32/v6util.h
Owners: @ThFabba

[COMCTL32][COMCTL32_V6] Update to Wine-11.15
  dll/win32/comctl32/rebar.c
  dll/win32/comctl32/treeview.c
  dll/win32/comctl32_v6/listbox.c
  dll/win32/comctl32_v6/syslink.c
  media/doc/WINESYNC.txt
Owners: none

[SETUPAPI] Fix SetupDiDeleteDeviceInfo (#9436)
  dll/win32/setupapi/devinst.c
  dll/win32/setupapi/setupapi.spec
Owners: none

[DBGENG] Sync to Wine-10.0
  dll/win32/dbgeng/dbgeng.c
  media/doc/WINESYNC.txt
  sdk/include/psdk/dbgeng.h
Owners: none

[FAULTREP] Sync to Wine-10.0
  dll/win32/faultrep/faultrep.c
  media/doc/WINESYNC.txt
  modules/rostests/winetests/faultrep/faultrep.c
Owners: @ThFabba

[FONTSUB] Sync to Wine-10.0
  dll/win32/fontsub/main.c
  media/doc/WINESYNC.txt
Owners: none

[DCIMAN32] Sync to Wine-10.0
  media/doc/WINESYNC.txt
Owners: none

[0.4.16][SYSSETUP] Update Portuguese (pt-PT) translation (#9433)
  dll/win32/syssetup/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[0.4.16][SDK] Set KERNEL_VERSION_BUILD_TYPE to empty string
  sdk/include/reactos/version.cmake
Owners: none

[APITESTS][NTOS:PS][SDK][NTUSER] Job UI Restriction support (#9448)
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/JobObject.c
  modules/rostests/apitests/kernel32/testlist.c
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/UserHandleGrantAccess.c
  modules/rostests/apitests/user32/testlist.c
  ntoskrnl/include/internal/ps.h
  ntoskrnl/ps/job.c
  ntoskrnl/ps/win32.c
  sdk/include/ndk/psfuncs.h
  sdk/include/ndk/pstypes.h
  sdk/include/xdk/winnt_old.h
  win32ss/CMakeLists.txt
  win32ss/include/ntuser.h
  win32ss/user/ntuser/job.c
  win32ss/user/ntuser/job.h
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/object.c
  win32ss/user/ntuser/object.h
  win32ss/user/ntuser/win32.h
  win32ss/win32kp.h
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NETKVM] Negotiate the control-queue RX and VLAN features before using them
  drivers/network/dd/netkvm/Common/ParaNdis-Common.c
Owners: @ThFabba

[PSDK] Update mshtmdid.h mshtmhst.idl and mshtml.idl. CORE-20602
  sdk/include/psdk/mshtmdid.h
  sdk/include/psdk/mshtmhst.idl
  sdk/include/psdk/mshtml.idl
Owners: none

[MSHTML_WINETEST] Sync with Wine 10.0. CORE-20602
  modules/rostests/winetests/mshtml/CMakeLists.txt
  modules/rostests/winetests/mshtml/activex.c
  modules/rostests/winetests/mshtml/asyncscriptload.js
  modules/rostests/winetests/mshtml/blank_ie10.html
  modules/rostests/winetests/mshtml/doc_with_prop.html
  modules/rostests/winetests/mshtml/doc_with_prop_ie9.html
  modules/rostests/winetests/mshtml/documentmode.js
  modules/rostests/winetests/mshtml/dom.c
  modules/rostests/winetests/mshtml/dom.js
  modules/rostests/winetests/mshtml/es5.js
  modules/rostests/winetests/mshtml/events.c
  modules/rostests/winetests/mshtml/events.html
  modules/rostests/winetests/mshtml/events.js
  modules/rostests/winetests/mshtml/exectest.html
  modules/rostests/winetests/mshtml/frame.js
  modules/rostests/winetests/mshtml/guid.c
  modules/rostests/winetests/mshtml/htmldoc.c
  modules/rostests/winetests/mshtml/htmllocation.c
  modules/rostests/winetests/mshtml/iframe.html
  modules/rostests/winetests/mshtml/img.png
  modules/rostests/winetests/mshtml/jstest.html
  modules/rostests/winetests/mshtml/misc.c
  modules/rostests/winetests/mshtml/mshtml_ros.diff
  modules/rostests/winetests/mshtml/mshtml_test.h
  modules/rostests/winetests/mshtml/nav_test.html
  modules/rostests/winetests/mshtml/navigation.js
  modules/rostests/winetests/mshtml/precomp.h
  modules/rostests/winetests/mshtml/protocol.c
  modules/rostests/winetests/mshtml/reload.js
  modules/rostests/winetests/mshtml/rsrc.rc
  modules/rostests/winetests/mshtml/runscript.html
  modules/rostests/winetests/mshtml/script.c
  modules/rostests/winetests/mshtml/style.c
  modules/rostests/winetests/mshtml/testlist.c
  modules/rostests/winetests/mshtml/winetest.js
  modules/rostests/winetests/mshtml/xhr.js
  modules/rostests/winetests/mshtml/xhr_iframe.html
  modules/rostests/winetests/mshtml/xmlhttprequest.c
Owners: @ThFabba

[MSHTML] Adapt to mshtml headers updates. CORE-20602
  dll/win32/mshtml/htmlanchor.c
  dll/win32/mshtml/htmlarea.c
  dll/win32/mshtml/htmlframe.c
  dll/win32/mshtml/htmlgeneric.c
  dll/win32/mshtml/htmlhead.c
  dll/win32/mshtml/htmliframe.c
  dll/win32/mshtml/htmlinput.c
  dll/win32/mshtml/htmllink.c
  dll/win32/mshtml/htmlmeta.c
  dll/win32/mshtml/htmlobject.c
  dll/win32/mshtml/htmlscript.h
  dll/win32/mshtml/htmlselect.c
  dll/win32/mshtml/htmlstyleelem.c
  dll/win32/mshtml/htmltablecell.c
  dll/win32/mshtml/htmltablerow.c
  dll/win32/mshtml/htmltextarea.c
  dll/win32/mshtml/xmlhttprequest.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
