Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

some fixes
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

many fixes
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/undocgdi.h
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.c
Owners: none

add comment for fatal bug
  win32ss/gdi/gdi32/objects/text.c
Owners: none

some fixes
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/undocgdi.h
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Owners: none

fixing
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Owners: none

fixing 2
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/undocgdi.h
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
Owners: none

fixing 3
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Owners: none

fixing 4
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/ntgdi/text.c
Owners: none

[IMM32][NETAPI32][SDK] Reduce Wine dependency (#7912)
  dll/win32/imm32/CMakeLists.txt
  dll/win32/imm32/debug.h
  dll/win32/imm32/precomp.h
  dll/win32/netapi32/CMakeLists.txt
  dll/win32/netapi32/netapi32.h
  sdk/lib/CMakeLists.txt
  sdk/lib/wine2ros/CMakeLists.txt
  sdk/lib/wine2ros/wine2ros.c
  sdk/lib/wine2ros/wine2ros.h
Owners: none

fix
  sdk/include/psdk/ntgdi.h
  win32ss/gdi/ntgdi/font.c
Owners: none

[NTGDI][NTUSER] Initial support of NtGdiRemoveFontResourceW (#7877)
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/misc.h
  win32ss/user/ntuser/misc/registry.c
Owners: none

Update sdk/include/psdk/ntgdi.h
  sdk/include/psdk/ntgdi.h
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

Update win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/font.c
Owners: none

[GDI32][NTGDI][SDK] Font/Text: Fix SAL2 annotations and const-ness (#7865)
  sdk/include/psdk/ntgdi.h
  sdk/include/reactos/undocgdi.h
  win32ss/gdi/eng/stubs.c
  win32ss/gdi/gdi32/objects/font.c
  win32ss/gdi/gdi32/objects/text.c
  win32ss/gdi/ntgdi/font.c
  win32ss/gdi/ntgdi/freetype.c
  win32ss/gdi/ntgdi/gdibatch.c
  win32ss/gdi/ntgdi/text.c
  win32ss/gdi/ntgdi/text.h
Owners: none

fix objbase.h 2
  sdk/include/reactos/wine/objbase.h
Owners: none

improve
  base/applications/cmdutils/wscript/main.c
  dll/win32/crypt32/oid.c
  dll/win32/cryptui/main.c
  dll/win32/dbghelp/compat.h
  dll/win32/imm32/precomp.h
  dll/win32/mmdrv/mmddk.h
  dll/win32/msi/msipriv.h
  dll/win32/ole32/ole2.c
  dll/win32/ole32/stg_prop.c
  dll/win32/oleaut32/oleaut32_oaidl.idl
  dll/win32/oleaut32/usrmarshal.c
  dll/win32/setupapi/devinst.c
  dll/win32/setupapi/install.c
  dll/win32/setupapi/setupapi_private.h
  dll/win32/wininet/urlcache.c
  dll/win32/winmm/winemm.h
  modules/rostests/winetests/msi/CMakeLists.txt
  modules/rostests/winetests/msi/suminfo.c
  modules/rostests/winetests/wininet/wininet_test.h
  sdk/include/dxsdk/dmusici.h
  sdk/include/ndk/iotypes.h
  sdk/include/psdk/dbghelp.h
  sdk/include/psdk/mapidefs.h
  sdk/include/psdk/ntddstor.h
  sdk/include/psdk/wia.h
  sdk/include/reactos/wine/objbase.h
  sdk/include/reactos/wine/oledlg.h
  sdk/include/reactos/wine/pdh.h
  sdk/include/reactos/wine/snmp.h
  sdk/include/reactos/wine/tapi.h
  sdk/include/reactos/wine/usp10.h
  sdk/include/reactos/wine/windef.h
  sdk/include/reactos/wine/winioctl.h
  sdk/include/reactos/wine/wtypes.h
  sdk/include/xdk/iotypes.h
  sdk/lib/3rdparty/libwine/CMakeLists.txt
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/threadpool.c
Owners: @ThFabba, @HeisSpiter, @learn-more, @tkreuzer

add sdk/include/reactos/wine/ntddstor.h
  sdk/include/reactos/wine/ntddstor.h
Owners: none

imm32 is not wine module
  dll/win32/imm32/CMakeLists.txt
Owners: none

make fltlib non-wine module
  dll/win32/fltlib/CMakeLists.txt
Owners: none

fixing
  dll/win32/mspatcha/mspatcha_main.c
  sdk/include/reactos/wine/winioctl.h
  sdk/include/xdk/winnt_old.h
Owners: @learn-more

add NT_SUCCESS to sdk/include/reactos/wine/winternl.h
  sdk/include/reactos/wine/winternl.h
Owners: none

un-wine-ify netapi32
  dll/win32/netapi32/CMakeLists.txt
Owners: none

fix imm32
  dll/win32/imm32/precomp.h
Owners: none

fix uxtheme and wine2ros
  dll/win32/uxtheme/CMakeLists.txt
  dll/win32/uxtheme/uxthemep.h
  sdk/include/psdk/ntstatus.h
  sdk/lib/wine2ros/wine2ros.c
  sdk/lib/wine2ros/wine2ros.h
Owners: none

fix debugstr_a/_w
  sdk/lib/wine2ros/wine2ros.c
Owners: none

fix samlib and debugstr_a/_w
  dll/win32/samlib/CMakeLists.txt
  dll/win32/samlib/samlib.c
  sdk/lib/wine2ros/wine2ros.c
Owners: none

[CRT] wcs.c: bring back some wine code
  sdk/lib/crt/string/wcs.c
Owners: none

[CRT] Add some missing definitions to msvcrt.h
  sdk/lib/crt/include/internal/wine/msvcrt.h
Owners: none

[CRT] wcs.c: centralize MSVCRT_ prefix hacks
  sdk/lib/crt/string/wcs.c
Owners: none

[WINESYNC] msvcrt: Implemented vswprintf_s.
  sdk/lib/crt/string/wcs.c
Owners: none

[WINESYNC] msvcrt: Fix formatting of pointers in printf.
  sdk/lib/crt/string/wcs.c
Owners: none

[WINESYNC] msvcrt: Convert all the printf functions to use MS ABI varargs.
  sdk/lib/crt/string/wcs.c
Owners: none

[WINESYNC] msvcrt: Avoid size_t in printf format.
  sdk/lib/crt/string/wcs.c
Owners: none
