Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[VIDEOPRT] Consistently do legacy detection in IntVideoPortFindAdapter()
  win32ss/drivers/videoprt/dispatch.c
  win32ss/drivers/videoprt/videoprt.c
  win32ss/drivers/videoprt/videoprt.h
Owners: none

** WIP ** DPRINT Investigations for HwFindAdapter and others
  win32ss/drivers/videoprt/dispatch.c
  win32ss/drivers/videoprt/videoprt.c
Owners: none

** WIP ** [VIDEOPRT] Fix INT10h support initialization
  win32ss/drivers/videoprt/dispatch.c
  win32ss/drivers/videoprt/int10.c
  win32ss/drivers/videoprt/videoprt.c
  win32ss/drivers/videoprt/videoprt.h
Owners: none

** WIP ** More investigations for INT10h
  win32ss/drivers/videoprt/dispatch.c
  win32ss/drivers/videoprt/int10.c
  win32ss/drivers/videoprt/videoprt.c
Owners: none

** WIP ** Test disabling this spurious direct VideoPortEnumerateChildren() call
  win32ss/drivers/videoprt/dispatch.c
Owners: none

[WINED3D] FFS has to return correct values on both msvc and gcc (#8625)
  sdk/include/wine/port.h
Owners: none

[WIN32SS:NTGDI] Handle AMD GPUs being dumb when they do a double restore (#8644)
  win32ss/gdi/eng/float.c
Owners: none

[USER32_APITEST] New LoadImage 1bpp test for PR #4015 retry (#8522)
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/LoadImage.c
  modules/rostests/apitests/user32/bpp1a.bmp
  modules/rostests/apitests/user32/bpp1b.bmp
  modules/rostests/apitests/user32/resource_1bpp.h
  modules/rostests/apitests/user32/user32_apitest_1bpp.rc
Owners: none

[VIDEOPRT] Allow later nvidia cards to load
  win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/videoprt.c
Owners: none

[USER32] Fix GSView 5.0 "Espanol" background color (Retry of PR #4015) (#8588)
  win32ss/user/user32/windows/cursoricon.c
Owners: none

[VIDEOPRT] Allow later nvidia cards to load (#8646)
  win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/videoprt.c
Owners: none

[FREELDR:ARCH] Improve configuration resource list size calculations (#8629)
  boot/freeldr/freeldr/arch/i386/hwacpi.c
  boot/freeldr/freeldr/arch/i386/hwapm.c
  boot/freeldr/freeldr/arch/i386/hwpci.c
  boot/freeldr/freeldr/arch/i386/pc/machpc.c
  boot/freeldr/freeldr/arch/i386/pc/pchw.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98hw.c
  boot/freeldr/freeldr/arch/i386/xbox/machxbox.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
Owners: @tkreuzer, @Extravert-ir

[SDK/INCLUDE] Define a structure describing boot-time framebuffer information (#6658)
  sdk/include/reactos/drivers/bootvid/framebuf.h
Owners: none

[FREELDR:XBOX/UEFI] Enumerate video framebuffer information in the Hardware Configuration Tree (#8617)
  boot/freeldr/freeldr/arch/i386/xbox/machxbox.c
  boot/freeldr/freeldr/arch/i386/xbox/xboxvideo.c
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  boot/freeldr/freeldr/arch/uefi/uefivid.c
  boot/freeldr/freeldr/arch/vidfb.c
  boot/freeldr/freeldr/arch/vidfb.h
Owners: @tkreuzer, @Extravert-ir

[CRTDLL] Build from msvcrt sources
  dll/win32/crtdll/CMakeLists.txt
  dll/win32/crtdll/crtdll.spec
  dll/win32/crtdll/dllmain.c
Owners: none

[SHELL32] SHOpenWithDialog: Write DefaultIcon registry key (#8634)
  dll/win32/shell32/COpenWithMenu.cpp
Owners: @learn-more, @yagoulas

[SDK/INCLUDE] Introduce boot display discovery helper functions (#6661)
  sdk/include/reactos/drivers/bootvid/framebuf.c
Owners: none

[BOOTVID] Implement a generic linear framebuffer boot video driver (#8618)
  drivers/base/bootvid/CMakeLists.txt
  drivers/base/bootvid/framebuf/bootvid.c
  drivers/base/bootvid/framebuf/framebuf.h
  drivers/base/bootvid/framebuf/lfbbvid.cmake
Owners: none

[USER32][COMCTL32] COMBOBOX: Don't check ownership
  dll/win32/comctl32/combo.c
  win32ss/user/user32/controls/combo.c
Owners: none

[VIDEOPRT] VideoPortVerifyAccessRanges: Fix use after free
  win32ss/drivers/videoprt/resource.c
Owners: none

[NTGDI][FREETYPE] Introduce font look-up cache
  win32ss/gdi/ntgdi/freetype.c
Owners: none

CORE-12549
  sdk/lib/3rdparty/freetype/src/sfnt/ttcmap.c
Owners: none

[CMAKE] gcc.cmake: Move all warning options into the same place
  sdk/cmake/gcc.cmake
Owners: none

[CMAKE] Disable some GCC 13 builtins
  sdk/cmake/gcc.cmake
Owners: none

[CMAKE] Remove Clang specific option from GCC command line
  sdk/cmake/gcc.cmake
Owners: none

[STDC++COMPAT] Add rand_s for GCC 13 and pre-NT6 builds
  sdk/lib/gcc-compat/CMakeLists.txt
  sdk/lib/gcc-compat/rand_s.c
Owners: none

[CMAKE] gcc.cmake: Disable GCC 13 nonnull-compare warnings
  sdk/cmake/gcc.cmake
Owners: none

[WINE] exception.h: Fix __wine_longjmp declaration
  sdk/include/wine/exception.h
Owners: none

[IPHLPAPI_APITEST] Don't compare arrays against NULL.
  modules/rostests/apitests/iphlpapi/GetNetworkParams.c
Owners: none

[CRT_APITEST] Don't compare arrays against NULL.
  modules/rostests/apitests/crt/crtdata.c
Owners: none

[DHCPCSVC] Fix GCC 13 stringop-overflow warning
  base/services/dhcpcsvc/dhcp/adapter.c
  base/services/dhcpcsvc/include/rosdhcp.h
Owners: none

[UDFS] Fix GCC 13 warnings about uninitialized variables
  drivers/filesystems/udfs/close.cpp
  drivers/filesystems/udfs/fileinfo.cpp
  drivers/filesystems/udfs/udfinit.cpp
Owners: @HeisSpiter

[NTDLL_APITEST] Suppress GCC 13 infinite-recursion warning
  modules/rostests/apitests/ntdll/StackOverflow.c
Owners: none

[NTOSKRNL] Fix GCC 13 stringop-overflow warnings regarding KiNtVdmState
  ntoskrnl/include/internal/i386/ke.h
  ntoskrnl/include/internal/vdm.h
  ntoskrnl/ke/i386/v86vdm.c
  ntoskrnl/vdm/vdmexec.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[MSPAINT] Don't use ZeroMemory on a non-POD object
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
Owners: none

[NSLOOKUP] Fix GCC 13 stringop-truncation warning
  base/applications/network/nslookup/utility.c
Owners: none

[MMSYS] Don't compare array against NULL
  dll/cpl/mmsys/sounds.c
  dll/opengl/glu32/CMakeLists.txt
  dll/opengl/mesa/CMakeLists.txt
Owners: none

[ROSAUTOTEST] Fix invalid use of delete operator
  modules/rostests/rosautotest/tools.cpp
Owners: none

[SHELL32] Disable GCC 13 overloaded-virtual warning
  dll/win32/shell32/CMakeLists.txt
Owners: @learn-more, @yagoulas

[CMD] Fix GCC 13 use-after-free warning
  base/shell/cmd/misc.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
