Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[PSDK] Define maximum SSID length properly (#7394)
  sdk/include/psdk/windot11.h
  sdk/include/psdk/wlantypes.h
Owners: none

[DESK] *.rc: Tweak comboboxes WS_CHILD, CBS_SORT
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Apply suggestions from code review
  dll/win32/userenv/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[DESK] *.rc: Tweak comboboxes WS_CHILD, CBS_SORT (#7399)
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/en-GB.rc
  dll/cpl/desk/lang/en-US.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
  dll/cpl/desk/lang/fr-FR.rc
  dll/cpl/desk/lang/he-IL.rc
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
  dll/cpl/desk/lang/it-IT.rc
  dll/cpl/desk/lang/ja-JP.rc
  dll/cpl/desk/lang/nl-NL.rc
  dll/cpl/desk/lang/no-NO.rc
  dll/cpl/desk/lang/pl-PL.rc
  dll/cpl/desk/lang/pt-BR.rc
  dll/cpl/desk/lang/pt-PT.rc
  dll/cpl/desk/lang/ro-RO.rc
  dll/cpl/desk/lang/ru-RU.rc
  dll/cpl/desk/lang/sk-SK.rc
  dll/cpl/desk/lang/sq-AL.rc
  dll/cpl/desk/lang/sv-SE.rc
  dll/cpl/desk/lang/tr-TR.rc
  dll/cpl/desk/lang/uk-UA.rc
  dll/cpl/desk/lang/zh-CN.rc
  dll/cpl/desk/lang/zh-HK.rc
  dll/cpl/desk/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[FDEBUG] *.rc: Less outdated version-hardcodes (#7383)
  boot/freeldr/fdebug/lang/bg-BG.rc
  boot/freeldr/fdebug/lang/cs-CZ.rc
  boot/freeldr/fdebug/lang/de-DE.rc
  boot/freeldr/fdebug/lang/el-GR.rc
  boot/freeldr/fdebug/lang/en-US.rc
  boot/freeldr/fdebug/lang/es-ES.rc
  boot/freeldr/fdebug/lang/fr-FR.rc
  boot/freeldr/fdebug/lang/hu-HU.rc
  boot/freeldr/fdebug/lang/id-ID.rc
  boot/freeldr/fdebug/lang/it-IT.rc
  boot/freeldr/fdebug/lang/ja-JP.rc
  boot/freeldr/fdebug/lang/no-NO.rc
  boot/freeldr/fdebug/lang/pl-PL.rc
  boot/freeldr/fdebug/lang/ro-RO.rc
  boot/freeldr/fdebug/lang/ru-RU.rc
  boot/freeldr/fdebug/lang/sk-SK.rc
  boot/freeldr/fdebug/lang/sq-AL.rc
  boot/freeldr/fdebug/lang/tr-TR.rc
  boot/freeldr/fdebug/lang/uk-UA.rc
  boot/freeldr/fdebug/lang/zh-CN.rc
  boot/freeldr/fdebug/lang/zh-HK.rc
  boot/freeldr/fdebug/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[MSCTFIME] Add Turkish (tr-TR) translation (#7381)
  dll/ime/msctfime/lang/tr-TR.rc
  dll/ime/msctfime/msctfime.rc
Owners: @reactos/lang-turkish

[MSCTFIME] msctfime.rc turkish-sort
  dll/ime/msctfime/msctfime.rc
Owners: none

Update tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  dll/cpl/sysdm/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/rapps/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update tr-TR.rc
  base/applications/rapps/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[MSCTFIME] msctfime.rc turkish-sort (#7401)
  dll/ime/msctfime/msctfime.rc
Owners: none

[DESK] de-DE.rc: Tweak AUTOCHECKBOXES, added to PR already to allow you to have an early look at it. Will do it for all languages
  dll/cpl/desk/lang/de-DE.rc
Owners: @reactos/lang-german

[ADVAPI32] Move the ControlPacket alloc/free inside ScServiceDispatcher()
  dll/win32/advapi32/service/sctrl.c
Owners: none

[ADVAPI32] sctrl.c: Check the ScCreateStatusBinding() returned value and fail if needed
  dll/win32/advapi32/service/sctrl.c
Owners: none

[ADVAPI32] StartServiceCtrlDispatcherA/W(): Fail if the function was already called once
  dll/win32/advapi32/service/sctrl.c
Owners: none

[ADVAPI32] StartServiceCtrlDispatcherA/W(): Check the names of services when counting them. Fail also if none were found.
  dll/win32/advapi32/service/sctrl.c
Owners: none

en-US.rc
  dll/cpl/desk/lang/en-US.rc
Owners: none

Update ro-RO.rc
  base/applications/dxdiag/lang/ro-RO.rc
Owners: @reactos/lang-romanian

en-GB.rc
  dll/cpl/desk/lang/en-GB.rc
Owners: none

bg-BG.rc
  dll/cpl/desk/lang/bg-BG.rc
Owners: none

cs-CZ.rc: My theory is proven already: after only those 4 languages have been transformed, the binary-size went down already from 650.240 bytes -> 649.728 bytes HOORAY!
  dll/cpl/desk/lang/cs-CZ.rc
Owners: none

[CONSOLE] Update Romanian (ro-RO) translation
  dll/cpl/console/lang/ro-RO.rc
Owners: @reactos/lang-romanian

el-GR.rc
  dll/cpl/desk/lang/el-GR.rc
Owners: none

es-ES.rc
  dll/cpl/desk/lang/es-ES.rc
Owners: @reactos/lang-spanish

Update ro-RO.rc
  dll/cpl/console/lang/ro-RO.rc
Owners: @reactos/lang-romanian

et-EE.rc
  dll/cpl/desk/lang/et-EE.rc
Owners: @reactos/lang-estonian

fr-FR.rc, VOILA! DESK.CPL 650.240 bytes -> 649.216 bytes
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

he-IL.rc
  dll/cpl/desk/lang/he-IL.rc
Owners: @reactos/lang-hebrew

hu-HU.rc
  dll/cpl/desk/lang/hu-HU.rc
Owners: @reactos/lang-hungarian

[EXPLORER_OLD] Update Romanian (ro-RO) translation
  modules/rosapps/applications/explorer-old/explorer-ro.rc
Owners: none

[WINED3DCFG] Update Romanian (ro-RO) translation
  dll/cpl/wined3dcfg/lang/ro-RO.rc
Owners: @reactos/lang-romanian

id-ID.rc
  dll/cpl/desk/lang/id-ID.rc
Owners: @reactos/lang-indonesian

[MSCONFIG_NEW] Update Romanian (ro-RO) translation
  base/applications/msconfig_new/lang/ro-RO.rc
Owners: @reactos/lang-romanian

it-IT.rc DESK.CPL 650.240 bytes -> 648.704 bytes
  dll/cpl/desk/lang/it-IT.rc
Owners: @reactos/lang-italian

Update ro-RO.rc
  base/applications/msconfig_new/lang/ro-RO.rc
Owners: @reactos/lang-romanian

ja-JP.rc
  dll/cpl/desk/lang/ja-JP.rc
Owners: none

nl-NL.rc
  dll/cpl/desk/lang/nl-NL.rc
Owners: @reactos/lang-dutch

no-NO.rc
  dll/cpl/desk/lang/no-NO.rc
Owners: none

pl-PL.rc
  dll/cpl/desk/lang/pl-PL.rc
Owners: @reactos/lang-polish

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
