Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[0.4.16][FLOPPY] Fix double-free of the interrupt object on init failure (#9225)
  drivers/storage/floppy/floppy/floppy.c
Owners: none

nit
  win32ss/user/ntuser/nonclient.c
Owners: none

[0.4.16][RAPPS] Relax Let's Encrypt cert issuer check
  base/applications/rapps/loaddlg.cpp
Owners: none

[NTUSER] Preserve WM_QUIT in move/size modal loop (#9087)
  win32ss/user/ntuser/nonclient.c
Owners: none

Set the variable to 0 just in case
  dll/win32/shell32/CShellDispatch.cpp
Owners: @learn-more, @yagoulas

[DBGHELP] Fix a warning (#9214)
  dll/win32/dbghelp/type.c
Owners: none

[0.4.16][NTUSER] Clip the non-client update region to the dirty region (#9126)
  win32ss/user/ntuser/painting.c
Owners: none

[IPHLPAPI] Implement GetBestInterfaceEx
  dll/win32/iphlpapi/iphlpapi_main.c
Owners: none

Update base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Update base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Apply suggestion from @HBelusca
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Fix header
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

LONGHORN fix
  dll/win32/shell32/evalcmd/CMakeLists.txt
  dll/win32/shell32/evalcmd/evalcmd.h
  dll/win32/shlwapi/assoc.c
  sdk/include/reactos/shlwapi_undoc.h
Owners: @learn-more, @yagoulas

Translate 'Format' button text to 'Biçimlendir'
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

fix build
  dll/win32/shell32/evalcmd/CMakeLists.txt
  sdk/include/reactos/evalcmd.h
Owners: @learn-more, @yagoulas

[SHLEXTDBG] Dump IShellFolder column names and properties (#9228)
  modules/rosapps/applications/devutils/shlextdbg/shlextdbg.cpp
Owners: none

Translate 'Bootloader' to 'Önyükleyici' in tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[NTOS:KE/x64] Fix KeContextToTrapFrame
  ntoskrnl/ke/amd64/context.c
Owners: @tkreuzer

[NDK][RTL] Fix signature of RtlInitializeContext
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/amd64/stubs.c
  sdk/lib/rtl/i386/thread.c
Owners: @tkreuzer, @HeisSpiter, @learn-more, @ThFabba

[NTDLL_APITEST] Implement test for RtlInitializeContext
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlInitializeContext.c
Owners: none

[RTL/x64][NTOS:KE/x64] Fix RtlInitializeContext
  dll/win32/kernel32/client/utils.c
  ntoskrnl/ke/amd64/thrdini.c
  sdk/lib/rtl/amd64/stubs.c
Owners: @tkreuzer

[NTOS:KE/x64] Fix KiInitializeContextThread
  ntoskrnl/ke/amd64/thrdini.c
Owners: @tkreuzer

[NTOS:KE/x64] Fix KiInitializeUserApc
  ntoskrnl/ke/amd64/usercall.c
Owners: @tkreuzer

[NTDLL_APITEST] Add more tests for NtCreateThread
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtCreateThread.c
  modules/rostests/apitests/ntdll/amd64/NtCreateThread.S
  modules/rostests/apitests/ntdll/i386/NtCreateThread.S
Owners: @tkreuzer

[WSHTCPIP][TCPIP] Implement SO_KEEPALIVE, SIO_KEEPALIVE_VALS
  dll/win32/wshtcpip/wshtcpip.c
  dll/win32/wshtcpip/wshtcpip.h
  drivers/network/tcpip/include/tcp.h
  drivers/network/tcpip/ip/lwip_glue/lwip_glue.h
  drivers/network/tcpip/ip/lwip_glue/tcp.c
  drivers/network/tcpip/ip/transport/tcp/tcp.c
  drivers/network/tcpip/lwip/src/include/lwip/opt.h
  drivers/network/tcpip/lwip/src/include/lwip/priv/tcp_priv.h
  drivers/network/tcpip/tcpip/cinfo.c
  sdk/include/psdk/tcpioctl.h
Owners: @ThFabba

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update base/applications/runas/lang/pl-PL.rc
  base/applications/runas/lang/pl-PL.rc
Owners: @reactos/lang-polish

[NETSH] Add the pfnOsVersionCheck function to the internal data structures and retrieve the WMI version information
  base/applications/network/netsh/CMakeLists.txt
  base/applications/network/netsh/context.c
  base/applications/network/netsh/netsh.c
  base/applications/network/netsh/precomp.h
  base/applications/network/netsh/wmi.c
Owners: none

[WS2_32] Import inet_addr from wine
  dll/win32/ws2_32/CMakeLists.txt
  dll/win32/ws2_32/src/addrconv.c
  dll/win32/ws2_32/src/wine.c
Owners: none

[IPHLPAPI] Implement GetIpErrorString
  dll/win32/iphlpapi/iphlpapi_main.c
Owners: none

[0.4.16][NTUSER] Preserve WM_QUIT in move/size modal loop (#9087)
  win32ss/user/ntuser/nonclient.c
Owners: none

[SYSSETUP] Don't zero process information struct
  dll/win32/syssetup/wizard.c
Owners: none

[SYSSETUP] Resource changes
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/resource.h
  dll/win32/syssetup/wizard.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SYSSETUP] Don't try to install x86 packages on non-x86
  dll/win32/syssetup/wizard.c
  sdk/include/reactos/libs/syssetup/syssetup.h
Owners: none
