Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[EXPLORER] Remove dynamic size check for code simplicity
  base/shell/explorer/explorer.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Implement and use SHOpenPropSheet (#7432)
  dll/win32/shell32/CFolderOptions.cpp
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/drive.cpp
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/dialogs/filedefext.cpp
  dll/win32/shell32/dialogs/fprop.cpp
  dll/win32/shell32/dialogs/item_prop.cpp
  dll/win32/shell32/dialogs/recycler_prop.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/precomp.h
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shell32.cpp
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shldataobject.cpp
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/wine/shell32_main.h
Owners: @learn-more, @yagoulas

[SHELL32] Use FS compatible PIDL format for Recycle Bin items
  dll/win32/shell32/CCopyAsPathMenu.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/CFolderItemVerbs.cpp
  dll/win32/shell32/COpenWithMenu.cpp
  dll/win32/shell32/CSendToMenu.cpp
  dll/win32/shell32/CShellLink.cpp
  dll/win32/shell32/dialogs/recycler_prop.cpp
  dll/win32/shell32/folders/CDesktopFolder.cpp
  dll/win32/shell32/folders/CFSFolder.cpp
  dll/win32/shell32/folders/CFSFolder.h
  dll/win32/shell32/folders/CRecycleBin.cpp
  dll/win32/shell32/folders/CRecycleBin.h
  dll/win32/shell32/precomp.h
  dll/win32/shell32/shellrecyclebin/recyclebin.c
  dll/win32/shell32/shellrecyclebin/recyclebin.h
  dll/win32/shell32/shellrecyclebin/recyclebin_generic.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_private.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.cpp
  dll/win32/shell32/shellrecyclebin/recyclebin_v5.h
  dll/win32/shell32/shellrecyclebin/recyclebin_v5_enumerator.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.h
  dll/win32/shell32/wine/pidl.c
  dll/win32/shell32/wine/pidl.h
  dll/win32/shell32/wine/shell32_main.h
Owners: @learn-more, @yagoulas

[FREELDR] Change base address and add some things
  boot/freeldr/freeldr/include/arch/pc/x86common.h
  boot/freeldr/freeldr/pcat.cmake
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt some assembly code to change of base address for i386
  boot/freeldr/freeldr/arch/i386/entry.S
  boot/freeldr/freeldr/arch/i386/multiboot.S
  boot/freeldr/freeldr/arch/realmode/helpers.inc
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/arch/realmode/int386.inc
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt bootsectors to base address change
  boot/freeldr/bootsect/btrfs.S
  boot/freeldr/bootsect/fat.S
  boot/freeldr/bootsect/fat32.S
  boot/freeldr/bootsect/faty.S
  boot/freeldr/bootsect/isoboot.S
  boot/freeldr/bootsect/ntfs.S
  boot/freeldr/bootsect/pc98/fat12fdd.S
  boot/freeldr/freeldr/arch/realmode/fathelp.inc
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Leave only two messages in amd64.S to reduce segmentation changing
  boot/freeldr/freeldr/arch/realmode/amd64.S
Owners: @tkreuzer

[FREELDR] Adapt some assembly code to change of base address for amd64
  boot/freeldr/freeldr/arch/amd64/entry.S
  boot/freeldr/freeldr/arch/realmode/amd64.S
  boot/freeldr/freeldr/include/arch/pc/x86common.h
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Add optimization flag to reduce binary size
  boot/freeldr/freeldr/pcat.cmake
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Fix some notes/comments
  boot/freeldr/bootsect/fat.S
  boot/freeldr/bootsect/pc98/fat12fdd.S
  boot/freeldr/freeldr/arch/realmode/fathelp.inc
  boot/freeldr/notes.txt
Owners: @tkreuzer, @Extravert-ir

[WINMINE] Update sounds license
  base/applications/games/winmine/rc/Sounds_License.txt
Owners: none

[BROWSEUI] FindFolder must release the view and the browser
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

[EXPLORER] Check registry key for default shell (#7502)
  base/shell/explorer/explorer.cpp
Owners: @learn-more, @yagoulas

Don't check pointer first
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

[BROWSEUI] FindFolder must release the view and the browser (#7529)
  dll/win32/browseui/shellfind/CFindFolder.cpp
Owners: @learn-more, @yagoulas

[ACCESS] Update Czech (cs-CZ) translation
  dll/cpl/access/lang/cs-CZ.rc
Owners: none

[USERINIT] Update Esperanto (eo-AA) translation
  base/system/userinit/lang/eo-AA.rc
  base/system/userinit/userinit.rc
Owners: none

[USERINIT] Update German (de-DE) translation
  base/system/userinit/lang/de-DE.rc
Owners: @reactos/lang-german

Update base/system/userinit/userinit.rc
  base/system/userinit/userinit.rc
Owners: none

[DISKPART] Implement 'select disk system' and 'select disk next'
  base/system/diskpart/lang/de-DE.rc
  base/system/diskpart/lang/en-US.rc
  base/system/diskpart/lang/pl-PL.rc
  base/system/diskpart/lang/pt-PT.rc
  base/system/diskpart/lang/ro-RO.rc
  base/system/diskpart/lang/ru-RU.rc
  base/system/diskpart/lang/sq-AL.rc
  base/system/diskpart/lang/tr-TR.rc
  base/system/diskpart/lang/zh-CN.rc
  base/system/diskpart/lang/zh-TW.rc
  base/system/diskpart/resource.h
  base/system/diskpart/select.c
Owners: @reactos/lang-german, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-chinese

[DISKPART] Fix a comment
  base/system/diskpart/delete.c
Owners: none

[DISKPART] Use the MBR_MAGIC to check for a valid MBR
  base/system/diskpart/partlist.c
Owners: none

[EXPLORER] Remove redundant bIsSystemShell assignments
  base/shell/explorer/explorer.cpp
Owners: @learn-more, @yagoulas

[WINMM] Add DLL version info
  dll/win32/winmm/winmm_res.rc
Owners: none

[WINMM] Add DLL version info (#7543)
  dll/win32/winmm/winmm_res.rc
Owners: none

[REACTOS] Replace all references of CLSID_ConnectionFolder to CLSID_NetworkConnections (#7503)
  dll/shellext/netshell/README
  dll/shellext/netshell/netshell.cpp
  dll/shellext/netshell/shfldr_netconnect.cpp
  dll/shellext/netshell/shfldr_netconnect.h
  dll/win32/shell32/folders/CRegFolder.cpp
  modules/rostests/apitests/com/netshell.c
Owners: @learn-more, @yagoulas

[EXPLORER] Remove redundant bIsSystemShell assignments (#7542)
  base/shell/explorer/explorer.cpp
Owners: @learn-more, @yagoulas

[SETUPLIB][REACTOS][USETUP] Turn setuplib into a DLL shared between TUI and GUI 1st-stage setups (#7523)
  base/setup/lib/CMakeLists.txt
  base/setup/lib/bootsup.c
  base/setup/lib/bootsup.h
  base/setup/lib/fsutil.c
  base/setup/lib/fsutil.h
  base/setup/lib/install.c
  base/setup/lib/install.h
  base/setup/lib/precomp.h
  base/setup/lib/setuplib.c
  base/setup/lib/setuplib.h
  base/setup/lib/setuplib.rc
  base/setup/lib/setuplib.spec
  base/setup/lib/spapisup/fileqsup.c
  base/setup/lib/spapisup/fileqsup.h
  base/setup/lib/spapisup/infsupp.c
  base/setup/lib/spapisup/infsupp.h
  base/setup/lib/utils/genlist.c
  base/setup/lib/utils/genlist.h
  base/setup/lib/utils/osdetect.c
  base/setup/lib/utils/osdetect.h
  base/setup/lib/utils/partinfo.h
  base/setup/lib/utils/partlist.c
  base/setup/lib/utils/partlist.h
  base/setup/reactos/CMakeLists.txt
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/spapisup/fileqsup.c
  base/setup/reactos/spapisup/infsupp.c
  base/setup/usetup/CMakeLists.txt
  base/setup/usetup/spapisup/fileqsup.c
  base/setup/usetup/spapisup/infsupp.c
  base/setup/usetup/usetup.c
  base/setup/usetup/usetup.h
  modules/rostests/unittests/setuplib/CMakeLists.txt
  modules/rostests/unittests/setuplib/IsValidInstallDirectory.c
Owners: none

[DISKPART] Fix typos in string resources for the SELECT command
  base/system/diskpart/lang/de-DE.rc
  base/system/diskpart/lang/en-US.rc
  base/system/diskpart/lang/pl-PL.rc
  base/system/diskpart/lang/pt-PT.rc
  base/system/diskpart/lang/ro-RO.rc
  base/system/diskpart/lang/ru-RU.rc
  base/system/diskpart/lang/sq-AL.rc
  base/system/diskpart/lang/tr-TR.rc
  base/system/diskpart/lang/zh-CN.rc
  base/system/diskpart/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-chinese

[FREELDR] peloader.c: Fix some traces
  boot/freeldr/freeldr/lib/peloader.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] peloader.c: Add SAL2 annotations for two import-resolving helpers (#7537)
  boot/freeldr/freeldr/lib/peloader.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] peloader.c: Fix PE import binding (#7537)
  boot/freeldr/freeldr/lib/peloader.c
Owners: @tkreuzer, @Extravert-ir

[WINLOGON] Move logoff flags handling code to HandleLogoff
  base/system/winlogon/sas.c
Owners: none

[WINLOGON] Implement shutdown sound support
  base/system/winlogon/sas.c
Owners: none

[CRT] corecrt.h: add secure function overload macros
  sdk/include/crt/corecrt.h
Owners: none

[NTOS:KD64] kdx86.c: Fix Dr7 check to verify whether debugger disabling is allowed (#7538)
  ntoskrnl/kd64/i386/kdx86.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KD64] kdx64.c: Implement KdpAllowDisable() the same as in x86 (#7538)
  ntoskrnl/kd64/amd64/kdx64.c
Owners: @tkreuzer

[NTOS:KD64] KdInitSystem(): Poll for break-in on symbol load *ONLY* at boot-time (#7539)
  ntoskrnl/kd64/kdinit.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KD64] Fix usage of the debugging banner code, based on when KdInitSystem() is called (#7540)
  ntoskrnl/kd64/kdinit.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KD64] Use KdpDprintf() instead of DbgPrint() for the debugger banner DPRINTs (#7540)
  ntoskrnl/kd64/kdinit.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
