Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

s/pwszPath/pszPath/ in ...UserA
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

[RTL] Fix formatting of env.c
  sdk/lib/rtl/env.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[KERNEL32] Fix GetEnvironmentVariable(A/W)
  dll/win32/kernel32/client/environ.c
Owners: none

[RTL] Fix atom table signature
  sdk/lib/rtl/atom.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RTL] Fix ROUND_DOWN macro for 64 bit
  sdk/lib/rtl/rtlp.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RTL] Improve RtlCreateProcessParameters
  dll/win32/kernel32/client/proc.c
  sdk/include/ndk/rtltypes.h
  sdk/lib/rtl/ppb.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RTL][NTDLL] Implement RtlExpandEnvironmentStrings
  dll/ntdll/def/ntdll.spec
  sdk/lib/rtl/env.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RTL] Fix an NTSTATUS to dos error translation
  sdk/lib/rtl/error.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[RTL][NTDLL] Implement RtlQueryEnvironmentVariable
  dll/ntdll/def/ntdll.spec
  sdk/lib/rtl/env.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[CRYPTUI] Sync with Wine 10.0. CORE-20593
  dll/win32/cryptui/CMakeLists.txt
  dll/win32/cryptui/cryptui.spec
  dll/win32/cryptui/main.c
  media/doc/WINESYNC.txt
Owners: none

[CRYPTUI_WINETEST] Sync with Wine 10.0. CORE-20593
  modules/rostests/winetests/cryptui/CMakeLists.txt
  modules/rostests/winetests/cryptui/cryptui.c
  modules/rostests/winetests/cryptui/testlist.c
Owners: @ThFabba

Fix broken spacing
  base/applications/calc/lang/vi-VN.rc
Owners: none

More whitespace fixes
  base/shell/explorer/lang/vi-VN.rc
Owners: @learn-more, @yagoulas

[KERNEL32_APITEST] Fix tests for MultiByteToWideChar on Vista
  modules/rostests/apitests/kernel32/MultiByteToWideChar.c
Owners: none

[GDIPLUS] Fix a parameter check
  dll/win32/gdiplus/imageattributes.c
Owners: none

[MKSHELLLINK] Remove mbstowcs #define
  sdk/tools/mkshelllink/mkshelllink.c
Owners: none

[SHELL32] Better determine whether to hide or show shell-folder namespace items (#9046)
  dll/win32/shell32/folders/CDrivesFolder.cpp
Owners: @learn-more, @yagoulas

[BOOTDATA] Hide the Internet desktop icon in the Live environment (#9046)
  boot/bootdata/livecd.inf
Owners: none

[BOOTDATA] Cleanup BitBucket and useless redundant HideDesktopIcons registry entries (#9046)
  boot/bootdata/hivedef.inf
  boot/bootdata/hivesft.inf
Owners: none

big fix
  dll/win32/shlwapi/utils.cpp
Owners: none

use lstrlen
  dll/win32/shlwapi/utils.cpp
Owners: none

[0.4.16][MEDIA] shortcuts.inf: The Accessibility shortcuts don't require a working directory
  media/inf/shortcuts.inf
Owners: none

[0.4.16][MKSHELLLINK] Fix a bug in the special shell folder handling code (#8936)
  sdk/tools/mkshelllink/mkshelllink.c
Owners: none

[0.4.16][SETUP:REACTOS] Fix some translations
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][FREELDR:UEFI] uefidisk.c: Remove stray global variable
  boot/freeldr/freeldr/arch/uefi/uefidisk.c
Owners: @tkreuzer, @Extravert-ir

[0.4.16][FREELDR] Reset BootType before reading its value in the freeldr.ini OS section, if it exists
  boot/freeldr/freeldr/oslist.c
Owners: @tkreuzer, @Extravert-ir

[0.4.16][SYSSETUP] Fix some wizard pages
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][BOOTDATA] CMakeLists.txt: Reorganize a bit the add_livecd_shortcut() invocations (#8936)
  boot/bootdata/CMakeLists.txt
Owners: none

[0.4.16][MKSHELLLINK] Support creating Unicode-aware shortcuts (#8936)
  sdk/tools/CMakeLists.txt
  sdk/tools/mkshelllink/CMakeLists.txt
  sdk/tools/mkshelllink/mkshelllink.c
Owners: none

[0.4.16][SETUP:REACTOS] GUI setup: Revamp the Finish/Reboot page; re-enable auto-reboot
  base/setup/reactos/drivepage.c
  base/setup/reactos/lang/bg-BG.rc
  base/setup/reactos/lang/cs-CZ.rc
  base/setup/reactos/lang/de-DE.rc
  base/setup/reactos/lang/el-GR.rc
  base/setup/reactos/lang/en-US.rc
  base/setup/reactos/lang/es-ES.rc
  base/setup/reactos/lang/et-EE.rc
  base/setup/reactos/lang/eu-ES.rc
  base/setup/reactos/lang/fi-FI.rc
  base/setup/reactos/lang/fr-FR.rc
  base/setup/reactos/lang/he-IL.rc
  base/setup/reactos/lang/hi-IN.rc
  base/setup/reactos/lang/hu-HU.rc
  base/setup/reactos/lang/id-ID.rc
  base/setup/reactos/lang/it-IT.rc
  base/setup/reactos/lang/ja-JP.rc
  base/setup/reactos/lang/ms-MY.rc
  base/setup/reactos/lang/no-NO.rc
  base/setup/reactos/lang/pl-PL.rc
  base/setup/reactos/lang/pt-BR.rc
  base/setup/reactos/lang/pt-PT.rc
  base/setup/reactos/lang/ro-RO.rc
  base/setup/reactos/lang/ru-RU.rc
  base/setup/reactos/lang/sk-SK.rc
  base/setup/reactos/lang/sq-AL.rc
  base/setup/reactos/lang/tr-TR.rc
  base/setup/reactos/lang/uk-UA.rc
  base/setup/reactos/lang/vi-VN.rc
  base/setup/reactos/lang/zh-CN.rc
  base/setup/reactos/lang/zh-HK.rc
  base/setup/reactos/lang/zh-TW.rc
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
  base/setup/reactos/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][BOOTDATA] Shorten the debug-enabled boot entry labels
  boot/bootdata/bootcd.ini
  boot/bootdata/floppy_pc98.ini
Owners: none

[0.4.16][SETUP:REACTOS] Improve the DisplayMessageV, SetWindowResTextW, and SetWindowResPrintfVW helpers
  base/setup/reactos/reactos.c
  base/setup/reactos/reactos.h
Owners: none

[0.4.16][FREELDR] peloader.c: Minor nits
  boot/freeldr/freeldr/lib/peloader.c
Owners: @tkreuzer, @Extravert-ir

[0.4.16][FREELDR] Consider an unkeyed OS entry in freeldr.ini to be a menu separator
  boot/freeldr/freeldr/oslist.c
Owners: @tkreuzer, @Extravert-ir

[0.4.16][SYSSETUP] Revamp the Finish page, adapted from the 1st-stage setup
  dll/win32/syssetup/lang/bg-BG.rc
  dll/win32/syssetup/lang/cs-CZ.rc
  dll/win32/syssetup/lang/da-DK.rc
  dll/win32/syssetup/lang/de-DE.rc
  dll/win32/syssetup/lang/el-GR.rc
  dll/win32/syssetup/lang/en-GB.rc
  dll/win32/syssetup/lang/en-US.rc
  dll/win32/syssetup/lang/es-ES.rc
  dll/win32/syssetup/lang/et-EE.rc
  dll/win32/syssetup/lang/eu-ES.rc
  dll/win32/syssetup/lang/fr-FR.rc
  dll/win32/syssetup/lang/he-IL.rc
  dll/win32/syssetup/lang/hi-IN.rc
  dll/win32/syssetup/lang/hr-HR.rc
  dll/win32/syssetup/lang/hu-HU.rc
  dll/win32/syssetup/lang/id-ID.rc
  dll/win32/syssetup/lang/it-IT.rc
  dll/win32/syssetup/lang/ja-JP.rc
  dll/win32/syssetup/lang/nl-NL.rc
  dll/win32/syssetup/lang/no-NO.rc
  dll/win32/syssetup/lang/pl-PL.rc
  dll/win32/syssetup/lang/pt-BR.rc
  dll/win32/syssetup/lang/pt-PT.rc
  dll/win32/syssetup/lang/ro-RO.rc
  dll/win32/syssetup/lang/ru-RU.rc
  dll/win32/syssetup/lang/sk-SK.rc
  dll/win32/syssetup/lang/sq-AL.rc
  dll/win32/syssetup/lang/sv-SE.rc
  dll/win32/syssetup/lang/th-TH.rc
  dll/win32/syssetup/lang/tr-TR.rc
  dll/win32/syssetup/lang/uk-UA.rc
  dll/win32/syssetup/lang/zh-CN.rc
  dll/win32/syssetup/lang/zh-HK.rc
  dll/win32/syssetup/lang/zh-TW.rc
  dll/win32/syssetup/precomp.h
  dll/win32/syssetup/wizard.c
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[0.4.16][MKSHELLLINK] Don't care about the DOS name of PIDL path elements (#8936)
  sdk/tools/mkshelllink/mkshelllink.c
Owners: none

[0.4.16][BOOTDATA] Add unattend.inf to livecd target
  boot/bootdata/CMakeLists.txt
Owners: none

[0.4.16][BOOTDATA] Add commented out block for setting visual style
  boot/bootdata/livecd/unattend.inf
Owners: none

[0.4.16][MKSHELLLINK] Enhance the code (#8936)
  sdk/tools/mkshelllink/mkshelllink.c
Owners: none

[0.4.16][BOOT] Remove last instances of "hybridcd"
  boot/CMakeLists.txt
Owners: none
