Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

#ifndef __REACTOS__
  sdk/include/wine/shlwapi.h
Owners: none

g_hinstZoneMgr
  dll/win32/shlwapi/zonechk.c
Owners: none

trivial
  dll/win32/shlwapi/zonechk.c
Owners: none

improve formatting
  dll/win32/shlwapi/zonechk.c
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

comment
  dll/win32/shlwapi/zonechk.c
Owners: none

[SHELL32] Fix issue with this code
  CMakeLists.txt
  dll/win32/browseui/CUserAssist.cpp
  dll/win32/shell32/CDefViewBckgrndMenu.cpp
  dll/win32/shell32/CDefViewUtil.cpp
  dll/win32/shell32/utils.h
Owners: @learn-more, @yagoulas

[USER32_APITEST] Fix stack corruption
  modules/rostests/apitests/user32/LoadImage.c
Owners: none

[FREELDR][UEFI] Link setjmp before freetype
  boot/freeldr/freeldr/uefi.cmake
Owners: @tkreuzer, @Extravert-ir

[BOOTSECT][FREELDR] Implement GPT boot for legacy BIOS
  boot/freeldr/bootsect/CMakeLists.txt
  boot/freeldr/bootsect/gptmbr.S
Owners: none

[GDI32] Fix pptviewer '97 and calls to PolylineTo and PolyBezierTo CORE-20553
  win32ss/gdi/gdi32/objects/painting.c
  win32ss/gdi/ntgdi/fillshap.c
  win32ss/gdi/ntgdi/path.c
Owners: none

[LIBWINE] Fix debug output synchronization
  dll/win32/comctl32/theming.c
  sdk/include/wine/debug.h
  sdk/lib/3rdparty/libwine/debug.c
Owners: none

[NTDLL] Fix OS version for 2 thread pool exports
  dll/ntdll/def/ntdll.spec
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[SDK] Update some headers
  sdk/include/ddk/ntimage.h
  sdk/include/wine/winternl.h
  sdk/include/xdk/ketypes.h
  sdk/include/xdk/winnt_old.h
Owners: none

[NTDLL_WINETEST] Sync to wine-10.0
  modules/rostests/winetests/ntdll/CMakeLists.txt
  modules/rostests/winetests/ntdll/atom.c
  modules/rostests/winetests/ntdll/change.c
  modules/rostests/winetests/ntdll/directory.c
  modules/rostests/winetests/ntdll/env.c
  modules/rostests/winetests/ntdll/error.c
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/file.c
  modules/rostests/winetests/ntdll/generated.c
  modules/rostests/winetests/ntdll/info.c
  modules/rostests/winetests/ntdll/large_int.c
  modules/rostests/winetests/ntdll/msvc-x64.asm
  modules/rostests/winetests/ntdll/om.c
  modules/rostests/winetests/ntdll/path.c
  modules/rostests/winetests/ntdll/pipe.c
  modules/rostests/winetests/ntdll/port.c
  modules/rostests/winetests/ntdll/process.c
  modules/rostests/winetests/ntdll/reg.c
  modules/rostests/winetests/ntdll/ros_diff.patch
  modules/rostests/winetests/ntdll/rtl.c
  modules/rostests/winetests/ntdll/rtlbitmap.c
  modules/rostests/winetests/ntdll/rtlstr.c
  modules/rostests/winetests/ntdll/string.c
  modules/rostests/winetests/ntdll/sync.c
  modules/rostests/winetests/ntdll/testlist.c
  modules/rostests/winetests/ntdll/thread.c
  modules/rostests/winetests/ntdll/threadpool.c
  modules/rostests/winetests/ntdll/time.c
  modules/rostests/winetests/ntdll/unwind.c
  modules/rostests/winetests/ntdll/virtual.c
  modules/rostests/winetests/ntdll/wow64.c
Owners: @ThFabba

[NTDLL_WINETEST] Skip tests that hang on Win 10 WOW64
  modules/rostests/winetests/ntdll/exception.c
Owners: @ThFabba

[NTDLL_WINETEST] Skip RtlUniform tests on Windows 2003
  modules/rostests/winetests/ntdll/rtl.c
Owners: @ThFabba

[NTDLL_WINETEST] Add checks for missing exports on Windows 2003
  modules/rostests/winetests/ntdll/env.c
  modules/rostests/winetests/ntdll/exception.c
  modules/rostests/winetests/ntdll/file.c
  modules/rostests/winetests/ntdll/info.c
  modules/rostests/winetests/ntdll/reg.c
Owners: @ThFabba

[NTDLL_WINETEST] Fix a problem with broken calling convention
  modules/rostests/winetests/ntdll/rtl.c
Owners: @ThFabba

[NTDLL_WINETEST] Remove useless check
  modules/rostests/winetests/ntdll/string.c
Owners: @ThFabba

[NTDLL_WINETEST] Skip NtRegLoadKeyEx tests on pre-NT6
  modules/rostests/winetests/ntdll/reg.c
Owners: @ThFabba

[PORTCLS] - Deactivate replacing property Handler - Check for KSPROPERTY_TYPE_TOPOLOGY flag when searching for the property handler
  drivers/wdm/audio/backpln/portcls/undoc.cpp
Owners: none

[WDMAUD.DRV] - Enforce LEGACY_STREAMING
  dll/win32/wdmaud.drv/mmixer.c
Owners: none

[PORTCLS] - Implement IOCTL_KS_RESET_STATE - Call ObDereferenceObject on close
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[WDMAUD.DRV] - Implement a shadow buffering which prefetches audio data and perform writing in a dedicated thread
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
Owners: none

[WDMAUD.DRV][MMIXER][PORTCLS] - Move completion to a seperate thread to imitate legacy streaming - Audio is playing fluent - Foobar2000 still crashes on stop, WIP
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/deviceinstance.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
  sdk/lib/drivers/sound/mmixer/mixer.c
Owners: none

[PORTCLS] - Call FreeBufferWithNotification on close - Fixes playback for multiple attempts - Return STATUS_UNSUCCESSFUL when MaxFilterInstance count has been reached
  drivers/wdm/audio/backpln/portcls/filter_wavecyclic.cpp
  drivers/wdm/audio/backpln/portcls/filter_wavert.cpp
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - Set to member to null after release
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - Check for null
  drivers/wdm/audio/backpln/portcls/port_wavert.cpp
Owners: none

[WDMAUD.DRV][PORTCLS] Activate RT Streaming
  dll/win32/wdmaud.drv/mmixer.c
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[PORTCLS] - Implement WaveRT Streaming property handlers
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  drivers/wdm/audio/backpln/portcls/private.hpp
  sdk/include/psdk/ksmedia.h
Owners: none

[SDK] - Add missing definition [PORTCLS] - Fix build with gcc
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
  sdk/include/ddk/portcls.h
Owners: none

[PORTCLS] - Enforce legacy streaming
  drivers/wdm/audio/backpln/portcls/pin_wavert.cpp
Owners: none

[MMIXER] [WDMAUD.DRV] - Implement Vista style user mode audio streaming - Partially working (glitches when testing in VmWare)
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmixer/CMakeLists.txt
  sdk/lib/drivers/sound/mmixer/mmixer.h
  sdk/lib/drivers/sound/mmixer/rtstreaming.c
Owners: none

[MMEBUDDY][WDMAUD.DRV] Fix build Remove no longer used variables.
  dll/win32/wdmaud.drv/mmixer.c
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
Owners: none

[MMEBUDDY] - Directly invoke streaming
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Owners: none

[MMEBUDDY] - Fix build
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
Owners: none

[MMEBUDDY] Restore sound stream kickstart after resuming from paused state This fixes DirectSound playback again.
  sdk/lib/drivers/sound/mmebuddy/mmewrap.c
Owners: none

[WDMAUD.DRV][MMEBUDDY] - Create Streaming / Completion thread on demand - Always queue a thread for streaming - Make sure always the head wave buffer is used
  dll/win32/wdmaud.drv/mmixer.c
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Owners: none

[WDMAUD.DRV] - Wait in a thread for completion - change function type for commiting
  dll/win32/sndblst/sndblst.c
  dll/win32/wdmaud.drv/legacy.c
  dll/win32/wdmaud.drv/mixer.c
  dll/win32/wdmaud.drv/mmixer.c
  dll/win32/wdmaud.drv/wdmaud.h
Owners: none

[WDMAUD.DRV][MMEBUDDY] - Use the correct status for WaitForMultipleObjects(). - Reduce LEGACY_STRREAMING definition and LegacyStreaming structure member. Check RTStreamingEnabled instead.
  dll/win32/wdmaud.drv/mmixer.c
  sdk/include/reactos/libs/sound/mmebuddy.h
  sdk/lib/drivers/sound/mmebuddy/wave/header.c
  sdk/lib/drivers/sound/mmebuddy/wave/streaming.c
Owners: none
