Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update modules/rostests/apitests/win32nt/ntuser/NtUserGetCursorInfo.c
  modules/rostests/apitests/win32u/ntuser/NtUserGetCursorInfo.c
Owners: none

[WIN32KNT_APITEST][NTUSER] Fix NtUserGetCursorInfo BSOD.
  win32ss/user/ntuser/cursoricon.c
Owners: none

Check if address not null and in user space
  win32ss/user/ntuser/cursoricon.c
Owners: none

Update modules/rostests/apitests/win32nt/ntuser/NtUserGetCursorInfo.c
  modules/rostests/apitests/win32u/ntuser/NtUserGetCursorInfo.c
Owners: none

Update modules/rostests/apitests/win32nt/ntuser/NtUserGetCursorInfo.c
  modules/rostests/apitests/win32u/ntuser/NtUserGetCursorInfo.c
Owners: none

Update modules/rostests/apitests/win32nt/ntuser/NtUserGetCursorInfo.c
  modules/rostests/apitests/win32u/ntuser/NtUserGetCursorInfo.c
Owners: none

Remove destructor from CTaskSwitchWnd class
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Update base/shell/explorer/taskswnd.cpp
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Add virtual destructor to CTaskSwitchWnd
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

Implement OnDestroy method to clean up resources
  base/shell/explorer/syspager.cpp
Owners: @learn-more, @yagoulas

[TASKMGR] Fix a handle leak of ReleaseDC (#8513)
  base/applications/taskmgr/graphctl.c
Owners: none

Apply suggestions from code review
  base/shell/explorer/syspager.cpp
Owners: @learn-more, @yagoulas

Apply suggestion from @katahiromz
  base/shell/explorer/syspager.cpp
Owners: @learn-more, @yagoulas

Update cmake file.
  modules/rostests/apitests/win32u/CMakeLists.txt
Owners: none

[SETUP][INF][FONTS] Change font substitutes for "MS Sans Serif" and "MS Shell Dlg" (#8481)
  base/setup/lib/muifonts.h
  media/inf/font.inf
Owners: none

[USER32_APITEST] New LoadImage 1bpp test for PR #4015 retry.
  modules/rostests/apitests/user32/CMakeLists.txt
  modules/rostests/apitests/user32/LoadImage1bpp.c
  modules/rostests/apitests/user32/bpp1a.bmp
  modules/rostests/apitests/user32/bpp1b.bmp
  modules/rostests/apitests/user32/resource_1bpp.h
  modules/rostests/apitests/user32/testlist.c
  modules/rostests/apitests/user32/user32_apitest_1bpp.rc
Owners: none

Enforce strict size invariant and bound in ProbeAndCaptureLargeString
  win32ss/user/ntuser/window.c
Owners: none

Fixed Integer Overflow in NtGdiPolyPolyDraw Point Accumulation
  win32ss/gdi/ntgdi/fillshap.c
Owners: none

Fixed Missing Exception Handling in VideoPortLockBuffer
  win32ss/drivers/videoprt/resource.c
Owners: none

[DISKPART] Implement the automount command
  base/system/diskpart/automount.c
  base/system/diskpart/diskpart.h
  base/system/diskpart/diskpart_msg.mc
  base/system/diskpart/lang/de-DE.rc
  base/system/diskpart/lang/en-US.rc
  base/system/diskpart/lang/it-IT.rc
  base/system/diskpart/lang/pl-PL.rc
  base/system/diskpart/lang/pt-PT.rc
  base/system/diskpart/lang/ro-RO.rc
  base/system/diskpart/lang/ru-RU.rc
  base/system/diskpart/lang/sq-AL.rc
  base/system/diskpart/lang/tr-TR.rc
  base/system/diskpart/lang/zh-CN.rc
  base/system/diskpart/lang/zh-TW.rc
  base/system/diskpart/resource.h
Owners: @reactos/lang-german, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-chinese

[DISKPART] Check for the noerr option first
  base/system/diskpart/automount.c
  base/system/diskpart/create.c
  base/system/diskpart/delete.c
  base/system/diskpart/setid.c
  base/system/diskpart/uniqueid.c
Owners: none

[DISKPART] Add help text for the gpt command
  base/system/diskpart/diskpart_msg.mc
Owners: none

IoAllocateMdl must NOT be wrapped in SEH
  win32ss/drivers/videoprt/resource.c
Owners: none

Updated comments
  win32ss/drivers/videoprt/resource.c
Owners: none

Apply suggestion from @katahiromz
  boot/freeldr/freeldr/disk/scsiport.c
Owners: @tkreuzer, @Extravert-ir

Apply suggestion from @katahiromz
  boot/freeldr/freeldr/disk/scsiport.c
Owners: @tkreuzer, @Extravert-ir

Apply suggestion from @katahiromz
  boot/freeldr/freeldr/disk/scsiport.c
Owners: @tkreuzer, @Extravert-ir

Apply suggestion from @katahiromz
  boot/freeldr/freeldr/disk/scsiport.c
Owners: @tkreuzer, @Extravert-ir

Update win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/resource.c
Owners: none

Update win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/resource.c
Owners: none

[VIDEOPRT] Fixed Global ROM Image Buffer Race Condition
  win32ss/drivers/videoprt/resource.c
  win32ss/drivers/videoprt/videoprt.c
  win32ss/drivers/videoprt/videoprt.h
Owners: none

Implemented VideoPortSetTrappedEmulatorPorts
  win32ss/drivers/videoprt/resource.c
Owners: none

[GDITOOLS] Add info-DC to global resources
  modules/rostests/apitests/gditools/gditools.c
  modules/rostests/apitests/gditools/gditools.h
Owners: none

[GDITOOLS][GDI32_APITEST] Move resources to gditools lib
  modules/rostests/apitests/gdi32/CMakeLists.txt
  modules/rostests/apitests/gdi32/CreateDIBPatternBrush.c
  modules/rostests/apitests/gdi32/CreateDIBitmap.c
  modules/rostests/apitests/gdi32/FrameRgn.c
  modules/rostests/apitests/gdi32/GetDIBits.c
  modules/rostests/apitests/gdi32/MaskBlt.c
  modules/rostests/apitests/gdi32/PaintRgn.c
  modules/rostests/apitests/gdi32/RealizePalette.c
  modules/rostests/apitests/gdi32/SetDIBitsToDevice.c
  modules/rostests/apitests/gdi32/init.c
  modules/rostests/apitests/gdi32/init.h
  modules/rostests/apitests/gditools/gditools.c
  modules/rostests/apitests/gditools/gditools.h
Owners: none

[GDITOOLS] Add inverted and red-blue mono DIB sections
  modules/rostests/apitests/gditools/gditools.c
  modules/rostests/apitests/gditools/gditools.h
Owners: none

[WIN32U_APITEST] Add tests for NtGdiSetPixel
  modules/rostests/apitests/win32u/CMakeLists.txt
  modules/rostests/apitests/win32u/ntgdi/NtGdiSetPixel.c
  modules/rostests/apitests/win32u/testlist.c
Owners: none

[BOOTDATA] update caroots.inf
  boot/bootdata/caroots.inf
Owners: none

[SDK] Add script to update caroots.inf
  sdk/tools/update_caroots.py
Owners: none

Fix memory leak by destroying image list
  base/shell/explorer/taskswnd.cpp
Owners: @learn-more, @yagoulas

[GDITOOLS] Add global HDCs for the DDBs
  modules/rostests/apitests/gditools/gditools.c
  modules/rostests/apitests/gditools/gditools.h
Owners: none
