Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[RAPPS] Must apply settings changes when a new download folder is created
  base/applications/rapps/geninst.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/misc.cpp
  base/applications/rapps/settingsdlg.cpp
Owners: none

improve looks
  base/applications/notepad/help/notepad_en-US.html
  base/applications/notepad/help/res/notepad.js
  media/help/res/banner-bg.png
  media/help/res/common.css
Owners: none

[SYSETUP] Set the tcpip service hostname parameter even if the service key does not exist yet
  dll/win32/syssetup/wizard.c
Owners: none

Remove whitespace left behind by mistake
  dll/win32/shell32/dialogs/drvdefext.h
Owners: @learn-more, @yagoulas

Update base/applications/notepad/help/CMakeLists.txt
  base/applications/notepad/help/CMakeLists.txt
Owners: none

Update sdk/include/reactos/helpofhtml.h
  sdk/include/reactos/helpofhtml.h
Owners: none

Update sdk/include/reactos/helpofhtml.h
  sdk/include/reactos/helpofhtml.h
Owners: none

Update base/applications/notepad/help/notepad_en-US.html
  base/applications/notepad/help/notepad_en-US.html
Owners: none

Update base/applications/notepad/help/notepad_en-US.txt
  base/applications/notepad/help/notepad_en-US.txt
Owners: none

big fix
  CMakeLists.txt
  base/applications/notepad/CMakeLists.txt
  base/applications/notepad/dialog.c
  base/applications/notepad/help/CMakeLists.txt
  base/applications/notepad/help/notepad_en-US.htm
  media/help/CMakeLists.txt
  media/help/res/banner-bg.png
  media/help/res/common.css
  sdk/include/reactos/helpofhtml.h
  sdk/include/reactos/helpview.h
Owners: none

[COMCTL32] ReactOS second stage listbox selection fix @I_Kill_Bugs patch CORE-19814
  dll/win32/comctl32/listbox.c
Owners: none

Don't check the return of unzClose
  base/applications/rapps/geninst.cpp
  base/applications/rapps/misc.cpp
Owners: none

[SHDOCVW][SHELL32] Rename regitem to empty name must reset the name to the default
  dll/win32/shdocvw/CExplorerBand.cpp
  dll/win32/shdocvw/CFavBand.cpp
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shdocvw/CNSCBand.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/folders/CDesktopFolder.h
  dll/win32/shell32/folders/CRegFolder.cpp
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shfldr.h
  dll/win32/shell32/shlfolder.cpp
  dll/win32/shell32/wine/pidl.c
Owners: @learn-more, @yagoulas

Two bugfixes
  drivers/network/netio/netio.c
Owners: @ThFabba

Fixed remote address offset.
  drivers/network/netio/netio.c
Owners: @ThFabba

[FREELDR] Fix menu display on VMware
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/include/ui.h
  boot/freeldr/freeldr/include/ui/minitui.h
  boot/freeldr/freeldr/include/ui/noui.h
  boot/freeldr/freeldr/include/ui/tui.h
  boot/freeldr/freeldr/linuxboot.c
  boot/freeldr/freeldr/ntldr/setupldr.c
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/options.c
  boot/freeldr/freeldr/ui/directui.c
  boot/freeldr/freeldr/ui/minitui.c
  boot/freeldr/freeldr/ui/noui.c
  boot/freeldr/freeldr/ui/tui.c
  boot/freeldr/freeldr/ui/tuimenu.c
  boot/freeldr/freeldr/ui/ui.c
Owners: @tkreuzer, @Extravert-ir

[BOOTDATA] Arabic ReactOS, come back!
  boot/bootdata/hivesys.inf
Owners: none

fix value
  boot/bootdata/hivesys.inf
Owners: none

[0.4.15][SYSSETUP][BOOT][WALLPAPERS] Set default theme to Mizu and add wallpapers
  boot/bootdata/hivedef.inf
  dll/win32/syssetup/wizard.c
  media/themes/Mizu/mizu.msstyles/bitmaps/NORMAL_STARTBUTTON.bmp
  modules/CMakeLists.txt
  modules/wallpapers/Angelus/Borealis Dark.jpg
  modules/wallpapers/Angelus/Borealis.jpg
  modules/wallpapers/Angelus/CMakeLists.txt
  modules/wallpapers/Angelus/Deep Sea.jpg
  modules/wallpapers/Angelus/ReactOS/Angelus.ReactOS7.Dark_16-9.jpg
  modules/wallpapers/Angelus/ReactOS/Angelus.ReactOS7.Dark_4-3.jpg
  modules/wallpapers/Angelus/ReactOS/CMakeLists.txt
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/Mizu/CMakeLists.txt
  modules/wallpapers/Mizu/ReactOS_Mizu.png
  modules/wallpapers/Mizu/ReactOS_Mizu_16x9_A.png
  modules/wallpapers/Mizu/ReactOS_Mizu_16x9_B.png
  modules/wallpapers/Mizu/ReactOS_Mizu_4x3.png
  modules/wallpapers/Other/CMakeLists.txt
  modules/wallpapers/Other/Grass.jpg
  modules/wallpapers/Other/Polarlicht.jpg
  modules/wallpapers/Other/ReactOS Dark.png
  modules/wallpapers/Other/ReactOS Light.png
  modules/wallpapers/README.txt
  modules/wallpapers/ReadMe.txt
Owners: none

[KERNEL32] Try to comple message table
  dll/win32/kernel32/CMakeLists.txt
  dll/win32/kernel32/winnls/lang/bg-BG.mc
Owners: none

don't use DEPENDS
  dll/win32/kernel32/CMakeLists.txt
Owners: none

fix build
  dll/win32/kernel32/CMakeLists.txt
Owners: none

[FREELDR] Refactor and optimize the IDE driver
  boot/freeldr/freeldr/arch/drivers/hwide.c
  boot/freeldr/freeldr/arch/drivers/hwidep.h
  boot/freeldr/freeldr/arch/i386/pc98/machpc98.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98disk.c
  boot/freeldr/freeldr/arch/i386/xbox/machxbox.c
  boot/freeldr/freeldr/arch/i386/xbox/xboxdisk.c
  boot/freeldr/freeldr/include/arch/i386/machpc98.h
  boot/freeldr/freeldr/include/arch/i386/machxbox.h
  boot/freeldr/freeldr/include/hwide.h
Owners: @tkreuzer, @Extravert-ir

Call TDI_ACCEPT on incoming connection.
  drivers/network/netio/netio.c
  drivers/network/tdihelpers/include/tdiconn.h
  drivers/network/tdihelpers/tdi.c
Owners: @ThFabba

[GIT] Ensure .sh script files use LF (Unix) line endings (#7772)
  .gitattributes
Owners: none

[CONFIGURE] Adjust some echo'ed strings (#7773)
  configure.cmd
  configure.sh
Owners: none

[CONFIGURE] Display the operating system on which the build config takes place (#7774)
  configure.cmd
  configure.sh
Owners: none

[BOOTSECT][FREELDR] Rewrite the Ext bootsector (#7544)
  boot/freeldr/bootsect/CMakeLists.txt
  boot/freeldr/bootsect/ext.S
  boot/freeldr/bootsect/ext2.S
  boot/freeldr/bootsect/extldr.S
Owners: none

[FREELDR] Refactor and optimize the IDE driver (#7728)
  boot/freeldr/freeldr/arch/drivers/hwide.c
  boot/freeldr/freeldr/arch/drivers/hwidep.h
  boot/freeldr/freeldr/arch/i386/pc98/machpc98.c
  boot/freeldr/freeldr/arch/i386/pc98/pc98disk.c
  boot/freeldr/freeldr/arch/i386/xbox/machxbox.c
  boot/freeldr/freeldr/arch/i386/xbox/xboxdisk.c
  boot/freeldr/freeldr/include/arch/i386/machpc98.h
  boot/freeldr/freeldr/include/arch/i386/machxbox.h
  boot/freeldr/freeldr/include/hwide.h
  sdk/include/ddk/ata.h
Owners: @tkreuzer, @Extravert-ir

[PING] Update SendBuffer fill method (#7782)
  base/applications/network/ping/ping.c
Owners: none

[SYSSETUP] Apply theming from unattend files very early on when booting the LiveCD or a new install (#7797)
  boot/bootdata/bootcd/unattend.inf
  dll/win32/syssetup/install.c
  dll/win32/syssetup/wizard.c
Owners: none

[SDK:DELAYIMP] Fix handling of the hookable symbols for GCC
  sdk/lib/delayimp/delayimp.c
Owners: none

[DBGHELP_APITEST][SDK_APITEST] We can now revert "Fix initializing global variables" commit.
  modules/rostests/apitests/dbghelp/pdb.c
  modules/rostests/apitests/sdk/delayimp.cpp
Owners: none

**** FOR TESTS ONLY!! **** [REACTOS] Introduce the experimental all-in-one ReactOS BootCD *** [REACTOS] Re-enable reboot at the end of setup
  .github/workflows/build.yml
  .gitignore
  .theia/launch.json
  .theia/tasks.json
  base/setup/reactos/reactos.c
  base/setup/welcome/CMakeLists.txt
  base/system/userinit/livecd.c
  boot/boot_images.cmake
  boot/bootdata/CMakeLists.txt
  boot/bootdata/autorun-bootcd.inf
  boot/bootdata/autorun-hybridcd.inf
  boot/bootdata/autorun.inf
  boot/bootdata/bootcd-regtest.ini
  boot/bootdata/bootcd.ini
  boot/bootdata/hybridcd.ini
  boot/bootdata/livecd.ini
  boot/bootdata/livecdregtest/.keep
  boot/bootdata/txtsetup.sif
  boot/bootdata/welcome_config/welcome.ini
  boot/freeldr/bootsect/CMakeLists.txt
  boot/freeldr/fdebug/CMakeLists.txt
  boot/freeldr/freeldr/pcat.cmake
  boot/freeldr/install/CMakeLists.txt
  modules/CMakeLists.txt
  sdk/cmake/CMakeMacros.cmake
Owners: @tkreuzer, @Extravert-ir

** DEMO ** Add and enable a Mizu visual style in the LiveCD and unattended setup
  boot/bootdata/CMakeLists.txt
  boot/bootdata/bootcd/unattend.inf
  boot/bootdata/livecd/unattend.inf
Owners: none

[REACTOS] Delay-load the setuplib DLL and control the path it's loaded from.
  base/setup/reactos/CMakeLists.txt
  base/setup/reactos/reactos.c
Owners: none

[BOOTSECT][FREELDR] Fix wrong comment of conditional jump on `ext.S` and `extldr.S`
  boot/freeldr/bootsect/ext.S
  boot/freeldr/bootsect/extldr.S
Owners: none

[BOOTSECT][FREELDR] Fix wrong comment of conditional jump on `ext.S` and `extldr.S` (#7798)
  boot/freeldr/bootsect/ext.S
  boot/freeldr/bootsect/extldr.S
Owners: none

Simplify geninst.cpp ErrorBox
  base/applications/rapps/geninst.cpp
  base/applications/rapps/misc.cpp
Owners: none

[NTDLL][SHLWAPI][SYSDM] ReportAsWorkstation should always override the product type (#7052)
  dll/cpl/sysdm/advanced.c
  dll/ntdll/rtl/version.c
  dll/win32/shlwapi/ordinal.c
  modules/rostests/apitests/ntdll/RtlGetNtProductType.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
