Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[FREELDR] Adapt multiboot code for the position independent code (#7530)
  boot/freeldr/freeldr/arch/i386/multiboot.S
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt the bootsectors for the position independent code (#7530)
  boot/freeldr/bootsect/btrfs.S
  boot/freeldr/bootsect/fat.S
  boot/freeldr/bootsect/fat32.S
  boot/freeldr/bootsect/faty.S
  boot/freeldr/bootsect/isoboot.S
  boot/freeldr/bootsect/ntfs.S
  boot/freeldr/bootsect/pc98/fat12fdd.S
Owners: none

[FREELDR] Adapt some assembly code for i386 position independent code (#7530)
  boot/freeldr/freeldr/arch/realmode/fathelp.inc
  boot/freeldr/freeldr/arch/realmode/helpers.inc
  boot/freeldr/freeldr/arch/realmode/helpers_pc98.inc
  boot/freeldr/freeldr/arch/realmode/i386.S
  boot/freeldr/freeldr/arch/realmode/int386.inc
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Adapt some assembly code for amd64 position independent code and remove some messages (#7530)
  boot/freeldr/freeldr/arch/realmode/amd64.S
Owners: @tkreuzer

Take @HBelusca's suggestion.
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

[PSDK] Avoid CO_E_NOTINITIALIZED macro redefinition warning
  sdk/include/psdk/ddraw.h
Owners: none

Use another of @HBelusca's suggestions
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

[RAPPS] Check Let's Encrypt issuer prefix
  base/applications/rapps/loaddlg.cpp
Owners: none

[EXPLORER] Use STDMETHODIMP and override (#7645)
  base/shell/explorer/startctxmnu.cpp
  base/shell/explorer/startmnusite.cpp
  base/shell/explorer/syspager.cpp
  base/shell/explorer/taskband.cpp
  base/shell/explorer/taskswnd.cpp
  base/shell/explorer/tbsite.cpp
  base/shell/explorer/trayclock.cpp
  base/shell/explorer/trayntfy.cpp
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

[SHELL32] SHELL_FindExecutable: Fix last regression from PR#7588 (#7643)
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

Update style
  sdk/include/psdk/ddraw.h
Owners: none

[RAPPS] Check Let's Encrypt issuer prefix (#7650)
  base/applications/rapps/loaddlg.cpp
Owners: none

[RAPPS] Reuse active download manager window
  base/applications/rapps/gui.cpp
  base/applications/rapps/include/misc.h
  base/applications/rapps/loaddlg.cpp
Owners: none

Use SetDlgMsgResult as requested
  base/applications/rapps/include/misc.h
  base/applications/rapps/loaddlg.cpp
Owners: none

[KERNEL32_VISTA][SDK] Import Threadpool.c from wine-9.7
  dll/ntdll/nt_0600/ntdll_vista.spec
  media/doc/WINESYNC.txt
  sdk/include/ndk/rtlfuncs.h
  sdk/include/psdk/winbase.h
  sdk/include/xdk/winnt_old.h
  sdk/lib/rtl/CMakeLists.txt
  sdk/lib/rtl/threadpool.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[ACPI] Move CMBATT and COMPBATT out of the acpi directory
  drivers/CMakeLists.txt
  drivers/acpi/CMakeLists.txt
  drivers/acpi/cmbatt/CMakeLists.txt
  drivers/acpi/cmbatt/cmbatt.c
  drivers/acpi/cmbatt/cmbatt.h
  drivers/acpi/cmbatt/cmbatt.rc
  drivers/acpi/cmbatt/cmbpnp.c
  drivers/acpi/cmbatt/cmbwmi.c
  drivers/acpi/cmbatt/cmexec.c
  drivers/acpi/cmbatt/guid.c
  drivers/battery/CMakeLists.txt
  drivers/battery/compbatt/CMakeLists.txt
  drivers/battery/compbatt/compbatt.c
  drivers/battery/compbatt/compbatt.h
  drivers/battery/compbatt/compbatt.rc
  drivers/battery/compbatt/compmisc.c
  drivers/battery/compbatt/comppnp.c
  drivers/battery/compbatt/guid.c
  drivers/bus/acpi/CMakeLists.txt
Owners: @ThFabba

[PSDK] Avoid CO_E_NOTINITIALIZED macro redefinition warning (#7649)
  sdk/include/psdk/ddraw.h
Owners: none

[MOUNTMGR_APITEST] Add utils.c for some utility functions (#6990)
  modules/rostests/apitests/mountmgr/CMakeLists.txt
  modules/rostests/apitests/mountmgr/precomp.h
  modules/rostests/apitests/mountmgr/utils.c
Owners: none

[MOUNTMGR_APITEST] Improve QueryPoints.c test (#6990)
  modules/rostests/apitests/mountmgr/QueryPoints.c
Owners: none

[MOUNTMGR_APITEST] Add tests for mountmgr IOCTL_MOUNTMGR_QUERY_DOS_VOLUME_PATH(S) (#6990)
  modules/rostests/apitests/mountmgr/CMakeLists.txt
  modules/rostests/apitests/mountmgr/QueryDosVolumePaths.c
  modules/rostests/apitests/mountmgr/precomp.h
  modules/rostests/apitests/mountmgr/testlist.c
  modules/rostests/apitests/mountmgr/utils.c
Owners: none

[KMTESTS] Improve IoVolumeDeviceToDosName() tests (#6990)
  modules/rostests/kmtests/ntos_io/IoVolume.c
Owners: @ThFabba

[MOUNTMGR] Simplify MountMgrQueryDosVolumePath() code (#6990)
  drivers/storage/mountmgr/device.c
Owners: @HeisSpiter

[MOUNTMGR] Fix some other bugs (#6990)
  drivers/storage/mountmgr/device.c
Owners: @HeisSpiter

[MOUNTMGR] Simplify a bit the code in MountMgrQueryDosVolumePath(s) (#6990)
  drivers/storage/mountmgr/device.c
Owners: @HeisSpiter

[MOUNTMGR] Fix three more bugs in MountMgrQueryDosVolumePath() (#6990)
  drivers/storage/mountmgr/device.c
Owners: @HeisSpiter

[MOUNTMGR] Fix the buffer returned by IOCTL_MOUNTMGR_QUERY_DOS_VOLUME_PATH (#6990)
  drivers/storage/mountmgr/device.c
Owners: @HeisSpiter

[NTOS:IO] Improve some comments in IoVolumeDeviceToDosName()
  ntoskrnl/io/iomgr/volume.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:IO] IoVolumeDeviceToDosName(): Fix returned DosName buffer initialization (#6990)
  ntoskrnl/io/iomgr/volume.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[FREETYPE][FTFD][NTGDI] Split FT_Bitmap_Convert hack
  sdk/lib/3rdparty/freetype/freetype.def
  sdk/lib/3rdparty/freetype/include/freetype/ftbitmap.h
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
  win32ss/drivers/font/ftfd/ftfd.spec
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve diff with adding parameter
  sdk/lib/3rdparty/freetype/include/freetype/ftbitmap.h
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve diff
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
Owners: none

fix
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

Update sdk/lib/3rdparty/freetype/freetype.def
  sdk/lib/3rdparty/freetype/freetype.def
Owners: none

improve comments
  sdk/lib/3rdparty/freetype/include/freetype/ftbitmap.h
Owners: none

[FREETYPE][FTFD][NTGDI] Split FT_Bitmap_Convert hack (#7628)
  sdk/lib/3rdparty/freetype/include/freetype/ftbitmap.h
  sdk/lib/3rdparty/freetype/src/base/ftbitmap.c
  win32ss/drivers/font/ftfd/ftfd.spec
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[FREETYPE][NTGDI] Simplify IntGdiLoadFontsFromMemory
  win32ss/gdi/ntgdi/freetype.c
Owners: none

improve
  win32ss/gdi/ntgdi/freetype.c
Owners: none

reduce diff
  win32ss/gdi/ntgdi/freetype.c
Owners: none

reduce lines
  win32ss/gdi/ntgdi/freetype.c
Owners: none

fix locking around SharedFace_Create
  win32ss/gdi/ntgdi/freetype.c
Owners: none
