Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NTUSER] Handle window update region larger than the current window in clip region (#7731)
  win32ss/user/ntuser/winpos.c
Owners: none

[GITHUB] Adjust the pullrequest template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

[NTOS:KE] Implement KeI386VirtualIntExtensions code paths for INT and IRET. CORE-19049 (#7742)
  ntoskrnl/ke/i386/v86vdm.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SDK] Introduce simle log2f and exp2f functionality to math.h
  sdk/include/crt/math.h
Owners: none

[WINETESTS] Bring in Wine 3.3 ddraw winetests
  modules/rostests/winetests/CMakeLists.txt
  modules/rostests/winetests/ddraw/CMakeLists.txt
  modules/rostests/winetests/ddraw/d3d.c
  modules/rostests/winetests/ddraw/ddraw1.c
  modules/rostests/winetests/ddraw/ddraw2.c
  modules/rostests/winetests/ddraw/ddraw4.c
  modules/rostests/winetests/ddraw/ddraw7.c
  modules/rostests/winetests/ddraw/ddrawmodes.c
  modules/rostests/winetests/ddraw/dsurface.c
  modules/rostests/winetests/ddraw/refcount.c
  modules/rostests/winetests/ddraw/testlist.c
  modules/rostests/winetests/ddraw/visual.c
Owners: @ThFabba

Clean up crt changes
  modules/rostests/winetests/ddraw/ddraw1.c
  modules/rostests/winetests/ddraw/ddraw2.c
  modules/rostests/winetests/ddraw/ddraw4.c
  modules/rostests/winetests/ddraw/ddraw7.c
  modules/rostests/winetests/ddraw/math_workarounds.h
  sdk/include/crt/math.h
  sdk/lib/crt/math/math.cmake
Owners: @ThFabba

Disbale test_map_synchronisation which doesn't work on windows
  modules/rostests/winetests/ddraw/ddraw4.c
  modules/rostests/winetests/ddraw/ddraw7.c
Owners: @ThFabba

[NETIO] Implementation of WskGetRemoteAddress()
  drivers/network/netio/netio.c
Owners: @ThFabba

[MSPAINT] Improve behaviour on out of memory
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
  base/applications/mspaint/main.cpp
  base/applications/mspaint/main.h
Owners: none

ClearHistory on out of memory
  base/applications/mspaint/history.cpp
Owners: none

improve 2
  base/applications/mspaint/canvas.cpp
Owners: none

improve 3
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/main.cpp
  base/applications/mspaint/main.h
Owners: none

[REGEDIT] Reduce flickering and fix rendering (#7747)
  base/applications/regedit/childwnd.c
  base/applications/regedit/framewnd.c
Owners: none

Clarify with comment
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

don't use cache in CCanvasWindow
  base/applications/mspaint/canvas.cpp
  base/applications/mspaint/canvas.h
Owners: none

ClearHistory on OnPaint
  base/applications/mspaint/canvas.cpp
Owners: none

remove comment
  base/applications/mspaint/canvas.cpp
Owners: none

[DXDIAG] Romanian: Fix unrecognized escape sequence
  base/applications/dxdiag/lang/ro-RO.rc
Owners: @reactos/lang-romanian

delete MAIN_WM_OUTOFMEMORY
  base/applications/mspaint/main.h
Owners: none

Update base/applications/dxdiag/lang/ro-RO.rc
  base/applications/dxdiag/lang/ro-RO.rc
Owners: @reactos/lang-romanian

[DXDIAG] Romanian (ro-RO): Fix unrecognized escape sequence (#7781)
  base/applications/dxdiag/lang/ro-RO.rc
Owners: @reactos/lang-romanian

Update ping.c
  base/applications/network/ping/ping.c
Owners: none

revert Crop return type
  base/applications/mspaint/history.cpp
  base/applications/mspaint/history.h
Owners: none

fix SHAppBarMessage prototype
  dll/win32/shell32/appbar.c
  sdk/include/psdk/shellapi.h
Owners: @learn-more, @yagoulas

fixing 1
  base/shell/explorer/traywnd.cpp
  dll/win32/shell32/appbar.c
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

fixing 2
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

fixing 3
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

add TODOs
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

fixing 4
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

dwNotify
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

fixing 5
  sdk/include/reactos/undocshell.h
Owners: none

fixing 6
  base/shell/explorer/precomp.h
Owners: @learn-more, @yagoulas

fixing 7
  base/shell/explorer/CMakeLists.txt
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

move some code to appbar.cpp
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

GetAppBarMessage
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

add doxygen comments
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

fixing 7
  dll/win32/shell32/appbar.c
Owners: @learn-more, @yagoulas

simplify
  dll/win32/shell32/appbar.c
Owners: @learn-more, @yagoulas

fixing 8
  dll/win32/shell32/appbar.c
Owners: @learn-more, @yagoulas

fixing 9
  base/shell/explorer/appbar.cpp
  base/shell/explorer/appbar.h
  base/shell/explorer/traywnd.cpp
Owners: @learn-more, @yagoulas

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
