Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Changes based on reviewer comments
  dll/win32/shell32/wine/control.c
Owners: @learn-more, @yagoulas

zh-TW.rc: we can fix a lot in here. in sync with en-US
  dll/cpl/desk/lang/zh-TW.rc
Owners: @reactos/lang-chinese

pt-PT.rc
  dll/cpl/desk/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

fr-FR.rc: Add one more accel by picking from Hermes french 2k3 screenshot that I used for reference here
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

fr-FR.rc: Apply one more button-caption where Hermes 2k3 french pic is superior, and add some more french specific FIXMEs
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

A*.rc to E*.rc: add some more FIXMEs, add another accel for de-DE
  dll/cpl/desk/lang/bg-BG.rc
  dll/cpl/desk/lang/cs-CZ.rc
  dll/cpl/desk/lang/de-DE.rc
  dll/cpl/desk/lang/el-GR.rc
  dll/cpl/desk/lang/es-ES.rc
  dll/cpl/desk/lang/et-EE.rc
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian

fr-FR.rc: Give a recommendation for 3 FIXMEs without acting on them yet on master
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

it-IT: Fix text-cutoff in IDD_ADVAPPEARANCE
  dll/cpl/desk/lang/it-IT.rc
Owners: @reactos/lang-italian

hu-HU.rc & id-ID.rc: add FIXMEs
  dll/cpl/desk/lang/hu-HU.rc
  dll/cpl/desk/lang/id-ID.rc
Owners: @reactos/lang-hungarian, @reactos/lang-indonesian

it-IT.rc: add another FIXME
  dll/cpl/desk/lang/it-IT.rc
Owners: @reactos/lang-italian

ja-JP.rc: add another FIXME
  dll/cpl/desk/lang/ja-JP.rc
Owners: none

nl-NL.rc: fix some
  dll/cpl/desk/lang/nl-NL.rc
Owners: @reactos/lang-dutch

no-NO.rc
  dll/cpl/desk/lang/no-NO.rc
Owners: none

Use folder attribute to get the correct name for folders
  dll/win32/shell32/CShellLink.cpp
Owners: @learn-more, @yagoulas

pl-PL.rc
  dll/cpl/desk/lang/pl-PL.rc
Owners: @reactos/lang-polish

pt-BR.rc: add FIXME
  dll/cpl/desk/lang/pt-BR.rc
Owners: @reactos/lang-portuguese

fr-FR.rc: Be more specific about how I did solve that for the backport
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

Update tr-TR.rc
  base/shell/explorer/lang/tr-TR.rc
Owners: @reactos/lang-turkish

pt-PT.rc: fix text truncation for IDC_WAITTEXT and restore the en-US dialogs dimensions. I will add an after-screenshot for that commit to the ticket
  dll/cpl/desk/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[SHELL32] Lnk propertysheet must disallow editing special targets (#6993)
  dll/win32/shell32/CShellLink.cpp
Owners: @learn-more, @yagoulas

pt-PT.rc: refine a FIXME
  dll/cpl/desk/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

ro-RO.rc
  dll/cpl/desk/lang/ro-RO.rc
Owners: @reactos/lang-romanian

ru-RU.rc
  dll/cpl/desk/lang/ru-RU.rc
Owners: @reactos/lang-russian

[SHELL32] Store target attributes in .lnk header
  dll/win32/shell32/CShellLink.cpp
Owners: @learn-more, @yagoulas

sk-SK.rc
  dll/cpl/desk/lang/sk-SK.rc
Owners: none

sq-AL.rc: Add a few suggestions to the FIXMEs, and fingerpoint to another existing accelerator collision
  dll/cpl/desk/lang/sq-AL.rc
Owners: none

sv-SE.rc: Give more tips
  dll/cpl/desk/lang/sv-SE.rc
Owners: none

tr-TR.rc: Fingerpoint and suggest/reasonate my solution
  dll/cpl/desk/lang/tr-TR.rc
Owners: @reactos/lang-turkish

uk-UA.rc: Give some tips/suggestions
  dll/cpl/desk/lang/uk-UA.rc
Owners: @reactos/lang-ukrainian

zh-TW.rc: add one final comment
  dll/cpl/desk/lang/zh-TW.rc
Owners: @reactos/lang-chinese

ru-RU.rc: My guess LTEXT "&Элемент", 8, 5, 160, 50, 9 was confirmed by native speaker stasm
  dll/cpl/desk/lang/ru-RU.rc
Owners: @reactos/lang-russian

ru-RU.rc: My accel-guess LTEXT "&Шрифт", IDC_ADVAPPEARANCE_FONT_T, 5, 190, 50, 9 was confirmed by russian speaker Stasm
  dll/cpl/desk/lang/ru-RU.rc
Owners: @reactos/lang-russian

ru-RU.rc: My accel-guess LTEXT "Р&азмер", IDC_ADVAPPEARANCE_FONTSIZE_T, 142, 190, 39, 9 was confirmed by native speaker stasm
  dll/cpl/desk/lang/ru-RU.rc
Owners: @reactos/lang-russian

pt-PT.rc: Addendum to last commit, I will attach a fresh after-pic
  dll/cpl/desk/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

fr-FR.rc: Apply 2 accels from Hermes Windows screenshot https://github.com/reactos/reactos/pull/7298/files#r1742574037
  dll/cpl/desk/lang/fr-FR.rc
Owners: @reactos/lang-french

bg-BG.rc: and the final iteration
  dll/cpl/desk/lang/bg-BG.rc
Owners: none

cs-CZ.rc: final iteration
  dll/cpl/desk/lang/cs-CZ.rc
Owners: none

bg-BG.rc: &T and &DPI setting
  dll/cpl/desk/lang/bg-BG.rc
Owners: none

cs-CZ.rc: &T and &DPI setting
  dll/cpl/desk/lang/cs-CZ.rc
Owners: none

de-DE.rc: De*i*tsche Grrrrründlichkeit! (doesn't require any FIXMEs)
  dll/cpl/desk/lang/de-DE.rc
Owners: @reactos/lang-german

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
