Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[CMAKE] Fix ARM64 build
  sdk/cmake/msvc.cmake
  toolchain-msvc.cmake
Owners: none

Update SHGetKnownFolderPath.cpp
  modules/rostests/apitests/shell32/SHGetKnownFolderPath.cpp
Owners: none

[WIN32K] Fix a possible NULL pointer dereference in co_IntGetScrollBarInfo
  win32ss/user/ntuser/scrollbar.c
Owners: none

[BROWSEUI][SHELL32] Fixed FindFiles rename operation (#8151)
  dll/shellext/netshell/shfldr_netconnect.cpp
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/precomp.h
Owners: @learn-more, @yagoulas

[SDK] Add some shell values from an old NT4 SDK
  sdk/include/psdk/shlobj.h
  sdk/include/psdk/shobjidl.idl
  sdk/include/reactos/shlobj_undoc.h
Owners: none

[SHELL32][BROWSEUI] Make externally available FCIDM commands work correctly
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shresdef.h
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

Moved defines to shlobj_undoc as requested
  dll/win32/browseui/shellbrowser.cpp
  sdk/include/reactos/shlobj_undoc.h
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

[UXTHEME] Implement SetSystemVisualStyle
  dll/cpl/desk/theme.c
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/uxtheme.spec
  sdk/include/reactos/uxundoc.h
Owners: none

Suggested changes
  dll/win32/uxtheme/system.c
Owners: none

Use the internal functions
  dll/cpl/desk/theme.c
  dll/win32/uxtheme/system.c
Owners: none

Suggested changes
  dll/win32/uxtheme/system.c
  sdk/include/reactos/uxundoc.h
Owners: none

Rebased so new NT6 files could be updated
  dll/win32/uxtheme/uxtheme_vista.spec
Owners: none

[UXTHEME] Implement SetSystemVisualStyle (#7864)
  dll/cpl/desk/theme.c
  dll/win32/uxtheme/system.c
  dll/win32/uxtheme/uxtheme.spec
  dll/win32/uxtheme/uxtheme_vista.spec
  sdk/include/reactos/uxundoc.h
Owners: none

[NTOS:MM] Fix section related test failures
  ntoskrnl/include/internal/mm.h
  ntoskrnl/mm/ARM3/section.c
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Fix a bad cast
  ntoskrnl/mm/ARM3/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Fix some unimplemented cases of NtQuerySection
  ntoskrnl/mm/section.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Don't include the SBSC enum
  sdk/include/reactos/shlobj_undoc.h
Owners: none

[SHLWAPI][SDK][BOOTDATA] Implement SHGetAppCompatFlags (#8137)
  boot/bootdata/hivesft.inf
  dll/win32/shlwapi/CMakeLists.txt
  dll/win32/shlwapi/appcompat.c
  dll/win32/shlwapi/ordinal.c
  sdk/include/psdk/commctrl.h
  sdk/include/reactos/shlwapi_undoc.h
Owners: none

Update base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

g_hMutex creation/destruction
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

improve
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

Update base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

Update base/applications/kbswitch/indicdll/indicdll.c
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

improve 2
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

improve 3
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

improve 4
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[KBSWITCH][INDICDLL] Fix initialization bug (#8135)
  base/applications/kbswitch/indicdll/CMakeLists.txt
  base/applications/kbswitch/indicdll/indicdll.c
Owners: none

[DHCPCSVC] Enable DHCP for wired Ethernet and wireless IEEE802.11 network interfaces
  base/services/dhcpcsvc/dhcp/adapter.c
Owners: none

Update pl-PL.rc
  dll/cpl/sysdm/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/shell32/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  dll/win32/syssetup/lang/pl-PL.rc
Owners: @reactos/lang-polish

Update pl-PL.rc
  base/shell/explorer/lang/pl-PL.rc
Owners: @reactos/lang-polish

[KERNEL32_VISTA] Implement GetFinalPathNameByHandleW
  dll/win32/kernel32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32/kernel32_vista/GetFinalPathNameByHandle.c
  dll/win32/kernel32/kernel32_vista/vista.c
Owners: none

[NTDLL_APITEST] Add another test for NtQueryObject
  modules/rostests/apitests/ntdll/NtQueryObject.c
Owners: none

[KERNEL32_VISTA] Implement GetFinalPathNameByHandleW
  dll/win32/kernel32/kernel32_vista/CMakeLists.txt
  dll/win32/kernel32/kernel32_vista/GetFinalPathNameByHandle.c
  dll/win32/kernel32/kernel32_vista/vista.c
Owners: none

[PSDK] Fix up lmshare.h
  sdk/include/psdk/lmshare.h
Owners: none

[KERNEL32_APITEST] Add tests for GetFinalPathNameByHandleW
  modules/rostests/apitests/kernel32/CMakeLists.txt
  modules/rostests/apitests/kernel32/GetFinalPathNameByHandle.c
  modules/rostests/apitests/kernel32/testlist.c
Owners: none

[BROWSEUI] Fix CompareIDs lParam passed to inner folder
  dll/win32/browseui/shellfind/CFindFolder.cpp
  dll/win32/browseui/shellfind/CSearchBar.cpp
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[SHELL32] Use the folder column, not the list column during DefView sorting
  dll/win32/shell32/CDefView.cpp
Owners: @learn-more, @yagoulas

[SHELL32][BROWSEUI] Make externally available FCIDM WM_COMMANDs work correctly (#8150)
  dll/win32/browseui/shellbrowser.cpp
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/shelldesktop/CDesktopBrowser.cpp
  dll/win32/shell32/shresdef.h
  sdk/include/psdk/shlobj.h
  sdk/include/reactos/shlobj_undoc.h
Owners: @learn-more, @yagoulas
