Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

modify ftoption.h
  sdk/lib/3rdparty/freetype/include/freetype/config/ftoption.h
Owners: none

delete tools
  sdk/lib/3rdparty/freetype/src/tools/afblue.pl
  sdk/lib/3rdparty/freetype/src/tools/apinames.c
  sdk/lib/3rdparty/freetype/src/tools/chktrcmp.py
  sdk/lib/3rdparty/freetype/src/tools/cordic.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/content.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/docbeauty.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/docmaker.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/formatter.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/sources.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/tohtml.py
  sdk/lib/3rdparty/freetype/src/tools/docmaker/utils.py
  sdk/lib/3rdparty/freetype/src/tools/ftrandom/Makefile
  sdk/lib/3rdparty/freetype/src/tools/ftrandom/README
  sdk/lib/3rdparty/freetype/src/tools/ftrandom/ftrandom.c
  sdk/lib/3rdparty/freetype/src/tools/glnames.py
  sdk/lib/3rdparty/freetype/src/tools/no-copyright
  sdk/lib/3rdparty/freetype/src/tools/test_afm.c
  sdk/lib/3rdparty/freetype/src/tools/test_bbox.c
  sdk/lib/3rdparty/freetype/src/tools/test_trig.c
  sdk/lib/3rdparty/freetype/src/tools/update-copyright
  sdk/lib/3rdparty/freetype/src/tools/update-copyright-year
Owners: none

fixing 2
  sdk/lib/3rdparty/freetype/src/autofit/aflatin.c
  sdk/lib/3rdparty/freetype/src/autofit/afmodule.c
Owners: none

fixing 1
  sdk/lib/3rdparty/freetype/src/autofit/afcjk.c
  sdk/lib/3rdparty/freetype/src/autofit/aflatin.c
Owners: none

fix
  sdk/lib/3rdparty/freetype/src/autofit/afmodule.c
  sdk/lib/3rdparty/freetype/src/cid/cidgload.c
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
  sdk/lib/3rdparty/freetype/src/type1/t1gload.c
Owners: none

delete #include <winbase.h>
  win32ss/drivers/font/ftfd/ftfd.h
Owners: none

fixing 14
  sdk/lib/3rdparty/freetype/src/sfnt/ttsbit.c
Owners: none

fixing 12
  sdk/lib/3rdparty/freetype/src/autofit/aflatin2.c
  sdk/lib/3rdparty/freetype/src/autofit/afmodule.c
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
  sdk/lib/3rdparty/freetype/src/raster/ftraster.c
  sdk/lib/3rdparty/freetype/src/sfnt/ttsbit.c
  sdk/lib/3rdparty/freetype/src/smooth/ftgrays.c
Owners: none

fixing 13
  sdk/lib/3rdparty/freetype/src/autofit/aflatin2.c
Owners: none

fixing 15
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
Owners: none

patent expired
  sdk/lib/3rdparty/freetype/include/freetype/config/ftoption.h
  sdk/lib/3rdparty/freetype/src/smooth/ftsmooth.c
Owners: none

fixing 16
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
Owners: none

fix build
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
Owners: none

Delete '\0'
  win32ss/drivers/font/ftfd/freetype.rc
Owners: none

big fix
  sdk/lib/3rdparty/freetype/CMakeLists.txt
  sdk/lib/3rdparty/freetype/TechNote.txt
  sdk/lib/3rdparty/freetype/freetype.rc
  sdk/lib/3rdparty/freetype/src/autofit/afcjk.c
  sdk/lib/3rdparty/freetype/src/autofit/aflatin.c
  sdk/lib/3rdparty/freetype/src/autofit/aflatin2.c
  sdk/lib/3rdparty/freetype/src/autofit/afmodule.c
  win32ss/drivers/font/ftfd/freetype.rc
  win32ss/drivers/font/ftfd/rosglue.c
Owners: none

fixing 18
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
Owners: none

fixing 17
  sdk/lib/3rdparty/freetype/src/psaux/psintrp.c
Owners: none

fix exception
  sdk/lib/3rdparty/freetype/src/raster/ftraster.c
Owners: none

disable setjmp/longjmp
  sdk/lib/3rdparty/freetype/include/freetype/config/ftstdlib.h
  sdk/lib/3rdparty/freetype/src/smooth/ftgrays.c
Owners: none

fix TechNote.txt
  sdk/lib/3rdparty/freetype/TechNote.txt
Owners: none

revert setjmp/longjmp
  sdk/lib/3rdparty/freetype/include/freetype/config/ftstdlib.h
  sdk/lib/3rdparty/freetype/src/smooth/ftgrays.c
Owners: none

FT_DEBUG_LEVEL_ERROR
  sdk/lib/3rdparty/freetype/include/freetype/config/ftoption.h
  sdk/lib/3rdparty/freetype/include/freetype/internal/ftdebug.h
  sdk/lib/3rdparty/freetype/src/base/ftdebug.c
Owners: none

printf debugging
  sdk/lib/3rdparty/freetype/src/base/ftdebug.c
  sdk/lib/3rdparty/freetype/src/smooth/ftgrays.c
Owners: none

improve diff on ftoption.h
  sdk/lib/3rdparty/freetype/include/freetype/config/ftoption.h
Owners: none

enable FT_Throw
  win32ss/drivers/font/ftfd/ftfd.spec
Owners: none

improve debugging
  sdk/lib/3rdparty/freetype/include/freetype/config/ftoption.h
Owners: none

Removed commented out function
  dll/win32/shell32/dialogs/drive.cpp
Owners: @learn-more, @yagoulas

[COMCTL32] ReactOS second stage listbox selection fix (#7793)
  dll/win32/comctl32/listbox.c
Owners: none

Changes based on reviewer comments.
  win32ss/user/user32/windows/cursoricon.c
Owners: none

[NEWDEV] Fix `HardwareId` match logic in `UpdateDriverForPlugAndPlayDevicesW` (#7808)
  dll/win32/newdev/newdev.c
Owners: none

FT_Throw
  sdk/lib/3rdparty/freetype/src/base/ftdebug.c
Owners: none

debugging...
  sdk/lib/3rdparty/freetype/src/smooth/ftgrays.c
Owners: none

[0.4.15][SDK][CRYPT32][SETUPAPI][BOOTDATA] Fix VirtualBox guest additions, RelWithDebInfo target, USB
  base/setup/lib/bootsup.c
  boot/bootdata/hivesys.inf
  boot/bootdata/livecd.ini
  boot/bootdata/readme.txt
  dll/win32/crypt32/crypt32.spec
  dll/win32/crypt32/store.c
  dll/win32/newdev/newdev.c
  dll/win32/setupapi/install.c
  dll/win32/setupapi/query.c
  dll/win32/setupapi/setupapi.spec
  drivers/usb/usbstor/scsi.c
  modules/rostests/apitests/CMakeLists.txt
  modules/rostests/apitests/crypt32/CMakeLists.txt
  modules/rostests/apitests/crypt32/CertEnumSystemStoreLocation.c
  modules/rostests/apitests/crypt32/testlist.c
  ntoskrnl/io/pnpmgr/pnpinit.c
  ntoskrnl/mm/ARM3/expool.c
  sdk/cmake/gcc.cmake
Owners: @ThFabba, @Extravert-ir, @HeisSpiter, @tkreuzer

[SHELL32] Fix drive volume renaming
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shdocvw/CNSCBand.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/drvdefext.cpp
  dll/win32/shell32/folders/CDrivesFolder.cpp
  dll/win32/shell32/folders/CDrivesFolder.h
Owners: @learn-more, @yagoulas

[SHELL32] Follow-up of #7805: Improve PathMakeUniqueName (#7809)
  dll/win32/shell32/wine/shellpath.c
Owners: @learn-more, @yagoulas

change my email
  base/shell/explorer/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[GDI32] Implement RemoveFontResourceExA
  win32ss/gdi/gdi32/objects/font.c
Owners: none

improve
  win32ss/gdi/gdi32/objects/font.c
Owners: none

fix
  win32ss/gdi/gdi32/objects/font.c
Owners: none

fix 2
  win32ss/gdi/gdi32/objects/font.c
Owners: none
