Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[CLIP] Fix headers in some resource files
  base/applications/cmdutils/clip/lang/cs-CZ.rc
  base/applications/cmdutils/clip/lang/sk-SK.rc
Owners: none

[BLANKSCR] Add Czech (cs-CZ) translation
  modules/rosapps/applications/screensavers/blankscr/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/blankscr/scrnsave.rc
Owners: none

[BLANKSCR] Update Slovak (sk-SK) translation
  modules/rosapps/applications/screensavers/blankscr/lang/sk-SK.rc
Owners: none

[KBDGRE1] Improve the German Extended 1 keyboard layout
  dll/keyboard/kbdgre1/kbdgre1.c
Owners: none

[BUTTERFLIES] Add Czech (cs-CZ) translation
  modules/rosapps/applications/screensavers/butterflies/lang/cs-CZ.rc
  modules/rosapps/applications/screensavers/butterflies/rsrc.rc
Owners: none

Update base/applications/cmdutils/clip/lang/cs-CZ.rc
  base/applications/cmdutils/clip/lang/cs-CZ.rc
Owners: none

Update base/applications/cmdutils/clip/lang/sk-SK.rc
  base/applications/cmdutils/clip/lang/sk-SK.rc
Owners: none

[SDK] crt/sys/stat.h: Import MinGW-w64 patch "Change _S_IFBLK from 0x3000 to 0x6000"
  sdk/include/crt/sys/stat.h
Owners: none

[CIRCLES] Add Czech (cs-CZ) translation
  modules/rosapps/applications/screensavers/circles/circles.rc
  modules/rosapps/applications/screensavers/circles/lang/cs-CZ.rc
Owners: none

[KBDGRE1] Fix build by converting file to UTF-8 w/ BOM
  dll/keyboard/kbdgre1/kbdgre1.c
Owners: none

WIP: remove debug traces
  qemu.md
Owners: none

[INPUT] Update Russian (ru-RU) translation
  dll/cpl/input/lang/ru-RU.rc
Owners: @reactos/lang-russian

Update base/applications/cmdutils/where/lang/pl-PL.rc
  base/applications/cmdutils/where/lang/pl-PL.rc
Owners: @reactos/lang-polish

[WHERE] Add Polish (pl-PL) translation (#8397)
  base/applications/cmdutils/where/lang/pl-PL.rc
  base/applications/cmdutils/where/where.rc
Owners: @reactos/lang-polish

Include comment indicating that this may be a HACK.
  win32ss/gdi/ntgdi/gdiobj.c
Owners: none

[GCC15.2][AMD64] Harden GUID handling and stabilize AMD64 toolchain
  base/ctf/msctf/inputprocessor.cpp
  base/ctf/msctf/threadmgr.cpp
  base/ctf/msctf/utils.cpp
  base/setup/lib/utils/arcname.c
  base/shell/explorer/trayclock.cpp
  base/shell/explorer/trayprop.cpp
  dll/ntdll/def/ntdll.spec
  dll/win32/advapi32/misc/shutdown.c
  dll/win32/advapi32/reg/reg.c
  dll/win32/advapi32/wine/security.c
  dll/win32/kernel32/kernel32.spec
  dll/win32/msvcrt/CMakeLists.txt
  sdk/cmake/gcc.cmake
  sdk/cmake/msvc.cmake
  sdk/include/reactos/arc/arc.h
  sdk/lib/crt/math/libm_sse2/fma3_available.c
  sdk/lib/crt/oldnames.cmake
  sdk/lib/crt/string/tcslen.h
  sdk/lib/crt/string/tcsnlen.h
  sdk/lib/ucrt/CMakeLists.txt
  toolchain-clang.cmake
  toolchain-gcc.cmake
Owners: @learn-more, @yagoulas, @HeisSpiter, @ThFabba, @tkreuzer

[GCC15.2][freeldr] GCC/AMD64 build expects three PE sections (.text, .edata, .bss)
  boot/freeldr/freeldr/include/mm.h
Owners: @tkreuzer, @Extravert-ir

[NETSH] Replace the command line interpreter
  base/applications/network/netsh/help.c
  base/applications/network/netsh/interpreter.c
  base/applications/network/netsh/precomp.h
Owners: none

[GCC15.2][AMD64] msctf: use StringFromGUID2 directly
  base/ctf/msctf/inputprocessor.cpp
Owners: none

[GCC15.2][AMD64] gcc: adjust clang guard
  sdk/cmake/gcc.cmake
Owners: none

[GCC15.2][AMD64] gcc: use libgcc_eh when possible
  sdk/cmake/gcc.cmake
Owners: none

[NTDLL][WINE][NTOS:MM] MmFlushVirtualMemory(): Pretend success (#8290)
  dll/ntdll/def/ntdll.spec
  ntoskrnl/mm/ARM3/virtual.c
  sdk/include/wine/winternl.h
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

[PSDK] Add error codes and NS_CMD_FLAGS enumeration to netsh.h
  sdk/include/psdk/netsh.h
Owners: none

Apply code suggestions
  modules/rostests/kmtests/ntos_ex/ExFastMutex.c
  modules/rostests/kmtests/ntos_po/PoIrp_user.c
Owners: @ThFabba

skip some broken tests on vista, reduce log spam on IoDeviceInterface, increase timeout for kmtest_drv
  modules/rostests/kmtests/kmtest_drv/kmtest_drv.c
  modules/rostests/kmtests/ntos_ex/ExFastMutex.c
  modules/rostests/kmtests/ntos_io/IoDeviceInterface.c
  modules/rostests/kmtests/ntos_io/IoInterrupt.c
  modules/rostests/kmtests/ntos_ke/KeEvent.c
  modules/rostests/kmtests/ntos_ke/KeGuardedMutex.c
  modules/rostests/kmtests/ntos_ob/ObType.c
  modules/rostests/kmtests/ntos_po/PoIrp_user.c
  modules/rostests/kmtests/ntos_se/SeInheritance.c
Owners: @ThFabba, @GeoB99

[NETSH] Implement the exec command and fix script execution
  base/applications/network/netsh/context.c
  base/applications/network/netsh/interpreter.c
  base/applications/network/netsh/lang/en-US.rc
  base/applications/network/netsh/netsh.c
  base/applications/network/netsh/precomp.h
  base/applications/network/netsh/resource.h
Owners: none

[KMTEST] Skip tests that bugcheck on Vista (#8406)
  modules/rostests/kmtests/kmtest_drv/kmtest_drv.c
  modules/rostests/kmtests/ntos_ex/ExFastMutex.c
  modules/rostests/kmtests/ntos_io/IoDeviceInterface.c
  modules/rostests/kmtests/ntos_io/IoInterrupt.c
  modules/rostests/kmtests/ntos_ke/KeEvent.c
  modules/rostests/kmtests/ntos_ke/KeGuardedMutex.c
  modules/rostests/kmtests/ntos_ob/ObType.c
  modules/rostests/kmtests/ntos_po/PoIrp_user.c
  modules/rostests/kmtests/ntos_se/SeInheritance.c
Owners: @ThFabba, @GeoB99

[UMPNPMGR] Fix the LiveCD check
  base/services/umpnpmgr/umpnpmgr.c
Owners: none

Additional cleaning
  drivers/network/ndis/ndis/miniport.c
Owners: @ThFabba

[POWERCFG] Further improve the Power Meter & Battery tab (#8390)
  dll/cpl/powercfg/lang/bg-BG.rc
  dll/cpl/powercfg/lang/cs-CZ.rc
  dll/cpl/powercfg/lang/de-DE.rc
  dll/cpl/powercfg/lang/el-GR.rc
  dll/cpl/powercfg/lang/en-US.rc
  dll/cpl/powercfg/lang/es-ES.rc
  dll/cpl/powercfg/lang/fr-FR.rc
  dll/cpl/powercfg/lang/he-IL.rc
  dll/cpl/powercfg/lang/id-ID.rc
  dll/cpl/powercfg/lang/it-IT.rc
  dll/cpl/powercfg/lang/ja-JP.rc
  dll/cpl/powercfg/lang/nl-NL.rc
  dll/cpl/powercfg/lang/no-NO.rc
  dll/cpl/powercfg/lang/pl-PL.rc
  dll/cpl/powercfg/lang/pt-PT.rc
  dll/cpl/powercfg/lang/ro-RO.rc
  dll/cpl/powercfg/lang/ru-RU.rc
  dll/cpl/powercfg/lang/sk-SK.rc
  dll/cpl/powercfg/lang/sq-AL.rc
  dll/cpl/powercfg/lang/th-TH.rc
  dll/cpl/powercfg/lang/tr-TR.rc
  dll/cpl/powercfg/lang/uk-UA.rc
  dll/cpl/powercfg/lang/zh-CN.rc
  dll/cpl/powercfg/lang/zh-HK.rc
  dll/cpl/powercfg/lang/zh-TW.rc
  dll/cpl/powercfg/powercfg.rc
  dll/cpl/powercfg/powermeter.c
  dll/cpl/powercfg/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[ADVAPI32][RPCRT4][UMPNPMGR][WINLOGON] Fix buffer size retrieval for MakeSelfRelativeSD() (#8395)
  base/services/umpnpmgr/install.c
  base/system/winlogon/security.c
  dll/win32/advapi32/misc/logon.c
  dll/win32/rpcrt4/rpc_transport.c
Owners: none

White space fixes.
  win32ss/gdi/ntgdi/gdiobj.c
Owners: none

[PSDK][NDK] winternl.h, iotypes.h: define PIO_APC_ROUTINE_DEFINED
  sdk/include/ndk/iotypes.h
  sdk/include/psdk/winternl.h
Owners: none

[PSDK] Add missing definitions in icmpapi.h
  sdk/include/psdk/icmpapi.h
Owners: none

[ROSTESTS:TESTS] Don't need the PIO_APC_ROUTINE cast
  modules/rostests/tests/apc/apc.c
Owners: none

[UDFS] Add missing NTAPI for PIO_APC_ROUTINE
  drivers/filesystems/udfs/Include/nt_native.h
Owners: @HeisSpiter

[IPHLPAPI_WINETEST][IPHLPAPI] Sync iphlpapi_winetest to wine-10.0
  dll/win32/iphlpapi/iphlpapi.spec
  modules/rostests/winetests/iphlpapi/CMakeLists.txt
  modules/rostests/winetests/iphlpapi/iphlpapi.c
Owners: @ThFabba

[BOOTDATA][INPUT][KBDCMK] Add Colemak keyboard layout
  boot/bootdata/hivesys.inf
  boot/bootdata/txtsetup.sif
  dll/cpl/input/lang/bg-BG.rc
  dll/cpl/input/lang/cs-CZ.rc
  dll/cpl/input/lang/de-DE.rc
  dll/cpl/input/lang/el-GR.rc
  dll/cpl/input/lang/en-US.rc
  dll/cpl/input/lang/es-ES.rc
  dll/cpl/input/lang/fr-FR.rc
  dll/cpl/input/lang/he-IL.rc
  dll/cpl/input/lang/id-ID.rc
  dll/cpl/input/lang/it-IT.rc
  dll/cpl/input/lang/ja-JP.rc
  dll/cpl/input/lang/no-NO.rc
  dll/cpl/input/lang/pl-PL.rc
  dll/cpl/input/lang/pt-BR.rc
  dll/cpl/input/lang/pt-PT.rc
  dll/cpl/input/lang/ro-RO.rc
  dll/cpl/input/lang/ru-RU.rc
  dll/cpl/input/lang/sk-SK.rc
  dll/cpl/input/lang/sq-AL.rc
  dll/cpl/input/lang/tr-TR.rc
  dll/cpl/input/lang/uk-UA.rc
  dll/cpl/input/lang/zh-CN.rc
  dll/cpl/input/lang/zh-HK.rc
  dll/cpl/input/lang/zh-TW.rc
  dll/cpl/input/resource.h
  dll/keyboard/CMakeLists.txt
  dll/keyboard/kbdcmk/kbdcmk.c
  dll/keyboard/kbdcmk/kbdcmk.rc
  dll/keyboard/kbdcmk/kbdcmk.spec
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[SHLWAPI_WINETEST] Sync to wine-10.0
  modules/rostests/winetests/shlwapi/CMakeLists.txt
  modules/rostests/winetests/shlwapi/assoc.c
  modules/rostests/winetests/shlwapi/clist.c
  modules/rostests/winetests/shlwapi/clsid.c
  modules/rostests/winetests/shlwapi/generated.c
  modules/rostests/winetests/shlwapi/istream.c
  modules/rostests/winetests/shlwapi/ordinal.c
  modules/rostests/winetests/shlwapi/path.c
  modules/rostests/winetests/shlwapi/shreg.c
  modules/rostests/winetests/shlwapi/string.c
  modules/rostests/winetests/shlwapi/thread.c
  modules/rostests/winetests/shlwapi/url.c
Owners: @ThFabba

[kbdcmk] Add missing deadkey translations to the Colemak keyboard layout
  dll/keyboard/kbdcmk/kbdcmk.c
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
