Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

add more tests
  modules/rostests/apitests/shlwapi/AssocQueryKey.c
Owners: none

tricky pointers
  modules/rostests/apitests/shlwapi/AssocQueryString.c
Owners: none

[GDIPLUS] Fix a parameter check
  dll/win32/gdiplus/imageattributes.c
Owners: none

[NTOS:MM:AMD64] Pre-allocate PPEs for the system cache VA range
  ntoskrnl/mm/amd64/init.c
Owners: @tkreuzer

[NTOS:MM] Release system image PTEs on unload
  ntoskrnl/mm/ARM3/sysldr.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[HELP] Add Czech (cs-CZ) translation (#8933)
  base/applications/cmdutils/help/help.rc
  base/applications/cmdutils/help/lang/cs-CZ.rc
Owners: none

[NTOS:MM] Fix cache section segment flags initialization
  ntoskrnl/cache/section/data.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[MSCTFIME] Add French (fr-FR) translation (#8953)
  base/ctf/msctfime/lang/fr-FR.rc
  base/ctf/msctfime/msctfime.rc
Owners: @reactos/lang-french

[QLA1XXX] Add storage driver for QLogic ISP SCSI controllers
  drivers/storage/CMakeLists.txt
  drivers/storage/scsi/CMakeLists.txt
  drivers/storage/scsi/qla1xxx/CMakeLists.txt
  drivers/storage/scsi/qla1xxx/eeprom.c
  drivers/storage/scsi/qla1xxx/firmware/asm_1040.h
  drivers/storage/scsi/qla1xxx/firmware/asm_1080.h
  drivers/storage/scsi/qla1xxx/firmware/asm_12160.h
  drivers/storage/scsi/qla1xxx/isp.h
  drivers/storage/scsi/qla1xxx/qla1xxx.c
  drivers/storage/scsi/qla1xxx/qla1xxx.h
  drivers/storage/scsi/qla1xxx/qla1xxx.inf
  drivers/storage/scsi/qla1xxx/qla1xxx.rc
Owners: none

[IMM32] softkbd.c: Fix warnings (#9061)
  win32ss/user/imm32/softkbd.c
Owners: none

[FDEBUG] Update French (fr-FR) translation (#8954)
  boot/freeldr/fdebug/lang/fr-FR.rc
Owners: @reactos/lang-french

[THEMES] Add and improve French (fr-FR) translation (#8956)
  media/themes/Blackshade/blackshade.msstyles/blackshade.rc
  media/themes/Blackshade/blackshade.msstyles/lang/fr-FR.rc
  media/themes/Lautus/lautus.msstyles/lang/fr-FR.rc
  media/themes/Lunar/lunar.msstyles/lang/fr-FR.rc
  media/themes/Lunar/lunar.msstyles/lunar.rc
  media/themes/Modern/modern.msstyles/lang/fr-FR.rc
Owners: @reactos/lang-french

[RTL] Fix a 64 bit MSVC warning
  sdk/lib/rtl/compress.c
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

Update PsGetProcessSignatureLevel version to 0x603
  ntoskrnl/ntoskrnl.spec
Owners: @HeisSpiter, @ThFabba, @tkreuzer

NT 6.3
  ntoskrnl/ps/process.c
  sdk/include/ndk/pstypes.h
  sdk/lib/drivers/ntoskrnl_vista/CMakeLists.txt
  sdk/lib/drivers/ntoskrnl_vista/ps.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[CHCP] Update Czech (cs-CZ) and Slovak (sk-SK) translations (#8989)
  base/applications/cmdutils/chcp/lang/cs-CZ.rc
  base/applications/cmdutils/chcp/lang/sk-SK.rc
Owners: none

[WALLPAPERS] Reorganize wallpapers, make it more similar to 0.4.15 release (#9000)
  modules/wallpapers/Angelus.txt
  modules/wallpapers/Angelus/CMakeLists.txt
  modules/wallpapers/Angelus/ReactOS/Angelus ReactOS Dark 4x3 800x600.jpg
  modules/wallpapers/Angelus/ReactOS/CMakeLists.txt
  modules/wallpapers/Angelus/ReadMe.txt
  modules/wallpapers/Backwoods.jpg
  modules/wallpapers/Borealis Dark.jpg
  modules/wallpapers/Borealis.jpg
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/Deep Sea.jpg
  modules/wallpapers/Grass.jpg
  modules/wallpapers/LICENSE.txt
  modules/wallpapers/Mizu (4x3).png
  modules/wallpapers/Mizu.png
  modules/wallpapers/Mizu/CMakeLists.txt
  modules/wallpapers/Mizu/ReactOS Mizu 16x9 1920x1080.png
  modules/wallpapers/Mizu/ReactOS Mizu A 16x9 1920x1080.png
  modules/wallpapers/Nebula.jpg
  modules/wallpapers/Polarlicht.jpg
  modules/wallpapers/README.txt
  modules/wallpapers/ReactOS/CMakeLists.txt
  modules/wallpapers/ReadMe.txt
  modules/wallpapers/Silhouette Dark.png
  modules/wallpapers/Silhouette.png
  modules/wallpapers/suggestion.txt
Owners: none

[0.4.16][BOOTDATA] Enable default visual style
  boot/bootdata/bootcd/unattend.inf
  boot/bootdata/livecd/unattend.inf
Owners: none

[0.4.16][I8042prt] PS/2 database additions
  drivers/input/i8042prt/hwhacks.c
Owners: none

[0.4.16][SETUP] Disable BTRFS
  base/setup/lib/fsutil.c
  base/setup/lib/utils/partlist.c
Owners: none

[0.4.16][WALLPAPERS] Reorganize wallpapers, make it more similar to 0.4.15 release (#9000)
  modules/wallpapers/Angelus.txt
  modules/wallpapers/Angelus/CMakeLists.txt
  modules/wallpapers/Angelus/ReactOS/Angelus ReactOS Dark 4x3 800x600.jpg
  modules/wallpapers/Angelus/ReactOS/CMakeLists.txt
  modules/wallpapers/Angelus/ReadMe.txt
  modules/wallpapers/Backwoods.jpg
  modules/wallpapers/Borealis Dark.jpg
  modules/wallpapers/Borealis.jpg
  modules/wallpapers/CMakeLists.txt
  modules/wallpapers/Deep Sea.jpg
  modules/wallpapers/Grass.jpg
  modules/wallpapers/LICENSE.txt
  modules/wallpapers/Mizu (4x3).png
  modules/wallpapers/Mizu.png
  modules/wallpapers/Mizu/CMakeLists.txt
  modules/wallpapers/Mizu/ReactOS Mizu 16x9 1920x1080.png
  modules/wallpapers/Mizu/ReactOS Mizu A 16x9 1920x1080.png
  modules/wallpapers/Nebula.jpg
  modules/wallpapers/Polarlicht.jpg
  modules/wallpapers/README.txt
  modules/wallpapers/ReactOS/CMakeLists.txt
  modules/wallpapers/ReadMe.txt
  modules/wallpapers/Silhouette Dark.png
  modules/wallpapers/Silhouette.png
  modules/wallpapers/suggestion.txt
Owners: none

[0.4.16][WIN32SS][NTOSKRNL] GPU Hacks [WIN32SS] BADF00D HACK [WIN32SS] Weird issues i noticed with ATI drivers [NTOSKRNL] Minimal NpxThread change
  ntoskrnl/ke/thrdobj.c
  win32ss/gdi/eng/bitblt.c
  win32ss/gdi/eng/surface.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[0.4.16][VBE][USBHUB][USBOHCI] Hackfixes for Xbox
  drivers/usb/usbhub/usbhub.c
  drivers/usb/usbohci/usbohci.c
  win32ss/drivers/miniport/vbe/CMakeLists.txt
Owners: @ThFabba, @Extravert-ir

[WSCRIPT] Support //E command line parameter
  base/applications/cmdutils/wscript/main.c
Owners: none

[0.4.16][WALLPAPERS][BOOTDATA] Convert Nebula to bmp, apply default wallpaper
  boot/bootdata/hivedef.inf
  modules/wallpapers/Nebula.jpg
Owners: none

[0.4.16][BOOT] Disable (U)EFI
  boot/boot_images.cmake
Owners: none

[0.4.16][WIN32SS] Mask WndProc exceptions to hide all tickets linked to CORE-11915
  win32ss/user/user32/windows/message.c
Owners: none

[0.4.16] Vista+ Apiset Exposure OPT-IN in releases instead of OPT-OUT in master
  boot/bootdata/hivesft.inf
Owners: none

[EXPLORER] Implement ShowUndockMenuItem (#9068)
  base/shell/explorer/startmnusite.cpp
Owners: @learn-more, @yagoulas

[0.4.16][BOOT][SETUP] Default to non-debug boot options even if ReactOS is built for debug
  base/setup/lib/bootsup.c
  boot/bootdata/bootcd.ini
  boot/bootdata/floppy_pc98.ini
Owners: none

[0.4.16][VERSION] RC1
  sdk/include/reactos/version.cmake
Owners: none

[PSDK] winbase.h: Update PTP_WIN32_IO_CALLBACK with SAL2
  sdk/include/psdk/winbase.h
Owners: none

[NDK] Remove duplicated function declarations
  sdk/include/ndk/rtlfuncs.h
Owners: none

[SDK] Prevent a GCC 13 warning in probe.h
  sdk/include/reactos/probe.h
Owners: none

[NDK] Add extended context types / functions
  sdk/include/ndk/rtlfuncs.h
  sdk/include/ndk/rtltypes.h
Owners: none

[NDK] Add CONTEXT structures for different architectures globally
  sdk/include/ndk/rtltypes.h
Owners: none

[NTDLL_APITEST] Add tests for RtlCopyContext
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlCopyContext.c
Owners: none

[MSPAINT] Support grayscale palette (#9067)
  base/applications/mspaint/lang/bg-BG.rc
  base/applications/mspaint/lang/cs-CZ.rc
  base/applications/mspaint/lang/de-DE.rc
  base/applications/mspaint/lang/en-GB.rc
  base/applications/mspaint/lang/en-US.rc
  base/applications/mspaint/lang/es-ES.rc
  base/applications/mspaint/lang/et-EE.rc
  base/applications/mspaint/lang/eu-ES.rc
  base/applications/mspaint/lang/fr-FR.rc
  base/applications/mspaint/lang/he-IL.rc
  base/applications/mspaint/lang/hr-HR.rc
  base/applications/mspaint/lang/hu-HU.rc
  base/applications/mspaint/lang/id-ID.rc
  base/applications/mspaint/lang/it-IT.rc
  base/applications/mspaint/lang/ja-JP.rc
  base/applications/mspaint/lang/nl-NL.rc
  base/applications/mspaint/lang/no-NO.rc
  base/applications/mspaint/lang/pl-PL.rc
  base/applications/mspaint/lang/pt-BR.rc
  base/applications/mspaint/lang/pt-PT.rc
  base/applications/mspaint/lang/ro-RO.rc
  base/applications/mspaint/lang/ru-RU.rc
  base/applications/mspaint/lang/sk-SK.rc
  base/applications/mspaint/lang/sq-AL.rc
  base/applications/mspaint/lang/sv-SE.rc
  base/applications/mspaint/lang/tr-TR.rc
  base/applications/mspaint/lang/uk-UA.rc
  base/applications/mspaint/lang/vi-VN.rc
  base/applications/mspaint/lang/zh-CN.rc
  base/applications/mspaint/lang/zh-HK.rc
  base/applications/mspaint/lang/zh-TW.rc
  base/applications/mspaint/main.cpp
  base/applications/mspaint/palette.cpp
  base/applications/mspaint/palettemodel.cpp
  base/applications/mspaint/palettemodel.h
  base/applications/mspaint/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[RTL] Fix RtlVirtualUnwind for UWOP_*_FAR, UWOP_EPILOG and UWOP_SPARE_CODE
  sdk/lib/rtl/amd64/unwind.c
Owners: @tkreuzer

[RTL_APITEST][NTDLL_APITEST] Add RtlVirtualUnwind test
  modules/rostests/apitests/ntdll/testlist.c
  modules/rostests/apitests/rtl/CMakeLists.txt
  modules/rostests/apitests/rtl/amd64/RtlVirtualUnwind.c
  modules/rostests/apitests/rtl/testlist.c
Owners: @tkreuzer
