Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

[NTOS:OB] Validate ACCESS_SYSTEM_SECURITY in ObpIncrementHandleCount
  ntoskrnl/ob/obhandle.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Update dhclient.c: Address review comments
  base/services/dhcpcsvc/dhcp/dhclient.c
Owners: none

Update dhclient.c: Formatting nits
  base/services/dhcpcsvc/dhcp/dhclient.c
Owners: none

[DHCPCSVC] Fix DHCP option stack overflow (#9056)
  base/services/dhcpcsvc/dhcp/dhclient.c
Owners: none

[DOC] Update Romanian translation notes for diacritics usage (#9288)
  media/doc/Romanian translation notes.txt
Owners: none

[DOC] Fix typos in HACKING documentation file (#9322)
  media/doc/HACKING
Owners: none

[DEVMGR] Fix spelling of "occurred" in comments (#9323)
  dll/win32/devmgr/api.cpp
  dll/win32/devmgr/properties/devprblm.cpp
Owners: none

[DISKPART] Update Portuguese (pt-PT) translation (#9159)
  base/system/diskpart/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[NTOS:OB] Correct a typo
  ntoskrnl/ob/obhandle.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[FORMAT] Add Portuguese (pt-PT) translation (#9168)
  base/system/format/format.rc
  base/system/format/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

Update copyright notice to include 'Takımı'
  base/shell/cmd/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[INPUT] Update Czech (cs-CZ) translation (#9250)
  dll/cpl/input/lang/cs-CZ.rc
Owners: none

[NTOS:OB] Correct a typo
  ntoskrnl/ob/obhandle.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:OB] Validate ACCESS_SYSTEM_SECURITY in ObpIncrementHandleCount
  ntoskrnl/ob/obhandle.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[SETUP] Update and complete Turkish translation for ReactOS Setup Wizard
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

Remove extra newline in tr-TR.rc
  base/setup/reactos/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[SYSSETUP] Update and complete Turkish translation
  dll/win32/syssetup/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[ACPPAGE] Update Slovak (sk-SK) translation (#9253)
  dll/shellext/acppage/lang/sk-SK.rc
Owners: @learn-more

Update Turkish translations in resource file
  dll/win32/devmgr/lang/tr-TR.rc
Owners: @reactos/lang-turkish

[NTDLL_APITEST] Fix test for RtlAllocateHeap
  modules/rostests/apitests/ntdll/RtlAllocateHeap.c
Owners: none

[NTDLL_APITEST] Fix test for RtlAllocateHeap
  modules/rostests/apitests/ntdll/RtlAllocateHeap.c
Owners: none

[E100] Add driver for Intel PRO/100 PCI ethernet controller family
  drivers/network/dd/CMakeLists.txt
  drivers/network/dd/e100/CMakeLists.txt
  drivers/network/dd/e100/debug.h
  drivers/network/dd/e100/e100.c
  drivers/network/dd/e100/e100.h
  drivers/network/dd/e100/e100.rc
  drivers/network/dd/e100/e100hw.h
  drivers/network/dd/e100/eeprom.c
  drivers/network/dd/e100/hardware.c
  drivers/network/dd/e100/init.c
  drivers/network/dd/e100/interrupt.c
  drivers/network/dd/e100/nete100.inf
  drivers/network/dd/e100/phy.c
  drivers/network/dd/e100/power.c
  drivers/network/dd/e100/rcvbundl.h
  drivers/network/dd/e100/requests.c
  drivers/network/dd/e100/send.c
Owners: @ThFabba

[NTOS:KE/x64] Fix KiInitializeContextThread
  ntoskrnl/ke/amd64/thrdini.c
  sdk/include/ndk/amd64/ketypes.h
Owners: @tkreuzer

[NTOS:KE/x64] Fix KeContextToTrapFrame
  ntoskrnl/ke/amd64/context.c
Owners: @tkreuzer

[RTL/x64][NTOS:KE/x64] Fix RtlInitializeContext
  dll/win32/kernel32/client/utils.c
  ntoskrnl/ke/amd64/thrdini.c
  sdk/lib/rtl/amd64/stubs.c
Owners: @tkreuzer

[NTOS:KE/x64] Fix KiInitializeUserApc
  ntoskrnl/ke/amd64/usercall.c
Owners: @tkreuzer

[NTOS:KE/x64] Fix KiInitializeContextThread
  ntoskrnl/ke/amd64/thrdini.c
  sdk/include/ndk/amd64/ketypes.h
Owners: @tkreuzer

[SDK] Add IOCTLs for pipe connection attributes
  sdk/include/ndk/iotypes.h
Owners: none

[SHELL32_APITEST] Fix fShowSysFiles test
  modules/rostests/apitests/shell32/ShellState.cpp
Owners: none

[SHELL32_APITEST] Extend ShellState API tests
  modules/rostests/apitests/shell32/ShellState.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.cpp
  modules/rostests/apitests/shell32/shell32_apitest_sub.h
Owners: none

Remove calls to Global variable inside balance algoritm.
  ntoskrnl/mm/balance.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS] Fix balance only performing a single pass per wakeup.
  ntoskrnl/mm/balance.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Always run low priority CcRosTrimCache in the balancer thread.
  ntoskrnl/mm/balance.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Add Turkish localization for disk drivers ( Disk.inf )
  drivers/storage/class/disk/disk.inf
Owners: none

[NPFS] Partial implementation for FSCTL_PIPE_GET_CONNECTION_ATTRIBUTE CORE-17834
  drivers/filesystems/npfs/fsctrl.c
  drivers/filesystems/npfs/npfs.h
Owners: @HeisSpiter

[FREELDR:UEFI] Implement PCI bus detection
  boot/freeldr/freeldr/arch/uefi/uefihw.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR:UEFI] Prefer MCFG for PCI bus count detection
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  sdk/include/reactos/drivers/acpi/acpi.h
Owners: @tkreuzer, @Extravert-ir

Try to fix build
  boot/freeldr/freeldr/arch/i386/hwpci.c
  boot/freeldr/freeldr/uefi.cmake
Owners: @tkreuzer, @Extravert-ir

[NSLOOKUP] Implement the interactive mode
  base/applications/network/nslookup/nslookup.c
  base/applications/network/nslookup/nslookup.h
Owners: none

[NSLOOKUP] Fix calls to stricmp and strnicmp
  base/applications/network/nslookup/nslookup.c
Owners: none
