Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[WINED3D] Only show the no 3D warning once per process
  dll/directx/wine/wined3d/adapter_gl.c
Owners: none

[WS2_32_APITEST] Add a test for local delivery of UDP broadcasts
  modules/rostests/apitests/ws2_32/CMakeLists.txt
  modules/rostests/apitests/ws2_32/broadcast.c
  modules/rostests/apitests/ws2_32/testlist.c
Owners: none

[SDK:CRT][MSVCRTEX][DIRECTX:WINE] Remove the need for ucrtbase for NT5
  dll/directx/wine/d3d10/CMakeLists.txt
  dll/directx/wine/d3d12/CMakeLists.txt
  dll/directx/wine/dmband/CMakeLists.txt
  dll/directx/wine/dmcompos/CMakeLists.txt
  dll/directx/wine/dmime/CMakeLists.txt
  dll/directx/wine/dmloader/CMakeLists.txt
  dll/directx/wine/dmscript/CMakeLists.txt
  dll/directx/wine/dmstyle/CMakeLists.txt
  dll/directx/wine/dmusic/CMakeLists.txt
  dll/directx/wine/dplayx/CMakeLists.txt
  dll/directx/wine/dpnet/CMakeLists.txt
  dll/directx/wine/dpwsockx/CMakeLists.txt
  dll/directx/wine/wined3d/CMakeLists.txt
  sdk/include/crt/string.h
  sdk/lib/crt/msvcrtex.cmake
Owners: none

[DPLAYX] Some small final build fixes
  dll/directx/wine/dplayx/CMakeLists.txt
Owners: none

[TCPIP] Deliver UDP broadcasts to local sockets
  drivers/network/tcpip/ip/transport/udp/udp.c
Owners: @ThFabba

[WINED3D] Detect when the system isn't capable of wined3d
  dll/directx/wine/wined3d/adapter_gl.c
Owners: none

[MODULES] Finally, Disable quartz until OGL 2.0 is added to testbots
  modules/rostests/winetests/CMakeLists.txt
Owners: @ThFabba

[WIN32SS] Introduce raw input processing
  win32ss/user/ntuser/input.c
  win32ss/user/ntuser/input.h
  win32ss/user/ntuser/keyboard.c
  win32ss/user/ntuser/main.c
  win32ss/user/ntuser/message.c
  win32ss/user/ntuser/misc.c
  win32ss/user/ntuser/mouse.c
  win32ss/user/ntuser/msgqueue.c
  win32ss/user/ntuser/msgqueue.h
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/rawinput.c
  win32ss/user/ntuser/win32.h
  win32ss/user/user32/windows/message.c
Owners: none

[MEDIA] Fix WINESYNC.txt
  media/doc/WINESYNC.txt
Owners: none

[SETUPLIB] Search for unattend.inf on all drives (#9299)
  base/setup/lib/setuplib.c
  base/setup/lib/utils/filesup.c
  base/setup/lib/utils/filesup.h
Owners: none

** Improve GetNtDevicePathOfDriveNumber()
  base/setup/lib/utils/filesup.c
  base/setup/lib/utils/filesup.h
Owners: none

** Improve GetUnattendInfPath() and related routines
  base/setup/lib/setuplib.c
Owners: none

[USER32] Sync controls/button to Wine 11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/button.c
Owners: none

[USER32] Add WINE compatibility header
  win32ss/user/user32/include/wine-compat.h
Owners: none

[USER32] Sync controls/listbox to Wine 11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/listbox.c
Owners: none

[USER32] Sync controls/static to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/static.c
Owners: none

[USER32] Sync controls/combo to Wine 11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/combo.c
  win32ss/user/user32/include/controls.h
Owners: none

[USER32] Sync controls/edit to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/edit.c
Owners: none

[USER32] Sync controls/icontitle to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/controls/icontitle.c
  win32ss/user/user32/controls/regcontrol.c
  win32ss/user/user32/include/controls.h
Owners: none

[USER32] Sync misc/exticon to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/include/ntusrtyp.h
  win32ss/user/user32/misc/exticon.c
  win32ss/user/user32/windows/cursoricon.c
Owners: none

[USER32] Sync DDE to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/include/dde_private.h
  win32ss/user/user32/misc/ddeclient.c
  win32ss/user/user32/misc/ddemisc.c
  win32ss/user/user32/misc/ddeserver.c
Owners: none

[USER32] Sync LoadString with Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/misc/resources.c
Owners: none

[USER32] Sync MDI to Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/windows/mdi.c
Owners: none

** Simplifications for GetNtDevicePathOfDriveNumber()
  base/setup/lib/utils/filesup.c
Owners: none

[USER32] Sync spy.c with Wine-11.11
  media/doc/WINESYNC.txt
  win32ss/user/user32/CMakeLists.txt
  win32ss/user/user32/windows/spy.c
Owners: none

** Extra fix for GetUnattendInfPath()
  base/setup/lib/setuplib.c
Owners: none

[SETUPLIB] Search for unattend.inf on all drives (#9299)
  base/setup/lib/setuplib.c
  base/setup/lib/utils/filesup.c
  base/setup/lib/utils/filesup.h
Owners: none

[USP10] Sync with WINE-11.17 (#9552)
  dll/win32/usp10/CMakeLists.txt
  dll/win32/usp10/bidi.c
  dll/win32/usp10/bracket.c
  dll/win32/usp10/breaking.c
  dll/win32/usp10/direction.c
  dll/win32/usp10/indic.c
  dll/win32/usp10/indicsyllable.c
  dll/win32/usp10/linebreak.c
  dll/win32/usp10/mirror.c
  dll/win32/usp10/opentype.c
  dll/win32/usp10/shape.c
  dll/win32/usp10/shaping.c
  dll/win32/usp10/usp10.c
  dll/win32/usp10/usp10.spec
  dll/win32/usp10/usp10_internal.h
  dll/win32/usp10/wine-compat.h
  media/doc/WINESYNC.txt
  modules/rostests/winetests/usp10/usp10.c
  sdk/include/psdk/usp10.h
Owners: @ThFabba

[STOBJECT] Properly update the mute icon (#9537)
  dll/shellext/stobject/csystray.cpp
  dll/shellext/stobject/csystray.h
  dll/shellext/stobject/volume.cpp
Owners: @learn-more

[CODEREVIEW]
  dll/win32/msafd/misc/dllmain.c
  drivers/network/afd/afd/listen.c
Owners: @ThFabba

[REGEDIT] Use Toolbar for the address bar (#9444)
  base/applications/regedit/childwnd.c
  base/applications/regedit/main.h
Owners: none

[REGEDIT] Replace Arrow icon with Tango's start-here (#9444)
  base/applications/regedit/childwnd.c
  base/applications/regedit/main.h
  base/applications/regedit/regedit.rc
  base/applications/regedit/res/go-hot.bmp
  base/applications/regedit/res/go-normal.bmp
  base/applications/regedit/resource.h
Owners: none

[REGEDIT] Add label to "Go" button (#9444)
  base/applications/regedit/childwnd.c
  base/applications/regedit/lang/bg-BG.rc
  base/applications/regedit/lang/cs-CZ.rc
  base/applications/regedit/lang/de-DE.rc
  base/applications/regedit/lang/el-GR.rc
  base/applications/regedit/lang/en-US.rc
  base/applications/regedit/lang/es-ES.rc
  base/applications/regedit/lang/fr-FR.rc
  base/applications/regedit/lang/he-IL.rc
  base/applications/regedit/lang/hu-HU.rc
  base/applications/regedit/lang/id-ID.rc
  base/applications/regedit/lang/it-IT.rc
  base/applications/regedit/lang/ja-JP.rc
  base/applications/regedit/lang/ko-KR.rc
  base/applications/regedit/lang/nl-NL.rc
  base/applications/regedit/lang/no-NO.rc
  base/applications/regedit/lang/pl-PL.rc
  base/applications/regedit/lang/pt-BR.rc
  base/applications/regedit/lang/pt-PT.rc
  base/applications/regedit/lang/ro-RO.rc
  base/applications/regedit/lang/ru-RU.rc
  base/applications/regedit/lang/sk-SK.rc
  base/applications/regedit/lang/sl-SI.rc
  base/applications/regedit/lang/sq-AL.rc
  base/applications/regedit/lang/sv-SE.rc
  base/applications/regedit/lang/th-TH.rc
  base/applications/regedit/lang/tr-TR.rc
  base/applications/regedit/lang/uk-UA.rc
  base/applications/regedit/lang/zh-CN.rc
  base/applications/regedit/lang/zh-HK.rc
  base/applications/regedit/lang/zh-TW.rc
  base/applications/regedit/resource.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

Update Network Page
  base/applications/taskmgr/netpage.c
Owners: none

[CODEREVIEW]
  ntoskrnl/ke/wait.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

Add Network Page
  base/applications/taskmgr/CMakeLists.txt
  base/applications/taskmgr/lang/bg-BG.rc
  base/applications/taskmgr/lang/cs-CZ.rc
  base/applications/taskmgr/lang/da-DK.rc
  base/applications/taskmgr/lang/de-DE.rc
  base/applications/taskmgr/lang/el-GR.rc
  base/applications/taskmgr/lang/en-US.rc
  base/applications/taskmgr/lang/es-ES.rc
  base/applications/taskmgr/lang/et-EE.rc
  base/applications/taskmgr/lang/fr-FR.rc
  base/applications/taskmgr/lang/he-IL.rc
  base/applications/taskmgr/lang/hu-HU.rc
  base/applications/taskmgr/lang/id-ID.rc
  base/applications/taskmgr/lang/it-IT.rc
  base/applications/taskmgr/lang/ja-JP.rc
  base/applications/taskmgr/lang/ko-KR.rc
  base/applications/taskmgr/lang/nl-NL.rc
  base/applications/taskmgr/lang/no-NO.rc
  base/applications/taskmgr/lang/pl-PL.rc
  base/applications/taskmgr/lang/pt-BR.rc
  base/applications/taskmgr/lang/pt-PT.rc
  base/applications/taskmgr/lang/ro-RO.rc
  base/applications/taskmgr/lang/ru-RU.rc
  base/applications/taskmgr/lang/sk-SK.rc
  base/applications/taskmgr/lang/sq-AL.rc
  base/applications/taskmgr/lang/sv-SE.rc
  base/applications/taskmgr/lang/tr-TR.rc
  base/applications/taskmgr/lang/uk-UA.rc
  base/applications/taskmgr/lang/zh-CN.rc
  base/applications/taskmgr/lang/zh-HK.rc
  base/applications/taskmgr/lang/zh-TW.rc
  base/applications/taskmgr/netpage.c
  base/applications/taskmgr/netpage.h
  base/applications/taskmgr/precomp.h
  base/applications/taskmgr/resource.h
  base/applications/taskmgr/taskmgr.c
  base/applications/taskmgr/taskmgr.h
Owners: @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[MSAFD][AFD] Implement AcceptEx (#9187)
  dll/win32/msafd/misc/dllmain.c
  dll/win32/msafd/misc/stubs.c
  drivers/network/afd/afd/bind.c
  drivers/network/afd/afd/connect.c
  drivers/network/afd/afd/listen.c
  drivers/network/afd/afd/main.c
  drivers/network/afd/afd/read.c
  drivers/network/afd/include/afd.h
  modules/rostests/winetests/ws2_32/sock.c
  sdk/include/reactos/drivers/afd/shared.h
Owners: @ThFabba

[HIDCLASS] Implement IRP_MN_QUERY_INTERFACE/GUID_HID_INTERFACE_HIDPARSE
  drivers/hid/hidclass/pdo.c
Owners: @ThFabba

[HIDCLASS] Set correct PDO for children devices
  drivers/hid/hidclass/pdo.c
Owners: @ThFabba

[PATHCCH_STATIC] Expose STATIC_PATHCCH in the public interface definitions
  modules/rostests/unittests/pathcch/CMakeLists.txt
  sdk/lib/pathcch/CMakeLists.txt
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
