Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[ROSTESTS:CONTROLS] Add edit page
  modules/rostests/win32/user32/controls/pages/edit.c
Owners: none

[ROSTESTS:CONTROLS] Add icontitle page
  modules/rostests/win32/user32/controls/pages/icontitle.c
Owners: none

[ROSTESTS:CONTROLS] Add scrollbar page
  modules/rostests/win32/user32/controls/pages/scrollbar.c
Owners: none

[ROSTESTS:CONTROLS] Add MDI page
  modules/rostests/win32/user32/controls/pages/mdi.c
Owners: none

[NTDLL_APITEST] Implement test for RtlInitializeContext
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/RtlInitializeContext.c
Owners: none

[NTDLL_APITEST] Add more tests for NtCreateThread
  modules/rostests/apitests/ntdll/CMakeLists.txt
  modules/rostests/apitests/ntdll/NtCreateThread.c
  modules/rostests/apitests/ntdll/amd64/NtCreateThread.S
  modules/rostests/apitests/ntdll/i386/NtCreateThread.S
Owners: @tkreuzer

[NTDLL_APITEST] Improve NtQueryInformationThread test
  modules/rostests/apitests/ntdll/NtQueryInformationThread.c
Owners: none

[NDK][RTL] Fix signature of RtlInitializeContext
  sdk/include/ndk/rtlfuncs.h
  sdk/lib/rtl/amd64/stubs.c
  sdk/lib/rtl/i386/thread.c
Owners: @tkreuzer, @HeisSpiter, @learn-more, @ThFabba

[URLMON] Sync with Wine 10.0. CORE-20596
  dll/win32/urlmon/CMakeLists.txt
  dll/win32/urlmon/axinstall.c
  dll/win32/urlmon/bindctx.c
  dll/win32/urlmon/binding.c
  dll/win32/urlmon/bindprot.c
  dll/win32/urlmon/download.c
  dll/win32/urlmon/file.c
  dll/win32/urlmon/format.c
  dll/win32/urlmon/ftp.c
  dll/win32/urlmon/gopher.c
  dll/win32/urlmon/http.c
  dll/win32/urlmon/internet.c
  dll/win32/urlmon/mimefilter.c
  dll/win32/urlmon/mk.c
  dll/win32/urlmon/precomp.h
  dll/win32/urlmon/protocol.c
  dll/win32/urlmon/resource.h
  dll/win32/urlmon/sec_mgr.c
  dll/win32/urlmon/session.c
  dll/win32/urlmon/umon.c
  dll/win32/urlmon/umstream.c
  dll/win32/urlmon/uri.c
  dll/win32/urlmon/urlmon.rc
  dll/win32/urlmon/urlmon.spec
  dll/win32/urlmon/urlmon_main.c
  dll/win32/urlmon/urlmon_main.h
  dll/win32/urlmon/urlmon_urlmon.rgs
  dll/win32/urlmon/usrmarshal.c
  media/doc/WINESYNC.txt
Owners: none

[MSVCRTEX] Add recalloc. CORE-20596
  sdk/lib/crt/msvcrtex.cmake
  sdk/lib/crt/recalloc.c
Owners: none

[PSDK] Update oleauto.h. CORE-20595
  sdk/include/psdk/oleauto.h
Owners: none

[OLEAUT32] Sync with Wine 10.0. CORE-20595
  dll/win32/oleaut32/CMakeLists.txt
  dll/win32/oleaut32/connpt.c
  dll/win32/oleaut32/connpt.h
  dll/win32/oleaut32/dispatch.c
  dll/win32/oleaut32/hash.c
  dll/win32/oleaut32/oleaut.c
  dll/win32/oleaut32/oleaut32.rc
  dll/win32/oleaut32/oleaut32.spec
  dll/win32/oleaut32/oleaut32_oaidl.idl
  dll/win32/oleaut32/oleaut32_oaidl.rgs
  dll/win32/oleaut32/oleaut32_ocidl.idl
  dll/win32/oleaut32/oleaut32_ocidl.rgs
  dll/win32/oleaut32/olefont.c
  dll/win32/oleaut32/olepicture.c
  dll/win32/oleaut32/olepropframe.c
  dll/win32/oleaut32/precomp.h
  dll/win32/oleaut32/recinfo.c
  dll/win32/oleaut32/safearray.c
  dll/win32/oleaut32/thunks.c
  dll/win32/oleaut32/typelib.c
  dll/win32/oleaut32/typelib.h
  dll/win32/oleaut32/usrmarshal.c
  dll/win32/oleaut32/varformat.c
  dll/win32/oleaut32/variant.c
  dll/win32/oleaut32/variant.h
  dll/win32/oleaut32/vartype.c
  media/doc/WINESYNC.txt
Owners: none

[RPCRT4] Sync rpcrt4.spec to Wine-10.0
  dll/win32/rpcrt4/rpcrt4.spec
Owners: none

[ARM64][SDK] Fix MinGW intrinsic declarations
  sdk/include/vcruntime/intrin.h
  sdk/include/vcruntime/mingw32/intrin_arm64.h
Owners: none

[ARM64][SDK] Address intrinsic review feedback
  sdk/include/vcruntime/mingw32/intrin_arm64.h
Owners: none

[ARM64][SDK] Add MinGW intrinsics support
  sdk/include/asm/ksarm64.template.h
  sdk/include/ndk/arm64/ketypes.h
  sdk/include/vcruntime/mingw32/intrin.h
  sdk/include/vcruntime/mingw32/intrin_arm64.h
  sdk/include/xdk/arm64/ke.h
Owners: none

[CLANG][SDK] Add the llvm-compat runtime shim library (#9094)
  sdk/include/reactos/imp_alias.h
  sdk/lib/CMakeLists.txt
  sdk/lib/crt/stdio/acrt_iob_func.c
  sdk/lib/crt/stdlib/rand_s.c
  sdk/lib/llvm-compat/CMakeLists.txt
  sdk/lib/llvm-compat/c99_printf_hacks.c
  sdk/lib/llvm-compat/imp_alias_hacks.c
  sdk/lib/llvm-compat/k32_psapi_hacks.c
  sdk/lib/llvm-compat/sync_static.c
Owners: none

[SHELL32][SHELL32_APITEST] Handle named registry verbs in CDefaultContextMenu::InvokeCommand
  dll/win32/shell32/CCopyMoveToMenu.cpp
  dll/win32/shell32/CCopyMoveToMenu.h
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/CDefaultContextMenu.cpp
  dll/win32/shell32/propsheet.cpp
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/wine/shell32_main.h
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellExecuteEx.cpp
  modules/rostests/apitests/shell32/testlist.c
Owners: @learn-more, @yagoulas

[INPUT] Update Portuguese (pt-PT/pt-BR) translation (#9321)
  dll/cpl/input/lang/pt-BR.rc
  dll/cpl/input/lang/pt-PT.rc
Owners: @reactos/lang-portuguese

[USETUP] Fix broken OEM encoding of comments
  base/setup/usetup/lang/bg-BG.h
  base/setup/usetup/lang/el-GR.h
  base/setup/usetup/lang/hr-HR.h
  base/setup/usetup/lang/ja-JP.h
  base/setup/usetup/lang/lt-LT.h
  base/setup/usetup/lang/sk-SK.h
  base/setup/usetup/lang/sq-AL.h
  base/setup/usetup/lang/sv-SE.h
  base/setup/usetup/lang/uk-UA.h
Owners: @reactos/lang-ukrainian

[USETUP] Fix Albanian (sq-AL) translation
  base/setup/usetup/lang/sq-AL.h
Owners: none

[NETSHELL] Fix overlapping text on top of edit in IDD_NETWORKDOMAINPAGE
  dll/shellext/netshell/lang/bg-BG.rc
  dll/shellext/netshell/lang/cs-CZ.rc
  dll/shellext/netshell/lang/da-DK.rc
  dll/shellext/netshell/lang/de-DE.rc
  dll/shellext/netshell/lang/el-GR.rc
  dll/shellext/netshell/lang/en-US.rc
  dll/shellext/netshell/lang/es-ES.rc
  dll/shellext/netshell/lang/fr-FR.rc
  dll/shellext/netshell/lang/he-IL.rc
  dll/shellext/netshell/lang/hi-IN.rc
  dll/shellext/netshell/lang/hu-HU.rc
  dll/shellext/netshell/lang/id-ID.rc
  dll/shellext/netshell/lang/it-IT.rc
  dll/shellext/netshell/lang/ja-JP.rc
  dll/shellext/netshell/lang/nl-NL.rc
  dll/shellext/netshell/lang/no-NO.rc
  dll/shellext/netshell/lang/pl-PL.rc
  dll/shellext/netshell/lang/pt-PT.rc
  dll/shellext/netshell/lang/ro-RO.rc
  dll/shellext/netshell/lang/ru-RU.rc
  dll/shellext/netshell/lang/sk-SK.rc
  dll/shellext/netshell/lang/sq-AL.rc
  dll/shellext/netshell/lang/sv-SE.rc
  dll/shellext/netshell/lang/tr-TR.rc
  dll/shellext/netshell/lang/uk-UA.rc
  dll/shellext/netshell/lang/zh-CN.rc
  dll/shellext/netshell/lang/zh-HK.rc
  dll/shellext/netshell/lang/zh-TW.rc
Owners: @learn-more, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

[NTFS] Life time bug
  drivers/filesystems/ntfs/close.c
  drivers/filesystems/ntfs/fcb.c
Owners: @HeisSpiter

[NTOS:KE/x64] Fix KeContextToTrapFrame
  ntoskrnl/ke/amd64/context.c
Owners: @tkreuzer

[NTOS:FSRTL] Respect byte-range lock ownership
  ntoskrnl/fsrtl/filelock.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:IO] Do not free the active VPB
  ntoskrnl/io/iomgr/volume.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Release image mappings after load failures
  ntoskrnl/mm/ARM3/sysldr.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:MM] Only unmap system-mapped images
  ntoskrnl/mm/ARM3/sysldr.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

[NTOS:KE/x64] Fix KiInitializeUserApc
  ntoskrnl/ke/amd64/usercall.c
Owners: @tkreuzer

[RTL/x64][NTOS:KE/x64] Fix RtlInitializeContext
  dll/win32/kernel32/client/utils.c
  ntoskrnl/ke/amd64/thrdini.c
  sdk/lib/rtl/amd64/stubs.c
Owners: @tkreuzer

[NDK] Fix definition of OB_CLOSE_METHOD
  drivers/filters/fltmgr/Messaging.c
  modules/rostests/kmtests/ntos_ob/ObType.cpp
  ntoskrnl/config/cmsysini.c
  ntoskrnl/dbgk/dbgkobj.c
  ntoskrnl/ex/win32k.c
  ntoskrnl/include/internal/cm.h
  ntoskrnl/include/internal/io.h
  ntoskrnl/include/internal/lpc.h
  ntoskrnl/io/iomgr/file.c
  ntoskrnl/lpc/close.c
  ntoskrnl/mm/section.c
  ntoskrnl/wmi/guidobj.c
  sdk/include/ndk/obtypes.h
Owners: @gedmurphy, @ThFabba, @HeisSpiter, @tkreuzer

[SHDOCVW] Fix click to rename in Explorer tree (CORE-19797)
  dll/win32/shdocvw/CNSCBand.cpp
  dll/win32/shdocvw/CNSCBand.h
Owners: none

[NVNET] Fix typos
  drivers/network/dd/nvnet/eth.h
  drivers/network/dd/nvnet/init.c
Owners: @ThFabba

[NVNET] Fix two typos (#9345)
  drivers/network/dd/nvnet/eth.h
  drivers/network/dd/nvnet/init.c
Owners: @ThFabba

[KMTESTS:RTLRANGE] Code Review
  modules/rostests/kmtests/rtl/RtlRangeList.c
Owners: @ThFabba

[FREELDR:UEFI] Report PCI buses in the hardware description tree
  boot/freeldr/freeldr/arch/uefi/uefihw.c
  sdk/include/reactos/edk2/PciRootBridgeIo.h
Owners: @tkreuzer, @Extravert-ir

[NTOS:MM] Allow contiguous-memory frees at DISPATCH_LEVEL
  ntoskrnl/mm/ARM3/contmem.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

nit: Update effappdlg.c
  dll/cpl/desk/effappdlg.c
Owners: none

Use defines
  dll/cpl/desk/effappdlg.c
Owners: none

[NTOS:MM] Clarify system image unload comments
  ntoskrnl/mm/ARM3/sysldr.c
Owners: @HeisSpiter, @ThFabba, @tkreuzer

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
