Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese

Update dll/win32/shell32/utils.cpp
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

Update dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

move
  dll/win32/shell32/utils.cpp
Owners: @learn-more, @yagoulas

[SHELL32][SHELL32_APITEST][SDK] Implement SHGetUserDisplayName (#7612)
  dll/win32/shell32/CMakeLists.txt
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHGetUserDisplayName.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/psdk/secext.h
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

fix apitest for Vista+
  modules/rostests/apitests/shell32/SHShouldShowWizards.cpp
Owners: none

improve
  modules/rostests/apitests/shell32/SHShouldShowWizards.cpp
Owners: none

add @see
  dll/win32/shell32/shlexec.cpp
Owners: @learn-more, @yagoulas

[NTGDI] Silence some debug log spam from GreGetObjectOwner when input parameter is NULL. (#7606)
  win32ss/gdi/ntgdi/gdiobj.c
Owners: none

[SHELL32][SHELL32_APITEST][SDK] Implement SHShouldShowWizards (#7614)
  dll/win32/shell32/stubs.cpp
  dll/win32/shell32/utils.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/SHShouldShowWizards.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

[WKSSVC] Plug memory leaks in NetrWkstaUserGetInfo
  base/services/wkssvc/rpcserver.c
Owners: none

[WKSSVC] Fix returned error value in NetrWkstaUserGetInfo
  base/services/wkssvc/rpcserver.c
Owners: none

[WKSSVC] Improve formatting
  base/services/wkssvc/rpcserver.c
Owners: none

[WKSSVC] Stubplement support for level 1101 in NetrWkstaUserGetInfo
  base/services/wkssvc/rpcserver.c
Owners: none

[NTUSER][USER32] Refresh URLs to MS Learn
  win32ss/user/ntuser/desktop.c
  win32ss/user/ntuser/mouse.c
  win32ss/user/ntuser/ntstubs.c
  win32ss/user/ntuser/window.c
  win32ss/user/user32/windows/message.c
  win32ss/user/user32/windows/messagebox.c
Owners: none

[NTGDI][GDI32] Refresh URLs to MS Learn
  win32ss/gdi/eng/error.c
  win32ss/gdi/ntgdi/freetype.c
Owners: none

[APPLICATIONS] Refresh URLs to MS Learn
  base/applications/msconfig_new/comctl32ex/comctl32supp.c
  base/applications/msconfig_new/systempage.cpp
  base/applications/msconfig_new/utils.c
  base/applications/msconfig_new/utils.h
  base/applications/mscutils/eventvwr/eventvwr.c
  base/applications/mscutils/eventvwr/evtdetctl.c
  base/applications/rapps/README.ENG
Owners: none

[SHELL32][SHELL32_APITEST][SDK] Implement ShellExec_RunDLL (#7615)
  dll/win32/shell32/shell32.spec
  dll/win32/shell32/shlexec.cpp
  dll/win32/shell32/stubs.cpp
  modules/rostests/apitests/shell32/CMakeLists.txt
  modules/rostests/apitests/shell32/ShellExec_RunDLL.cpp
  modules/rostests/apitests/shell32/testlist.c
  sdk/include/reactos/undocshell.h
Owners: @learn-more, @yagoulas

[SETUPAPI][SETUPAPI_WINETEST] Use conforming swprintf
  dll/win32/setupapi/CMakeLists.txt
  modules/rostests/winetests/setupapi/CMakeLists.txt
Owners: @ThFabba

[SETUPAPI] Prepare Wine syncing.
  dll/win32/setupapi/CMakeLists.txt
  dll/win32/setupapi/devclass.c
  dll/win32/setupapi/dialog.c
  dll/win32/setupapi/misc.c
  dll/win32/setupapi/setupapi_private.h
  dll/win32/setupapi/setupcab.c
Owners: none

Partially revert commit 30810893ada4010dc173483d4b1f872dc208aebb.
  dll/win32/setupapi/stringtable.c
Owners: none

[WINESYNC] Initial bootstrap for setupapi stringtable.c partial sync.
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: setupapi.h must not define HSTRING_TABLE and the StringTable* prototypes.
  dll/win32/setupapi/setupapi_private.h
  modules/rostests/winetests/setupapi/stringtable.c
  sdk/include/psdk/setupapi.h
  sdk/include/reactos/setupapi_undoc.h
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[SETUPAPI] Prepare for partial Wine sync.
  dll/win32/setupapi/queue.c
Owners: none

[WINESYNC] Initial bootstrap for setupapi queue.c partial sync.
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Move strdupW and strdupWtoA to the setupapi_private.h header.
  dll/win32/setupapi/queue.c
  dll/win32/setupapi/setupapi.spec
  dll/win32/setupapi/setupapi_private.h
  dll/win32/setupapi/stringtable.c
  media/doc/WINESYNC.txt
  sdk/tools/winesync/setupapi.cfg
Owners: none

[SETUPAPI] stringtable.c: Code simplification and bugfix.
  dll/win32/setupapi/stringtable.c
Owners: none

[SETUPAPI][WINESYNC] Continue Wine-syncing stringtable.c to a separate file.
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Implement a binary compatible string table.
  dll/win32/setupapi/CMakeLists.txt
  dll/win32/setupapi/stringtable_wine.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[SETUPAPI] Guard in __WINESRC__ original Wine code that has been improved in ReactOS.
  dll/win32/setupapi/query.c
Owners: none

[WINESYNC] setupapi: Make default context structure layout compatible.
  dll/win32/setupapi/queue.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] Initial bootstrap for setupapi partial sync.
  dll/win32/setupapi/dialog.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[SETUPAPI] parser.c: Improve the ReactOS-specific code.
  dll/win32/setupapi/parser.c
Owners: none

[WINESYNC] Initial bootstrap for setupapi parser.c partial sync.
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] Initial bootstrap for setupapi winetest partial sync.
  modules/rostests/winetests/setupapi/CMakeLists.txt
  modules/rostests/winetests/setupapi/devinst.c
  modules/rostests/winetests/setupapi/dialog.c
  modules/rostests/winetests/setupapi/diskspace.c
  modules/rostests/winetests/setupapi/setupcab.c
  modules/rostests/winetests/setupapi/testlist.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Use the ARRAY_SIZE() macro.
  dll/win32/setupapi/dialog.c
  dll/win32/setupapi/parser.c
  dll/win32/setupapi/query.c
  dll/win32/setupapi/queue.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Store the path to the driver key in the device key.
  dll/win32/setupapi/parser.c
  modules/rostests/winetests/setupapi/devinst.c
  modules/rostests/winetests/setupapi/install.c
  modules/rostests/winetests/setupapi/parser.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] setupapi: Extract individual files from cabinets.
  dll/win32/setupapi/queue.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi/tests: Avoid assert().
  dll/win32/setupapi/queue.c
  modules/rostests/winetests/setupapi/CMakeLists.txt
  modules/rostests/winetests/setupapi/install.c
  sdk/tools/winesync/setupapi.cfg
Owners: @ThFabba

[WINESYNC] !! Wine commit code removal kept for ReactOS only !!
  dll/win32/setupapi/queue.c
  sdk/tools/winesync/setupapi.cfg
Owners: none

[WINESYNC] setupapi: Separate the entire copy operation into a helper function.
  dll/win32/setupapi/queue.c
  sdk/tools/winesync/setupapi.cfg
Owners: none
