Repository reactos/ReactOS, changes with the owners that docs/CODEOWNERS names for each.
All owners: @ThFabba, @learn-more, @HeisSpiter, @gedmurphy, @tkreuzer, @Extravert-ir, @ColinFinck, @GeoB99, @yagoulas, @reactos/lang-german, @reactos/lang-spanish, @reactos/lang-estonian, @reactos/lang-french, @reactos/lang-hebrew, @reactos/lang-hindi, @reactos/lang-hungarian, @reactos/lang-indonesian, @reactos/lang-italian, @reactos/lang-dutch, @reactos/lang-polish, @reactos/lang-portuguese, @reactos/lang-romanian, @reactos/lang-russian, @reactos/lang-turkish, @reactos/lang-ukrainian, @reactos/lang-chinese

revert partially
  base/applications/kbswitch/kbswitch.c
Owners: none

[NTUSER] Solve 'Double Popup Menu' problem
  win32ss/user/ntuser/menu.c
Owners: none

make a function for ending tracking
  win32ss/user/ntuser/menu.c
Owners: none

[SDK][MODULES] Fix a test and add wine-10 entries to headers
  modules/rostests/winetests/ntdll/file.c
  sdk/include/psdk/ip2string.h
  sdk/include/psdk/libloaderapi.h
  sdk/include/psdk/ntioring_x.h
  sdk/include/psdk/perflib.h
  sdk/include/psdk/wincontypes.h
  sdk/include/psdk/winnls.h
  sdk/include/reactos/wine/winioctl.h
  sdk/include/reactos/wine/winternl.h
  sdk/include/xdk/setypes.h
Owners: @ThFabba

[KernelBase] Import KernelBase from WINE-10.0
  dll/win32/KernelBase/wine/console.c
  dll/win32/KernelBase/wine/debug.c
  dll/win32/KernelBase/wine/file.c
  dll/win32/KernelBase/wine/kernelbase.h
  dll/win32/KernelBase/wine/kernelbase.rc
  dll/win32/KernelBase/wine/kernelbase.rgs
  dll/win32/KernelBase/wine/kernelbase.spec
  dll/win32/KernelBase/wine/loader.c
  dll/win32/KernelBase/wine/locale.c
  dll/win32/KernelBase/wine/main.c
  dll/win32/KernelBase/wine/memory.c
  dll/win32/KernelBase/wine/path.c
  dll/win32/KernelBase/wine/process.c
  dll/win32/KernelBase/wine/registry.c
  dll/win32/KernelBase/wine/security.c
  dll/win32/KernelBase/wine/string.c
  dll/win32/KernelBase/wine/sync.c
  dll/win32/KernelBase/wine/thread.c
  dll/win32/KernelBase/wine/version.c
  dll/win32/KernelBase/wine/volume.c
  dll/win32/KernelBase/wine/winerror.mc
Owners: none

[SDK] Update ThreadInfoClass to wine-10.0
  sdk/include/xdk/pstypes.h
Owners: none

[KernelBase][Kernel32][SDK] Build path.c from KernelBase
  dll/win32/CMakeLists.txt
  dll/win32/KernelBase/CMakeLists.txt
  dll/win32/KernelBase/wine/CMakeLists.txt
  dll/win32/KernelBase/wine/kernelbase.h
  dll/win32/KernelBase/wine/synchacks.h
  dll/win32/kernel32/CMakeLists.txt
  sdk/include/psdk/pathcch.h
  sdk/include/psdk/shlwapi.h
  sdk/include/psdk/winnls.h
  sdk/lib/CMakeLists.txt
  sdk/lib/pathcch/CMakeLists.txt
  sdk/lib/pathcch/pathcch.c
  sdk/lib/pathcch/pathcch.h
Owners: none

improve
  win32ss/user/ntuser/menu.c
Owners: none

[SDK][KernelBase][Kernel32] Build Wine-10.0 kernelbase
  dll/ntdll/def/ntdll.spec
  dll/ntdll/nt_0600/DllMain.c
  dll/ntdll/nt_0600/ldr/ldrinit.c
  dll/ntdll/nt_0600/ntdll_vista.spec
  dll/win32/KernelBase/notes
  dll/win32/KernelBase/wine/CMakeLists.txt
  dll/win32/KernelBase/wine/debug.c
  dll/win32/KernelBase/wine/file.c
  dll/win32/KernelBase/wine/loader.c
  dll/win32/KernelBase/wine/main.c
  dll/win32/KernelBase/wine/memory.c
  dll/win32/KernelBase/wine/process.c
  dll/win32/KernelBase/wine/security.c
  dll/win32/KernelBase/wine/sync.c
  dll/win32/KernelBase/wine/synchacks.h
  dll/win32/KernelBase/wine/thread.c
  dll/win32/KernelBase/wine/version.c
  dll/win32/KernelBase/wine/volume.c
  dll/win32/advapi32/CMakeLists.txt
  dll/win32/kernel32/CMakeLists.txt
  dll/win32/kernel32/client/heapmem.c
  dll/win32/kernel32/client/power.c
  dll/win32/kernel32/client/sysinfo.c
  dll/win32/kernel32/include/kernel32.h
  dll/win32/kernel32/kernel32.spec
  dll/win32/kernel32/kernel32_vista/vista.c
  dll/win32/kernel32/wine/process.c
  dll/win32/kernel32/wine/transact.c
  dll/win32/kernel32/winnls/string/lcformat.c
  dll/win32/kernel32/winnls/string/locale.c
  sdk/include/psdk/appmodel.h
  sdk/include/psdk/ioringapi.h
  sdk/include/psdk/processthreadsapi.h
  sdk/include/psdk/winbase.h
  sdk/include/psdk/winnls.h
  sdk/include/psdk/winternl.h
  sdk/include/reactos/wine/winternl.h
  sdk/lib/rtl/CMakeLists.txt
Owners: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer

add comment
  win32ss/user/ntuser/menu.c
Owners: none

Update win32ss/user/ntuser/menu.c
  win32ss/user/ntuser/menu.c
Owners: none

resource id values fix
  base/applications/kbswitch/resource.h
Owners: none

use UINT
  base/applications/kbswitch/kbswitch.c
Owners: none

[SHELL32] Implement single-click mode in DefView
  dll/win32/shell32/CDefView.cpp
  dll/win32/shell32/dialogs/general.cpp
  dll/win32/shell32/shfldr.h
Owners: @learn-more, @yagoulas

improve
  win32ss/user/ntuser/menu.c
Owners: none

Fix test on all versions of Windows at certain vertical resolutions
  modules/rostests/apitests/gdi32/SetWindowExtEx.c
Owners: none

big fix
  win32ss/include/ntuser.h
  win32ss/user/ntuser/menu.c
Owners: none

simplify
  win32ss/user/ntuser/menu.c
Owners: none

Simplify fix
  modules/rostests/apitests/gdi32/SetWindowExtEx.c
Owners: none

[FREELDR] Split LoaderBlock and Extension into sub-blocks
  boot/freeldr/freeldr/include/nt_loader_block.h
  boot/freeldr/freeldr/ntldr/arch/amd64/winldr.c
  boot/freeldr/freeldr/ntldr/arch/i386/winldr.c
  boot/freeldr/freeldr/ntldr/setupldr.c
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/winldr.h
  boot/freeldr/freeldr/ntldr/wlmemory.c
  boot/freeldr/freeldr/ntldr/wlregistry.c
Owners: @tkreuzer, @Extravert-ir

[FREELDR] Add Windows 7 Boot Support
  boot/freeldr/freeldr/arch/archwsup.c
  boot/freeldr/freeldr/bootmgr.c
  boot/freeldr/freeldr/include/nt_loader_block.h
  boot/freeldr/freeldr/ntldr/winldr.c
  boot/freeldr/freeldr/ntldr/winldr.h
  sdk/include/reactos/arc/arc.h
Owners: @tkreuzer, @Extravert-ir

delete log function and link to ntdll
  base/applications/kbswitch/CMakeLists.txt
  base/applications/kbswitch/kbswitch.c
Owners: none

[CICERO] Move sdk/lib/cicero to base/ctf/cicero
  base/ctf/CMakeLists.txt
  base/ctf/cicero/CMakeLists.txt
  base/ctf/cicero/cicarray.cpp
  base/ctf/cicero/cicarray.h
  base/ctf/cicero/cicbase.cpp
  base/ctf/cicero/cicbase.h
  base/ctf/cicero/ciccaret.cpp
  base/ctf/cicero/ciccaret.h
  base/ctf/cicero/cicevent.h
  base/ctf/cicero/cicfmap.cpp
  base/ctf/cicero/cicfmap.h
  base/ctf/cicero/cicimc.cpp
  base/ctf/cicero/cicimc.h
  base/ctf/cicero/cicmutex.h
  base/ctf/cicero/cicreg.cpp
  base/ctf/cicero/cicreg.h
  base/ctf/cicero/cictf.h
  base/ctf/cicero/cicuif.cpp
  base/ctf/cicero/cicuif.h
  base/ctf/cicero/cicutb.h
  base/ctf/cicero/precomp.h
  sdk/lib/CMakeLists.txt
Owners: none

[MSCTF] Add ITfLangBarMgr stubs
  base/ctf/msctf/CMakeLists.txt
  base/ctf/msctf/langbarmgr.c
  base/ctf/msctf/langbarmgr.cpp
Owners: none

don't include <shellutils.h>
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve 2
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve 3
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve 4
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve 5
  base/ctf/msctf/langbarmgr.cpp
Owners: none

add DECLSPEC_HIDDEN
  base/ctf/msctf/langbarmgr.cpp
Owners: none

fixing build
  base/ctf/msctf/langbarmgr.cpp
Owners: none

fixing build 2
  base/ctf/msctf/langbarmgr.cpp
Owners: none

improve
  base/ctf/msctf/langbarmgr.cpp
Owners: none

add copyright
  base/ctf/msctf/langbarmgr.cpp
Owners: none

Initial sync to wine-10.0
  modules/rostests/winetests/crypt32/CMakeLists.txt
  modules/rostests/winetests/crypt32/base64.c
  modules/rostests/winetests/crypt32/cert.c
  modules/rostests/winetests/crypt32/chain.c
  modules/rostests/winetests/crypt32/crl.c
  modules/rostests/winetests/crypt32/ctl.c
  modules/rostests/winetests/crypt32/encode.c
  modules/rostests/winetests/crypt32/main.c
  modules/rostests/winetests/crypt32/message.c
  modules/rostests/winetests/crypt32/msg.c
  modules/rostests/winetests/crypt32/object.c
  modules/rostests/winetests/crypt32/oid.c
  modules/rostests/winetests/crypt32/protectdata.c
  modules/rostests/winetests/crypt32/sip.c
  modules/rostests/winetests/crypt32/store.c
  modules/rostests/winetests/crypt32/str.c
Owners: @ThFabba

[SDK] Add ITfRangeAnchor interface to <msctf_undoc.h>
  sdk/include/reactos/msctf_undoc.h
Owners: none

fix
  base/ctf/msctf/langbarmgr.cpp
  base/ctf/msctf/msctf_internal.h
Owners: none

include <initguid.h>
  base/ctf/msctf/langbarmgr.cpp
Owners: none

[SDK] shellutils.h: Use reinterpret_cast for IID_PPV_ARG
  sdk/include/reactos/shellutils.h
Owners: none

docs/CODEOWNERS:

# CODEOWNERS
## Please see codeowners.md for more information.

# 3rd Party File Format Libraries
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/libjpeg/                  @ThFabba
/dll/3rdparty/libpng/                   @ThFabba
/dll/3rdparty/libtiff/                  @ThFabba
/dll/3rdparty/libxslt/                  @ThFabba
/sdk/include/reactos/libs/libjpeg/      @ThFabba
/sdk/include/reactos/libs/libmpg123/    @ThFabba
/sdk/include/reactos/libs/libpng/       @ThFabba
/sdk/include/reactos/libs/libtiff/      @ThFabba
/sdk/include/reactos/libs/libxml/       @ThFabba
/sdk/include/reactos/libs/libxslt/      @ThFabba
/sdk/lib/3rdparty/libmpg123/            @ThFabba
/sdk/lib/3rdparty/libsamplerate/        @ThFabba
/sdk/lib/3rdparty/libxml2/              @ThFabba

# ACPI
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/bus/acpi/  @ThFabba
/hal/halx86/acpi/   @ThFabba

# ACPICA Library
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/bus/acpi/acpica/   @ThFabba

# Apisets
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/apisets/   @learn-more

# Application Compatibility subystem
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/appcompat/         @learn-more
/dll/shellext/acppage/  @learn-more
/ntoskrnl/ps/apphelp.c  @learn-more
/sdk/tools/xml2sdb/     @learn-more

# Cache Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_cc/  @HeisSpiter
/ntoskrnl/cc/                       @HeisSpiter

# Cache Manager Rewrite
## Maintainer: None
## Reviewers: None
## Status: Abandoned
## Comments: None
/ntoskrnl/cache/

# CMake Build Scripts
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/sdk/cmake/
*.cmake

# File Patch API
## Maintainer: @learn-more
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/mspatcha/    @learn-more

# File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: Also see "Upstream File Systems"
/drivers/filesystems/   @HeisSpiter
/sdk/lib/fslib/         @HeisSpiter

# Filesystem Filter Manager
## Maintainer: @gedmurphy
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/filters/fltmgr/ @gedmurphy

# File Systems Run Time Library
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_fsrtl/       @HeisSpiter
/modules/rostests/kmtests/novp_fsrtl/       @HeisSpiter
/ntoskrnl/fsrtl/                            @HeisSpiter
/sdk/lib/drivers/ntoskrnl_vista/fsrtl.c     @HeisSpiter

# Freeloader
## Maintainer: None
## Reviewers: @tkreuzer
## Status: Maintained
## Comments: None
/boot/freeldr/freeldr/  @tkreuzer @Extravert-ir

# HAL / APIC
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
/hal/halx86/apic/   @tkreuzer

# HID Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/hid/   @ThFabba

# Kernel
## Maintainer: None
## Reviewers: @HeisSpiter, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/ntoskrnl/  @HeisSpiter @ThFabba @tkreuzer

# mbed TLS
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/dll/3rdparty/mbedtls/              @ThFabba
/sdk/include/reactos/libs/mbedtls/  @ThFabba

# Mount Point Manager
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/drivers/storage/mountmgr/ @HeisSpiter

# Network Drivers
## Maintainer: None
## Reviewers: @ThFabba
## Status: Maintained
## Comments: None
/drivers/network/   @ThFabba

# Intel PRO/1000 NIC family driver
## Maintainer: None
## Reviewers: @ThFabba, @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/network/dd/e1000/   @ThFabba @Extravert-ir

# Network File Systems kernel libraries
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/sdk/lib/drivers/rdbsslib/  @HeisSpiter
/sdk/lib/drivers/rxce/      @HeisSpiter

# NTDLL
## Maintainer: @HeisSpiter
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/dll/ntdll/ @HeisSpiter @learn-more @ThFabba @tkreuzer

# Printing
## Maintainer: @ColinFinck
## Reviewers: None
## Status: Maintained
## Comments: None
/win32ss/printing/ @ColinFinck

# ReactOS API Tests
## Maintainer: None
## Reviewers: @learn-more, @ThFabba
## Status: Maintained
## Comments: None
/modules/rostests/apitests/

# ReactOS Kernel-Mode Tests
## Maintainer: @ThFabba
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/  @ThFabba

# ROS internals tools
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/rosinternals/ @HeisSpiter

# Run-Time Library (RTL)
## Maintainer: None
## Reviewers: @HeisSpiter, @learn-more, @ThFabba, @tkreuzer
## Status: Maintained
## Comments: None
/sdk/lib/rtl/   @HeisSpiter @learn-more @ThFabba @tkreuzer

# Security Manager
## Maintainer: @GeoB99
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rostests/kmtests/ntos_se/   @GeoB99
/ntoskrnl/se/                        @GeoB99

# Shell
## Maintainer: None
## Reviewers: @learn-more, @yagoulas
## Status: Maintained
## Comments: None
/base/shell/explorer/   @learn-more @yagoulas
/base/shell/rshell/     @learn-more @yagoulas
/dll/win32/browseui/    @learn-more @yagoulas
/dll/win32/shell32/     @learn-more @yagoulas

# Shell Extensions
## Maintainer: None
## Reviewers: @learn-more
## Status: Maintained
## Comments: None
/dll/shellext/  @learn-more

# UniATA
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: None
/drivers/storage/ide/uniata/   @ThFabba

# Upstream File Systems
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/base/services/nfsd/                @HeisSpiter
/dll/np/nfs/                        @HeisSpiter
/dll/shellext/shellbtrfs/           @HeisSpiter
/drivers/filesystems/btrfs/         @HeisSpiter
/drivers/filesystems/cdfs/          @HeisSpiter
/drivers/filesystems/ext2/          @HeisSpiter
/drivers/filesystems/fastfat/       @HeisSpiter
/drivers/filesystems/nfs/           @HeisSpiter
/media/doc/README.FSD               @HeisSpiter
/sdk/lib/fslib/btrfslib/            @HeisSpiter
/sdk/lib/fslib/ext2lib/             @HeisSpiter
/sdk/lib/fslib/vfatlib/check/       @HeisSpiter

# USB Drivers
## Maintainer: @ThFabba
## Reviewers: @Extravert-ir
## Status: Maintained
## Comments: None
/drivers/usb/                           @ThFabba @Extravert-ir
/sdk/include/reactos/drivers/usbport/   @ThFabba @Extravert-ir

# Virtual CD-ROM
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/modules/rosapps/applications/cmdutils/vcdcli/  @HeisSpiter
/modules/rosapps/applications/vcdcontroltool/   @HeisSpiter
/modules/rosapps/drivers/vcdrom/                @HeisSpiter

# Virtual Floppy Disk
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/modules/rosapps/applications/cmdutils/vfdcmd/  @HeisSpiter
/modules/rosapps/drivers/vfd/                   @HeisSpiter

# Win32 file functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Maintained
## Comments: None
/dll/win32/kernel32/client/file/    @HeisSpiter

# Windows Network File Systems functions
## Maintainer: @HeisSpiter
## Reviewers: None
## Status: Upstream
## Comments: None
/dll/win32/mpr/wnet.c   @HeisSpiter

# Wine Tests
## Maintainer: None
## Reviewers: @ThFabba
## Status: Upstream
## Comments: None
/modules/rostests/winetests/    @ThFabba

# zlib
## Maintainer: @ThFabba
## Reviewers: None
## Status: Upstream
## Comments: See media/doc/3rd Party Files.txt
/sdk/include/reactos/libs/zlib/ @ThFabba
/sdk/lib/3rdparty/zlib/         @ThFabba

# x64 related code (keep this at the bottom)
## Maintainer: @tkreuzer
## Reviewers: None
## Status: Maintained
## Comments: None
amd64/                                      @tkreuzer
/boot/freeldr/freeldr/arch/realmode/amd64.S @tkreuzer

# Translations
## This is the list of translation teams in ReactOS GitHub organization.
## If you want to be part of one - hit us at https://chat.reactos.org/
de-DE.*    @reactos/lang-german
es-ES.*    @reactos/lang-spanish
et-EE.*    @reactos/lang-estonian
fr-FR.*    @reactos/lang-french
he-IL.*    @reactos/lang-hebrew
hi-IN.*    @reactos/lang-hindi
hu-HU.*    @reactos/lang-hungarian
id-ID.*    @reactos/lang-indonesian
it-IT.*    @reactos/lang-italian
nl-NL.*    @reactos/lang-dutch
pl-PL.*    @reactos/lang-polish
pt-BR.*    @reactos/lang-portuguese
pt-PT.*    @reactos/lang-portuguese
ro-RO.*    @reactos/lang-romanian
ru-RU.*    @reactos/lang-russian
tr-TR.*    @reactos/lang-turkish
uk-UA.*    @reactos/lang-ukrainian
zh-CN.*    @reactos/lang-chinese
zh-HK.*    @reactos/lang-chinese
zh-TW.*    @reactos/lang-chinese
